# Work with Pandas

In [20]:
import cx_Oracle
import pandas as pd
import numpy as np

In [21]:
# data = "C:\Users\Narut4\coding\Jupyter\Raw_Agg_Performance.csv"
# data = "c/Users/Narut4/coding/Jupyter/Raw_Agg_Performance.csv"
data = "Raw_Agg_Performance.csv"
# data

df = pd.read_csv(data)
df

,TM_KEY_MTH,TM_KEY_WK,CENTER,METRIC_GRP,COMP_CD,PRODUCT_GRP,METRIC_CD,METRIC_NAME,DIMENSION_KPI_FLAG,BG_FLAG,AGG_TYPE,RR_IND,GRY_IND,UOM,PERIOD,ACTUAL_AGG,TARGET_AGG,PPN_TM
0,202303,2023009,Customer Service Experience & Retention,Experience,DTAC,All Services,DSER02401,Abandoned Call Rate : DTAC,N,N,N,0,RYG,%,M,NaN,NaN,2023-05-22 17:50:18
1,202303,2023009,Customer Service Experience & Retention,Experience,DTAC,All Services,DSER02402,Handled Call Rate : DTAC,N,N,N,0,GYR,%,M,NaN,NaN,2023-05-22 17:50:18
2,202303,2023009,Customer Service Experience & Retention,Experience,DTAC,All Services,DSER02501,Call Center CSAT IVR (Top2Boxes) : DTAC,N,N,N,0,GYR,%,M,NaN,NaN,2023-05-22 17:50:18
3,202303,2023009,Customer Service Experience & Retention,Experience,DTAC,Postpaid,DSER21101,Postpaid Complaint : DTAC,Y,N,N,0,RYG,%,M,NaN,NaN,2023-05-22 17:50:18
4,202303,2023009,Customer Service Experience & Retention,Experience,DTAC,Prepaid,DSER22101,Prepaid Complaint : DTAC,Y,N,N,0,RYG,%,M,NaN,NaN,2023-05-22 17:50:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6092,202305,2023020,Sales & Revenue,Subs,TRUE,TVS,TB4S000500,TVS Active Subs,N,N,N,0,GYR,subs,M,0.0,1439428.65,2023-05-22 17:50:18
6093,202305,2023020,Sales & Revenue,Subs,TRUE,TVS,TB4S000501,TVS Premium,N,N,N,0,GYR,subs,M,NaN,NaN,2023-05-22 17:50:18
6094,202305,2023020,Sales & Revenue,Subs,TRUE,TVS,TB4S000502,TVS Mid,N,N,N,0,GYR,subs,M,NaN,NaN,2023-05-22 17:50:18
6095,202305,2023020,Sales & Revenue,Subs,TRUE,TVS,TB4S000503,TVS Mass,N,N,N,0,GYR,subs,M,NaN,NaN,2023-05-22 17:50:18
6096,202305,2023020,Sales & Revenue,Subs,TRUE,TVS,TB4S000504,TVS TVS Now,N,N,N,0,GYR,subs,M,NaN,NaN,2023-05-22 17:50:18

In [22]:
df.describe()

          TM_KEY_MTH     TM_KEY_WK       RR_IND    ACTUAL_AGG    TARGET_AGG
count    6097.000000  6.097000e+03  6097.000000  5.097000e+03  1.457000e+03
mean   202303.846154  2.023014e+06     0.302772  1.303852e+08  3.427313e+08
std         0.769294  3.340897e+00     0.459495  6.536799e+08  1.109522e+09
min    202303.000000  2.023009e+06     0.000000 -2.397760e+05 -6.650710e+03
25%    202303.000000  2.023012e+06     0.000000  0.000000e+00  3.000000e+00
50%    202304.000000  2.023014e+06     0.000000  1.150000e+00  4.508000e+03
75%    202304.000000  2.023017e+06     1.000000  5.104600e+04  2.409142e+07
max    202305.000000  2.023020e+06     1.000000  1.196023e+10  1.227155e+10

In [23]:
df.dtypes

TM_KEY_MTH              int64
TM_KEY_WK               int64
CENTER                 object
METRIC_GRP             object
COMP_CD                object
PRODUCT_GRP            object
METRIC_CD              object
METRIC_NAME            object
DIMENSION_KPI_FLAG     object
BG_FLAG                object
AGG_TYPE               object
RR_IND                  int64
GRY_IND                object
UOM                    object
PERIOD                 object
ACTUAL_AGG            float64
TARGET_AGG            float64
PPN_TM                 object
dtype: object

In [24]:
df.mean()

C:\Users\Narut4\AppData\Local\Temp\ipykernel_31144\3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

TM_KEY_MTH    2.023038e+05
TM_KEY_WK     2.023014e+06
RR_IND        3.027719e-01
ACTUAL_AGG    1.303852e+08
TARGET_AGG    3.427313e+08
dtype: float64

In [25]:
# Check null value in each column

df.apply(lambda x: sum(x.isnull()), axis=0)

TM_KEY_MTH               0
TM_KEY_WK                0
CENTER                   0
METRIC_GRP             325
COMP_CD                  0
PRODUCT_GRP            325
METRIC_CD                0
METRIC_NAME              0
DIMENSION_KPI_FLAG       0
BG_FLAG                  0
AGG_TYPE                 0
RR_IND                   0
GRY_IND                  0
UOM                      0
PERIOD                   0
ACTUAL_AGG            1000
TARGET_AGG            4640
PPN_TM                   0
dtype: int64

In [26]:
# Fullfill null value example

df['TARGET_AGG'].fillna(df['TARGET_AGG'].mean(), inplace=True)

df.apply(lambda x: sum(x.isnull()), axis=0)

TM_KEY_MTH               0
TM_KEY_WK                0
CENTER                   0
METRIC_GRP             325
COMP_CD                  0
PRODUCT_GRP            325
METRIC_CD                0
METRIC_NAME              0
DIMENSION_KPI_FLAG       0
BG_FLAG                  0
AGG_TYPE                 0
RR_IND                   0
GRY_IND                  0
UOM                      0
PERIOD                   0
ACTUAL_AGG            1000
TARGET_AGG               0
PPN_TM                   0
dtype: int64

In [27]:
rdf1 = pd.DataFrame(np.random.rand(3, 2))
# rdf1

rdf2 = pd.DataFrame(np.random.rand(3, 2))
rdf2

          0         1
0  0.297631  0.744658
1  0.305783  0.691884
2  0.820042  0.710044

In [28]:
rdf_concat = pd.concat([rdf1, rdf2])
rdf_concat

          0         1
0  0.677204  0.562318
1  0.774203  0.361565
2  0.949453  0.061557
0  0.297631  0.744658
1  0.305783  0.691884
2  0.820042  0.710044