# Work with Pandas

In [133]:
import pandas as pd
import numpy as np
import datetime

## Sample Dataframe

In [134]:
n = 5

data = [x for x in range(n)]
data

[0, 1, 2, 3, 4]

In [135]:
data = [{'row_num': x, 'timestamp': datetime.datetime.now(), 'added_by': 'Ruzlim'} for x in range(n)]
data

[{'row_num': 0,
  'timestamp': datetime.datetime(2023, 5, 22, 23, 20, 53, 481249),
  'added_by': 'Ruzlim'},
 {'row_num': 1,
  'timestamp': datetime.datetime(2023, 5, 22, 23, 20, 53, 481251),
  'added_by': 'Ruzlim'},
 {'row_num': 2,
  'timestamp': datetime.datetime(2023, 5, 22, 23, 20, 53, 481252),
  'added_by': 'Ruzlim'},
 {'row_num': 3,
  'timestamp': datetime.datetime(2023, 5, 22, 23, 20, 53, 481252),
  'added_by': 'Ruzlim'},
 {'row_num': 4,
  'timestamp': datetime.datetime(2023, 5, 22, 23, 20, 53, 481253),
  'added_by': 'Ruzlim'}]

In [136]:
rand_n = np.random.randint(0, 1_000)

rand_data = []

for x in range(0, rand_n):
    dollars = np.random.randint(1_000, 10_000)
    # print(dollars)
    rand_tmp_data = {
        'Name': f'Name-{x}',
        'Salary': f'${dollars:,.2f}'
        } 
    rand_data.append(rand_tmp_data)

rand_n
# rand_data

390

In [137]:
df = pd.DataFrame(data)
df

   row_num                  timestamp added_by
0        0 2023-05-22 23:20:53.481249   Ruzlim
1        1 2023-05-22 23:20:53.481251   Ruzlim
2        2 2023-05-22 23:20:53.481252   Ruzlim
3        3 2023-05-22 23:20:53.481252   Ruzlim
4        4 2023-05-22 23:20:53.481253   Ruzlim

In [138]:
rand_df = pd.DataFrame(rand_data)
rand_df

         Name     Salary
0      Name-0  $5,334.00
1      Name-1  $5,338.00
2      Name-2  $2,190.00
3      Name-3  $7,712.00
4      Name-4  $9,358.00
..        ...        ...
385  Name-385  $1,885.00
386  Name-386  $6,130.00
387  Name-387  $6,076.00
388  Name-388  $1,164.00
389  Name-389  $1,513.00

[390 rows x 2 columns]

In [ ]:
df.describe()

In [ ]:
df.dtypes

In [ ]:
df.shape

In [ ]:
# df.head
df.head(3)

## Concat Dataframe

In [ ]:
rdf1 = pd.DataFrame(np.random.rand(3, 2))
rdf1

In [ ]:
rdf2 = pd.DataFrame(np.random.rand(3, 2))
rdf2

In [ ]:
rdf_concat = pd.concat([rdf1, rdf2])
rdf_concat

## Merge Dataframe

In [ ]:
df_a = pd.DataFrame({'key': ['one', 'two'], 'a_val': [1, 2]})
df_a

In [ ]:
df_b = pd.DataFrame({'key': ['one', 'two', 'tree'], 'b_val': [3, 4, 5]})
df_b

In [ ]:
pd.merge(df_a, df_b, on='key')

In [ ]:
pd.merge(df_b, df_a, on='key')

## Import Data source

In [ ]:
# data = "/Users/ruzlim/Code/Jupyter//Raw_Agg_Performance.csv"
# data = "c/Users/Narut4/coding/Jupyter/Raw_Agg_Performance.csv"
data = "Raw_Agg_Performance.csv"

df = pd.read_csv(data)
df

## Analyze Data

In [ ]:
df.describe()

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.mean(numeric_only=True)

In [ ]:
# Check null value in each column

df.apply(lambda x: sum(x.isnull()), axis=0)

In [ ]:
# Fullfill null value example

df_tmp = df

df_tmp['TARGET_AGG'].fillna(df_tmp['TARGET_AGG'].mean(), inplace=True)

df_tmp.apply(lambda x: sum(x.isnull()), axis=0)

# df_tmp