# Work with Pandas

##### https://realpython.com/pandas-dataframe/

In [2]:
import pandas as pd
import numpy as np
import datetime

## Sample Dataframe

In [ ]:
# df_m = pd.DataFrame(data={'col1': [1.55, 2.55], 'col2': [1.55, 2.55]})
# df_m

# Round(2)
df_m = pd.DataFrame(np.array([[1.454, 2.555, 3.656], [4.454, 5.555, 6.656]]), 
                    columns=['A', 'B', 'C'])
df_m.round(decimals=2)

In [ ]:
# Round up
df_m = pd.DataFrame(np.array([[1.454, 2.555, 3.656], [4.454, 5.555, 6.656]]), 
                    columns=['A', 'B', 'C'])
df_m.apply(np.ceil)

In [ ]:
# Round down
df_m = pd.DataFrame(np.array([[1.454, 2.555, 3.656], [4.454, 5.555, 6.656]]), 
                    columns=['A', 'B', 'C'])
df_m.apply(np.floor)

In [ ]:
rand_n = np.random.randint(0, 1_000)

rand_data = []

for x in range(0, rand_n):
    dollars = np.random.randint(1_000, 10_000)
    # print(dollars)
    rand_tmp_data = {
        'Name': f'Name-{x}',
        'Salary': f'${dollars:,.2f}'
        } 
    rand_data.append(rand_tmp_data)

rand_n
# rand_data

In [ ]:
rand_df = pd.DataFrame(rand_data)
rand_df

In [3]:
n = 5

data = [x for x in range(n)]
data

[0, 1, 2, 3, 4]

In [4]:
data = [{'row_num': x, 'timestamp': datetime.datetime.now(), 'added_by': 'Ruzlim'} for x in range(n)]
data

[{'row_num': 0,
  'timestamp': datetime.datetime(2023, 5, 26, 23, 55, 40, 32325),
  'added_by': 'Ruzlim'},
 {'row_num': 1,
  'timestamp': datetime.datetime(2023, 5, 26, 23, 55, 40, 32328),
  'added_by': 'Ruzlim'},
 {'row_num': 2,
  'timestamp': datetime.datetime(2023, 5, 26, 23, 55, 40, 32329),
  'added_by': 'Ruzlim'},
 {'row_num': 3,
  'timestamp': datetime.datetime(2023, 5, 26, 23, 55, 40, 32329),
  'added_by': 'Ruzlim'},
 {'row_num': 4,
  'timestamp': datetime.datetime(2023, 5, 26, 23, 55, 40, 32330),
  'added_by': 'Ruzlim'}]

## Preview Data

In [5]:
sdf = pd.DataFrame(data)
sdf

   row_num                  timestamp added_by
0        0 2023-05-26 23:55:40.032325   Ruzlim
1        1 2023-05-26 23:55:40.032328   Ruzlim
2        2 2023-05-26 23:55:40.032329   Ruzlim
3        3 2023-05-26 23:55:40.032329   Ruzlim
4        4 2023-05-26 23:55:40.032330   Ruzlim

In [ ]:
sdf.shape

In [ ]:
sdf.columns

In [ ]:
sdf.index

In [ ]:
sdf.dtypes

In [ ]:
sdf.describe()

In [ ]:
sdf.ndim

In [ ]:
sdf.size

In [ ]:
sdf.memory_usage()

In [ ]:
# Check null value in each column

sdf.apply(lambda x: sum(x.isnull()), axis=0)

In [ ]:
sdf.isnull()

In [ ]:
pd.isna(sdf)

In [8]:
# sdf.added_by.unique()
sdf['added_by'].unique()

array(['Ruzlim'], dtype=object)

In [ ]:
# sdf.pivot(index='row_num', columns='timestamp', values='added_by')
sdf.pivot(index='timestamp', columns='row_num', values='added_by')

In [ ]:
sdf_ = sdf.astype(dtype={'row_num': np.float32})
sdf_.dtypes

In [8]:
# df.head
sdf.head(3)

   row_num                  timestamp added_by
0        0 2023-05-26 17:28:26.213911   Ruzlim
1        1 2023-05-26 17:28:26.213911   Ruzlim
2        2 2023-05-26 17:28:26.213911   Ruzlim

In [ ]:
sdf.tail()

## loc

In [9]:
sdf.loc[2]

row_num                               2
timestamp    2023-05-26 17:28:26.213911
added_by                         Ruzlim
Name: 2, dtype: object

In [10]:
sdf.loc[:2, ['row_num', 'timestamp']]

   row_num                  timestamp
0        0 2023-05-26 17:28:26.213911
1        1 2023-05-26 17:28:26.213911
2        2 2023-05-26 17:28:26.213911

## iloc

In [ ]:
sdf.iloc[:2, 0:2]

In [ ]:
sdf.iloc[:2, [0, 2]]

## Filter

In [ ]:
# Equal : ==
sdf[sdf['row_num'] == 3]

In [ ]:
# Not Equal : ~
sdf[~(sdf['row_num'] == 3)]

In [ ]:
# AND : &
sdf[(sdf['row_num'] >= 2) & (sdf['row_num'] < 4)]

In [ ]:
# OR : |
sdf[(sdf['row_num'] == 1) | (sdf['row_num'] == 3)]

In [ ]:
# XOR : ^ (???)
sdf[(sdf['row_num'] == 1) ^ (sdf['row_num'] == 3)]

In [ ]:
# where
sdf.where(cond = sdf['row_num'] >= 3, other = 0)

## Filling missing data

In [ ]:
sdf_ = sdf.where(cond = sdf['row_num'] == 2)
sdf_

In [ ]:
sdf_.fillna(value=0)

In [ ]:
sdf_.fillna(method='ffill')

In [ ]:
sdf_.fillna(method='bfill')

In [ ]:
sdf_.dropna()

## Iterating

In [ ]:
for col_label, col in sdf.iteritems():
    print(col_label, col, sep='\n', end='\n\n')

In [ ]:
for row in sdf.loc[:, ['row_num', 'added_by']].itertuples():
    print(row)

## Concat Dataframe

In [ ]:
rdf1 = pd.DataFrame(np.random.rand(3, 2))
rdf1

In [ ]:
rdf2 = pd.DataFrame(np.random.rand(3, 2))
rdf2

In [ ]:
rdf_concat = pd.concat([rdf1, rdf2])
rdf_concat

## Merge Dataframe

In [ ]:
df_a = pd.DataFrame({'key': ['one', 'two'], 'a_val': [1, 2]})
df_a

In [ ]:
df_b = pd.DataFrame({'key': ['one', 'two', 'tree'], 'b_val': [3, 4, 5]})
df_b

In [ ]:
pd.merge(df_a, df_b, on='key')

In [ ]:
pd.merge(df_b, df_a, on='key')