# * Adhoc : DTAC Target

## Parameter

In [1]:
import os
import glob
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb

In [2]:
config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')
curr_dt

datetime.date(2024, 6, 7)

## ETL Process

### Step 1 : Import Data Source (Excel)

In [3]:
# src_file = 'C:/Ruz/Pentaho/Jobs/Input/Target/ADHOC_RAW_DTAC_SALE_TARGET_AREA.xlsx'
src_file = 'C:\Ruz\Pentaho\Jobs\Input\Target\ADHOC_RAW_DTAC_SALE_TARGET_AREA.xlsx'

# cols = ['USE_FLAG', 'TM_KEY_MTH', 'TM_KEY_DAY', 'METRIC_CD', 'METRIC_NAME', 'METRIC_VALUE', 'COMP_CD', 'ORGID_P', 'ZONE_TYPE', 'ORGID_G', 'TDS_SGMD', 'ORGID_H', 'HOP_HINT', 'ORGID_HH', 'D_CLUSTER', 'PROVINCE_ENG', 'REMARK']

src_df = pd.read_excel(src_file, sheet_name='DTAC_Sales_Target', skiprows=2, usecols='N:AD', index_col=None) 
src_df = src_df[src_df['USE_FLAG']=='Y']
src_df = src_df.replace(np.nan, None)
src_df.head(3)

,USE_FLAG,TM_KEY_MTH,TM_KEY_DAY,METRIC_CD,METRIC_NAME,METRIC_VALUE,COMP_CD,ORGID_P,ZONE_TYPE,ORGID_G,TDS_SGMD,ORGID_H,HOP_HINT,ORGID_HH,D_CLUSTER,PROVINCE_ENG,REMARK
0,Y,202401,None,DB1R000900,Prepaid Inflow M1 : DTAC,4194780.0,DTAC,P,BMA,GX1,Deputy CGO & Regional Management 1 (BMA-West),050,"BKK : Bang Khun Thian, Chom Thong, Bang Bon",None,None,None,DTAC Sales target Jan-May 2024(Ref : K.Voraphon)
1,Y,202401,None,DB1R000900,Prepaid Inflow M1 : DTAC,397642.0,DTAC,P,BMA,GX1,Deputy CGO & Regional Management 1 (BMA-West),016,"BKK : Bangkok Yai, Bangkok Noi, Bang Phlat",None,None,None,DTAC Sales target Jan-May 2024(Ref : K.Voraphon)
2,Y,202401,None,DB1R000900,Prepaid Inflow M1 : DTAC,3269671.0,DTAC,P,BMA,GX1,Deputy CGO & Regional Management 1 (BMA-West),040,"BKK : Taling Chan, Phasi Charoen, Thawi Wattha...",None,None,None,DTAC Sales target Jan-May 2024(Ref : K.Voraphon)

In [4]:
# Check null value in each column
# src_df.apply(lambda x: sum(x.isnull()), axis=0)

# src_df.columns.ravel()
# src_df['METRIC_NAME'].tolist()

src_df[['METRIC_CD', 'METRIC_NAME']].drop_duplicates().sort_values('METRIC_CD').reset_index(drop=True)

       METRIC_CD                                    METRIC_NAME
0     DB1R000900                       Prepaid Inflow M1 : DTAC
1   DB1R000900AA   Prepaid Inflow M1 : DTAC : Account Executive
2   DB1R000900AB                 Prepaid Inflow M1 : DTAC : B2B
3   DB1R000900AC      Prepaid Inflow M1 : DTAC : Branded Retail
4   DB1R000900AD      Prepaid Inflow M1 : DTAC : Contact Center
5   DB1R000900AE        Prepaid Inflow M1 : DTAC : Direct Sales
6   DB1R000900AF         Prepaid Inflow M1 : DTAC : Key Account
7   DB1R000900AG        Prepaid Inflow M1 : DTAC : Modern Trade
8   DB1R000900AH              Prepaid Inflow M1 : DTAC : Others
9   DB1R000900AI         Prepaid Inflow M1 : DTAC : Own Digital
10  DB1R000900AJ        Prepaid Inflow M1 : DTAC : Retail Sales
11  DB1R000900AK          Prepaid Inflow M1 : DTAC : Wholesales
12    DB2R000500                      Postpaid Inflow M1 : DTAC
13  DB2R000500AA  Postpaid Inflow M1 : DTAC : Account Executive
14  DB2R000500AB                Postpaid Inflow M1 : DTAC : B2B
15  DB2R000500AC     Postpaid Inflow M1 : DTAC : Branded Retail
16  DB2R000500AD     Postpaid Inflow M1 : DTAC : Contact Center
17  DB2R000500AE       Postpaid Inflow M1 : DTAC : Direct Sales
18  DB2R000500AF        Postpaid Inflow M1 : DTAC : Key Account
19  DB2R000500AG       Postpaid Inflow M1 : DTAC : Modern Trade
20  DB2R000500AH             Postpaid Inflow M1 : DTAC : Others
21  DB2R000500AI        Postpaid Inflow M1 : DTAC : Own Digital
22  DB2R000500AJ       Postpaid Inflow M1 : DTAC : Retail Sales
23  DB2R000500AK         Postpaid Inflow M1 : DTAC : Wholesales

In [6]:
# src_df.dtypes
src_df.describe()

          TM_KEY_MTH  METRIC_VALUE
count    7920.000000  7.920000e+03
mean   202403.000000  4.037055e+05
std         1.414303  2.669309e+06
min    202401.000000  0.000000e+00
25%    202402.000000  0.000000e+00
50%    202403.000000  0.000000e+00
75%    202404.000000  9.105000e+04
max    202405.000000  8.387454e+07

### Step 2 : ADHOC_RAW_DTAC_SALE_TARGET_AREA

In [24]:
# AKPIPRD

dsn = f'{AKPIPRD_user}/{AKPIPRD_pwd}@{AKPIPRD_host}:{AKPIPRD_port}/{AKPIPRD_db}'
conn = oracledb.connect(dsn)
print(f'{AKPIPRD_db} : Connected')

cur = conn.cursor()
# v_date = (curr_dt, )
rows = [tuple(x) for x in src_df.values]

try:
    print(f'\nProcessing...')
    
    # Truncate
    cur.execute("TRUNCATE TABLE AUTOKPI.ADHOC_RAW_DTAC_SALE_TARGET_AREA")

    # Insert
    cur.executemany("INSERT INTO ADHOC_RAW_DTAC_SALE_TARGET_AREA (USE_FLAG, TM_KEY_MTH, TM_KEY_DAY, METRIC_CD, METRIC_NAME, METRIC_VALUE, COMP_CD, ORGID_P, ZONE_TYPE, ORGID_G, TDS_SGMD, ORGID_H, HOP_HINT, ORGID_HH, D_CLUSTER, PROVINCE_ENG, REMARK)\
                    VALUES (:1,:2,:3,:4,:5,:6,:7,:8,:9,:10,:11,:12,:13,:14,:15,:16,:17)", rows)
    # cur.executemany("INSERT INTO ADHOC_RAW_DTAC_SALE_TARGET_AREA (USE_FLAG, TM_KEY_MTH, TM_KEY_DAY) VALUES (:1,:2,:3)", rows)
    conn.commit()

    print(f'\n"ADHOC_RAW_DTAC_SALE_TARGET_AREA" : Done !!!\n\n{src_df.shape[0]} rows, {src_df.shape[1]} columns')

except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')

finally:
    cur.close()
    conn.close()
    print(f'\n{AKPIPRD_db} : Disconnected')

AKPIPRD : Connected

Processing...

"ADHOC_RAW_DTAC_SALE_TARGET_AREA" : Done !!!

7920 rows, 17 columns

AKPIPRD : Disconnected

### Step 3 : ADHOC_DTAC_TARGET_AREA_DAILY

In [25]:
# AKPIPRD

dsn = f'{AKPIPRD_user}/{AKPIPRD_pwd}@{AKPIPRD_host}:{AKPIPRD_port}/{AKPIPRD_db}'
conn = oracledb.connect(dsn)
print(f'{AKPIPRD_db} : Connected')
cur = conn.cursor()


try:
    print(f'\nProcessing...')
    
    # Delete
    cur.execute("""
        DELETE AUTOKPI.ADHOC_DTAC_TARGET_AREA_DAILY TGT
                
        WHERE EXISTS (
            SELECT 1 FROM AUTOKPI.ADHOC_RAW_DTAC_SALE_TARGET_AREA SRC
            WHERE TGT.TM_KEY_MTH = SRC.TM_KEY_MTH 
            AND TGT.METRIC_CD = SRC.METRIC_CD )
    """)
    print(f'\nDELETE : ADHOC_DTAC_TARGET_AREA_DAILY : Done !!!')

    # Insert
    cur.execute("""
        INSERT INTO AUTOKPI.ADHOC_DTAC_TARGET_AREA_DAILY (TM_KEY_YR, TM_KEY_MTH, TRUE_TM_KEY_WK, TM_KEY_DAY, DAYS_IN_MONTH, PERIODFLAG, PRODUCT_GRP, METRIC_CD, METRIC_NAME, METRIC_GRP, COMP_CD, VERSION, METRIC_VALUE, AREA_NO, AREA_TYPE, AREA_CD, AREA_NAME, FREQUENCY, REMARK)

        WITH W_RAW_DTAC_SALE_TARGET_FIXED AS 
        (
            SELECT TM_KEY_MTH, TM_KEY_DAY, METRIC_CD, METRIC_NAME, COMP_CD, METRIC_VALUE, AREA_NO, AREA_TYPE, AREA_CD, AREA_NAME, REMARK--, LOAD_DATE
            FROM (
                -->> P : Nationwide
                SELECT TM_KEY_MTH, TM_KEY_DAY, METRIC_CD, METRIC_NAME, COMP_CD, SUM(METRIC_VALUE) AS METRIC_VALUE
                    , 1 AS AREA_NO, 'P' AS AREA_TYPE, 'P' AS AREA_CD, 'Nationwide' AS AREA_NAME
                    , REMARK--, MAX(LOAD_DATE) AS LOAD_DATE
                FROM AUTOKPI.ADHOC_RAW_DTAC_SALE_TARGET_AREA NOLOCK
                WHERE USE_FLAG = 'Y'
                GROUP BY TM_KEY_MTH, TM_KEY_DAY, METRIC_CD, METRIC_NAME, COMP_CD, REMARK
                
                UNION ALL 
                
                -->> G : 8 Region
                SELECT TM_KEY_MTH, TM_KEY_DAY, METRIC_CD, METRIC_NAME, COMP_CD, SUM(METRIC_VALUE) AS METRIC_VALUE
                    , 2 AS AREA_NO, 'G' AS AREA_TYPE, ORGID_G AS AREA_CD, TDS_SGMD AS AREA_NAME
                    , REMARK--, MAX(LOAD_DATE) AS LOAD_DATE
                FROM AUTOKPI.ADHOC_RAW_DTAC_SALE_TARGET_AREA NOLOCK
                WHERE USE_FLAG = 'Y' AND ORGID_P IS NOT NULL
                GROUP BY TM_KEY_MTH, TM_KEY_DAY, METRIC_CD, METRIC_NAME, COMP_CD, ORGID_G, TDS_SGMD, REMARK
                
                UNION ALL 
                
                -->> H : 65 HOP_HINT
                SELECT TM_KEY_MTH, TM_KEY_DAY, METRIC_CD, METRIC_NAME, COMP_CD, SUM(METRIC_VALUE) AS METRIC_VALUE
                    , 3 AS AREA_NO, 'H' AS AREA_TYPE, ORGID_H AS AREA_CD, HOP_HINT AS AREA_NAME
                    , REMARK--, MAX(LOAD_DATE) AS LOAD_DATE
                FROM AUTOKPI.ADHOC_RAW_DTAC_SALE_TARGET_AREA NOLOCK
                WHERE USE_FLAG = 'Y' AND ORGID_P IS NOT NULL
                GROUP BY TM_KEY_MTH, TM_KEY_DAY, METRIC_CD, METRIC_NAME, COMP_CD, ORGID_H, HOP_HINT, REMARK
            )
        ) -->> W_RAW_DTAC_SALE_TARGET_FIXED
        -----------------------------------------------------------------------------------------------------------------------

        , W_ADHOC_DTAC_SALE_TARGET_AREA_MONTHLY AS 
        (
            SELECT P.TM_KEY_YR, P.TM_KEY_MTH, NULL AS TRUE_TM_KEY_WK, NULL AS TM_KEY_DAY, P.DAYS_IN_MONTH, NULL AS PERIODFLAG
                , CASE  WHEN T.METRIC_NAME LIKE '%Prepaid%' THEN 'Prepaid' 
                        WHEN T.METRIC_NAME LIKE '%Postpaid%' THEN 'Postpaid' 
                        WHEN T.METRIC_NAME LIKE '%TOL%' THEN 'TOL' 
                        WHEN T.METRIC_NAME LIKE '%TVS%' THEN 'TVS' 
                        END PRODUCT_GRP
                , T.METRIC_CD, T.METRIC_NAME
                , 'Sales' AS METRIC_GRP
                , T.COMP_CD, 'T' AS VERSION
                , T.METRIC_VALUE, T.AREA_NO, T.AREA_TYPE, T.AREA_CD, T.AREA_NAME
                , 'MTH' AS FREQUENCY
                , T.REMARK--, T.LOAD_DATE
                
            FROM W_RAW_DTAC_SALE_TARGET_FIXED T
            
            LEFT JOIN (SELECT DISTINCT TM_KEY_YR, TM_KEY_MTH, DAYS_IN_MONTH FROM AUTOKPI.DIM_PERIOD) P 
                ON T.TM_KEY_MTH = P.TM_KEY_MTH
        ) -->> W_ADHOC_DTAC_SALE_TARGET_AREA_MONTHLY
        -----------------------------------------------------------------------------------------------------------------------
                
        -->> Output
                
        SELECT TM_KEY_YR, TM_KEY_MTH, TRUE_TM_KEY_WK, TM_KEY_DAY, DAYS_IN_MONTH, PERIODFLAG, PRODUCT_GRP, METRIC_CD, METRIC_NAME, METRIC_GRP, COMP_CD, VERSION, METRIC_VALUE, AREA_NO, AREA_TYPE, AREA_CD, AREA_NAME, FREQUENCY, REMARK
        FROM W_ADHOC_DTAC_SALE_TARGET_AREA_MONTHLY
        ORDER BY TM_KEY_MTH, METRIC_GRP, PRODUCT_GRP, METRIC_CD, AREA_NO, AREA_TYPE 
    """)

    conn.commit()
    print(f'\nINSERT : ADHOC_DTAC_TARGET_AREA_DAILY : Done !!!')
    # print(f'\n"ADHOC_DTAC_TARGET_AREA_DAILY" : Done !!!\n\n{src_df.shape[0]} rows, {src_df.shape[1]} columns')


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    cur.close()
    conn.close()
    print(f'\n{AKPIPRD_db} : Disconnected')

AKPIPRD : Connected

Processing...

DELETE : ADHOC_DTAC_TARGET_AREA_DAILY : Done !!!

INSERT : ADHOC_DTAC_TARGET_AREA_DAILY : Done !!!

AKPIPRD : Disconnected

In [ ]:
''' Rawdata '''

data_src = f"../data/raw/{op_file_name}.csv"
df = pd.read_csv(data_src, low_memory=False)

cols = ['TM_KEY_DAY', 'TM_KEY_WK', 'TM_KEY_MTH', 'TM_KEY_QTR', 'TM_KEY_YR', 'CENTER', 'METRIC_GRP', 'PRODUCT_GRP', 'COMP_CD', 'METRIC_CD', 'METRIC_NAME', 
        'ACTUAL_AS_OF', 'AGG_TYPE', 'RR_IND', 'GRY_IND', 'UOM', 'PERIOD', 'ACTUAL_SNAP', 'ACTUAL_AGG', 'TARGET_SNAP', 'TARGET_AGG', 'BASELINE_SNAP', 'BASELINE_AGG', 'PPN_TM']

df = df[cols]

''' Filters '''
df = df[df['TM_KEY_YR'] == 2024] # YEAR filter
# df = df[df['TM_KEY_MTH'] >= 202401] # MONTH filter

df.tail()

# ''' Fix Metric CD list '''

# ''' Fix Agg Column Name(Total Revenue) '''
# bg_col_list = ['POST_DTAC', 'POST_TMH', 'PRE_DTAC', 'PRE_TMH', 'TOL', 'TVS']

In [8]:
# AKPIPRD

# src_df[src_df['TM_KEY_DAY']==20240601].reset_index(drop=True)
src_df[(src_df['TM_KEY_DAY']==20240501) & (src_df['METRIC_CD']=='VIN00020')].sort_values(['TM_KEY_DAY', 'METRIC_CD', 'AREA_NO', 'AREA_CD']).reset_index(drop=True)

,TM_KEY_DAY,METRIC_CD,METRIC_NAME,METRIC_VALUE,COMP_CD,VERSION,AREA_NO,AREA_CD,AREA_DESC,AREA_TYPE,LOAD_DATE,REMARK,END_MTH_IND
0,20240501,VIN00020,Broadband Subs Share : TOL,36.52,TRUE,A,1,P,Nationwide,P,2024-06-04 14:14:53.206419,None,31
1,20240501,VIN00020,Broadband Subs Share : TOL,48.82,TRUE,A,2,BMA,BMA,Z,2024-06-04 14:14:53.206419,None,31
2,20240501,VIN00020,Broadband Subs Share : TOL,30.38,TRUE,A,2,UPC,UPC,Z,2024-06-04 14:14:53.206419,None,31
3,20240501,VIN00020,Broadband Subs Share : TOL,32.59,TRUE,A,3,EAST,East,Z,2024-06-04 14:14:53.206419,None,31
4,20240501,VIN00020,Broadband Subs Share : TOL,50.31,TRUE,A,4,10,Bangkok,Z,2024-06-04 14:14:53.206419,None,31
5,20240501,VIN00020,Broadband Subs Share : TOL,47.47,TRUE,A,4,11,Samut Prakan,Z,2024-06-04 14:14:53.206419,None,31
6,20240501,VIN00020,Broadband Subs Share : TOL,46.30,TRUE,A,4,12,Nonthaburi,Z,2024-06-04 14:14:53.206419,None,31
7,20240501,VIN00020,Broadband Subs Share : TOL,45.35,TRUE,A,4,13,Pathum Thani,Z,2024-06-04 14:14:53.206419,None,31
8,20240501,VIN00020,Broadband Subs Share : TOL,47.87,TRUE,A,5,GX1,Deputy CGO & Regional Management 1 (BMA-West),G,2024-06-04 14:14:53.206419,None,31
9,20240501,VIN00020,Broadband Subs Share : TOL,50.05,TRUE,A,5,GX2,Regional Management 2 (BMA-East),G,2024-06-04 14:14:53.206419,None,31
10,20240501,VIN00020,Broadband Subs Share : TOL,37.09,TRUE,A,5,GX3,Retail Management & Regional Management 3 (East),G,2024-06-04 14:14:53.206419,None,31
11,20240501,VIN00020,Broadband Subs Share : TOL,31.46,TRUE,A,5,GX4,Regional Management 4 (North),G,2024-06-04 14:14:53.206419,None,31
12,20240501,VIN00020,Broadband Subs Share : TOL,33.79,TRUE,A,5,GX5,Regional Management 5 (Northeast 1),G,2024-06-04 14:14:53.206419,None,31
13,20240501,VIN00020,Broadband Subs Share : TOL,36.45,TRUE,A,5,GX6,Regional Management 6 (Northeast 2),G,2024-06-04 14:14:53.206419,None,31
14,20240501,VIN00020,Broadband Subs Share : TOL,25.17,TRUE,A,5,GX7,Regional Management 7 (Central West),G,2024-06-04 14:14:53.206419,None,31
15,20240501,VIN00020,Broadband Subs Share : TOL,25.99,TRUE,A,5,GX8,Regional Management 8 (South),G,2024-06-04 14:14:53.206419,None,31

In [9]:
# TDMDBPR

# df[df['TM_KEY_DAY']==20240501].reset_index(drop=True)
df[(df['TM_KEY_DAY']==20240501) & (df['METRIC_CD']=='VIN00020')].sort_values(['TM_KEY_DAY', 'METRIC_CD', 'AREA_NO', 'AREA_CD']).reset_index(drop=True)

,TM_KEY_DAY,METRIC_CD,METRIC_NAME,AREA_NO,AREA_TYPE,AREA_CD,AREA_NAME,ACTUAL_SNAP,ACTUAL_AGG,PPN_TM
0,20240501,VIN00020,Broadband Subs Share : TOL,1,P,P,Nationwide,36.52,36.52,2024-06-06 10:34:07
1,20240501,VIN00020,Broadband Subs Share : TOL,2,Z,BMA,BMA,48.82,48.82,2024-06-06 10:34:07
2,20240501,VIN00020,Broadband Subs Share : TOL,2,Z,UPC,UPC,30.38,30.38,2024-06-06 10:34:07
3,20240501,VIN00020,Broadband Subs Share : TOL,3,Z,EAST,EAST,32.59,32.59,2024-06-06 10:34:07
4,20240501,VIN00020,Broadband Subs Share : TOL,4,Z,10,Bangkok,50.31,50.31,2024-06-06 10:34:07
5,20240501,VIN00020,Broadband Subs Share : TOL,4,Z,11,Samut Prakan,47.47,47.47,2024-06-06 10:34:07
6,20240501,VIN00020,Broadband Subs Share : TOL,4,Z,12,Nonthaburi,46.30,46.30,2024-06-06 10:34:07
7,20240501,VIN00020,Broadband Subs Share : TOL,4,Z,13,Pathum Thani,45.35,45.35,2024-06-06 10:34:07
8,20240501,VIN00020,Broadband Subs Share : TOL,5,G,GX1,Regional Management 1 (BMA : West),47.87,47.87,2024-06-06 10:34:07
9,20240501,VIN00020,Broadband Subs Share : TOL,5,G,GX2,Regional Management 2 (BMA : East),50.05,50.05,2024-06-06 10:34:07
10,20240501,VIN00020,Broadband Subs Share : TOL,5,G,GX3,Regional Management 3 (East),37.09,37.09,2024-06-06 10:34:07
11,20240501,VIN00020,Broadband Subs Share : TOL,5,G,GX4,Regional Management 4 (North),31.46,31.46,2024-06-06 10:34:07
12,20240501,VIN00020,Broadband Subs Share : TOL,5,G,GX5,Regional Management 5 (Northeast 1),33.79,33.79,2024-06-06 10:34:07
13,20240501,VIN00020,Broadband Subs Share : TOL,5,G,GX6,Regional Management 6 (Northeast 2),36.45,36.45,2024-06-06 10:34:07
14,20240501,VIN00020,Broadband Subs Share : TOL,5,G,GX7,"Regional Management 7 (Central, West)",25.17,25.17,2024-06-06 10:34:07
15,20240501,VIN00020,Broadband Subs Share : TOL,5,G,GX8,Regional Management 8 (South),25.99,25.99,2024-06-06 10:34:07

In [10]:
df[(df['METRIC_CD']=='VIN00020') & (df['AREA_CD']=='P')].sort_values(['TM_KEY_DAY', 'METRIC_CD', 'AREA_NO', 'AREA_CD']).reset_index(drop=True)

,TM_KEY_DAY,METRIC_CD,METRIC_NAME,AREA_NO,AREA_TYPE,AREA_CD,AREA_NAME,ACTUAL_SNAP,ACTUAL_AGG,PPN_TM
0,20240101,VIN00020,Broadband Subs Share : TOL,1,P,P,Nationwide,36.49,36.49,2024-06-06 10:34:07
1,20240201,VIN00020,Broadband Subs Share : TOL,1,P,P,Nationwide,36.50,36.50,2024-06-06 10:34:07
2,20240301,VIN00020,Broadband Subs Share : TOL,1,P,P,Nationwide,36.52,36.52,2024-06-06 10:34:07
3,20240401,VIN00020,Broadband Subs Share : TOL,1,P,P,Nationwide,36.49,36.49,2024-06-06 10:34:07
4,20240501,VIN00020,Broadband Subs Share : TOL,1,P,P,Nationwide,36.52,36.52,2024-06-06 10:34:07
5,20240601,VIN00020,Broadband Subs Share : TOL,1,P,P,Nationwide,36.52,36.52,2024-06-06 10:34:07

In [11]:
# df.to_csv(f'{op_raw_file}', index=False, encoding='utf-8')

# print(f'\n"{op_raw_file}" is generated')