# Overview Performance

In [1]:
import pandas as pd
import numpy as np
import datetime

## Import Data Source

In [2]:
# data_src = "/Users/ruzlim/Code/Jupyter//Raw_Agg_Performance.csv"
# data_src = "c/Users/Narut4/coding/Jupyter/Raw_Agg_Performance.csv"

data_src = "Raw-Agg Perf_Wk 2023021.csv"
df = pd.read_csv(data_src)
df.head()

,TM_KEY_MTH,TM_KEY_WK,CENTER,METRIC_GRP,COMP_CD,PRODUCT_GRP,METRIC_CD,METRIC_NAME,DIMENSION_KPI_FLAG,BG_FLAG,AGG_TYPE,RR_IND,GRY_IND,UOM,PERIOD,ACTUAL_AGG,TARGET_AGG,PPN_TM
0,202303,2023009,Digitalization,Digitalization,TRUE,All Services,DIS10015,% After-Sales Service via Digital Channels,N,N,N,0,GYR,%,M,13.96,20.0,2023-05-25 08:52:19
1,202303,2023012,Digitalization,Digitalization,TRUE,All Services,DIS10015,% After-Sales Service via Digital Channels,N,N,N,0,GYR,%,M,15.55,20.0,2023-05-25 08:52:19
2,202304,2023013,Digitalization,Digitalization,TRUE,All Services,DIS10015,% After-Sales Service via Digital Channels,N,N,N,0,GYR,%,M,14.20,20.0,2023-05-25 08:52:19
3,202304,2023014,Digitalization,Digitalization,TRUE,All Services,DIS10015,% After-Sales Service via Digital Channels,N,N,N,0,GYR,%,M,14.15,20.0,2023-05-25 08:52:19
4,202304,2023014,Digitalization,Digitalization,TRUE,Postpaid,DIS10017,% After-Sales Service via Digital Channels : T...,N,N,N,0,GYR,%,M,NaN,NaN,2023-05-25 08:52:19

## Analyze Data

In [3]:
df.shape

(6566, 18)

In [4]:
df.dtypes

TM_KEY_MTH              int64
TM_KEY_WK               int64
CENTER                 object
METRIC_GRP             object
COMP_CD                object
PRODUCT_GRP            object
METRIC_CD              object
METRIC_NAME            object
DIMENSION_KPI_FLAG     object
BG_FLAG                object
AGG_TYPE               object
RR_IND                  int64
GRY_IND                object
UOM                    object
PERIOD                 object
ACTUAL_AGG            float64
TARGET_AGG            float64
PPN_TM                 object
dtype: object

In [5]:
df.describe()

          TM_KEY_MTH     TM_KEY_WK       RR_IND    ACTUAL_AGG    TARGET_AGG
count    6566.000000  6.566000e+03  6566.000000  5.494000e+03  1.568000e+03
mean   202303.928571  2.023015e+06     0.302772  1.336461e+08  3.525043e+08
std         0.798657  3.642434e+00     0.459492  6.646961e+08  1.129579e+09
min    202303.000000  2.023009e+06     0.000000 -2.521200e+05 -6.650710e+03
25%    202303.000000  2.023012e+06     0.000000  0.000000e+00  3.000000e+00
50%    202304.000000  2.023014e+06     0.000000  1.170000e+00  4.996405e+03
75%    202305.000000  2.023018e+06     1.000000  5.224000e+04  2.479442e+07
max    202305.000000  2.023021e+06     1.000000  1.196023e+10  1.227155e+10

In [6]:
df.mean(numeric_only=True)

TM_KEY_MTH    2.023039e+05
TM_KEY_WK     2.023015e+06
RR_IND        3.027719e-01
ACTUAL_AGG    1.336461e+08
TARGET_AGG    3.525043e+08
dtype: float64

In [7]:
# Check null value in each column

df.apply(lambda x: sum(x.isnull()), axis=0)

TM_KEY_MTH               0
TM_KEY_WK                0
CENTER                   0
METRIC_GRP             350
COMP_CD                  0
PRODUCT_GRP            350
METRIC_CD                0
METRIC_NAME              0
DIMENSION_KPI_FLAG       0
BG_FLAG                  0
AGG_TYPE                 0
RR_IND                   0
GRY_IND                  0
UOM                      0
PERIOD                   0
ACTUAL_AGG            1072
TARGET_AGG            4998
PPN_TM                   0
dtype: int64

In [ ]:
# Fullfill null value example

# df_tmp = df

# df_tmp['TARGET_AGG'].fillna(df_tmp['TARGET_AGG'].mean(), inplace=True)

# df_tmp.apply(lambda x: sum(x.isnull()), axis=0)

# df_tmp

In [22]:
# df['CENTER'].unique()
# df['PRODUCT_GRP'].unique()
df['METRIC_GRP'].unique()
# df['METRIC_CD'].unique()
# df['METRIC_NAME'].unique()

# df.loc[:, ['METRIC_CD', 'METRIC_NAME']]

# df_bg_agg_actual_mth = pd.DataFrame(df_bg.groupby(['TM_KEY_MTH', 'METRIC_CD', 'METRIC_NAME'])['ACTUAL_AGG'].sum().reset_index())

# columns = ['Date','Fee']
# df2 = df[columns].groupby(df['Courses']).nunique() 

# df_grp = df.loc[:, ['METRIC_CD', 'METRIC_NAME']].groupby
# df_grp = df.groupby(['METRIC_CD', 'METRIC_NAME']).value_counts()
# df_grp = df.groupby(['METRIC_CD', 'METRIC_NAME']).transform('count')
# df_grp = df.groupby(['METRIC_CD', 'METRIC_NAME']).sum(1)
# df_grp = df[['METRIC_CD', 'METRIC_NAME']].groupby(df['METRIC_CD']).nunique()

# df_grp

array(['Digitalization', 'Network', 'Active Users', 'Experience',
       'Revenue', 'Sales', 'Subs', nan, 'Innovation', 'Sustainability',
       'Merchant', 'Views', 'Retention & Churn'], dtype=object)

## Business Growth

In [8]:
# df_bg = df[(df['CENTER'] == 'Sales & Revenue') & (df['BG_FLAG'] == 'Y')]
df_bg = df[(df['BG_FLAG'] == 'Y') | ('METRIC_NAME' == 'TDG Revenue (Performance View)')]
df_bg.head()

,TM_KEY_MTH,TM_KEY_WK,CENTER,METRIC_GRP,COMP_CD,PRODUCT_GRP,METRIC_CD,METRIC_NAME,DIMENSION_KPI_FLAG,BG_FLAG,AGG_TYPE,RR_IND,GRY_IND,UOM,PERIOD,ACTUAL_AGG,TARGET_AGG,PPN_TM
363,202303,2023010,Sales & Revenue,Revenue,ALL,Postpaid,B2R000100,Postpaid Revenue,Y,Y,S,0,GYR,baht,M,2.542705e+09,2.560220e+09,2023-05-25 08:52:19
364,202304,2023014,Sales & Revenue,Revenue,ALL,Postpaid,B2R000100,Postpaid Revenue,Y,Y,S,0,GYR,baht,M,1.796362e+09,1.824547e+09,2023-05-25 08:52:19
365,202305,2023019,Sales & Revenue,Revenue,ALL,Postpaid,B2R000100,Postpaid Revenue,Y,Y,S,0,GYR,baht,M,3.148712e+09,3.154019e+09,2023-05-25 08:52:19
564,202303,2023009,Sales & Revenue,Revenue,ALL,Prepaid,B1R000100,Prepaid Revenue,Y,Y,S,1,GYR,baht,M,6.699010e+08,6.262193e+08,2023-05-25 08:52:19
565,202304,2023014,Sales & Revenue,Revenue,ALL,Prepaid,B1R000100,Prepaid Revenue,Y,Y,S,1,GYR,baht,M,1.119646e+09,1.122306e+09,2023-05-25 08:52:19

In [9]:
df_bg.shape

(70, 18)

In [ ]:
df_bg.describe()

In [ ]:
# df_bg.sort_values(by=['TM_KEY_MTH', 'TM_KEY_WK', 'CENTER', 'METRIC_GRP', 'COMP_CD', 'PRODUCT_GRP', 'METRIC_CD'], ascending=True)
# df_bg.head()

## Monthly Aggregate

In [ ]:
# df_bg_agg_1 = pd.DataFrame(df_bg.groupby(['TM_KEY_MTH', 'TM_KEY_WK', 'METRIC_CD', 'METRIC_NAME'])['ACTUAL_AGG'].sum().reset_index())
# df_bg_agg_1

# df_bg_agg_2 = pd.DataFrame(df_bg.groupby(['TM_KEY_MTH', 'TM_KEY_WK', 'METRIC_CD', 'METRIC_NAME'])['ACTUAL_AGG'].agg(['sum', 'count']).reset_index())
# df_bg_agg_2

# df_bg_agg = pd.DataFrame(df_bg.groupby(['TM_KEY_MTH', 'TM_KEY_WK', 'METRIC_CD', 'METRIC_NAME']).agg({'ACTUAL_AGG': 'sum', 'TARGET_AGG': 'sum'}).reset_index())
# df_bg_agg['ACTUAL_AGG'] = df_bg_agg['ACTUAL_AGG'] / 1000000
# df_bg_agg['TARGET_AGG'] = df_bg_agg['TARGET_AGG'] / 1000000
# df_bg_agg.head()

In [ ]:
df_bg_agg_actual_mth = pd.DataFrame(df_bg.groupby(['TM_KEY_MTH', 'METRIC_CD', 'METRIC_NAME'])['ACTUAL_AGG'].sum().reset_index())
df_bg_agg_actual_mth.rename(columns={'ACTUAL_AGG': 'AGG'}, inplace=True)
df_bg_agg_actual_mth['MEASURE'] = 'ACTUAL'
df_bg_agg_actual_mth.head()

In [ ]:
df_bg_agg_target_mth = pd.DataFrame(df_bg.groupby(['TM_KEY_MTH', 'METRIC_CD', 'METRIC_NAME'])['TARGET_AGG'].sum().reset_index())
df_bg_agg_target_mth.rename(columns={'TARGET_AGG': 'AGG'}, inplace=True)
df_bg_agg_target_mth['MEASURE'] = 'TARGET'
df_bg_agg_target_mth.head()

In [ ]:
df_bg_agg_mth = pd.concat([df_bg_agg_actual_mth, df_bg_agg_target_mth])
df_bg_agg_mth['AGG'] = df_bg_agg_mth['AGG'] / 1000000
df_bg_agg_mth.head()

In [ ]:
df_bg_agg_mth_pivot = df_bg_agg_mth.pivot(index=['TM_KEY_MTH', 'MEASURE'], columns=['METRIC_CD', 'METRIC_NAME'], values='AGG')
df_bg_agg_mth_pivot

In [14]:
df_bg_agg_mth_pivot.T.round(2)

TM_KEY_MTH                                   202303              202304  \
MEASURE                                      ACTUAL    TARGET    ACTUAL
METRIC_CD  METRIC_NAME
B1R000100  Prepaid Revenue                 11163.50  11161.28   9601.71
B2R000100  Postpaid Revenue                20313.62  20493.71  18160.35
TB3R000100 TOL Revenue                      4285.37   4587.42   3812.05
TB4R000100 TVS Revenue                       799.75   1002.53    716.98
TNSC00142  TDG Revenue (Performance View)   2291.08   2088.00   2187.00

TM_KEY_MTH                                             202305
MEASURE                                      TARGET    ACTUAL    TARGET
METRIC_CD  METRIC_NAME
B1R000100  Prepaid Revenue                  9774.56   7708.82   7727.21
B2R000100  Postpaid Revenue                18248.99  14211.26  14262.51
TB3R000100 TOL Revenue                      4080.90   3059.11   3244.13
TB4R000100 TVS Revenue                       904.22    285.50    573.38
TNSC00142  TDG Revenue (Performance View)   2140.00   2244.00   2012.00

## Weekly Aggregate

In [ ]:
df_bg_agg_actual_wk = pd.DataFrame(df_bg.groupby(['TM_KEY_WK', 'METRIC_CD', 'METRIC_NAME'])['ACTUAL_AGG'].sum().reset_index())
df_bg_agg_actual_wk.rename(columns={'ACTUAL_AGG': 'AGG'}, inplace=True)
df_bg_agg_actual_wk['MEASURE'] = 'ACTUAL'
df_bg_agg_actual_wk.head()

In [ ]:
df_bg_agg_target_wk = pd.DataFrame(df_bg.groupby(['TM_KEY_WK', 'METRIC_CD', 'METRIC_NAME'])['TARGET_AGG'].sum().reset_index())
df_bg_agg_target_wk.rename(columns={'TARGET_AGG': 'AGG'}, inplace=True)
df_bg_agg_target_wk['MEASURE'] = 'TARGET'
df_bg_agg_target_wk.head()

In [ ]:
df_bg_agg_wk = pd.concat([df_bg_agg_actual_wk, df_bg_agg_target_wk])
df_bg_agg_wk['AGG'] = df_bg_agg_wk['AGG'] / 1000000
df_bg_agg_wk.head()

In [ ]:
df_bg_agg_wk_pivot = df_bg_agg_wk.pivot(index=['TM_KEY_WK', 'MEASURE'], columns=['METRIC_CD', 'METRIC_NAME'], values='AGG')
df_bg_agg_wk_pivot

In [19]:
output_data = df_bg_agg_wk_pivot.T
output_data.round(2)

TM_KEY_WK                                  2023009           2023010           \
MEASURE                                     ACTUAL   TARGET   ACTUAL   TARGET
METRIC_CD  METRIC_NAME
B1R000100  Prepaid Revenue                  669.90   626.22  1489.02  1464.92
B2R000100  Postpaid Revenue                1157.23  1165.61  2542.70  2560.22
TB3R000100 TOL Revenue                      189.71   205.17   495.35   531.75
TB4R000100 TVS Revenue                       42.43    47.56    90.13   100.81
TNSC00142  TDG Revenue (Performance View)     0.00     0.00   572.77   522.00

TM_KEY_WK                                  2023011           2023012           \
MEASURE                                     ACTUAL   TARGET   ACTUAL   TARGET
METRIC_CD  METRIC_NAME
B1R000100  Prepaid Revenue                 2265.82  2281.46  3055.20  3090.84
B2R000100  Postpaid Revenue                4320.11  4365.50  5690.43  5739.95
TB3R000100 TOL Revenue                      952.87  1020.47  1246.04  1332.36
TB4R000100 TVS Revenue                      171.66   191.37   223.40   249.18
TNSC00142  TDG Revenue (Performance View)   572.77   522.00   572.77   522.00

TM_KEY_WK                                  2023013           ...  2023017  \
MEASURE                                     ACTUAL   TARGET  ...   ACTUAL
METRIC_CD  METRIC_NAME                                       ...
B1R000100  Prepaid Revenue                 3957.43  3952.69  ...  3584.68
B2R000100  Postpaid Revenue                7480.29  7566.68  ...  6654.11
TB3R000100 TOL Revenue                     1594.48  1704.09  ...  1405.52
TB4R000100 TVS Revenue                      314.92   461.17  ...   273.70
TNSC00142  TDG Revenue (Performance View)   572.77   522.00  ...   538.00

TM_KEY_WK                                           2023018           2023019  \
MEASURE                                     TARGET   ACTUAL   TARGET   ACTUAL
METRIC_CD  METRIC_NAME
B1R000100  Prepaid Revenue                 3639.38   881.98   869.30  1696.81
B2R000100  Postpaid Revenue                6672.69  1598.82  1601.33  3148.71
TB3R000100 TOL Revenue                     1506.83   302.03   317.30   665.12
TB4R000100 TVS Revenue                      413.62    32.42    59.56    64.69
TNSC00142  TDG Revenue (Performance View)   535.00   561.00   503.00   561.00

TM_KEY_WK                                           2023020           2023021  \
MEASURE                                     TARGET   ACTUAL   TARGET   ACTUAL
METRIC_CD  METRIC_NAME
B1R000100  Prepaid Revenue                 1696.02  2506.47  2522.06  2623.56
B2R000100  Postpaid Revenue                3154.02  4513.72  4526.16  4950.00
TB3R000100 TOL Revenue                      702.80   971.68  1032.97  1120.28
TB4R000100 TVS Revenue                      131.08    94.19   191.37    94.19
TNSC00142  TDG Revenue (Performance View)   503.00   561.00   503.00   561.00

TM_KEY_WK
MEASURE                                     TARGET
METRIC_CD  METRIC_NAME
B1R000100  Prepaid Revenue                 2639.83
B2R000100  Postpaid Revenue                4981.00
TB3R000100 TOL Revenue                     1191.07
TB4R000100 TVS Revenue                      191.37
TNSC00142  TDG Revenue (Performance View)   503.00

[5 rows x 26 columns]

## Generate Output File

In [21]:
output_file = data_src.replace("Raw-Agg", "BG").replace(".csv", ".xlsx")

# output_data.to_excel(output_file)

print(f'\n"{output_file}" is generated')

"BG Perf_Wk 2023021.xlsx" is generated