# * Ex-T Revenue & Subs

## Parameter

In [24]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

pd.set_option('future.no_silent_downcasting', True)

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

## Actual : Monitoring
->  FCT_KPI_NEWCO_PERF_ACTUAL

In [25]:
''' Execute Summany Data '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20240101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/ 
        SUBSTR(TM_KEY_DAY,1,6) AS TM_KEY_MTH, REMARK, METRIC_CD, METRIC_NAME
        , MAX(LOAD_DATE) LOAD_DATE, MIN(TM_KEY_DAY) AS START_DAY, MAX(TM_KEY_DAY) AS END_DAY
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN ACTUAL END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN ACTUAL END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN ACTUAL END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN ACTUAL END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN ACTUAL END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN ACTUAL END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN ACTUAL END) CCAATT
        , COUNT(DISTINCT AREA_TYPE) CNT_AREA_TYPE, COUNT(DISTINCT AREA_CD) CNT_AREA_CD, COUNT(1) ROW_CNT
    FROM (
        SELECT TM_KEY_DAY
            , CASE 	WHEN METRIC_CD LIKE 'TB%S%' 
                    THEN ROW_NUMBER() OVER (PARTITION BY SUBSTR(TM_KEY_DAY,1,6), METRIC_CD, AREA_CD ORDER BY TM_KEY_DAY DESC)
                    ELSE 1 END FLAG
            , CASE WHEN METRIC_CD LIKE 'TB%S%' THEN 'SUB' ELSE 'REV' END AGG_TYPE
            , METRIC_CD, METRIC_NAME, ACTUAL, COMP_CD, VERSION, AREA_CD, AREA_DESC, AREA_TYPE, LOAD_DATE, REMARK, SRC
        FROM GEOSPCAPPO.FCT_KPI_NEWCO_PERF_ACTUAL
        WHERE REMARK IN ('salisa', 'jutar11')
        AND NOT REGEXP_LIKE(METRIC_CD, '^TCAP|CORP$')
        AND EXISTS (
            SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
            FROM (
                SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            ) TMP
            WHERE TMP_CD = AREA_CD )
        AND TM_KEY_DAY >= {v_start_date} 
    ) TMP
    WHERE FLAG = 1
    GROUP BY REMARK, METRIC_CD, METRIC_NAME, SUBSTR(TM_KEY_DAY,1,6)
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Summany DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Summany DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20240101

TDMDBPR : Connected

   -> Execute query... 2025-03-10, 16:52:24

   -> Summany DataFrame : 418 rows, 17 columns

TDMDBPR : Disconnected

In [26]:
''' Current Month Revenue '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
rev_metric_list = ['TB1R000100', 'TB2R000100', 'TB2R010100', 'TB2R020100', 'TB3R000100', 'TB4R000100']

src_t_rev_overall_df = chk_src_df.copy()
src_t_rev_overall_df = src_t_rev_overall_df.loc[src_t_rev_overall_df['TM_KEY_MTH']==curr_mth]
src_t_rev_overall_df = src_t_rev_overall_df.loc[src_t_rev_overall_df['METRIC_CD'].isin(rev_metric_list)]
src_t_rev_overall_df = src_t_rev_overall_df.groupby(['METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_t_rev_overall_df = src_t_rev_overall_df.fillna(0).sort_values(by=['METRIC_CD']).reset_index()

mod_col_list = src_t_rev_overall_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    src_t_rev_overall_df[col] = src_t_rev_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_t_rev_overall_df

,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,TB1R000100,Prepay Revenue,2025-03-09 04:51:34,20250301,20250306,0,0,"549,569,739","549,567,014","549,567,014","547,149,551",0,5,1104,6624
1,TB2R000100,Postpaid Revenue,2025-03-09 04:23:54,20250302,20250306,0,"899,648,383","899,464,677","899,463,778","899,463,778",0,0,5,177,354
2,TB2R010100,Postpaid Revenue B2C,2025-03-09 04:25:56,20250302,20250306,0,"754,945,045","754,839,797","754,838,898","754,838,898","752,048,315",0,6,1105,2210
3,TB2R020100,Postpaid Revenue B2B,2025-03-09 04:25:23,20250302,20250306,0,"144,703,338","144,624,880","144,624,880","144,624,880",0,0,5,177,354
4,TB3R000100,Broadband Revenue,2025-03-09 05:08:56,20250302,20250306,0,0,"359,155,601","359,155,601","359,155,601","359,268,992",0,5,1102,2203

In [27]:
''' Average Revenue per Month '''

avg_range_start = '202401'
avg_range_end = '202502'
rev_metric_list = ['TB1R000100', 'TB2R000100', 'TB2R010100', 'TB2R020100', 'TB3R000100', 'TB4R000100']

src_t_rev_avg_mth_df = chk_src_df.copy()
src_t_rev_avg_mth_df = src_t_rev_avg_mth_df.loc[src_t_rev_avg_mth_df['TM_KEY_MTH'].between(avg_range_start, avg_range_end)]
src_t_rev_avg_mth_df = src_t_rev_avg_mth_df.loc[src_t_rev_avg_mth_df['METRIC_CD'].isin(rev_metric_list)]
src_t_rev_avg_mth_df = src_t_rev_avg_mth_df.groupby(['METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'mean', 'P':'mean', 'G':'mean', 'H':'mean', 'HH':'mean', 'CCAA':'mean', 'CCAATT':'mean', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_t_rev_avg_mth_df = src_t_rev_avg_mth_df.fillna(0).sort_values(by=['METRIC_CD']).reset_index()

mod_col_list = src_t_rev_avg_mth_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    src_t_rev_avg_mth_df[col] = src_t_rev_avg_mth_df[col].apply(lambda x: format(x, ',.0f'))

src_t_rev_avg_mth_df

,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,TB1R000100,Prepay Revenue,2025-03-09 04:45:30,20240101,20250228,0,0,"2,300,952,636","2,331,094,199","2,331,094,199","2,321,368,786",0,5,1104,469200
1,TB2R000100,Postpaid Revenue,2025-03-09 04:20:20,20240102,20250228,0,"3,702,993,157","3,643,685,397","3,667,350,051","3,667,350,051",0,0,5,177,24603
2,TB2R010100,Postpaid Revenue B2C,2025-03-09 04:23:20,20240102,20250228,0,"3,294,113,538","3,259,759,544","3,281,929,316","3,281,930,286","3,258,168,197",0,6,1105,148232
3,TB2R020100,Postpaid Revenue B2B,2025-03-09 04:22:09,20240102,20250228,0,"408,879,619","383,925,853","385,420,734","385,420,734",0,0,5,177,24603
4,TB3R000100,Broadband Revenue,2025-03-07 05:10:02,20240102,20250228,0,0,"1,573,227,163","1,573,227,163","1,573,196,204","1,560,922,362",0,5,1102,138718
5,TB4R000100,TVS Revenue,2025-02-24 05:11:52,20240102,20250222,0,0,"319,526,647","313,831,724","318,180,582","322,352,854",0,5,1104,105949

In [28]:
''' Current Month Subscription '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
sub_metric_list = ['TB1S000500', 'TB1S000600', 'TB2S000500', 'TB2S010500', 'TB2S020400', 'TB3S000500', 'TB4S000500']

src_t_sub_overall_df = chk_src_df.copy()
src_t_sub_overall_df = src_t_sub_overall_df.loc[src_t_sub_overall_df['TM_KEY_MTH']==curr_mth]
src_t_sub_overall_df = src_t_sub_overall_df.loc[src_t_sub_overall_df['METRIC_CD'].isin(sub_metric_list)]
src_t_sub_overall_df = src_t_sub_overall_df.groupby(['METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_t_sub_overall_df = src_t_sub_overall_df.fillna(0).sort_values(by=['METRIC_CD']).reset_index()

mod_col_list = src_t_sub_overall_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    src_t_sub_overall_df[col] = src_t_sub_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_t_sub_overall_df

,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,TB1S000500,Prepay Usage Subs,2025-03-09 04:51:18,20250307,20250307,0,0,"17,548,417","17,548,417","17,548,417","17,486,390",0,5,1104,1104
1,TB1S000600,Prepay Active Caller Subs,2025-03-09 04:51:21,20250307,20250307,0,"14,588,857","14,378,308","14,378,308","14,378,308","14,327,299",0,6,1105,1105
2,TB2S000500,Postpaid Active Subs,2025-03-09 05:32:51,20250308,20250308,0,"10,181,256","10,180,702","10,180,689","10,180,689","10,105,617",0,6,1105,1105
3,TB2S010500,Postpaid Active Subs B2C,2025-03-09 05:33:45,20250308,20250308,0,"8,999,607","8,999,362","8,999,349","8,999,349","8,944,287",0,6,1105,1105
4,TB2S020400,Postpaid Active Subs B2B,2025-03-09 05:31:52,20250308,20250308,0,"1,181,649","1,181,340","1,181,340","1,181,340",0,0,5,177,177
5,TB3S000500,Broadband Active Subs,2025-03-09 04:56:23,20250308,20250308,0,0,"3,118,925","3,118,925","3,118,925","3,118,925",0,5,1102,1102
6,TB4S000500,TVS Active Subs,2025-03-09 04:57:04,20250308,20250308,0,0,"1,161,183","1,161,183","1,161,183","1,161,168",0,5,1104,1104

In [29]:
''' Average Subscription per Month '''

avg_range_start = '202401'
avg_range_end = '202502'
sub_metric_list = ['TB1S000500', 'TB1S000600', 'TB2S000500', 'TB2S010500', 'TB2S020400', 'TB3S000500', 'TB4S000500']

src_t_sub_overall_df = chk_src_df.copy()
src_t_sub_overall_df = src_t_sub_overall_df.loc[src_t_sub_overall_df['TM_KEY_MTH'].between(avg_range_start, avg_range_end)]
src_t_sub_overall_df = src_t_sub_overall_df.loc[src_t_sub_overall_df['METRIC_CD'].isin(sub_metric_list)]
src_t_sub_overall_df = src_t_sub_overall_df.groupby(['METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'mean', 'P':'mean', 'G':'mean', 'H':'mean', 'HH':'mean', 'CCAA':'mean', 'CCAATT':'mean', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_t_sub_overall_df = src_t_sub_overall_df.fillna(0).sort_values(by=['METRIC_CD']).reset_index()

mod_col_list = src_t_sub_overall_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    src_t_sub_overall_df[col] = src_t_sub_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_t_sub_overall_df

,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,TB1S000500,Prepay Usage Subs,2025-03-03 04:50:27,20240131,20250228,0,0,"17,638,410","17,652,566","17,652,566","17,591,038",0,5,1104,15456
1,TB1S000600,Prepay Active Caller Subs,2025-03-07 04:50:40,20240131,20250228,0,"14,441,024","14,248,564","14,362,024","14,362,051","14,312,460",0,6,1105,15470
2,TB2S000500,Postpaid Active Subs,2025-03-09 04:38:33,20240131,20250228,0,"10,021,680","9,862,546","9,923,664","9,923,688","9,851,243",0,6,1105,15470
3,TB2S010500,Postpaid Active Subs B2C,2025-03-09 04:39:46,20240131,20250228,0,"8,891,591","8,828,198","8,883,740","8,883,765","8,212,083",0,6,1105,15470
4,TB2S020400,Postpaid Active Subs B2B,2025-03-04 02:37:03,20240131,20250228,0,"1,130,090","1,034,348","1,039,923","1,039,923",0,0,5,177,2478
5,TB3S000500,Broadband Active Subs,2025-03-01 04:55:28,20240131,20250228,0,0,"3,053,895","3,055,196","3,055,196","3,055,841",0,5,1102,15412
6,TB4S000500,TVS Active Subs,2025-03-01 04:55:38,20240131,20250228,0,0,"1,220,146","1,219,989","1,219,989","1,307,223",0,5,8408,22760

In [30]:
''' METRIC Summary '''

src_t_rev_mth_df = chk_src_df.copy()
src_t_rev_mth_df = src_t_rev_mth_df.groupby(['REMARK', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'P':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_t_rev_mth_df = src_t_rev_mth_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD']).reset_index()

mod_col_list = src_t_rev_mth_df.iloc[:, 6:7].columns.tolist()
for col in mod_col_list:
    src_t_rev_mth_df[col] = src_t_rev_mth_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\n{src_t_rev_mth_df.to_string(max_cols=10)}')

     REMARK      METRIC_CD                 METRIC_NAME           LOAD_DATE  START_DAY   END_DAY                  P  CNT_AREA_TYPE  CNT_AREA_CD  ROW_CNT
0   jutar11     TB1R000100              Prepay Revenue 2025-03-09 04:51:34   20240101  20250306                  0              5         1104   475824
1   jutar11     TB1R000101          Prepay New Revenue 2025-03-09 04:48:30   20240101  20250306                  0              4          176    75856
2   jutar11     TB1R000102     Prepay Existing Revenue 2025-03-09 04:50:10   20240101  20250306                  0              4          176    75856
3   jutar11     TB1S000500           Prepay Usage Subs 2025-03-09 04:51:18   20240131  20250307                  0              5         1104    16560
4   jutar11     TB1S000600   Prepay Active Caller Subs 2025-03-09 04:51:21   20240131  20250307        216,763,195              6         1105    16575
5   jutar11     TB2R000100            Postpaid Revenue 2025-03-09 04:23:54   20240102  20250306     52,741,552,583              5          177    24957
6   jutar11     TB2R000101        Postpaid New Revenue 2025-03-09 04:24:21   20240102  20250306                  0              4          176    24464
7   jutar11     TB2R000102   Postpaid Existing Revenue 2025-03-09 04:24:35   20240102  20250306     48,233,401,598              5          177    24957
8   jutar11     TB2R010100        Postpaid Revenue B2C 2025-03-09 04:25:56   20240102  20250306     46,872,534,577              6         1105   150442
9   jutar11     TB2R020100        Postpaid Revenue B2B 2025-03-09 04:25:23   20240102  20250306      5,869,018,007              5          177    24957
10  jutar11  TB2R020100SMB  Postpaid Revenue SMB : TMH 2025-03-09 04:25:42   20240128  20250306         14,369,224              5          177     2655
11  jutar11     TB2S000500        Postpaid Active Subs 2025-03-09 05:32:51   20240131  20250308        150,484,783              6         1105    16575
12  jutar11     TB2S010500    Postpaid Active Subs B2C 2025-03-09 05:33:45   20240131  20250308        133,481,875              6         1105    16575
13  jutar11     TB2S020400    Postpaid Active Subs B2B 2025-03-09 05:31:52   20240131  20250308         17,002,908              5          177     2655
14   salisa       CAP00001                      EBITDA 2024-10-25 11:20:47   20240101  20240930                  0              2           71    19454
15   salisa       CAP00006               EBITDA Margin 2025-02-21 20:57:38   20240101  20250131             16,406              3           72    28492
16   salisa       CAP00009                      EBITDA 2025-02-21 20:57:38   20240101  20250131  1,950,344,544,710              3           72    28492
17   salisa     TB3R000100           Broadband Revenue 2025-03-09 05:08:56   20240102  20250306                  0              5         1102   140921
18   salisa     TB3R000101       Broadband New Revenue 2025-03-09 05:07:07   20240102  20250306                  0              4          176    22507
19   salisa     TB3R000102  Broadband Exisitng Revenue 2025-03-09 05:07:07   20240102  20250306                  0              4          176    22528
20   salisa     TB3S000500       Broadband Active Subs 2025-03-09 04:56:23   20240131  20250308                  0              5         1102    16514
21   salisa     TB4R000100                 TVS Revenue 2025-02-24 05:11:52   20240102  20250222                  0              5         1104   105949
22   salisa     TB4R000101             TVS New Revenue 2025-02-24 05:12:05   20240102  20250222                  0              4          176    22630
23   salisa     TB4R000102        TVS Exisitng Revenue 2025-02-24 05:12:05   20240102  20250222                  0              4          176    24239
24   salisa     TB4R000103       TVS Revenue : Premium 2025-02-24 05:17:32   20240102  20250222      1,633,872,670              4          169    22964
25   salisa     TB4R000104           TVS Revenue : Mid 2025-02-24 05:36:55   20240102  20250222        407,702,246              4          169    23264
26   salisa     TB4R000105          TVS Revenue : Mass 2025-02-24 05:30:42   20240102  20250222      2,174,243,573              4          169    23271
27   salisa     TB4R000106          TVS Revenue : CMDU 2025-02-24 05:24:00   20240102  20250219        573,582,747              4          151     2975
28   salisa     TB4S000500             TVS Active Subs 2025-03-09 04:57:04   20240131  20250308                  0              5         8408    23864

In [31]:
''' METRIC by Month '''

v_tm_key_mth = '202502'
src_t_rev_mth_df_cols = ['REMARK', 'METRIC_CD', 'METRIC_NAME', 'LOAD_DATE', 'TM_KEY_MTH', 'START_DAY', 'END_DAY', 'C', 'P', 'G', 'H', 'HH', 'CCAA', 'CCAATT']
print(f'\nParameter input...\n')
print(f'   -> v_tm_key_mth: {v_tm_key_mth}')

src_t_rev_mth_df = chk_src_df[src_t_rev_mth_df_cols].copy()
src_t_rev_mth_df = src_t_rev_mth_df.loc[src_t_rev_mth_df['TM_KEY_MTH']==v_tm_key_mth]
src_t_rev_mth_df = src_t_rev_mth_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_MTH']).reset_index(drop=True)

mod_col_list = src_t_rev_mth_df.iloc[:, 7:14].columns.tolist()
for col in mod_col_list:
    src_t_rev_mth_df[col] = src_t_rev_mth_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\n{src_t_rev_mth_df.to_string(max_cols=17)}')

Parameter input...

   -> v_tm_key_mth: 202502

     REMARK      METRIC_CD                 METRIC_NAME           LOAD_DATE TM_KEY_MTH  START_DAY   END_DAY  C              P              G              H             HH           CCAA CCAATT
0   jutar11     TB1R000100              Prepay Revenue 2025-03-09 04:45:30     202502   20250201  20250228  0              0  2,273,575,106  2,273,562,550  2,273,562,550  2,264,108,934      0
1   jutar11     TB1R000101          Prepay New Revenue 2025-03-09 04:41:52     202502   20250201  20250228  0              0    254,668,236    254,668,236    254,668,236              0      0
2   jutar11     TB1R000102     Prepay Existing Revenue 2025-03-09 04:43:19     202502   20250201  20250228  0              0  2,018,906,870  2,018,894,314  2,018,894,314              0      0
3   jutar11     TB1S000500           Prepay Usage Subs 2025-03-03 04:50:27     202502   20250228  20250228  0              0     17,592,129     17,592,129     17,592,129     17,530,289      0
4   jutar11     TB1S000600   Prepay Active Caller Subs 2025-03-07 04:50:40     202502   20250228  20250228  0     14,635,064     14,439,655     14,439,655     14,439,655     14,388,567      0
5   jutar11     TB2R000100            Postpaid Revenue 2025-03-09 04:20:20     202502   20250202  20250228  0  3,736,841,257  3,728,590,241  3,728,588,385  3,728,588,385              0      0
6   jutar11     TB2R000101        Postpaid New Revenue 2025-03-09 04:20:39     202502   20250202  20250228  0              0     73,481,457     73,481,457     73,481,457              0      0
7   jutar11     TB2R000102   Postpaid Existing Revenue 2025-03-09 04:21:15     202502   20250202  20250228  0  3,663,355,563  3,655,108,784  3,655,106,928  3,655,106,928              0      0
8   jutar11     TB2R010100        Postpaid Revenue B2C 2025-03-09 04:23:20     202502   20250202  20250228  0  3,340,856,747  3,332,792,584  3,332,790,728  3,332,790,728  3,322,294,657      0
9   jutar11     TB2R020100        Postpaid Revenue B2B 2025-03-09 04:22:09     202502   20250202  20250228  0    395,984,510    395,797,657    395,797,657    395,797,657              0      0
10  jutar11  TB2R020100SMB  Postpaid Revenue SMB : TMH 2025-03-09 04:22:47     202502   20250228  20250228  0      8,517,948      8,517,948      8,517,948      8,517,948              0      0
11  jutar11     TB2S000500        Postpaid Active Subs 2025-03-09 04:38:33     202502   20250228  20250228  0     10,182,462     10,183,253     10,183,701     10,183,741     10,108,860      0
12  jutar11     TB2S010500    Postpaid Active Subs B2C 2025-03-09 04:39:46     202502   20250228  20250228  0      9,001,580      9,002,141      9,002,405      9,002,444      8,947,618      0
13  jutar11     TB2S020400    Postpaid Active Subs B2B 2025-03-03 04:55:17     202502   20250228  20250228  0      1,180,882      1,181,112      1,181,296      1,181,297              0      0
14   salisa     TB3R000100           Broadband Revenue 2025-03-07 05:10:02     202502   20250202  20250228  0              0  1,605,419,142  1,605,419,142  1,605,419,102  1,433,151,303      0
15   salisa     TB3R000101       Broadband New Revenue 2025-03-07 05:09:49     202502   20250202  20250228  0              0     58,588,274     58,588,274     53,415,710              0      0
16   salisa     TB3R000102  Broadband Exisitng Revenue 2025-03-07 05:09:49     202502   20250202  20250228  0              0  1,546,830,868  1,546,830,868  1,379,735,553              0      0
17   salisa     TB3S000500       Broadband Active Subs 2025-03-01 04:55:28     202502   20250228  20250228  0              0      3,108,218      3,108,218      3,108,218      3,108,218      0
18   salisa     TB4R000100                 TVS Revenue 2025-02-24 05:11:52     202502   20250202  20250222  0              0    162,246,310    162,553,925    162,538,837              0      0
19   salisa     TB4R000101             TVS New Revenue 2025-02-24 05:12:05     202502   20250202  20250222  0              0        141,659        138,895        138,895              0      0
20   salisa     TB4R000102        TVS Exisitng Revenue 2025-02-24 05:12:05     202502   20250202  20250222  0              0    162,020,270    162,345,439    162,334,275              0      0
21   salisa     TB4R000103       TVS Revenue : Premium 2025-02-24 05:17:32     202502   20250202  20250222  0     50,421,669     49,957,645     50,744,206     50,846,343              0      0
22   salisa     TB4R000104           TVS Revenue : Mid 2025-02-24 05:36:55     202502   20250202  20250222  0     15,023,275     14,937,078     15,121,536     15,145,641              0      0
23   salisa     TB4R000105          TVS Revenue : Mass 2025-02-24 05:30:42     202502   20250202  20250222  0     88,549,721     87,067,491     87,055,118     87,020,126              0      0
24   salisa     TB4R000106          TVS Revenue : CMDU 2025-02-24 05:24:00     202502   20250202  20250219  0        808,380        808,380        808,380        808,380              0      0
25   salisa     TB4S000500             TVS Active Subs 2025-03-01 04:55:38     202502   20250228  20250228  0              0      1,163,299      1,163,299      1,163,299      1,163,284      0

## Actual : Transaction
->  FCT_KPI_NEWCO_PERF_ACTUAL

In [32]:
''' Execute Daily by case '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20250101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+ PARALLEL(8)*/ 
         REMARK, METRIC_CD, METRIC_NAME, TM_KEY_DAY
        , MAX(LOAD_DATE) LOAD_DATE
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN ACTUAL END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN ACTUAL END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN ACTUAL END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN ACTUAL END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN ACTUAL END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN ACTUAL END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN ACTUAL END) CCAATT
    FROM GEOSPCAPPO.FCT_KPI_NEWCO_PERF_ACTUAL
    --WHERE METRIC_CD = 'TB3R000100' --TOL Revenue
    WHERE METRIC_CD IN (
        'TB1R000100' --'Prepay Revenue
        , 'TB2R010100' --Postpaid Revenue B2C
        , 'TB3R000100' --TOL Revenue
        , 'TB4R000100' --TVS Revenue
         )
    AND EXISTS (
        SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
        FROM (
            SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
        ) TMP
        WHERE TMP_CD = AREA_CD )
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY REMARK, METRIC_CD, METRIC_NAME, TM_KEY_DAY
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Daily DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Daily DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20250101

TDMDBPR : Connected

   -> Execute query... 2025-03-10, 16:52:51

   -> Daily DataFrame : 123 rows, 12 columns

TDMDBPR : Disconnected

In [33]:
''' METRIC by Day '''

v_tm_key_day = 20250101
# src_t_rev_day_df = ['SRC', 'REMARK', 'TM_KEY_DAY', 'METRIC_CD', 'METRIC_NAME', 'C', 'P', 'G', 'H', 'HH', 'CCAA', 'CCAATT', 'LOAD_DATE']
print(f'\nParameter input...\n')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

# src_t_rev_day_df = chk_src_df[src_t_rev_day_df_cols].copy()
src_t_rev_day_df = chk_src_df.copy()
src_t_rev_day_df = src_t_rev_day_df.loc[src_t_rev_day_df['TM_KEY_DAY']>=v_tm_key_day]
src_t_rev_day_df = src_t_rev_day_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = src_t_rev_day_df.iloc[:, 4:11].columns.tolist()
for col in mod_col_list:
    src_t_rev_day_df[col] = src_t_rev_day_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\nCreate : src_t_rev_day_df...')
print(f'\n   -> DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')
# print(f'\n{src_t_rev_day_df.to_string(max_cols=17)}')

Parameter input...

   -> v_tm_key_day: 20250101

Create : src_t_rev_day_df...

   -> DataFrame : 123 rows, 12 columns

In [34]:
''' TB1R000100 : Prepay Revenue '''

v_metric_cd = 'TB1R000100'
v_tm_key_day = 20250201
print(f'\nTB1R000100 : Prepay Revenue...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB1R000100_day_df = chk_src_df.copy()
TB1R000100_day_df = TB1R000100_day_df.loc[TB1R000100_day_df['METRIC_CD']==v_metric_cd]
TB1R000100_day_df = TB1R000100_day_df.loc[TB1R000100_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB1R000100_day_df = TB1R000100_day_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB1R000100_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB1R000100_day_df[col] = TB1R000100_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB1R000100_day_df

TB1R000100 : Prepay Revenue...

   -> v_metric_cd: TB1R000100
   -> v_tm_key_day: 20250201

,REMARK,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,jutar11,TB1R000100,Prepay Revenue,20250201,2025-03-09 04:45:30,0,0,"100,280,532","100,280,468","100,280,468","99,829,089",0
1,jutar11,TB1R000100,Prepay Revenue,20250202,2025-03-09 04:45:30,0,0,"89,940,454","89,940,393","89,940,393","89,535,134",0
2,jutar11,TB1R000100,Prepay Revenue,20250203,2025-03-09 04:45:30,0,0,"90,876,994","90,876,880","90,876,880","90,498,353",0
3,jutar11,TB1R000100,Prepay Revenue,20250204,2025-03-09 04:45:30,0,0,"84,520,822","84,520,120","84,520,120","84,139,499",0
4,jutar11,TB1R000100,Prepay Revenue,20250205,2025-03-09 04:45:30,0,0,"88,597,238","88,596,543","88,596,543","88,237,790",0
5,jutar11,TB1R000100,Prepay Revenue,20250206,2025-03-09 04:45:30,0,0,"83,518,431","83,517,855","83,517,855","83,183,486",0
6,jutar11,TB1R000100,Prepay Revenue,20250207,2025-03-09 04:45:30,0,0,"87,362,118","87,361,547","87,361,547","87,011,010",0
7,jutar11,TB1R000100,Prepay Revenue,20250208,2025-03-09 04:45:30,0,0,"78,899,824","78,899,768","78,899,768","78,601,246",0
8,jutar11,TB1R000100,Prepay Revenue,20250209,2025-03-09 04:45:30,0,0,"74,969,072","74,968,609","74,968,609","74,654,456",0
9,jutar11,TB1R000100,Prepay Revenue,20250210,2025-03-09 04:45:30,0,0,"84,458,885","84,458,546","84,458,546","84,131,592",0
10,jutar11,TB1R000100,Prepay Revenue,20250211,2025-03-09 04:45:30,0,0,"76,431,293","76,429,623","76,429,623","76,129,800",0
11,jutar11,TB1R000100,Prepay Revenue,20250212,2025-03-09 04:45:30,0,0,"72,808,229","72,808,119","72,808,119","72,511,619",0
12,jutar11,TB1R000100,Prepay Revenue,20250213,2025-03-09 04:45:30,0,0,"74,963,381","74,963,036","74,963,036","74,665,652",0
13,jutar11,TB1R000100,Prepay Revenue,20250214,2025-03-09 04:45:30,0,0,"77,377,856","77,377,653","77,377,653","77,047,418",0
14,jutar11,TB1R000100,Prepay Revenue,20250215,2025-03-09 04:45:30,0,0,"76,988,763","76,988,030","76,988,030","76,661,779",0
15,jutar11,TB1R000100,Prepay Revenue,20250216,2025-03-09 04:45:30,0,0,"74,034,873","74,034,812","74,034,812","73,737,893",0
16,jutar11,TB1R000100,Prepay Revenue,20250217,2025-03-09 04:45:30,0,0,"78,054,020","78,053,565","78,053,565","77,737,242",0
17,jutar11,TB1R000100,Prepay Revenue,20250218,2025-03-09 04:45:30,0,0,"73,655,489","73,655,171","73,655,171","73,344,879",0
18,jutar11,TB1R000100,Prepay Revenue,20250219,2025-03-09 04:45:30,0,0,"73,142,915","73,142,072","73,142,072","72,854,545",0
19,jutar11,TB1R000100,Prepay Revenue,20250220,2025-03-09 04:45:30,0,0,"74,754,306","74,754,147","74,754,147","74,453,197",0
20,jutar11,TB1R000100,Prepay Revenue,20250221,2025-03-09 04:45:30,0,0,"84,354,952","84,354,900","84,354,900","84,013,132",0
21,jutar11,TB1R000100,Prepay Revenue,20250222,2025-03-09 04:45:30,0,0,"76,069,096","76,068,650","76,068,650","75,760,569",0
22,jutar11,TB1R000100,Prepay Revenue,20250223,2025-03-09 04:45:30,0,0,"73,479,348","73,478,735","73,478,735","73,196,406",0
23,jutar11,TB1R000100,Prepay Revenue,20250224,2025-03-09 04:45:30,0,0,"75,975,232","75,974,726","75,974,726","75,660,282",0
24,jutar11,TB1R000100,Prepay Revenue,20250225,2025-03-09 04:45:30,0,0,"83,003,979","83,002,320","83,002,320","82,658,251",0
25,jutar11,TB1R000100,Prepay Revenue,20250226,2025-03-09 04:45:30,0,0,"80,838,413","80,837,976","80,837,976","80,501,567",0
26,jutar11,TB1R000100,Prepay Revenue,20250227,2025-03-09 04:45:30,0,0,"82,290,254","82,290,171","82,290,171","81,927,676",0
27,jutar11,TB1R000100,Prepay Revenue,20250228,2025-03-09 04:45:30,0,0,"101,928,337","101,928,118","101,928,118","101,425,373",0
28,jutar11,TB1R000100,Prepay Revenue,20250301,2025-03-09 04:51:34,0,0,"98,892,461","98,891,409","98,891,409","98,428,994",0
29,jutar11,TB1R000100,Prepay Revenue,20250302,2025-03-09 04:51:34,0,0,"97,899,884","97,899,632","97,899,632","97,438,051",0
30,jutar11,TB1R000100,Prepay Revenue,20250303,2025-03-09 04:51:34,0,0,"97,325,348","97,324,816","97,324,816","96,878,597",0
31,jutar11,TB1R000100,Prepay Revenue,20250304,2025-03-09 04:51:34,0,0,"87,011,508","87,011,007","87,011,007","86,638,687",0
32,jutar11,TB1R000100,Prepay Revenue,20250305,2025-03-09 04:51:34,0,0,"87,102,204","87,102,022","87,102,022","86,749,460",0
33,jutar11,TB1R000100,Prepay Revenue,20250306,2025-03-09 04:51:34,0,0,"81,338,335","81,338,129","81,338,129","81,015,761",0

In [35]:
''' TB2R010100 : Postpaid Revenue B2C '''

v_metric_cd = 'TB2R010100'
v_tm_key_day = 20250201
print(f'\nTB2R010100 : Postpaid Revenue B2C...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB2R010100_day_df = chk_src_df.copy()
TB2R010100_day_df = TB2R010100_day_df.loc[TB2R010100_day_df['METRIC_CD']==v_metric_cd]
TB2R010100_day_df = TB2R010100_day_df.loc[TB2R010100_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB2R010100_day_df = TB2R010100_day_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB2R010100_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB2R010100_day_df[col] = TB2R010100_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB2R010100_day_df

TB2R010100 : Postpaid Revenue B2C...

   -> v_metric_cd: TB2R010100
   -> v_tm_key_day: 20250201

,REMARK,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,jutar11,TB2R010100,Postpaid Revenue B2C,20250202,2025-03-09 04:23:20,0,"480,219,286","479,924,828","479,923,929","479,923,929","478,423,092",0
1,jutar11,TB2R010100,Postpaid Revenue B2C,20250206,2025-03-09 04:23:20,0,"280,775,707","280,612,725","280,612,725","280,612,725","279,336,342",0
2,jutar11,TB2R010100,Postpaid Revenue B2C,20250210,2025-03-09 04:23:20,0,"442,616,824","442,425,025","442,425,025","442,425,025","441,201,186",0
3,jutar11,TB2R010100,Postpaid Revenue B2C,20250213,2025-03-09 04:23:20,0,"391,362,089","391,181,422","391,180,909","391,180,909","390,061,087",0
4,jutar11,TB2R010100,Postpaid Revenue B2C,20250216,2025-03-09 04:23:20,0,"354,367,858","354,224,529","354,224,125","354,224,125","353,164,484",0
5,jutar11,TB2R010100,Postpaid Revenue B2C,20250219,2025-03-09 04:23:20,0,"352,748,912","352,643,121","352,643,121","352,643,121","351,511,512",0
6,jutar11,TB2R010100,Postpaid Revenue B2C,20250222,2025-03-09 04:23:20,0,"359,928,181","359,841,879","359,841,839","359,841,839","358,697,464",0
7,jutar11,TB2R010100,Postpaid Revenue B2C,20250225,2025-03-09 04:23:20,0,"326,764,566","326,702,832","326,702,832","326,702,832","325,737,668",0
8,jutar11,TB2R010100,Postpaid Revenue B2C,20250228,2025-03-09 04:23:20,0,"352,073,323","345,236,223","345,236,223","345,236,223","344,161,823",0
9,jutar11,TB2R010100,Postpaid Revenue B2C,20250302,2025-03-09 04:25:56,0,"475,434,002","475,356,754","475,355,855","475,355,855","473,867,911",0
10,jutar11,TB2R010100,Postpaid Revenue B2C,20250306,2025-03-09 04:25:56,0,"279,511,044","279,483,043","279,483,043","279,483,043","278,180,403",0

In [36]:
''' TB3R000100 : Broadband Revenue '''

v_metric_cd = 'TB3R000100'
v_tm_key_day = 20250201
print(f'\nTB3R000100 : Broadband Revenue...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB3R000100_day_df = chk_src_df.copy()
TB3R000100_day_df = TB3R000100_day_df.loc[TB3R000100_day_df['METRIC_CD']==v_metric_cd]
TB3R000100_day_df = TB3R000100_day_df.loc[TB3R000100_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB3R000100_day_df = TB3R000100_day_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB3R000100_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB3R000100_day_df[col] = TB3R000100_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB3R000100_day_df

TB3R000100 : Broadband Revenue...

   -> v_metric_cd: TB3R000100
   -> v_tm_key_day: 20250201

,REMARK,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,salisa,TB3R000100,Broadband Revenue,20250202,2025-03-07 05:10:02,0,0,"219,072,588","219,072,588","219,072,588","219,048,631",0
1,salisa,TB3R000100,Broadband Revenue,20250206,2025-03-07 05:10:02,0,0,"141,018,932","141,018,932","141,018,932","141,003,046",0
2,salisa,TB3R000100,Broadband Revenue,20250210,2025-03-07 05:10:02,0,0,"231,072,118","231,072,118","231,072,118","231,040,084",0
3,salisa,TB3R000100,Broadband Revenue,20250213,2025-03-07 05:10:02,0,0,"171,365,238","171,365,238","171,365,198","171,359,049",0
4,salisa,TB3R000100,Broadband Revenue,20250216,2025-03-07 05:10:02,0,0,"173,278,726","173,278,726","173,278,726","173,272,555",0
5,salisa,TB3R000100,Broadband Revenue,20250219,2025-03-07 05:10:02,0,0,"165,391,014","165,391,014","165,391,014","165,379,246",0
6,salisa,TB3R000100,Broadband Revenue,20250222,2025-03-07 05:10:02,0,0,"165,716,838","165,716,838","165,716,838","165,702,578",0
7,salisa,TB3R000100,Broadband Revenue,20250225,2025-03-07 05:10:02,0,0,"164,554,893","164,554,893","164,554,893","164,546,098",0
8,salisa,TB3R000100,Broadband Revenue,20250228,2025-03-07 05:10:02,0,0,"173,948,794","173,948,794","173,948,794","1,800,017",0
9,salisa,TB3R000100,Broadband Revenue,20250302,2025-03-09 05:08:56,0,0,"218,848,222","218,848,222","218,848,222","218,881,590",0
10,salisa,TB3R000100,Broadband Revenue,20250306,2025-03-09 05:08:56,0,0,"140,307,379","140,307,379","140,307,379","140,387,402",0

In [37]:
''' TB4R000100 : TVS Revenue '''

v_metric_cd = 'TB4R000100'
v_tm_key_day = 20250201
print(f'\nTB4R000100 : TVS Revenue...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB4R000100_day_df = chk_src_df.copy()
TB4R000100_day_df = TB4R000100_day_df.loc[TB4R000100_day_df['METRIC_CD']==v_metric_cd]
TB4R000100_day_df = TB4R000100_day_df.loc[TB4R000100_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB4R000100_day_df = TB4R000100_day_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB4R000100_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB4R000100_day_df[col] = TB4R000100_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB4R000100_day_df

TB4R000100 : TVS Revenue...

   -> v_metric_cd: TB4R000100
   -> v_tm_key_day: 20250201

,REMARK,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,salisa,TB4R000100,TVS Revenue,20250202,2025-02-24 05:11:52,0,0,"34,215,318","34,216,762","34,221,729",0,0
1,salisa,TB4R000100,TVS Revenue,20250206,2025-02-24 05:11:52,0,0,"10,045,730","10,148,788","10,145,929",0,0
2,salisa,TB4R000100,TVS Revenue,20250210,2025-02-24 05:11:52,0,0,"30,317,645","30,413,033","30,412,941",0,0
3,salisa,TB4R000100,TVS Revenue,20250213,2025-02-24 05:11:52,0,0,"22,172,701","22,227,918","22,234,017",0,0
4,salisa,TB4R000100,TVS Revenue,20250216,2025-02-24 05:11:52,0,0,"23,839,517","23,878,618","23,870,294",0,0
5,salisa,TB4R000100,TVS Revenue,20250219,2025-02-24 05:11:52,0,0,"20,978,100","20,991,509","20,976,629",0,0
6,salisa,TB4R000100,TVS Revenue,20250222,2025-02-24 05:11:52,0,0,"20,677,298","20,677,298","20,677,298",0,0