# * Sales Data

## Parameter

In [1]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

pd.set_option('future.no_silent_downcasting', True)

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

## Actual : Monitoring
->  DIM_CORP_KPI

In [2]:
''' Execute Summary Data '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20240101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        SUBSTR(TM_KEY_DAY,1,6) AS TM_KEY_MTH, PRODUCT, COMP_CD, METRIC_CD, METRIC_NAME
        , MAX(LOAD_DATE) LOAD_DATE, MIN(TM_KEY_DAY) AS START_DAY, MAX(TM_KEY_DAY) AS END_DAY
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN METRIC_VALUE END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN METRIC_VALUE END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN METRIC_VALUE END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN METRIC_VALUE END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN METRIC_VALUE END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN METRIC_VALUE END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN METRIC_VALUE END) CCAATT
        , COUNT(DISTINCT AREA_TYPE) CNT_AREA_TYPE, COUNT(DISTINCT AREA_CD) CNT_AREA_CD, COUNT(1) ROW_CNT
    FROM CDSAPPO.DIM_CORP_KPI
    WHERE REGEXP_LIKE(METRIC_CD, 'CS$|CG$') -->> 2025 KPIs
    AND EXISTS (
        SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
        FROM (
            SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
        ) TMP
        WHERE TMP_CD = AREA_CD )
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY SUBSTR(TM_KEY_DAY,1,6), PRODUCT, COMP_CD, METRIC_CD, METRIC_NAME
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Summary DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Summary DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20240101

TDMDBPR : Connected

   -> Execute query... 2025-05-14, 11:37:41

   -> Summary DataFrame : 1196 rows, 18 columns

TDMDBPR : Disconnected

In [3]:
def my_metric_group(v_name):

    # Get : Parameter
    name = v_name
    result = ''
    
    if re.search('Gross Adds', name): result = 'Gross Adds'
    elif re.search('Inflow M1', name): result = 'Inflow M1'
    elif re.search('Inflow M2', name): result = 'Inflow M2'
    elif re.search('No of AP 1D', name): result = 'No of AP 1D'
    elif re.search('Amt of AP 1D', name): result = 'Amt of AP 1D'
    elif re.search('No of AP In Month', name): result = 'No of AP In Month'
    elif re.search('Amt of AP In Month', name): result = 'Amt of AP In Month'
    # elif re.search('CConnected : onsumer', name): result = 'Gross Adds - Con - Consumer'
    # elif re.search('Connected : DataService', name): result = 'Gross Adds - Con - DataService'
    # elif re.search('Registration : Consumer', name): result = 'Gross Adds - Reg - Consumer'
    # elif re.search('Registration : DataService', name): result = 'Gross Adds - Reg - DataService'
    else: result = 'Unknown' 
    
    return result

In [4]:
''' Add Columns '''

chk_src_df['CHANNEL_GRP'] = np.where(chk_src_df['METRIC_CD'].str.contains('CS$'), 'ALL', 'GEO')
chk_src_df['LOCATION_GRP'] = np.where(chk_src_df['METRIC_NAME'].str.contains('Location'), 'Customer', 'Sales')
chk_src_df['METRIC_GRP'] = chk_src_df.apply(lambda x: my_metric_group(str(x['METRIC_NAME'])), axis=1)
# tmp_df['MAIN_FLAG'] = np.where((tmp_df['METRIC_CD'].str.contains('[0-9]C$|[0-9]H$|[0-9]MCOM$|[0-9]CUS$')) | (tmp_df['METRIC_NAME'].str.contains('New Revenue|Existing Revenue')), 'N', 'Y')
# chk_src_df.tail()

# chk_src_df.loc[chk_src_df['PRODUCT']=='TOL'].tail()

### KPIs Summary

In [5]:
''' PREPAID Summary : 14 rows, 24 KPIs '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
product = 'PREPAID'
# channel_grp = 'GEO'

prepaid_df = chk_src_df.copy()
prepaid_df = prepaid_df.loc[prepaid_df['TM_KEY_MTH']==curr_mth]
prepaid_df = prepaid_df.loc[prepaid_df['PRODUCT']==product]
# prepaid_df = prepaid_df.loc[prepaid_df['CHANNEL_GRP']==channel_grp]

prepaid_df['ALL'] = prepaid_df['P']
prepaid_df['TRUE'] = np.where(prepaid_df['COMP_CD']=='TRUE', prepaid_df['P'], 0)
prepaid_df['DTAC'] = np.where(prepaid_df['COMP_CD']=='DTAC', prepaid_df['P'], 0)
prepaid_df['TMP_NAME'] = prepaid_df['METRIC_NAME'].replace(r' : DTAC| : TMH', '', regex=True)

prepaid_df = prepaid_df.groupby(['PRODUCT', 'METRIC_GRP', 'TMP_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'ALL':'sum', 'TRUE':'sum', 'DTAC':'sum'})
prepaid_df = prepaid_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_GRP', 'TMP_NAME']).reset_index()

mod_col_list = prepaid_df.iloc[:, 6:9].columns.tolist()
for col in mod_col_list:
    prepaid_df[col] = prepaid_df[col].apply(lambda x: format(x, ',.0f'))

prepaid_df

,PRODUCT,METRIC_GRP,TMP_NAME,LOAD_DATE,START_DAY,END_DAY,ALL,TRUE,DTAC
0,PREPAID,Amt of AP 1D,Prepaid Amt of AP 1D,2025-05-14 08:01:40,20250501,20250512,"120,880,099","49,802,940","71,077,159"
1,PREPAID,Amt of AP 1D,Prepaid Amt of AP 1D - GEO Channel,2025-05-14 08:01:40,20250501,20250512,"119,274,026","49,260,302","70,013,724"
2,PREPAID,Amt of AP In Month,Prepaid Amt of AP In Month,2025-05-14 08:01:40,20250501,20250512,"125,953,294","51,179,687","74,773,607"
3,PREPAID,Amt of AP In Month,Prepaid Amt of AP In Month - GEO Channel,2025-05-14 08:01:40,20250501,20250512,"124,301,875","50,633,183","73,668,692"
4,PREPAID,Gross Adds,Prepaid Gross Adds,2025-05-14 08:01:40,20250501,20250512,"651,048","254,687","396,361"
5,PREPAID,Gross Adds,Prepaid Gross Adds - GEO Channel,2025-05-14 08:01:40,20250501,20250512,"646,484","253,676","392,808"
6,PREPAID,Inflow M1,Prepaid Inflow M1,2025-05-14 08:01:40,20250501,20250512,"127,357,325","50,157,108","77,200,217"
7,PREPAID,Inflow M1,Prepaid Inflow M1 - GEO Channel,2025-05-14 08:01:40,20250501,20250512,"125,793,819","49,606,065","76,187,755"
8,PREPAID,Inflow M2,Prepaid Inflow M2,2025-05-14 08:01:40,20250501,20250512,"50,805,634","24,499,589","26,306,044"
9,PREPAID,Inflow M2,Prepaid Inflow M2 - GEO Channel,2025-05-14 08:01:40,20250501,20250512,"50,491,568","24,456,650","26,034,918"
10,PREPAID,No of AP 1D,Prepaid No of AP 1D,2025-05-14 08:01:40,20250501,20250512,"545,040","206,144","338,896"
11,PREPAID,No of AP 1D,Prepaid No of AP 1D - GEO Channel,2025-05-14 08:01:40,20250501,20250512,"541,485","205,391","336,094"
12,PREPAID,No of AP In Month,Prepaid No of AP In Month,2025-05-14 08:01:40,20250501,20250512,"566,202","210,875","355,327"
13,PREPAID,No of AP In Month,Prepaid No of AP In Month - GEO Channel,2025-05-14 08:01:40,20250501,20250512,"562,352","210,109","352,243"

In [6]:
''' POSTPAID Summary : 8 rows, 16 KPIs '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
product = 'POSTPAID'
# channel_grp = 'GEO'

postpaid_df = chk_src_df.copy()
postpaid_df = postpaid_df.loc[postpaid_df['TM_KEY_MTH']==curr_mth]
postpaid_df = postpaid_df.loc[postpaid_df['PRODUCT']==product]
# postpaid_df = postpaid_df.loc[postpaid_df['CHANNEL_GRP']==channel_grp]

postpaid_df['ALL'] = postpaid_df['P']
postpaid_df['TRUE'] = np.where(postpaid_df['COMP_CD']=='TRUE', postpaid_df['P'], 0)
postpaid_df['DTAC'] = np.where(postpaid_df['COMP_CD']=='DTAC', postpaid_df['P'], 0)
postpaid_df['TMP_NAME'] = postpaid_df['METRIC_NAME'].replace(r' : DTAC| : TMH', '', regex=True)

postpaid_df = postpaid_df.groupby(['PRODUCT', 'METRIC_GRP', 'TMP_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'ALL':'sum', 'TRUE':'sum', 'DTAC':'sum'})
postpaid_df = postpaid_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_GRP', 'TMP_NAME']).reset_index()

mod_col_list = postpaid_df.iloc[:, 6:9].columns.tolist()
for col in mod_col_list:
    postpaid_df[col] = postpaid_df[col].apply(lambda x: format(x, ',.0f'))

postpaid_df

,PRODUCT,METRIC_GRP,TMP_NAME,LOAD_DATE,START_DAY,END_DAY,ALL,TRUE,DTAC
0,POSTPAID,Gross Adds,Postpaid Gross Adds B2B,2025-05-14 08:08:02,20250501,20250513,"9,077","5,612","3,465"
1,POSTPAID,Gross Adds,Postpaid Gross Adds B2B - GEO Channel,2025-05-14 08:08:02,20250501,20250513,"1,390","1,128",262
2,POSTPAID,Gross Adds,Postpaid Gross Adds B2C,2025-05-14 08:08:02,20250501,20250513,"83,765","64,562","19,203"
3,POSTPAID,Gross Adds,Postpaid Gross Adds B2C - GEO Channel,2025-05-14 08:08:02,20250501,20250513,"34,540","28,527","6,013"
4,POSTPAID,Inflow M1,Postpaid Inflow M1 B2B,2025-05-14 08:08:02,20250501,20250513,"8,481,364","2,824,327","5,657,037"
5,POSTPAID,Inflow M1,Postpaid Inflow M1 B2B - GEO Channel,2025-05-14 08:08:02,20250501,20250513,"1,009,450","871,905","137,545"
6,POSTPAID,Inflow M1,Postpaid Inflow M1 B2C,2025-05-14 08:08:02,20250501,20250513,"37,434,706","29,504,034","7,930,672"
7,POSTPAID,Inflow M1,Postpaid Inflow M1 B2C - GEO Channel,2025-05-14 08:08:02,20250501,20250513,"16,637,592","13,398,612","3,238,980"

In [7]:
''' TOL Summary : 20 KPIs'''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
product = 'TOL'
# channel_grp = 'GEO'

tol_df = chk_src_df.copy()
tol_df = tol_df.loc[tol_df['TM_KEY_MTH']==curr_mth]
tol_df = tol_df.loc[tol_df['PRODUCT']==product]
# tol_df = tol_df.loc[tol_df['CHANNEL_GRP']==channel_grp]

tol_df = tol_df.groupby(['PRODUCT', 'METRIC_GRP', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'P':'sum'})
tol_df = tol_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_GRP', 'METRIC_NAME']).reset_index()

mod_col_list = tol_df.iloc[:, 6:7].columns.tolist()
for col in mod_col_list:
    tol_df[col] = tol_df[col].apply(lambda x: format(x, ',.0f'))

tol_df

,PRODUCT,METRIC_GRP,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,P
0,TOL,Gross Adds,TOL Gross Adds Connected : Consumer,2025-05-14 08:00:16,20250501,20250513,"22,060"
1,TOL,Gross Adds,TOL Gross Adds Connected : Consumer (Install L...,2025-05-14 08:00:16,20250501,20250513,"22,060"
2,TOL,Gross Adds,TOL Gross Adds Connected : Consumer - GEO Channel,2025-05-14 08:00:16,20250501,20250513,"17,572"
3,TOL,Gross Adds,TOL Gross Adds Connected : Consumer - GEO Chan...,2025-05-14 08:00:16,20250501,20250513,"17,572"
4,TOL,Gross Adds,TOL Gross Adds Connected : DataService,2025-05-14 08:00:16,20250501,20250513,392
5,TOL,Gross Adds,TOL Gross Adds Connected : DataService (Instal...,2025-05-14 08:00:16,20250501,20250513,392
6,TOL,Gross Adds,TOL Gross Adds Connected : DataService - GEO C...,2025-05-14 08:00:16,20250505,20250513,16
7,TOL,Gross Adds,TOL Gross Adds Connected : DataService - GEO C...,2025-05-14 08:00:16,20250505,20250513,16
8,TOL,Gross Adds,TOL Gross Adds Registration : Consumer,2025-05-14 08:00:16,20250501,20250513,"31,680"
9,TOL,Gross Adds,TOL Gross Adds Registration : Consumer - GEO C...,2025-05-14 08:00:16,20250501,20250513,"24,573"
10,TOL,Gross Adds,TOL Gross Adds Registration : DataService,2025-05-14 08:00:16,20250502,20250513,394
11,TOL,Gross Adds,TOL Gross Adds Registration : DataService - GE...,2025-05-14 08:00:16,20250506,20250513,15
12,TOL,Inflow M1,TOL Inflow M1 Connected : Consumer,2025-05-14 08:00:16,20250501,20250513,"12,033,881"
13,TOL,Inflow M1,TOL Inflow M1 Connected : Consumer (Install Lo...,2025-05-14 08:00:16,20250501,20250513,"12,033,881"
14,TOL,Inflow M1,TOL Inflow M1 Connected : Consumer - GEO Channel,2025-05-14 08:00:16,20250501,20250513,"9,671,472"
15,TOL,Inflow M1,TOL Inflow M1 Connected : Consumer - GEO Chann...,2025-05-14 08:00:16,20250501,20250513,"9,671,472"
16,TOL,Inflow M1,TOL Inflow M1 Connected : DataService,2025-05-14 08:00:16,20250501,20250513,"469,277"
17,TOL,Inflow M1,TOL Inflow M1 Connected : DataService (Install...,2025-05-14 08:00:16,20250501,20250513,"469,277"
18,TOL,Inflow M1,TOL Inflow M1 Connected : DataService - GEO Ch...,2025-05-14 08:00:16,20250505,20250513,"27,077"
19,TOL,Inflow M1,TOL Inflow M1 Connected : DataService - GEO Ch...,2025-05-14 08:00:16,20250505,20250513,"27,077"

In [8]:
''' TVS Summary : 8 KPIs '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
product = 'TVS'
# channel_grp = 'GEO'

tvs_df = chk_src_df.copy()
tvs_df = tvs_df.loc[tvs_df['TM_KEY_MTH']==curr_mth]
tvs_df = tvs_df.loc[tvs_df['PRODUCT']==product]
# tvs_df = tvs_df.loc[tvs_df['CHANNEL_GRP']==channel_grp]

tvs_df = tvs_df.groupby(['PRODUCT', 'METRIC_GRP', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'P':'sum'})
tvs_df = tvs_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_GRP', 'METRIC_NAME']).reset_index()

mod_col_list = tvs_df.iloc[:, 6:7].columns.tolist()
for col in mod_col_list:
    tvs_df[col] = tvs_df[col].apply(lambda x: format(x, ',.0f'))

tvs_df

,PRODUCT,METRIC_GRP,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,P
0,TVS,Gross Adds,TVS CMDU Gross Adds,2025-05-14 08:11:12,20250501,20250510,14
1,TVS,Gross Adds,TVS Now Gross Adds,2025-05-14 08:11:12,20250501,20250512,831
2,TVS,Gross Adds,TVS Now Gross Adds - GEO Channel,2025-05-14 08:11:12,20250501,20250512,829
3,TVS,Inflow M1,TVS CMDU Inflow M1,2025-05-14 08:11:12,20250501,20250510,"150,715"
4,TVS,Inflow M1,TVS Now Inflow M1,2025-05-14 08:11:12,20250501,20250512,"174,809"
5,TVS,Inflow M1,TVS Now Inflow M1 - GEO Channel,2025-05-14 08:11:12,20250501,20250512,"174,587"

### Monitoring

In [9]:
''' Current Month Gross Adds '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
ga_metric_list = [
    'DB2S010100CS' #Postpaid Gross Adds B2C : DTAC
    , 'DB2S020100CS' #Postpaid Gross Adds B2B : DTAC
    , 'TB2S010100CS' #Postpaid Gross Adds B2C : TMH
    , 'TB2S020100CS' #Postpaid Gross Adds B2B : TMH
    , 'DB1S000101CS' #Prepaid Gross Adds : DTAC
    , 'TB1S000101CS' #Prepaid Gross Adds : TMH
    , 'TB3S000102CS' #TOL Gross Adds Connected : Consumer
    , 'TB3S000103CS' #TOL Gross Adds Connected : DataService
    , 'TB3S000104CS' #TOL Gross Adds Registration : Consumer
    , 'TB3S000105CS' #TOL Gross Adds Registration : DataService
    , 'TB4S001004CS' #TVS CMDU Gross Adds
    , 'TB4S001400CS' #TVS Now Gross Adds
    ]

src_ga_overall_df = chk_src_df.copy()
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['TM_KEY_MTH']==curr_mth]
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['METRIC_CD'].isin(ga_metric_list)]
src_ga_overall_df = src_ga_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_ga_overall_df = src_ga_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_ga_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_ga_overall_df[col] = src_ga_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_ga_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,2025-05-14 08:08:02,20250501,20250512,0,"19,203","19,060","19,060","19,060","19,060","19,060",7,4597,17145
1,POSTPAID,DB2S020100CS,Postpaid Gross Adds B2B : DTAC,2025-05-14 08:08:02,20250501,20250512,0,"3,465",869,869,869,869,869,7,572,1371
2,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,2025-05-14 08:08:02,20250501,20250513,0,"64,562","41,843","41,843","41,843","41,843","41,843",7,1315,11692
3,POSTPAID,TB2S020100CS,Postpaid Gross Adds B2B : TMH,2025-05-14 08:08:02,20250501,20250513,0,"5,612","1,130","1,130","1,130","1,130","1,130",7,509,1603
4,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,2025-05-14 08:01:40,20250501,20250512,0,"396,361","346,211","346,211","377,726","382,068","379,563",7,6327,43287
5,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,2025-05-14 08:01:40,20250501,20250508,0,"254,687","188,817","188,817","184,570","188,817","188,803",7,5468,31347
6,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,2025-05-14 08:00:16,20250501,20250513,0,"22,060","17,573","17,573","17,403","17,573","17,573",7,1099,9470
7,TOL,TB3S000103CS,TOL Gross Adds Connected : DataService,2025-05-14 08:00:16,20250501,20250513,0,392,16,16,16,16,16,7,35,60
8,TOL,TB3S000104CS,TOL Gross Adds Registration : Consumer,2025-05-14 08:00:16,20250501,20250513,0,"31,680","24,573","24,573","24,364","24,573","24,573",7,1123,10288
9,TOL,TB3S000105CS,TOL Gross Adds Registration : DataService,2025-05-14 08:00:16,20250502,20250513,0,394,15,15,15,15,15,7,36,56
10,TVS,TB4S001004CS,TVS CMDU Gross Adds,2025-05-14 08:11:12,20250501,20250510,0,14,14,14,14,14,14,7,27,80
11,TVS,TB4S001400CS,TVS Now Gross Adds,2025-05-14 08:11:12,20250501,20250512,0,831,829,829,829,829,829,7,511,2083

In [10]:
''' Average Gross Adds per Month '''

avg_range_start = '202401'
avg_range_end = '202503'
ga_metric_list = [
    'DB2S010100CS' #Postpaid Gross Adds B2C : DTAC
    , 'DB2S020100CS' #Postpaid Gross Adds B2B : DTAC
    , 'TB2S010100CS' #Postpaid Gross Adds B2C : TMH
    , 'TB2S020100CS' #Postpaid Gross Adds B2B : TMH
    , 'DB1S000101CS' #Prepaid Gross Adds : DTAC
    , 'TB1S000101CS' #Prepaid Gross Adds : TMH
    , 'TB3S000102CS' #TOL Gross Adds Connected : Consumer
    , 'TB3S000103CS' #TOL Gross Adds Connected : DataService
    , 'TB3S000104CS' #TOL Gross Adds Registration : Consumer
    , 'TB3S000105CS' #TOL Gross Adds Registration : DataService
    , 'TB4S001004CS' #TVS CMDU Gross Adds
    , 'TB4S001400CS' #TVS Now Gross Adds
    ]

src_ga_overall_df = chk_src_df.copy()
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['TM_KEY_MTH'].between(avg_range_start, avg_range_end)]
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['METRIC_CD'].isin(ga_metric_list)]
src_ga_overall_df = src_ga_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'mean', 'P':'mean', 'G':'mean', 'H':'mean', 'HH':'mean', 'CCAA':'mean', 'CCAATT':'mean', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_ga_overall_df = src_ga_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_ga_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_ga_overall_df[col] = src_ga_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_ga_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,2025-05-14 08:08:02,20240101,20250331,0,"61,560","59,720","59,720","59,720","59,720","59,720",7,6204,697820
1,POSTPAID,DB2S020100CS,Postpaid Gross Adds B2B : DTAC,2025-05-14 08:08:02,20240101,20250331,0,"10,050","5,366","5,366","5,366","5,366","5,366",7,1528,80500
2,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,2025-05-14 08:08:02,20240101,20250331,0,"152,588","103,167","103,167","103,167","103,167","103,167",7,2211,438943
3,POSTPAID,TB2S020100CS,Postpaid Gross Adds B2B : TMH,2025-05-14 08:08:02,20240101,20250331,0,"25,021","8,124","8,124","8,124","8,124","8,124",7,781,64761
4,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,2025-04-30 14:03:15,20240101,20250331,0,"1,347,209","1,287,777","1,287,777","1,283,901","1,301,854","1,293,953",7,7441,1684708
5,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,2025-04-30 14:03:15,20240101,20250331,0,"1,138,166","940,606","940,606","918,524","940,606","940,541",7,5831,1789493
6,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,2025-04-30 14:02:03,20240102,20250331,0,"46,948","33,562","33,562","34,737","35,069","35,055",7,1214,331274
7,TOL,TB3S000103CS,TOL Gross Adds Connected : DataService,2025-04-30 14:02:03,20240102,20250331,0,"1,584",34,34,35,35,35,7,99,2156
8,TOL,TB3S000104CS,TOL Gross Adds Registration : Consumer,2025-04-30 14:02:02,20240101,20250331,0,"64,322","45,578","45,578","47,202","47,631","47,608",7,1243,348927
9,TOL,TB3S000105CS,TOL Gross Adds Registration : DataService,2025-04-30 14:02:02,20240101,20250331,0,"3,354","1,033","1,033","1,025","1,043","1,043",7,620,25738
10,TVS,TB4S001004CS,TVS CMDU Gross Adds,2025-05-14 08:11:12,20240101,20250331,0,142,125,125,125,125,125,7,137,6316
11,TVS,TB4S001400CS,TVS Now Gross Adds,2025-05-14 08:11:12,20240701,20250331,0,"1,224","1,223","1,223","1,223","1,223","1,223",7,658,28389

In [11]:
''' Current Month Inflow '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
inflow_metric_list = [
    'DB2R010500CS' #Postpaid Inflow M1 B2C : DTAC
    , 'DB2R020500CS' #Postpaid Inflow M1 B2B : DTAC
    , 'TB2R010500CS' #Postpaid Inflow M1 B2C : TMH
    , 'TB2R020500CS' #Postpaid Inflow M1 B2B : TMH
    , 'DB1R000900CS' #Prepaid Inflow M1 : DTAC
    , 'TB1R000900CS' #Prepaid Inflow M1 : TMH
    , 'TB3R000601CS' #TOL Inflow M1 Connected : Consumer
    , 'TB3R000602CS' #TOL Inflow M1 Connected : DataService
    , 'TB4R001004CS' #TVS CMDU Inflow M1
    , 'TB4R001700CS' #TVS Now Inflow M1
    , 'DB1R001000CS' #Prepaid Inflow M2 : DTAC
    , 'TB1R001000CS' #Prepaid Inflow M2 : TMH
    ]

src_inflow_overall_df = chk_src_df.copy()
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['TM_KEY_MTH']==curr_mth]
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['METRIC_CD'].isin(inflow_metric_list)]
src_inflow_overall_df = src_inflow_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_inflow_overall_df = src_inflow_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_inflow_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_inflow_overall_df[col] = src_inflow_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_inflow_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2R010500CS,Postpaid Inflow M1 B2C : DTAC,2025-05-14 08:08:02,20250501,20250512,0,"7,930,672","7,859,494","7,859,494","7,859,494","7,859,494","7,859,494",7,4597,17145
1,POSTPAID,DB2R020500CS,Postpaid Inflow M1 B2B : DTAC,2025-05-14 08:08:02,20250501,20250512,0,"5,657,037","382,535","382,535","382,535","382,535","382,535",7,572,1371
2,POSTPAID,TB2R010500CS,Postpaid Inflow M1 B2C : TMH,2025-05-14 08:08:02,20250501,20250513,0,"29,504,034","21,620,420","21,620,420","21,620,420","21,620,420","21,620,420",7,1315,11692
3,POSTPAID,TB2R020500CS,Postpaid Inflow M1 B2B : TMH,2025-05-14 08:08:02,20250501,20250513,0,"2,824,327","872,903","872,903","872,903","872,903","872,903",7,509,1603
4,PREPAID,DB1R000900CS,Prepaid Inflow M1 : DTAC,2025-05-14 08:01:40,20250501,20250512,0,"77,200,217","69,102,525","69,102,525","74,594,321","75,566,331","75,005,915",7,6322,54999
5,PREPAID,DB1R001000CS,Prepaid Inflow M2 : DTAC,2025-05-14 08:01:40,20250501,20250512,0,"26,306,044","22,230,625","22,230,625","25,783,863","26,117,415","25,843,819",7,6727,75494
6,PREPAID,TB1R000900CS,Prepaid Inflow M1 : TMH,2025-05-14 08:01:40,20250501,20250511,0,"50,157,108","36,873,491","36,873,491","35,943,187","36,873,491","36,871,492",7,5419,44886
7,PREPAID,TB1R001000CS,Prepaid Inflow M2 : TMH,2025-05-14 08:01:40,20250501,20250511,0,"24,499,589","24,006,100","24,006,100","23,582,803","24,006,100","24,004,003",7,5627,55889
8,TOL,TB3R000601CS,TOL Inflow M1 Connected : Consumer,2025-05-14 08:00:16,20250501,20250513,0,"12,033,881","9,672,071","9,672,071","9,572,230","9,672,071","9,672,071",7,1099,9470
9,TOL,TB3R000602CS,TOL Inflow M1 Connected : DataService,2025-05-14 08:00:16,20250501,20250513,0,"469,277","27,077","27,077","27,077","27,077","27,077",7,35,60
10,TVS,TB4R001004CS,TVS CMDU Inflow M1,2025-05-14 08:11:12,20250501,20250510,0,"150,715","150,715","150,715","150,715","150,715","150,715",7,27,80
11,TVS,TB4R001700CS,TVS Now Inflow M1,2025-05-14 08:11:12,20250501,20250512,0,"174,809","174,587","174,587","174,587","174,587","174,587",7,511,2083

In [12]:
''' Average Inflow per Month '''

avg_range_start = '202401'
avg_range_end = '202503'
inflow_metric_list = [
    'DB2R010500CS' #Postpaid Inflow M1 B2C : DTAC
    , 'DB2R020500CS' #Postpaid Inflow M1 B2B : DTAC
    , 'TB2R010500CS' #Postpaid Inflow M1 B2C : TMH
    , 'TB2R020500CS' #Postpaid Inflow M1 B2B : TMH
    , 'DB1R000900CS' #Prepaid Inflow M1 : DTAC
    , 'TB1R000900CS' #Prepaid Inflow M1 : TMH
    , 'TB3R000601CS' #TOL Inflow M1 Connected : Consumer
    , 'TB3R000602CS' #TOL Inflow M1 Connected : DataService
    , 'TB4R001004CS' #TVS CMDU Inflow M1
    , 'TB4R001700CS' #TVS Now Inflow M1
    , 'DB1R001000CS' #Prepaid Inflow M2 : DTAC
    , 'TB1R001000CS' #Prepaid Inflow M2 : TMH
    ]

src_inflow_overall_df = chk_src_df.copy()
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['TM_KEY_MTH'].between(avg_range_start, avg_range_end)]
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['METRIC_CD'].isin(inflow_metric_list)]
src_inflow_overall_df = src_inflow_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_inflow_overall_df = src_inflow_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_inflow_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_inflow_overall_df[col] = src_inflow_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_inflow_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2R010500CS,Postpaid Inflow M1 B2C : DTAC,2025-05-14 08:08:02,20240101,20250331,0,"399,214,352","390,238,209","390,238,209","390,238,209","390,238,209","390,238,209",7,6204,697820
1,POSTPAID,DB2R020500CS,Postpaid Inflow M1 B2B : DTAC,2025-05-14 08:08:02,20240101,20250331,0,"146,087,502","27,656,846","27,656,846","27,656,846","27,656,846","27,656,846",7,1528,80500
2,POSTPAID,TB2R010500CS,Postpaid Inflow M1 B2C : TMH,2025-05-14 08:08:02,20240101,20250331,0,"963,708,492","742,500,893","742,500,893","742,500,893","742,500,893","742,500,893",7,2211,438943
3,POSTPAID,TB2R020500CS,Postpaid Inflow M1 B2B : TMH,2025-05-14 08:08:02,20240101,20250331,0,"84,587,995","36,558,027","36,558,027","36,558,027","36,558,027","36,558,027",7,781,64761
4,PREPAID,DB1R000900CS,Prepaid Inflow M1 : DTAC,2025-04-30 14:03:15,20240101,20250331,0,"3,802,290,888","3,695,645,471","3,695,645,471","3,681,783,820","3,740,469,911","3,715,646,009",7,7418,2536145
5,PREPAID,DB1R001000CS,Prepaid Inflow M2 : DTAC,2025-04-30 14:03:23,20240201,20250331,0,"1,083,317,243","1,050,794,381","1,050,794,381","1,056,976,090","1,069,493,307","1,057,310,986",7,7294,2747604
6,PREPAID,TB1R000900CS,Prepaid Inflow M1 : TMH,2025-04-30 14:03:15,20240101,20250331,0,"2,938,521,504","2,535,601,009","2,535,601,009","2,461,916,507","2,535,601,009","2,535,437,768",7,5800,2096987
7,PREPAID,TB1R001000CS,Prepaid Inflow M2 : TMH,2025-04-30 14:03:23,20240101,20250331,0,"1,060,137,134","1,049,549,983","1,049,549,983","1,030,456,436","1,049,549,983","1,049,435,343",7,5739,2269687
8,TOL,TB3R000601CS,TOL Inflow M1 Connected : Consumer,2025-04-30 14:02:02,20240102,20250331,0,"388,750,845","283,220,937","283,220,937","293,275,723","296,337,595","296,214,970",7,1214,331274
9,TOL,TB3R000602CS,TOL Inflow M1 Connected : DataService,2025-04-30 14:02:02,20240102,20250331,0,"29,369,420","1,591,398","1,591,398","1,627,784","1,630,883","1,630,883",7,99,2156
10,TVS,TB4R001004CS,TVS CMDU Inflow M1,2025-05-14 08:11:12,20240101,20250331,0,"13,849,759","11,723,504","11,723,504","11,723,504","11,723,504","11,723,504",7,137,6316
11,TVS,TB4R001700CS,TVS Now Inflow M1,2025-05-14 08:11:12,20240701,20250331,0,"4,788,601","4,775,613","4,775,613","4,775,613","4,775,613","4,775,613",7,658,28389

### All Metric

In [13]:
''' METRIC Summary '''

# src_t_sales_mth_df = chk_src_df.copy()
# src_t_sales_mth_df = src_t_sales_mth_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'P':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
# src_t_sales_mth_df = src_t_sales_mth_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

# mod_col_list = src_t_sales_mth_df.iloc[:, 6:7].columns.tolist()
# for col in mod_col_list:
#     src_t_sales_mth_df[col] = src_t_sales_mth_df[col].apply(lambda x: format(x, ',.0f'))

# print(f'\n{src_t_sales_mth_df.to_string(max_cols=10)}')

' METRIC Summary '

In [14]:
''' METRIC Current Month '''

# # v_tm_key_mth = '202502'
# curr_mth = chk_src_df['TM_KEY_MTH'].max()
# src_t_sales_mth_df_cols = ['PRODUCT', 'METRIC_CD', 'METRIC_NAME', 'LOAD_DATE', 'TM_KEY_MTH', 'START_DAY', 'END_DAY', 'C', 'P', 'G', 'H', 'HH', 'CCAA', 'CCAATT']
# print(f'\nParameter input...\n')
# print(f'   -> v_tm_key_mth: {curr_mth}')

# src_t_sales_mth_df = chk_src_df[src_t_sales_mth_df_cols].copy()
# src_t_sales_mth_df = src_t_sales_mth_df.loc[src_t_sales_mth_df['TM_KEY_MTH']==curr_mth]
# src_t_sales_mth_df = src_t_sales_mth_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_MTH']).reset_index(drop=True)

# mod_col_list = src_t_sales_mth_df.iloc[:, 7:14].columns.tolist()
# for col in mod_col_list:
#     src_t_sales_mth_df[col] = src_t_sales_mth_df[col].apply(lambda x: format(x, ',.0f'))

# print(f'\n{src_t_sales_mth_df.to_string(max_cols=17)}')

' METRIC Current Month '

## Actual : Transaction
->  DIM_CORP_KPI

In [15]:
''' Execute Daily by case '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20250101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        PRODUCT, METRIC_CD, METRIC_NAME, TM_KEY_DAY
        , MAX(LOAD_DATE) LOAD_DATE
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN METRIC_VALUE END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN METRIC_VALUE END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN METRIC_VALUE END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN METRIC_VALUE END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN METRIC_VALUE END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN METRIC_VALUE END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN METRIC_VALUE END) CCAATT
    FROM CDSAPPO.DIM_CORP_KPI
    WHERE REGEXP_LIKE(METRIC_CD, 'CS$|CG$') -->> 2025 KPIs
    AND EXISTS (
        SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
        FROM (
            SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
        ) TMP
        WHERE TMP_CD = AREA_CD )
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY PRODUCT, METRIC_CD, METRIC_NAME, TM_KEY_DAY
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Summary DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Daily DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20250101

TDMDBPR : Connected

   -> Execute query... 2025-05-14, 11:40:39

   -> Daily DataFrame : 8890 rows, 12 columns

TDMDBPR : Disconnected

In [16]:
''' METRIC by Day '''

v_tm_key_day = 20250101
print(f'\nParameter input...\n')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

src_sale_day_df = chk_src_df.copy()
src_sale_day_df = src_sale_day_df.loc[src_sale_day_df['TM_KEY_DAY']>=v_tm_key_day]
src_sale_day_df = src_sale_day_df.fillna(0).sort_values(by=['METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = src_sale_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    src_sale_day_df[col] = src_sale_day_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\nCreate : src_sale_day_df...')
print(f'\n   -> DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')
# print(f'\n{src_sale_day_df.to_string(max_cols=12)}')

Parameter input...

   -> v_tm_key_day: 20250101

Create : src_sale_day_df...

   -> DataFrame : 8890 rows, 12 columns

In [32]:
# ''' xB1S000101CS : Prepaid Gross Adds : xxx '''

# v_tm_key_day = 20250401
# v_metric_cd = ['DB1S000101CS', 'TB1S000101CS']
# print(f'\nDB1S000101CS : Prepaid Gross Adds : DTAC\nTB1S000101CS : Prepaid Gross Adds : TMH\n')
# print(f'   -> v_metric_cd: {v_metric_cd}')
# print(f'   -> v_tm_key_day: {v_tm_key_day}')

# xB1S000101CS_day_df = chk_src_df.copy()
# xB1S000101CS_day_df = xB1S000101CS_day_df.loc[xB1S000101CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
# xB1S000101CS_day_df = xB1S000101CS_day_df.loc[xB1S000101CS_day_df['METRIC_CD'].isin(v_metric_cd)]
# xB1S000101CS_day_df = xB1S000101CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

# mod_col_list = xB1S000101CS_day_df.iloc[:, 5:12].columns.tolist()
# for col in mod_col_list:
#     xB1S000101CS_day_df[col] = xB1S000101CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
# # xB1S000101CS_day_df
# print(f'\n{xB1S000101CS_day_df.to_string(max_cols=12)}')

In [30]:
''' TB1S000101CS : Prepaid Gross Adds : TMH '''

v_tm_key_day = 20250401
v_metric_cd = 'TB1S000101CS'
print(f'\nTB1S000101CS : Prepaid Gross Adds : TMH\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB1S000101CS_day_df = chk_src_df.copy()
TB1S000101CS_day_df = TB1S000101CS_day_df.loc[TB1S000101CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB1S000101CS_day_df = TB1S000101CS_day_df.loc[TB1S000101CS_day_df['METRIC_CD']==v_metric_cd]
TB1S000101CS_day_df = TB1S000101CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB1S000101CS_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB1S000101CS_day_df[col] = TB1S000101CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB1S000101CS_day_df

TB1S000101CS : Prepaid Gross Adds : TMH

   -> v_metric_cd: TB1S000101CS
   -> v_tm_key_day: 20250401

,PRODUCT,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250401,2025-05-14 08:01:40,0,"31,770","25,572","25,572","24,883","25,572","25,572"
1,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250402,2025-05-14 08:01:40,0,"33,051","25,896","25,896","25,142","25,896","25,891"
2,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250403,2025-05-14 08:01:40,0,"33,578","25,569","25,569","24,908","25,569","25,567"
3,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250404,2025-05-14 08:01:40,0,"34,354","26,790","26,790","26,147","26,790","26,789"
4,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250405,2025-05-14 08:01:40,0,"31,312","24,931","24,931","24,353","24,931","24,929"
5,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250406,2025-05-14 08:01:40,0,"27,761","22,069","22,069","21,401","22,069","22,067"
6,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250407,2025-05-14 08:01:40,0,"27,896","22,030","22,030","21,473","22,030","22,028"
7,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250408,2025-05-14 08:01:40,0,"29,701","23,521","23,521","22,925","23,521","23,520"
8,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250409,2025-05-14 08:01:40,0,"31,043","24,156","24,156","23,570","24,156","24,155"
9,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250410,2025-05-14 08:01:40,0,"35,296","27,052","27,052","26,317","27,052","27,051"
10,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250411,2025-05-14 08:01:40,0,"37,116","26,968","26,968","26,333","26,968","26,966"
11,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250412,2025-05-14 08:01:40,0,"36,166","26,150","26,150","25,513","26,150","26,149"
12,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250413,2025-05-14 08:01:40,0,"27,010","19,388","19,388","18,833","19,388","19,388"
13,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250414,2025-05-14 08:01:40,0,"23,409","17,613","17,613","17,115","17,613","17,613"
14,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250415,2025-05-14 08:01:40,0,"20,215","15,530","15,530","15,079","15,530","15,527"
15,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250416,2025-05-14 08:01:40,0,"25,170","19,828","19,828","19,294","19,828","19,827"
16,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250417,2025-05-14 08:01:40,0,"30,546","22,333","22,333","21,773","22,333","22,332"
17,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250418,2025-05-14 08:01:40,0,"32,535","23,808","23,808","23,297","23,808","23,805"
18,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250419,2025-05-14 08:01:40,0,"29,158","20,945","20,945","20,574","20,945","20,943"
19,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250420,2025-05-14 08:01:40,0,"27,703","20,643","20,643","20,082","20,643","20,638"
20,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250421,2025-05-14 08:01:40,0,"31,422","23,511","23,511","22,916","23,511","23,511"
21,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250422,2025-05-14 08:01:40,0,"30,103","22,967","22,967","22,360","22,967","22,966"
22,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250423,2025-05-14 08:01:40,0,"31,624","22,988","22,988","22,402","22,988","22,986"
23,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250424,2025-05-14 08:01:40,0,"32,574","23,216","23,216","22,665","23,216","23,215"
24,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250425,2025-05-14 08:01:40,0,"33,278","25,605","25,605","25,037","25,605","25,602"
25,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250426,2025-05-14 08:01:40,0,"30,759","22,825","22,825","22,254","22,825","22,824"
26,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250427,2025-05-14 08:01:40,0,"28,692","22,427","22,427","21,839","22,427","22,427"
27,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250428,2025-05-14 08:01:40,0,"30,692","24,062","24,062","23,567","24,062","24,061"
28,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250429,2025-05-14 08:01:40,0,"33,681","25,560","25,560","25,015","25,560","25,558"
29,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250430,2025-05-14 08:01:40,0,"43,474","31,200","31,200","30,525","31,200","31,197"
30,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250501,2025-05-14 08:01:40,0,"38,901","26,761","26,761","26,191","26,761","26,760"
31,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250502,2025-05-14 08:01:40,0,"34,737","24,945","24,945","24,455","24,945","24,943"
32,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250503,2025-05-14 08:01:40,0,"30,845","22,495","22,495","21,987","22,495","22,492"
33,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250504,2025-05-14 08:01:40,0,"27,906","21,152","21,152","20,513","21,152","21,152"
34,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250505,2025-05-14 08:01:40,0,"29,305","23,027","23,027","22,545","23,027","23,025"
35,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250506,2025-05-14 08:01:40,0,"30,006","23,586","23,586","23,081","23,586","23,585"
36,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250507,2025-05-14 08:01:40,0,"32,025","24,145","24,145","23,579","24,145","24,144"
37,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250508,2025-05-14 08:01:40,0,"30,962","22,706","22,706","22,219","22,706","22,702"

In [31]:
''' DB1S000101CS : Prepaid Gross Adds : DTAC '''

v_tm_key_day = 20250401
v_metric_cd = 'DB1S000101CS'
print(f'\nDB1S000101CS : Prepaid Gross Adds : DTAC\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

DB1S000101CS_day_df = chk_src_df.copy()
DB1S000101CS_day_df = DB1S000101CS_day_df.loc[DB1S000101CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
DB1S000101CS_day_df = DB1S000101CS_day_df.loc[DB1S000101CS_day_df['METRIC_CD']==v_metric_cd]
DB1S000101CS_day_df = DB1S000101CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = DB1S000101CS_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    DB1S000101CS_day_df[col] = DB1S000101CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
DB1S000101CS_day_df

DB1S000101CS : Prepaid Gross Adds : DTAC

   -> v_metric_cd: DB1S000101CS
   -> v_tm_key_day: 20250401

,PRODUCT,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250401,2025-05-14 08:01:40,0,"30,296","26,149","26,149","29,166","29,543","29,341"
1,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250402,2025-05-14 08:01:40,0,"31,654","27,696","27,696","30,634","31,079","30,912"
2,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250403,2025-05-14 08:01:40,0,"32,983","28,551","28,551","31,419","31,883","31,750"
3,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250404,2025-05-14 08:01:40,0,"31,180","27,095","27,095","29,818","30,287","30,148"
4,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250405,2025-05-14 08:01:40,0,"29,816","25,444","25,444","28,195","28,624","28,462"
5,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250406,2025-05-14 08:01:40,0,"30,787","26,792","26,792","29,608","30,019","29,602"
6,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250407,2025-05-14 08:01:40,0,"28,696","24,529","24,529","27,279","27,706","27,588"
7,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250408,2025-05-14 08:01:40,0,"28,663","24,419","24,419","27,203","27,674","27,521"
8,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250409,2025-05-14 08:01:40,0,"30,655","26,616","26,616","29,480","29,956","29,834"
9,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250410,2025-05-14 08:01:40,0,"35,479","31,229","31,229","34,491","34,951","34,782"
10,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250411,2025-05-14 08:01:40,0,"42,148","37,784","37,784","41,015","41,471","41,224"
11,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250412,2025-05-14 08:01:40,0,"41,988","37,191","37,191","40,428","40,827","40,444"
12,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250413,2025-05-14 08:01:40,0,"28,498","24,715","24,715","27,454","27,883","27,543"
13,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250414,2025-05-14 08:01:40,0,"22,206","18,994","18,994","21,442","21,878","21,671"
14,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250415,2025-05-14 08:01:40,0,"20,332","17,143","17,143","19,390","19,748","19,572"
15,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250416,2025-05-14 08:01:40,0,"22,821","19,536","19,536","22,189","22,554","22,385"
16,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250417,2025-05-14 08:01:40,0,"28,835","25,230","25,230","28,118","28,488","28,346"
17,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250418,2025-05-14 08:01:40,0,"32,606","28,935","28,935","31,819","32,200","32,085"
18,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250419,2025-05-14 08:01:40,0,"28,782","25,360","25,360","28,038","28,334","28,182"
19,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250420,2025-05-14 08:01:40,0,"29,717","26,034","26,034","28,936","29,374","29,087"
20,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250421,2025-05-14 08:01:40,0,"32,564","28,251","28,251","31,422","31,801","31,647"
21,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250422,2025-05-14 08:01:40,0,"29,847","25,772","25,772","28,467","28,925","28,793"
22,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250423,2025-05-14 08:01:40,0,"29,447","25,536","25,536","28,206","28,611","28,478"
23,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250424,2025-05-14 08:01:40,0,"31,695","27,983","27,983","30,765","31,171","31,036"
24,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250425,2025-05-14 08:01:40,0,"35,378","31,438","31,438","34,317","34,700","34,573"
25,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250426,2025-05-14 08:01:40,0,"34,899","31,175","31,175","33,890","34,218","34,024"
26,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250427,2025-05-14 08:01:40,0,"32,281","28,589","28,589","31,317","31,662","31,338"
27,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250428,2025-05-14 08:01:40,0,"33,509","29,640","29,640","32,285","32,672","32,542"
28,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250429,2025-05-14 08:01:40,0,"36,129","32,401","32,401","35,165","35,508","35,362"
29,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250430,2025-05-14 08:01:40,0,"44,342","39,860","39,860","43,081","43,488","43,299"
30,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250501,2025-05-14 08:01:40,0,"47,515","42,883","42,883","46,097","46,525","46,159"
31,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250502,2025-05-14 08:01:40,0,"36,964","31,938","31,938","34,870","35,260","35,094"
32,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250503,2025-05-14 08:01:40,0,"30,025","26,208","26,208","28,702","29,035","28,854"
33,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250504,2025-05-14 08:01:40,0,"28,944","25,176","25,176","27,818","28,181","27,813"
34,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250505,2025-05-14 08:01:40,0,"29,462","25,905","25,905","28,463","28,801","28,640"
35,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250506,2025-05-14 08:01:40,0,"32,878","27,671","27,671","30,382","30,767","30,585"
36,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250507,2025-05-14 08:01:40,0,"32,157","27,649","27,649","30,205","30,613","30,482"
37,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250508,2025-05-14 08:01:40,0,"29,878","26,551","26,551","29,071","29,410","29,246"
38,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250509,2025-05-14 08:01:40,0,"31,557","27,978","27,978","30,522","30,789","30,644"
39,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250510,2025-05-14 08:01:40,0,"32,813","28,945","28,945","31,193","31,481","31,366"
40,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250511,2025-05-14 08:01:40,0,"35,715","31,483","31,483","34,210","34,597","34,203"
41,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250512,2025-05-14 08:01:40,0,"28,453","23,824","23,824","26,193","26,609","26,477"

In [33]:
# ''' xB2S010100CS : Postpaid Gross Adds B2C : xxx '''

# v_tm_key_day = 20250401
# v_metric_cd = ['DB2S010100CS', 'TB2S010100CS']
# print(f'\nDB2S010100CS : Postpaid Gross Adds : DTAC\nTB2S010100CS : Postpaid Gross Adds : TMH\n')
# print(f'   -> v_metric_cd: {v_metric_cd}')
# print(f'   -> v_tm_key_day: {v_tm_key_day}')

# xB2S010100CS_day_df = chk_src_df.copy()
# xB2S010100CS_day_df = xB2S010100CS_day_df.loc[xB2S010100CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
# xB2S010100CS_day_df = xB2S010100CS_day_df.loc[xB2S010100CS_day_df['METRIC_CD'].isin(v_metric_cd)]
# xB2S010100CS_day_df = xB2S010100CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

# mod_col_list = xB2S010100CS_day_df.iloc[:, 5:12].columns.tolist()
# for col in mod_col_list:
#     xB2S010100CS_day_df[col] = xB2S010100CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
# # xB2S010100CS_day_df
# print(f'\n{xB2S010100CS_day_df.to_string(max_cols=12)}')

In [34]:
''' TB2S010100CS : Postpaid Gross Adds B2C : TMH '''

v_tm_key_day = 20250401
v_metric_cd = 'TB2S010100CS'
print(f'\nTB2S010100CS : Postpaid Gross Adds B2C : TMH\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB2S010100CS_day_df = chk_src_df.copy()
TB2S010100CS_day_df = TB2S010100CS_day_df.loc[TB2S010100CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB2S010100CS_day_df = TB2S010100CS_day_df.loc[TB2S010100CS_day_df['METRIC_CD']==v_metric_cd]
TB2S010100CS_day_df = TB2S010100CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB2S010100CS_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB2S010100CS_day_df[col] = TB2S010100CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB2S010100CS_day_df

TB2S010100CS : Postpaid Gross Adds B2C : TMH

   -> v_metric_cd: TB2S010100CS
   -> v_tm_key_day: 20250401

,PRODUCT,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250401,2025-05-14 08:08:02,0,"5,935","4,519","4,519","4,519","4,519","4,519"
1,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250402,2025-05-14 08:08:02,0,"5,268","3,746","3,746","3,746","3,746","3,746"
2,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250403,2025-05-14 08:08:02,0,"5,044","3,485","3,485","3,485","3,485","3,485"
3,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250404,2025-05-14 08:08:02,0,"5,261","3,575","3,575","3,575","3,575","3,575"
4,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250405,2025-05-14 08:08:02,0,"5,445","3,882","3,882","3,882","3,882","3,882"
5,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250406,2025-05-14 08:08:02,0,"5,930","4,442","4,442","4,442","4,442","4,442"
6,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250407,2025-05-14 08:08:02,0,"5,016","3,280","3,280","3,280","3,280","3,280"
7,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250408,2025-05-14 08:08:02,0,"4,969","3,351","3,351","3,351","3,351","3,351"
8,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250409,2025-05-14 08:08:02,0,"6,425","4,615","4,615","4,615","4,615","4,615"
9,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250410,2025-05-14 08:08:02,0,"5,609","3,779","3,779","3,779","3,779","3,779"
10,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250411,2025-05-14 08:08:02,0,"5,506","3,657","3,657","3,657","3,657","3,657"
11,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250412,2025-05-14 08:08:02,0,"5,130","3,682","3,682","3,682","3,682","3,682"
12,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250413,2025-05-14 08:08:02,0,"2,428","2,355","2,355","2,355","2,355","2,355"
13,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250414,2025-05-14 08:08:02,0,"2,422","2,344","2,344","2,344","2,344","2,344"
14,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250415,2025-05-14 08:08:02,0,"2,303","2,227","2,227","2,227","2,227","2,227"
15,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250416,2025-05-14 08:08:02,0,"4,292","2,992","2,992","2,992","2,992","2,992"
16,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250417,2025-05-14 08:08:02,0,"4,905","3,403","3,403","3,403","3,403","3,403"
17,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250418,2025-05-14 08:08:02,0,"6,731","5,003","5,003","5,003","5,003","5,003"
18,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250419,2025-05-14 08:08:02,0,"4,936","3,403","3,403","3,403","3,403","3,403"
19,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250420,2025-05-14 08:08:02,0,"5,380","3,772","3,772","3,772","3,772","3,772"
20,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250421,2025-05-14 08:08:02,0,"5,070","3,232","3,232","3,232","3,232","3,232"
21,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250422,2025-05-14 08:08:02,0,"6,003","4,088","4,088","4,088","4,088","4,088"
22,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250423,2025-05-14 08:08:02,0,"4,757","3,169","3,169","3,169","3,169","3,169"
23,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250424,2025-05-14 08:08:02,0,"4,916","3,179","3,179","3,179","3,179","3,179"
24,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250425,2025-05-14 08:08:02,0,"5,084","3,608","3,608","3,608","3,608","3,608"
25,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250426,2025-05-14 08:08:02,0,"5,395","3,996","3,996","3,996","3,996","3,996"
26,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250427,2025-05-14 08:08:02,0,"5,396","4,044","4,044","4,044","4,044","4,044"
27,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250428,2025-05-14 08:08:02,0,"4,999","3,651","3,651","3,651","3,651","3,651"
28,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250429,2025-05-14 08:08:02,0,"6,019","4,466","4,466","4,466","4,466","4,466"
29,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250430,2025-05-14 08:08:02,0,"5,626","4,290","4,290","4,290","4,290","4,290"
30,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250501,2025-05-14 08:08:02,0,"4,418","3,627","3,627","3,627","3,627","3,627"
31,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250502,2025-05-14 08:08:02,0,"4,935","3,484","3,484","3,484","3,484","3,484"
32,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250503,2025-05-14 08:08:02,0,"5,251","3,616","3,616","3,616","3,616","3,616"
33,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250504,2025-05-14 08:08:02,0,"5,600","3,947","3,947","3,947","3,947","3,947"
34,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250505,2025-05-14 08:08:02,0,"4,829","3,232","3,232","3,232","3,232","3,232"
35,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250506,2025-05-14 08:08:02,0,"5,306","3,724","3,724","3,724","3,724","3,724"
36,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250507,2025-05-14 08:08:02,0,"5,919","4,226","4,226","4,226","4,226","4,226"
37,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250508,2025-05-14 08:08:02,0,"4,634","3,008","3,008","3,008","3,008","3,008"
38,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250509,2025-05-14 08:08:02,0,"4,458","1,997","1,997","1,997","1,997","1,997"
39,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250510,2025-05-14 08:08:02,0,"4,254","2,097","2,097","2,097","2,097","2,097"
40,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250511,2025-05-14 08:08:02,0,"4,878","2,764","2,764","2,764","2,764","2,764"
41,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250512,2025-05-14 08:08:02,0,"4,471","2,229","2,229","2,229","2,229","2,229"
42,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250513,2025-05-14 08:08:02,0,"5,609","3,892","3,892","3,892","3,892","3,892"

In [35]:
''' DB2S010100CS : Postpaid Gross Adds B2C : DTAC '''

v_tm_key_day = 20250401
v_metric_cd = 'DB2S010100CS'
print(f'\nDB2S010100CS : Postpaid Gross Adds B2C : DTAC\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

DB2S010100CS_day_df = chk_src_df.copy()
DB2S010100CS_day_df = DB2S010100CS_day_df.loc[DB2S010100CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
DB2S010100CS_day_df = DB2S010100CS_day_df.loc[DB2S010100CS_day_df['METRIC_CD']==v_metric_cd]
DB2S010100CS_day_df = DB2S010100CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = DB2S010100CS_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    DB2S010100CS_day_df[col] = DB2S010100CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
DB2S010100CS_day_df

DB2S010100CS : Postpaid Gross Adds B2C : DTAC

   -> v_metric_cd: DB2S010100CS
   -> v_tm_key_day: 20250401

,PRODUCT,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250401,2025-05-14 08:08:02,0,"1,274","1,267","1,267","1,267","1,267","1,267"
1,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250402,2025-05-14 08:08:02,0,"1,395","1,386","1,386","1,386","1,386","1,386"
2,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250403,2025-05-14 08:08:02,0,"2,263","2,242","2,242","2,242","2,242","2,242"
3,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250404,2025-05-14 08:08:02,0,"2,199","2,170","2,170","2,170","2,170","2,170"
4,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250405,2025-05-14 08:08:02,0,"1,785","1,777","1,777","1,777","1,777","1,777"
5,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250406,2025-05-14 08:08:02,0,"1,095","1,091","1,091","1,091","1,091","1,091"
6,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250407,2025-05-14 08:08:02,0,"1,564","1,555","1,555","1,555","1,555","1,555"
7,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250408,2025-05-14 08:08:02,0,"1,741","1,730","1,730","1,730","1,730","1,730"
8,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250409,2025-05-14 08:08:02,0,"1,981","1,971","1,971","1,971","1,971","1,971"
9,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250410,2025-05-14 08:08:02,0,"1,563","1,555","1,555","1,555","1,555","1,555"
10,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250411,2025-05-14 08:08:02,0,"1,528","1,520","1,520","1,520","1,520","1,520"
11,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250412,2025-05-14 08:08:02,0,"1,336","1,325","1,325","1,325","1,325","1,325"
12,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250413,2025-05-14 08:08:02,0,344,342,342,342,342,342
13,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250414,2025-05-14 08:08:02,0,325,324,324,324,324,324
14,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250415,2025-05-14 08:08:02,0,382,382,382,382,382,382
15,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250416,2025-05-14 08:08:02,0,"1,330","1,318","1,318","1,318","1,318","1,318"
16,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250417,2025-05-14 08:08:02,0,"1,777","1,771","1,771","1,771","1,771","1,771"
17,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250418,2025-05-14 08:08:02,0,"2,099","2,088","2,088","2,088","2,088","2,088"
18,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250419,2025-05-14 08:08:02,0,"1,891","1,878","1,878","1,878","1,878","1,878"
19,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250420,2025-05-14 08:08:02,0,"1,351","1,346","1,346","1,346","1,346","1,346"
20,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250421,2025-05-14 08:08:02,0,"1,762","1,750","1,750","1,750","1,750","1,750"
21,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250422,2025-05-14 08:08:02,0,"1,920","1,908","1,908","1,908","1,908","1,908"
22,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250423,2025-05-14 08:08:02,0,"1,668","1,656","1,656","1,656","1,656","1,656"
23,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250424,2025-05-14 08:08:02,0,"1,517","1,505","1,505","1,505","1,505","1,505"
24,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250425,2025-05-14 08:08:02,0,"2,111","2,102","2,102","2,102","2,102","2,102"
25,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250426,2025-05-14 08:08:02,0,"1,916","1,899","1,899","1,899","1,899","1,899"
26,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250427,2025-05-14 08:08:02,0,"1,293","1,287","1,287","1,287","1,287","1,287"
27,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250428,2025-05-14 08:08:02,0,"1,178","1,170","1,170","1,170","1,170","1,170"
28,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250429,2025-05-14 08:08:02,0,"1,283","1,274","1,274","1,274","1,274","1,274"
29,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250430,2025-05-14 08:08:02,0,"1,196","1,187","1,187","1,187","1,187","1,187"
30,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250501,2025-05-14 08:08:02,0,"2,274","2,258","2,258","2,258","2,258","2,258"
31,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250502,2025-05-14 08:08:02,0,"1,486","1,475","1,475","1,475","1,475","1,475"
32,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250503,2025-05-14 08:08:02,0,"1,367","1,357","1,357","1,357","1,357","1,357"
33,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250504,2025-05-14 08:08:02,0,992,989,989,989,989,989
34,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250505,2025-05-14 08:08:02,0,"1,605","1,591","1,591","1,591","1,591","1,591"
35,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250506,2025-05-14 08:08:02,0,"1,911","1,902","1,902","1,902","1,902","1,902"
36,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250507,2025-05-14 08:08:02,0,"1,822","1,808","1,808","1,808","1,808","1,808"
37,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250508,2025-05-14 08:08:02,0,"1,661","1,640","1,640","1,640","1,640","1,640"
38,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250509,2025-05-14 08:08:02,0,"1,892","1,874","1,874","1,874","1,874","1,874"
39,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250510,2025-05-14 08:08:02,0,"1,704","1,689","1,689","1,689","1,689","1,689"
40,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250511,2025-05-14 08:08:02,0,859,854,854,854,854,854
41,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250512,2025-05-14 08:08:02,0,"1,630","1,623","1,623","1,623","1,623","1,623"

In [19]:
''' TB3S000102CS : TOL Gross Adds Connected : Consumer '''

v_tm_key_day = 20250401
v_metric_cd = 'TB3S000102CS'
print(f'\nTB3S000102CS : TOL Gross Adds Connected : Consumer\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB3S000102CS_day_df = chk_src_df.copy()
TB3S000102CS_day_df = TB3S000102CS_day_df.loc[TB3S000102CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB3S000102CS_day_df = TB3S000102CS_day_df.loc[TB3S000102CS_day_df['METRIC_CD']==v_metric_cd]
TB3S000102CS_day_df = TB3S000102CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB3S000102CS_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB3S000102CS_day_df[col] = TB3S000102CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB3S000102CS_day_df

TB3S000102CS : TOL Gross Adds Connected : Consumer

   -> v_metric_cd: TB3S000102CS
   -> v_tm_key_day: 20250401

,PRODUCT,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250401,2025-05-14 08:00:16,0,"1,788","1,487","1,487","1,476","1,487","1,487"
1,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250402,2025-05-14 08:00:16,0,"1,737","1,410","1,410","1,397","1,410","1,410"
2,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250403,2025-05-14 08:00:16,0,"1,803","1,466","1,466","1,448","1,466","1,466"
3,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250404,2025-05-14 08:00:16,0,"1,803","1,416","1,416","1,401","1,416","1,416"
4,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250405,2025-05-14 08:00:16,0,"1,878","1,402","1,402","1,389","1,402","1,402"
5,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250406,2025-05-14 08:00:16,0,"1,796","1,348","1,348","1,336","1,348","1,348"
6,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250407,2025-05-14 08:00:16,0,"1,755","1,339","1,339","1,323","1,339","1,339"
7,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250408,2025-05-14 08:00:16,0,"1,865","1,505","1,505","1,489","1,505","1,505"
8,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250409,2025-05-14 08:00:16,0,"1,869","1,501","1,501","1,488","1,501","1,501"
9,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250410,2025-05-14 08:00:16,0,"1,829","1,445","1,445","1,423","1,445","1,445"
10,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250411,2025-05-14 08:00:16,0,"1,872","1,452","1,452","1,438","1,452","1,452"
11,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250412,2025-05-14 08:00:16,0,"1,648","1,162","1,162","1,144","1,162","1,162"
12,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250413,2025-05-14 08:00:16,0,36,32,32,32,32,32
13,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250414,2025-05-14 08:00:16,0,18,14,14,13,14,14
14,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250415,2025-05-14 08:00:16,0,21,18,18,18,18,18
15,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250416,2025-05-14 08:00:16,0,"1,095",842,842,833,842,842
16,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250417,2025-05-14 08:00:16,0,"1,524","1,189","1,189","1,182","1,189","1,189"
17,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250418,2025-05-14 08:00:16,0,"1,719","1,373","1,373","1,360","1,373","1,373"
18,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250419,2025-05-14 08:00:16,0,"1,888","1,410","1,410","1,390","1,410","1,410"
19,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250420,2025-05-14 08:00:16,0,"1,820","1,316","1,316","1,297","1,316","1,316"
20,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250421,2025-05-14 08:00:16,0,"1,887","1,484","1,484","1,463","1,484","1,484"
21,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250422,2025-05-14 08:00:16,0,"1,880","1,496","1,496","1,479","1,496","1,496"
22,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250423,2025-05-14 08:00:16,0,"1,835","1,485","1,485","1,475","1,485","1,485"
23,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250424,2025-05-14 08:00:16,0,"1,767","1,406","1,406","1,396","1,406","1,406"
24,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250425,2025-05-14 08:00:16,0,"1,823","1,455","1,455","1,446","1,455","1,455"
25,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250426,2025-05-14 08:00:16,0,"1,968","1,467","1,467","1,455","1,467","1,467"
26,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250427,2025-05-14 08:00:16,0,"1,773","1,331","1,331","1,325","1,331","1,331"
27,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250428,2025-05-14 08:00:16,0,"1,839","1,468","1,468","1,457","1,468","1,468"
28,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250429,2025-05-14 08:00:16,0,"1,987","1,600","1,600","1,587","1,600","1,600"
29,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250430,2025-05-14 08:00:16,0,"1,958","1,603","1,603","1,590","1,603","1,603"
30,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250501,2025-05-14 08:00:16,0,72,62,62,62,62,62
31,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250502,2025-05-14 08:00:16,0,"1,859","1,519","1,519","1,496","1,519","1,519"
32,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250503,2025-05-14 08:00:16,0,"1,982","1,562","1,562","1,548","1,562","1,562"
33,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250504,2025-05-14 08:00:16,0,"1,803","1,398","1,398","1,387","1,398","1,398"
34,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250505,2025-05-14 08:00:16,0,"1,908","1,536","1,536","1,520","1,536","1,536"
35,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250506,2025-05-14 08:00:16,0,"1,950","1,620","1,620","1,602","1,620","1,620"
36,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250507,2025-05-14 08:00:16,0,"1,882","1,540","1,540","1,522","1,540","1,540"
37,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250508,2025-05-14 08:00:16,0,"1,857","1,498","1,498","1,482","1,498","1,498"
38,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250509,2025-05-14 08:00:16,0,"1,903","1,546","1,546","1,538","1,546","1,546"
39,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250510,2025-05-14 08:00:16,0,"1,676","1,280","1,280","1,269","1,280","1,280"
40,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250511,2025-05-14 08:00:16,0,"1,701","1,255","1,255","1,246","1,255","1,255"
41,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250512,2025-05-14 08:00:16,0,"1,654","1,295","1,295","1,288","1,295","1,295"
42,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250513,2025-05-14 08:00:16,0,"1,813","1,462","1,462","1,443","1,462","1,462"

In [20]:
''' TB4S001400CS : TVS Now Gross Adds '''

v_tm_key_day = 20250401
v_metric_cd = 'TB4S001400CS'
print(f'\nTB4S001400CS : TVS Now Gross Adds\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB4S001400CS_day_df = chk_src_df.copy()
TB4S001400CS_day_df = TB4S001400CS_day_df.loc[TB4S001400CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB4S001400CS_day_df = TB4S001400CS_day_df.loc[TB4S001400CS_day_df['METRIC_CD']==v_metric_cd]
TB4S001400CS_day_df = TB4S001400CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB4S001400CS_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB4S001400CS_day_df[col] = TB4S001400CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB4S001400CS_day_df

TB4S001400CS : TVS Now Gross Adds

   -> v_metric_cd: TB4S001400CS
   -> v_tm_key_day: 20250401

,PRODUCT,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,TVS,TB4S001400CS,TVS Now Gross Adds,20250401,2025-05-14 08:11:12,0,28,28,28,28,28,28
1,TVS,TB4S001400CS,TVS Now Gross Adds,20250402,2025-05-14 08:11:12,0,30,30,30,30,30,30
2,TVS,TB4S001400CS,TVS Now Gross Adds,20250403,2025-05-14 08:11:12,0,37,37,37,37,37,37
3,TVS,TB4S001400CS,TVS Now Gross Adds,20250404,2025-05-14 08:11:12,0,59,59,59,59,59,59
4,TVS,TB4S001400CS,TVS Now Gross Adds,20250405,2025-05-14 08:11:12,0,61,61,61,61,61,61
5,TVS,TB4S001400CS,TVS Now Gross Adds,20250406,2025-05-14 08:11:12,0,81,81,81,81,81,81
6,TVS,TB4S001400CS,TVS Now Gross Adds,20250407,2025-05-14 08:11:12,0,38,38,38,38,38,38
7,TVS,TB4S001400CS,TVS Now Gross Adds,20250408,2025-05-14 08:11:12,0,39,37,37,37,37,37
8,TVS,TB4S001400CS,TVS Now Gross Adds,20250409,2025-05-14 08:11:12,0,58,58,58,58,58,58
9,TVS,TB4S001400CS,TVS Now Gross Adds,20250410,2025-05-14 08:11:12,0,67,67,67,67,67,67
10,TVS,TB4S001400CS,TVS Now Gross Adds,20250411,2025-05-14 08:11:12,0,112,112,112,112,112,112
11,TVS,TB4S001400CS,TVS Now Gross Adds,20250412,2025-05-14 08:11:12,0,96,95,95,95,95,95
12,TVS,TB4S001400CS,TVS Now Gross Adds,20250413,2025-05-14 08:11:12,0,45,45,45,45,45,45
13,TVS,TB4S001400CS,TVS Now Gross Adds,20250414,2025-05-14 08:11:12,0,35,35,35,35,35,35
14,TVS,TB4S001400CS,TVS Now Gross Adds,20250415,2025-05-14 08:11:12,0,50,50,50,50,50,50
15,TVS,TB4S001400CS,TVS Now Gross Adds,20250416,2025-05-14 08:11:12,0,70,70,70,70,70,70
16,TVS,TB4S001400CS,TVS Now Gross Adds,20250417,2025-05-14 08:11:12,0,91,91,91,91,91,91
17,TVS,TB4S001400CS,TVS Now Gross Adds,20250418,2025-05-14 08:11:12,0,67,67,67,67,67,67
18,TVS,TB4S001400CS,TVS Now Gross Adds,20250419,2025-05-14 08:11:12,0,78,78,78,78,78,78
19,TVS,TB4S001400CS,TVS Now Gross Adds,20250420,2025-05-14 08:11:12,0,105,104,104,104,104,104
20,TVS,TB4S001400CS,TVS Now Gross Adds,20250421,2025-05-14 08:11:12,0,80,80,80,80,80,80
21,TVS,TB4S001400CS,TVS Now Gross Adds,20250422,2025-05-14 08:11:12,0,83,83,83,83,83,83
22,TVS,TB4S001400CS,TVS Now Gross Adds,20250423,2025-05-14 08:11:12,0,96,95,95,95,95,95
23,TVS,TB4S001400CS,TVS Now Gross Adds,20250424,2025-05-14 08:11:12,0,66,66,66,66,66,66
24,TVS,TB4S001400CS,TVS Now Gross Adds,20250425,2025-05-14 08:11:12,0,90,90,90,90,90,90
25,TVS,TB4S001400CS,TVS Now Gross Adds,20250426,2025-05-14 08:11:12,0,108,108,108,108,108,108
26,TVS,TB4S001400CS,TVS Now Gross Adds,20250427,2025-05-14 08:11:12,0,93,93,93,93,93,93
27,TVS,TB4S001400CS,TVS Now Gross Adds,20250428,2025-05-14 08:11:12,0,104,104,104,104,104,104
28,TVS,TB4S001400CS,TVS Now Gross Adds,20250429,2025-05-14 08:11:12,0,156,155,155,155,155,155
29,TVS,TB4S001400CS,TVS Now Gross Adds,20250430,2025-05-14 08:11:12,0,228,228,228,228,228,228
30,TVS,TB4S001400CS,TVS Now Gross Adds,20250501,2025-05-14 08:11:12,0,76,76,76,76,76,76
31,TVS,TB4S001400CS,TVS Now Gross Adds,20250502,2025-05-14 08:11:12,0,65,65,65,65,65,65
32,TVS,TB4S001400CS,TVS Now Gross Adds,20250503,2025-05-14 08:11:12,0,68,68,68,68,68,68
33,TVS,TB4S001400CS,TVS Now Gross Adds,20250504,2025-05-14 08:11:12,0,76,76,76,76,76,76
34,TVS,TB4S001400CS,TVS Now Gross Adds,20250505,2025-05-14 08:11:12,0,77,75,75,75,75,75
35,TVS,TB4S001400CS,TVS Now Gross Adds,20250506,2025-05-14 08:11:12,0,59,59,59,59,59,59
36,TVS,TB4S001400CS,TVS Now Gross Adds,20250507,2025-05-14 08:11:12,0,52,52,52,52,52,52
37,TVS,TB4S001400CS,TVS Now Gross Adds,20250508,2025-05-14 08:11:12,0,73,73,73,73,73,73
38,TVS,TB4S001400CS,TVS Now Gross Adds,20250509,2025-05-14 08:11:12,0,77,77,77,77,77,77
39,TVS,TB4S001400CS,TVS Now Gross Adds,20250510,2025-05-14 08:11:12,0,87,87,87,87,87,87
40,TVS,TB4S001400CS,TVS Now Gross Adds,20250511,2025-05-14 08:11:12,0,64,64,64,64,64,64
41,TVS,TB4S001400CS,TVS Now Gross Adds,20250512,2025-05-14 08:11:12,0,57,57,57,57,57,57

## Actual : Issue
->  DIM_CORP_KPI

In [21]:
# ''' Execute Issue by case '''


# # Input parameter
# curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
# # v_start_date = 20250101
# print(f'\nParameter input...\n')
# # print(f'   -> v_start_date: {v_start_date}')


# # Connect : TDMDBPR
# src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
# src_conn = oracledb.connect(src_dsn)
# print(f'\n{TDMDBPR_db} : Connected')
# src_cur = src_conn.cursor()
# query = (f"""
#     SELECT /*+PARALLEL(8)*/ T.TM_KEY_DAY AS TM_KEY_MTH
#         , T.METRIC_CD, T.METRIC_NAME, T.AREA_TYPE, T.AREA_CD, T.AREA_DESC
#         , T.METRIC_VALUE AS TARGET
#         , A.ACTUAL
#         , O.ORGID_P, O.ZONE_TYPE, O.ORGID_G, O.TDS_SGMD, O.ORGID_H, O.HOP_HINT, O.ORGID_HH, O.D_CLUSTER
        
#     FROM CDSAPPO.DIM_CORP_TARGET T

#     LEFT JOIN (
#         SELECT SUBSTR(TM_KEY_DAY,1,6) AS TM_KEY_MTH
#             , PRODUCT, METRIC_CD, METRIC_NAME, AREA_TYPE, AREA_CD, AREA_DESC
#             , SUM(METRIC_VALUE) AS ACTUAL, MAX(LOAD_DATE) LOAD_DATE
#         FROM CDSAPPO.DIM_CORP_KPI
#         WHERE METRIC_CD = 'TB3S000102CS' --TOL Gross Adds Connected : Consumer
#         AND AREA_TYPE = 'CCAA'
#         AND TM_KEY_DAY >= 20250101
#         GROUP BY SUBSTR(TM_KEY_DAY,1,6), PRODUCT, METRIC_CD, METRIC_NAME, AREA_TYPE, AREA_CD, AREA_DESC
#     ) A
#         ON A.METRIC_CD = T.METRIC_CD
#         AND A.AREA_CD = T.AREA_CD
#         AND A.TM_KEY_MTH = T.TM_KEY_DAY
        
#     LEFT JOIN (
#         SELECT DISTINCT ORGID_P, ZONE_TYPE, ORGID_G, TDS_SGMD, ORGID_H, HOP_HINT, ORGID_HH, D_CLUSTER
#             , SUBSTR(CCAATT,1,2) AS PROVINCE_CD, PROVINCE_ENG 
#             , SUBSTR(CCAATT,1,4) AS CCAA, DISTRICT_EN
#         FROM CDSAPPO.DIM_MOOC_AREA NOLOCK
#         WHERE TEAM_CODE <> 'ไม่ระบุ' AND REMARK <> 'Dummy'
#     ) O
#         ON O.CCAA = T.AREA_CD

#     WHERE T.METRIC_CD = 'TB3S000102CS'
#     AND T.AREA_TYPE = 'CCAA'
#     AND T.TM_KEY_DAY >= 202501

#     --ORDER BY T.TM_KEY_DAY, T.METRIC_CD, T.AREA_TYPE, O.ZONE_TYPE, O.ORGID_G, O.ORGID_H, O.ORGID_HH
# """)


# try:
#     execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
#     print(f'\n   -> Execute query... {execute_datetime}')

#     # Get : Summary DataFrame
#     src_cur.execute(query)
#     rows = src_cur.fetchall()
#     chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
#     print(f'\n   -> Issue DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

#     src_cur.close()


# except oracledb.DatabaseError as e:
#     print(f'\nError with Oracle : {e}')


# finally:
#     src_conn.close()
#     print(f'\n{TDMDBPR_db} : Disconnected')

In [22]:
# ''' TB3S000102CS : TOL Gross Adds Connected : Consumer '''

# v_tm_key_mth = 202501
# # v_metric_cd = 'TB3S000102CS'
# print(f'\nTB3S000102CS : TOL Gross Adds Connected : Consumer\n')
# # print(f'   -> v_metric_cd: {v_metric_cd}')
# print(f'   -> v_tm_key_mth: {v_tm_key_mth}')

# TB3S000102CS_issue_df = chk_src_df.copy()
# TB3S000102CS_issue_df = TB3S000102CS_issue_df.loc[TB3S000102CS_issue_df['TM_KEY_MTH']==v_tm_key_mth]
# TB3S000102CS_issue_df = TB3S000102CS_issue_df.loc[TB3S000102CS_issue_df['ACTUAL'] > 0]
# # TB3S000102CS_issue_df = TB3S000102CS_issue_df.loc[TB3S000102CS_issue_df['ACTUAL'].isna()]
# # TB3S000102CS_issue_df = TB3S000102CS_issue_df.loc[TB3S000102CS_issue_df['METRIC_CD']==v_metric_cd]
# TB3S000102CS_issue_df = TB3S000102CS_issue_df.fillna(0).sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)

# mod_col_list = TB3S000102CS_issue_df.iloc[:, 6:8].columns.tolist()
# for col in mod_col_list:
#     TB3S000102CS_issue_df[col] = TB3S000102CS_issue_df[col].apply(lambda x: format(x, ',.0f'))
    
# # TB3S000102CS_issue_df
# print(f'\n{TB3S000102CS_issue_df.to_string(max_cols=100)}')

## Output File
->  DIM_CORP_KPI

In [23]:
# ''' Execute Sales Monthly '''


# # Input parameter
# curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
# v_start_date = 20240101
# print(f'\nParameter input...\n')
# print(f'   -> v_start_date: {v_start_date}')


# # Connect : TDMDBPR
# src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
# src_conn = oracledb.connect(src_dsn)
# print(f'\n{TDMDBPR_db} : Connected')
# src_cur = src_conn.cursor()
# query = (f"""
#     SELECT /*+PARALLEL(8)*/ 
#         SUBSTR(TM_KEY_DAY,1,4) AS TM_KEY_YR, SUBSTR(TM_KEY_DAY,1,6) AS TM_KEY_MTH
#         , CASE WHEN REGEXP_LIKE(METRIC_CD, 'CS$|CG$') THEN 'Y2025' ELSE 'Y2024' END VER_FLAG
#         , PRODUCT, COMP_CD, METRIC_CD, METRIC_NAME, REMARK, UPD_TM, PPN_TM
#         , SUM(CASE WHEN AREA_TYPE = 'P' THEN METRIC_VALUE END) P_ACTUAL
#         , SUM(CASE WHEN AREA_TYPE = 'G' THEN METRIC_VALUE END) G
#         , SUM(CASE WHEN AREA_TYPE = 'H' THEN METRIC_VALUE END) H
#         , SUM(CASE WHEN AREA_TYPE = 'HH' THEN METRIC_VALUE END) HH
#         , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN METRIC_VALUE END) CCAA
#         , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN METRIC_VALUE END) CCAATT
#         , SUM(CASE WHEN AREA_CD = '016' THEN METRIC_VALUE END) "016"
#         , SUM(CASE WHEN AREA_CD = '040' THEN METRIC_VALUE END) "040"
#         , SUM(CASE WHEN AREA_CD = '080' THEN METRIC_VALUE END) "080"
#         , MIN(TM_KEY_DAY) AS START_DAY, MAX(TM_KEY_DAY) AS END_DAY, MAX(LOAD_DATE) LOAD_DATE
#     FROM CDSAPPO.DIM_CORP_KPI
#     WHERE METRIC_CD NOT LIKE 'Error%'
#     AND EXISTS (
#         SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
#         FROM (
#             SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#         ) TMP
#         WHERE TMP_CD = AREA_CD )
#     AND TM_KEY_DAY >= {v_start_date}
#     GROUP BY SUBSTR(TM_KEY_DAY,1,4), SUBSTR(TM_KEY_DAY,1,6), PRODUCT, COMP_CD, METRIC_CD, METRIC_NAME, REMARK, UPD_TM, PPN_TM
#     --ORDER BY 2, 3, PRODUCT, COMP_CD, METRIC_CD 
# """)


# try:
#     execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
#     print(f'\n   -> Execute query... {execute_datetime}')

#     # Get : Sales Monthly DataFrame
#     src_cur.execute(query)
#     rows = src_cur.fetchall()
#     monthly_sales_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
#     print(f'\n   -> Sales Monthly DataFrame : {monthly_sales_df.shape[0]} rows, {monthly_sales_df.shape[1]} columns')

#     src_cur.close()


# except oracledb.DatabaseError as e:
#     print(f'\nError with Oracle : {e}')


# finally:
#     src_conn.close()
#     print(f'\n{TDMDBPR_db} : Disconnected')

In [24]:
# ''' Generate CSV file '''

# op_dir = 'data'
# op_monthly_file = f'sales_monthly_{str_curr_dt}'

# monthly_sales_df.to_csv(f'{op_dir}/tmp_{op_monthly_file}.csv', index=False, encoding='utf-8')
# print(f'\n   -> Generate "tmp_{op_monthly_file}.csv" successfully')

# monthly_sales_df.tail(3)