# * Ex-T Revenue & Subs

## Parameter

In [1]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

pd.set_option('future.no_silent_downcasting', True)

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

## Actual : Monitoring
->  FCT_KPI_NEWCO_PERF_ACTUAL

In [88]:
''' Execute Summany Data '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20240101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/ 
        SUBSTR(TM_KEY_DAY,1,6) AS TM_KEY_MTH, REMARK, METRIC_CD, METRIC_NAME
        , MAX(LOAD_DATE) LOAD_DATE, MIN(TM_KEY_DAY) AS START_DAY, MAX(TM_KEY_DAY) AS END_DAY
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN ACTUAL END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN ACTUAL END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN ACTUAL END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN ACTUAL END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN ACTUAL END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN ACTUAL END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN ACTUAL END) CCAATT
        , COUNT(DISTINCT AREA_TYPE) CNT_AREA_TYPE, COUNT(DISTINCT AREA_CD) CNT_AREA_CD, COUNT(1) ROW_CNT
    FROM (
        SELECT TM_KEY_DAY
            , CASE 	WHEN METRIC_CD LIKE 'TB%S%' 
                    THEN ROW_NUMBER() OVER (PARTITION BY SUBSTR(TM_KEY_DAY,1,6), METRIC_CD, AREA_CD ORDER BY TM_KEY_DAY DESC)
                    ELSE 1 END FLAG
            , CASE WHEN METRIC_CD LIKE 'TB%S%' THEN 'SUB' ELSE 'REV' END AGG_TYPE
            , METRIC_CD, METRIC_NAME, ACTUAL, COMP_CD, VERSION, AREA_CD, AREA_DESC, AREA_TYPE, LOAD_DATE, REMARK, SRC
        FROM GEOSPCAPPO.FCT_KPI_NEWCO_PERF_ACTUAL
        WHERE REMARK IN ('salisa', 'jutar11')
        AND NOT REGEXP_LIKE(METRIC_CD, '^TCAP|CORP$')
        AND EXISTS (
            SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
            FROM (
                SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            ) TMP
            WHERE TMP_CD = AREA_CD )
        AND TM_KEY_DAY >= {v_start_date} 
    ) TMP
    WHERE FLAG = 1
    GROUP BY REMARK, METRIC_CD, METRIC_NAME, SUBSTR(TM_KEY_DAY,1,6)
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Summany DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Summany DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20240101

TDMDBPR : Connected

   -> Execute query... 2025-03-07, 15:41:54

   -> Summany DataFrame : 418 rows, 17 columns

TDMDBPR : Disconnected

In [89]:
''' Revenue Summary '''

rev_metric_list = ['TB1R000100', 'TB2R000100', 'TB2R010100', 'TB2R020100', 'TB3R000100', 'TB4R000100']

src_t_rev_overall_df = chk_src_df.copy()
src_t_rev_overall_df = src_t_rev_overall_df.loc[src_t_rev_overall_df['METRIC_CD'].isin(rev_metric_list)]
src_t_rev_overall_df = src_t_rev_overall_df.groupby(['METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_t_rev_overall_df = src_t_rev_overall_df.fillna(0).sort_values(by=['METRIC_CD']).reset_index()

mod_col_list = src_t_rev_overall_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    src_t_rev_overall_df[col] = src_t_rev_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_t_rev_overall_df

,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,TB1R000100,Prepay Revenue,2025-03-06 04:49:46,20240101,20250303,0,0,"32,507,356,711","32,929,336,765","32,929,336,765","32,791,810,622",0,5,1104,472512
1,TB2R000100,Postpaid Revenue,2025-03-06 04:21:54,20240102,20250302,0,"52,440,905,813","51,610,444,949","51,941,749,205","51,941,749,205",0,0,5,177,24780
2,TB2R010100,Postpaid Revenue B2C,2025-03-06 04:22:46,20240102,20250302,0,"46,592,860,860","46,111,830,779","46,422,206,696","46,422,220,274","46,088,062,758",0,6,1105,149337
3,TB2R020100,Postpaid Revenue B2B,2025-03-06 04:22:27,20240102,20250302,0,"5,848,044,953","5,498,614,170","5,519,542,509","5,519,542,509",0,0,5,177,24780
4,TB3R000100,Broadband Revenue,2025-03-06 05:05:37,20240102,20250302,0,0,"22,069,767,152","22,069,767,152","22,069,333,729","22,069,810,993",0,5,1102,139820
5,TB4R000100,TVS Revenue,2025-02-24 05:11:52,20240102,20250222,0,0,"4,473,373,056","4,393,644,139","4,454,528,153","2,578,822,829",0,5,1104,105949

In [90]:
''' Subscription Summary '''

sub_metric_list = ['TB1S000500', 'TB1S000600', 'TB2S000500', 'TB2S010500', 'TB2S020400', 'TB3S000500', 'TB4S000500']

src_t_sub_overall_df = chk_src_df.copy()
src_t_sub_overall_df = src_t_sub_overall_df.loc[src_t_sub_overall_df['METRIC_CD'].isin(sub_metric_list)]
src_t_sub_overall_df = src_t_sub_overall_df.groupby(['METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_t_sub_overall_df = src_t_sub_overall_df.fillna(0).sort_values(by=['METRIC_CD']).reset_index()

mod_col_list = src_t_sub_overall_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    src_t_sub_overall_df[col] = src_t_sub_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_t_sub_overall_df

,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,TB1S000500,Prepay Usage Subs,2025-03-06 04:51:35,20240131,20250304,0,0,"264,510,943","264,709,114","264,709,114","263,785,801",0,5,1104,16560
1,TB1S000600,Prepay Active Caller Subs,2025-03-06 04:51:39,20240131,20250304,0,"216,778,417","213,897,902","215,486,342","215,486,720","214,740,865",0,6,1105,16575
2,TB2S000500,Postpaid Active Subs,2025-03-06 05:03:24,20240131,20250305,0,"150,491,715","148,263,282","149,118,911","149,119,250","148,029,917",0,6,1105,16575
3,TB2S010500,Postpaid Active Subs B2C,2025-03-06 05:04:36,20240131,20250305,0,"133,487,381","132,599,644","133,377,219","133,377,557","123,918,928",0,6,1105,16575
4,TB2S020400,Postpaid Active Subs B2B,2025-03-06 05:02:36,20240131,20250305,0,"17,004,334","15,663,638","15,741,692","15,741,693",0,0,5,177,2655
5,TB3S000500,Broadband Active Subs,2025-03-06 04:55:27,20240131,20250305,0,0,"45,871,255","45,889,467","45,889,467","45,898,501",0,5,1102,16514
6,TB4S000500,TVS Active Subs,2025-03-06 04:55:39,20240131,20250305,0,0,"18,244,939","18,242,747","18,242,747","19,463,997",0,5,8408,23864

In [91]:
''' METRIC Summary '''

src_t_rev_mth_df = chk_src_df.copy()
src_t_rev_mth_df = src_t_rev_mth_df.groupby(['REMARK', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'P':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_t_rev_mth_df = src_t_rev_mth_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD']).reset_index()

mod_col_list = src_t_rev_mth_df.iloc[:, 6:7].columns.tolist()
for col in mod_col_list:
    src_t_rev_mth_df[col] = src_t_rev_mth_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\n{src_t_rev_mth_df.to_string(max_cols=10)}')

     REMARK      METRIC_CD                 METRIC_NAME           LOAD_DATE  START_DAY   END_DAY                  P  CNT_AREA_TYPE  CNT_AREA_CD  ROW_CNT
0   jutar11     TB1R000100              Prepay Revenue 2025-03-06 04:49:46   20240101  20250303                  0              5         1104   472512
1   jutar11     TB1R000101          Prepay New Revenue 2025-03-06 04:47:09   20240101  20250303                  0              4          176    75328
2   jutar11     TB1R000102     Prepay Existing Revenue 2025-03-06 04:48:41   20240101  20250303                  0              4          176    75328
3   jutar11     TB1S000500           Prepay Usage Subs 2025-03-06 04:51:35   20240131  20250304                  0              5         1104    16560
4   jutar11     TB1S000600   Prepay Active Caller Subs 2025-03-06 04:51:39   20240131  20250304        216,778,417              6         1105    16575
5   jutar11     TB2R000100            Postpaid Revenue 2025-03-06 04:21:54   20240102  20250302     52,440,905,813              5          177    24780
6   jutar11     TB2R000101        Postpaid New Revenue 2025-03-06 04:22:01   20240102  20250302                  0              4          176    24288
7   jutar11     TB2R000102   Postpaid Existing Revenue 2025-03-06 04:22:09   20240102  20250302     47,943,946,849              5          177    24780
8   jutar11     TB2R010100        Postpaid Revenue B2C 2025-03-06 04:22:46   20240102  20250302     46,592,860,860              6         1105   149337
9   jutar11     TB2R020100        Postpaid Revenue B2B 2025-03-06 04:22:27   20240102  20250302      5,848,044,953              5          177    24780
10  jutar11  TB2R020100SMB  Postpaid Revenue SMB : TMH 2025-03-06 04:22:39   20240128  20250302         37,513,066              5          177     2655
11  jutar11     TB2S000500        Postpaid Active Subs 2025-03-06 05:03:24   20240131  20250305        150,491,715              6         1105    16575
12  jutar11     TB2S010500    Postpaid Active Subs B2C 2025-03-06 05:04:36   20240131  20250305        133,487,381              6         1105    16575
13  jutar11     TB2S020400    Postpaid Active Subs B2B 2025-03-06 05:02:36   20240131  20250305         17,004,334              5          177     2655
14   salisa       CAP00001                      EBITDA 2024-10-25 11:20:47   20240101  20240930                  0              2           71    19454
15   salisa       CAP00006               EBITDA Margin 2025-02-21 20:57:38   20240101  20250131             16,406              3           72    28492
16   salisa       CAP00009                      EBITDA 2025-02-21 20:57:38   20240101  20250131  1,950,344,544,710              3           72    28492
17   salisa     TB3R000100           Broadband Revenue 2025-03-06 05:05:37   20240102  20250302                  0              5         1102   139820
18   salisa     TB3R000101       Broadband New Revenue 2025-03-06 05:04:52   20240102  20250302                  0              4          176    22331
19   salisa     TB3R000102  Broadband Exisitng Revenue 2025-03-06 05:04:52   20240102  20250302                  0              4          176    22352
20   salisa     TB3S000500       Broadband Active Subs 2025-03-06 04:55:27   20240131  20250305                  0              5         1102    16514
21   salisa     TB4R000100                 TVS Revenue 2025-02-24 05:11:52   20240102  20250222                  0              5         1104   105949
22   salisa     TB4R000101             TVS New Revenue 2025-02-24 05:12:05   20240102  20250222                  0              4          176    22630
23   salisa     TB4R000102        TVS Exisitng Revenue 2025-02-24 05:12:05   20240102  20250222                  0              4          176    24239
24   salisa     TB4R000103       TVS Revenue : Premium 2025-02-24 05:17:32   20240102  20250222      1,633,872,670              4          169    22964
25   salisa     TB4R000104           TVS Revenue : Mid 2025-02-24 05:36:55   20240102  20250222        407,702,246              4          169    23264
26   salisa     TB4R000105          TVS Revenue : Mass 2025-02-24 05:30:42   20240102  20250222      2,174,243,573              4          169    23271
27   salisa     TB4R000106          TVS Revenue : CMDU 2025-02-24 05:24:00   20240102  20250219        573,582,747              4          151     2975
28   salisa     TB4S000500             TVS Active Subs 2025-03-06 04:55:39   20240131  20250305                  0              5         8408    23864

In [92]:
''' METRIC by Month '''

v_tm_key_mth = '202502'
src_t_rev_mth_df_cols = ['REMARK', 'METRIC_CD', 'METRIC_NAME', 'LOAD_DATE', 'TM_KEY_MTH', 'START_DAY', 'END_DAY', 'C', 'P', 'G', 'H', 'HH', 'CCAA', 'CCAATT']
print(f'\nParameter input...\n')
print(f'   -> v_tm_key_mth: {v_tm_key_mth}')

src_t_rev_mth_df = chk_src_df[src_t_rev_mth_df_cols].copy()
src_t_rev_mth_df = src_t_rev_mth_df.loc[src_t_rev_mth_df['TM_KEY_MTH']==v_tm_key_mth]
src_t_rev_mth_df = src_t_rev_mth_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_MTH']).reset_index(drop=True)

mod_col_list = src_t_rev_mth_df.iloc[:, 7:14].columns.tolist()
for col in mod_col_list:
    src_t_rev_mth_df[col] = src_t_rev_mth_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\n{src_t_rev_mth_df.to_string(max_cols=17)}')

Parameter input...

   -> v_tm_key_mth: 202502

     REMARK      METRIC_CD                 METRIC_NAME           LOAD_DATE TM_KEY_MTH  START_DAY   END_DAY  C              P              G              H             HH           CCAA CCAATT
0   jutar11     TB1R000100              Prepay Revenue 2025-03-06 04:44:44     202502   20250201  20250228  0              0  2,273,575,500  2,273,562,944  2,273,562,944  2,264,109,008      0
1   jutar11     TB1R000101          Prepay New Revenue 2025-03-06 04:41:43     202502   20250201  20250228  0              0    254,668,236    254,668,236    254,668,236              0      0
2   jutar11     TB1R000102     Prepay Existing Revenue 2025-03-06 04:43:01     202502   20250201  20250228  0              0  2,018,907,264  2,018,894,708  2,018,894,708              0      0
3   jutar11     TB1S000500           Prepay Usage Subs 2025-03-03 04:50:27     202502   20250228  20250228  0              0     17,592,129     17,592,129     17,592,129     17,530,289      0
4   jutar11     TB1S000600   Prepay Active Caller Subs 2025-03-04 04:51:05     202502   20250228  20250228  0     14,635,062     14,439,653     14,439,653     14,439,653     14,388,565      0
5   jutar11     TB2R000100            Postpaid Revenue 2025-03-06 04:20:13     202502   20250202  20250228  0  3,724,050,629  3,715,802,363  3,715,800,507  3,715,800,507              0      0
6   jutar11     TB2R000101        Postpaid New Revenue 2025-03-06 04:20:24     202502   20250202  20250228  0              0     73,409,537     73,409,537     73,409,537              0      0
7   jutar11     TB2R000102   Postpaid Existing Revenue 2025-03-06 04:20:36     202502   20250202  20250228  0  3,650,636,855  3,642,392,826  3,642,390,970  3,642,390,970              0      0
8   jutar11     TB2R010100        Postpaid Revenue B2C 2025-03-06 04:21:33     202502   20250202  20250228  0  3,340,889,371  3,332,827,958  3,332,826,102  3,332,826,102  3,322,328,877      0
9   jutar11     TB2R020100        Postpaid Revenue B2B 2025-03-06 04:21:09     202502   20250202  20250228  0    383,161,258    382,974,405    382,974,405    382,974,405              0      0
10  jutar11  TB2R020100SMB  Postpaid Revenue SMB : TMH 2025-03-06 04:21:19     202502   20250228  20250228  0      8,517,748      8,517,748      8,517,748      8,517,748              0      0
11  jutar11     TB2S000500        Postpaid Active Subs 2025-03-06 04:42:06     202502   20250228  20250228  0     10,182,558     10,183,349     10,183,797     10,183,837     10,108,955      0
12  jutar11     TB2S010500    Postpaid Active Subs B2C 2025-03-06 04:43:31     202502   20250228  20250228  0      9,001,676      9,002,237      9,002,501      9,002,540      8,947,713      0
13  jutar11     TB2S020400    Postpaid Active Subs B2B 2025-03-03 04:55:17     202502   20250228  20250228  0      1,180,882      1,181,112      1,181,296      1,181,297              0      0
14   salisa     TB3R000100           Broadband Revenue 2025-03-03 05:01:33     202502   20250202  20250228  0              0  1,433,151,303  1,433,151,303  1,433,151,263  1,433,151,303      0
15   salisa     TB3R000101       Broadband New Revenue 2025-03-03 05:01:03     202502   20250202  20250228  0              0     53,415,710     53,415,710     53,415,710              0      0
16   salisa     TB3R000102  Broadband Exisitng Revenue 2025-03-03 05:01:03     202502   20250202  20250228  0              0  1,379,735,593  1,379,735,593  1,379,735,553              0      0
17   salisa     TB3S000500       Broadband Active Subs 2025-03-01 04:55:28     202502   20250228  20250228  0              0      3,108,218      3,108,218      3,108,218      3,108,218      0
18   salisa     TB4R000100                 TVS Revenue 2025-02-24 05:11:52     202502   20250202  20250222  0              0    162,246,310    162,553,925    162,538,837              0      0
19   salisa     TB4R000101             TVS New Revenue 2025-02-24 05:12:05     202502   20250202  20250222  0              0        141,659        138,895        138,895              0      0
20   salisa     TB4R000102        TVS Exisitng Revenue 2025-02-24 05:12:05     202502   20250202  20250222  0              0    162,020,270    162,345,439    162,334,275              0      0
21   salisa     TB4R000103       TVS Revenue : Premium 2025-02-24 05:17:32     202502   20250202  20250222  0     50,421,669     49,957,645     50,744,206     50,846,343              0      0
22   salisa     TB4R000104           TVS Revenue : Mid 2025-02-24 05:36:55     202502   20250202  20250222  0     15,023,275     14,937,078     15,121,536     15,145,641              0      0
23   salisa     TB4R000105          TVS Revenue : Mass 2025-02-24 05:30:42     202502   20250202  20250222  0     88,549,721     87,067,491     87,055,118     87,020,126              0      0
24   salisa     TB4R000106          TVS Revenue : CMDU 2025-02-24 05:24:00     202502   20250202  20250219  0        808,380        808,380        808,380        808,380              0      0
25   salisa     TB4S000500             TVS Active Subs 2025-03-01 04:55:38     202502   20250228  20250228  0              0      1,163,299      1,163,299      1,163,299      1,163,284      0

## Actual : Transaction
->  FCT_KPI_NEWCO_PERF_ACTUAL

In [58]:
''' Execute Daily by case '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20250101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+ PARALLEL(8)*/ 
         REMARK, METRIC_CD, METRIC_NAME, TM_KEY_DAY
        , MAX(LOAD_DATE) LOAD_DATE
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN ACTUAL END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN ACTUAL END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN ACTUAL END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN ACTUAL END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN ACTUAL END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN ACTUAL END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN ACTUAL END) CCAATT
    FROM GEOSPCAPPO.FCT_KPI_NEWCO_PERF_ACTUAL
    --WHERE METRIC_CD = 'TB3R000100' --TOL Revenue
    WHERE METRIC_CD IN (
        'TB3R000100' --TOL Revenue
        , 'TB4R000100' --TVS Revenue
         )
    AND EXISTS (
        SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
        FROM (
            SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
        ) TMP
        WHERE TMP_CD = AREA_CD )
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY REMARK, METRIC_CD, METRIC_NAME, TM_KEY_DAY
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Daily DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Daily DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20250101

TDMDBPR : Connected

   -> Execute query... 2025-03-07, 11:52:50

   -> Daily DataFrame : 36 rows, 12 columns

TDMDBPR : Disconnected

In [69]:
''' METRIC by Day '''

v_tm_key_day = 20250101
# src_t_rev_day_df = ['SRC', 'REMARK', 'TM_KEY_DAY', 'METRIC_CD', 'METRIC_NAME', 'C', 'P', 'G', 'H', 'HH', 'CCAA', 'CCAATT', 'LOAD_DATE']
print(f'\nParameter input...\n')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

# src_t_rev_day_df = chk_src_df[src_t_rev_day_df_cols].copy()
src_t_rev_day_df = chk_src_df.copy()
src_t_rev_day_df = src_t_rev_day_df.loc[src_t_rev_day_df['TM_KEY_DAY']>=v_tm_key_day]
src_t_rev_day_df = src_t_rev_day_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = src_t_rev_day_df.iloc[:, 4:11].columns.tolist()
for col in mod_col_list:
    src_t_rev_day_df[col] = src_t_rev_day_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\nCreate : src_t_rev_day_df...')
print(f'\n   -> DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')
# print(f'\n{src_t_rev_day_df.to_string(max_cols=17)}')

Parameter input...

   -> v_tm_key_day: 20250101

Create : src_t_rev_day_df...

   -> DataFrame : 36 rows, 12 columns

In [70]:
''' TB3R000100 : Broadband Revenue '''

v_metric_cd = 'TB3R000100'
v_tm_key_day = 20250101
print(f'\nTB3R000100 : Broadband Revenue...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB3R000100_day_df = chk_src_df.copy()
TB3R000100_day_df = TB3R000100_day_df.loc[TB3R000100_day_df['METRIC_CD']==v_metric_cd]
TB3R000100_day_df = TB3R000100_day_df.loc[TB3R000100_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB3R000100_day_df = TB3R000100_day_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB3R000100_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB3R000100_day_df[col] = TB3R000100_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB3R000100_day_df

TB3R000100 : Broadband Revenue...

   -> v_metric_cd: TB3R000100
   -> v_tm_key_day: 20250101

,REMARK,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,salisa,TB3R000100,Broadband Revenue,20250102,2025-02-24 17:16:18,0,0,"216,877,864","216,877,864","216,876,297","216,877,864",0
1,salisa,TB3R000100,Broadband Revenue,20250106,2025-02-24 17:16:18,0,0,"138,818,029","138,818,029","138,817,648","138,818,029",0
2,salisa,TB3R000100,Broadband Revenue,20250110,2025-02-24 17:16:18,0,0,"229,776,067","229,776,067","229,773,621","229,776,067",0
3,salisa,TB3R000100,Broadband Revenue,20250113,2025-02-24 17:16:18,0,0,"170,371,632","170,371,632","170,368,708","170,371,632",0
4,salisa,TB3R000100,Broadband Revenue,20250116,2025-02-24 17:16:18,0,0,"171,522,940","171,522,940","171,522,940","171,522,940",0
5,salisa,TB3R000100,Broadband Revenue,20250119,2025-02-24 17:16:18,0,0,"163,995,053","163,995,053","163,995,053","163,995,053",0
6,salisa,TB3R000100,Broadband Revenue,20250122,2025-02-24 17:16:18,0,0,"164,839,369","164,839,369","164,839,369","164,839,369",0
7,salisa,TB3R000100,Broadband Revenue,20250125,2025-02-24 17:16:18,0,0,"163,384,698","163,384,698","163,384,698","163,384,698",0
8,salisa,TB3R000100,Broadband Revenue,20250128,2025-02-24 17:16:18,0,0,"172,926,068","172,926,068","172,926,068","172,926,068",0
9,salisa,TB3R000100,Broadband Revenue,20250202,2025-03-03 05:01:33,0,0,"219,048,631","219,048,631","219,048,631","219,048,631",0
10,salisa,TB3R000100,Broadband Revenue,20250206,2025-03-03 05:01:33,0,0,"141,003,046","141,003,046","141,003,046","141,003,046",0
11,salisa,TB3R000100,Broadband Revenue,20250210,2025-03-03 05:01:33,0,0,"231,040,084","231,040,084","231,040,084","231,040,084",0
12,salisa,TB3R000100,Broadband Revenue,20250213,2025-03-03 05:01:33,0,0,"171,359,049","171,359,049","171,359,009","171,359,049",0
13,salisa,TB3R000100,Broadband Revenue,20250216,2025-03-03 05:01:33,0,0,"173,272,555","173,272,555","173,272,555","173,272,555",0
14,salisa,TB3R000100,Broadband Revenue,20250219,2025-03-03 05:01:33,0,0,"165,379,246","165,379,246","165,379,246","165,379,246",0
15,salisa,TB3R000100,Broadband Revenue,20250222,2025-03-03 05:01:33,0,0,"165,702,578","165,702,578","165,702,578","165,702,578",0
16,salisa,TB3R000100,Broadband Revenue,20250225,2025-03-03 05:01:33,0,0,"164,546,098","164,546,098","164,546,098","164,546,098",0
17,salisa,TB3R000100,Broadband Revenue,20250228,2025-03-03 05:01:33,0,0,"1,800,017","1,800,017","1,800,017","1,800,017",0
18,salisa,TB3R000100,Broadband Revenue,20250302,2025-03-06 05:05:37,0,0,"216,854,705","216,854,705","216,854,705","216,897,921",0

In [71]:
''' TB4R000100 : TVS Revenue '''

v_metric_cd = 'TB4R000100'
v_tm_key_day = 20250101
print(f'\nTB4R000100 : TVS Revenue...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB4R000100_day_df = chk_src_df.copy()
TB4R000100_day_df = TB4R000100_day_df.loc[TB4R000100_day_df['METRIC_CD']==v_metric_cd]
TB4R000100_day_df = TB4R000100_day_df.loc[TB4R000100_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB4R000100_day_df = TB4R000100_day_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB4R000100_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB4R000100_day_df[col] = TB4R000100_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB4R000100_day_df

TB4R000100 : TVS Revenue...

   -> v_metric_cd: TB4R000100
   -> v_tm_key_day: 20250101

,REMARK,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,salisa,TB4R000100,TVS Revenue,20250102,2025-02-11 18:38:27,0,0,"33,439,525","33,364,840","33,364,840",0,0
1,salisa,TB4R000100,TVS Revenue,20250106,2025-02-11 18:38:27,0,0,"9,495,905","9,489,519","9,489,519",0,0
2,salisa,TB4R000100,TVS Revenue,20250110,2025-02-11 18:38:27,0,0,"28,745,196","28,740,929","28,740,929",0,0
3,salisa,TB4R000100,TVS Revenue,20250113,2025-02-11 18:38:27,0,0,"21,093,240","21,091,981","21,091,981",0,0
4,salisa,TB4R000100,TVS Revenue,20250116,2025-02-11 18:38:27,0,0,"22,497,099","22,495,383","22,495,383",0,0
5,salisa,TB4R000100,TVS Revenue,20250119,2025-02-11 18:38:27,0,0,"19,951,387","19,949,694","19,949,694",0,0
6,salisa,TB4R000100,TVS Revenue,20250122,2025-02-11 18:38:27,0,0,"20,460,496","20,459,929","20,459,929",0,0
7,salisa,TB4R000100,TVS Revenue,20250125,2025-02-11 18:38:27,0,0,"20,494,697","20,490,583","20,490,583",0,0
8,salisa,TB4R000100,TVS Revenue,20250128,2025-02-11 18:38:27,0,0,"21,993,776","21,990,163","21,990,163",0,0
9,salisa,TB4R000100,TVS Revenue,20250131,2025-02-11 18:38:27,0,0,"94,711,279","94,711,279","94,711,279",0,0
10,salisa,TB4R000100,TVS Revenue,20250202,2025-02-24 05:11:52,0,0,"34,215,318","34,216,762","34,221,729",0,0
11,salisa,TB4R000100,TVS Revenue,20250206,2025-02-24 05:11:52,0,0,"10,045,730","10,148,788","10,145,929",0,0
12,salisa,TB4R000100,TVS Revenue,20250210,2025-02-24 05:11:52,0,0,"30,317,645","30,413,033","30,412,941",0,0
13,salisa,TB4R000100,TVS Revenue,20250213,2025-02-24 05:11:52,0,0,"22,172,701","22,227,918","22,234,017",0,0
14,salisa,TB4R000100,TVS Revenue,20250216,2025-02-24 05:11:52,0,0,"23,839,517","23,878,618","23,870,294",0,0
15,salisa,TB4R000100,TVS Revenue,20250219,2025-02-24 05:11:52,0,0,"20,978,100","20,991,509","20,976,629",0,0
16,salisa,TB4R000100,TVS Revenue,20250222,2025-02-24 05:11:52,0,0,"20,677,298","20,677,298","20,677,298",0,0