# * Sales Data

## Parameter

In [1]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

pd.set_option('future.no_silent_downcasting', True)

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

## Actual : Monitoring
->  DIM_CORP_KPI

In [42]:
''' Execute Summary Data '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20240101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        SUBSTR(TM_KEY_DAY,1,6) AS TM_KEY_MTH, PRODUCT, COMP_CD, METRIC_CD, METRIC_NAME
        , MAX(LOAD_DATE) LOAD_DATE, MIN(TM_KEY_DAY) AS START_DAY, MAX(TM_KEY_DAY) AS END_DAY
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN METRIC_VALUE END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN METRIC_VALUE END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN METRIC_VALUE END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN METRIC_VALUE END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN METRIC_VALUE END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN METRIC_VALUE END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN METRIC_VALUE END) CCAATT
        , COUNT(DISTINCT AREA_TYPE) CNT_AREA_TYPE, COUNT(DISTINCT AREA_CD) CNT_AREA_CD, COUNT(1) ROW_CNT
    FROM CDSAPPO.DIM_CORP_KPI
    WHERE REGEXP_LIKE(METRIC_CD, 'CS$|CG$') -->> 2025 KPIs
    AND EXISTS (
        SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
        FROM (
            SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
        ) TMP
        WHERE TMP_CD = AREA_CD )
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY SUBSTR(TM_KEY_DAY,1,6), PRODUCT, COMP_CD, METRIC_CD, METRIC_NAME
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Summary DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Summary DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20240101

TDMDBPR : Connected

   -> Execute query... 2025-03-12, 19:34:49

   -> Summary DataFrame : 1054 rows, 18 columns

TDMDBPR : Disconnected

In [106]:
def my_metric_group(v_name):

    # Get : Parameter
    name = v_name
    result = ''
    
    if re.search('Gross Adds', name): result = 'Gross Adds'
    elif re.search('Inflow M1', name): result = 'Inflow M1'
    elif re.search('Inflow M2', name): result = 'Inflow M2'
    elif re.search('No of AP 1D', name): result = 'No of AP 1D'
    elif re.search('Amt of AP 1D', name): result = 'Amt of AP 1D'
    elif re.search('No of AP In Month', name): result = 'No of AP In Month'
    elif re.search('Amt of AP In Month', name): result = 'Amt of AP In Month'
    # elif re.search('CConnected : onsumer', name): result = 'Gross Adds - Con - Consumer'
    # elif re.search('Connected : DataService', name): result = 'Gross Adds - Con - DataService'
    # elif re.search('Registration : Consumer', name): result = 'Gross Adds - Reg - Consumer'
    # elif re.search('Registration : DataService', name): result = 'Gross Adds - Reg - DataService'
    else: result = 'Unknown' 
    
    return result

In [108]:
''' Add Columns '''

chk_src_df['CHANNEL_GRP'] = np.where(chk_src_df['METRIC_CD'].str.contains('CS$'), 'ALL', 'GEO')
chk_src_df['LOCATION_GRP'] = np.where(chk_src_df['METRIC_NAME'].str.contains('Location'), 'Customer', 'Sales')
chk_src_df['METRIC_GRP'] = chk_src_df.apply(lambda x: my_metric_group(str(x['METRIC_NAME'])), axis=1)
# tmp_df['MAIN_FLAG'] = np.where((tmp_df['METRIC_CD'].str.contains('[0-9]C$|[0-9]H$|[0-9]MCOM$|[0-9]CUS$')) | (tmp_df['METRIC_NAME'].str.contains('New Revenue|Existing Revenue')), 'N', 'Y')
# chk_src_df.tail()

# chk_src_df.loc[chk_src_df['PRODUCT']=='TOL'].tail()

In [109]:
''' PREPAID Summary '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
channel_grp = 'GEO'
product = 'PREPAID'

prepaid_df = chk_src_df.copy()
prepaid_df = prepaid_df.loc[prepaid_df['TM_KEY_MTH']==curr_mth]
prepaid_df = prepaid_df.loc[prepaid_df['CHANNEL_GRP']==channel_grp]
prepaid_df = prepaid_df.loc[prepaid_df['PRODUCT']==product]

prepaid_df['ALL'] = prepaid_df['P']
prepaid_df['TRUE'] = np.where(prepaid_df['COMP_CD']=='TRUE', prepaid_df['P'], 0)
prepaid_df['DTAC'] = np.where(prepaid_df['COMP_CD']=='DTAC', prepaid_df['P'], 0)
prepaid_df['TMP_NAME'] = prepaid_df['METRIC_NAME'].replace(r' : DTAC| : TMH', '', regex=True)

prepaid_df = prepaid_df.groupby(['PRODUCT', 'METRIC_GRP', 'TMP_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'ALL':'sum', 'TRUE':'sum', 'DTAC':'sum'})
prepaid_df = prepaid_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_GRP', 'TMP_NAME']).reset_index()

mod_col_list = prepaid_df.iloc[:, 6:9].columns.tolist()
for col in mod_col_list:
    prepaid_df[col] = prepaid_df[col].apply(lambda x: format(x, ',.0f'))

prepaid_df

,PRODUCT,METRIC_GRP,TMP_NAME,LOAD_DATE,START_DAY,END_DAY,ALL,TRUE,DTAC
0,PREPAID,Amt of AP 1D,Prepaid Amt of AP 1D - GEO Channel,2025-03-12 16:36:20,20250301,20250311,"268,739,064","130,668,066","138,070,998"
1,PREPAID,Amt of AP In Month,Prepaid Amt of AP In Month - GEO Channel,2025-03-12 16:36:21,20250301,20250311,"277,500,297","134,643,827","142,856,470"
2,PREPAID,Gross Adds,Prepaid Gross Adds - GEO Channel,2025-03-12 16:36:20,20250301,20250311,"1,347,146","659,274","687,872"
3,PREPAID,Inflow M1,Prepaid Inflow M1 - GEO Channel,2025-03-12 16:36:20,20250301,20250309,"245,000,817","114,268,015","130,732,802"
4,PREPAID,Inflow M2,Prepaid Inflow M2 - GEO Channel,2025-03-12 14:03:10,20250301,20250309,"37,718,885","18,225,034","19,493,851"
5,PREPAID,No of AP 1D,Prepaid No of AP 1D - GEO Channel,2025-03-12 16:36:20,20250301,20250311,"1,125,720","534,664","591,056"
6,PREPAID,No of AP In Month,Prepaid No of AP In Month - GEO Channel,2025-03-12 16:36:20,20250301,20250311,"1,160,828","547,356","613,472"

In [110]:
''' POSTPAID Summary '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
channel_grp = 'GEO'
product = 'POSTPAID'

postpaid_df = chk_src_df.copy()
postpaid_df = postpaid_df.loc[postpaid_df['TM_KEY_MTH']==curr_mth]
postpaid_df = postpaid_df.loc[postpaid_df['CHANNEL_GRP']==channel_grp]
postpaid_df = postpaid_df.loc[postpaid_df['PRODUCT']==product]

postpaid_df['ALL'] = postpaid_df['P']
postpaid_df['TRUE'] = np.where(postpaid_df['COMP_CD']=='TRUE', postpaid_df['P'], 0)
postpaid_df['DTAC'] = np.where(postpaid_df['COMP_CD']=='DTAC', postpaid_df['P'], 0)
postpaid_df['TMP_NAME'] = postpaid_df['METRIC_NAME'].replace(r' : DTAC| : TMH', '', regex=True)

postpaid_df = postpaid_df.groupby(['PRODUCT', 'METRIC_GRP', 'TMP_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'ALL':'sum', 'TRUE':'sum', 'DTAC':'sum'})
postpaid_df = postpaid_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_GRP', 'TMP_NAME']).reset_index()

mod_col_list = postpaid_df.iloc[:, 6:9].columns.tolist()
for col in mod_col_list:
    postpaid_df[col] = postpaid_df[col].apply(lambda x: format(x, ',.0f'))

postpaid_df

,PRODUCT,METRIC_GRP,TMP_NAME,LOAD_DATE,START_DAY,END_DAY,ALL,TRUE,DTAC
0,POSTPAID,Gross Adds,Postpaid Gross Adds B2B - GEO Channel,2025-03-12 14:09:15,20250301,20250311,"1,135",906,229
1,POSTPAID,Gross Adds,Postpaid Gross Adds B2C - GEO Channel,2025-03-12 14:09:15,20250301,20250311,"37,447","32,208","5,239"
2,POSTPAID,Inflow M1,Postpaid Inflow M1 B2B - GEO Channel,2025-03-12 14:09:15,20250301,20250311,"907,086","766,467","140,619"
3,POSTPAID,Inflow M1,Postpaid Inflow M1 B2C - GEO Channel,2025-03-12 14:09:15,20250301,20250311,"18,711,167","15,736,199","2,974,968"

In [112]:
''' TOL Summary '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
channel_grp = 'GEO'
product = 'TOL'

tol_df = chk_src_df.copy()
tol_df = tol_df.loc[tol_df['TM_KEY_MTH']==curr_mth]
tol_df = tol_df.loc[tol_df['CHANNEL_GRP']==channel_grp]
tol_df = tol_df.loc[tol_df['PRODUCT']==product]

tol_df = tol_df.groupby(['PRODUCT', 'METRIC_GRP', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'P':'sum'})
tol_df = tol_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_GRP', 'METRIC_NAME']).reset_index()

mod_col_list = tol_df.iloc[:, 6:7].columns.tolist()
for col in mod_col_list:
    tol_df[col] = tol_df[col].apply(lambda x: format(x, ',.0f'))

tol_df

,PRODUCT,METRIC_GRP,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,P
0,TOL,Gross Adds,TOL Gross Adds Connected : Consumer - GEO Channel,2025-03-12 14:02:45,20250301,20250311,"14,941"
1,TOL,Gross Adds,TOL Gross Adds Connected : Consumer - GEO Chan...,2025-03-12 14:02:45,20250301,20250311,"14,941"
2,TOL,Gross Adds,TOL Gross Adds Connected : DataService - GEO C...,2025-03-12 14:02:45,20250304,20250310,17
3,TOL,Gross Adds,TOL Gross Adds Connected : DataService - GEO C...,2025-03-12 14:02:45,20250304,20250310,17
4,TOL,Gross Adds,TOL Gross Adds Registration : Consumer - GEO C...,2025-03-12 14:02:45,20250301,20250311,"20,474"
5,TOL,Gross Adds,TOL Gross Adds Registration : DataService - GE...,2025-03-12 14:02:45,20250301,20250307,10
6,TOL,Inflow M1,TOL Inflow M1 Connected : Consumer - GEO Channel,2025-03-12 14:02:45,20250301,20250311,"8,039,362"
7,TOL,Inflow M1,TOL Inflow M1 Connected : Consumer - GEO Chann...,2025-03-12 14:02:45,20250301,20250311,"8,039,362"
8,TOL,Inflow M1,TOL Inflow M1 Connected : DataService - GEO Ch...,2025-03-12 14:02:45,20250304,20250310,"112,462"
9,TOL,Inflow M1,TOL Inflow M1 Connected : DataService - GEO Ch...,2025-03-12 14:02:45,20250304,20250310,"112,462"

In [113]:
''' TVS Summary '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
channel_grp = 'GEO'
product = 'TVS'

tvs_df = chk_src_df.copy()
tvs_df = tvs_df.loc[tvs_df['TM_KEY_MTH']==curr_mth]
tvs_df = tvs_df.loc[tvs_df['CHANNEL_GRP']==channel_grp]
tvs_df = tvs_df.loc[tvs_df['PRODUCT']==product]

tvs_df = tvs_df.groupby(['PRODUCT', 'METRIC_GRP', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'P':'sum'})
tvs_df = tvs_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_GRP', 'METRIC_NAME']).reset_index()

mod_col_list = tvs_df.iloc[:, 6:7].columns.tolist()
for col in mod_col_list:
    tvs_df[col] = tvs_df[col].apply(lambda x: format(x, ',.0f'))

tvs_df

,PRODUCT,METRIC_GRP,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,P
0,TVS,Gross Adds,TVS CMDU Gross Adds - GEO Channel,2025-03-12 14:10:28,20250304,20250307,2
1,TVS,Gross Adds,TVS Now Gross Adds - GEO Channel,2025-03-12 14:10:28,20250301,20250310,926
2,TVS,Inflow M1,TVS CMDU Inflow M1 - GEO Channel,2025-03-12 14:10:28,20250304,20250307,"3,083"
3,TVS,Inflow M1,TVS Now Inflow M1 - GEO Channel,2025-03-12 14:10:28,20250301,20250310,"210,262"

In [114]:
''' Current Month Gross Adds '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
ga_metric_list = [
    'DB2S010100CS' #Postpaid Gross Adds B2C : DTAC
    , 'DB2S020100CS' #Postpaid Gross Adds B2B : DTAC
    , 'TB2S010100CS' #Postpaid Gross Adds B2C : TMH
    , 'TB2S020100CS' #Postpaid Gross Adds B2B : TMH
    , 'DB1S000101CS' #Prepaid Gross Adds : DTAC
    , 'TB1S000101CS' #Prepaid Gross Adds : TMH
    , 'TB3S000102CS' #TOL Gross Adds Connected : Consumer
    , 'TB3S000103CS' #TOL Gross Adds Connected : DataService
    , 'TB3S000104CS' #TOL Gross Adds Registration : Consumer
    , 'TB3S000105CS' #TOL Gross Adds Registration : DataService
    , 'TB4S001004CS' #TVS CMDU Gross Adds
    , 'TB4S001400CS' #TVS Now Gross Adds
    ]

src_ga_overall_df = chk_src_df.copy()
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['TM_KEY_MTH']==curr_mth]
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['METRIC_CD'].isin(ga_metric_list)]
src_ga_overall_df = src_ga_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_ga_overall_df = src_ga_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_ga_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_ga_overall_df[col] = src_ga_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_ga_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,2025-03-12 14:09:15,20250301,20250310,0,"13,072","12,965","12,965","12,965","12,965","12,965",7,3791,12131
1,POSTPAID,DB2S020100CS,Postpaid Gross Adds B2B : DTAC,2025-03-12 14:09:15,20250301,20250310,0,"4,741","1,059","1,059","1,059","1,059","1,059",7,571,1381
2,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,2025-03-12 14:09:15,20250301,20250311,0,"60,452","44,142","44,142","44,142","44,142","44,142",7,1273,10386
3,POSTPAID,TB2S020100CS,Postpaid Gross Adds B2B : TMH,2025-03-12 14:09:15,20250301,20250311,0,"8,197",964,964,964,964,964,7,561,1850
4,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,2025-03-12 14:03:10,20250301,20250310,0,"356,414","342,890","342,890","335,979","342,998","340,993",7,6019,35111
5,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,2025-03-12 14:03:10,20250301,20250311,0,"330,626","250,698","250,698","242,750","250,698","250,682",7,5489,38264
6,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,2025-03-12 14:02:45,20250301,20250311,0,"19,090","15,047","15,047","14,927","15,047","15,047",7,1085,8317
7,TOL,TB3S000103CS,TOL Gross Adds Connected : DataService,2025-03-12 14:02:45,20250301,20250311,0,394,17,17,17,17,17,7,51,71
8,TOL,TB3S000104CS,TOL Gross Adds Registration : Consumer,2025-03-12 14:02:45,20250301,20250311,0,"26,767","20,666","20,666","20,531","20,666","20,666",7,1092,8670
9,TOL,TB3S000105CS,TOL Gross Adds Registration : DataService,2025-03-12 14:02:45,20250301,20250311,0,422,10,10,10,10,10,7,23,44
10,TVS,TB4S001004CS,TVS CMDU Gross Adds,2025-03-12 14:10:28,20250301,20250307,0,21,21,21,21,21,21,7,37,86
11,TVS,TB4S001400CS,TVS Now Gross Adds,2025-03-12 14:10:28,20250301,20250310,0,926,926,926,926,926,926,7,502,1845

In [115]:
''' Average Gross Adds per Month '''

avg_range_start = '202401'
avg_range_end = '202502'
ga_metric_list = [
    'DB2S010100CS' #Postpaid Gross Adds B2C : DTAC
    , 'DB2S020100CS' #Postpaid Gross Adds B2B : DTAC
    , 'TB2S010100CS' #Postpaid Gross Adds B2C : TMH
    , 'TB2S020100CS' #Postpaid Gross Adds B2B : TMH
    , 'DB1S000101CS' #Prepaid Gross Adds : DTAC
    , 'TB1S000101CS' #Prepaid Gross Adds : TMH
    , 'TB3S000102CS' #TOL Gross Adds Connected : Consumer
    , 'TB3S000103CS' #TOL Gross Adds Connected : DataService
    , 'TB3S000104CS' #TOL Gross Adds Registration : Consumer
    , 'TB3S000105CS' #TOL Gross Adds Registration : DataService
    , 'TB4S001004CS' #TVS CMDU Gross Adds
    , 'TB4S001400CS' #TVS Now Gross Adds
    ]

src_ga_overall_df = chk_src_df.copy()
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['TM_KEY_MTH'].between(avg_range_start, avg_range_end)]
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['METRIC_CD'].isin(ga_metric_list)]
src_ga_overall_df = src_ga_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'mean', 'P':'mean', 'G':'mean', 'H':'mean', 'HH':'mean', 'CCAA':'mean', 'CCAATT':'mean', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_ga_overall_df = src_ga_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_ga_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_ga_overall_df[col] = src_ga_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_ga_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,2025-03-12 14:09:15,20240101,20250228,0,"62,952","61,001","61,001","61,001","61,001","61,001",7,6204,657186
1,POSTPAID,DB2S020100CS,Postpaid Gross Adds B2B : DTAC,2025-03-12 14:09:15,20240101,20250228,0,"9,947","5,395","5,395","5,395","5,395","5,395",7,1528,74902
2,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,2025-03-12 14:09:15,20240101,20250228,0,"152,413","102,608","102,608","102,608","102,608","102,608",7,2211,409848
3,POSTPAID,TB2S020100CS,Postpaid Gross Adds B2B : TMH,2025-03-12 14:09:15,20240101,20250228,0,"24,861","8,465","8,465","8,465","8,465","8,465",7,781,59643
4,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,2025-03-12 14:03:10,20240101,20250228,0,"1,370,010","1,323,328","1,323,328","1,305,524","1,323,558","1,315,466",7,7441,1577217
5,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,2025-03-12 14:03:10,20240101,20250228,0,"1,149,759","954,285","954,285","932,410","954,285","954,219",7,5817,1671756
6,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,2025-03-12 14:02:45,20240102,20250228,0,"46,684","33,160","33,160","34,447","34,774","34,759",7,1214,307780
7,TOL,TB3S000103CS,TOL Gross Adds Connected : DataService,2025-03-12 14:02:45,20240102,20250228,0,"1,551",38,38,39,39,39,7,99,1987
8,TOL,TB3S000104CS,TOL Gross Adds Registration : Consumer,2025-03-12 14:02:45,20240101,20250228,0,"64,044","45,113","45,113","46,889","47,313","47,288",7,1243,324601
9,TOL,TB3S000105CS,TOL Gross Adds Registration : DataService,2025-03-12 14:02:45,20240101,20250228,0,"3,493","1,108","1,108","1,100","1,119","1,119",7,620,25550
10,TVS,TB4S001004CS,TVS CMDU Gross Adds,2025-03-12 14:10:28,20240101,20250228,0,148,130,130,130,130,130,7,137,6041
11,TVS,TB4S001400CS,TVS Now Gross Adds,2025-03-12 14:10:28,20240701,20250228,0,"1,124","1,124","1,124","1,124","1,124","1,124",7,657,23497

In [116]:
''' Current Month Inflow '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
inflow_metric_list = [
    'DB2R010500CS' #Postpaid Inflow M1 B2C : DTAC
    , 'DB2R020500CS' #Postpaid Inflow M1 B2B : DTAC
    , 'TB2R010500CS' #Postpaid Inflow M1 B2C : TMH
    , 'TB2R020500CS' #Postpaid Inflow M1 B2B : TMH
    , 'DB1R000900CS' #Prepaid Inflow M1 : DTAC
    , 'TB1R000900CS' #Prepaid Inflow M1 : TMH
    , 'TB3R000601CS' #TOL Inflow M1 Connected : Consumer
    , 'TB3R000602CS' #TOL Inflow M1 Connected : DataService
    , 'TB4R001004CS' #TVS CMDU Inflow M1
    , 'TB4R001700CS' #TVS Now Inflow M1
    , 'DB1R001000CS' #Prepaid Inflow M2 : DTAC
    , 'TB1R001000CS' #Prepaid Inflow M2 : TMH
    ]

src_inflow_overall_df = chk_src_df.copy()
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['TM_KEY_MTH']==curr_mth]
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['METRIC_CD'].isin(inflow_metric_list)]
src_inflow_overall_df = src_inflow_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_inflow_overall_df = src_inflow_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_inflow_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_inflow_overall_df[col] = src_inflow_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_inflow_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2R010500CS,Postpaid Inflow M1 B2C : DTAC,2025-03-12 14:09:15,20250301,20250310,0,"5,645,173","5,587,476","5,587,476","5,587,476","5,587,476","5,587,476",7,3791,12131
1,POSTPAID,DB2R020500CS,Postpaid Inflow M1 B2B : DTAC,2025-03-12 14:09:15,20250301,20250310,0,"3,290,562","393,625","393,625","393,625","393,625","393,625",7,571,1381
2,POSTPAID,TB2R010500CS,Postpaid Inflow M1 B2C : TMH,2025-03-12 14:09:15,20250301,20250311,0,"28,555,051","22,991,654","22,991,654","22,991,654","22,991,654","22,991,654",7,1273,10386
3,POSTPAID,TB2R020500CS,Postpaid Inflow M1 B2B : TMH,2025-03-12 14:09:15,20250301,20250311,0,"1,814,453","865,281","865,281","865,281","865,281","865,281",7,561,1850
4,PREPAID,DB1R000900CS,Prepaid Inflow M1 : DTAC,2025-03-12 14:03:10,20250301,20250309,0,"132,863,174","130,015,005","130,015,005","127,087,630","130,048,699","129,264,328",7,5929,75690
5,PREPAID,DB1R001000CS,Prepaid Inflow M2 : DTAC,2025-03-12 14:03:10,20250301,20250309,0,"19,955,900","19,734,714","19,734,714","19,459,062","19,742,818","19,534,040",7,6532,54533
6,PREPAID,TB1R000900CS,Prepaid Inflow M1 : TMH,2025-03-12 14:03:10,20250301,20250309,0,"114,863,503","86,344,521","86,344,521","83,395,837","86,344,521","86,339,330",7,5364,73492
7,PREPAID,TB1R001000CS,Prepaid Inflow M2 : TMH,2025-03-12 14:03:10,20250301,20250309,0,"18,254,663","17,871,408","17,871,408","17,504,540","17,871,408","17,868,508",7,5524,44556
8,TOL,TB3R000601CS,TOL Inflow M1 Connected : Consumer,2025-03-12 14:02:45,20250301,20250311,0,"10,150,268","8,091,935","8,091,935","8,023,700","8,091,935","8,091,935",7,1085,8317
9,TOL,TB3R000602CS,TOL Inflow M1 Connected : DataService,2025-03-12 14:02:45,20250301,20250311,0,"491,714","112,462","112,462","112,462","112,462","112,462",7,51,71
10,TVS,TB4R001004CS,TVS CMDU Inflow M1,2025-03-12 14:10:28,20250301,20250307,0,"171,721","171,721","171,721","171,721","171,721","171,721",7,37,86
11,TVS,TB4R001700CS,TVS Now Inflow M1,2025-03-12 14:10:28,20250301,20250310,0,"210,262","210,262","210,262","210,262","210,262","210,262",7,502,1845

In [117]:
''' Average Inflow per Month '''

avg_range_start = '202401'
avg_range_end = '202502'
inflow_metric_list = [
    'DB2R010500CS' #Postpaid Inflow M1 B2C : DTAC
    , 'DB2R020500CS' #Postpaid Inflow M1 B2B : DTAC
    , 'TB2R010500CS' #Postpaid Inflow M1 B2C : TMH
    , 'TB2R020500CS' #Postpaid Inflow M1 B2B : TMH
    , 'DB1R000900CS' #Prepaid Inflow M1 : DTAC
    , 'TB1R000900CS' #Prepaid Inflow M1 : TMH
    , 'TB3R000601CS' #TOL Inflow M1 Connected : Consumer
    , 'TB3R000602CS' #TOL Inflow M1 Connected : DataService
    , 'TB4R001004CS' #TVS CMDU Inflow M1
    , 'TB4R001700CS' #TVS Now Inflow M1
    , 'DB1R001000CS' #Prepaid Inflow M2 : DTAC
    , 'TB1R001000CS' #Prepaid Inflow M2 : TMH
    ]

src_inflow_overall_df = chk_src_df.copy()
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['TM_KEY_MTH'].between(avg_range_start, avg_range_end)]
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['METRIC_CD'].isin(inflow_metric_list)]
src_inflow_overall_df = src_inflow_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_inflow_overall_df = src_inflow_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_inflow_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_inflow_overall_df[col] = src_inflow_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_inflow_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2R010500CS,Postpaid Inflow M1 B2C : DTAC,2025-03-12 14:09:15,20240101,20250228,0,"381,577,081","372,746,838","372,746,838","372,746,838","372,746,838","372,746,838",7,6204,657186
1,POSTPAID,DB2R020500CS,Postpaid Inflow M1 B2B : DTAC,2025-03-12 14:09:15,20240101,20250228,0,"137,554,957","25,803,178","25,803,178","25,803,178","25,803,178","25,803,178",7,1528,74902
2,POSTPAID,TB2R010500CS,Postpaid Inflow M1 B2C : TMH,2025-03-12 14:09:15,20240101,20250228,0,"892,798,861","686,190,728","686,190,728","686,190,728","686,190,728","686,190,728",7,2211,409848
3,POSTPAID,TB2R020500CS,Postpaid Inflow M1 B2B : TMH,2025-03-12 14:09:15,20240101,20250228,0,"78,786,203","33,347,478","33,347,478","33,347,478","33,347,478","33,347,478",7,781,59643
4,PREPAID,DB1R000900CS,Prepaid Inflow M1 : DTAC,2025-03-12 14:03:10,20240101,20250228,0,"6,937,797,843","6,834,250,820","6,834,250,820","6,726,846,562","6,835,265,819","6,789,634,472",7,7418,4690150
5,PREPAID,DB1R001000CS,Prepaid Inflow M2 : DTAC,2025-03-12 14:03:10,20240201,20250228,0,"1,018,625,947","1,005,306,086","1,005,306,086","993,879,464","1,005,497,791","993,984,000",7,7294,2559496
6,PREPAID,TB1R000900CS,Prepaid Inflow M1 : TMH,2025-03-12 14:03:10,20240101,20250228,0,"5,445,233,833","4,752,350,947","4,752,350,947","4,615,891,845","4,752,350,947","4,752,039,412",7,5793,3905369
7,PREPAID,TB1R001000CS,Prepaid Inflow M2 : TMH,2025-03-12 14:03:10,20240101,20250228,0,"997,560,166","988,072,190","988,072,190","970,164,151","988,072,190","987,964,726",7,5739,2116490
8,TOL,TB3R000601CS,TOL Inflow M1 Connected : Consumer,2025-03-12 14:02:45,20240102,20250228,0,"361,093,361","261,389,494","261,389,494","271,677,263","274,506,152","274,383,527",7,1214,307780
9,TOL,TB3R000602CS,TOL Inflow M1 Connected : DataService,2025-03-12 14:02:45,20240102,20250228,0,"26,720,588","1,715,991","1,715,991","1,752,377","1,755,476","1,755,476",7,99,1987
10,TVS,TB4R001004CS,TVS CMDU Inflow M1,2025-03-12 14:10:28,20240101,20250228,0,"13,495,660","11,373,891","11,373,891","11,373,891","11,373,891","11,373,891",7,137,6041
11,TVS,TB4R001700CS,TVS Now Inflow M1,2025-03-12 14:10:28,20240701,20250228,0,"4,317,929","4,305,053","4,305,053","4,305,053","4,305,053","4,305,053",7,657,23497

In [118]:
''' METRIC Summary '''

src_t_sales_mth_df = chk_src_df.copy()
src_t_sales_mth_df = src_t_sales_mth_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'P':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_t_sales_mth_df = src_t_sales_mth_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_t_sales_mth_df.iloc[:, 6:7].columns.tolist()
for col in mod_col_list:
    src_t_sales_mth_df[col] = src_t_sales_mth_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\n{src_t_sales_mth_df.to_string(max_cols=10)}')

     PRODUCT       METRIC_CD                                                              METRIC_NAME           LOAD_DATE  START_DAY   END_DAY              P  CNT_AREA_TYPE  CNT_AREA_CD  ROW_CNT
0   POSTPAID    DB2R010500CG                              Postpaid Inflow M1 B2C : DTAC - GEO Channel 2025-03-12 14:09:15   20240101  20250310    150,814,274              7          798   212159
1   POSTPAID    DB2R010500CS                                            Postpaid Inflow M1 B2C : DTAC 2025-03-12 14:09:15   20240101  20250310    387,222,253              7         6204   669317
2   POSTPAID    DB2R020500CG                              Postpaid Inflow M1 B2B : DTAC - GEO Channel 2025-03-12 14:09:15   20240101  20250310      6,115,586              7          311    23301
3   POSTPAID    DB2R020500CS                                            Postpaid Inflow M1 B2B : DTAC 2025-03-12 14:09:15   20240101  20250310    140,845,519              7         1528    76283
4   POSTPAID    DB2S010100CG                             Postpaid Gross Adds B2C : DTAC - GEO Channel 2025-03-12 14:09:15   20240101  20250310        250,240              7          798   212159
5   POSTPAID    DB2S010100CS                                           Postpaid Gross Adds B2C : DTAC 2025-03-12 14:09:15   20240101  20250310        894,397              7         6204   669317
6   POSTPAID    DB2S020100CG                             Postpaid Gross Adds B2B : DTAC - GEO Channel 2025-03-12 14:09:15   20240101  20250310         11,683              7          311    23301
7   POSTPAID    DB2S020100CS                                           Postpaid Gross Adds B2B : DTAC 2025-03-12 14:09:15   20240101  20250310        143,994              7         1528    76283
8   POSTPAID    TB2R010500CG                               Postpaid Inflow M1 B2C : TMH - GEO Channel 2025-03-12 14:09:15   20240101  20250311    477,065,608              7         1203   369951
9   POSTPAID    TB2R010500CS                                             Postpaid Inflow M1 B2C : TMH 2025-03-12 14:09:15   20240101  20250311    921,353,912              7         2211   420234
10  POSTPAID    TB2R020500CG                               Postpaid Inflow M1 B2B : TMH - GEO Channel 2025-03-12 14:09:15   20240101  20250311     33,921,412              7          776    61123
11  POSTPAID    TB2R020500CS                                             Postpaid Inflow M1 B2B : TMH 2025-03-12 14:09:15   20240101  20250311     80,600,656              7          781    61493
12  POSTPAID    TB2S010100CG                              Postpaid Gross Adds B2C : TMH - GEO Channel 2025-03-12 14:09:15   20240101  20250311      1,042,552              7         1203   369951
13  POSTPAID    TB2S010100CS                                            Postpaid Gross Adds B2C : TMH 2025-03-12 14:09:15   20240101  20250311      2,194,233              7         2211   420234
14  POSTPAID    TB2S020100CG                              Postpaid Gross Adds B2B : TMH - GEO Channel 2025-03-12 14:09:15   20240101  20250311        110,064              7          776    61123
15  POSTPAID    TB2S020100CS                                            Postpaid Gross Adds B2B : TMH 2025-03-12 14:09:15   20240101  20250311        356,245              7          781    61493
16   PREPAID    DB1R000106CG                          Prepaid Amt of AP In Month : DTAC - GEO Channel 2025-03-12 16:36:21   20240101  20250310  3,529,897,111              7         7345  1719244
17   PREPAID    DB1R000106CS                                        Prepaid Amt of AP In Month : DTAC 2025-03-12 14:03:10   20240101  20250310  6,702,998,421              7         7441  3202211
18   PREPAID    DB1R000109CG                                Prepaid Amt of AP 1D : DTAC - GEO Channel 2025-03-12 16:36:20   20240101  20250310  3,152,755,966              7         7345  1719244
19   PREPAID    DB1R000109CS                                              Prepaid Amt of AP 1D : DTAC 2025-03-12 14:03:10   20240101  20250310  5,981,076,643              7         7441  3202211
20   PREPAID    DB1R000900CG                                   Prepaid Inflow M1 : DTAC - GEO Channel 2025-03-12 16:36:20   20240101  20250309  3,723,113,911              7         7321  2528179
21   PREPAID    DB1R000900CS                                                 Prepaid Inflow M1 : DTAC 2025-03-12 14:03:10   20240101  20250309  7,070,661,017              7         7418  4765840
22   PREPAID    DB1R001000CG                                   Prepaid Inflow M2 : DTAC - GEO Channel 2025-03-12 14:03:10   20240201  20250309  1,009,601,477              7         7202  2550901
23   PREPAID    DB1R001000CS                                                 Prepaid Inflow M2 : DTAC 2025-03-12 14:03:10   20240201  20250309  1,038,581,847              7         7294  2614029
24   PREPAID    DB1S000101CG                                  Prepaid Gross Adds : DTAC - GEO Channel 2025-03-12 16:36:20   20240101  20250310     19,402,477              7         7345  1719244
25   PREPAID    DB1S000101CS                                                Prepaid Gross Adds : DTAC 2025-03-12 14:03:10   20240101  20250310     19,536,559              7         7441  1612328
26   PREPAID    DB1S000106CG                           Prepaid No of AP In Month : DTAC - GEO Channel 2025-03-12 16:36:20   20240101  20250310     16,237,247              7         7345  1719244
27   PREPAID    DB1S000106CS                                         Prepaid No of AP In Month : DTAC 2025-03-12 14:03:10   20240101  20250310     31,510,749              7         7441  3202211
28   PREPAID    DB1S000109CG                                 Prepaid No of AP 1D : DTAC - GEO Channel 2025-03-12 16:36:20   20240101  20250310     15,072,929              7         7345  1719244
29   PREPAID    DB1S000109CS                                               Prepaid No of AP 1D : DTAC 2025-03-12 14:03:10   20240101  20250310     29,281,188              7         7441  3202211
30   PREPAID    TB1R000106CG                           Prepaid Amt of AP In Month : TMH - GEO Channel 2025-03-12 16:36:21   20240101  20250311  3,114,018,791              7         5817  1855433
31   PREPAID    TB1R000106CS                                         Prepaid Amt of AP In Month : TMH 2025-03-12 14:03:10   20240101  20250311  5,731,606,146              7         5817  3420035
32   PREPAID    TB1R000109CG                                 Prepaid Amt of AP 1D : TMH - GEO Channel 2025-03-12 16:36:20   20240101  20250311  2,847,860,397              7         5817  1855433
33   PREPAID    TB1R000109CS                                               Prepaid Amt of AP 1D : TMH 2025-03-12 14:03:10   20240101  20250311  5,230,530,186              7         5817  3420035
34   PREPAID    TB1R000900CG                                    Prepaid Inflow M1 : TMH - GEO Channel 2025-03-12 16:36:20   20240101  20250309  3,013,123,643              7         5793  2155736
35   PREPAID    TB1R000900CS                                                  Prepaid Inflow M1 : TMH 2025-03-12 14:03:10   20240101  20250309  5,560,097,336              7         5793  3978861
36   PREPAID    TB1R001000CG                                    Prepaid Inflow M2 : TMH - GEO Channel 2025-03-12 14:03:10   20240101  20250309  1,014,565,023              7         5739  2161042
37   PREPAID    TB1R001000CS                                                  Prepaid Inflow M2 : TMH 2025-03-12 14:03:10   20240101  20250309  1,015,814,829              7         5739  2161046
38   PREPAID    TB1S000101CG                                   Prepaid Gross Adds : TMH - GEO Channel 2025-03-12 16:36:20   20240101  20250311     17,684,853              7         5817  1855433
39   PREPAID    TB1S000101CS                                                 Prepaid Gross Adds : TMH 2025-03-12 14:03:10   20240101  20250311     16,427,255              7         5817  1710020
40   PREPAID    TB1S000106CG                            Prepaid No of AP In Month : TMH - GEO Channel 2025-03-12 16:36:20   20240101  20250311     14,170,120              7         5817  1855433
41   PREPAID    TB1S000106CS                                          Prepaid No of AP In Month : TMH 2025-03-12 14:03:10   20240101  20250311     26,166,561              7         5817  3420035
42   PREPAID    TB1S000109CG                                  Prepaid No of AP 1D : TMH - GEO Channel 2025-03-12 16:36:20   20240101  20250311     13,530,460              7         5817  1855433
43   PREPAID    TB1S000109CS                                                Prepaid No of AP 1D : TMH 2025-03-12 14:03:10   20240101  20250311     24,960,161              7         5817  3420035
44       TOL    TB3R000601CG                         TOL Inflow M1 Connected : Consumer - GEO Channel 2025-03-12 14:02:45   20240102  20250311    268,188,323              7         1209   309903
45       TOL    TB3R000601CS                                       TOL Inflow M1 Connected : Consumer 2025-03-12 14:02:45   20240102  20250311    371,243,629              7         1214   316097
46       TOL  TB3R000601D1CG      TOL Inflow M1 Connected : Consumer - GEO Channel (Install Location) 2025-03-12 14:02:45   20240102  20250311    268,188,323              7         6516   548192
47       TOL  TB3R000601D1CS                    TOL Inflow M1 Connected : Consumer (Install Location) 2025-03-12 14:02:45   20240102  20250311    371,243,629              7         6959   671027
48       TOL    TB3R000602CG                      TOL Inflow M1 Connected : DataService - GEO Channel 2025-03-12 14:02:45   20240105  20250310      1,576,247              7           96     1795
49       TOL    TB3R000602CS                                    TOL Inflow M1 Connected : DataService 2025-03-12 14:02:45   20240102  20250311     27,212,302              7           99     2058
50       TOL  TB3R000602D1CG   TOL Inflow M1 Connected : DataService - GEO Channel (Install Location) 2025-03-12 14:02:45   20240105  20250310      1,576,247              7           96     1795
51       TOL  TB3R000602D1CS                 TOL Inflow M1 Connected : DataService (Install Location) 2025-03-12 14:02:45   20240102  20250311     27,212,302              7          101     2084
52       TOL    TB3S000102CG                        TOL Gross Adds Connected : Consumer - GEO Channel 2025-03-12 14:02:45   20240102  20250311        476,800              7         1209   309903
53       TOL    TB3S000102CS                                      TOL Gross Adds Connected : Consumer 2025-03-12 14:02:45   20240102  20250311        672,666              7         1214   316097
54       TOL  TB3S000102D1CG     TOL Gross Adds Connected : Consumer - GEO Channel (Install Location) 2025-03-12 14:02:45   20240102  20250311        476,800              7         6516   548192
55       TOL  TB3S000102D1CS                   TOL Gross Adds Connected : Consumer (Install Location) 2025-03-12 14:02:45   20240102  20250311        672,666              7         6959   671027
56       TOL    TB3S000103CG                     TOL Gross Adds Connected : DataService - GEO Channel 2025-03-12 14:02:45   20240105  20250310            482              7           96     1795
57       TOL    TB3S000103CS                                   TOL Gross Adds Connected : DataService 2025-03-12 14:02:45   20240102  20250311         22,104              7           99     2058
58       TOL  TB3S000103D1CG  TOL Gross Adds Connected : DataService - GEO Channel (Install Location) 2025-03-12 14:02:45   20240105  20250310            482              7           96     1795
59       TOL  TB3S000103D1CS                TOL Gross Adds Connected : DataService (Install Location) 2025-03-12 14:02:45   20240102  20250311         22,104              7          101     2084
60       TOL    TB3S000104CG                     TOL Gross Adds Registration : Consumer - GEO Channel 2025-03-12 14:02:45   20240101  20250311        647,717              7         1236   327269
61       TOL    TB3S000104CS                                   TOL Gross Adds Registration : Consumer 2025-03-12 14:02:45   20240101  20250311        923,377              7         1243   333271
62       TOL    TB3S000105CG                  TOL Gross Adds Registration : DataService - GEO Channel 2025-03-12 14:02:45   20240101  20250307         15,017              7          620    25361
63       TOL    TB3S000105CS                                TOL Gross Adds Registration : DataService 2025-03-12 14:02:45   20240101  20250311         49,318              7          620    25594
64       TVS    TB4R001004CG                                         TVS CMDU Inflow M1 - GEO Channel 2025-03-12 14:10:28   20240101  20250307      4,793,633              7          122     3262
65       TVS    TB4R001004CS                                                       TVS CMDU Inflow M1 2025-03-12 14:10:28   20240101  20250307     13,667,381              7          137     6127
66       TVS    TB4R001700CG                                          TVS Now Inflow M1 - GEO Channel 2025-03-12 14:10:28   20240701  20250310      4,509,192              7          653    25284
67       TVS    TB4R001700CS                                                        TVS Now Inflow M1 2025-03-12 14:10:28   20240701  20250310      4,528,192              7          657    25342
68       TVS    TB4S001004CG                                        TVS CMDU Gross Adds - GEO Channel 2025-03-12 14:10:28   20240101  20250307            847              7          122     3262
69       TVS    TB4S001004CS                                                      TVS CMDU Gross Adds 2025-03-12 14:10:28   20240101  20250307          2,090              7          137     6127
70       TVS    TB4S001400CG                                         TVS Now Gross Adds - GEO Channel 2025-03-12 14:10:28   20240701  20250310          9,894              7          653    25284
71       TVS    TB4S001400CS                                                       TVS Now Gross Adds 2025-03-12 14:10:28   20240701  20250310          9,922              7          657    25342

In [119]:
''' METRIC Current Month '''

# v_tm_key_mth = '202502'
curr_mth = chk_src_df['TM_KEY_MTH'].max()
src_t_sales_mth_df_cols = ['PRODUCT', 'METRIC_CD', 'METRIC_NAME', 'LOAD_DATE', 'TM_KEY_MTH', 'START_DAY', 'END_DAY', 'C', 'P', 'G', 'H', 'HH', 'CCAA', 'CCAATT']
print(f'\nParameter input...\n')
print(f'   -> v_tm_key_mth: {curr_mth}')

src_t_sales_mth_df = chk_src_df[src_t_sales_mth_df_cols].copy()
src_t_sales_mth_df = src_t_sales_mth_df.loc[src_t_sales_mth_df['TM_KEY_MTH']==curr_mth]
src_t_sales_mth_df = src_t_sales_mth_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_MTH']).reset_index(drop=True)

mod_col_list = src_t_sales_mth_df.iloc[:, 7:14].columns.tolist()
for col in mod_col_list:
    src_t_sales_mth_df[col] = src_t_sales_mth_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\n{src_t_sales_mth_df.to_string(max_cols=17)}')

Parameter input...

   -> v_tm_key_mth: 202503

     PRODUCT       METRIC_CD                                                              METRIC_NAME           LOAD_DATE TM_KEY_MTH  START_DAY   END_DAY  C            P            G            H           HH         CCAA       CCAATT
0   POSTPAID    DB2R010500CG                              Postpaid Inflow M1 B2C : DTAC - GEO Channel 2025-03-12 14:09:15     202503   20250301  20250310  0    2,974,968    2,972,074    2,972,074    2,972,074    2,972,074    2,972,074
1   POSTPAID    DB2R010500CS                                            Postpaid Inflow M1 B2C : DTAC 2025-03-12 14:09:15     202503   20250301  20250310  0    5,645,173    5,587,476    5,587,476    5,587,476    5,587,476    5,587,476
2   POSTPAID    DB2R020500CG                              Postpaid Inflow M1 B2B : DTAC - GEO Channel 2025-03-12 14:09:15     202503   20250301  20250310  0      140,619      140,242      140,242      140,242      140,242      140,242
3   POSTPAID    DB2R020500CS                                            Postpaid Inflow M1 B2B : DTAC 2025-03-12 14:09:15     202503   20250301  20250310  0    3,290,562      393,625      393,625      393,625      393,625      393,625
4   POSTPAID    DB2S010100CG                             Postpaid Gross Adds B2C : DTAC - GEO Channel 2025-03-12 14:09:15     202503   20250301  20250310  0        5,239        5,232        5,232        5,232        5,232        5,232
5   POSTPAID    DB2S010100CS                                           Postpaid Gross Adds B2C : DTAC 2025-03-12 14:09:15     202503   20250301  20250310  0       13,072       12,965       12,965       12,965       12,965       12,965
6   POSTPAID    DB2S020100CG                             Postpaid Gross Adds B2B : DTAC - GEO Channel 2025-03-12 14:09:15     202503   20250301  20250310  0          229          228          228          228          228          228
7   POSTPAID    DB2S020100CS                                           Postpaid Gross Adds B2B : DTAC 2025-03-12 14:09:15     202503   20250301  20250310  0        4,741        1,059        1,059        1,059        1,059        1,059
8   POSTPAID    TB2R010500CG                               Postpaid Inflow M1 B2C : TMH - GEO Channel 2025-03-12 14:09:15     202503   20250301  20250311  0   15,736,199   15,735,202   15,735,202   15,735,202   15,735,202   15,735,202
9   POSTPAID    TB2R010500CS                                             Postpaid Inflow M1 B2C : TMH 2025-03-12 14:09:15     202503   20250301  20250311  0   28,555,051   22,991,654   22,991,654   22,991,654   22,991,654   22,991,654
10  POSTPAID    TB2R020500CG                               Postpaid Inflow M1 B2B : TMH - GEO Channel 2025-03-12 14:09:15     202503   20250301  20250311  0      766,467      766,467      766,467      766,467      766,467      766,467
11  POSTPAID    TB2R020500CS                                             Postpaid Inflow M1 B2B : TMH 2025-03-12 14:09:15     202503   20250301  20250311  0    1,814,453      865,281      865,281      865,281      865,281      865,281
12  POSTPAID    TB2S010100CG                              Postpaid Gross Adds B2C : TMH - GEO Channel 2025-03-12 14:09:15     202503   20250301  20250311  0       32,208       32,205       32,205       32,205       32,205       32,205
13  POSTPAID    TB2S010100CS                                            Postpaid Gross Adds B2C : TMH 2025-03-12 14:09:15     202503   20250301  20250311  0       60,452       44,142       44,142       44,142       44,142       44,142
14  POSTPAID    TB2S020100CG                              Postpaid Gross Adds B2B : TMH - GEO Channel 2025-03-12 14:09:15     202503   20250301  20250311  0          906          906          906          906          906          906
15  POSTPAID    TB2S020100CS                                            Postpaid Gross Adds B2B : TMH 2025-03-12 14:09:15     202503   20250301  20250311  0        8,197          964          964          964          964          964
16   PREPAID    DB1R000106CG                          Prepaid Amt of AP In Month : DTAC - GEO Channel 2025-03-12 16:36:21     202503   20250301  20250310  0  142,856,470  138,937,558  138,937,558  135,661,930  138,971,334  138,222,882
17   PREPAID    DB1R000106CS                                        Prepaid Amt of AP In Month : DTAC 2025-03-12 14:03:10     202503   20250301  20250310  0  145,520,942  141,490,627  141,490,627  138,208,962  141,531,836  140,779,027
18   PREPAID    DB1R000109CG                                Prepaid Amt of AP 1D : DTAC - GEO Channel 2025-03-12 16:36:20     202503   20250301  20250310  0  138,070,998  134,243,522  134,243,522  131,062,916  134,274,542  133,545,826
19   PREPAID    DB1R000109CS                                              Prepaid Amt of AP 1D : DTAC 2025-03-12 14:03:10     202503   20250301  20250310  0  140,667,008  136,729,402  136,729,402  133,542,373  136,767,169  136,034,096
20   PREPAID    DB1R000900CG                                   Prepaid Inflow M1 : DTAC - GEO Channel 2025-03-12 16:36:20     202503   20250301  20250309  0  130,732,802  127,956,746  127,956,746  125,031,699  127,983,958  127,202,587
21   PREPAID    DB1R000900CS                                                 Prepaid Inflow M1 : DTAC 2025-03-12 14:03:10     202503   20250301  20250309  0  132,863,174  130,015,005  130,015,005  127,087,630  130,048,699  129,264,328
22   PREPAID    DB1R001000CG                                   Prepaid Inflow M2 : DTAC - GEO Channel 2025-03-12 14:03:10     202503   20250301  20250309  0   19,493,851   19,287,177   19,287,177   19,013,665   19,290,865   19,083,246
23   PREPAID    DB1R001000CS                                                 Prepaid Inflow M2 : DTAC 2025-03-12 14:03:10     202503   20250301  20250309  0   19,955,900   19,734,714   19,734,714   19,459,062   19,742,818   19,534,040
24   PREPAID    DB1S000101CG                                  Prepaid Gross Adds : DTAC - GEO Channel 2025-03-12 16:36:20     202503   20250301  20250310  0      687,872      662,046      662,046      648,332      662,196      658,230
25   PREPAID    DB1S000101CS                                                Prepaid Gross Adds : DTAC 2025-03-12 14:03:10     202503   20250301  20250310  0      356,414      342,890      342,890      335,979      342,998      340,993
26   PREPAID    DB1S000106CG                           Prepaid No of AP In Month : DTAC - GEO Channel 2025-03-12 16:36:20     202503   20250301  20250310  0      613,472      587,798      587,798      574,788      587,948      584,472
27   PREPAID    DB1S000106CS                                         Prepaid No of AP In Month : DTAC 2025-03-12 14:03:10     202503   20250301  20250310  0      625,191      599,041      599,041      585,979      599,224      595,726
28   PREPAID    DB1S000109CG                                 Prepaid No of AP 1D : DTAC - GEO Channel 2025-03-12 16:36:20     202503   20250301  20250310  0      591,056      565,402      565,402      552,698      565,552      562,242
29   PREPAID    DB1S000109CS                                               Prepaid No of AP 1D : DTAC 2025-03-12 14:03:10     202503   20250301  20250310  0      602,324      576,194      576,194      563,439      576,377      573,045
30   PREPAID    TB1R000106CG                           Prepaid Amt of AP In Month : TMH - GEO Channel 2025-03-12 16:36:21     202503   20250301  20250311  0  134,643,827  101,873,897  101,873,897   98,469,369  101,873,897  101,868,211
31   PREPAID    TB1R000106CS                                         Prepaid Amt of AP In Month : TMH 2025-03-12 14:03:10     202503   20250301  20250311  0  135,334,537  101,878,696  101,878,696   98,474,168  101,878,696  101,873,009
32   PREPAID    TB1R000109CG                                 Prepaid Amt of AP 1D : TMH - GEO Channel 2025-03-12 16:36:20     202503   20250301  20250311  0  130,668,066   98,028,954   98,028,954   94,693,522   98,028,954   98,023,364
33   PREPAID    TB1R000109CS                                               Prepaid Amt of AP 1D : TMH 2025-03-12 14:03:10     202503   20250301  20250311  0  131,352,551   98,033,658   98,033,658   94,698,226   98,033,658   98,028,068
34   PREPAID    TB1R000900CG                                    Prepaid Inflow M1 : TMH - GEO Channel 2025-03-12 16:36:20     202503   20250301  20250309  0  114,268,015   86,340,122   86,340,122   83,391,438   86,340,122   86,334,931
35   PREPAID    TB1R000900CS                                                  Prepaid Inflow M1 : TMH 2025-03-12 14:03:10     202503   20250301  20250309  0  114,863,503   86,344,521   86,344,521   83,395,837   86,344,521   86,339,330
36   PREPAID    TB1R001000CG                                    Prepaid Inflow M2 : TMH - GEO Channel 2025-03-12 14:03:10     202503   20250301  20250309  0   18,225,034   17,870,423   17,870,423   17,503,555   17,870,423   17,867,523
37   PREPAID    TB1R001000CS                                                  Prepaid Inflow M2 : TMH 2025-03-12 14:03:10     202503   20250301  20250309  0   18,254,663   17,871,408   17,871,408   17,504,540   17,871,408   17,868,508
38   PREPAID    TB1S000101CG                                   Prepaid Gross Adds : TMH - GEO Channel 2025-03-12 16:36:20     202503   20250301  20250311  0      659,274      501,346      501,346      485,450      501,346      501,314
39   PREPAID    TB1S000101CS                                                 Prepaid Gross Adds : TMH 2025-03-12 14:03:10     202503   20250301  20250311  0      330,626      250,698      250,698      242,750      250,698      250,682
40   PREPAID    TB1S000106CG                            Prepaid No of AP In Month : TMH - GEO Channel 2025-03-12 16:36:20     202503   20250301  20250311  0      547,356      424,656      424,656      409,526      424,656      424,624
41   PREPAID    TB1S000106CS                                          Prepaid No of AP In Month : TMH 2025-03-12 14:03:10     202503   20250301  20250311  0      548,189      424,663      424,663      409,533      424,663      424,631
42   PREPAID    TB1S000109CG                                  Prepaid No of AP 1D : TMH - GEO Channel 2025-03-12 16:36:20     202503   20250301  20250311  0      534,664      412,532      412,532      397,586      412,532      412,500
43   PREPAID    TB1S000109CS                                                Prepaid No of AP 1D : TMH 2025-03-12 14:03:10     202503   20250301  20250311  0      535,487      412,539      412,539      397,593      412,539      412,507
44       TOL    TB3R000601CG                         TOL Inflow M1 Connected : Consumer - GEO Channel 2025-03-12 14:02:45     202503   20250301  20250311  0    8,039,362    8,039,362    8,039,362    7,971,127    8,039,362    8,039,362
45       TOL    TB3R000601CS                                       TOL Inflow M1 Connected : Consumer 2025-03-12 14:02:45     202503   20250301  20250311  0   10,150,268    8,091,935    8,091,935    8,023,700    8,091,935    8,091,935
46       TOL  TB3R000601D1CG      TOL Inflow M1 Connected : Consumer - GEO Channel (Install Location) 2025-03-12 14:02:45     202503   20250301  20250311  0    8,039,362    8,039,362    8,039,362    8,039,362    8,039,362    8,039,362
47       TOL  TB3R000601D1CS                    TOL Inflow M1 Connected : Consumer (Install Location) 2025-03-12 14:02:45     202503   20250301  20250311  0   10,150,268   10,148,571   10,148,571   10,148,571   10,148,571   10,148,571
48       TOL    TB3R000602CG                      TOL Inflow M1 Connected : DataService - GEO Channel 2025-03-12 14:02:45     202503   20250304  20250310  0      112,462      112,462      112,462      112,462      112,462      112,462
49       TOL    TB3R000602CS                                    TOL Inflow M1 Connected : DataService 2025-03-12 14:02:45     202503   20250301  20250311  0      491,714      112,462      112,462      112,462      112,462      112,462
50       TOL  TB3R000602D1CG   TOL Inflow M1 Connected : DataService - GEO Channel (Install Location) 2025-03-12 14:02:45     202503   20250304  20250310  0      112,462      112,462      112,462      112,462      112,462      112,462
51       TOL  TB3R000602D1CS                 TOL Inflow M1 Connected : DataService (Install Location) 2025-03-12 14:02:45     202503   20250301  20250311  0      491,714      112,462      112,462      112,462      112,462      112,462
52       TOL    TB3S000102CG                        TOL Gross Adds Connected : Consumer - GEO Channel 2025-03-12 14:02:45     202503   20250301  20250311  0       14,941       14,941       14,941       14,821       14,941       14,941
53       TOL    TB3S000102CS                                      TOL Gross Adds Connected : Consumer 2025-03-12 14:02:45     202503   20250301  20250311  0       19,090       15,047       15,047       14,927       15,047       15,047
54       TOL  TB3S000102D1CG     TOL Gross Adds Connected : Consumer - GEO Channel (Install Location) 2025-03-12 14:02:45     202503   20250301  20250311  0       14,941       14,941       14,941       14,941       14,941       14,941
55       TOL  TB3S000102D1CS                   TOL Gross Adds Connected : Consumer (Install Location) 2025-03-12 14:02:45     202503   20250301  20250311  0       19,090       19,087       19,087       19,087       19,087       19,087
56       TOL    TB3S000103CG                     TOL Gross Adds Connected : DataService - GEO Channel 2025-03-12 14:02:45     202503   20250304  20250310  0           17           17           17           17           17           17
57       TOL    TB3S000103CS                                   TOL Gross Adds Connected : DataService 2025-03-12 14:02:45     202503   20250301  20250311  0          394           17           17           17           17           17
58       TOL  TB3S000103D1CG  TOL Gross Adds Connected : DataService - GEO Channel (Install Location) 2025-03-12 14:02:45     202503   20250304  20250310  0           17           17           17           17           17           17
59       TOL  TB3S000103D1CS                TOL Gross Adds Connected : DataService (Install Location) 2025-03-12 14:02:45     202503   20250301  20250311  0          394           17           17           17           17           17
60       TOL    TB3S000104CG                     TOL Gross Adds Registration : Consumer - GEO Channel 2025-03-12 14:02:45     202503   20250301  20250311  0       20,474       20,473       20,473       20,338       20,473       20,473
61       TOL    TB3S000104CS                                   TOL Gross Adds Registration : Consumer 2025-03-12 14:02:45     202503   20250301  20250311  0       26,767       20,666       20,666       20,531       20,666       20,666
62       TOL    TB3S000105CG                  TOL Gross Adds Registration : DataService - GEO Channel 2025-03-12 14:02:45     202503   20250301  20250307  0           10           10           10           10           10           10
63       TOL    TB3S000105CS                                TOL Gross Adds Registration : DataService 2025-03-12 14:02:45     202503   20250301  20250311  0          422           10           10           10           10           10
64       TVS    TB4R001004CG                                         TVS CMDU Inflow M1 - GEO Channel 2025-03-12 14:10:28     202503   20250304  20250307  0        3,083        3,083        3,083        3,083        3,083        3,083
65       TVS    TB4R001004CS                                                       TVS CMDU Inflow M1 2025-03-12 14:10:28     202503   20250301  20250307  0      171,721      171,721      171,721      171,721      171,721      171,721
66       TVS    TB4R001700CG                                          TVS Now Inflow M1 - GEO Channel 2025-03-12 14:10:28     202503   20250301  20250310  0      210,262      210,262      210,262      210,262      210,262      210,262
67       TVS    TB4R001700CS                                                        TVS Now Inflow M1 2025-03-12 14:10:28     202503   20250301  20250310  0      210,262      210,262      210,262      210,262      210,262      210,262
68       TVS    TB4S001004CG                                        TVS CMDU Gross Adds - GEO Channel 2025-03-12 14:10:28     202503   20250304  20250307  0            2            2            2            2            2            2
69       TVS    TB4S001004CS                                                      TVS CMDU Gross Adds 2025-03-12 14:10:28     202503   20250301  20250307  0           21           21           21           21           21           21
70       TVS    TB4S001400CG                                         TVS Now Gross Adds - GEO Channel 2025-03-12 14:10:28     202503   20250301  20250310  0          926          926          926          926          926          926
71       TVS    TB4S001400CS                                                       TVS Now Gross Adds 2025-03-12 14:10:28     202503   20250301  20250310  0          926          926          926          926          926          926

## Actual : Transaction
->  DIM_CORP_KPI

In [120]:
''' Execute Daily by case '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20250101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        PRODUCT, METRIC_CD, METRIC_NAME, TM_KEY_DAY
        , MAX(LOAD_DATE) LOAD_DATE
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN METRIC_VALUE END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN METRIC_VALUE END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN METRIC_VALUE END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN METRIC_VALUE END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN METRIC_VALUE END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN METRIC_VALUE END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN METRIC_VALUE END) CCAATT
    FROM CDSAPPO.DIM_CORP_KPI
    WHERE REGEXP_LIKE(METRIC_CD, 'CS$|CG$') -->> 2025 KPIs
    --WHERE METRIC_CD = 'TB3S000102CS' --TOL Gross Adds Connected : Consumer
    AND EXISTS (
        SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
        FROM (
            SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
        ) TMP
        WHERE TMP_CD = AREA_CD )
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY PRODUCT, METRIC_CD, METRIC_NAME, TM_KEY_DAY
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Summary DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Daily DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20250101

TDMDBPR : Connected

   -> Execute query... 2025-03-12, 20:15:34

   -> Daily DataFrame : 4752 rows, 12 columns

TDMDBPR : Disconnected

In [121]:
''' METRIC by Day '''

v_tm_key_day = 20250101
print(f'\nParameter input...\n')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

src_sale_day_df = chk_src_df.copy()
src_sale_day_df = src_sale_day_df.loc[src_sale_day_df['TM_KEY_DAY']>=v_tm_key_day]
src_sale_day_df = src_sale_day_df.fillna(0).sort_values(by=['METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = src_sale_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    src_sale_day_df[col] = src_sale_day_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\nCreate : src_sale_day_df...')
print(f'\n   -> DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')
# print(f'\n{src_sale_day_df.to_string(max_cols=12)}')

Parameter input...

   -> v_tm_key_day: 20250101

Create : src_sale_day_df...

   -> DataFrame : 4752 rows, 12 columns

In [122]:
''' xB1S000101CS : Prepaid Gross Adds : xxx '''

v_tm_key_day = 20250301
v_metric_cd = ['DB1S000101CS', 'TB1S000101CS']
print(f'\nDB1S000101CS : Prepaid Gross Adds : DTAC\nTB1S000101CS : Prepaid Gross Adds : TMH\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

xB1S000101CS_day_df = chk_src_df.copy()
xB1S000101CS_day_df = xB1S000101CS_day_df.loc[xB1S000101CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
xB1S000101CS_day_df = xB1S000101CS_day_df.loc[xB1S000101CS_day_df['METRIC_CD'].isin(v_metric_cd)]
xB1S000101CS_day_df = xB1S000101CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = xB1S000101CS_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    xB1S000101CS_day_df[col] = xB1S000101CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
xB1S000101CS_day_df

DB1S000101CS : Prepaid Gross Adds : DTAC
TB1S000101CS : Prepaid Gross Adds : TMH

   -> v_metric_cd: ['DB1S000101CS', 'TB1S000101CS']
   -> v_tm_key_day: 20250301

,PRODUCT,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250301,2025-03-12 14:03:10,0,"39,049","37,283","37,283","36,737","37,291","37,076"
1,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250302,2025-03-12 14:03:10,0,"41,058","37,902","37,902","37,314","37,916","37,501"
2,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250303,2025-03-12 14:03:10,0,"35,155","34,419","34,419","33,556","34,425","34,267"
3,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250304,2025-03-12 14:03:10,0,"33,235","32,778","32,778","32,001","32,790","32,653"
4,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250305,2025-03-12 14:03:10,0,"34,208","33,679","33,679","32,997","33,691","33,558"
5,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250306,2025-03-12 14:03:10,0,"36,486","35,941","35,941","35,041","35,945","35,782"
6,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250307,2025-03-12 14:03:10,0,"38,198","36,360","36,360","35,481","36,372","36,233"
7,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250308,2025-03-12 14:03:10,0,"33,204","32,324","32,324","31,740","32,338","32,184"
8,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250309,2025-03-12 14:03:10,0,"33,337","32,005","32,005","31,503","32,020","31,663"
9,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250310,2025-03-12 14:03:10,0,"32,484","30,199","30,199","29,609","30,210","30,076"
10,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250301,2025-03-12 14:03:10,0,"32,433","24,355","24,355","23,547","24,355","24,353"
11,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250302,2025-03-12 14:03:10,0,"33,097","26,021","26,021","25,107","26,021","26,018"
12,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250303,2025-03-12 14:03:10,0,"35,241","28,185","28,185","27,322","28,185","28,184"
13,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250304,2025-03-12 14:03:10,0,"30,933","24,423","24,423","23,544","24,423","24,422"
14,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250305,2025-03-12 14:03:10,0,"32,733","24,904","24,904","24,104","24,904","24,903"
15,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250306,2025-03-12 14:03:10,0,"31,896","23,582","23,582","22,820","23,582","23,580"
16,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250307,2025-03-12 14:03:10,0,"33,174","23,894","23,894","23,141","23,894","23,890"
17,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250308,2025-03-12 14:03:10,0,"32,840","23,585","23,585","22,869","23,585","23,585"
18,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250309,2025-03-12 14:03:10,0,"31,241","23,031","23,031","22,310","23,031","23,030"
19,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250310,2025-03-12 14:03:10,0,"36,572","28,622","28,622","27,892","28,622","28,621"
20,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250311,2025-03-12 14:03:10,0,466,96,96,94,96,96

In [123]:
''' xB2S010100CS : Postpaid Gross Adds B2C : xxx '''

v_tm_key_day = 20250301
v_metric_cd = ['DB2S010100CS', 'TB2S010100CS']
print(f'\nDB2S010100CS : Postpaid Gross Adds : DTAC\nTB2S010100CS : Postpaid Gross Adds : TMH\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

xB2S010100CS_day_df = chk_src_df.copy()
xB2S010100CS_day_df = xB2S010100CS_day_df.loc[xB2S010100CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
xB2S010100CS_day_df = xB2S010100CS_day_df.loc[xB2S010100CS_day_df['METRIC_CD'].isin(v_metric_cd)]
xB2S010100CS_day_df = xB2S010100CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = xB2S010100CS_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    xB2S010100CS_day_df[col] = xB2S010100CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
xB2S010100CS_day_df

DB2S010100CS : Postpaid Gross Adds : DTAC
TB2S010100CS : Postpaid Gross Adds : TMH

   -> v_metric_cd: ['DB2S010100CS', 'TB2S010100CS']
   -> v_tm_key_day: 20250301

,PRODUCT,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250301,2025-03-12 14:09:15,0,"1,143","1,137","1,137","1,137","1,137","1,137"
1,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250302,2025-03-12 14:09:15,0,888,887,887,887,887,887
2,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250303,2025-03-12 14:09:15,0,"1,362","1,354","1,354","1,354","1,354","1,354"
3,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250304,2025-03-12 14:09:15,0,"1,696","1,684","1,684","1,684","1,684","1,684"
4,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250305,2025-03-12 14:09:15,0,"1,382","1,370","1,370","1,370","1,370","1,370"
5,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250306,2025-03-12 14:09:15,0,"1,707","1,685","1,685","1,685","1,685","1,685"
6,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250307,2025-03-12 14:09:15,0,"1,366","1,351","1,351","1,351","1,351","1,351"
7,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250308,2025-03-12 14:09:15,0,"1,165","1,148","1,148","1,148","1,148","1,148"
8,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250309,2025-03-12 14:09:15,0,834,832,832,832,832,832
9,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250310,2025-03-12 14:09:15,0,"1,529","1,517","1,517","1,517","1,517","1,517"
10,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250301,2025-03-12 14:09:15,0,"4,968","3,885","3,885","3,885","3,885","3,885"
11,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250302,2025-03-12 14:09:15,0,"5,873","4,762","4,762","4,762","4,762","4,762"
12,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250303,2025-03-12 14:09:15,0,"5,308","3,772","3,772","3,772","3,772","3,772"
13,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250304,2025-03-12 14:09:15,0,"5,975","4,182","4,182","4,182","4,182","4,182"
14,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250305,2025-03-12 14:09:15,0,"5,185","3,590","3,590","3,590","3,590","3,590"
15,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250306,2025-03-12 14:09:15,0,"5,031","3,502","3,502","3,502","3,502","3,502"
16,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250307,2025-03-12 14:09:15,0,"4,840","3,309","3,309","3,309","3,309","3,309"
17,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250308,2025-03-12 14:09:15,0,"5,283","3,850","3,850","3,850","3,850","3,850"
18,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250309,2025-03-12 14:09:15,0,"5,623","4,359","4,359","4,359","4,359","4,359"
19,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250310,2025-03-12 14:09:15,0,"4,907","3,425","3,425","3,425","3,425","3,425"
20,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250311,2025-03-12 14:09:15,0,"7,459","5,506","5,506","5,506","5,506","5,506"

In [124]:
''' TB3S000102CS : TOL Gross Adds Connected : Consumer '''

v_tm_key_day = 20250301
v_metric_cd = 'TB3S000102CS'
print(f'\nTB3S000102CS : TOL Gross Adds Connected : Consumer\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB3S000102CS_day_df = chk_src_df.copy()
TB3S000102CS_day_df = TB3S000102CS_day_df.loc[TB3S000102CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB3S000102CS_day_df = TB3S000102CS_day_df.loc[TB3S000102CS_day_df['METRIC_CD']==v_metric_cd]
TB3S000102CS_day_df = TB3S000102CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB3S000102CS_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB3S000102CS_day_df[col] = TB3S000102CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB3S000102CS_day_df

TB3S000102CS : TOL Gross Adds Connected : Consumer

   -> v_metric_cd: TB3S000102CS
   -> v_tm_key_day: 20250301

,PRODUCT,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250301,2025-03-12 14:02:45,0,"1,762","1,379","1,379","1,368","1,379","1,379"
1,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250302,2025-03-12 14:02:45,0,"1,605","1,213","1,213","1,195","1,213","1,213"
2,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250303,2025-03-12 14:02:45,0,"1,739","1,394","1,394","1,375","1,394","1,394"
3,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250304,2025-03-12 14:02:45,0,"1,790","1,450","1,450","1,442","1,450","1,450"
4,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250305,2025-03-12 14:02:45,0,"1,736","1,420","1,420","1,405","1,420","1,420"
5,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250306,2025-03-12 14:02:45,0,"1,729","1,410","1,410","1,402","1,410","1,410"
6,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250307,2025-03-12 14:02:45,0,"1,660","1,351","1,351","1,341","1,351","1,351"
7,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250308,2025-03-12 14:02:45,0,"1,809","1,337","1,337","1,326","1,337","1,337"
8,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250309,2025-03-12 14:02:45,0,"1,713","1,267","1,267","1,261","1,267","1,267"
9,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250310,2025-03-12 14:02:45,0,"1,826","1,418","1,418","1,410","1,418","1,418"
10,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250311,2025-03-12 14:02:45,0,"1,721","1,408","1,408","1,402","1,408","1,408"

In [125]:
''' TB4S001400CS : TVS Now Gross Adds '''

v_tm_key_day = 20250301
v_metric_cd = 'TB4S001400CS'
print(f'\nTB4S001400CS : TVS Now Gross Adds\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB4S001400CS_day_df = chk_src_df.copy()
TB4S001400CS_day_df = TB4S001400CS_day_df.loc[TB4S001400CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB4S001400CS_day_df = TB4S001400CS_day_df.loc[TB4S001400CS_day_df['METRIC_CD']==v_metric_cd]
TB4S001400CS_day_df = TB4S001400CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB4S001400CS_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB4S001400CS_day_df[col] = TB4S001400CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB4S001400CS_day_df

TB4S001400CS : TVS Now Gross Adds

   -> v_metric_cd: TB4S001400CS
   -> v_tm_key_day: 20250301

,PRODUCT,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,TVS,TB4S001400CS,TVS Now Gross Adds,20250301,2025-03-12 14:10:28,0,24,24,24,24,24,24
1,TVS,TB4S001400CS,TVS Now Gross Adds,20250302,2025-03-12 14:10:28,0,46,46,46,46,46,46
2,TVS,TB4S001400CS,TVS Now Gross Adds,20250303,2025-03-12 14:10:28,0,19,19,19,19,19,19
3,TVS,TB4S001400CS,TVS Now Gross Adds,20250304,2025-03-12 14:10:28,0,23,23,23,23,23,23
4,TVS,TB4S001400CS,TVS Now Gross Adds,20250305,2025-03-12 14:10:28,0,79,79,79,79,79,79
5,TVS,TB4S001400CS,TVS Now Gross Adds,20250306,2025-03-12 14:10:28,0,211,211,211,211,211,211
6,TVS,TB4S001400CS,TVS Now Gross Adds,20250307,2025-03-12 14:10:28,0,158,158,158,158,158,158
7,TVS,TB4S001400CS,TVS Now Gross Adds,20250308,2025-03-12 14:10:28,0,140,140,140,140,140,140
8,TVS,TB4S001400CS,TVS Now Gross Adds,20250309,2025-03-12 14:10:28,0,140,140,140,140,140,140
9,TVS,TB4S001400CS,TVS Now Gross Adds,20250310,2025-03-12 14:10:28,0,86,86,86,86,86,86

## Output File
->  DIM_CORP_KPI

In [126]:
''' Execute Sales Monthly '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20240101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/ 
        SUBSTR(TM_KEY_DAY,1,4) AS TM_KEY_YR, SUBSTR(TM_KEY_DAY,1,6) AS TM_KEY_MTH
        , CASE WHEN REGEXP_LIKE(METRIC_CD, 'CS$|CG$') THEN 'Y2025' ELSE 'Y2024' END VER_FLAG
        , PRODUCT, COMP_CD, METRIC_CD, METRIC_NAME, REMARK, UPD_TM, PPN_TM
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN METRIC_VALUE END) P_ACTUAL
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN METRIC_VALUE END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN METRIC_VALUE END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN METRIC_VALUE END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN METRIC_VALUE END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN METRIC_VALUE END) CCAATT
        , SUM(CASE WHEN AREA_CD = '016' THEN METRIC_VALUE END) "016"
        , SUM(CASE WHEN AREA_CD = '040' THEN METRIC_VALUE END) "040"
        , SUM(CASE WHEN AREA_CD = '080' THEN METRIC_VALUE END) "080"
        , MIN(TM_KEY_DAY) AS START_DAY, MAX(TM_KEY_DAY) AS END_DAY, MAX(LOAD_DATE) LOAD_DATE
    FROM CDSAPPO.DIM_CORP_KPI
    WHERE METRIC_CD NOT LIKE 'Error%'
    AND EXISTS (
        SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
        FROM (
            SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
        ) TMP
        WHERE TMP_CD = AREA_CD )
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY SUBSTR(TM_KEY_DAY,1,4), SUBSTR(TM_KEY_DAY,1,6), PRODUCT, COMP_CD, METRIC_CD, METRIC_NAME, REMARK, UPD_TM, PPN_TM
    --ORDER BY 2, 3, PRODUCT, COMP_CD, METRIC_CD 
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Sales Monthly DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    monthly_sales_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Sales Monthly DataFrame : {monthly_sales_df.shape[0]} rows, {monthly_sales_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20240101

TDMDBPR : Connected

   -> Execute query... 2025-03-12, 20:17:11

   -> Sales Monthly DataFrame : 1054 rows, 22 columns

TDMDBPR : Disconnected

In [127]:
''' Generate CSV file '''

op_dir = 'data'
op_monthly_file = f'sales_monthly_{str_curr_dt}'

monthly_sales_df.to_csv(f'{op_dir}/tmp_{op_monthly_file}.csv', index=False, encoding='utf-8')
print(f'\n   -> Generate "tmp_{op_monthly_file}.csv" successfully')

monthly_sales_df.tail(3)

   -> Generate "tmp_sales_monthly_20250312.csv" successfully

,TM_KEY_YR,TM_KEY_MTH,VER_FLAG,PRODUCT,COMP_CD,METRIC_CD,METRIC_NAME,REMARK,UPD_TM,PPN_TM,...,H,HH,CCAA,CCAATT,016,040,080,START_DAY,END_DAY,LOAD_DATE
1051,2024,202410,Y2025,TVS,TRUE,TB4R001004CS,TVS CMDU Inflow M1,KPI Metric 2025,20250304,20250304,...,1438828.13,1438828.13,1438828.13,1438828.13,None,None,NaN,20241001,20241031,2025-03-04 17:49:19
1052,2024,202403,Y2025,POSTPAID,TRUE,TB2R020500CS,Postpaid Inflow M1 B2B : TMH,KPI Metric 2025,20250304,20250304,...,2249546.42,2249546.42,2249546.42,2249546.42,None,None,71344.00,20240301,20240331,2025-03-04 17:47:54
1053,2024,202406,Y2025,TVS,TRUE,TB4R001004CG,TVS CMDU Inflow M1 - GEO Channel,KPI Metric 2025,20250304,20250304,...,223326.17,223326.17,223326.17,223326.17,None,None,6728.97,20240601,20240629,2025-03-04 17:49:19