# * Ex-T Revenue & Subs

## Parameter

In [1]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

pd.set_option('future.no_silent_downcasting', True)

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

## Actual : Monitoring
->  FCT_KPI_NEWCO_PERF_ACTUAL

In [2]:
''' Execute Summany Data '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20240101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/ 
        SUBSTR(TM_KEY_DAY,1,6) AS TM_KEY_MTH, REMARK, METRIC_CD, METRIC_NAME
        , MAX(LOAD_DATE) LOAD_DATE, MIN(TM_KEY_DAY) AS START_DAY, MAX(TM_KEY_DAY) AS END_DAY
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN ACTUAL END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN ACTUAL END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN ACTUAL END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN ACTUAL END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN ACTUAL END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN ACTUAL END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN ACTUAL END) CCAATT
        , COUNT(DISTINCT AREA_TYPE) CNT_AREA_TYPE, COUNT(DISTINCT AREA_CD) CNT_AREA_CD, COUNT(1) ROW_CNT
    FROM (
        SELECT TM_KEY_DAY
            , CASE 	WHEN METRIC_CD LIKE 'TB%S%' 
                    THEN ROW_NUMBER() OVER (PARTITION BY SUBSTR(TM_KEY_DAY,1,6), METRIC_CD, AREA_CD ORDER BY TM_KEY_DAY DESC)
                    ELSE 1 END FLAG
            , CASE WHEN METRIC_CD LIKE 'TB%S%' THEN 'SUB' ELSE 'REV' END AGG_TYPE
            , METRIC_CD, METRIC_NAME, ACTUAL, COMP_CD, VERSION, AREA_CD, AREA_DESC, AREA_TYPE, LOAD_DATE, REMARK, SRC
        FROM GEOSPCAPPO.FCT_KPI_NEWCO_PERF_ACTUAL
        WHERE REMARK IN ('salisa', 'jutar11')
        AND NOT REGEXP_LIKE(METRIC_CD, '^TCAP|CORP$')
        AND EXISTS (
            SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
            FROM (
                SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            ) TMP
            WHERE TMP_CD = AREA_CD )
        AND TM_KEY_DAY >= {v_start_date} 
    ) TMP
    WHERE FLAG = 1
    GROUP BY REMARK, METRIC_CD, METRIC_NAME, SUBSTR(TM_KEY_DAY,1,6)
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Summany DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Summany DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20240101

TDMDBPR : Connected

   -> Execute query... 2025-03-19, 10:18:34

   -> Summany DataFrame : 422 rows, 17 columns

TDMDBPR : Disconnected

In [3]:
''' Current Month Revenue '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
rev_metric_list = ['TB1R000100', 'TB2R000100', 'TB2R010100', 'TB2R020100', 'TB3R000100', 'TB4R000100']

src_t_rev_overall_df = chk_src_df.copy()
src_t_rev_overall_df = src_t_rev_overall_df.loc[src_t_rev_overall_df['TM_KEY_MTH']==curr_mth]
src_t_rev_overall_df = src_t_rev_overall_df.loc[src_t_rev_overall_df['METRIC_CD'].isin(rev_metric_list)]
src_t_rev_overall_df = src_t_rev_overall_df.groupby(['METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_t_rev_overall_df = src_t_rev_overall_df.fillna(0).sort_values(by=['METRIC_CD']).reset_index()

mod_col_list = src_t_rev_overall_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    src_t_rev_overall_df[col] = src_t_rev_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_t_rev_overall_df

,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,TB1R000100,Prepay Revenue,2025-03-18 04:44:29,20250301,20250314,0,"1,183,610,407","1,179,438,499","1,179,431,233","1,179,431,233","1,174,468,589",0,6,1105,15470
1,TB2R000100,Postpaid Revenue,2025-03-18 04:20:07,20250302,20250316,0,"2,160,682,341","2,160,371,830","2,160,370,076","2,160,370,076",0,0,5,177,885
2,TB2R010100,Postpaid Revenue B2C,2025-03-18 04:21:38,20250302,20250316,0,"1,924,388,063","1,924,156,842","1,924,155,088","1,924,155,088","1,917,919,563",0,6,1105,5525
3,TB2R020100,Postpaid Revenue B2B,2025-03-18 04:21:20,20250302,20250316,0,"236,294,278","236,214,988","236,214,988","236,214,988",0,0,5,177,885
4,TB3R000100,Broadband Revenue,2025-03-18 05:04:55,20250302,20250316,0,"941,068,142","936,550,922","936,550,922","936,550,922","936,636,640",0,6,1103,5512

In [4]:
''' Average Revenue per Month '''

avg_range_start = '202401'
avg_range_end = '202502'
rev_metric_list = ['TB1R000100', 'TB2R000100', 'TB2R010100', 'TB2R020100', 'TB3R000100', 'TB4R000100']

src_t_rev_avg_mth_df = chk_src_df.copy()
src_t_rev_avg_mth_df = src_t_rev_avg_mth_df.loc[src_t_rev_avg_mth_df['TM_KEY_MTH'].between(avg_range_start, avg_range_end)]
src_t_rev_avg_mth_df = src_t_rev_avg_mth_df.loc[src_t_rev_avg_mth_df['METRIC_CD'].isin(rev_metric_list)]
src_t_rev_avg_mth_df = src_t_rev_avg_mth_df.groupby(['METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'mean', 'P':'mean', 'G':'mean', 'H':'mean', 'HH':'mean', 'CCAA':'mean', 'CCAATT':'mean', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_t_rev_avg_mth_df = src_t_rev_avg_mth_df.fillna(0).sort_values(by=['METRIC_CD']).reset_index()

mod_col_list = src_t_rev_avg_mth_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    src_t_rev_avg_mth_df[col] = src_t_rev_avg_mth_df[col].apply(lambda x: format(x, ',.0f'))

src_t_rev_avg_mth_df

,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,TB1R000100,Prepay Revenue,2025-03-10 04:44:49,20240101,20250228,0,"2,336,851,995","2,300,952,636","2,331,094,199","2,331,094,199","2,321,368,786",0,6,1105,469625
1,TB2R000100,Postpaid Revenue,2025-03-10 04:20:12,20240102,20250228,0,"3,702,992,293","3,643,684,481","3,667,349,135","3,667,349,135",0,0,5,177,24603
2,TB2R010100,Postpaid Revenue B2C,2025-03-10 04:21:30,20240102,20250228,0,"3,294,112,700","3,259,758,655","3,281,928,428","3,281,929,398","3,258,167,354",0,6,1105,148232
3,TB2R020100,Postpaid Revenue B2B,2025-03-10 04:21:04,20240102,20250228,0,"408,879,593","383,925,826","385,420,708","385,420,708",0,0,5,177,24603
4,TB3R000100,Broadband Revenue,2025-03-07 05:10:02,20240102,20250228,0,"1,581,348,489","1,573,227,163","1,573,227,163","1,573,196,204","1,560,922,362",0,6,1103,138844
5,TB4R000100,TVS Revenue,2025-03-14 13:59:20,20240102,20250228,0,"346,039,449","328,867,343","323,172,106","327,520,964","322,352,854",0,6,1105,106400

In [5]:
''' Current Month Subscription '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
sub_metric_list = ['TB1S000500', 'TB1S000600', 'TB2S000500', 'TB2S010500', 'TB2S020400', 'TB3S000500', 'TB4S000500']

src_t_sub_overall_df = chk_src_df.copy()
src_t_sub_overall_df = src_t_sub_overall_df.loc[src_t_sub_overall_df['TM_KEY_MTH']==curr_mth]
src_t_sub_overall_df = src_t_sub_overall_df.loc[src_t_sub_overall_df['METRIC_CD'].isin(sub_metric_list)]
src_t_sub_overall_df = src_t_sub_overall_df.groupby(['METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_t_sub_overall_df = src_t_sub_overall_df.fillna(0).sort_values(by=['METRIC_CD']).reset_index()

mod_col_list = src_t_sub_overall_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    src_t_sub_overall_df[col] = src_t_sub_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_t_sub_overall_df

,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,TB1S000500,Prepay Usage Subs,2025-03-18 04:50:11,20250316,20250316,0,"17,612,456","17,506,610","17,506,610","17,506,610","17,444,758",0,6,1105,1105
1,TB1S000600,Prepay Active Caller Subs,2025-03-16 04:50:51,20250314,20250314,0,"14,567,698","14,355,888","14,355,888","14,355,888","14,304,384",0,6,1105,1105
2,TB2S000500,Postpaid Active Subs,2025-03-18 04:59:17,20250317,20250317,0,"10,185,561","10,185,023","10,185,011","10,185,011","10,109,924",0,6,1105,1105
3,TB2S010500,Postpaid Active Subs B2C,2025-03-18 04:59:54,20250317,20250317,0,"9,006,234","9,005,992","9,005,980","9,005,980","8,950,807",0,6,1105,1105
4,TB2S020400,Postpaid Active Subs B2B,2025-03-18 04:58:37,20250317,20250317,0,"1,179,327","1,179,031","1,179,031","1,179,031",0,0,5,177,177
5,TB3S000500,Broadband Active Subs,2025-03-18 04:55:47,20250317,20250317,0,"3,157,284","3,120,045","3,120,045","3,120,045","3,120,045",0,6,1103,1103
6,TB4S000500,TVS Active Subs,2025-03-18 04:56:00,20250317,20250317,0,"1,179,763","1,157,579","1,157,579","1,157,579","1,157,564",0,6,1105,1105

In [6]:
''' Average Subscription per Month '''

avg_range_start = '202401'
avg_range_end = '202502'
sub_metric_list = ['TB1S000500', 'TB1S000600', 'TB2S000500', 'TB2S010500', 'TB2S020400', 'TB3S000500', 'TB4S000500']

src_t_sub_overall_df = chk_src_df.copy()
src_t_sub_overall_df = src_t_sub_overall_df.loc[src_t_sub_overall_df['TM_KEY_MTH'].between(avg_range_start, avg_range_end)]
src_t_sub_overall_df = src_t_sub_overall_df.loc[src_t_sub_overall_df['METRIC_CD'].isin(sub_metric_list)]
src_t_sub_overall_df = src_t_sub_overall_df.groupby(['METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'mean', 'P':'mean', 'G':'mean', 'H':'mean', 'HH':'mean', 'CCAA':'mean', 'CCAATT':'mean', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_t_sub_overall_df = src_t_sub_overall_df.fillna(0).sort_values(by=['METRIC_CD']).reset_index()

mod_col_list = src_t_sub_overall_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    src_t_sub_overall_df[col] = src_t_sub_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_t_sub_overall_df

,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,TB1S000500,Prepay Usage Subs,2025-03-10 04:50:19,20240131,20250228,0,"17,712,438","17,638,410","17,652,566","17,652,566","17,591,038",0,6,1105,15470
1,TB1S000600,Prepay Active Caller Subs,2025-03-07 04:50:40,20240131,20250228,0,"14,441,024","14,248,564","14,362,024","14,362,051","14,312,460",0,6,1105,15470
2,TB2S000500,Postpaid Active Subs,2025-03-10 04:31:27,20240131,20250228,0,"10,021,684","9,862,550","9,923,667","9,923,692","9,851,246",0,6,1105,15470
3,TB2S010500,Postpaid Active Subs B2C,2025-03-10 04:31:57,20240131,20250228,0,"8,891,594","8,828,202","8,883,744","8,883,768","8,212,087",0,6,1105,15470
4,TB2S020400,Postpaid Active Subs B2B,2025-03-04 02:37:03,20240131,20250228,0,"1,130,090","1,034,348","1,039,923","1,039,923",0,0,5,177,2478
5,TB3S000500,Broadband Active Subs,2025-03-01 04:55:28,20240131,20250228,0,"3,094,515","3,053,895","3,055,196","3,055,196","3,055,841",0,6,1103,15426
6,TB4S000500,TVS Active Subs,2025-03-01 04:55:38,20240131,20250228,0,"1,242,261","1,220,146","1,219,989","1,219,989","1,307,223",0,6,8409,22774

In [7]:
''' METRIC Summary '''

src_t_rev_mth_df = chk_src_df.copy()
src_t_rev_mth_df = src_t_rev_mth_df.groupby(['REMARK', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'P':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_t_rev_mth_df = src_t_rev_mth_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD']).reset_index()

mod_col_list = src_t_rev_mth_df.iloc[:, 6:7].columns.tolist()
for col in mod_col_list:
    src_t_rev_mth_df[col] = src_t_rev_mth_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\n{src_t_rev_mth_df.to_string(max_cols=10)}')

     REMARK      METRIC_CD                 METRIC_NAME           LOAD_DATE  START_DAY   END_DAY                  P  CNT_AREA_TYPE  CNT_AREA_CD  ROW_CNT
0   jutar11     TB1R000100              Prepay Revenue 2025-03-18 04:44:29   20240101  20250314     33,899,538,333              6         1105   485095
1   jutar11     TB1R000101          Prepay New Revenue 2025-03-18 04:41:33   20240101  20250314      6,668,312,625              5          177    77703
2   jutar11     TB1R000102     Prepay Existing Revenue 2025-03-18 04:42:59   20240101  20250314     27,231,225,708              5          177    77703
3   jutar11     TB1S000500           Prepay Usage Subs 2025-03-18 04:50:11   20240131  20250316        265,586,595              6         1105    16575
4   jutar11     TB1S000600   Prepay Active Caller Subs 2025-03-16 04:50:51   20240131  20250314        216,742,036              6         1105    16575
5   jutar11     TB2R000100            Postpaid Revenue 2025-03-18 04:20:07   20240102  20250316     54,002,574,439              5          177    25488
6   jutar11     TB2R000101        Postpaid New Revenue 2025-03-18 04:20:30   20240102  20250316      4,562,194,005              5          177    25136
7   jutar11     TB2R000102   Postpaid Existing Revenue 2025-03-18 04:20:55   20240102  20250316     49,440,380,434              5          177    25488
8   jutar11     TB2R010100        Postpaid Revenue B2C 2025-03-18 04:21:38   20240102  20250316     48,041,965,864              6         1105   153757
9   jutar11     TB2R020100        Postpaid Revenue B2B 2025-03-18 04:21:20   20240102  20250316      5,960,608,575              5          177    25488
10  jutar11  TB2R020100SMB  Postpaid Revenue SMB : TMH 2025-03-18 04:21:28   20240128  20250316         15,873,141              5          177     2655
11  jutar11     TB2S000500        Postpaid Active Subs 2025-03-18 04:59:17   20240131  20250317        150,489,138              6         1105    16575
12  jutar11     TB2S010500    Postpaid Active Subs B2C 2025-03-18 04:59:54   20240131  20250317        133,488,552              6         1105    16575
13  jutar11     TB2S020400    Postpaid Active Subs B2B 2025-03-18 04:58:37   20240131  20250317         17,000,586              5          177     2655
14   salisa       CAP00001                      EBITDA 2024-10-25 11:20:47   20240101  20240930                  0              2           71    19454
15   salisa       CAP00006               EBITDA Margin 2025-03-18 13:44:13   20240101  20250228             16,406              3           72    32638
16   salisa       CAP00009                      EBITDA 2025-03-18 13:44:13   20240101  20250228  1,950,344,544,710              3           72    32638
17   salisa     TB3R000100           Broadband Revenue 2025-03-18 05:04:55   20240102  20250316     23,079,946,987              6         1103   144356
18   salisa     TB3R000101       Broadband New Revenue 2025-03-18 05:04:12   20240102  20250316      2,266,724,631              5          177    23166
19   salisa     TB3R000102  Broadband Exisitng Revenue 2025-03-18 05:04:12   20240102  20250316     20,814,455,613              5          177    23187
20   salisa     TB3S000500       Broadband Active Subs 2025-03-18 04:55:47   20240131  20250317         46,480,499              6         1103    16529
21   salisa     TB4R000100                 TVS Revenue 2025-03-14 13:59:20   20240102  20250228      3,460,394,492              6         1105   106400
22   salisa     TB4R000101             TVS New Revenue 2025-03-14 13:59:41   20240102  20250310         19,339,369              5          177    22945
23   salisa     TB4R000102        TVS Exisitng Revenue 2025-03-14 13:59:41   20240102  20250310      3,524,322,036              5          177    24693
24   salisa     TB4R000103       TVS Revenue : Premium 2025-02-24 05:17:32   20240102  20250222      1,633,872,670              4          169    22964
25   salisa     TB4R000104           TVS Revenue : Mid 2025-02-24 05:36:55   20240102  20250222        407,702,246              4          169    23264
26   salisa     TB4R000105          TVS Revenue : Mass 2025-02-24 05:30:42   20240102  20250222      2,174,243,573              4          169    23271
27   salisa     TB4R000106          TVS Revenue : CMDU 2025-02-24 05:24:00   20240102  20250219        573,582,747              4          151     2975
28   salisa     TB4S000500             TVS Active Subs 2025-03-18 04:56:00   20240131  20250317         18,571,413              6         8409    23879

In [8]:
''' METRIC Current Month '''

# v_tm_key_mth = '202502'
curr_mth = chk_src_df['TM_KEY_MTH'].max()
src_t_rev_mth_df_cols = ['REMARK', 'METRIC_CD', 'METRIC_NAME', 'LOAD_DATE', 'TM_KEY_MTH', 'START_DAY', 'END_DAY', 'C', 'P', 'G', 'H', 'HH', 'CCAA', 'CCAATT']
print(f'\nParameter input...\n')
print(f'   -> v_tm_key_mth: {curr_mth}')

src_t_rev_mth_df = chk_src_df[src_t_rev_mth_df_cols].copy()
src_t_rev_mth_df = src_t_rev_mth_df.loc[src_t_rev_mth_df['TM_KEY_MTH']==curr_mth]
src_t_rev_mth_df = src_t_rev_mth_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_MTH']).reset_index(drop=True)

mod_col_list = src_t_rev_mth_df.iloc[:, 7:14].columns.tolist()
for col in mod_col_list:
    src_t_rev_mth_df[col] = src_t_rev_mth_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\n{src_t_rev_mth_df.to_string(max_cols=17)}')

Parameter input...

   -> v_tm_key_mth: 202503

     REMARK      METRIC_CD                 METRIC_NAME           LOAD_DATE TM_KEY_MTH  START_DAY   END_DAY  C              P              G              H             HH           CCAA CCAATT
0   jutar11     TB1R000100              Prepay Revenue 2025-03-18 04:44:29     202503   20250301  20250314  0  1,183,610,407  1,179,438,499  1,179,431,233  1,179,431,233  1,174,468,589      0
1   jutar11     TB1R000101          Prepay New Revenue 2025-03-18 04:41:33     202503   20250301  20250314  0    150,172,073    146,290,637    146,290,637    146,290,637              0      0
2   jutar11     TB1R000102     Prepay Existing Revenue 2025-03-18 04:42:59     202503   20250301  20250314  0  1,033,438,334  1,033,147,862  1,033,140,596  1,033,140,596              0      0
3   jutar11     TB1S000500           Prepay Usage Subs 2025-03-18 04:50:11     202503   20250316  20250316  0     17,612,456     17,506,610     17,506,610     17,506,610     17,444,758      0
4   jutar11     TB1S000600   Prepay Active Caller Subs 2025-03-16 04:50:51     202503   20250314  20250314  0     14,567,698     14,355,888     14,355,888     14,355,888     14,304,384      0
5   jutar11     TB2R000100            Postpaid Revenue 2025-03-18 04:20:07     202503   20250302  20250316  0  2,160,682,341  2,160,371,830  2,160,370,076  2,160,370,076              0      0
6   jutar11     TB2R000101        Postpaid New Revenue 2025-03-18 04:20:30     202503   20250302  20250316  0     79,965,684     79,963,787     79,963,787     79,963,787              0      0
7   jutar11     TB2R000102   Postpaid Existing Revenue 2025-03-18 04:20:55     202503   20250302  20250316  0  2,080,716,657  2,080,408,042  2,080,406,288  2,080,406,288              0      0
8   jutar11     TB2R010100        Postpaid Revenue B2C 2025-03-18 04:21:38     202503   20250302  20250316  0  1,924,388,063  1,924,156,842  1,924,155,088  1,924,155,088  1,917,919,563      0
9   jutar11     TB2R020100        Postpaid Revenue B2B 2025-03-18 04:21:20     202503   20250302  20250316  0    236,294,278    236,214,988    236,214,988    236,214,988              0      0
10  jutar11  TB2R020100SMB  Postpaid Revenue SMB : TMH 2025-03-18 04:21:28     202503   20250316  20250316  0      6,493,989      6,493,989      6,493,989      6,493,989              0      0
11  jutar11     TB2S000500        Postpaid Active Subs 2025-03-18 04:59:17     202503   20250317  20250317  0     10,185,561     10,185,023     10,185,011     10,185,011     10,109,924      0
12  jutar11     TB2S010500    Postpaid Active Subs B2C 2025-03-18 04:59:54     202503   20250317  20250317  0      9,006,234      9,005,992      9,005,980      9,005,980      8,950,807      0
13  jutar11     TB2S020400    Postpaid Active Subs B2B 2025-03-18 04:58:37     202503   20250317  20250317  0      1,179,327      1,179,031      1,179,031      1,179,031              0      0
14   salisa     TB3R000100           Broadband Revenue 2025-03-18 05:04:55     202503   20250302  20250316  0    941,068,142    936,550,922    936,550,922    936,550,922    936,636,640      0
15   salisa     TB3R000101       Broadband New Revenue 2025-03-18 05:04:12     202503   20250302  20250316  0     51,545,316     51,463,727     51,465,592     51,493,688              0      0
16   salisa     TB3R000102  Broadband Exisitng Revenue 2025-03-18 05:04:12     202503   20250302  20250316  0    890,756,083    886,272,688    886,272,688    886,272,688              0      0
17   salisa     TB3S000500       Broadband Active Subs 2025-03-18 04:55:47     202503   20250317  20250317  0      3,157,284      3,120,045      3,120,045      3,120,045      3,120,045      0
18   salisa     TB4R000101             TVS New Revenue 2025-03-14 13:13:20     202503   20250302  20250310  0        324,747              0              0              0              0      0
19   salisa     TB4R000102        TVS Exisitng Revenue 2025-03-14 13:13:20     202503   20250302  20250310  0     77,880,098              0              0              0              0      0
20   salisa     TB4S000500             TVS Active Subs 2025-03-18 04:56:00     202503   20250317  20250317  0      1,179,763      1,157,579      1,157,579      1,157,579      1,157,564      0

## Actual : Transaction
->  FCT_KPI_NEWCO_PERF_ACTUAL

In [9]:
''' Execute Daily by case '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20250101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+ PARALLEL(8)*/ 
         REMARK, METRIC_CD, METRIC_NAME, TM_KEY_DAY
        , MAX(LOAD_DATE) LOAD_DATE
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN ACTUAL END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN ACTUAL END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN ACTUAL END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN ACTUAL END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN ACTUAL END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN ACTUAL END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN ACTUAL END) CCAATT
    FROM GEOSPCAPPO.FCT_KPI_NEWCO_PERF_ACTUAL
    --WHERE METRIC_CD = 'TB3R000100' --TOL Revenue
    WHERE METRIC_CD IN (
        'TB1R000100' --'Prepay Revenue
        , 'TB2R010100' --Postpaid Revenue B2C
        , 'TB3R000100' --TOL Revenue
        , 'TB4R000100' --TVS Revenue
         )
    AND EXISTS (
        SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
        FROM (
            SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
        ) TMP
        WHERE TMP_CD = AREA_CD )
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY REMARK, METRIC_CD, METRIC_NAME, TM_KEY_DAY
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Daily DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Daily DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20250101

TDMDBPR : Connected

   -> Execute query... 2025-03-19, 10:19:09

   -> Daily DataFrame : 139 rows, 12 columns

TDMDBPR : Disconnected

In [10]:
''' METRIC by Day '''

v_tm_key_day = 20250101
# src_t_rev_day_df = ['SRC', 'REMARK', 'TM_KEY_DAY', 'METRIC_CD', 'METRIC_NAME', 'C', 'P', 'G', 'H', 'HH', 'CCAA', 'CCAATT', 'LOAD_DATE']
print(f'\nParameter input...\n')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

# src_t_rev_day_df = chk_src_df[src_t_rev_day_df_cols].copy()
src_t_rev_day_df = chk_src_df.copy()
src_t_rev_day_df = src_t_rev_day_df.loc[src_t_rev_day_df['TM_KEY_DAY']>=v_tm_key_day]
src_t_rev_day_df = src_t_rev_day_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = src_t_rev_day_df.iloc[:, 4:11].columns.tolist()
for col in mod_col_list:
    src_t_rev_day_df[col] = src_t_rev_day_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\nCreate : src_t_rev_day_df...')
print(f'\n   -> DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')
# print(f'\n{src_t_rev_day_df.to_string(max_cols=17)}')

Parameter input...

   -> v_tm_key_day: 20250101

Create : src_t_rev_day_df...

   -> DataFrame : 139 rows, 12 columns

In [11]:
''' TB1R000100 : Prepay Revenue '''

v_metric_cd = 'TB1R000100'
v_tm_key_day = int(str(curr_mth)+str('01'))
# v_tm_key_day = 20250201
print(f'\nTB1R000100 : Prepay Revenue...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB1R000100_day_df = chk_src_df.copy()
TB1R000100_day_df = TB1R000100_day_df.loc[TB1R000100_day_df['METRIC_CD']==v_metric_cd]
TB1R000100_day_df = TB1R000100_day_df.loc[TB1R000100_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB1R000100_day_df = TB1R000100_day_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB1R000100_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB1R000100_day_df[col] = TB1R000100_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB1R000100_day_df

TB1R000100 : Prepay Revenue...

   -> v_metric_cd: TB1R000100
   -> v_tm_key_day: 20250301

,REMARK,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,jutar11,TB1R000100,Prepay Revenue,20250301,2025-03-18 04:44:29,0,"99,135,043","98,897,690","98,896,641","98,896,641","98,444,136",0
1,jutar11,TB1R000100,Prepay Revenue,20250302,2025-03-18 04:44:29,0,"98,102,222","97,915,541","97,915,289","97,915,289","97,452,613",0
2,jutar11,TB1R000100,Prepay Revenue,20250303,2025-03-18 04:44:29,0,"97,515,722","97,343,885","97,343,354","97,343,354","96,898,367",0
3,jutar11,TB1R000100,Prepay Revenue,20250304,2025-03-18 04:44:29,0,"87,274,842","87,091,640","87,091,161","87,091,161","86,706,599",0
4,jutar11,TB1R000100,Prepay Revenue,20250305,2025-03-18 04:44:29,0,"88,833,482","88,609,001","88,608,836","88,608,836","88,253,683",0
5,jutar11,TB1R000100,Prepay Revenue,20250306,2025-03-18 04:44:29,0,"83,206,791","83,011,519","83,011,393","83,011,393","82,661,171",0
6,jutar11,TB1R000100,Prepay Revenue,20250307,2025-03-18 04:44:29,0,"84,417,594","84,158,852","84,157,615","84,157,615","83,810,446",0
7,jutar11,TB1R000100,Prepay Revenue,20250308,2025-03-18 04:44:29,0,"80,224,167","79,924,660","79,924,578","79,924,578","79,586,164",0
8,jutar11,TB1R000100,Prepay Revenue,20250309,2025-03-18 04:44:29,0,"77,403,437","77,187,553","77,187,503","77,187,503","76,871,805",0
9,jutar11,TB1R000100,Prepay Revenue,20250310,2025-03-18 04:44:29,0,"83,786,268","83,598,075","83,597,958","83,597,958","83,261,629",0
10,jutar11,TB1R000100,Prepay Revenue,20250311,2025-03-18 04:44:29,0,"77,093,329","76,887,976","76,886,498","76,886,498","76,593,261",0
11,jutar11,TB1R000100,Prepay Revenue,20250312,2025-03-18 04:44:29,0,"77,253,853","77,017,188","77,016,758","77,016,758","76,704,538",0
12,jutar11,TB1R000100,Prepay Revenue,20250313,2025-03-18 04:44:29,0,"73,665,321","73,384,117","73,383,210","73,383,210","73,099,052",0
13,jutar11,TB1R000100,Prepay Revenue,20250314,2025-03-18 04:44:29,0,"75,698,336","74,410,802","74,410,441","74,410,441","74,125,125",0

In [12]:
''' TB2R010100 : Postpaid Revenue B2C '''

v_metric_cd = 'TB2R010100'
v_tm_key_day = int(str(curr_mth)+str('01'))
# v_tm_key_day = 20250201
print(f'\nTB2R010100 : Postpaid Revenue B2C...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB2R010100_day_df = chk_src_df.copy()
TB2R010100_day_df = TB2R010100_day_df.loc[TB2R010100_day_df['METRIC_CD']==v_metric_cd]
TB2R010100_day_df = TB2R010100_day_df.loc[TB2R010100_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB2R010100_day_df = TB2R010100_day_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB2R010100_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB2R010100_day_df[col] = TB2R010100_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB2R010100_day_df

TB2R010100 : Postpaid Revenue B2C...

   -> v_metric_cd: TB2R010100
   -> v_tm_key_day: 20250301

,REMARK,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,jutar11,TB2R010100,Postpaid Revenue B2C,20250302,2025-03-18 04:21:38,0,"475,410,273","475,333,489","475,332,590","475,332,590","473,822,818",0
1,jutar11,TB2R010100,Postpaid Revenue B2C,20250306,2025-03-18 04:21:38,0,"279,724,087","279,699,721","279,699,721","279,699,721","278,391,314",0
2,jutar11,TB2R010100,Postpaid Revenue B2C,20250310,2025-03-18 04:21:38,0,"441,787,364","441,758,339","441,758,339","441,758,339","440,493,009",0
3,jutar11,TB2R010100,Postpaid Revenue B2C,20250313,2025-03-18 04:21:38,0,"388,713,172","388,664,703","388,664,254","388,664,254","387,517,358",0
4,jutar11,TB2R010100,Postpaid Revenue B2C,20250316,2025-03-18 04:21:38,0,"338,753,166","338,700,589","338,700,183","338,700,183","337,695,063",0

In [13]:
''' TB3R000100 : Broadband Revenue '''

v_metric_cd = 'TB3R000100'
v_tm_key_day = int(str(curr_mth)+str('01'))
# v_tm_key_day = 20250201
print(f'\nTB3R000100 : Broadband Revenue...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB3R000100_day_df = chk_src_df.copy()
TB3R000100_day_df = TB3R000100_day_df.loc[TB3R000100_day_df['METRIC_CD']==v_metric_cd]
TB3R000100_day_df = TB3R000100_day_df.loc[TB3R000100_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB3R000100_day_df = TB3R000100_day_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB3R000100_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB3R000100_day_df[col] = TB3R000100_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB3R000100_day_df

TB3R000100 : Broadband Revenue...

   -> v_metric_cd: TB3R000100
   -> v_tm_key_day: 20250301

,REMARK,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,salisa,TB3R000100,Broadband Revenue,20250302,2025-03-18 05:04:55,0,"219,750,362","218,884,082","218,884,082","218,884,082","218,917,451",0
1,salisa,TB3R000100,Broadband Revenue,20250306,2025-03-18 05:04:55,0,"144,389,674","143,562,584","143,562,584","143,562,584","143,562,584",0
2,salisa,TB3R000100,Broadband Revenue,20250310,2025-03-18 05:04:55,0,"233,936,348","233,409,133","233,409,133","233,409,133","233,423,290",0
3,salisa,TB3R000100,Broadband Revenue,20250313,2025-03-18 05:04:55,0,"171,077,311","170,767,938","170,767,938","170,767,938","170,806,131",0
4,salisa,TB3R000100,Broadband Revenue,20250316,2025-03-18 05:04:55,0,"171,914,446","169,927,183","169,927,183","169,927,183","169,927,183",0

In [14]:
''' TB4R000100 : TVS Revenue '''

v_metric_cd = 'TB4R000100'
# v_tm_key_day = int(str(curr_mth)+str('01'))
v_tm_key_day = 20250201
print(f'\nTB4R000100 : TVS Revenue...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB4R000100_day_df = chk_src_df.copy()
TB4R000100_day_df = TB4R000100_day_df.loc[TB4R000100_day_df['METRIC_CD']==v_metric_cd]
TB4R000100_day_df = TB4R000100_day_df.loc[TB4R000100_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB4R000100_day_df = TB4R000100_day_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB4R000100_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB4R000100_day_df[col] = TB4R000100_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB4R000100_day_df

TB4R000100 : TVS Revenue...

   -> v_metric_cd: TB4R000100
   -> v_tm_key_day: 20250201

,REMARK,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,salisa,TB4R000100,TVS Revenue,20250202,2025-02-24 05:11:52,0,"35,886,927","34,215,318","34,216,762","34,221,729",0,0
1,salisa,TB4R000100,TVS Revenue,20250206,2025-02-24 05:11:52,0,"11,894,850","10,045,730","10,148,788","10,145,929",0,0
2,salisa,TB4R000100,TVS Revenue,20250210,2025-02-24 05:11:52,0,"31,908,429","30,317,645","30,413,033","30,412,941",0,0
3,salisa,TB4R000100,TVS Revenue,20250213,2025-02-24 05:11:52,0,"23,254,533","22,172,701","22,227,918","22,234,017",0,0
4,salisa,TB4R000100,TVS Revenue,20250216,2025-02-24 05:11:52,0,"24,799,130","23,839,517","23,878,618","23,870,294",0,0
5,salisa,TB4R000100,TVS Revenue,20250219,2025-02-24 05:11:52,0,"21,983,100","20,978,100","20,991,509","20,976,629",0,0
6,salisa,TB4R000100,TVS Revenue,20250222,2025-02-24 05:11:52,0,"22,168,598","20,677,298","20,677,298","20,677,298",0,0
7,salisa,TB4R000100,TVS Revenue,20250225,2025-03-14 13:59:20,0,"21,354,723","21,282,329","21,277,935","21,277,935",0,0
8,salisa,TB4R000100,TVS Revenue,20250228,2025-03-14 13:59:20,0,"113,977,533","109,487,414","109,487,414","109,487,414",0,0