# * Ex-D Data

## Parameter

In [1]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

pd.set_option('future.no_silent_downcasting', True)

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

## Actual : Monitoring
->  STG_KPI_NEWCO_DIAMOND_ACTUAL_INC

In [12]:
''' Execute Summany Data '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
# v_start_date = 20250201
print(f'\nParameter input...\n')
# print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        CASE WHEN REGEXP_LIKE(METRIC_CD, '^DB1R000900|^DB1R001000|^DB1S000101|^DB1S000109|^DB2R000500|^DB2S000100') 
            OR METRIC_CD IN (
                'DB0R00010001' --Total Inflow M1 : DTAC'
                , 'DB1S000100' --Prepay New sub
                , 'DB2S010100' --Postpaid activation sub B2C
                , 'DB2S020100' --Postpaid activation sub B2B
                --, 'DB1S000102' --Prepaid Activation Subs : Thai Mass : DTAC
                --, 'DB1S000103' --Prepaid Activation Subs : AEC/Migrants : DTAC
                --, 'DB1S000104' --Prepaid Activation Subs : Tourists (IN + OUT) : DTAC
                ) THEN 'Obsolete'
            ELSE 'Active'
            END KPI_FLAG
        , PAR_KEY, BASENAME, METRIC_CD, METRIC_NAME
        , CASE WHEN REGEXP_LIKE(METRIC_CD, 'A[A-K]$') THEN SUBSTR(METRIC_CD, -2) ELSE 'ALL' END CHANNEL_CD
        , MAX(LOAD_DATE) LOAD_DATE, MIN(TM_KEY_DAY) START_DAY, MAX(TM_KEY_DAY) END_DAY
        , SUM(CASE WHEN AREA_CD = 'P' THEN METRIC_VALUE END) AS P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN METRIC_VALUE END) AS G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN METRIC_VALUE END) AS H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN METRIC_VALUE END) AS HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN METRIC_VALUE END) AS CCAA
        , SUM(CASE WHEN AREA_CD = '080' THEN METRIC_VALUE END) AS H_080
        , SUM(CASE WHEN AREA_CD = '016' THEN METRIC_VALUE END) AS H_016
        , SUM(CASE WHEN AREA_CD = '040' THEN METRIC_VALUE END) AS H_040
        , COUNT(DISTINCT AREA_TYPE) CNT_AREA_TYPE, COUNT(DISTINCT AREA_CD) CNT_AREA_CD, COUNT(1) ROW_CNT
    FROM GEOSPCAPPO.STG_KPI_NEWCO_DIAMOND_ACTUAL_INC
    GROUP BY PAR_KEY, BASENAME, METRIC_CD, METRIC_NAME
    --ORDER BY 1, PAR_KEY, BASENAME, METRIC_CD 
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Summany DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Summany DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...


TDMDBPR : Connected

   -> Execute query... 2025-03-13, 14:02:43

   -> Summany DataFrame : 131 rows, 20 columns

TDMDBPR : Disconnected

In [13]:
''' Revenue '''

# curr_mth = chk_src_df['TM_KEY_MTH'].max()
src_d_kpi_flag = 'Active'
rev_metric_list = [
    'DB1R000100' #Prepay Revenue
    , 'DB2R000100' #Postpaid Revenue
    , 'DB2R010100' #Postpaid Revenue B2C
    , 'DB2R020100' #Postpaid Revenue B2B
    ]

src_d_rev_overall_df = chk_src_df.loc[chk_src_df['KPI_FLAG']==src_d_kpi_flag].copy()
# src_d_rev_overall_df = src_d_rev_overall_df.loc[src_d_rev_overall_df['TM_KEY_MTH']==curr_mth]
src_d_rev_overall_df = src_d_rev_overall_df.loc[src_d_rev_overall_df['METRIC_CD'].isin(rev_metric_list)]
src_d_rev_overall_df = src_d_rev_overall_df.groupby(['PAR_KEY', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'H_080':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_d_rev_overall_df = src_d_rev_overall_df.fillna(0).sort_values(by=['METRIC_CD']).reset_index()

mod_col_list = src_d_rev_overall_df.iloc[:, 6:12].columns.tolist()
for col in mod_col_list:
    src_d_rev_overall_df[col] = src_d_rev_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_d_rev_overall_df

,PAR_KEY,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,P,G,H,HH,CCAA,H_080,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,20250311,DB1R000100,Prepay Revenue,2025-03-11,20240528,20250311,"5,285,127,833","9,451,043,374","9,444,219,934","9,444,219,934","5,285,127,541","86,281,719",5,1100,99719
1,20250311,DB2R000100,Postpaid Revenue,2025-03-11,20240528,20250311,"8,045,173,416","14,286,241,550","14,274,436,044","14,274,436,044","8,045,173,001","220,990,049",5,1100,99178
2,20250311,DB2R010100,Postpaid Revenue B2C,2025-03-11,20240528,20250311,"7,296,202,004","12,967,460,951","12,957,441,175","12,957,441,175","7,296,201,589","205,119,564",5,1100,99122
3,20250311,DB2R020100,Postpaid Revenue B2B,2025-03-11,20240528,20250311,"748,971,412","1,318,780,600","1,316,994,869","1,316,994,869","748,971,412","15,870,485",5,1100,63788

In [14]:
''' Subscription '''

src_d_kpi_flag = 'Active'
sub_metric_list = [
    'DB1S000500' #Prepay Usage Subs
    , 'DB1S000600' #Prepay Revenue Subs
    , 'DB2S000500' #Postpaid Active Subs
    , 'DB2S010500' #Postpaid Active Subs B2C
    , 'DB2S020400' #Postpaid Active Sub B2B
    ]

src_d_sub_overall_df = chk_src_df.loc[chk_src_df['KPI_FLAG']==src_d_kpi_flag].copy()
src_d_sub_overall_df = src_d_sub_overall_df.loc[src_d_sub_overall_df['METRIC_CD'].isin(sub_metric_list)]
src_d_sub_overall_df = src_d_sub_overall_df.groupby(['PAR_KEY', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'H_080':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_d_sub_overall_df = src_d_sub_overall_df.fillna(0).sort_values(by=['METRIC_CD']).reset_index()

mod_col_list = src_d_sub_overall_df.iloc[:, 6:12].columns.tolist()
for col in mod_col_list:
    src_d_sub_overall_df[col] = src_d_sub_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_d_sub_overall_df

,PAR_KEY,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,P,G,H,HH,CCAA,H_080,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,20250311,DB1S000500,Prepay Usage Subs,2025-03-11,20240528,20250311,"1,072,556,941","1,906,444,287","1,905,125,280","1,905,125,280","1,072,556,785","18,182,955",5,1100,99705
1,20250311,DB1S000600,Prepay Revenue Subs,2025-03-11,20240528,20250311,"565,827,185","1,009,686,802","1,008,912,726","1,008,912,726","565,827,128","9,684,495",5,1100,99705
2,20250311,DB2S000500,Postpaid Active Subs,2025-03-11,20240528,20250311,"524,429,677","933,864,359","933,079,337","933,079,337","524,429,534","13,721,989",5,1100,99542
3,20250311,DB2S010500,Postpaid Active Subs B2C,2025-03-11,20240528,20250311,"463,219,980","824,395,363","823,778,603","823,778,603","463,219,837","12,374,659",5,1100,99542
4,20250311,DB2S020400,Postpaid Active Sub B2B,2025-03-11,20240528,20250311,"61,209,697","109,468,996","109,300,734","109,300,734","61,209,697","1,347,330",5,1100,98985

## Actual : Transaction
->  STG_KPI_NEWCO_DIAMOND_ACTUAL_INC

In [30]:
''' Execute Daily by case '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20240101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        PAR_KEY, METRIC_CD, METRIC_NAME, TM_KEY_DAY
        , MAX(LOAD_DATE) LOAD_DATE
        , SUM(CASE WHEN AREA_CD = 'P' THEN METRIC_VALUE END) AS P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN METRIC_VALUE END) AS G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN METRIC_VALUE END) AS H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN METRIC_VALUE END) AS HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN METRIC_VALUE END) AS CCAA
        , SUM(CASE WHEN AREA_CD = '080' THEN METRIC_VALUE END) AS H_080
        , SUM(CASE WHEN AREA_CD = '016' THEN METRIC_VALUE END) AS H_016
        , SUM(CASE WHEN AREA_CD = '040' THEN METRIC_VALUE END) AS H_040
        , COUNT(DISTINCT AREA_TYPE) CNT_AREA_TYPE, COUNT(DISTINCT AREA_CD) CNT_AREA_CD, COUNT(1) ROW_CNT
    FROM GEOSPCAPPO.STG_KPI_NEWCO_DIAMOND_ACTUAL_INC
    WHERE METRIC_CD IN (
        'DB1R000100' --Prepay Revenue
        , 'DB2R000100' --Postpaid Revenue
        , 'DB2R010100' --Postpaid Revenue B2C
        , 'DB2R020100' --Postpaid Revenue B2B
        , 'DB1S000500' --Prepay Usage Subs
        , 'DB1S000600' --Prepay Revenue Subs
        , 'DB2S000500' --Postpaid Active Subs
        , 'DB2S010500' --Postpaid Active Subs B2C
        , 'DB2S020400' --Postpaid Active Sub B2B
        )
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY PAR_KEY, METRIC_CD, METRIC_NAME, TM_KEY_DAY
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Summary DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Daily DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20240101

TDMDBPR : Connected

   -> Execute query... 2025-03-13, 14:17:00

   -> Daily DataFrame : 801 rows, 16 columns

TDMDBPR : Disconnected

In [43]:
''' DB1R000100 : Prepay Revenue '''

v_start_day = 20240101
v_metric_cd = 'DB1R000100'
print(f'\nDB1R000100 : Prepay Revenue\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_start_day: {v_start_day}')

DB1R000100_day__df = chk_src_df.copy()
DB1R000100_day__df = DB1R000100_day__df.loc[DB1R000100_day__df['TM_KEY_DAY']>=v_start_day]
DB1R000100_day__df = DB1R000100_day__df.loc[DB1R000100_day__df['METRIC_CD']==v_metric_cd]
DB1R000100_day__df = DB1R000100_day__df.fillna(0).sort_values(by=['METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = DB1R000100_day__df.iloc[:, 5:13].columns.tolist()
for col in mod_col_list:
    DB1R000100_day__df[col] = DB1R000100_day__df[col].apply(lambda x: format(x, ',.0f'))

DB1R000100_day__df

DB1R000100 : Prepay Revenue

   -> v_metric_cd: DB1R000100
   -> v_start_day: 20240101

,PAR_KEY,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,P,G,H,HH,CCAA,H_080,H_016,H_040,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,20250311,DB1R000100,Prepay Revenue,20240528,2024-06-06,"57,081,475","57,081,475","57,081,459","57,081,459","57,081,459",0,"303,238","890,374",5,1099,1111
1,20250311,DB1R000100,Prepay Revenue,20240529,2024-06-07,"54,750,640","54,750,640","54,750,601","54,750,601","54,750,601",0,"320,514","861,052",5,1099,1111
2,20250311,DB1R000100,Prepay Revenue,20240530,2024-06-08,"59,115,506","59,115,506","59,115,490","59,115,490","59,115,490",0,"312,960","934,515",5,1099,1111
3,20250311,DB1R000100,Prepay Revenue,20240531,2024-06-09,"70,858,400","70,858,400","70,858,378","70,858,378","70,858,378",0,"382,069","1,193,650",5,1099,1111
4,20250311,DB1R000100,Prepay Revenue,20240601,2024-06-10,"70,350,955","70,350,955","70,350,942","70,350,942","70,350,942",0,"385,655","1,166,659",5,1099,1111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,20250311,DB1R000100,Prepay Revenue,20250307,2025-03-11,"58,604,342","117,208,684","117,109,408","117,109,408","58,604,342","1,247,824",0,0,5,1098,1123
85,20250311,DB1R000100,Prepay Revenue,20250308,2025-03-11,"57,566,325","115,132,650","115,037,718","115,037,718","57,566,325","1,248,182",0,0,5,1098,1123
86,20250311,DB1R000100,Prepay Revenue,20250309,2025-03-11,"55,706,984","111,413,967","111,326,029","111,326,029","55,706,984","1,225,405",0,0,5,1098,1123
87,20250311,DB1R000100,Prepay Revenue,20250310,2025-03-11,"57,966,061","115,932,122","115,836,760","115,836,760","57,966,061","1,149,640",0,0,5,1098,1123
88,20250311,DB1R000100,Prepay Revenue,20250311,2025-03-11,"53,756,901","107,513,802","107,426,010","107,426,010","53,756,901","1,087,688",0,0,5,1098,1123

In [35]:
''' DB2R000100 : Postpaid Revenue '''

v_start_day = 20240101
v_metric_cd = 'DB2R000100'
print(f'\nDB2R000100 : Postpaid Revenue\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_start_day: {v_start_day}')

DB2R000100_day__df = chk_src_df.copy()
DB2R000100_day__df = DB2R000100_day__df.loc[DB2R000100_day__df['TM_KEY_DAY']>=v_start_day]
DB2R000100_day__df = DB2R000100_day__df.loc[DB2R000100_day__df['METRIC_CD']==v_metric_cd]
DB2R000100_day__df = DB2R000100_day__df.fillna(0).sort_values(by=['METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = DB2R000100_day__df.iloc[:, 5:13].columns.tolist()
for col in mod_col_list:
    DB2R000100_day__df[col] = DB2R000100_day__df[col].apply(lambda x: format(x, ',.0f'))

DB2R000100_day__df

DB2R000100 : Postpaid Revenue

   -> v_metric_cd: DB2R000100
   -> v_start_day: 20240101

,PAR_KEY,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,P,G,H,HH,CCAA,H_080,H_016,H_040,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,20250311,DB2R000100,Postpaid Revenue,20240528,2024-06-06,"93,542,212","93,542,212","93,542,212","93,542,212","93,542,212",0,"1,056,671","2,289,788",5,1099,1108
1,20250311,DB2R000100,Postpaid Revenue,20240529,2024-06-07,"281,666,951","281,666,951","281,666,951","281,666,951","281,666,951",0,"3,264,840","6,703,783",5,1099,1108
2,20250311,DB2R000100,Postpaid Revenue,20240530,2024-06-08,"6,554,985","6,554,985","6,554,985","6,554,985","6,554,985",0,"72,122","128,142",5,1099,1102
3,20250311,DB2R000100,Postpaid Revenue,20240531,2024-06-09,"6,595,697","6,595,697","6,595,697","6,595,697","6,595,697",0,"87,719","144,124",5,1099,1103
4,20250311,DB2R000100,Postpaid Revenue,20240601,2024-06-10,"8,733,426","8,733,426","8,733,426","8,733,426","8,733,426",0,"90,050","188,734",5,1099,1103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,20250311,DB2R000100,Postpaid Revenue,20250307,2025-03-11,"87,524,440","175,048,880","174,891,142","174,891,142","87,524,440","3,019,365",0,0,5,1098,1119
85,20250311,DB2R000100,Postpaid Revenue,20250308,2025-03-11,"87,408,884","174,817,768","174,667,759","174,667,759","87,408,884","3,089,710",0,0,5,1098,1114
86,20250311,DB2R000100,Postpaid Revenue,20250309,2025-03-11,"84,807,154","169,614,307","169,470,995","169,470,995","84,807,154","2,985,060",0,0,5,1098,1119
87,20250311,DB2R000100,Postpaid Revenue,20250310,2025-03-11,"92,896,558","185,793,116","185,638,602","185,638,602","92,896,558","3,155,328",0,0,5,1097,1115
88,20250311,DB2R000100,Postpaid Revenue,20250311,2025-03-11,"85,264,105","170,528,211","170,377,785","170,377,785","85,264,105","2,949,729",0,0,5,1098,1117

In [36]:
''' DB2R010100 : Postpaid Revenue B2C '''

v_start_day = 20240101
v_metric_cd = 'DB2R010100'
print(f'\nDB2R010100 : Postpaid Revenue B2C\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_start_day: {v_start_day}')

DB2R010100_day__df = chk_src_df.copy()
DB2R010100_day__df = DB2R010100_day__df.loc[DB2R010100_day__df['TM_KEY_DAY']>=v_start_day]
DB2R010100_day__df = DB2R010100_day__df.loc[DB2R010100_day__df['METRIC_CD']==v_metric_cd]
DB2R010100_day__df = DB2R010100_day__df.fillna(0).sort_values(by=['METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = DB2R010100_day__df.iloc[:, 5:13].columns.tolist()
for col in mod_col_list:
    DB2R010100_day__df[col] = DB2R010100_day__df[col].apply(lambda x: format(x, ',.0f'))

DB2R010100_day__df

DB2R010100 : Postpaid Revenue B2C

   -> v_metric_cd: DB2R010100
   -> v_start_day: 20240101

,PAR_KEY,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,P,G,H,HH,CCAA,H_080,H_016,H_040,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,20250311,DB2R010100,Postpaid Revenue B2C,20240528,2024-06-06,"90,417,597","90,417,597","90,417,597","90,417,597","90,417,597",0,"1,054,690","2,284,168",5,1098,1107
1,20250311,DB2R010100,Postpaid Revenue B2C,20240529,2024-06-07,"280,520,688","280,520,688","280,520,688","280,520,688","280,520,688",0,"3,262,211","6,695,846",5,1099,1108
2,20250311,DB2R010100,Postpaid Revenue B2C,20240530,2024-06-08,"4,883,710","4,883,710","4,883,710","4,883,710","4,883,710",0,"70,826","122,243",5,1099,1101
3,20250311,DB2R010100,Postpaid Revenue B2C,20240531,2024-06-09,"5,308,594","5,308,594","5,308,594","5,308,594","5,308,594",0,"86,421","134,865",5,1099,1101
4,20250311,DB2R010100,Postpaid Revenue B2C,20240601,2024-06-10,"5,843,787","5,843,787","5,843,787","5,843,787","5,843,787",0,"84,771","173,885",5,1099,1102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,20250311,DB2R010100,Postpaid Revenue B2C,20250307,2025-03-11,"86,258,061","172,516,121","172,358,553","172,358,553","86,258,061","3,015,433",0,0,5,1098,1118
85,20250311,DB2R010100,Postpaid Revenue B2C,20250308,2025-03-11,"84,570,570","169,141,141","168,991,425","168,991,425","84,570,570","3,086,829",0,0,5,1098,1113
86,20250311,DB2R010100,Postpaid Revenue B2C,20250309,2025-03-11,"83,952,325","167,904,649","167,761,257","167,761,257","83,952,325","2,978,836",0,0,5,1098,1118
87,20250311,DB2R010100,Postpaid Revenue B2C,20250310,2025-03-11,"87,349,442","174,698,884","174,544,188","174,544,188","87,349,442","3,150,245",0,0,5,1097,1114
88,20250311,DB2R010100,Postpaid Revenue B2C,20250311,2025-03-11,"82,873,454","165,746,909","165,596,804","165,596,804","82,873,454","2,942,117",0,0,5,1098,1116

In [37]:
''' DB2R020100 : Postpaid Revenue B2B '''

v_start_day = 20240101
v_metric_cd = 'DB2R020100'
print(f'\nDB2R020100 : Postpaid Revenue B2B\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_start_day: {v_start_day}')

DB2R020100_day__df = chk_src_df.copy()
DB2R020100_day__df = DB2R020100_day__df.loc[DB2R020100_day__df['TM_KEY_DAY']>=v_start_day]
DB2R020100_day__df = DB2R020100_day__df.loc[DB2R020100_day__df['METRIC_CD']==v_metric_cd]
DB2R020100_day__df = DB2R020100_day__df.fillna(0).sort_values(by=['METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = DB2R020100_day__df.iloc[:, 5:13].columns.tolist()
for col in mod_col_list:
    DB2R020100_day__df[col] = DB2R020100_day__df[col].apply(lambda x: format(x, ',.0f'))

DB2R020100_day__df

DB2R020100 : Postpaid Revenue B2B

   -> v_metric_cd: DB2R020100
   -> v_start_day: 20240101

,PAR_KEY,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,P,G,H,HH,CCAA,H_080,H_016,H_040,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,20250311,DB2R020100,Postpaid Revenue B2B,20240528,2024-06-06,"3,124,614","3,124,614","3,124,614","3,124,614","3,124,614",0,"1,981","5,620",5,726,729
1,20250311,DB2R020100,Postpaid Revenue B2B,20240529,2024-06-07,"1,146,263","1,146,263","1,146,263","1,146,263","1,146,263",0,"2,629","7,936",5,734,737
2,20250311,DB2R020100,Postpaid Revenue B2B,20240530,2024-06-08,"1,671,275","1,671,275","1,671,275","1,671,275","1,671,275",0,"1,296","5,899",5,740,743
3,20250311,DB2R020100,Postpaid Revenue B2B,20240531,2024-06-09,"1,287,104","1,287,104","1,287,104","1,287,104","1,287,104",0,"1,298","9,258",5,780,783
4,20250311,DB2R020100,Postpaid Revenue B2B,20240601,2024-06-10,"2,889,639","2,889,639","2,889,639","2,889,639","2,889,639",0,"5,279","14,848",5,731,734
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,20250311,DB2R020100,Postpaid Revenue B2B,20250307,2025-03-11,"1,266,380","2,532,759","2,532,589","2,532,589","1,266,380","3,932",0,0,5,611,626
85,20250311,DB2R020100,Postpaid Revenue B2B,20250308,2025-03-11,"2,838,313","5,676,627","5,676,334","5,676,334","2,838,313","2,881",0,0,5,566,581
86,20250311,DB2R020100,Postpaid Revenue B2B,20250309,2025-03-11,"854,829","1,709,658","1,709,738","1,709,738","854,829","6,224",0,0,5,565,580
87,20250311,DB2R020100,Postpaid Revenue B2B,20250310,2025-03-11,"5,547,116","11,094,232","11,094,414","11,094,414","5,547,116","5,082",0,0,5,635,650
88,20250311,DB2R020100,Postpaid Revenue B2B,20250311,2025-03-11,"2,390,651","4,781,302","4,780,980","4,780,980","2,390,651","7,612",0,0,5,666,681

In [ ]:
# txn_metric_list = [
#     'DB1R000100' #Prepay Revenue
#     , 'DB2R000100' #Postpaid Revenue
#     , 'DB2R010100' #Postpaid Revenue B2C
#     , 'DB2R020100' #Postpaid Revenue B2B
#     , 'DB1S000500' #Prepay Usage Subs
#     , 'DB1S000600' #Prepay Revenue Subs
#     , 'DB2S000500' #Postpaid Active Subs
#     , 'DB2S010500' #Postpaid Active Subs B2C
#     , 'DB2S020400' #Postpaid Active Sub B2B
#     ]