# * Sales Data

## Parameter

In [1]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

pd.set_option('future.no_silent_downcasting', True)

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

## Actual : Monitoring
->  DIM_CORP_KPI

In [2]:
''' Execute Summary Data '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20240101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        SUBSTR(TM_KEY_DAY,1,6) AS TM_KEY_MTH, PRODUCT, COMP_CD, METRIC_CD, METRIC_NAME
        , MAX(LOAD_DATE) LOAD_DATE, MIN(TM_KEY_DAY) AS START_DAY, MAX(TM_KEY_DAY) AS END_DAY
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN METRIC_VALUE END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN METRIC_VALUE END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN METRIC_VALUE END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN METRIC_VALUE END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN METRIC_VALUE END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN METRIC_VALUE END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN METRIC_VALUE END) CCAATT
        , COUNT(DISTINCT AREA_TYPE) CNT_AREA_TYPE, COUNT(DISTINCT AREA_CD) CNT_AREA_CD, COUNT(1) ROW_CNT
    FROM CDSAPPO.DIM_CORP_KPI
    WHERE REGEXP_LIKE(METRIC_CD, 'CS$|CG$') -->> 2025 KPIs
    AND EXISTS (
        SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
        FROM (
            SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
        ) TMP
        WHERE TMP_CD = AREA_CD )
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY SUBSTR(TM_KEY_DAY,1,6), PRODUCT, COMP_CD, METRIC_CD, METRIC_NAME
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Summary DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Summary DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20240101

TDMDBPR : Connected

   -> Execute query... 2025-04-25, 10:27:54

   -> Summary DataFrame : 1122 rows, 18 columns

TDMDBPR : Disconnected

In [3]:
def my_metric_group(v_name):

    # Get : Parameter
    name = v_name
    result = ''
    
    if re.search('Gross Adds', name): result = 'Gross Adds'
    elif re.search('Inflow M1', name): result = 'Inflow M1'
    elif re.search('Inflow M2', name): result = 'Inflow M2'
    elif re.search('No of AP 1D', name): result = 'No of AP 1D'
    elif re.search('Amt of AP 1D', name): result = 'Amt of AP 1D'
    elif re.search('No of AP In Month', name): result = 'No of AP In Month'
    elif re.search('Amt of AP In Month', name): result = 'Amt of AP In Month'
    # elif re.search('CConnected : onsumer', name): result = 'Gross Adds - Con - Consumer'
    # elif re.search('Connected : DataService', name): result = 'Gross Adds - Con - DataService'
    # elif re.search('Registration : Consumer', name): result = 'Gross Adds - Reg - Consumer'
    # elif re.search('Registration : DataService', name): result = 'Gross Adds - Reg - DataService'
    else: result = 'Unknown' 
    
    return result

In [4]:
''' Add Columns '''

chk_src_df['CHANNEL_GRP'] = np.where(chk_src_df['METRIC_CD'].str.contains('CS$'), 'ALL', 'GEO')
chk_src_df['LOCATION_GRP'] = np.where(chk_src_df['METRIC_NAME'].str.contains('Location'), 'Customer', 'Sales')
chk_src_df['METRIC_GRP'] = chk_src_df.apply(lambda x: my_metric_group(str(x['METRIC_NAME'])), axis=1)
# tmp_df['MAIN_FLAG'] = np.where((tmp_df['METRIC_CD'].str.contains('[0-9]C$|[0-9]H$|[0-9]MCOM$|[0-9]CUS$')) | (tmp_df['METRIC_NAME'].str.contains('New Revenue|Existing Revenue')), 'N', 'Y')
# chk_src_df.tail()

# chk_src_df.loc[chk_src_df['PRODUCT']=='TOL'].tail()

### KPIs Summary

In [5]:
''' PREPAID Summary : 14 rows, 24 KPIs '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
product = 'PREPAID'
# channel_grp = 'GEO'

prepaid_df = chk_src_df.copy()
prepaid_df = prepaid_df.loc[prepaid_df['TM_KEY_MTH']==curr_mth]
prepaid_df = prepaid_df.loc[prepaid_df['PRODUCT']==product]
# prepaid_df = prepaid_df.loc[prepaid_df['CHANNEL_GRP']==channel_grp]

prepaid_df['ALL'] = prepaid_df['P']
prepaid_df['TRUE'] = np.where(prepaid_df['COMP_CD']=='TRUE', prepaid_df['P'], 0)
prepaid_df['DTAC'] = np.where(prepaid_df['COMP_CD']=='DTAC', prepaid_df['P'], 0)
prepaid_df['TMP_NAME'] = prepaid_df['METRIC_NAME'].replace(r' : DTAC| : TMH', '', regex=True)

prepaid_df = prepaid_df.groupby(['PRODUCT', 'METRIC_GRP', 'TMP_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'ALL':'sum', 'TRUE':'sum', 'DTAC':'sum'})
prepaid_df = prepaid_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_GRP', 'TMP_NAME']).reset_index()

mod_col_list = prepaid_df.iloc[:, 6:9].columns.tolist()
for col in mod_col_list:
    prepaid_df[col] = prepaid_df[col].apply(lambda x: format(x, ',.0f'))

prepaid_df

,PRODUCT,METRIC_GRP,TMP_NAME,LOAD_DATE,START_DAY,END_DAY,ALL,TRUE,DTAC
0,PREPAID,Amt of AP 1D,Prepaid Amt of AP 1D,2025-04-25 08:02:28,20250401,20250424,"271,026,670","138,955,552","132,071,118"
1,PREPAID,Amt of AP 1D,Prepaid Amt of AP 1D - GEO Channel,2025-04-25 08:02:29,20250401,20250424,"265,330,391","137,211,819","128,118,572"
2,PREPAID,Amt of AP In Month,Prepaid Amt of AP In Month,2025-04-25 08:02:29,20250401,20250424,"291,953,528","147,604,822","144,348,706"
3,PREPAID,Amt of AP In Month,Prepaid Amt of AP In Month - GEO Channel,2025-04-25 08:02:28,20250401,20250424,"286,090,074","145,838,775","140,251,299"
4,PREPAID,Gross Adds,Prepaid Gross Adds,2025-04-25 08:02:29,20250401,20250424,"1,398,395","698,395","700,000"
5,PREPAID,Gross Adds,Prepaid Gross Adds - GEO Channel,2025-04-25 08:02:28,20250401,20250424,"1,382,110","694,575","687,535"
6,PREPAID,Inflow M1,Prepaid Inflow M1,2025-04-25 08:02:29,20250401,20250423,"286,486,436","137,165,813","149,320,623"
7,PREPAID,Inflow M1,Prepaid Inflow M1 - GEO Channel,2025-04-25 08:02:29,20250401,20250423,"281,012,894","135,523,715","145,489,179"
8,PREPAID,Inflow M2,Prepaid Inflow M2,2025-04-25 08:02:28,20250401,20250423,"98,174,284","47,024,946","51,149,338"
9,PREPAID,Inflow M2,Prepaid Inflow M2 - GEO Channel,2025-04-25 08:02:28,20250401,20250423,"97,535,412","46,957,159","50,578,253"
10,PREPAID,No of AP 1D,Prepaid No of AP 1D,2025-04-25 08:02:36,20250401,20250424,"1,165,478","568,374","597,104"
11,PREPAID,No of AP 1D,Prepaid No of AP 1D - GEO Channel,2025-04-25 08:02:28,20250401,20250424,"1,152,307","565,393","586,914"
12,PREPAID,No of AP In Month,Prepaid No of AP In Month,2025-04-25 08:02:29,20250401,20250424,"1,221,737","589,558","632,179"
13,PREPAID,No of AP In Month,Prepaid No of AP In Month - GEO Channel,2025-04-25 08:02:28,20250401,20250424,"1,207,618","586,500","621,118"

In [6]:
''' POSTPAID Summary : 8 rows, 16 KPIs '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
product = 'POSTPAID'
# channel_grp = 'GEO'

postpaid_df = chk_src_df.copy()
postpaid_df = postpaid_df.loc[postpaid_df['TM_KEY_MTH']==curr_mth]
postpaid_df = postpaid_df.loc[postpaid_df['PRODUCT']==product]
# postpaid_df = postpaid_df.loc[postpaid_df['CHANNEL_GRP']==channel_grp]

postpaid_df['ALL'] = postpaid_df['P']
postpaid_df['TRUE'] = np.where(postpaid_df['COMP_CD']=='TRUE', postpaid_df['P'], 0)
postpaid_df['DTAC'] = np.where(postpaid_df['COMP_CD']=='DTAC', postpaid_df['P'], 0)
postpaid_df['TMP_NAME'] = postpaid_df['METRIC_NAME'].replace(r' : DTAC| : TMH', '', regex=True)

postpaid_df = postpaid_df.groupby(['PRODUCT', 'METRIC_GRP', 'TMP_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'ALL':'sum', 'TRUE':'sum', 'DTAC':'sum'})
postpaid_df = postpaid_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_GRP', 'TMP_NAME']).reset_index()

mod_col_list = postpaid_df.iloc[:, 6:9].columns.tolist()
for col in mod_col_list:
    postpaid_df[col] = postpaid_df[col].apply(lambda x: format(x, ',.0f'))

postpaid_df

,PRODUCT,METRIC_GRP,TMP_NAME,LOAD_DATE,START_DAY,END_DAY,ALL,TRUE,DTAC
0,POSTPAID,Gross Adds,Postpaid Gross Adds B2B,2025-04-25 08:29:26,20250401,20250424,"17,082","10,483","6,599"
1,POSTPAID,Gross Adds,Postpaid Gross Adds B2B - GEO Channel,2025-04-25 08:29:26,20250401,20250424,"3,992","3,538",454
2,POSTPAID,Gross Adds,Postpaid Gross Adds B2C,2025-04-25 08:29:26,20250401,20250424,"155,750","121,190","34,560"
3,POSTPAID,Gross Adds,Postpaid Gross Adds B2C - GEO Channel,2025-04-25 08:29:26,20250401,20250424,"71,977","61,643","10,334"
4,POSTPAID,Inflow M1,Postpaid Inflow M1 B2B,2025-04-25 08:29:26,20250401,20250424,"11,167,131","3,777,714","7,389,417"
5,POSTPAID,Inflow M1,Postpaid Inflow M1 B2B - GEO Channel,2025-04-25 08:29:26,20250401,20250424,"2,220,756","1,947,180","273,576"
6,POSTPAID,Inflow M1,Postpaid Inflow M1 B2C,2025-04-25 08:29:26,20250401,20250424,"69,516,986","55,274,498","14,242,488"
7,POSTPAID,Inflow M1,Postpaid Inflow M1 B2C - GEO Channel,2025-04-25 08:29:26,20250401,20250424,"35,323,037","29,675,948","5,647,089"

In [7]:
''' TOL Summary : 20 KPIs'''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
product = 'TOL'
# channel_grp = 'GEO'

tol_df = chk_src_df.copy()
tol_df = tol_df.loc[tol_df['TM_KEY_MTH']==curr_mth]
tol_df = tol_df.loc[tol_df['PRODUCT']==product]
# tol_df = tol_df.loc[tol_df['CHANNEL_GRP']==channel_grp]

tol_df = tol_df.groupby(['PRODUCT', 'METRIC_GRP', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'P':'sum'})
tol_df = tol_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_GRP', 'METRIC_NAME']).reset_index()

mod_col_list = tol_df.iloc[:, 6:7].columns.tolist()
for col in mod_col_list:
    tol_df[col] = tol_df[col].apply(lambda x: format(x, ',.0f'))

tol_df

,PRODUCT,METRIC_GRP,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,P
0,TOL,Gross Adds,TOL Gross Adds Connected : Consumer,2025-04-25 08:00:13,20250401,20250424,"37,129"
1,TOL,Gross Adds,TOL Gross Adds Connected : Consumer (Install L...,2025-04-25 08:00:13,20250401,20250424,"37,129"
2,TOL,Gross Adds,TOL Gross Adds Connected : Consumer - GEO Channel,2025-04-25 08:00:13,20250401,20250424,"29,001"
3,TOL,Gross Adds,TOL Gross Adds Connected : Consumer - GEO Chan...,2025-04-25 08:00:13,20250401,20250424,"29,001"
4,TOL,Gross Adds,TOL Gross Adds Connected : DataService,2025-04-25 08:00:13,20250401,20250424,"1,085"
5,TOL,Gross Adds,TOL Gross Adds Connected : DataService (Instal...,2025-04-25 08:00:13,20250401,20250424,"1,085"
6,TOL,Gross Adds,TOL Gross Adds Connected : DataService - GEO C...,2025-04-25 08:00:13,20250401,20250422,37
7,TOL,Gross Adds,TOL Gross Adds Connected : DataService - GEO C...,2025-04-25 08:00:13,20250401,20250422,37
8,TOL,Gross Adds,TOL Gross Adds Registration : Consumer,2025-04-25 08:00:13,20250401,20250424,"52,945"
9,TOL,Gross Adds,TOL Gross Adds Registration : Consumer - GEO C...,2025-04-25 08:00:13,20250401,20250424,"40,494"
10,TOL,Gross Adds,TOL Gross Adds Registration : DataService,2025-04-25 08:00:13,20250401,20250424,"1,762"
11,TOL,Gross Adds,TOL Gross Adds Registration : DataService - GE...,2025-04-25 08:00:13,20250401,20250424,25
12,TOL,Inflow M1,TOL Inflow M1 Connected : Consumer,2025-04-25 08:00:13,20250401,20250424,"20,188,028"
13,TOL,Inflow M1,TOL Inflow M1 Connected : Consumer (Install Lo...,2025-04-25 08:00:13,20250401,20250424,"20,188,028"
14,TOL,Inflow M1,TOL Inflow M1 Connected : Consumer - GEO Channel,2025-04-25 08:00:13,20250401,20250424,"16,087,823"
15,TOL,Inflow M1,TOL Inflow M1 Connected : Consumer - GEO Chann...,2025-04-25 08:00:13,20250401,20250424,"16,087,823"
16,TOL,Inflow M1,TOL Inflow M1 Connected : DataService,2025-04-25 08:00:13,20250401,20250424,"1,665,870"
17,TOL,Inflow M1,TOL Inflow M1 Connected : DataService (Install...,2025-04-25 08:00:13,20250401,20250424,"1,665,870"
18,TOL,Inflow M1,TOL Inflow M1 Connected : DataService - GEO Ch...,2025-04-25 08:00:13,20250401,20250422,"132,087"
19,TOL,Inflow M1,TOL Inflow M1 Connected : DataService - GEO Ch...,2025-04-25 08:00:13,20250401,20250422,"132,087"

In [8]:
''' TVS Summary : 8 KPIs '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
product = 'TVS'
# channel_grp = 'GEO'

tvs_df = chk_src_df.copy()
tvs_df = tvs_df.loc[tvs_df['TM_KEY_MTH']==curr_mth]
tvs_df = tvs_df.loc[tvs_df['PRODUCT']==product]
# tvs_df = tvs_df.loc[tvs_df['CHANNEL_GRP']==channel_grp]

tvs_df = tvs_df.groupby(['PRODUCT', 'METRIC_GRP', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'P':'sum'})
tvs_df = tvs_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_GRP', 'METRIC_NAME']).reset_index()

mod_col_list = tvs_df.iloc[:, 6:7].columns.tolist()
for col in mod_col_list:
    tvs_df[col] = tvs_df[col].apply(lambda x: format(x, ',.0f'))

tvs_df

,PRODUCT,METRIC_GRP,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,P
0,TVS,Gross Adds,TVS CMDU Gross Adds,2025-04-25 08:31:16,20250401,20250422,39
1,TVS,Gross Adds,TVS CMDU Gross Adds - GEO Channel,2025-04-25 08:31:16,20250401,20250421,12
2,TVS,Gross Adds,TVS Now Gross Adds,2025-04-25 08:31:16,20250401,20250423,"1,564"
3,TVS,Gross Adds,TVS Now Gross Adds - GEO Channel,2025-04-25 08:31:16,20250401,20250423,"1,561"
4,TVS,Inflow M1,TVS CMDU Inflow M1,2025-04-25 08:31:16,20250401,20250422,"257,077"
5,TVS,Inflow M1,TVS CMDU Inflow M1 - GEO Channel,2025-04-25 08:31:16,20250401,20250421,"58,947"
6,TVS,Inflow M1,TVS Now Inflow M1,2025-04-25 08:31:16,20250401,20250423,"341,784"
7,TVS,Inflow M1,TVS Now Inflow M1 - GEO Channel,2025-04-25 08:31:16,20250401,20250423,"341,450"

### Monitoring

In [9]:
''' Current Month Gross Adds '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
ga_metric_list = [
    'DB2S010100CS' #Postpaid Gross Adds B2C : DTAC
    , 'DB2S020100CS' #Postpaid Gross Adds B2B : DTAC
    , 'TB2S010100CS' #Postpaid Gross Adds B2C : TMH
    , 'TB2S020100CS' #Postpaid Gross Adds B2B : TMH
    , 'DB1S000101CS' #Prepaid Gross Adds : DTAC
    , 'TB1S000101CS' #Prepaid Gross Adds : TMH
    , 'TB3S000102CS' #TOL Gross Adds Connected : Consumer
    , 'TB3S000103CS' #TOL Gross Adds Connected : DataService
    , 'TB3S000104CS' #TOL Gross Adds Registration : Consumer
    , 'TB3S000105CS' #TOL Gross Adds Registration : DataService
    , 'TB4S001004CS' #TVS CMDU Gross Adds
    , 'TB4S001400CS' #TVS Now Gross Adds
    ]

src_ga_overall_df = chk_src_df.copy()
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['TM_KEY_MTH']==curr_mth]
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['METRIC_CD'].isin(ga_metric_list)]
src_ga_overall_df = src_ga_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_ga_overall_df = src_ga_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_ga_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_ga_overall_df[col] = src_ga_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_ga_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,2025-04-25 08:29:26,20250401,20250423,0,"34,560","34,312","34,312","34,312","34,312","34,312",7,5516,31957
1,POSTPAID,DB2S020100CS,Postpaid Gross Adds B2B : DTAC,2025-04-25 08:29:26,20250401,20250423,0,"6,599","2,379","2,379","2,379","2,379","2,379",7,920,3129
2,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,2025-04-25 08:29:26,20250401,20250424,0,"121,190","86,679","86,679","86,679","86,679","86,679",7,1729,22483
3,POSTPAID,TB2S020100CS,Postpaid Gross Adds B2B : TMH,2025-04-25 08:29:26,20250401,20250424,0,"10,483","3,541","3,541","3,541","3,541","3,541",7,657,3190
4,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,2025-04-25 08:02:29,20250401,20250423,0,"700,000","607,287","607,287","672,463","682,043","677,631",7,6905,81347
5,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,2025-04-25 08:02:29,20250401,20250424,0,"698,395","529,446","529,446","515,933","529,446","529,408",7,5772,88634
6,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,2025-04-25 08:00:13,20250401,20250424,0,"37,129","28,996","28,996","28,688","28,996","28,996",7,1163,16111
7,TOL,TB3S000103CS,TOL Gross Adds Connected : DataService,2025-04-25 08:00:13,20250401,20250424,0,"1,085",37,37,37,37,37,7,76,143
8,TOL,TB3S000104CS,TOL Gross Adds Registration : Consumer,2025-04-25 08:00:13,20250401,20250424,0,"52,945","40,482","40,482","40,072","40,482","40,482",7,1183,17906
9,TOL,TB3S000105CS,TOL Gross Adds Registration : DataService,2025-04-25 08:00:13,20250401,20250424,0,"1,762",25,25,25,25,25,7,61,104
10,TVS,TB4S001004CS,TVS CMDU Gross Adds,2025-04-25 08:31:16,20250401,20250422,0,39,39,39,39,39,39,7,56,185
11,TVS,TB4S001400CS,TVS Now Gross Adds,2025-04-25 08:31:16,20250401,20250423,0,"1,564","1,557","1,557","1,557","1,557","1,557",7,627,4067

In [10]:
''' Average Gross Adds per Month '''

avg_range_start = '202401'
avg_range_end = '202503'
ga_metric_list = [
    'DB2S010100CS' #Postpaid Gross Adds B2C : DTAC
    , 'DB2S020100CS' #Postpaid Gross Adds B2B : DTAC
    , 'TB2S010100CS' #Postpaid Gross Adds B2C : TMH
    , 'TB2S020100CS' #Postpaid Gross Adds B2B : TMH
    , 'DB1S000101CS' #Prepaid Gross Adds : DTAC
    , 'TB1S000101CS' #Prepaid Gross Adds : TMH
    , 'TB3S000102CS' #TOL Gross Adds Connected : Consumer
    , 'TB3S000103CS' #TOL Gross Adds Connected : DataService
    , 'TB3S000104CS' #TOL Gross Adds Registration : Consumer
    , 'TB3S000105CS' #TOL Gross Adds Registration : DataService
    , 'TB4S001004CS' #TVS CMDU Gross Adds
    , 'TB4S001400CS' #TVS Now Gross Adds
    ]

src_ga_overall_df = chk_src_df.copy()
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['TM_KEY_MTH'].between(avg_range_start, avg_range_end)]
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['METRIC_CD'].isin(ga_metric_list)]
src_ga_overall_df = src_ga_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'mean', 'P':'mean', 'G':'mean', 'H':'mean', 'HH':'mean', 'CCAA':'mean', 'CCAATT':'mean', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_ga_overall_df = src_ga_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_ga_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_ga_overall_df[col] = src_ga_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_ga_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,2025-04-25 08:29:26,20240101,20250331,0,"61,560","59,720","59,720","59,720","59,720","59,720",7,6204,697820
1,POSTPAID,DB2S020100CS,Postpaid Gross Adds B2B : DTAC,2025-04-25 08:29:26,20240101,20250331,0,"10,050","5,366","5,366","5,366","5,366","5,366",7,1528,80500
2,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,2025-04-25 08:29:26,20240101,20250331,0,"152,588","103,167","103,167","103,167","103,167","103,167",7,2211,438943
3,POSTPAID,TB2S020100CS,Postpaid Gross Adds B2B : TMH,2025-04-25 08:29:26,20240101,20250331,0,"25,021","8,124","8,124","8,124","8,124","8,124",7,781,64761
4,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,2025-04-25 08:02:29,20240101,20250331,0,"1,347,209","1,287,777","1,287,777","1,283,901","1,301,854","1,293,953",7,7441,1684708
5,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,2025-04-25 08:02:29,20240101,20250331,0,"1,138,166","940,606","940,606","918,524","940,606","940,541",7,5831,1789493
6,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,2025-04-25 08:00:13,20240102,20250331,0,"46,948","33,562","33,562","34,737","35,069","35,055",7,1214,331274
7,TOL,TB3S000103CS,TOL Gross Adds Connected : DataService,2025-04-25 08:00:13,20240102,20250331,0,"1,584",34,34,35,35,35,7,99,2156
8,TOL,TB3S000104CS,TOL Gross Adds Registration : Consumer,2025-04-25 08:00:13,20240101,20250331,0,"64,322","45,578","45,578","47,202","47,631","47,608",7,1243,348927
9,TOL,TB3S000105CS,TOL Gross Adds Registration : DataService,2025-04-25 08:00:13,20240101,20250331,0,"3,354","1,033","1,033","1,025","1,043","1,043",7,620,25738
10,TVS,TB4S001004CS,TVS CMDU Gross Adds,2025-04-25 08:31:16,20240101,20250331,0,142,125,125,125,125,125,7,137,6316
11,TVS,TB4S001400CS,TVS Now Gross Adds,2025-04-25 08:31:16,20240701,20250331,0,"1,260","1,259","1,259","1,259","1,259","1,259",7,680,28917

In [11]:
''' Current Month Inflow '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
inflow_metric_list = [
    'DB2R010500CS' #Postpaid Inflow M1 B2C : DTAC
    , 'DB2R020500CS' #Postpaid Inflow M1 B2B : DTAC
    , 'TB2R010500CS' #Postpaid Inflow M1 B2C : TMH
    , 'TB2R020500CS' #Postpaid Inflow M1 B2B : TMH
    , 'DB1R000900CS' #Prepaid Inflow M1 : DTAC
    , 'TB1R000900CS' #Prepaid Inflow M1 : TMH
    , 'TB3R000601CS' #TOL Inflow M1 Connected : Consumer
    , 'TB3R000602CS' #TOL Inflow M1 Connected : DataService
    , 'TB4R001004CS' #TVS CMDU Inflow M1
    , 'TB4R001700CS' #TVS Now Inflow M1
    , 'DB1R001000CS' #Prepaid Inflow M2 : DTAC
    , 'TB1R001000CS' #Prepaid Inflow M2 : TMH
    ]

src_inflow_overall_df = chk_src_df.copy()
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['TM_KEY_MTH']==curr_mth]
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['METRIC_CD'].isin(inflow_metric_list)]
src_inflow_overall_df = src_inflow_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_inflow_overall_df = src_inflow_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_inflow_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_inflow_overall_df[col] = src_inflow_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_inflow_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2R010500CS,Postpaid Inflow M1 B2C : DTAC,2025-04-25 08:29:26,20250401,20250423,0,"14,242,488","14,107,934","14,107,934","14,107,934","14,107,934","14,107,934",7,5516,31957
1,POSTPAID,DB2R020500CS,Postpaid Inflow M1 B2B : DTAC,2025-04-25 08:29:26,20250401,20250423,0,"7,389,417","996,332","996,332","996,332","996,332","996,332",7,920,3129
2,POSTPAID,TB2R010500CS,Postpaid Inflow M1 B2C : TMH,2025-04-25 08:29:26,20250401,20250424,0,"55,274,498","43,926,692","43,926,692","43,926,692","43,926,692","43,926,692",7,1729,22483
3,POSTPAID,TB2R020500CS,Postpaid Inflow M1 B2B : TMH,2025-04-25 08:29:26,20250401,20250424,0,"3,777,714","1,948,877","1,948,877","1,948,877","1,948,877","1,948,877",7,657,3190
4,PREPAID,DB1R000900CS,Prepaid Inflow M1 : DTAC,2025-04-25 08:02:29,20250401,20250423,0,"149,320,623","131,542,653","131,542,653","144,808,581","147,056,524","146,044,759",7,6891,117746
5,PREPAID,DB1R001000CS,Prepaid Inflow M2 : DTAC,2025-04-25 08:02:28,20250401,20250423,0,"51,149,338","43,501,674","43,501,674","49,990,351","50,630,909","50,132,754",7,6739,139485
6,PREPAID,TB1R000900CS,Prepaid Inflow M1 : TMH,2025-04-25 08:02:29,20250401,20250422,0,"137,165,813","106,433,751","106,433,751","103,427,278","106,433,751","106,426,486",7,5722,99758
7,PREPAID,TB1R001000CS,Prepaid Inflow M2 : TMH,2025-04-25 08:02:28,20250401,20250422,0,"47,024,946","46,132,428","46,132,428","45,303,253","46,132,428","46,128,092",7,5707,110634
8,TOL,TB3R000601CS,TOL Inflow M1 Connected : Consumer,2025-04-25 08:00:13,20250401,20250424,0,"20,188,028","16,087,213","16,087,213","15,909,605","16,087,213","16,087,213",7,1163,16111
9,TOL,TB3R000602CS,TOL Inflow M1 Connected : DataService,2025-04-25 08:00:13,20250401,20250424,0,"1,665,870","132,087","132,087","132,087","132,087","132,087",7,76,143
10,TVS,TB4R001004CS,TVS CMDU Inflow M1,2025-04-25 08:31:16,20250401,20250422,0,"257,077","257,077","257,077","257,077","257,077","257,077",7,56,185
11,TVS,TB4R001700CS,TVS Now Inflow M1,2025-04-25 08:31:16,20250401,20250423,0,"341,784","341,024","341,024","341,024","341,024","341,024",7,627,4067

In [12]:
''' Average Inflow per Month '''

avg_range_start = '202401'
avg_range_end = '202503'
inflow_metric_list = [
    'DB2R010500CS' #Postpaid Inflow M1 B2C : DTAC
    , 'DB2R020500CS' #Postpaid Inflow M1 B2B : DTAC
    , 'TB2R010500CS' #Postpaid Inflow M1 B2C : TMH
    , 'TB2R020500CS' #Postpaid Inflow M1 B2B : TMH
    , 'DB1R000900CS' #Prepaid Inflow M1 : DTAC
    , 'TB1R000900CS' #Prepaid Inflow M1 : TMH
    , 'TB3R000601CS' #TOL Inflow M1 Connected : Consumer
    , 'TB3R000602CS' #TOL Inflow M1 Connected : DataService
    , 'TB4R001004CS' #TVS CMDU Inflow M1
    , 'TB4R001700CS' #TVS Now Inflow M1
    , 'DB1R001000CS' #Prepaid Inflow M2 : DTAC
    , 'TB1R001000CS' #Prepaid Inflow M2 : TMH
    ]

src_inflow_overall_df = chk_src_df.copy()
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['TM_KEY_MTH'].between(avg_range_start, avg_range_end)]
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['METRIC_CD'].isin(inflow_metric_list)]
src_inflow_overall_df = src_inflow_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_inflow_overall_df = src_inflow_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_inflow_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_inflow_overall_df[col] = src_inflow_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_inflow_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2R010500CS,Postpaid Inflow M1 B2C : DTAC,2025-04-25 08:29:26,20240101,20250331,0,"399,214,352","390,238,209","390,238,209","390,238,209","390,238,209","390,238,209",7,6204,697820
1,POSTPAID,DB2R020500CS,Postpaid Inflow M1 B2B : DTAC,2025-04-25 08:29:26,20240101,20250331,0,"146,087,502","27,656,846","27,656,846","27,656,846","27,656,846","27,656,846",7,1528,80500
2,POSTPAID,TB2R010500CS,Postpaid Inflow M1 B2C : TMH,2025-04-25 08:29:26,20240101,20250331,0,"963,708,492","742,500,893","742,500,893","742,500,893","742,500,893","742,500,893",7,2211,438943
3,POSTPAID,TB2R020500CS,Postpaid Inflow M1 B2B : TMH,2025-04-25 08:29:26,20240101,20250331,0,"84,587,995","36,558,027","36,558,027","36,558,027","36,558,027","36,558,027",7,781,64761
4,PREPAID,DB1R000900CS,Prepaid Inflow M1 : DTAC,2025-03-31 14:03:12,20240101,20250228,0,"3,575,366,338","3,494,329,040","3,494,329,040","3,462,849,849","3,517,392,428","3,493,806,293",7,7418,2373492
5,PREPAID,DB1R001000CS,Prepaid Inflow M2 : DTAC,2025-03-31 14:03:12,20240201,20250228,0,"1,018,625,276","995,812,331","995,812,331","993,869,298","1,005,487,512","993,973,720",7,7294,2559496
6,PREPAID,TB1R000900CS,Prepaid Inflow M1 : TMH,2025-04-25 08:02:29,20240101,20250331,0,"2,938,521,504","2,535,601,009","2,535,601,009","2,461,916,507","2,535,601,009","2,535,437,768",7,5800,2096987
7,PREPAID,TB1R001000CS,Prepaid Inflow M2 : TMH,2025-04-25 08:02:28,20240101,20250331,0,"1,060,137,134","1,049,549,983","1,049,549,983","1,030,456,436","1,049,549,983","1,049,435,343",7,5739,2269687
8,TOL,TB3R000601CS,TOL Inflow M1 Connected : Consumer,2025-04-25 08:00:13,20240102,20250331,0,"388,750,845","283,220,937","283,220,937","293,275,723","296,337,595","296,214,970",7,1214,331274
9,TOL,TB3R000602CS,TOL Inflow M1 Connected : DataService,2025-04-25 08:00:13,20240102,20250331,0,"29,369,420","1,591,398","1,591,398","1,627,784","1,630,883","1,630,883",7,99,2156
10,TVS,TB4R001004CS,TVS CMDU Inflow M1,2025-04-25 08:31:16,20240101,20250331,0,"13,849,759","11,723,504","11,723,504","11,723,504","11,723,504","11,723,504",7,137,6316
11,TVS,TB4R001700CS,TVS Now Inflow M1,2025-04-25 08:31:16,20240701,20250331,0,"4,853,306","4,839,985","4,839,985","4,839,985","4,839,985","4,839,985",7,680,28917

### All Metric

In [13]:
''' METRIC Summary '''

# src_t_sales_mth_df = chk_src_df.copy()
# src_t_sales_mth_df = src_t_sales_mth_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'P':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
# src_t_sales_mth_df = src_t_sales_mth_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

# mod_col_list = src_t_sales_mth_df.iloc[:, 6:7].columns.tolist()
# for col in mod_col_list:
#     src_t_sales_mth_df[col] = src_t_sales_mth_df[col].apply(lambda x: format(x, ',.0f'))

# print(f'\n{src_t_sales_mth_df.to_string(max_cols=10)}')

' METRIC Summary '

In [14]:
''' METRIC Current Month '''

# # v_tm_key_mth = '202502'
# curr_mth = chk_src_df['TM_KEY_MTH'].max()
# src_t_sales_mth_df_cols = ['PRODUCT', 'METRIC_CD', 'METRIC_NAME', 'LOAD_DATE', 'TM_KEY_MTH', 'START_DAY', 'END_DAY', 'C', 'P', 'G', 'H', 'HH', 'CCAA', 'CCAATT']
# print(f'\nParameter input...\n')
# print(f'   -> v_tm_key_mth: {curr_mth}')

# src_t_sales_mth_df = chk_src_df[src_t_sales_mth_df_cols].copy()
# src_t_sales_mth_df = src_t_sales_mth_df.loc[src_t_sales_mth_df['TM_KEY_MTH']==curr_mth]
# src_t_sales_mth_df = src_t_sales_mth_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_MTH']).reset_index(drop=True)

# mod_col_list = src_t_sales_mth_df.iloc[:, 7:14].columns.tolist()
# for col in mod_col_list:
#     src_t_sales_mth_df[col] = src_t_sales_mth_df[col].apply(lambda x: format(x, ',.0f'))

# print(f'\n{src_t_sales_mth_df.to_string(max_cols=17)}')

' METRIC Current Month '

## Actual : Transaction
->  DIM_CORP_KPI

In [15]:
''' Execute Daily by case '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20250101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        PRODUCT, METRIC_CD, METRIC_NAME, TM_KEY_DAY
        , MAX(LOAD_DATE) LOAD_DATE
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN METRIC_VALUE END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN METRIC_VALUE END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN METRIC_VALUE END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN METRIC_VALUE END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN METRIC_VALUE END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN METRIC_VALUE END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN METRIC_VALUE END) CCAATT
    FROM CDSAPPO.DIM_CORP_KPI
    WHERE REGEXP_LIKE(METRIC_CD, 'CS$|CG$') -->> 2025 KPIs
    AND EXISTS (
        SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
        FROM (
            SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
        ) TMP
        WHERE TMP_CD = AREA_CD )
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY PRODUCT, METRIC_CD, METRIC_NAME, TM_KEY_DAY
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Summary DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Daily DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20250101

TDMDBPR : Connected

   -> Execute query... 2025-04-25, 10:30:32

   -> Daily DataFrame : 7579 rows, 12 columns

TDMDBPR : Disconnected

In [16]:
''' METRIC by Day '''

v_tm_key_day = 20250101
print(f'\nParameter input...\n')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

src_sale_day_df = chk_src_df.copy()
src_sale_day_df = src_sale_day_df.loc[src_sale_day_df['TM_KEY_DAY']>=v_tm_key_day]
src_sale_day_df = src_sale_day_df.fillna(0).sort_values(by=['METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = src_sale_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    src_sale_day_df[col] = src_sale_day_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\nCreate : src_sale_day_df...')
print(f'\n   -> DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')
# print(f'\n{src_sale_day_df.to_string(max_cols=12)}')

Parameter input...

   -> v_tm_key_day: 20250101

Create : src_sale_day_df...

   -> DataFrame : 7579 rows, 12 columns

In [25]:
''' xB1S000101CS : Prepaid Gross Adds : xxx '''

v_tm_key_day = 20250401
v_metric_cd = ['DB1S000101CS', 'TB1S000101CS']
print(f'\nDB1S000101CS : Prepaid Gross Adds : DTAC\nTB1S000101CS : Prepaid Gross Adds : TMH\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

xB1S000101CS_day_df = chk_src_df.copy()
xB1S000101CS_day_df = xB1S000101CS_day_df.loc[xB1S000101CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
xB1S000101CS_day_df = xB1S000101CS_day_df.loc[xB1S000101CS_day_df['METRIC_CD'].isin(v_metric_cd)]
xB1S000101CS_day_df = xB1S000101CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = xB1S000101CS_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    xB1S000101CS_day_df[col] = xB1S000101CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
xB1S000101CS_day_df

DB1S000101CS : Prepaid Gross Adds : DTAC
TB1S000101CS : Prepaid Gross Adds : TMH

   -> v_metric_cd: ['DB1S000101CS', 'TB1S000101CS']
   -> v_tm_key_day: 20250401

,PRODUCT,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250401,2025-04-25 08:02:29,0,"30,296","26,148","26,148","29,165","29,542","29,340"
1,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250402,2025-04-25 08:02:29,0,"31,654","27,694","27,694","30,634","31,079","30,912"
2,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250403,2025-04-25 08:02:29,0,"32,983","28,551","28,551","31,419","31,883","31,750"
3,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250404,2025-04-25 08:02:29,0,"31,180","27,093","27,093","29,814","30,283","30,144"
4,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250405,2025-04-25 08:02:29,0,"29,816","25,443","25,443","28,193","28,622","28,460"
5,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250406,2025-04-25 08:02:29,0,"30,787","26,791","26,791","29,606","30,017","29,600"
6,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250407,2025-04-25 08:02:29,0,"28,696","24,528","24,528","27,278","27,705","27,587"
7,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250408,2025-04-25 08:02:29,0,"28,663","24,416","24,416","27,203","27,674","27,521"
8,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250409,2025-04-25 08:02:29,0,"30,655","26,616","26,616","29,479","29,955","29,833"
9,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250410,2025-04-25 08:02:29,0,"35,479","31,225","31,225","34,491","34,951","34,782"
10,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250411,2025-04-25 08:02:29,0,"42,148","37,784","37,784","41,013","41,469","41,222"
11,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250412,2025-04-25 08:02:29,0,"41,988","37,191","37,191","40,425","40,823","40,440"
12,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250413,2025-04-25 08:02:29,0,"28,498","24,712","24,712","27,451","27,880","27,540"
13,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250414,2025-04-25 08:02:29,0,"22,206","18,994","18,994","21,439","21,875","21,668"
14,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250415,2025-04-25 08:02:29,0,"20,332","17,136","17,136","19,381","19,738","19,562"
15,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250416,2025-04-25 08:02:29,0,"22,821","19,529","19,529","22,175","22,540","22,371"
16,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250417,2025-04-25 08:02:29,0,"28,835","25,207","25,207","28,092","28,462","28,320"
17,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250418,2025-04-25 08:02:29,0,"32,606","28,850","28,850","31,727","32,108","31,993"
18,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250419,2025-04-25 08:02:29,0,"28,782","25,287","25,287","27,956","28,252","28,101"
19,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250420,2025-04-25 08:02:29,0,"29,717","25,919","25,919","28,816","29,253","28,966"
20,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250421,2025-04-25 08:02:29,0,"32,564","28,136","28,136","31,295","31,673","31,520"
21,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250422,2025-04-25 08:02:29,0,"29,847","25,461","25,461","28,153","28,606","28,474"
22,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250423,2025-04-25 08:02:29,0,"29,447","24,576","24,576","27,258","27,653","27,525"
23,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250401,2025-04-25 08:02:29,0,"31,769","25,561","25,561","24,873","25,561","25,561"
24,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250402,2025-04-25 08:02:29,0,"33,051","25,883","25,883","25,130","25,883","25,878"
25,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250403,2025-04-25 08:02:29,0,"33,578","25,557","25,557","24,896","25,557","25,555"
26,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250404,2025-04-25 08:02:29,0,"34,353","26,770","26,770","26,129","26,770","26,769"
27,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250405,2025-04-25 08:02:29,0,"31,312","24,913","24,913","24,336","24,913","24,911"
28,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250406,2025-04-25 08:02:29,0,"27,760","22,051","22,051","21,384","22,051","22,049"
29,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250407,2025-04-25 08:02:29,0,"27,824","21,982","21,982","21,425","21,982","21,980"
30,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250408,2025-04-25 08:02:29,0,"29,677","23,473","23,473","22,877","23,473","23,472"
31,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250409,2025-04-25 08:02:29,0,"31,043","24,138","24,138","23,553","24,138","24,137"
32,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250410,2025-04-25 08:02:29,0,"35,296","27,017","27,017","26,282","27,017","27,016"
33,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250411,2025-04-25 08:02:29,0,"37,116","26,929","26,929","26,294","26,929","26,927"
34,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250412,2025-04-25 08:02:29,0,"36,166","26,107","26,107","25,470","26,107","26,106"
35,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250413,2025-04-25 08:02:29,0,"27,010","19,368","19,368","18,813","19,368","19,368"
36,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250414,2025-04-25 08:02:29,0,"23,409","17,585","17,585","17,087","17,585","17,585"
37,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250415,2025-04-25 08:02:29,0,"20,215","15,512","15,512","15,061","15,512","15,509"
38,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250416,2025-04-25 08:02:29,0,"25,170","19,796","19,796","19,262","19,796","19,795"
39,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250417,2025-04-25 08:02:29,0,"30,546","22,286","22,286","21,729","22,286","22,285"
40,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250418,2025-04-25 08:02:29,0,"32,535","23,749","23,749","23,247","23,749","23,746"
41,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250419,2025-04-25 08:02:29,0,"29,158","20,903","20,903","20,536","20,903","20,901"
42,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250420,2025-04-25 08:02:29,0,"27,703","20,597","20,597","20,042","20,597","20,592"
43,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250421,2025-04-25 08:02:29,0,"31,422","23,444","23,444","22,856","23,444","23,444"
44,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250422,2025-04-25 08:02:29,0,"30,103","22,883","22,883","22,285","22,883","22,882"
45,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250423,2025-04-25 08:02:29,0,"31,624","22,793","22,793","22,218","22,793","22,791"
46,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250424,2025-04-25 08:02:29,0,555,149,149,148,149,149

In [26]:
''' xB2S010100CS : Postpaid Gross Adds B2C : xxx '''

v_tm_key_day = 20250401
v_metric_cd = ['DB2S010100CS', 'TB2S010100CS']
print(f'\nDB2S010100CS : Postpaid Gross Adds : DTAC\nTB2S010100CS : Postpaid Gross Adds : TMH\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

xB2S010100CS_day_df = chk_src_df.copy()
xB2S010100CS_day_df = xB2S010100CS_day_df.loc[xB2S010100CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
xB2S010100CS_day_df = xB2S010100CS_day_df.loc[xB2S010100CS_day_df['METRIC_CD'].isin(v_metric_cd)]
xB2S010100CS_day_df = xB2S010100CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = xB2S010100CS_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    xB2S010100CS_day_df[col] = xB2S010100CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
xB2S010100CS_day_df

DB2S010100CS : Postpaid Gross Adds : DTAC
TB2S010100CS : Postpaid Gross Adds : TMH

   -> v_metric_cd: ['DB2S010100CS', 'TB2S010100CS']
   -> v_tm_key_day: 20250401

,PRODUCT,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250401,2025-04-25 08:29:26,0,"1,274","1,267","1,267","1,267","1,267","1,267"
1,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250402,2025-04-25 08:29:26,0,"1,395","1,386","1,386","1,386","1,386","1,386"
2,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250403,2025-04-25 08:29:26,0,"2,263","2,242","2,242","2,242","2,242","2,242"
3,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250404,2025-04-25 08:29:26,0,"2,199","2,170","2,170","2,170","2,170","2,170"
4,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250405,2025-04-25 08:29:26,0,"1,785","1,777","1,777","1,777","1,777","1,777"
5,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250406,2025-04-25 08:29:26,0,"1,095","1,091","1,091","1,091","1,091","1,091"
6,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250407,2025-04-25 08:29:26,0,"1,564","1,555","1,555","1,555","1,555","1,555"
7,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250408,2025-04-25 08:29:26,0,"1,741","1,730","1,730","1,730","1,730","1,730"
8,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250409,2025-04-25 08:29:26,0,"1,981","1,971","1,971","1,971","1,971","1,971"
9,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250410,2025-04-25 08:29:26,0,"1,563","1,555","1,555","1,555","1,555","1,555"
10,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250411,2025-04-25 08:29:26,0,"1,528","1,520","1,520","1,520","1,520","1,520"
11,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250412,2025-04-25 08:29:26,0,"1,336","1,325","1,325","1,325","1,325","1,325"
12,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250413,2025-04-25 08:29:26,0,344,342,342,342,342,342
13,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250414,2025-04-25 08:29:26,0,325,324,324,324,324,324
14,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250415,2025-04-25 08:29:26,0,382,382,382,382,382,382
15,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250416,2025-04-25 08:29:26,0,"1,330","1,317","1,317","1,317","1,317","1,317"
16,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250417,2025-04-25 08:29:26,0,"1,775","1,768","1,768","1,768","1,768","1,768"
17,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250418,2025-04-25 08:29:26,0,"2,097","2,085","2,085","2,085","2,085","2,085"
18,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250419,2025-04-25 08:29:26,0,"1,888","1,872","1,872","1,872","1,872","1,872"
19,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250420,2025-04-25 08:29:26,0,"1,351","1,345","1,345","1,345","1,345","1,345"
20,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250421,2025-04-25 08:29:26,0,"1,761","1,747","1,747","1,747","1,747","1,747"
21,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250422,2025-04-25 08:29:26,0,"1,917","1,898","1,898","1,898","1,898","1,898"
22,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250423,2025-04-25 08:29:26,0,"1,666","1,643","1,643","1,643","1,643","1,643"
23,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250401,2025-04-25 08:29:26,0,"5,935","4,519","4,519","4,519","4,519","4,519"
24,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250402,2025-04-25 08:29:26,0,"5,268","3,746","3,746","3,746","3,746","3,746"
25,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250403,2025-04-25 08:29:26,0,"5,043","3,484","3,484","3,484","3,484","3,484"
26,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250404,2025-04-25 08:29:26,0,"5,261","3,575","3,575","3,575","3,575","3,575"
27,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250405,2025-04-25 08:29:26,0,"5,445","3,882","3,882","3,882","3,882","3,882"
28,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250406,2025-04-25 08:29:26,0,"5,930","4,442","4,442","4,442","4,442","4,442"
29,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250407,2025-04-25 08:29:26,0,"5,016","3,280","3,280","3,280","3,280","3,280"
30,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250408,2025-04-25 08:29:26,0,"4,969","3,351","3,351","3,351","3,351","3,351"
31,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250409,2025-04-25 08:29:26,0,"6,425","4,615","4,615","4,615","4,615","4,615"
32,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250410,2025-04-25 08:29:26,0,"5,609","3,779","3,779","3,779","3,779","3,779"
33,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250411,2025-04-25 08:29:26,0,"5,506","3,657","3,657","3,657","3,657","3,657"
34,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250412,2025-04-25 08:29:26,0,"5,130","3,682","3,682","3,682","3,682","3,682"
35,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250413,2025-04-25 08:29:26,0,"2,428","2,355","2,355","2,355","2,355","2,355"
36,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250414,2025-04-25 08:29:26,0,"2,422","2,344","2,344","2,344","2,344","2,344"
37,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250415,2025-04-25 08:29:26,0,"2,303","2,227","2,227","2,227","2,227","2,227"
38,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250416,2025-04-25 08:29:26,0,"4,290","2,991","2,991","2,991","2,991","2,991"
39,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250417,2025-04-25 08:29:26,0,"4,905","3,403","3,403","3,403","3,403","3,403"
40,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250418,2025-04-25 08:29:26,0,"6,731","5,003","5,003","5,003","5,003","5,003"
41,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250419,2025-04-25 08:29:26,0,"4,936","3,403","3,403","3,403","3,403","3,403"
42,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250420,2025-04-25 08:29:26,0,"5,378","3,771","3,771","3,771","3,771","3,771"
43,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250421,2025-04-25 08:29:26,0,"5,068","3,231","3,231","3,231","3,231","3,231"
44,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250422,2025-04-25 08:29:26,0,"6,003","4,088","4,088","4,088","4,088","4,088"
45,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250423,2025-04-25 08:29:26,0,"4,749","3,163","3,163","3,163","3,163","3,163"
46,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250424,2025-04-25 08:29:26,0,"6,440","4,688","4,688","4,688","4,688","4,688"

In [27]:
''' TB3S000102CS : TOL Gross Adds Connected : Consumer '''

v_tm_key_day = 20250401
v_metric_cd = 'TB3S000102CS'
print(f'\nTB3S000102CS : TOL Gross Adds Connected : Consumer\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB3S000102CS_day_df = chk_src_df.copy()
TB3S000102CS_day_df = TB3S000102CS_day_df.loc[TB3S000102CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB3S000102CS_day_df = TB3S000102CS_day_df.loc[TB3S000102CS_day_df['METRIC_CD']==v_metric_cd]
TB3S000102CS_day_df = TB3S000102CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB3S000102CS_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB3S000102CS_day_df[col] = TB3S000102CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB3S000102CS_day_df

TB3S000102CS : TOL Gross Adds Connected : Consumer

   -> v_metric_cd: TB3S000102CS
   -> v_tm_key_day: 20250401

,PRODUCT,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250401,2025-04-25 08:00:13,0,"1,788","1,487","1,487","1,476","1,487","1,487"
1,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250402,2025-04-25 08:00:13,0,"1,737","1,410","1,410","1,397","1,410","1,410"
2,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250403,2025-04-25 08:00:13,0,"1,802","1,466","1,466","1,448","1,466","1,466"
3,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250404,2025-04-25 08:00:13,0,"1,803","1,416","1,416","1,401","1,416","1,416"
4,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250405,2025-04-25 08:00:13,0,"1,878","1,402","1,402","1,389","1,402","1,402"
5,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250406,2025-04-25 08:00:13,0,"1,796","1,348","1,348","1,336","1,348","1,348"
6,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250407,2025-04-25 08:00:13,0,"1,755","1,339","1,339","1,323","1,339","1,339"
7,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250408,2025-04-25 08:00:13,0,"1,864","1,505","1,505","1,489","1,505","1,505"
8,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250409,2025-04-25 08:00:13,0,"1,869","1,501","1,501","1,488","1,501","1,501"
9,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250410,2025-04-25 08:00:13,0,"1,829","1,445","1,445","1,423","1,445","1,445"
10,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250411,2025-04-25 08:00:13,0,"1,872","1,452","1,452","1,438","1,452","1,452"
11,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250412,2025-04-25 08:00:13,0,"1,648","1,162","1,162","1,144","1,162","1,162"
12,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250413,2025-04-25 08:00:13,0,36,32,32,32,32,32
13,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250414,2025-04-25 08:00:13,0,18,14,14,13,14,14
14,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250415,2025-04-25 08:00:13,0,21,18,18,18,18,18
15,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250416,2025-04-25 08:00:13,0,"1,095",842,842,833,842,842
16,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250417,2025-04-25 08:00:13,0,"1,524","1,189","1,189","1,182","1,189","1,189"
17,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250418,2025-04-25 08:00:13,0,"1,719","1,373","1,373","1,360","1,373","1,373"
18,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250419,2025-04-25 08:00:13,0,"1,888","1,410","1,410","1,390","1,410","1,410"
19,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250420,2025-04-25 08:00:13,0,"1,820","1,316","1,316","1,297","1,316","1,316"
20,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250421,2025-04-25 08:00:13,0,"1,887","1,484","1,484","1,463","1,484","1,484"
21,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250422,2025-04-25 08:00:13,0,"1,880","1,496","1,496","1,479","1,496","1,496"
22,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250423,2025-04-25 08:00:13,0,"1,835","1,485","1,485","1,475","1,485","1,485"
23,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250424,2025-04-25 08:00:13,0,"1,765","1,404","1,404","1,394","1,404","1,404"

In [28]:
''' TB4S001400CS : TVS Now Gross Adds '''

v_tm_key_day = 20250401
v_metric_cd = 'TB4S001400CS'
print(f'\nTB4S001400CS : TVS Now Gross Adds\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB4S001400CS_day_df = chk_src_df.copy()
TB4S001400CS_day_df = TB4S001400CS_day_df.loc[TB4S001400CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB4S001400CS_day_df = TB4S001400CS_day_df.loc[TB4S001400CS_day_df['METRIC_CD']==v_metric_cd]
TB4S001400CS_day_df = TB4S001400CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB4S001400CS_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB4S001400CS_day_df[col] = TB4S001400CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB4S001400CS_day_df

TB4S001400CS : TVS Now Gross Adds

   -> v_metric_cd: TB4S001400CS
   -> v_tm_key_day: 20250401

,PRODUCT,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,TVS,TB4S001400CS,TVS Now Gross Adds,20250401,2025-04-25 08:31:16,0,32,32,32,32,32,32
1,TVS,TB4S001400CS,TVS Now Gross Adds,20250402,2025-04-25 08:31:16,0,34,34,34,34,34,34
2,TVS,TB4S001400CS,TVS Now Gross Adds,20250403,2025-04-25 08:31:16,0,44,44,44,44,44,44
3,TVS,TB4S001400CS,TVS Now Gross Adds,20250404,2025-04-25 08:31:16,0,67,67,67,67,67,67
4,TVS,TB4S001400CS,TVS Now Gross Adds,20250405,2025-04-25 08:31:16,0,66,66,66,66,66,66
5,TVS,TB4S001400CS,TVS Now Gross Adds,20250406,2025-04-25 08:31:16,0,88,88,88,88,88,88
6,TVS,TB4S001400CS,TVS Now Gross Adds,20250407,2025-04-25 08:31:16,0,40,40,40,40,40,40
7,TVS,TB4S001400CS,TVS Now Gross Adds,20250408,2025-04-25 08:31:16,0,42,41,41,41,41,41
8,TVS,TB4S001400CS,TVS Now Gross Adds,20250409,2025-04-25 08:31:16,0,57,57,57,57,57,57
9,TVS,TB4S001400CS,TVS Now Gross Adds,20250410,2025-04-25 08:31:16,0,69,69,69,69,69,69
10,TVS,TB4S001400CS,TVS Now Gross Adds,20250411,2025-04-25 08:31:16,0,113,113,113,113,113,113
11,TVS,TB4S001400CS,TVS Now Gross Adds,20250412,2025-04-25 08:31:16,0,99,98,98,98,98,98
12,TVS,TB4S001400CS,TVS Now Gross Adds,20250413,2025-04-25 08:31:16,0,49,49,49,49,49,49
13,TVS,TB4S001400CS,TVS Now Gross Adds,20250414,2025-04-25 08:31:16,0,35,35,35,35,35,35
14,TVS,TB4S001400CS,TVS Now Gross Adds,20250415,2025-04-25 08:31:16,0,51,51,51,51,51,51
15,TVS,TB4S001400CS,TVS Now Gross Adds,20250416,2025-04-25 08:31:16,0,71,71,71,71,71,71
16,TVS,TB4S001400CS,TVS Now Gross Adds,20250417,2025-04-25 08:31:16,0,93,93,93,93,93,93
17,TVS,TB4S001400CS,TVS Now Gross Adds,20250418,2025-04-25 08:31:16,0,68,68,68,68,68,68
18,TVS,TB4S001400CS,TVS Now Gross Adds,20250419,2025-04-25 08:31:16,0,80,80,80,80,80,80
19,TVS,TB4S001400CS,TVS Now Gross Adds,20250420,2025-04-25 08:31:16,0,110,109,109,109,109,109
20,TVS,TB4S001400CS,TVS Now Gross Adds,20250421,2025-04-25 08:31:16,0,81,79,79,79,79,79
21,TVS,TB4S001400CS,TVS Now Gross Adds,20250422,2025-04-25 08:31:16,0,85,84,84,84,84,84
22,TVS,TB4S001400CS,TVS Now Gross Adds,20250423,2025-04-25 08:31:16,0,90,89,89,89,89,89

## Actual : Issue
->  DIM_CORP_KPI

In [21]:
# ''' Execute Issue by case '''


# # Input parameter
# curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
# # v_start_date = 20250101
# print(f'\nParameter input...\n')
# # print(f'   -> v_start_date: {v_start_date}')


# # Connect : TDMDBPR
# src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
# src_conn = oracledb.connect(src_dsn)
# print(f'\n{TDMDBPR_db} : Connected')
# src_cur = src_conn.cursor()
# query = (f"""
#     SELECT /*+PARALLEL(8)*/ T.TM_KEY_DAY AS TM_KEY_MTH
#         , T.METRIC_CD, T.METRIC_NAME, T.AREA_TYPE, T.AREA_CD, T.AREA_DESC
#         , T.METRIC_VALUE AS TARGET
#         , A.ACTUAL
#         , O.ORGID_P, O.ZONE_TYPE, O.ORGID_G, O.TDS_SGMD, O.ORGID_H, O.HOP_HINT, O.ORGID_HH, O.D_CLUSTER
        
#     FROM CDSAPPO.DIM_CORP_TARGET T

#     LEFT JOIN (
#         SELECT SUBSTR(TM_KEY_DAY,1,6) AS TM_KEY_MTH
#             , PRODUCT, METRIC_CD, METRIC_NAME, AREA_TYPE, AREA_CD, AREA_DESC
#             , SUM(METRIC_VALUE) AS ACTUAL, MAX(LOAD_DATE) LOAD_DATE
#         FROM CDSAPPO.DIM_CORP_KPI
#         WHERE METRIC_CD = 'TB3S000102CS' --TOL Gross Adds Connected : Consumer
#         AND AREA_TYPE = 'CCAA'
#         AND TM_KEY_DAY >= 20250101
#         GROUP BY SUBSTR(TM_KEY_DAY,1,6), PRODUCT, METRIC_CD, METRIC_NAME, AREA_TYPE, AREA_CD, AREA_DESC
#     ) A
#         ON A.METRIC_CD = T.METRIC_CD
#         AND A.AREA_CD = T.AREA_CD
#         AND A.TM_KEY_MTH = T.TM_KEY_DAY
        
#     LEFT JOIN (
#         SELECT DISTINCT ORGID_P, ZONE_TYPE, ORGID_G, TDS_SGMD, ORGID_H, HOP_HINT, ORGID_HH, D_CLUSTER
#             , SUBSTR(CCAATT,1,2) AS PROVINCE_CD, PROVINCE_ENG 
#             , SUBSTR(CCAATT,1,4) AS CCAA, DISTRICT_EN
#         FROM CDSAPPO.DIM_MOOC_AREA NOLOCK
#         WHERE TEAM_CODE <> 'ไม่ระบุ' AND REMARK <> 'Dummy'
#     ) O
#         ON O.CCAA = T.AREA_CD

#     WHERE T.METRIC_CD = 'TB3S000102CS'
#     AND T.AREA_TYPE = 'CCAA'
#     AND T.TM_KEY_DAY >= 202501

#     --ORDER BY T.TM_KEY_DAY, T.METRIC_CD, T.AREA_TYPE, O.ZONE_TYPE, O.ORGID_G, O.ORGID_H, O.ORGID_HH
# """)


# try:
#     execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
#     print(f'\n   -> Execute query... {execute_datetime}')

#     # Get : Summary DataFrame
#     src_cur.execute(query)
#     rows = src_cur.fetchall()
#     chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
#     print(f'\n   -> Issue DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

#     src_cur.close()


# except oracledb.DatabaseError as e:
#     print(f'\nError with Oracle : {e}')


# finally:
#     src_conn.close()
#     print(f'\n{TDMDBPR_db} : Disconnected')

In [22]:
# ''' TB3S000102CS : TOL Gross Adds Connected : Consumer '''

# v_tm_key_mth = 202501
# # v_metric_cd = 'TB3S000102CS'
# print(f'\nTB3S000102CS : TOL Gross Adds Connected : Consumer\n')
# # print(f'   -> v_metric_cd: {v_metric_cd}')
# print(f'   -> v_tm_key_mth: {v_tm_key_mth}')

# TB3S000102CS_issue_df = chk_src_df.copy()
# TB3S000102CS_issue_df = TB3S000102CS_issue_df.loc[TB3S000102CS_issue_df['TM_KEY_MTH']==v_tm_key_mth]
# TB3S000102CS_issue_df = TB3S000102CS_issue_df.loc[TB3S000102CS_issue_df['ACTUAL'] > 0]
# # TB3S000102CS_issue_df = TB3S000102CS_issue_df.loc[TB3S000102CS_issue_df['ACTUAL'].isna()]
# # TB3S000102CS_issue_df = TB3S000102CS_issue_df.loc[TB3S000102CS_issue_df['METRIC_CD']==v_metric_cd]
# TB3S000102CS_issue_df = TB3S000102CS_issue_df.fillna(0).sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)

# mod_col_list = TB3S000102CS_issue_df.iloc[:, 6:8].columns.tolist()
# for col in mod_col_list:
#     TB3S000102CS_issue_df[col] = TB3S000102CS_issue_df[col].apply(lambda x: format(x, ',.0f'))
    
# # TB3S000102CS_issue_df
# print(f'\n{TB3S000102CS_issue_df.to_string(max_cols=100)}')

## Output File
->  DIM_CORP_KPI

In [23]:
# ''' Execute Sales Monthly '''


# # Input parameter
# curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
# v_start_date = 20240101
# print(f'\nParameter input...\n')
# print(f'   -> v_start_date: {v_start_date}')


# # Connect : TDMDBPR
# src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
# src_conn = oracledb.connect(src_dsn)
# print(f'\n{TDMDBPR_db} : Connected')
# src_cur = src_conn.cursor()
# query = (f"""
#     SELECT /*+PARALLEL(8)*/ 
#         SUBSTR(TM_KEY_DAY,1,4) AS TM_KEY_YR, SUBSTR(TM_KEY_DAY,1,6) AS TM_KEY_MTH
#         , CASE WHEN REGEXP_LIKE(METRIC_CD, 'CS$|CG$') THEN 'Y2025' ELSE 'Y2024' END VER_FLAG
#         , PRODUCT, COMP_CD, METRIC_CD, METRIC_NAME, REMARK, UPD_TM, PPN_TM
#         , SUM(CASE WHEN AREA_TYPE = 'P' THEN METRIC_VALUE END) P_ACTUAL
#         , SUM(CASE WHEN AREA_TYPE = 'G' THEN METRIC_VALUE END) G
#         , SUM(CASE WHEN AREA_TYPE = 'H' THEN METRIC_VALUE END) H
#         , SUM(CASE WHEN AREA_TYPE = 'HH' THEN METRIC_VALUE END) HH
#         , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN METRIC_VALUE END) CCAA
#         , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN METRIC_VALUE END) CCAATT
#         , SUM(CASE WHEN AREA_CD = '016' THEN METRIC_VALUE END) "016"
#         , SUM(CASE WHEN AREA_CD = '040' THEN METRIC_VALUE END) "040"
#         , SUM(CASE WHEN AREA_CD = '080' THEN METRIC_VALUE END) "080"
#         , MIN(TM_KEY_DAY) AS START_DAY, MAX(TM_KEY_DAY) AS END_DAY, MAX(LOAD_DATE) LOAD_DATE
#     FROM CDSAPPO.DIM_CORP_KPI
#     WHERE METRIC_CD NOT LIKE 'Error%'
#     AND EXISTS (
#         SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
#         FROM (
#             SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#         ) TMP
#         WHERE TMP_CD = AREA_CD )
#     AND TM_KEY_DAY >= {v_start_date}
#     GROUP BY SUBSTR(TM_KEY_DAY,1,4), SUBSTR(TM_KEY_DAY,1,6), PRODUCT, COMP_CD, METRIC_CD, METRIC_NAME, REMARK, UPD_TM, PPN_TM
#     --ORDER BY 2, 3, PRODUCT, COMP_CD, METRIC_CD 
# """)


# try:
#     execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
#     print(f'\n   -> Execute query... {execute_datetime}')

#     # Get : Sales Monthly DataFrame
#     src_cur.execute(query)
#     rows = src_cur.fetchall()
#     monthly_sales_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
#     print(f'\n   -> Sales Monthly DataFrame : {monthly_sales_df.shape[0]} rows, {monthly_sales_df.shape[1]} columns')

#     src_cur.close()


# except oracledb.DatabaseError as e:
#     print(f'\nError with Oracle : {e}')


# finally:
#     src_conn.close()
#     print(f'\n{TDMDBPR_db} : Disconnected')

In [24]:
# ''' Generate CSV file '''

# op_dir = 'data'
# op_monthly_file = f'sales_monthly_{str_curr_dt}'

# monthly_sales_df.to_csv(f'{op_dir}/tmp_{op_monthly_file}.csv', index=False, encoding='utf-8')
# print(f'\n   -> Generate "tmp_{op_monthly_file}.csv" successfully')

# monthly_sales_df.tail(3)