# * Sales Data

## Parameter

In [1]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

pd.set_option('future.no_silent_downcasting', True)

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

## Actual : Monitoring
->  DIM_CORP_KPI

In [2]:
''' Execute Summary Data '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20240101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        SUBSTR(TM_KEY_DAY,1,6) AS TM_KEY_MTH, PRODUCT, METRIC_CD, METRIC_NAME
        , MAX(LOAD_DATE) LOAD_DATE, MIN(TM_KEY_DAY) AS START_DAY, MAX(TM_KEY_DAY) AS END_DAY
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN METRIC_VALUE END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN METRIC_VALUE END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN METRIC_VALUE END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN METRIC_VALUE END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN METRIC_VALUE END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN METRIC_VALUE END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN METRIC_VALUE END) CCAATT
        , COUNT(DISTINCT AREA_TYPE) CNT_AREA_TYPE, COUNT(DISTINCT AREA_CD) CNT_AREA_CD, COUNT(1) ROW_CNT
    FROM CDSAPPO.DIM_CORP_KPI
    WHERE REGEXP_LIKE(METRIC_CD, 'CS$|CG$') -->> 2025 KPIs
    AND EXISTS (
        SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
        FROM (
            SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
        ) TMP
        WHERE TMP_CD = AREA_CD )
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY SUBSTR(TM_KEY_DAY,1,6), PRODUCT, METRIC_CD, METRIC_NAME
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Summary DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Summary DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20240101

TDMDBPR : Connected

   -> Execute query... 2025-03-10, 10:00:44

   -> Summary DataFrame : 874 rows, 17 columns

TDMDBPR : Disconnected

In [3]:
''' Current Month Gross Adds '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
ga_metric_list = [
    'DB2S010100CS' #Postpaid Gross Adds B2C : DTAC
    , 'DB2S020100CS' #Postpaid Gross Adds B2B : DTAC
    , 'TB2S010100CS' #Postpaid Gross Adds B2C : TMH
    , 'TB2S020100CS' #Postpaid Gross Adds B2B : TMH
    , 'DB1S000101CS' #Prepaid Gross Adds : DTAC
    , 'TB1S000101CS' #Prepaid Gross Adds : TMH
    , 'TB3S000102CS' #TOL Gross Adds Connected : Consumer
    , 'TB3S000103CS' #TOL Gross Adds Connected : DataService
    , 'TB3S000104CS' #TOL Gross Adds Registration : Consumer
    , 'TB3S000105CS' #TOL Gross Adds Registration : DataService
    , 'TB4S001004CS' #TVS CMDU Gross Adds
    , 'TB4S001400CS' #TVS Now Gross Adds
    ]

src_ga_overall_df = chk_src_df.copy()
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['TM_KEY_MTH']==curr_mth]
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['METRIC_CD'].isin(ga_metric_list)]
src_ga_overall_df = src_ga_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_ga_overall_df = src_ga_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_ga_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_ga_overall_df[col] = src_ga_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_ga_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,2025-03-10 08:17:09,20250301,20250305,0,"6,472","6,417","6,417","6,417","6,417","6,417",7,2713,5907
1,POSTPAID,DB2S020100CS,Postpaid Gross Adds B2B : DTAC,2025-03-10 08:17:09,20250301,20250305,0,"2,432",466,466,466,466,466,7,404,677
2,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,2025-03-10 08:17:09,20250301,20250309,0,"50,134","37,236","37,236","37,236","37,236","37,236",7,1238,8466
3,POSTPAID,TB2S020100CS,Postpaid Gross Adds B2B : TMH,2025-03-10 08:17:09,20250301,20250309,0,"7,278",779,779,779,779,779,7,502,1445
4,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,2025-03-10 08:15:05,20250301,20250308,0,"290,593","278,240","278,240","272,434","278,319","276,809",7,5820,28195
5,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,2025-03-10 08:15:05,20250301,20250309,0,"262,972","198,978","198,978","192,477","198,978","198,964",7,5404,30632
6,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,2025-03-10 08:00:12,20250301,20250309,0,"15,608","12,240","12,240","12,134","12,240","12,240",7,1065,6859
7,TOL,TB3S000103CS,TOL Gross Adds Connected : DataService,2025-03-10 08:00:12,20250301,20250309,0,332,16,16,16,16,16,7,49,63
8,TOL,TB3S000104CS,TOL Gross Adds Registration : Consumer,2025-03-10 08:00:12,20250301,20250309,0,"21,981","16,901","16,901","16,788","16,901","16,901",7,1068,7090
9,TOL,TB3S000105CS,TOL Gross Adds Registration : DataService,2025-03-10 08:00:12,20250301,20250308,0,311,10,10,10,10,10,7,23,42
10,TVS,TB4S001004CS,TVS CMDU Gross Adds,2025-03-10 08:20:14,20250301,20250307,0,21,21,21,21,21,21,7,37,86
11,TVS,TB4S001400CS,TVS Now Gross Adds,2025-03-10 08:20:14,20250301,20250308,0,697,697,697,697,697,697,7,463,1379

In [4]:
''' Average Gross Adds per Month '''

avg_range_start = '202401'
avg_range_end = '202502'
ga_metric_list = [
    'DB2S010100CS' #Postpaid Gross Adds B2C : DTAC
    , 'DB2S020100CS' #Postpaid Gross Adds B2B : DTAC
    , 'TB2S010100CS' #Postpaid Gross Adds B2C : TMH
    , 'TB2S020100CS' #Postpaid Gross Adds B2B : TMH
    , 'DB1S000101CS' #Prepaid Gross Adds : DTAC
    , 'TB1S000101CS' #Prepaid Gross Adds : TMH
    , 'TB3S000102CS' #TOL Gross Adds Connected : Consumer
    , 'TB3S000103CS' #TOL Gross Adds Connected : DataService
    , 'TB3S000104CS' #TOL Gross Adds Registration : Consumer
    , 'TB3S000105CS' #TOL Gross Adds Registration : DataService
    , 'TB4S001004CS' #TVS CMDU Gross Adds
    , 'TB4S001400CS' #TVS Now Gross Adds
    ]

src_ga_overall_df = chk_src_df.copy()
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['TM_KEY_MTH'].between(avg_range_start, avg_range_end)]
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['METRIC_CD'].isin(ga_metric_list)]
src_ga_overall_df = src_ga_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'mean', 'P':'mean', 'G':'mean', 'H':'mean', 'HH':'mean', 'CCAA':'mean', 'CCAATT':'mean', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_ga_overall_df = src_ga_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_ga_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_ga_overall_df[col] = src_ga_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_ga_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,2025-03-10 08:17:09,20240101,20250228,0,"62,952","61,001","61,001","61,001","61,001","61,001",7,6204,657186
1,POSTPAID,DB2S020100CS,Postpaid Gross Adds B2B : DTAC,2025-03-10 08:17:09,20240101,20250228,0,"9,947","5,395","5,395","5,395","5,395","5,395",7,1528,74902
2,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,2025-03-10 08:17:09,20240101,20250228,0,"152,413","102,608","102,608","102,608","102,608","102,608",7,2211,409848
3,POSTPAID,TB2S020100CS,Postpaid Gross Adds B2B : TMH,2025-03-10 08:17:09,20240101,20250228,0,"24,861","8,465","8,465","8,465","8,465","8,465",7,781,59643
4,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,2025-03-10 08:15:05,20240101,20250228,0,"1,370,010","1,323,328","1,323,328","1,305,524","1,323,558","1,315,466",7,7441,1577217
5,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,2025-03-10 08:15:05,20240101,20250228,0,"1,149,759","954,285","954,285","932,410","954,285","954,219",7,5817,1671756
6,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,2025-03-10 08:00:12,20240102,20250228,0,"46,684","33,160","33,160","34,447","34,774","34,759",7,1214,307780
7,TOL,TB3S000103CS,TOL Gross Adds Connected : DataService,2025-03-10 08:00:12,20240102,20250228,0,"1,551",38,38,39,39,39,7,99,1987
8,TOL,TB3S000104CS,TOL Gross Adds Registration : Consumer,2025-03-10 08:00:12,20240101,20250228,0,"64,044","45,113","45,113","46,889","47,313","47,288",7,1243,324601
9,TOL,TB3S000105CS,TOL Gross Adds Registration : DataService,2025-03-10 08:00:12,20240101,20250228,0,"3,493","1,108","1,108","1,100","1,119","1,119",7,620,25550
10,TVS,TB4S001004CS,TVS CMDU Gross Adds,2025-03-10 08:20:14,20240101,20250228,0,148,130,130,130,130,130,7,137,6041
11,TVS,TB4S001400CS,TVS Now Gross Adds,2025-03-10 08:20:14,20240701,20250228,0,"1,124","1,124","1,124","1,124","1,124","1,124",7,657,23497

In [5]:
''' Current Month Inflow '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
inflow_metric_list = [
    'DB2R010500CS' #Postpaid Inflow M1 B2C : DTAC
    , 'DB2R020500CS' #Postpaid Inflow M1 B2B : DTAC
    , 'TB2R010500CS' #Postpaid Inflow M1 B2C : TMH
    , 'TB2R020500CS' #Postpaid Inflow M1 B2B : TMH
    , 'DB1R000900CS' #Prepaid Inflow M1 : DTAC
    , 'TB1R000900CS' #Prepaid Inflow M1 : TMH
    , 'TB3R000601CS' #TOL Inflow M1 Connected : Consumer
    , 'TB3R000602CS' #TOL Inflow M1 Connected : DataService
    , 'TB4R001004CS' #TVS CMDU Inflow M1
    , 'TB4R001700CS' #TVS Now Inflow M1
    , 'DB1R001000CS' #Prepaid Inflow M2 : DTAC
    , 'TB1R001000CS' #Prepaid Inflow M2 : TMH
    ]

src_inflow_overall_df = chk_src_df.copy()
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['TM_KEY_MTH']==curr_mth]
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['METRIC_CD'].isin(inflow_metric_list)]
src_inflow_overall_df = src_inflow_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_inflow_overall_df = src_inflow_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_inflow_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_inflow_overall_df[col] = src_inflow_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_inflow_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2R010500CS,Postpaid Inflow M1 B2C : DTAC,2025-03-10 08:17:09,20250301,20250305,0,"2,893,645","2,859,027","2,859,027","2,859,027","2,859,027","2,859,027",7,2713,5907
1,POSTPAID,DB2R020500CS,Postpaid Inflow M1 B2B : DTAC,2025-03-10 08:17:09,20250301,20250305,0,"1,696,454","179,372","179,372","179,372","179,372","179,372",7,404,677
2,POSTPAID,TB2R010500CS,Postpaid Inflow M1 B2C : TMH,2025-03-10 08:17:09,20250301,20250309,0,"24,141,648","19,613,867","19,613,867","19,613,867","19,613,867","19,613,867",7,1238,8466
3,POSTPAID,TB2R020500CS,Postpaid Inflow M1 B2B : TMH,2025-03-10 08:17:09,20250301,20250309,0,"1,474,777","688,526","688,526","688,526","688,526","688,526",7,502,1445
4,PREPAID,DB1R000900CS,Prepaid Inflow M1 : DTAC,2025-03-10 08:15:05,20250301,20250308,0,"118,998,484","115,388,205","115,388,205","112,773,115","115,414,275","114,791,025",7,5812,66187
5,PREPAID,DB1R001000CS,Prepaid Inflow M2 : DTAC,2025-03-10 08:15:05,20250301,20250308,0,"17,584,161","17,386,442","17,386,442","17,144,125","17,393,941","18,206,118",7,6510,51063
6,PREPAID,TB1R000900CS,Prepaid Inflow M1 : TMH,2025-03-10 08:15:05,20250301,20250307,0,"89,731,267","67,671,474","67,671,474","65,370,948","67,671,474","67,666,427",7,5251,55938
7,PREPAID,TB1R001000CS,Prepaid Inflow M2 : TMH,2025-03-10 08:15:05,20250301,20250307,0,"14,017,139","13,723,861","13,723,861","13,443,673","13,723,861","14,672,131",7,5485,36438
8,TOL,TB3R000601CS,TOL Inflow M1 Connected : Consumer,2025-03-10 08:00:12,20250301,20250309,0,"8,312,175","6,605,008","6,605,008","6,544,521","6,605,008","6,605,008",7,1065,6859
9,TOL,TB3R000602CS,TOL Inflow M1 Connected : DataService,2025-03-10 08:00:12,20250301,20250309,0,"442,232","110,663","110,663","110,663","110,663","110,663",7,49,63
10,TVS,TB4R001004CS,TVS CMDU Inflow M1,2025-03-10 08:20:14,20250301,20250307,0,"194,151","194,151","194,151","194,151","194,151","194,151",7,37,86
11,TVS,TB4R001700CS,TVS Now Inflow M1,2025-03-10 08:20:14,20250301,20250308,0,"165,660","165,660","165,660","165,660","165,660","165,660",7,463,1379

In [6]:
''' Average Inflow per Month '''

avg_range_start = '202401'
avg_range_end = '202502'
inflow_metric_list = [
    'DB2R010500CS' #Postpaid Inflow M1 B2C : DTAC
    , 'DB2R020500CS' #Postpaid Inflow M1 B2B : DTAC
    , 'TB2R010500CS' #Postpaid Inflow M1 B2C : TMH
    , 'TB2R020500CS' #Postpaid Inflow M1 B2B : TMH
    , 'DB1R000900CS' #Prepaid Inflow M1 : DTAC
    , 'TB1R000900CS' #Prepaid Inflow M1 : TMH
    , 'TB3R000601CS' #TOL Inflow M1 Connected : Consumer
    , 'TB3R000602CS' #TOL Inflow M1 Connected : DataService
    , 'TB4R001004CS' #TVS CMDU Inflow M1
    , 'TB4R001700CS' #TVS Now Inflow M1
    , 'DB1R001000CS' #Prepaid Inflow M2 : DTAC
    , 'TB1R001000CS' #Prepaid Inflow M2 : TMH
    ]

src_inflow_overall_df = chk_src_df.copy()
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['TM_KEY_MTH'].between(avg_range_start, avg_range_end)]
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['METRIC_CD'].isin(inflow_metric_list)]
src_inflow_overall_df = src_inflow_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_inflow_overall_df = src_inflow_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_inflow_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_inflow_overall_df[col] = src_inflow_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_inflow_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2R010500CS,Postpaid Inflow M1 B2C : DTAC,2025-03-10 08:17:09,20240101,20250228,0,"381,577,081","372,746,838","372,746,838","372,746,838","372,746,838","372,746,838",7,6204,657186
1,POSTPAID,DB2R020500CS,Postpaid Inflow M1 B2B : DTAC,2025-03-10 08:17:09,20240101,20250228,0,"137,554,957","25,803,178","25,803,178","25,803,178","25,803,178","25,803,178",7,1528,74902
2,POSTPAID,TB2R010500CS,Postpaid Inflow M1 B2C : TMH,2025-03-10 08:17:09,20240101,20250228,0,"892,798,861","686,190,728","686,190,728","686,190,728","686,190,728","686,190,728",7,2211,409848
3,POSTPAID,TB2R020500CS,Postpaid Inflow M1 B2B : TMH,2025-03-10 08:17:09,20240101,20250228,0,"78,786,203","33,347,478","33,347,478","33,347,478","33,347,478","33,347,478",7,781,59643
4,PREPAID,DB1R000900CS,Prepaid Inflow M1 : DTAC,2025-03-10 08:15:05,20240101,20250228,0,"6,939,902,188","6,836,270,006","6,836,270,006","6,728,848,936","6,837,285,005","6,791,650,374",7,7418,4696115
5,PREPAID,DB1R001000CS,Prepaid Inflow M2 : DTAC,2025-03-10 08:15:05,20240201,20250228,0,"1,018,625,947","1,005,306,086","1,005,306,086","993,879,464","1,005,497,791","997,103,264",7,7294,2567310
6,PREPAID,TB1R000900CS,Prepaid Inflow M1 : TMH,2025-03-10 08:15:05,20240101,20250228,0,"5,445,233,833","4,752,350,947","4,752,350,947","4,615,891,845","4,752,350,947","4,752,039,412",7,5793,3905369
7,PREPAID,TB1R001000CS,Prepaid Inflow M2 : TMH,2025-03-10 08:15:05,20240101,20250228,0,"997,560,166","988,072,190","988,072,190","970,164,151","988,072,190","991,069,075",7,5739,2122451
8,TOL,TB3R000601CS,TOL Inflow M1 Connected : Consumer,2025-03-10 08:00:12,20240102,20250228,0,"361,093,361","261,389,494","261,389,494","271,677,263","274,506,152","274,383,527",7,1214,307780
9,TOL,TB3R000602CS,TOL Inflow M1 Connected : DataService,2025-03-10 08:00:12,20240102,20250228,0,"26,720,588","1,715,991","1,715,991","1,752,377","1,755,476","1,755,476",7,99,1987
10,TVS,TB4R001004CS,TVS CMDU Inflow M1,2025-03-10 08:20:14,20240101,20250228,0,"13,495,660","11,373,891","11,373,891","11,373,891","11,373,891","11,373,891",7,137,6041
11,TVS,TB4R001700CS,TVS Now Inflow M1,2025-03-10 08:20:14,20240701,20250228,0,"4,317,929","4,305,053","4,305,053","4,305,053","4,305,053","4,305,053",7,657,23497

In [7]:
''' METRIC Summary '''

src_t_sales_mth_df = chk_src_df.copy()
src_t_sales_mth_df = src_t_sales_mth_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'P':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_t_sales_mth_df = src_t_sales_mth_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_t_sales_mth_df.iloc[:, 6:7].columns.tolist()
for col in mod_col_list:
    src_t_sales_mth_df[col] = src_t_sales_mth_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\n{src_t_sales_mth_df.to_string(max_cols=10)}')

     PRODUCT       METRIC_CD                                                              METRIC_NAME           LOAD_DATE  START_DAY   END_DAY              P  CNT_AREA_TYPE  CNT_AREA_CD  ROW_CNT
0   POSTPAID    DB2R010500CG                              Postpaid Inflow M1 B2C : DTAC - GEO Channel 2025-03-10 08:17:09   20240101  20250305    149,486,001              7          798   210019
1   POSTPAID    DB2R010500CS                                            Postpaid Inflow M1 B2C : DTAC 2025-03-10 08:17:09   20240101  20250305    384,470,726              7         6204   663093
2   POSTPAID    DB2R020500CG                              Postpaid Inflow M1 B2B : DTAC - GEO Channel 2025-03-10 08:17:09   20240101  20250305      6,046,478              7          311    23020
3   POSTPAID    DB2R020500CS                                            Postpaid Inflow M1 B2B : DTAC 2025-03-10 08:17:09   20240101  20250305    139,251,411              7         1528    75579
4   POSTPAID    DB2S010100CG                             Postpaid Gross Adds B2C : DTAC - GEO Channel 2025-03-10 08:17:09   20240101  20250305        247,872              7          798   210019
5   POSTPAID    DB2S010100CS                                           Postpaid Gross Adds B2C : DTAC 2025-03-10 08:17:09   20240101  20250305        887,797              7         6204   663093
6   POSTPAID    DB2S020100CG                             Postpaid Gross Adds B2B : DTAC - GEO Channel 2025-03-10 08:17:09   20240101  20250305         11,566              7          311    23020
7   POSTPAID    DB2S020100CS                                           Postpaid Gross Adds B2B : DTAC 2025-03-10 08:17:09   20240101  20250305        141,685              7         1528    75579
8   POSTPAID    TB2R010500CG                               Postpaid Inflow M1 B2C : TMH - GEO Channel 2025-03-10 08:17:09   20240101  20250309    474,803,342              7         1203   368247
9   POSTPAID    TB2R010500CS                                             Postpaid Inflow M1 B2C : TMH 2025-03-10 08:17:09   20240101  20250309    916,940,509              7         2211   418314
10  POSTPAID    TB2R020500CG                               Postpaid Inflow M1 B2B : TMH - GEO Channel 2025-03-10 08:17:09   20240101  20250309     33,842,573              7          776    60801
11  POSTPAID    TB2R020500CS                                             Postpaid Inflow M1 B2B : TMH 2025-03-10 08:17:09   20240101  20250309     80,260,980              7          781    61088
12  POSTPAID    TB2S010100CG                              Postpaid Gross Adds B2C : TMH - GEO Channel 2025-03-10 08:17:09   20240101  20250309      1,037,835              7         1203   368247
13  POSTPAID    TB2S010100CS                                            Postpaid Gross Adds B2C : TMH 2025-03-10 08:17:09   20240101  20250309      2,183,915              7         2211   418314
14  POSTPAID    TB2S020100CG                              Postpaid Gross Adds B2B : TMH - GEO Channel 2025-03-10 08:17:09   20240101  20250309        109,936              7          776    60801
15  POSTPAID    TB2S020100CS                                            Postpaid Gross Adds B2B : TMH 2025-03-10 08:17:09   20240101  20250309        355,326              7          781    61088
16   PREPAID    DB1R000106CS                                        Prepaid Amt of AP In Month : DTAC 2025-03-10 08:15:05   20240101  20250308  6,678,657,294              7         7441  3272194
17   PREPAID    DB1R000109CS                                              Prepaid Amt of AP 1D : DTAC 2025-03-10 08:15:05   20240101  20250308  5,958,288,476              7         7441  3273296
18   PREPAID    DB1R000900CS                                                 Prepaid Inflow M1 : DTAC 2025-03-10 08:15:05   20240101  20250308  7,058,900,672              7         7418  4762302
19   PREPAID    DB1R001000CG                                   Prepaid Inflow M2 : DTAC - GEO Channel 2025-03-10 08:15:05   20240201  20250308  1,008,196,662              7         7202  2586593
20   PREPAID    DB1R001000CS                                                 Prepaid Inflow M2 : DTAC 2025-03-10 08:15:05   20240201  20250308  1,036,210,108              7         7294  2618373
21   PREPAID    DB1S000101CS                                                Prepaid Gross Adds : DTAC 2025-03-10 08:15:05   20240101  20250308     19,470,738              7         7441  1605412
22   PREPAID    DB1S000106CS                                         Prepaid No of AP In Month : DTAC 2025-03-10 08:15:05   20240101  20250308     31,412,124              7         7441  3271990
23   PREPAID    DB1S000109CS                                               Prepaid No of AP 1D : DTAC 2025-03-10 08:15:05   20240101  20250308     29,189,341              7         7441  3272515
24   PREPAID    TB1R000106CS                                         Prepaid Amt of AP In Month : TMH 2025-03-10 08:15:05   20240101  20250309  5,704,617,303              7         5817  3493263
25   PREPAID    TB1R000109CS                                               Prepaid Amt of AP 1D : TMH 2025-03-10 08:15:05   20240101  20250309  5,204,982,631              7         5817  3493700
26   PREPAID    TB1R000900CS                                                  Prepaid Inflow M1 : TMH 2025-03-10 08:15:05   20240101  20250307  5,534,965,100              7         5793  3961307
27   PREPAID    TB1R001000CG                                    Prepaid Inflow M2 : TMH - GEO Channel 2025-03-10 08:15:05   20240101  20250307  1,010,333,571              7         5739  2176742
28   PREPAID    TB1R001000CS                                                  Prepaid Inflow M2 : TMH 2025-03-10 08:15:05   20240101  20250307  1,011,577,305              7         5739  2158889
29   PREPAID    TB1S000101CS                                                 Prepaid Gross Adds : TMH 2025-03-10 08:15:05   20240101  20250309     16,359,601              7         5817  1702388
30   PREPAID    TB1S000106CS                                          Prepaid No of AP In Month : TMH 2025-03-10 08:15:05   20240101  20250309     26,055,721              7         5817  3493889
31   PREPAID    TB1S000109CS                                                Prepaid No of AP 1D : TMH 2025-03-10 08:15:05   20240101  20250309     24,853,434              7         5817  3493232
32       TOL    TB3R000601CG                         TOL Inflow M1 Connected : Consumer - GEO Channel 2025-03-10 08:00:12   20240102  20250309    266,708,902              7         1209   308493
33       TOL    TB3R000601CS                                       TOL Inflow M1 Connected : Consumer 2025-03-10 08:00:12   20240102  20250309    369,405,536              7         1214   314639
34       TOL  TB3R000601D1CG      TOL Inflow M1 Connected : Consumer - GEO Channel (Install Location) 2025-03-10 08:00:12   20240102  20250309    266,708,902              7         6516   545292
35       TOL  TB3R000601D1CS                    TOL Inflow M1 Connected : Consumer (Install Location) 2025-03-10 08:00:12   20240102  20250309    369,405,536              7         6959   667671
36       TOL    TB3R000602CG                      TOL Inflow M1 Connected : DataService - GEO Channel 2025-03-10 08:00:12   20240105  20250308      1,574,448              7           96     1788
37       TOL    TB3R000602CS                                    TOL Inflow M1 Connected : DataService 2025-03-10 08:00:12   20240102  20250309     27,162,820              7           99     2050
38       TOL  TB3R000602D1CG   TOL Inflow M1 Connected : DataService - GEO Channel (Install Location) 2025-03-10 08:00:12   20240105  20250308      1,574,448              7           96     1788
39       TOL  TB3R000602D1CS                 TOL Inflow M1 Connected : DataService (Install Location) 2025-03-10 08:00:12   20240102  20250309     27,162,820              7          101     2076
40       TOL    TB3S000102CG                        TOL Gross Adds Connected : Consumer - GEO Channel 2025-03-10 08:00:12   20240102  20250309        474,012              7         1209   308493
41       TOL    TB3S000102CS                                      TOL Gross Adds Connected : Consumer 2025-03-10 08:00:12   20240102  20250309        669,184              7         1214   314639
42       TOL  TB3S000102D1CG     TOL Gross Adds Connected : Consumer - GEO Channel (Install Location) 2025-03-10 08:00:12   20240102  20250309        474,012              7         6516   545292
43       TOL  TB3S000102D1CS                   TOL Gross Adds Connected : Consumer (Install Location) 2025-03-10 08:00:12   20240102  20250309        669,184              7         6959   667671
44       TOL    TB3S000103CG                     TOL Gross Adds Connected : DataService - GEO Channel 2025-03-10 08:00:12   20240105  20250308            481              7           96     1788
45       TOL    TB3S000103CS                                   TOL Gross Adds Connected : DataService 2025-03-10 08:00:12   20240102  20250309         22,042              7           99     2050
46       TOL  TB3S000103D1CG  TOL Gross Adds Connected : DataService - GEO Channel (Install Location) 2025-03-10 08:00:12   20240105  20250308            481              7           96     1788
47       TOL  TB3S000103D1CS                TOL Gross Adds Connected : DataService (Install Location) 2025-03-10 08:00:12   20240102  20250309         22,042              7          101     2076
48       TOL    TB3S000104CG                     TOL Gross Adds Registration : Consumer - GEO Channel 2025-03-10 08:00:12   20240101  20250309        643,998              7         1236   325733
49       TOL    TB3S000104CS                                   TOL Gross Adds Registration : Consumer 2025-03-10 08:00:12   20240101  20250309        918,591              7         1243   331691
50       TOL    TB3S000105CG                  TOL Gross Adds Registration : DataService - GEO Channel 2025-03-10 08:00:12   20240101  20250307         15,017              7          620    25361
51       TOL    TB3S000105CS                                TOL Gross Adds Registration : DataService 2025-03-10 08:00:12   20240101  20250308         49,207              7          620    25592
52       TVS    TB4R001004CG                                         TVS CMDU Inflow M1 - GEO Channel 2025-03-10 08:20:14   20240101  20250307      4,793,633              7          122     3262
53       TVS    TB4R001004CS                                                       TVS CMDU Inflow M1 2025-03-10 08:20:14   20240101  20250307     13,689,811              7          137     6127
54       TVS    TB4R001700CG                                          TVS Now Inflow M1 - GEO Channel 2025-03-10 08:20:14   20240701  20250308      4,464,590              7          653    24818
55       TVS    TB4R001700CS                                                        TVS Now Inflow M1 2025-03-10 08:20:14   20240701  20250308      4,483,590              7          657    24876
56       TVS    TB4S001004CG                                        TVS CMDU Gross Adds - GEO Channel 2025-03-10 08:20:14   20240101  20250307            847              7          122     3262
57       TVS    TB4S001004CS                                                      TVS CMDU Gross Adds 2025-03-10 08:20:14   20240101  20250307          2,090              7          137     6127
58       TVS    TB4S001400CG                                         TVS Now Gross Adds - GEO Channel 2025-03-10 08:20:14   20240701  20250308          9,665              7          653    24818
59       TVS    TB4S001400CS                                                       TVS Now Gross Adds 2025-03-10 08:20:14   20240701  20250308          9,693              7          657    24876

In [8]:
''' METRIC by Month '''

v_tm_key_mth = '202502'
src_t_sales_mth_df_cols = ['PRODUCT', 'METRIC_CD', 'METRIC_NAME', 'LOAD_DATE', 'TM_KEY_MTH', 'START_DAY', 'END_DAY', 'C', 'P', 'G', 'H', 'HH', 'CCAA', 'CCAATT']
print(f'\nParameter input...\n')
print(f'   -> v_tm_key_mth: {v_tm_key_mth}')

src_t_sales_mth_df = chk_src_df[src_t_sales_mth_df_cols].copy()
src_t_sales_mth_df = src_t_sales_mth_df.loc[src_t_sales_mth_df['TM_KEY_MTH']==v_tm_key_mth]
src_t_sales_mth_df = src_t_sales_mth_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_MTH']).reset_index(drop=True)

mod_col_list = src_t_sales_mth_df.iloc[:, 7:14].columns.tolist()
for col in mod_col_list:
    src_t_sales_mth_df[col] = src_t_sales_mth_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\n{src_t_sales_mth_df.to_string(max_cols=17)}')

Parameter input...

   -> v_tm_key_mth: 202502

     PRODUCT       METRIC_CD                                                              METRIC_NAME           LOAD_DATE TM_KEY_MTH  START_DAY   END_DAY  C            P            G            H           HH         CCAA       CCAATT
0   POSTPAID    DB2R010500CG                              Postpaid Inflow M1 B2C : DTAC - GEO Channel 2025-03-10 08:17:09     202502   20250201  20250228  0    7,014,205    6,890,568    6,890,568    6,890,568    6,890,568    6,890,568
1   POSTPAID    DB2R010500CS                                            Postpaid Inflow M1 B2C : DTAC 2025-03-10 08:17:09     202502   20250201  20250228  0   17,947,144   17,689,294   17,689,294   17,689,294   17,689,294   17,689,294
2   POSTPAID    DB2R020500CG                              Postpaid Inflow M1 B2B : DTAC - GEO Channel 2025-03-10 08:17:09     202502   20250201  20250228  0      382,012      360,044      360,044      360,044      360,044      360,044
3   POSTPAID    DB2R020500CS                                            Postpaid Inflow M1 B2B : DTAC 2025-03-10 08:17:09     202502   20250201  20250228  0   19,426,521    1,769,027    1,769,027    1,769,027    1,769,027    1,769,027
4   POSTPAID    DB2S010100CG                             Postpaid Gross Adds B2C : DTAC - GEO Channel 2025-03-10 08:17:09     202502   20250201  20250228  0       12,531       12,396       12,396       12,396       12,396       12,396
5   POSTPAID    DB2S010100CS                                           Postpaid Gross Adds B2C : DTAC 2025-03-10 08:17:09     202502   20250201  20250228  0       43,117       42,716       42,716       42,716       42,716       42,716
6   POSTPAID    DB2S020100CG                             Postpaid Gross Adds B2B : DTAC - GEO Channel 2025-03-10 08:17:09     202502   20250201  20250228  0          676          636          636          636          636          636
7   POSTPAID    DB2S020100CS                                           Postpaid Gross Adds B2B : DTAC 2025-03-10 08:17:09     202502   20250201  20250228  0        6,557        3,930        3,930        3,930        3,930        3,930
8   POSTPAID    TB2R010500CG                               Postpaid Inflow M1 B2C : TMH - GEO Channel 2025-03-10 08:17:09     202502   20250201  20250228  0   32,971,912   32,971,846   32,971,846   32,971,846   32,971,846   32,971,846
9   POSTPAID    TB2R010500CS                                             Postpaid Inflow M1 B2C : TMH 2025-03-10 08:17:09     202502   20250201  20250228  0   63,185,463   49,377,658   49,377,658   49,377,658   49,377,658   49,377,658
10  POSTPAID    TB2R020500CG                               Postpaid Inflow M1 B2B : TMH - GEO Channel 2025-03-10 08:17:09     202502   20250201  20250228  0    2,468,889    2,468,889    2,468,889    2,468,889    2,468,889    2,468,889
11  POSTPAID    TB2R020500CS                                             Postpaid Inflow M1 B2B : TMH 2025-03-10 08:17:09     202502   20250201  20250228  0    4,637,783    2,472,632    2,472,632    2,472,632    2,472,632    2,472,632
12  POSTPAID    TB2S010100CG                              Postpaid Gross Adds B2C : TMH - GEO Channel 2025-03-10 08:17:09     202502   20250201  20250228  0       71,425       71,424       71,424       71,424       71,424       71,424
13  POSTPAID    TB2S010100CS                                            Postpaid Gross Adds B2C : TMH 2025-03-10 08:17:09     202502   20250201  20250228  0      140,856       99,409       99,409       99,409       99,409       99,409
14  POSTPAID    TB2S020100CG                              Postpaid Gross Adds B2B : TMH - GEO Channel 2025-03-10 08:17:09     202502   20250201  20250228  0        3,860        3,860        3,860        3,860        3,860        3,860
15  POSTPAID    TB2S020100CS                                            Postpaid Gross Adds B2B : TMH 2025-03-10 08:17:09     202502   20250201  20250228  0       12,500        3,868        3,868        3,868        3,868        3,868
16   PREPAID    DB1R000106CS                                        Prepaid Amt of AP In Month : DTAC 2025-03-10 08:15:05     202502   20250201  20250228  0  483,627,381  477,067,650  477,067,650  468,220,467  477,158,800  674,246,560
17   PREPAID    DB1R000109CS                                              Prepaid Amt of AP 1D : DTAC 2025-03-10 08:15:05     202502   20250201  20250228  0  445,156,862  439,145,200  439,145,200  430,906,829  439,227,344  616,578,428
18   PREPAID    DB1R000900CS                                                 Prepaid Inflow M1 : DTAC 2025-03-10 08:15:05     202502   20250201  20250228  0  495,239,172  488,704,595  488,704,595  479,911,148  488,789,825  486,306,941
19   PREPAID    DB1R001000CG                                   Prepaid Inflow M2 : DTAC - GEO Channel 2025-03-10 08:15:05     202502   20250201  20250228  0   63,616,749   63,192,565   63,192,565   62,222,793   63,198,033   74,142,868
20   PREPAID    DB1R001000CS                                                 Prepaid Inflow M2 : DTAC 2025-03-10 08:15:05     202502   20250201  20250228  0   64,204,412   63,752,614   63,752,614   62,773,844   63,762,223   66,286,646
21   PREPAID    DB1S000101CS                                                Prepaid Gross Adds : DTAC 2025-03-10 08:15:05     202502   20250201  20250228  0    1,162,706    1,134,553    1,134,553    1,116,440    1,134,834    1,129,105
22   PREPAID    DB1S000106CS                                         Prepaid No of AP In Month : DTAC 2025-03-10 08:15:05     202502   20250201  20250228  0    2,091,683    2,036,838    2,036,838    2,002,071    2,037,234    2,862,826
23   PREPAID    DB1S000109CS                                               Prepaid No of AP 1D : DTAC 2025-03-10 08:15:05     202502   20250201  20250228  0    1,983,106    1,928,303    1,928,303    1,894,904    1,928,699    2,770,185
24   PREPAID    TB1R000106CS                                         Prepaid Amt of AP In Month : TMH 2025-03-10 08:15:05     202502   20250201  20250228  0  394,866,541  319,551,131  319,551,131  307,950,998  319,551,131  458,380,506
25   PREPAID    TB1R000109CS                                               Prepaid Amt of AP 1D : TMH 2025-03-10 08:15:05     202502   20250201  20250228  0  366,884,366  292,254,011  292,254,011  281,328,679  292,254,011  418,274,495
26   PREPAID    TB1R000900CS                                                  Prepaid Inflow M1 : TMH 2025-03-10 08:15:05     202502   20250201  20250228  0  382,933,456  311,757,676  311,757,676  300,562,245  311,757,676  311,741,631
27   PREPAID    TB1R001000CG                                    Prepaid Inflow M2 : TMH - GEO Channel 2025-03-10 08:15:05     202502   20250201  20250228  0   64,568,916   63,446,569   63,446,569   61,942,699   63,446,569   74,955,478
28   PREPAID    TB1R001000CS                                                  Prepaid Inflow M2 : TMH 2025-03-10 08:15:05     202502   20250201  20250228  0   64,662,301   63,449,386   63,449,386   61,945,515   63,449,386   66,548,686
29   PREPAID    TB1S000101CS                                                 Prepaid Gross Adds : TMH 2025-03-10 08:15:05     202502   20250201  20250228  0      999,208      746,571      746,571      721,814      746,571      746,528
30   PREPAID    TB1S000106CS                                          Prepaid No of AP In Month : TMH 2025-03-10 08:15:05     202502   20250201  20250228  0    1,677,165    1,290,386    1,290,386    1,242,640    1,290,386    1,848,236
31   PREPAID    TB1S000109CS                                                Prepaid No of AP 1D : TMH 2025-03-10 08:15:05     202502   20250201  20250228  0    1,615,089    1,229,861    1,229,861    1,182,985    1,229,861    1,753,268
32       TOL    TB3R000601CG                         TOL Inflow M1 Connected : Consumer - GEO Channel 2025-03-10 08:00:12     202502   20250201  20250228  0   19,916,981   19,916,981   19,916,981   19,727,802   19,916,981   19,909,866
33       TOL    TB3R000601CS                                       TOL Inflow M1 Connected : Consumer 2025-03-10 08:00:12     202502   20250201  20250228  0   25,141,243   20,060,937   20,060,937   19,871,758   20,060,937   20,053,822
34       TOL  TB3R000601D1CG      TOL Inflow M1 Connected : Consumer - GEO Channel (Install Location) 2025-03-10 08:00:12     202502   20250201  20250228  0   19,916,981   19,916,981   19,916,981   19,916,231   19,916,981   19,916,981
35       TOL  TB3R000601D1CS                    TOL Inflow M1 Connected : Consumer (Install Location) 2025-03-10 08:00:12     202502   20250201  20250228  0   25,141,243   25,136,715   25,136,715   25,135,965   25,136,715   25,136,715
36       TOL    TB3R000602CG                      TOL Inflow M1 Connected : DataService - GEO Channel 2025-03-10 08:00:12     202502   20250204  20250228  0       92,369       92,369       92,369       92,369       92,369       92,369
37       TOL    TB3R000602CS                                    TOL Inflow M1 Connected : DataService 2025-03-10 08:00:12     202502   20250201  20250228  0    1,269,831       97,057       97,057       97,057       97,057       97,057
38       TOL  TB3R000602D1CG   TOL Inflow M1 Connected : DataService - GEO Channel (Install Location) 2025-03-10 08:00:12     202502   20250204  20250228  0       92,369       92,369       92,369       92,369       92,369       92,369
39       TOL  TB3R000602D1CS                 TOL Inflow M1 Connected : DataService (Install Location) 2025-03-10 08:00:12     202502   20250201  20250228  0    1,269,831       97,057       97,057       97,057       97,057       97,057
40       TOL    TB3S000102CG                        TOL Gross Adds Connected : Consumer - GEO Channel 2025-03-10 08:00:12     202502   20250201  20250228  0       35,786       35,786       35,786       35,462       35,786       35,776
41       TOL    TB3S000102CS                                      TOL Gross Adds Connected : Consumer 2025-03-10 08:00:12     202502   20250201  20250228  0       46,131       36,079       36,079       35,755       36,079       36,069
42       TOL  TB3S000102D1CG     TOL Gross Adds Connected : Consumer - GEO Channel (Install Location) 2025-03-10 08:00:12     202502   20250201  20250228  0       35,786       35,786       35,786       35,785       35,786       35,786
43       TOL  TB3S000102D1CS                   TOL Gross Adds Connected : Consumer (Install Location) 2025-03-10 08:00:12     202502   20250201  20250228  0       46,131       46,123       46,123       46,122       46,123       46,123
44       TOL    TB3S000103CG                     TOL Gross Adds Connected : DataService - GEO Channel 2025-03-10 08:00:12     202502   20250204  20250228  0           30           30           30           30           30           30
45       TOL    TB3S000103CS                                   TOL Gross Adds Connected : DataService 2025-03-10 08:00:12     202502   20250201  20250228  0        1,197           33           33           33           33           33
46       TOL  TB3S000103D1CG  TOL Gross Adds Connected : DataService - GEO Channel (Install Location) 2025-03-10 08:00:12     202502   20250204  20250228  0           30           30           30           30           30           30
47       TOL  TB3S000103D1CS                TOL Gross Adds Connected : DataService (Install Location) 2025-03-10 08:00:12     202502   20250201  20250228  0        1,197           33           33           33           33           33
48       TOL    TB3S000104CG                     TOL Gross Adds Registration : Consumer - GEO Channel 2025-03-10 08:00:12     202502   20250201  20250228  0       48,151       48,147       48,147       47,726       48,147       48,132
49       TOL    TB3S000104CS                                   TOL Gross Adds Registration : Consumer 2025-03-10 08:00:12     202502   20250201  20250228  0       62,992       48,641       48,641       48,220       48,641       48,626
50       TOL    TB3S000105CG                  TOL Gross Adds Registration : DataService - GEO Channel 2025-03-10 08:00:12     202502   20250203  20250228  0           50           50           50           50           50           50
51       TOL    TB3S000105CS                                TOL Gross Adds Registration : DataService 2025-03-10 08:00:12     202502   20250202  20250228  0        1,475           53           53           53           53           53
52       TVS    TB4R001004CG                                         TVS CMDU Inflow M1 - GEO Channel 2025-03-10 08:20:14     202502   20250201  20250228  0      361,861      356,254      356,254      356,254      356,254      356,254
53       TVS    TB4R001004CS                                                       TVS CMDU Inflow M1 2025-03-10 08:20:14     202502   20250201  20250228  0      917,468      911,860      911,860      911,860      911,860      911,860
54       TVS    TB4R001700CG                                          TVS Now Inflow M1 - GEO Channel 2025-03-10 08:20:14     202502   20250201  20250228  0      264,749      264,749      264,749      264,749      264,749      264,749
55       TVS    TB4R001700CS                                                        TVS Now Inflow M1 2025-03-10 08:20:14     202502   20250201  20250228  0      267,183      265,169      265,169      265,169      265,169      265,169
56       TVS    TB4S001004CG                                        TVS CMDU Gross Adds - GEO Channel 2025-03-10 08:20:14     202502   20250201  20250228  0           68           67           67           67           67           67
57       TVS    TB4S001004CS                                                      TVS CMDU Gross Adds 2025-03-10 08:20:14     202502   20250201  20250228  0          127          126          126          126          126          126
58       TVS    TB4S001400CG                                         TVS Now Gross Adds - GEO Channel 2025-03-10 08:20:14     202502   20250201  20250228  0          543          543          543          543          543          543
59       TVS    TB4S001400CS                                                       TVS Now Gross Adds 2025-03-10 08:20:14     202502   20250201  20250228  0          545          544          544          544          544          544

## Actual : Transaction
->  DIM_CORP_KPI

In [9]:
''' Execute Daily by case '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20250101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        PRODUCT, METRIC_CD, METRIC_NAME, TM_KEY_DAY
        , MAX(LOAD_DATE) LOAD_DATE
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN METRIC_VALUE END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN METRIC_VALUE END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN METRIC_VALUE END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN METRIC_VALUE END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN METRIC_VALUE END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN METRIC_VALUE END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN METRIC_VALUE END) CCAATT
    FROM CDSAPPO.DIM_CORP_KPI
    --WHERE REGEXP_LIKE(METRIC_CD, 'CS$|CG$') -->> 2025 KPIs
    WHERE METRIC_CD = 'TB3S000102CS' --TOL Gross Adds Connected : Consumer
    AND EXISTS (
        SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
        FROM (
            SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
        ) TMP
        WHERE TMP_CD = AREA_CD )
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY PRODUCT, METRIC_CD, METRIC_NAME, TM_KEY_DAY
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Summary DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Daily DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20250101

TDMDBPR : Connected

   -> Execute query... 2025-03-10, 10:06:18

   -> Daily DataFrame : 68 rows, 12 columns

TDMDBPR : Disconnected

In [10]:
''' METRIC by Day '''

v_tm_key_day = 20250101
print(f'\nParameter input...\n')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

src_sale_day_df = chk_src_df.copy()
src_sale_day_df = src_sale_day_df.loc[src_sale_day_df['TM_KEY_DAY']>=v_tm_key_day]
src_sale_day_df = src_sale_day_df.fillna(0).sort_values(by=['METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = src_sale_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    src_sale_day_df[col] = src_sale_day_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\nCreate : src_sale_day_df...')
print(f'\n   -> DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')
# print(f'\n{src_sale_day_df.to_string(max_cols=12)}')

Parameter input...

   -> v_tm_key_day: 20250101

Create : src_sale_day_df...

   -> DataFrame : 68 rows, 12 columns

In [11]:
''' TB3S000102CS : TOL Gross Adds Connected : Consumer '''

v_metric_cd = 'TB3S000102CS'
v_tm_key_day = 20250301
print(f'\nTB3S000102CS : TOL Gross Adds Connected : Consumer...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB3S000102CS_day_df = chk_src_df.copy()
TB3S000102CS_day_df = TB3S000102CS_day_df.loc[TB3S000102CS_day_df['METRIC_CD']==v_metric_cd]
TB3S000102CS_day_df = TB3S000102CS_day_df.loc[TB3S000102CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB3S000102CS_day_df = TB3S000102CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB3S000102CS_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB3S000102CS_day_df[col] = TB3S000102CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB3S000102CS_day_df

TB3S000102CS : TOL Gross Adds Connected : Consumer...

   -> v_metric_cd: TB3S000102CS
   -> v_tm_key_day: 20250301

,PRODUCT,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250301,2025-03-10 08:00:12,0,"1,774","1,391","1,391","1,380","1,391","1,391"
1,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250302,2025-03-10 08:00:12,0,"1,611","1,219","1,219","1,201","1,219","1,219"
2,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250303,2025-03-10 08:00:12,0,"1,740","1,395","1,395","1,376","1,395","1,395"
3,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250304,2025-03-10 08:00:12,0,"1,801","1,461","1,461","1,453","1,461","1,461"
4,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250305,2025-03-10 08:00:12,0,"1,745","1,424","1,424","1,409","1,424","1,424"
5,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250306,2025-03-10 08:00:12,0,"1,733","1,409","1,409","1,401","1,409","1,409"
6,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250307,2025-03-10 08:00:12,0,"1,669","1,350","1,350","1,340","1,350","1,350"
7,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250308,2025-03-10 08:00:12,0,"1,818","1,333","1,333","1,322","1,333","1,333"
8,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250309,2025-03-10 08:00:12,0,"1,717","1,258","1,258","1,252","1,258","1,258"

## Output File
->  DIM_CORP_KPI

In [12]:
''' Execute Sales Monthly '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20240101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/ 
        SUBSTR(TM_KEY_DAY,1,4) AS TM_KEY_YR, SUBSTR(TM_KEY_DAY,1,6) AS TM_KEY_MTH
        , CASE WHEN REGEXP_LIKE(METRIC_CD, 'CS$|CG$') THEN 'Y2025' ELSE 'Y2024' END VER_FLAG
        , PRODUCT, COMP_CD, METRIC_CD, METRIC_NAME, REMARK, UPD_TM, PPN_TM
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN METRIC_VALUE END) P_ACTUAL
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN METRIC_VALUE END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN METRIC_VALUE END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN METRIC_VALUE END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN METRIC_VALUE END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN METRIC_VALUE END) CCAATT
        , SUM(CASE WHEN AREA_CD = '016' THEN METRIC_VALUE END) "016"
        , SUM(CASE WHEN AREA_CD = '040' THEN METRIC_VALUE END) "040"
        , SUM(CASE WHEN AREA_CD = '080' THEN METRIC_VALUE END) "080"
        , MIN(TM_KEY_DAY) AS START_DAY, MAX(TM_KEY_DAY) AS END_DAY, MAX(LOAD_DATE) LOAD_DATE
    FROM CDSAPPO.DIM_CORP_KPI
    WHERE METRIC_CD NOT LIKE 'Error%'
    AND EXISTS (
        SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
        FROM (
            SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
        ) TMP
        WHERE TMP_CD = AREA_CD )
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY SUBSTR(TM_KEY_DAY,1,4), SUBSTR(TM_KEY_DAY,1,6), PRODUCT, COMP_CD, METRIC_CD, METRIC_NAME, REMARK, UPD_TM, PPN_TM
    --ORDER BY 2, 3, PRODUCT, COMP_CD, METRIC_CD 
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Sales Monthly DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    monthly_sales_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Sales Monthly DataFrame : {monthly_sales_df.shape[0]} rows, {monthly_sales_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20240101

TDMDBPR : Connected

   -> Execute query... 2025-03-10, 10:37:30

   -> Monthly Sales DataFrame : 874 rows, 22 columns

TDMDBPR : Disconnected

In [14]:
''' Generate CSV file '''

op_dir = 'data'
op_monthly_file = f'sales_monthly_{str_curr_dt}'

monthly_sales_df.to_csv(f'{op_dir}/tmp_{op_monthly_file}.csv', index=False, encoding='utf-8')
print(f'\n   -> Generate "tmp_{op_monthly_file}.csv" successfully')

monthly_sales_df.tail(3)

   -> Generate "tmp_sales_monthly_20250310.csv" successfully

,TM_KEY_YR,TM_KEY_MTH,VER_FLAG,PRODUCT,COMP_CD,METRIC_CD,METRIC_NAME,REMARK,UPD_TM,PPN_TM,...,H,HH,CCAA,CCAATT,016,040,080,START_DAY,END_DAY,LOAD_DATE
871,2025,202503,Y2025,POSTPAID,DTAC,DB2R010500CS,Postpaid Inflow M1 B2C : DTAC,KPI Metric 2025,20250310,20250310,...,2859027.0,2859027.0,2859027.0,2859027.0,None,None,82352.0,20250301,20250305,2025-03-10 08:17:09
872,2024,202409,Y2025,TVS,TRUE,TB4S001400CS,TVS Now Gross Adds,KPI Metric 2025,20250304,20250304,...,1101.0,1101.0,1101.0,1101.0,None,None,24.0,20240901,20240930,2025-03-04 17:49:19
873,2024,202408,Y2025,TVS,TRUE,TB4S001004CG,TVS CMDU Gross Adds - GEO Channel,KPI Metric 2025,20250304,20250304,...,51.0,51.0,51.0,51.0,None,None,NaN,20240801,20240831,2025-03-04 17:49:19