# * Ex-T Revenue & Subs

## Parameter

In [1]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

pd.set_option('future.no_silent_downcasting', True)

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

## Actual : Monitoring
->  FCT_KPI_NEWCO_PERF_ACTUAL

In [33]:
''' Execute Summany Data '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20240101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/ 
        SUBSTR(TM_KEY_DAY,1,4) AS TM_KEY_YR, SUBSTR(TM_KEY_DAY,1,6) AS TM_KEY_MTH
         , REMARK, METRIC_CD, METRIC_NAME
        , MAX(LOAD_DATE) LOAD_DATE, MIN(TM_KEY_DAY) AS START_DAY, MAX(TM_KEY_DAY) AS END_DAY
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN ACTUAL END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN ACTUAL END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN ACTUAL END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN ACTUAL END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN ACTUAL END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN ACTUAL END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN ACTUAL END) CCAATT
        , COUNT(DISTINCT AREA_TYPE) CNT_AREA_TYPE, COUNT(DISTINCT AREA_CD) CNT_AREA_CD, COUNT(1) ROW_CNT
    FROM (
        SELECT TM_KEY_DAY
            , CASE 	WHEN METRIC_CD LIKE 'TB%S%' 
                    THEN ROW_NUMBER() OVER (PARTITION BY SUBSTR(TM_KEY_DAY,1,6), METRIC_CD, AREA_CD ORDER BY TM_KEY_DAY DESC)
                    ELSE 1 END FLAG
            , CASE WHEN METRIC_CD LIKE 'TB%S%' THEN 'SUB' ELSE 'REV' END AGG_TYPE
            , METRIC_CD, METRIC_NAME, ACTUAL, COMP_CD, VERSION, AREA_CD, AREA_DESC, AREA_TYPE, LOAD_DATE, REMARK, SRC
        FROM GEOSPCAPPO.FCT_KPI_NEWCO_PERF_ACTUAL
        WHERE REMARK IN ('salisa', 'jutar11')
        AND NOT REGEXP_LIKE(METRIC_CD, '^TCAP|CORP$')
        AND EXISTS (
            SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
            FROM (
                SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
                UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            ) TMP
            WHERE TMP_CD = AREA_CD )
        AND TM_KEY_DAY >= {v_start_date} 
    ) TMP
    --WHERE FLAG = 1
    GROUP BY SUBSTR(TM_KEY_DAY,1,4), SUBSTR(TM_KEY_DAY,1,6), REMARK, METRIC_CD, METRIC_NAME
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Summany DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Summany DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20240101

TDMDBPR : Connected

   -> Execute query... 2025-05-08, 13:13:50

   -> Summany DataFrame : 451 rows, 18 columns

TDMDBPR : Disconnected

In [42]:
y2024_df = chk_src_df.loc[chk_src_df['TM_KEY_MTH'].str.contains('2024')].copy()
# y2024_df['TM_KEY_YR'] = y2024_df['TM_KEY_MTH'].str.split().str[0]
y2024_df = y2024_df.groupby(['TM_KEY_YR', 'REMARK', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
y2024_df = y2024_df.fillna(0).sort_values(by=['TM_KEY_YR', 'REMARK', 'METRIC_CD']).reset_index()

mod_col_list = y2024_df.iloc[:, 7:14].columns.tolist()
for col in mod_col_list:
    y2024_df[col] = y2024_df[col].apply(lambda x: format(x, ',.0f'))

y2024_df
# print(f'\n{y2024_df.to_string(max_cols=100)}')

,TM_KEY_YR,REMARK,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,2024,jutar11,TB1R000100,Prepay Revenue,2025-02-13 20:20:49,20240101,20241231,0,0,"27,855,545,957","27,855,124,991","27,855,124,991",0,0,4,176,64416
1,2024,jutar11,TB1R000101,Prepay New Revenue,2025-02-13 20:20:49,20240101,20241231,0,0,"5,978,086,564","5,978,086,564","5,978,086,564",0,0,4,176,64416
2,2024,jutar11,TB1R000102,Prepay Existing Revenue,2025-02-13 20:20:49,20240101,20241231,0,0,"21,877,459,392","21,877,038,426","21,877,038,426",0,0,4,176,64416
3,2024,jutar11,TB1S000500,Prepay Usage Subs,2025-02-13 20:46:40,20240101,20241231,0,0,"6,451,575,497","6,451,482,909","6,451,482,909",0,0,4,176,64240
4,2024,jutar11,TB1S000600,Prepay Active Caller Subs,2025-02-13 20:20:49,20240101,20241231,0,"5,267,256,335","5,241,832,391","5,239,936,688","5,243,471,294",0,0,5,177,64769
5,2024,jutar11,TB2R000100,Postpaid Revenue,2025-02-13 20:20:49,20240102,20241231,0,"44,362,202,364","43,984,061,007","43,983,847,168","43,983,847,168",0,0,5,177,21240
6,2024,jutar11,TB2R000101,Postpaid New Revenue,2025-02-13 20:20:49,20240102,20241231,0,0,"4,372,937,033","4,372,938,478","4,372,945,380",0,0,4,176,20901
7,2024,jutar11,TB2R000102,Postpaid Existing Revenue,2025-02-13 20:20:49,20240102,20241231,0,"39,968,004,424","39,611,123,974","39,610,910,135","39,610,910,135",0,0,5,177,21240
8,2024,jutar11,TB2R010100,Postpaid Revenue B2C,2025-02-13 20:20:49,20240102,20241231,0,"39,433,666,883","39,355,025,256","39,354,828,606","39,354,828,606",0,0,5,177,21197
9,2024,jutar11,TB2R020100,Postpaid Revenue B2B,2025-02-13 20:20:49,20240102,20241231,0,"4,928,535,481","4,629,035,751","4,629,018,562","4,629,018,562",0,0,5,177,21240
10,2024,jutar11,TB2R020100SMB,Postpaid Revenue SMB : TMH,2025-02-13 20:20:49,20240102,20241231,0,"1,028,929,122","1,017,979,576","1,018,100,806","1,018,123,969",0,0,5,177,20316
11,2024,jutar11,TB2S000500,Postpaid Active Subs,2025-02-13 20:20:49,20240101,20241231,0,"3,643,337,039","3,548,609,275","3,552,194,565","3,552,890,150",0,0,5,177,64782
12,2024,jutar11,TB2S010500,Postpaid Active Subs B2C,2025-02-13 20:20:49,20240101,20241231,0,"3,237,581,183","3,184,704,299","3,188,025,919","3,188,706,125",0,0,5,177,64782
13,2024,jutar11,TB2S020400,Postpaid Active Subs B2B,2025-02-13 20:20:49,20240101,20241231,0,"405,755,877","364,776,014","366,719,493","366,951,317",0,0,5,177,64779
14,2024,salisa,CAP00001,EBITDA,2024-10-25 11:20:47,20240101,20240930,0,0,"1,947,341,075,536","1,883,901,033,894",0,0,0,2,71,19454
15,2024,salisa,CAP00006,EBITDA Margin,2025-03-18 13:44:13,20240101,20241231,0,"16,406","188,763","1,474,269",0,0,0,3,72,28390
16,2024,salisa,CAP00009,EBITDA,2025-03-18 13:44:13,20240101,20241231,0,"1,950,344,544,710","2,838,093,623,226","2,745,697,044,931",0,0,0,3,72,28390
17,2024,salisa,TB3R000100,Broadband Revenue,2025-03-21 14:11:16,20240102,20241228,0,0,"18,827,249,425","18,825,729,572","18,825,316,117",0,0,4,176,19008
18,2024,salisa,TB3R000101,Broadband New Revenue,2025-03-21 14:11:16,20240102,20241228,0,0,"2,129,791,680","2,129,487,190","2,129,487,190",0,0,4,176,18987
19,2024,salisa,TB3R000102,Broadband Exisitng Revenue,2025-03-21 14:11:16,20240102,20241228,0,0,"16,697,457,745","16,696,242,382","16,695,828,928",0,0,4,176,19008
20,2024,salisa,TB3S000500,Broadband Active Subs,2025-02-18 13:55:59,20240101,20241231,0,0,"1,092,603,015","1,096,389,971","1,096,389,840",0,0,4,176,62800
21,2024,salisa,TB4R000100,TVS Revenue,2025-02-18 14:36:26,20240102,20241231,0,0,"4,018,244,147","3,938,305,913","3,999,205,015",0,0,5,1103,30270
22,2024,salisa,TB4R000101,TVS New Revenue,2025-02-18 14:36:26,20240102,20241231,0,0,"16,227,502","19,976,930","16,018,778",0,0,4,176,19805
23,2024,salisa,TB4R000102,TVS Exisitng Revenue,2025-02-18 14:36:26,20240102,20241231,0,0,"4,002,006,064","3,922,480,071","3,982,801,214",0,0,4,176,21072
24,2024,salisa,TB4R000103,TVS Revenue : Premium,2025-02-18 14:36:26,20240102,20241231,0,"1,436,407,294","1,434,262,562","1,403,509,403","1,432,550,152",0,0,4,169,19973
25,2024,salisa,TB4R000104,TVS Revenue : Mid,2025-02-18 14:36:26,20240102,20241231,0,"359,735,381","358,905,359","350,744,694","357,862,892",0,0,4,169,20225
26,2024,salisa,TB4R000105,TVS Revenue : Mass,2025-02-18 14:36:26,20240102,20241231,0,"1,928,155,781","1,758,039,540","1,733,335,117","1,759,733,910",0,0,4,169,20230
27,2024,salisa,TB4R000106,TVS Revenue : CMDU,2025-02-18 14:36:26,20240102,20241231,0,"495,583,068","491,049,310","489,986,622","490,808,826",0,0,4,151,2569
28,2024,salisa,TB4S000500,TVS Active Subs,2025-02-18 14:36:26,20240101,20241231,0,0,"446,576,530","446,353,986","446,353,986",0,0,4,176,63712

In [43]:
y2025_df = chk_src_df.loc[chk_src_df['TM_KEY_MTH'].str.contains('2025')].copy()
y2025_df = y2025_df.groupby(['TM_KEY_YR', 'REMARK', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
y2025_df = y2025_df.fillna(0).sort_values(by=['TM_KEY_YR', 'REMARK', 'METRIC_CD']).reset_index()

mod_col_list = y2025_df.iloc[:, 7:14].columns.tolist()
for col in mod_col_list:
    y2025_df[col] = y2025_df[col].apply(lambda x: format(x, ',.0f'))

y2025_df
# print(f'\n{y2025_df.to_string(max_cols=100)}')

,TM_KEY_YR,REMARK,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,2025,jutar11,TB1R000101,Prepay New Revenue,2025-04-08 04:49:17,20250101,20250405,0,0,"856,187,185","856,187,185","856,187,185",0,0,4,176,16720
1,2025,jutar11,TB1R000102,Prepay Existing Revenue,2025-04-08 04:51:27,20250101,20250405,0,0,"6,894,731,850","6,894,692,394","6,894,692,394",0,0,4,176,16720
2,2025,jutar11,TB1S000500,Prepay Usage Subs,2025-05-07 04:50:37,20250101,20250505,0,0,"2,185,080,888","2,185,072,316","2,185,072,316",0,0,4,176,22000
3,2025,jutar11,TB2R000101,Postpaid New Revenue,2025-04-04 04:21:38,20250102,20250402,0,0,"264,603,956","264,628,338","264,631,242",0,0,4,176,5147
4,2025,jutar11,TB2R000102,Postpaid Existing Revenue,2025-04-04 04:21:44,20250102,20250402,0,"11,521,837,139","11,464,739,285","11,464,730,525","11,464,730,525",0,0,5,177,5310
5,2025,jutar11,TB2R020100SMB,Postpaid Revenue SMB : TMH,2025-04-04 04:22:06,20250102,20250402,0,"284,643,739","283,181,365","283,189,663","283,189,663",0,0,5,177,5144
6,2025,jutar11,TB2S000500,Postpaid Active Subs,2025-05-07 04:59:20,20250101,20250506,0,"1,282,828,361","1,277,774,955","1,277,785,905","1,277,787,140",0,0,5,177,22302
7,2025,jutar11,TB2S010500,Postpaid Active Subs B2C,2025-05-07 05:00:38,20250101,20250506,0,"1,133,336,903","1,133,329,482","1,133,339,567","1,133,340,766",0,0,5,177,22302
8,2025,jutar11,TB2S020400,Postpaid Active Subs B2B,2025-05-07 05:01:33,20250101,20250506,0,"149,491,458","144,445,473","144,446,338","144,446,374",0,0,5,177,22302
9,2025,salisa,CAP00006,EBITDA Margin,2025-04-24 16:42:51,20250101,20250331,0,0,"41,207","327,432",0,0,0,2,72,6480
10,2025,salisa,CAP00009,EBITDA,2025-04-24 16:42:51,20250101,20250331,0,0,"601,386,861,292","601,386,861,292",0,0,0,2,72,6480
11,2025,salisa,TB3R000100,Broadband Revenue,2025-05-07 05:04:22,20250102,20250502,0,0,"6,641,504,402","6,641,504,402","6,641,497,044",0,0,4,176,6512
12,2025,salisa,TB3R000101,Broadband New Revenue,2025-05-07 05:05:12,20250102,20250502,0,0,"315,398,150","315,420,550","310,247,986",0,0,4,176,6512
13,2025,salisa,TB3R000102,Broadband Exisitng Revenue,2025-05-07 05:05:12,20250102,20250502,0,0,"6,326,106,253","6,326,106,253","6,159,035,370",0,0,4,176,6512
14,2025,salisa,TB3S000500,Broadband Active Subs,2025-05-07 04:55:25,20250101,20250506,0,0,"392,279,138","392,279,138","392,279,138",0,0,4,176,22176
15,2025,salisa,TB4R000100,TVS Revenue,2025-05-07 05:08:47,20250102,20250502,0,0,"1,220,709,292","1,217,429,911","1,217,227,175",0,0,4,176,7040
16,2025,salisa,TB4R000101,TVS New Revenue,2025-05-07 05:08:57,20250102,20250502,0,0,"1,183,808","1,174,122","1,177,582",0,0,4,176,6468
17,2025,salisa,TB4R000102,TVS Exisitng Revenue,2025-05-07 05:08:57,20250101,20250502,0,0,"1,311,124,232","1,290,104,674","1,307,300,294",0,0,4,176,7215
18,2025,salisa,TB4R000103,TVS Revenue : Premium,2025-05-07 05:15:11,20250101,20250502,0,"426,890,276","425,868,091","427,014,937","430,074,580",0,0,4,169,6478
19,2025,salisa,TB4R000104,TVS Revenue : Mid,2025-05-07 05:36:19,20250101,20250502,0,"101,576,378","101,385,578","101,657,953","102,121,718",0,0,4,169,6586
20,2025,salisa,TB4R000105,TVS Revenue : Mass,2025-05-07 05:28:52,20250101,20250502,0,"530,939,365","500,390,079","499,783,582","500,221,724",0,0,4,169,6590
21,2025,salisa,TB4R000106,TVS Revenue : CMDU,2025-05-07 05:22:02,20250101,20250502,0,"155,153,527","153,017,228","153,024,583","153,302,346",0,0,4,141,848
22,2025,salisa,TB4S000500,TVS Active Subs,2025-05-07 04:55:38,20250101,20250506,0,0,"146,251,891","146,251,891","146,251,891",0,0,4,176,22176

In [3]:
''' Automate Month Period '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
prev_mth = str(chk_src_df['TM_KEY_MTH'].drop_duplicates().astype(int).shift().max())

In [4]:
# ''' Manual Month Period '''

# curr_mth = 000000
# prev_mth = 000000

In [5]:
''' Current Month Revenue '''

rev_metric_list = ['TB1R000100', 'TB2R000100', 'TB2R010100', 'TB2R020100', 'TB3R000100', 'TB4R000100']

src_t_rev_overall_df = chk_src_df.copy()
src_t_rev_overall_df = src_t_rev_overall_df.loc[src_t_rev_overall_df['TM_KEY_MTH']==curr_mth]
src_t_rev_overall_df = src_t_rev_overall_df.loc[src_t_rev_overall_df['METRIC_CD'].isin(rev_metric_list)]
src_t_rev_overall_df = src_t_rev_overall_df.groupby(['METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_t_rev_overall_df = src_t_rev_overall_df.fillna(0).sort_values(by=['METRIC_CD']).reset_index()

mod_col_list = src_t_rev_overall_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    src_t_rev_overall_df[col] = src_t_rev_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_t_rev_overall_df

,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,TB3R000100,Broadband Revenue,2025-05-07 05:04:22,20250502,20250502,0,0,"218,574,707","218,574,707","218,574,707",0,0,4,176,176
1,TB4R000100,TVS Revenue,2025-05-07 05:08:47,20250502,20250502,0,0,"33,766,831","33,719,622","33,720,804",0,0,4,176,176

In [6]:
''' Average Revenue per Month '''

avg_range_start = '202401'
avg_range_end = prev_mth
rev_metric_list = ['TB1R000100', 'TB2R000100', 'TB2R010100', 'TB2R020100', 'TB3R000100', 'TB4R000100']

src_t_rev_avg_mth_df = chk_src_df.copy()
src_t_rev_avg_mth_df = src_t_rev_avg_mth_df.loc[src_t_rev_avg_mth_df['TM_KEY_MTH'].between(avg_range_start, avg_range_end)]
src_t_rev_avg_mth_df = src_t_rev_avg_mth_df.loc[src_t_rev_avg_mth_df['METRIC_CD'].isin(rev_metric_list)]
src_t_rev_avg_mth_df = src_t_rev_avg_mth_df.groupby(['METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'mean', 'P':'mean', 'G':'mean', 'H':'mean', 'HH':'mean', 'CCAA':'mean', 'CCAATT':'mean', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_t_rev_avg_mth_df = src_t_rev_avg_mth_df.fillna(0).sort_values(by=['METRIC_CD']).reset_index()

mod_col_list = src_t_rev_avg_mth_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    src_t_rev_avg_mth_df[col] = src_t_rev_avg_mth_df[col].apply(lambda x: format(x, ',.0f'))

src_t_rev_avg_mth_df

,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,TB1R000100,Prepay Revenue,2025-02-13 20:20:49,20240101,20241231,0,0,"2,321,295,496","2,321,260,416","2,321,260,416",0,0,4,176,64416
1,TB2R000100,Postpaid Revenue,2025-02-13 20:20:49,20240102,20241231,0,"3,696,850,197","3,665,338,417","3,665,320,597","3,665,320,597",0,0,5,177,21240
2,TB2R010100,Postpaid Revenue B2C,2025-02-13 20:20:49,20240102,20241231,0,"3,286,138,907","3,279,585,438","3,279,569,051","3,279,569,051",0,0,5,177,21197
3,TB2R020100,Postpaid Revenue B2B,2025-02-13 20:20:49,20240102,20241231,0,"410,711,290","385,752,979","385,751,547","385,751,547",0,0,5,177,21240
4,TB3R000100,Broadband Revenue,2025-05-03 05:01:19,20240102,20250428,0,0,"1,578,136,195","1,578,041,204","1,578,014,903",0,0,4,176,25344
5,TB4R000100,TVS Revenue,2025-05-06 05:11:13,20240102,20250430,0,0,"325,324,163","320,126,013","323,919,462",0,0,5,1103,37134

In [7]:
''' Current Month Subscription '''

sub_metric_list = ['TB1S000500', 'TB1S000600', 'TB2S000500', 'TB2S010500', 'TB2S020400', 'TB3S000500', 'TB4S000500']

src_t_sub_overall_df = chk_src_df.copy()
src_t_sub_overall_df = src_t_sub_overall_df.loc[src_t_sub_overall_df['TM_KEY_MTH']==curr_mth]
src_t_sub_overall_df = src_t_sub_overall_df.loc[src_t_sub_overall_df['METRIC_CD'].isin(sub_metric_list)]
src_t_sub_overall_df = src_t_sub_overall_df.groupby(['METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_t_sub_overall_df = src_t_sub_overall_df.fillna(0).sort_values(by=['METRIC_CD']).reset_index()

mod_col_list = src_t_sub_overall_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    src_t_sub_overall_df[col] = src_t_sub_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_t_sub_overall_df

,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,TB1S000500,Prepay Usage Subs,2025-05-07 04:50:37,20250505,20250505,0,0,"17,143,541","17,143,541","17,143,541",0,0,4,176,176
1,TB2S000500,Postpaid Active Subs,2025-05-07 04:59:20,20250506,20250506,0,"10,251,079","10,250,547","10,250,536","10,250,536",0,0,5,177,177
2,TB2S010500,Postpaid Active Subs B2C,2025-05-07 05:00:38,20250506,20250506,0,"9,065,984","9,065,731","9,065,720","9,065,720",0,0,5,177,177
3,TB2S020400,Postpaid Active Subs B2B,2025-05-07 05:01:33,20250506,20250506,0,"1,185,095","1,184,816","1,184,816","1,184,816",0,0,5,177,177
4,TB3S000500,Broadband Active Subs,2025-05-07 04:55:25,20250506,20250506,0,0,"3,136,981","3,136,981","3,136,981",0,0,4,176,176
5,TB4S000500,TVS Active Subs,2025-05-07 04:55:38,20250506,20250506,0,0,"1,139,671","1,139,671","1,139,671",0,0,4,176,176

In [8]:
''' Average Subscription per Month '''

avg_range_start = '202401'
avg_range_end = prev_mth
sub_metric_list = ['TB1S000500', 'TB1S000600', 'TB2S000500', 'TB2S010500', 'TB2S020400', 'TB3S000500', 'TB4S000500']

src_t_sub_overall_df = chk_src_df.copy()
src_t_sub_overall_df = src_t_sub_overall_df.loc[src_t_sub_overall_df['TM_KEY_MTH'].between(avg_range_start, avg_range_end)]
src_t_sub_overall_df = src_t_sub_overall_df.loc[src_t_sub_overall_df['METRIC_CD'].isin(sub_metric_list)]
src_t_sub_overall_df = src_t_sub_overall_df.groupby(['METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'mean', 'P':'mean', 'G':'mean', 'H':'mean', 'HH':'mean', 'CCAA':'mean', 'CCAATT':'mean', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_t_sub_overall_df = src_t_sub_overall_df.fillna(0).sort_values(by=['METRIC_CD']).reset_index()

mod_col_list = src_t_sub_overall_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    src_t_sub_overall_df[col] = src_t_sub_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_t_sub_overall_df

,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,TB1S000500,Prepay Usage Subs,2025-05-07 04:50:17,20240131,20250430,0,0,"17,612,663","17,612,493","17,612,493",0,0,4,176,2816
1,TB1S000600,Prepay Active Caller Subs,2025-02-13 20:20:49,20240131,20241231,0,"14,403,867","14,329,321","14,340,802","14,340,833",0,0,5,177,2124
2,TB2S000500,Postpaid Active Subs,2025-05-07 04:39:41,20240131,20250430,0,"10,048,254","9,960,837","9,961,110","9,961,135",0,0,5,177,2832
3,TB2S010500,Postpaid Active Subs B2C,2025-05-07 04:40:18,20240131,20250430,0,"8,910,857","8,907,433","8,907,649","8,907,674",0,0,5,177,2832
4,TB2S020400,Postpaid Active Subs B2B,2025-05-07 04:40:55,20240131,20250430,0,"1,137,396","1,053,404","1,053,461","1,053,461",0,0,5,177,2832
5,TB3S000500,Broadband Active Subs,2025-05-01 04:55:23,20240131,20250430,0,0,"3,063,528","3,064,666","3,064,666",0,0,4,176,2800
6,TB4S000500,TVS Active Subs,2025-05-01 04:55:36,20240131,20250430,0,0,"1,211,047","1,210,910","1,210,910",0,0,4,176,2816

In [9]:
# ''' METRIC Summary '''

# src_t_rev_mth_df = chk_src_df.copy()
# src_t_rev_mth_df = src_t_rev_mth_df.groupby(['REMARK', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'P':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
# src_t_rev_mth_df = src_t_rev_mth_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD']).reset_index()

# mod_col_list = src_t_rev_mth_df.iloc[:, 6:7].columns.tolist()
# for col in mod_col_list:
#     src_t_rev_mth_df[col] = src_t_rev_mth_df[col].apply(lambda x: format(x, ',.0f'))

# print(f'\n{src_t_rev_mth_df.to_string(max_cols=10)}')

In [10]:
# ''' METRIC Current Month '''

# # v_tm_key_mth = '202502'
# curr_mth = chk_src_df['TM_KEY_MTH'].max()
# src_t_rev_mth_df_cols = ['REMARK', 'METRIC_CD', 'METRIC_NAME', 'LOAD_DATE', 'TM_KEY_MTH', 'START_DAY', 'END_DAY', 'C', 'P', 'G', 'H', 'HH', 'CCAA', 'CCAATT']
# print(f'\nParameter input...\n')
# print(f'   -> v_tm_key_mth: {curr_mth}')

# src_t_rev_mth_df = chk_src_df[src_t_rev_mth_df_cols].copy()
# src_t_rev_mth_df = src_t_rev_mth_df.loc[src_t_rev_mth_df['TM_KEY_MTH']==curr_mth]
# src_t_rev_mth_df = src_t_rev_mth_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_MTH']).reset_index(drop=True)

# mod_col_list = src_t_rev_mth_df.iloc[:, 7:14].columns.tolist()
# for col in mod_col_list:
#     src_t_rev_mth_df[col] = src_t_rev_mth_df[col].apply(lambda x: format(x, ',.0f'))

# print(f'\n{src_t_rev_mth_df.to_string(max_cols=17)}')

## Actual : Transaction
->  FCT_KPI_NEWCO_PERF_ACTUAL

In [11]:
''' Execute Daily by case '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20250101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+ PARALLEL(8)*/ 
         REMARK, METRIC_CD, METRIC_NAME, TM_KEY_DAY
        , MAX(LOAD_DATE) LOAD_DATE
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN ACTUAL END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN ACTUAL END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN ACTUAL END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN ACTUAL END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN ACTUAL END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN ACTUAL END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN ACTUAL END) CCAATT
    FROM GEOSPCAPPO.FCT_KPI_NEWCO_PERF_ACTUAL
    --WHERE METRIC_CD = 'TB3R000100' --TOL Revenue
    WHERE METRIC_CD IN (
        'TB1R000100' --'Prepay Revenue
        , 'TB2R010100' --Postpaid Revenue B2C
        , 'TB3R000100' --TOL Revenue
        , 'TB4R000100' --TVS Revenue
         )
    AND EXISTS (
        SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
        FROM (
            SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
        ) TMP
        WHERE TMP_CD = AREA_CD )
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY REMARK, METRIC_CD, METRIC_NAME, TM_KEY_DAY
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Daily DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Daily DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20250101

TDMDBPR : Connected

   -> Execute query... 2025-05-08, 12:59:32

   -> Daily DataFrame : 77 rows, 12 columns

TDMDBPR : Disconnected

In [12]:
''' METRIC by Day '''

v_tm_key_day = 20250101
# src_t_rev_day_df = ['SRC', 'REMARK', 'TM_KEY_DAY', 'METRIC_CD', 'METRIC_NAME', 'C', 'P', 'G', 'H', 'HH', 'CCAA', 'CCAATT', 'LOAD_DATE']
print(f'\nParameter input...\n')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

# src_t_rev_day_df = chk_src_df[src_t_rev_day_df_cols].copy()
src_t_rev_day_df = chk_src_df.copy()
src_t_rev_day_df = src_t_rev_day_df.loc[src_t_rev_day_df['TM_KEY_DAY']>=v_tm_key_day]
src_t_rev_day_df = src_t_rev_day_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = src_t_rev_day_df.iloc[:, 4:11].columns.tolist()
for col in mod_col_list:
    src_t_rev_day_df[col] = src_t_rev_day_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\nCreate : src_t_rev_day_df...')
print(f'\n   -> DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')
# print(f'\n{src_t_rev_day_df.to_string(max_cols=17)}')

Parameter input...

   -> v_tm_key_day: 20250101

Create : src_t_rev_day_df...

   -> DataFrame : 77 rows, 12 columns

In [13]:
''' TB1R000100 : Prepay Revenue '''

v_metric_cd = 'TB1R000100'
v_tm_key_day = int(str(curr_mth)+str('01'))
# v_tm_key_day = 20250301
print(f'\nTB1R000100 : Prepay Revenue...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB1R000100_day_df = chk_src_df.copy()
TB1R000100_day_df = TB1R000100_day_df.loc[TB1R000100_day_df['METRIC_CD']==v_metric_cd]
TB1R000100_day_df = TB1R000100_day_df.loc[TB1R000100_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB1R000100_day_df = TB1R000100_day_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB1R000100_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB1R000100_day_df[col] = TB1R000100_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB1R000100_day_df

TB1R000100 : Prepay Revenue...

   -> v_metric_cd: TB1R000100
   -> v_tm_key_day: 20250501

Empty DataFrame
Columns: [REMARK, METRIC_CD, METRIC_NAME, TM_KEY_DAY, LOAD_DATE, C, P, G, H, HH, CCAA, CCAATT]
Index: []

In [14]:
''' TB2R010100 : Postpaid Revenue B2C '''

v_metric_cd = 'TB2R010100'
v_tm_key_day = int(str(curr_mth)+str('01'))
# v_tm_key_day = 20250301
print(f'\nTB2R010100 : Postpaid Revenue B2C...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB2R010100_day_df = chk_src_df.copy()
TB2R010100_day_df = TB2R010100_day_df.loc[TB2R010100_day_df['METRIC_CD']==v_metric_cd]
TB2R010100_day_df = TB2R010100_day_df.loc[TB2R010100_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB2R010100_day_df = TB2R010100_day_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB2R010100_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB2R010100_day_df[col] = TB2R010100_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB2R010100_day_df

TB2R010100 : Postpaid Revenue B2C...

   -> v_metric_cd: TB2R010100
   -> v_tm_key_day: 20250501

Empty DataFrame
Columns: [REMARK, METRIC_CD, METRIC_NAME, TM_KEY_DAY, LOAD_DATE, C, P, G, H, HH, CCAA, CCAATT]
Index: []

In [15]:
''' TB3R000100 : Broadband Revenue '''

v_metric_cd = 'TB3R000100'
v_tm_key_day = int(str(curr_mth)+str('01'))
# v_tm_key_day = 20250301
print(f'\nTB3R000100 : Broadband Revenue...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB3R000100_day_df = chk_src_df.copy()
TB3R000100_day_df = TB3R000100_day_df.loc[TB3R000100_day_df['METRIC_CD']==v_metric_cd]
TB3R000100_day_df = TB3R000100_day_df.loc[TB3R000100_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB3R000100_day_df = TB3R000100_day_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB3R000100_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB3R000100_day_df[col] = TB3R000100_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB3R000100_day_df

TB3R000100 : Broadband Revenue...

   -> v_metric_cd: TB3R000100
   -> v_tm_key_day: 20250501

,REMARK,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,salisa,TB3R000100,Broadband Revenue,20250502,2025-05-07 05:04:22,0,0,"218,574,707","218,574,707","218,574,707",0,0

In [16]:
''' TB4R000100 : TVS Revenue '''

v_metric_cd = 'TB4R000100'
v_tm_key_day = int(str(curr_mth)+str('01'))
# v_tm_key_day = 20250301
print(f'\nTB4R000100 : TVS Revenue...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB4R000100_day_df = chk_src_df.copy()
TB4R000100_day_df = TB4R000100_day_df.loc[TB4R000100_day_df['METRIC_CD']==v_metric_cd]
TB4R000100_day_df = TB4R000100_day_df.loc[TB4R000100_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB4R000100_day_df = TB4R000100_day_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB4R000100_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB4R000100_day_df[col] = TB4R000100_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB4R000100_day_df

TB4R000100 : TVS Revenue...

   -> v_metric_cd: TB4R000100
   -> v_tm_key_day: 20250501

,REMARK,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,salisa,TB4R000100,TVS Revenue,20250502,2025-05-07 05:08:47,0,0,"33,766,831","33,719,622","33,720,804",0,0

## Issue
->  FCT_KPI_NEWCO_PERF_ACTUAL

In [17]:
# ''' Execute Issue by case '''


# # Input parameter
# curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
# v_start_date = 20250101
# print(f'\nParameter input...\n')
# print(f'   -> v_start_date: {v_start_date}')


# # Connect : TDMDBPR
# src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
# src_conn = oracledb.connect(src_dsn)
# print(f'\n{TDMDBPR_db} : Connected')
# src_cur = src_conn.cursor()
# query = (f"""
#     SELECT /*+ PARALLEL(8)*/ 
#          REMARK, METRIC_CD, METRIC_NAME, TM_KEY_DAY
#         , MAX(LOAD_DATE) LOAD_DATE
#         , SUM(CASE WHEN AREA_TYPE = 'C' THEN ACTUAL END) C
#         , SUM(CASE WHEN AREA_TYPE = 'P' THEN ACTUAL END) P
#         , SUM(CASE WHEN AREA_TYPE = 'G' THEN ACTUAL END) G
#         , SUM(CASE WHEN AREA_TYPE = 'H' THEN ACTUAL END) H
#         , SUM(CASE WHEN AREA_TYPE = 'HH' THEN ACTUAL END) HH
#         , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN ACTUAL END) CCAA
#         , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN ACTUAL END) CCAATT
#     FROM GEOSPCAPPO.FCT_KPI_NEWCO_PERF_ACTUAL
#     WHERE METRIC_CD = 'TB1S000600' --Prepay Active Caller Subs
#     AND EXISTS (
#         SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
#         FROM (
#             SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#         ) TMP
#         WHERE TMP_CD = AREA_CD )
#     AND TM_KEY_DAY >= {v_start_date}
#     GROUP BY REMARK, METRIC_CD, METRIC_NAME, TM_KEY_DAY
# """)


# try:
#     execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
#     print(f'\n   -> Execute query... {execute_datetime}')

#     # Get : Issue DataFrame
#     src_cur.execute(query)
#     rows = src_cur.fetchall()
#     chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
#     print(f'\n   -> Issue DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

#     src_cur.close()


# except oracledb.DatabaseError as e:
#     print(f'\nError with Oracle : {e}')


# finally:
#     src_conn.close()
#     print(f'\n{TDMDBPR_db} : Disconnected')

In [18]:
# ''' TB1S000600 : Prepay Active Caller Subs '''

# v_metric_cd = 'TB1S000600'
# # v_tm_key_day = int(str(curr_mth)+str('01'))
# v_tm_key_day = 20250101
# print(f'\nTB1S000600 : Prepay Active Caller Subs...\n')
# print(f'   -> v_metric_cd: {v_metric_cd}')
# print(f'   -> v_tm_key_day: {v_tm_key_day}')

# TB1S000600_day_df = chk_src_df.copy()
# TB1S000600_day_df = TB1S000600_day_df.loc[TB1S000600_day_df['METRIC_CD']==v_metric_cd]
# TB1S000600_day_df = TB1S000600_day_df.loc[TB1S000600_day_df['TM_KEY_DAY']>=v_tm_key_day]
# TB1S000600_day_df = TB1S000600_day_df.fillna(0).sort_values(by=['REMARK', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

# mod_col_list = TB1S000600_day_df.iloc[:, 5:12].columns.tolist()
# for col in mod_col_list:
#     TB1S000600_day_df[col] = TB1S000600_day_df[col].apply(lambda x: format(x, ',.0f'))
    
# TB1S000600_day_df