# * Sales Data

## Parameter

In [1]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

pd.set_option('future.no_silent_downcasting', True)

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

## Actual : Monitoring
->  DIM_CORP_KPI

In [2]:
''' Execute Summary Data '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20240101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        SUBSTR(TM_KEY_DAY,1,6) AS TM_KEY_MTH, PRODUCT, COMP_CD, METRIC_CD, METRIC_NAME
        , MAX(LOAD_DATE) LOAD_DATE, MIN(TM_KEY_DAY) AS START_DAY, MAX(TM_KEY_DAY) AS END_DAY
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN METRIC_VALUE END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN METRIC_VALUE END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN METRIC_VALUE END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN METRIC_VALUE END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN METRIC_VALUE END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN METRIC_VALUE END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN METRIC_VALUE END) CCAATT
        , COUNT(DISTINCT AREA_TYPE) CNT_AREA_TYPE, COUNT(DISTINCT AREA_CD) CNT_AREA_CD, COUNT(1) ROW_CNT
    FROM CDSAPPO.DIM_CORP_KPI
    WHERE REGEXP_LIKE(METRIC_CD, 'CS$|CG$') -->> 2025 KPIs
    AND EXISTS (
        SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
        FROM (
            SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
        ) TMP
        WHERE TMP_CD = AREA_CD )
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY SUBSTR(TM_KEY_DAY,1,6), PRODUCT, COMP_CD, METRIC_CD, METRIC_NAME
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Summary DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Summary DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20240101

TDMDBPR : Connected

   -> Execute query... 2025-03-31, 10:21:46

   -> Summary DataFrame : 1054 rows, 18 columns

TDMDBPR : Disconnected

In [3]:
def my_metric_group(v_name):

    # Get : Parameter
    name = v_name
    result = ''
    
    if re.search('Gross Adds', name): result = 'Gross Adds'
    elif re.search('Inflow M1', name): result = 'Inflow M1'
    elif re.search('Inflow M2', name): result = 'Inflow M2'
    elif re.search('No of AP 1D', name): result = 'No of AP 1D'
    elif re.search('Amt of AP 1D', name): result = 'Amt of AP 1D'
    elif re.search('No of AP In Month', name): result = 'No of AP In Month'
    elif re.search('Amt of AP In Month', name): result = 'Amt of AP In Month'
    # elif re.search('CConnected : onsumer', name): result = 'Gross Adds - Con - Consumer'
    # elif re.search('Connected : DataService', name): result = 'Gross Adds - Con - DataService'
    # elif re.search('Registration : Consumer', name): result = 'Gross Adds - Reg - Consumer'
    # elif re.search('Registration : DataService', name): result = 'Gross Adds - Reg - DataService'
    else: result = 'Unknown' 
    
    return result

In [4]:
''' Add Columns '''

chk_src_df['CHANNEL_GRP'] = np.where(chk_src_df['METRIC_CD'].str.contains('CS$'), 'ALL', 'GEO')
chk_src_df['LOCATION_GRP'] = np.where(chk_src_df['METRIC_NAME'].str.contains('Location'), 'Customer', 'Sales')
chk_src_df['METRIC_GRP'] = chk_src_df.apply(lambda x: my_metric_group(str(x['METRIC_NAME'])), axis=1)
# tmp_df['MAIN_FLAG'] = np.where((tmp_df['METRIC_CD'].str.contains('[0-9]C$|[0-9]H$|[0-9]MCOM$|[0-9]CUS$')) | (tmp_df['METRIC_NAME'].str.contains('New Revenue|Existing Revenue')), 'N', 'Y')
# chk_src_df.tail()

# chk_src_df.loc[chk_src_df['PRODUCT']=='TOL'].tail()

### KPIs Summary

In [5]:
''' PREPAID Summary : 14 rows, 24 KPIs '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
product = 'PREPAID'
# channel_grp = 'GEO'

prepaid_df = chk_src_df.copy()
prepaid_df = prepaid_df.loc[prepaid_df['TM_KEY_MTH']==curr_mth]
prepaid_df = prepaid_df.loc[prepaid_df['PRODUCT']==product]
# prepaid_df = prepaid_df.loc[prepaid_df['CHANNEL_GRP']==channel_grp]

prepaid_df['ALL'] = prepaid_df['P']
prepaid_df['TRUE'] = np.where(prepaid_df['COMP_CD']=='TRUE', prepaid_df['P'], 0)
prepaid_df['DTAC'] = np.where(prepaid_df['COMP_CD']=='DTAC', prepaid_df['P'], 0)
prepaid_df['TMP_NAME'] = prepaid_df['METRIC_NAME'].replace(r' : DTAC| : TMH', '', regex=True)

prepaid_df = prepaid_df.groupby(['PRODUCT', 'METRIC_GRP', 'TMP_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'ALL':'sum', 'TRUE':'sum', 'DTAC':'sum'})
prepaid_df = prepaid_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_GRP', 'TMP_NAME']).reset_index()

mod_col_list = prepaid_df.iloc[:, 6:9].columns.tolist()
for col in mod_col_list:
    prepaid_df[col] = prepaid_df[col].apply(lambda x: format(x, ',.0f'))

prepaid_df

,PRODUCT,METRIC_GRP,TMP_NAME,LOAD_DATE,START_DAY,END_DAY,ALL,TRUE,DTAC
0,PREPAID,Amt of AP 1D,Prepaid Amt of AP 1D,2025-03-31 08:04:32,20250301,20250330,"360,750,096","178,319,984","182,430,112"
1,PREPAID,Amt of AP 1D,Prepaid Amt of AP 1D - GEO Channel,2025-03-31 08:04:32,20250301,20250330,"354,321,567","176,482,313","177,839,254"
2,PREPAID,Amt of AP In Month,Prepaid Amt of AP In Month,2025-03-31 08:04:32,20250301,20250330,"394,973,594","191,665,134","203,308,460"
3,PREPAID,Amt of AP In Month,Prepaid Amt of AP In Month - GEO Channel,2025-03-31 08:04:32,20250301,20250330,"388,311,466","189,801,208","198,510,258"
4,PREPAID,Gross Adds,Prepaid Gross Adds,2025-03-31 08:04:32,20250301,20250330,"1,871,818","915,079","956,739"
5,PREPAID,Gross Adds,Prepaid Gross Adds - GEO Channel,2025-03-31 08:04:32,20250301,20250330,"1,853,881","912,038","941,843"
6,PREPAID,Inflow M1,Prepaid Inflow M1,2025-03-31 08:04:32,20250301,20250329,"389,866,025","180,006,404","209,859,621"
7,PREPAID,Inflow M1,Prepaid Inflow M1 - GEO Channel,2025-03-31 08:04:32,20250301,20250329,"383,659,761","178,292,260","205,367,501"
8,PREPAID,Inflow M2,Prepaid Inflow M2,2025-03-31 08:04:32,20250301,20250329,"117,663,459","56,733,118","60,930,340"
9,PREPAID,Inflow M2,Prepaid Inflow M2 - GEO Channel,2025-03-31 08:04:32,20250301,20250329,"116,927,442","56,652,807","60,274,635"
10,PREPAID,No of AP 1D,Prepaid No of AP 1D,2025-03-31 08:04:32,20250301,20250330,"1,555,306","740,572","814,734"
11,PREPAID,No of AP 1D,Prepaid No of AP 1D - GEO Channel,2025-03-31 08:04:32,20250301,20250330,"1,540,286","738,065","802,221"
12,PREPAID,No of AP In Month,Prepaid No of AP In Month,2025-03-31 08:04:32,20250301,20250330,"1,635,534","769,245","866,289"
13,PREPAID,No of AP In Month,Prepaid No of AP In Month - GEO Channel,2025-03-31 08:04:32,20250301,20250330,"1,619,165","766,668","852,497"

In [6]:
''' POSTPAID Summary : 8 rows, 16 KPIs '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
product = 'POSTPAID'
# channel_grp = 'GEO'

postpaid_df = chk_src_df.copy()
postpaid_df = postpaid_df.loc[postpaid_df['TM_KEY_MTH']==curr_mth]
postpaid_df = postpaid_df.loc[postpaid_df['PRODUCT']==product]
# postpaid_df = postpaid_df.loc[postpaid_df['CHANNEL_GRP']==channel_grp]

postpaid_df['ALL'] = postpaid_df['P']
postpaid_df['TRUE'] = np.where(postpaid_df['COMP_CD']=='TRUE', postpaid_df['P'], 0)
postpaid_df['DTAC'] = np.where(postpaid_df['COMP_CD']=='DTAC', postpaid_df['P'], 0)
postpaid_df['TMP_NAME'] = postpaid_df['METRIC_NAME'].replace(r' : DTAC| : TMH', '', regex=True)

postpaid_df = postpaid_df.groupby(['PRODUCT', 'METRIC_GRP', 'TMP_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'ALL':'sum', 'TRUE':'sum', 'DTAC':'sum'})
postpaid_df = postpaid_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_GRP', 'TMP_NAME']).reset_index()

mod_col_list = postpaid_df.iloc[:, 6:9].columns.tolist()
for col in mod_col_list:
    postpaid_df[col] = postpaid_df[col].apply(lambda x: format(x, ',.0f'))

postpaid_df

,PRODUCT,METRIC_GRP,TMP_NAME,LOAD_DATE,START_DAY,END_DAY,ALL,TRUE,DTAC
0,POSTPAID,Gross Adds,Postpaid Gross Adds B2B,2025-03-31 08:38:11,20250301,20250330,"37,612","26,362","11,250"
1,POSTPAID,Gross Adds,Postpaid Gross Adds B2B - GEO Channel,2025-03-31 08:38:11,20250301,20250330,"3,749","3,111",638
2,POSTPAID,Gross Adds,Postpaid Gross Adds B2C,2025-03-31 08:38:11,20250301,20250330,"192,928","153,450","39,478"
3,POSTPAID,Gross Adds,Postpaid Gross Adds B2C - GEO Channel,2025-03-31 08:38:11,20250301,20250330,"94,639","81,342","13,297"
4,POSTPAID,Inflow M1,Postpaid Inflow M1 B2B,2025-03-31 08:38:11,20250301,20250330,"13,814,376","5,278,566","8,535,810"
5,POSTPAID,Inflow M1,Postpaid Inflow M1 B2B - GEO Channel,2025-03-31 08:38:11,20250301,20250330,"3,216,864","2,851,583","365,281"
6,POSTPAID,Inflow M1,Postpaid Inflow M1 B2C,2025-03-31 08:38:11,20250301,20250330,"86,723,053","70,255,034","16,468,019"
7,POSTPAID,Inflow M1,Postpaid Inflow M1 B2C - GEO Channel,2025-03-31 08:38:11,20250301,20250330,"46,166,372","38,894,359","7,272,013"

In [7]:
''' TOL Summary : 20 KPIs'''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
product = 'TOL'
# channel_grp = 'GEO'

tol_df = chk_src_df.copy()
tol_df = tol_df.loc[tol_df['TM_KEY_MTH']==curr_mth]
tol_df = tol_df.loc[tol_df['PRODUCT']==product]
# tol_df = tol_df.loc[tol_df['CHANNEL_GRP']==channel_grp]

tol_df = tol_df.groupby(['PRODUCT', 'METRIC_GRP', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'P':'sum'})
tol_df = tol_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_GRP', 'METRIC_NAME']).reset_index()

mod_col_list = tol_df.iloc[:, 6:7].columns.tolist()
for col in mod_col_list:
    tol_df[col] = tol_df[col].apply(lambda x: format(x, ',.0f'))

tol_df

,PRODUCT,METRIC_GRP,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,P
0,TOL,Gross Adds,TOL Gross Adds Connected : Consumer,2025-03-31 08:00:18,20250301,20250330,"51,283"
1,TOL,Gross Adds,TOL Gross Adds Connected : Consumer (Install L...,2025-03-31 08:00:18,20250301,20250330,"51,283"
2,TOL,Gross Adds,TOL Gross Adds Connected : Consumer - GEO Channel,2025-03-31 08:00:18,20250301,20250330,"40,160"
3,TOL,Gross Adds,TOL Gross Adds Connected : Consumer - GEO Chan...,2025-03-31 08:00:18,20250301,20250330,"40,160"
4,TOL,Gross Adds,TOL Gross Adds Connected : DataService,2025-03-31 08:00:18,20250301,20250330,"1,674"
5,TOL,Gross Adds,TOL Gross Adds Connected : DataService (Instal...,2025-03-31 08:00:18,20250301,20250330,"1,674"
6,TOL,Gross Adds,TOL Gross Adds Connected : DataService - GEO C...,2025-03-31 08:00:18,20250304,20250329,37
7,TOL,Gross Adds,TOL Gross Adds Connected : DataService - GEO C...,2025-03-31 08:00:18,20250304,20250329,37
8,TOL,Gross Adds,TOL Gross Adds Registration : Consumer,2025-03-31 08:00:18,20250301,20250330,"70,007"
9,TOL,Gross Adds,TOL Gross Adds Registration : Consumer - GEO C...,2025-03-31 08:00:18,20250301,20250330,"54,362"
10,TOL,Gross Adds,TOL Gross Adds Registration : DataService,2025-03-31 08:00:18,20250301,20250329,"1,446"
11,TOL,Gross Adds,TOL Gross Adds Registration : DataService - GE...,2025-03-31 08:00:18,20250301,20250328,59
12,TOL,Inflow M1,TOL Inflow M1 Connected : Consumer,2025-03-31 08:00:18,20250301,20250330,"28,021,697"
13,TOL,Inflow M1,TOL Inflow M1 Connected : Consumer (Install Lo...,2025-03-31 08:00:18,20250301,20250330,"28,021,697"
14,TOL,Inflow M1,TOL Inflow M1 Connected : Consumer - GEO Channel,2025-03-31 08:00:18,20250301,20250330,"22,330,052"
15,TOL,Inflow M1,TOL Inflow M1 Connected : Consumer - GEO Chann...,2025-03-31 08:00:18,20250301,20250330,"22,330,052"
16,TOL,Inflow M1,TOL Inflow M1 Connected : DataService,2025-03-31 08:00:18,20250301,20250330,"2,195,792"
17,TOL,Inflow M1,TOL Inflow M1 Connected : DataService (Install...,2025-03-31 08:00:18,20250301,20250330,"2,195,792"
18,TOL,Inflow M1,TOL Inflow M1 Connected : DataService - GEO Ch...,2025-03-31 08:00:18,20250304,20250329,"101,969"
19,TOL,Inflow M1,TOL Inflow M1 Connected : DataService - GEO Ch...,2025-03-31 08:00:18,20250304,20250329,"101,969"

In [8]:
''' TVS Summary : 8 KPIs '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
product = 'TVS'
# channel_grp = 'GEO'

tvs_df = chk_src_df.copy()
tvs_df = tvs_df.loc[tvs_df['TM_KEY_MTH']==curr_mth]
tvs_df = tvs_df.loc[tvs_df['PRODUCT']==product]
# tvs_df = tvs_df.loc[tvs_df['CHANNEL_GRP']==channel_grp]

tvs_df = tvs_df.groupby(['PRODUCT', 'METRIC_GRP', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'P':'sum'})
tvs_df = tvs_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_GRP', 'METRIC_NAME']).reset_index()

mod_col_list = tvs_df.iloc[:, 6:7].columns.tolist()
for col in mod_col_list:
    tvs_df[col] = tvs_df[col].apply(lambda x: format(x, ',.0f'))

tvs_df

,PRODUCT,METRIC_GRP,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,P
0,TVS,Gross Adds,TVS CMDU Gross Adds,2025-03-31 08:49:13,20250301,20250325,52
1,TVS,Gross Adds,TVS CMDU Gross Adds - GEO Channel,2025-03-31 08:49:13,20250304,20250325,16
2,TVS,Gross Adds,TVS Now Gross Adds,2025-03-31 08:49:13,20250301,20250329,"2,015"
3,TVS,Gross Adds,TVS Now Gross Adds - GEO Channel,2025-03-31 08:49:13,20250301,20250329,"2,013"
4,TVS,Inflow M1,TVS CMDU Inflow M1,2025-03-31 08:49:13,20250301,20250325,"320,454"
5,TVS,Inflow M1,TVS CMDU Inflow M1 - GEO Channel,2025-03-31 08:49:13,20250304,20250325,"64,398"
6,TVS,Inflow M1,TVS Now Inflow M1,2025-03-31 08:49:13,20250301,20250329,"472,499"
7,TVS,Inflow M1,TVS Now Inflow M1 - GEO Channel,2025-03-31 08:49:13,20250301,20250329,"472,277"

### Monitoring

In [9]:
''' Current Month Gross Adds '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
ga_metric_list = [
    'DB2S010100CS' #Postpaid Gross Adds B2C : DTAC
    , 'DB2S020100CS' #Postpaid Gross Adds B2B : DTAC
    , 'TB2S010100CS' #Postpaid Gross Adds B2C : TMH
    , 'TB2S020100CS' #Postpaid Gross Adds B2B : TMH
    , 'DB1S000101CS' #Prepaid Gross Adds : DTAC
    , 'TB1S000101CS' #Prepaid Gross Adds : TMH
    , 'TB3S000102CS' #TOL Gross Adds Connected : Consumer
    , 'TB3S000103CS' #TOL Gross Adds Connected : DataService
    , 'TB3S000104CS' #TOL Gross Adds Registration : Consumer
    , 'TB3S000105CS' #TOL Gross Adds Registration : DataService
    , 'TB4S001004CS' #TVS CMDU Gross Adds
    , 'TB4S001400CS' #TVS Now Gross Adds
    ]

src_ga_overall_df = chk_src_df.copy()
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['TM_KEY_MTH']==curr_mth]
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['METRIC_CD'].isin(ga_metric_list)]
src_ga_overall_df = src_ga_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_ga_overall_df = src_ga_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_ga_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_ga_overall_df[col] = src_ga_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_ga_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,2025-03-31 08:38:11,20250301,20250329,0,"39,478","39,184","39,184","39,184","39,184","39,184",7,5686,38154
1,POSTPAID,DB2S020100CS,Postpaid Gross Adds B2B : DTAC,2025-03-31 08:38:11,20250301,20250329,0,"11,250","4,397","4,397","4,397","4,397","4,397",7,1181,4924
2,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,2025-03-31 08:38:11,20250301,20250330,0,"153,450","110,360","110,360","110,360","110,360","110,360",7,1470,28154
3,POSTPAID,TB2S020100CS,Postpaid Gross Adds B2B : TMH,2025-03-31 08:38:11,20250301,20250330,0,"26,362","3,117","3,117","3,117","3,117","3,117",7,731,4959
4,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,2025-03-31 08:04:32,20250301,20250329,0,"956,739","832,097","832,097","910,612","926,699","921,849",7,6913,100509
5,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,2025-03-31 08:04:32,20250301,20250330,0,"915,079","697,124","697,124","673,593","697,124","697,086",7,5803,110016
6,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,2025-03-31 08:00:18,20250301,20250330,0,"51,283","40,161","40,161","39,778","40,161","40,161",7,1180,22611
7,TOL,TB3S000103CS,TOL Gross Adds Connected : DataService,2025-03-31 08:00:18,20250301,20250330,0,"1,674",37,37,37,37,37,7,82,150
8,TOL,TB3S000104CS,TOL Gross Adds Registration : Consumer,2025-03-31 08:00:18,20250301,20250330,0,"70,007","54,356","54,356","53,860","54,356","54,356",7,1186,23363
9,TOL,TB3S000105CS,TOL Gross Adds Registration : DataService,2025-03-31 08:00:18,20250301,20250329,0,"1,446",59,59,59,59,59,7,86,187
10,TVS,TB4S001004CS,TVS CMDU Gross Adds,2025-03-31 08:49:13,20250301,20250325,0,52,52,52,52,52,52,7,54,226
11,TVS,TB4S001400CS,TVS Now Gross Adds,2025-03-31 08:49:13,20250301,20250329,0,"2,015","2,013","2,013","2,013","2,013","2,013",7,645,4805

In [10]:
''' Average Gross Adds per Month '''

avg_range_start = '202401'
avg_range_end = '202502'
ga_metric_list = [
    'DB2S010100CS' #Postpaid Gross Adds B2C : DTAC
    , 'DB2S020100CS' #Postpaid Gross Adds B2B : DTAC
    , 'TB2S010100CS' #Postpaid Gross Adds B2C : TMH
    , 'TB2S020100CS' #Postpaid Gross Adds B2B : TMH
    , 'DB1S000101CS' #Prepaid Gross Adds : DTAC
    , 'TB1S000101CS' #Prepaid Gross Adds : TMH
    , 'TB3S000102CS' #TOL Gross Adds Connected : Consumer
    , 'TB3S000103CS' #TOL Gross Adds Connected : DataService
    , 'TB3S000104CS' #TOL Gross Adds Registration : Consumer
    , 'TB3S000105CS' #TOL Gross Adds Registration : DataService
    , 'TB4S001004CS' #TVS CMDU Gross Adds
    , 'TB4S001400CS' #TVS Now Gross Adds
    ]

src_ga_overall_df = chk_src_df.copy()
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['TM_KEY_MTH'].between(avg_range_start, avg_range_end)]
src_ga_overall_df = src_ga_overall_df.loc[src_ga_overall_df['METRIC_CD'].isin(ga_metric_list)]
src_ga_overall_df = src_ga_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'mean', 'P':'mean', 'G':'mean', 'H':'mean', 'HH':'mean', 'CCAA':'mean', 'CCAATT':'mean', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_ga_overall_df = src_ga_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_ga_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_ga_overall_df[col] = src_ga_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_ga_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,2025-03-31 08:38:11,20240101,20250228,0,"62,952","61,001","61,001","61,001","61,001","61,001",7,6204,657186
1,POSTPAID,DB2S020100CS,Postpaid Gross Adds B2B : DTAC,2025-03-31 08:38:11,20240101,20250228,0,"9,947","5,395","5,395","5,395","5,395","5,395",7,1528,74902
2,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,2025-03-31 08:38:11,20240101,20250228,0,"152,413","102,608","102,608","102,608","102,608","102,608",7,2211,409848
3,POSTPAID,TB2S020100CS,Postpaid Gross Adds B2B : TMH,2025-03-31 08:38:11,20240101,20250228,0,"24,861","8,465","8,465","8,465","8,465","8,465",7,781,59643
4,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,2025-03-31 08:04:32,20240101,20250228,0,"1,370,010","1,315,762","1,315,762","1,305,571","1,323,604","1,315,515",7,7441,1577122
5,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,2025-03-31 08:04:32,20240101,20250228,0,"1,149,759","954,285","954,285","932,410","954,285","954,219",7,5817,1671756
6,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,2025-03-31 08:00:18,20240102,20250228,0,"46,522","32,998","32,998","34,286","34,612","34,597",7,1214,307979
7,TOL,TB3S000103CS,TOL Gross Adds Connected : DataService,2025-03-31 08:00:18,20240102,20250228,0,"1,574",34,34,35,35,35,7,99,2005
8,TOL,TB3S000104CS,TOL Gross Adds Registration : Consumer,2025-03-31 08:00:18,20240101,20250228,0,"63,752","44,821","44,821","46,597","47,021","46,996",7,1243,324801
9,TOL,TB3S000105CS,TOL Gross Adds Registration : DataService,2025-03-31 08:00:18,20240101,20250228,0,"3,488","1,103","1,103","1,094","1,114","1,114",7,620,25550
10,TVS,TB4S001004CS,TVS CMDU Gross Adds,2025-03-31 08:49:13,20240101,20250228,0,148,130,130,130,130,130,7,137,6041
11,TVS,TB4S001400CS,TVS Now Gross Adds,2025-03-31 08:49:13,20240701,20250228,0,"1,124","1,124","1,124","1,124","1,124","1,124",7,657,23497

In [11]:
''' Current Month Inflow '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
inflow_metric_list = [
    'DB2R010500CS' #Postpaid Inflow M1 B2C : DTAC
    , 'DB2R020500CS' #Postpaid Inflow M1 B2B : DTAC
    , 'TB2R010500CS' #Postpaid Inflow M1 B2C : TMH
    , 'TB2R020500CS' #Postpaid Inflow M1 B2B : TMH
    , 'DB1R000900CS' #Prepaid Inflow M1 : DTAC
    , 'TB1R000900CS' #Prepaid Inflow M1 : TMH
    , 'TB3R000601CS' #TOL Inflow M1 Connected : Consumer
    , 'TB3R000602CS' #TOL Inflow M1 Connected : DataService
    , 'TB4R001004CS' #TVS CMDU Inflow M1
    , 'TB4R001700CS' #TVS Now Inflow M1
    , 'DB1R001000CS' #Prepaid Inflow M2 : DTAC
    , 'TB1R001000CS' #Prepaid Inflow M2 : TMH
    ]

src_inflow_overall_df = chk_src_df.copy()
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['TM_KEY_MTH']==curr_mth]
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['METRIC_CD'].isin(inflow_metric_list)]
src_inflow_overall_df = src_inflow_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_inflow_overall_df = src_inflow_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_inflow_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_inflow_overall_df[col] = src_inflow_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_inflow_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2R010500CS,Postpaid Inflow M1 B2C : DTAC,2025-03-31 08:38:11,20250301,20250329,0,"16,468,019","16,311,529","16,311,529","16,311,529","16,311,529","16,311,529",7,5686,38154
1,POSTPAID,DB2R020500CS,Postpaid Inflow M1 B2B : DTAC,2025-03-31 08:38:11,20250301,20250329,0,"8,535,810","1,673,466","1,673,466","1,673,466","1,673,466","1,673,466",7,1181,4924
2,POSTPAID,TB2R010500CS,Postpaid Inflow M1 B2C : TMH,2025-03-31 08:38:11,20250301,20250330,0,"70,255,034","56,113,605","56,113,605","56,113,605","56,113,605","56,113,605",7,1470,28154
3,POSTPAID,TB2R020500CS,Postpaid Inflow M1 B2B : TMH,2025-03-31 08:38:11,20250301,20250330,0,"5,278,566","2,854,977","2,854,977","2,854,977","2,854,977","2,854,977",7,731,4959
4,PREPAID,DB1R000900CS,Prepaid Inflow M1 : DTAC,2025-03-31 08:04:32,20250301,20250329,0,"209,859,621","185,962,069","185,962,069","202,070,496","205,995,859","204,882,214",7,6901,150299
5,PREPAID,DB1R001000CS,Prepaid Inflow M2 : DTAC,2025-03-31 08:04:32,20250301,20250329,0,"60,930,340","51,816,042","51,816,042","59,404,272","60,255,419","59,621,906",7,6850,176000
6,PREPAID,TB1R000900CS,Prepaid Inflow M1 : TMH,2025-03-31 08:04:32,20250301,20250328,0,"180,006,404","140,478,175","140,478,175","135,576,967","140,478,175","140,471,493",7,5764,128604
7,PREPAID,TB1R001000CS,Prepaid Inflow M2 : TMH,2025-03-31 08:04:32,20250301,20250328,0,"56,733,118","55,721,153","55,721,153","54,647,143","55,721,153","55,714,486",7,5689,138445
8,TOL,TB3R000601CS,TOL Inflow M1 Connected : Consumer,2025-03-31 08:00:18,20250301,20250330,0,"28,021,697","22,329,687","22,329,687","22,102,087","22,329,687","22,329,687",7,1180,22611
9,TOL,TB3R000602CS,TOL Inflow M1 Connected : DataService,2025-03-31 08:00:18,20250301,20250330,0,"2,195,792","101,969","101,969","101,969","101,969","101,969",7,82,150
10,TVS,TB4R001004CS,TVS CMDU Inflow M1,2025-03-31 08:49:13,20250301,20250325,0,"320,454","320,454","320,454","320,454","320,454","320,454",7,54,226
11,TVS,TB4R001700CS,TVS Now Inflow M1,2025-03-31 08:49:13,20250301,20250329,0,"472,499","472,296","472,296","472,296","472,296","472,296",7,645,4805

In [12]:
''' Average Inflow per Month '''

avg_range_start = '202401'
avg_range_end = '202502'
inflow_metric_list = [
    'DB2R010500CS' #Postpaid Inflow M1 B2C : DTAC
    , 'DB2R020500CS' #Postpaid Inflow M1 B2B : DTAC
    , 'TB2R010500CS' #Postpaid Inflow M1 B2C : TMH
    , 'TB2R020500CS' #Postpaid Inflow M1 B2B : TMH
    , 'DB1R000900CS' #Prepaid Inflow M1 : DTAC
    , 'TB1R000900CS' #Prepaid Inflow M1 : TMH
    , 'TB3R000601CS' #TOL Inflow M1 Connected : Consumer
    , 'TB3R000602CS' #TOL Inflow M1 Connected : DataService
    , 'TB4R001004CS' #TVS CMDU Inflow M1
    , 'TB4R001700CS' #TVS Now Inflow M1
    , 'DB1R001000CS' #Prepaid Inflow M2 : DTAC
    , 'TB1R001000CS' #Prepaid Inflow M2 : TMH
    ]

src_inflow_overall_df = chk_src_df.copy()
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['TM_KEY_MTH'].between(avg_range_start, avg_range_end)]
src_inflow_overall_df = src_inflow_overall_df.loc[src_inflow_overall_df['METRIC_CD'].isin(inflow_metric_list)]
src_inflow_overall_df = src_inflow_overall_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum', 'CCAA':'sum', 'CCAATT':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
src_inflow_overall_df = src_inflow_overall_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

mod_col_list = src_inflow_overall_df.iloc[:, 6:13].columns.tolist()
for col in mod_col_list:
    src_inflow_overall_df[col] = src_inflow_overall_df[col].apply(lambda x: format(x, ',.0f'))

src_inflow_overall_df

,PRODUCT,METRIC_CD,METRIC_NAME,LOAD_DATE,START_DAY,END_DAY,C,P,G,H,HH,CCAA,CCAATT,CNT_AREA_TYPE,CNT_AREA_CD,ROW_CNT
0,POSTPAID,DB2R010500CS,Postpaid Inflow M1 B2C : DTAC,2025-03-31 08:38:11,20240101,20250228,0,"381,577,081","372,746,838","372,746,838","372,746,838","372,746,838","372,746,838",7,6204,657186
1,POSTPAID,DB2R020500CS,Postpaid Inflow M1 B2B : DTAC,2025-03-31 08:38:11,20240101,20250228,0,"137,554,957","25,803,178","25,803,178","25,803,178","25,803,178","25,803,178",7,1528,74902
2,POSTPAID,TB2R010500CS,Postpaid Inflow M1 B2C : TMH,2025-03-31 08:38:11,20240101,20250228,0,"892,798,861","686,190,728","686,190,728","686,190,728","686,190,728","686,190,728",7,2211,409848
3,POSTPAID,TB2R020500CS,Postpaid Inflow M1 B2B : TMH,2025-03-31 08:38:11,20240101,20250228,0,"78,786,203","33,347,478","33,347,478","33,347,478","33,347,478","33,347,478",7,781,59643
4,PREPAID,DB1R000900CS,Prepaid Inflow M1 : DTAC,2025-03-31 08:04:32,20240101,20250228,0,"3,575,366,338","3,494,329,040","3,494,329,040","3,462,849,849","3,517,392,428","3,493,806,293",7,7418,2373492
5,PREPAID,DB1R001000CS,Prepaid Inflow M2 : DTAC,2025-03-31 08:04:32,20240201,20250228,0,"1,018,625,276","995,812,331","995,812,331","993,869,298","1,005,487,512","993,973,720",7,7294,2559496
6,PREPAID,TB1R000900CS,Prepaid Inflow M1 : TMH,2025-03-31 08:04:32,20240101,20250228,0,"2,736,943,469","2,376,984,888","2,376,984,888","2,308,755,337","2,376,984,888","2,376,829,121",7,5793,1952685
7,PREPAID,TB1R001000CS,Prepaid Inflow M2 : TMH,2025-03-31 08:04:32,20240101,20250228,0,"997,560,166","988,072,190","988,072,190","970,164,151","988,072,190","987,964,726",7,5739,2116490
8,TOL,TB3R000601CS,TOL Inflow M1 Connected : Consumer,2025-03-31 08:00:18,20240102,20250228,0,"359,959,644","260,255,836","260,255,836","270,547,034","273,372,494","273,249,869",7,1214,307979
9,TOL,TB3R000602CS,TOL Inflow M1 Connected : DataService,2025-03-31 08:00:18,20240102,20250228,0,"26,851,654","1,478,429","1,478,429","1,514,815","1,517,914","1,517,914",7,99,2005
10,TVS,TB4R001004CS,TVS CMDU Inflow M1,2025-03-31 08:49:13,20240101,20250228,0,"13,495,660","11,373,891","11,373,891","11,373,891","11,373,891","11,373,891",7,137,6041
11,TVS,TB4R001700CS,TVS Now Inflow M1,2025-03-31 08:49:13,20240701,20250228,0,"4,317,929","4,305,053","4,305,053","4,305,053","4,305,053","4,305,053",7,657,23497

### All Metric

In [13]:
''' METRIC Summary '''

# src_t_sales_mth_df = chk_src_df.copy()
# src_t_sales_mth_df = src_t_sales_mth_df.groupby(['PRODUCT', 'METRIC_CD', 'METRIC_NAME']).agg({'LOAD_DATE':'max', 'START_DAY':'min', 'END_DAY':'max', 'P':'sum', 'CNT_AREA_TYPE':'max', 'CNT_AREA_CD':'max', 'ROW_CNT':'sum'})
# src_t_sales_mth_df = src_t_sales_mth_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD']).reset_index()

# mod_col_list = src_t_sales_mth_df.iloc[:, 6:7].columns.tolist()
# for col in mod_col_list:
#     src_t_sales_mth_df[col] = src_t_sales_mth_df[col].apply(lambda x: format(x, ',.0f'))

# print(f'\n{src_t_sales_mth_df.to_string(max_cols=10)}')

' METRIC Summary '

In [14]:
''' METRIC Current Month '''

# # v_tm_key_mth = '202502'
# curr_mth = chk_src_df['TM_KEY_MTH'].max()
# src_t_sales_mth_df_cols = ['PRODUCT', 'METRIC_CD', 'METRIC_NAME', 'LOAD_DATE', 'TM_KEY_MTH', 'START_DAY', 'END_DAY', 'C', 'P', 'G', 'H', 'HH', 'CCAA', 'CCAATT']
# print(f'\nParameter input...\n')
# print(f'   -> v_tm_key_mth: {curr_mth}')

# src_t_sales_mth_df = chk_src_df[src_t_sales_mth_df_cols].copy()
# src_t_sales_mth_df = src_t_sales_mth_df.loc[src_t_sales_mth_df['TM_KEY_MTH']==curr_mth]
# src_t_sales_mth_df = src_t_sales_mth_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_MTH']).reset_index(drop=True)

# mod_col_list = src_t_sales_mth_df.iloc[:, 7:14].columns.tolist()
# for col in mod_col_list:
#     src_t_sales_mth_df[col] = src_t_sales_mth_df[col].apply(lambda x: format(x, ',.0f'))

# print(f'\n{src_t_sales_mth_df.to_string(max_cols=17)}')

' METRIC Current Month '

## Actual : Transaction
->  DIM_CORP_KPI

In [15]:
''' Execute Daily by case '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20250101
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        PRODUCT, METRIC_CD, METRIC_NAME, TM_KEY_DAY
        , MAX(LOAD_DATE) LOAD_DATE
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN METRIC_VALUE END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN METRIC_VALUE END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN METRIC_VALUE END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN METRIC_VALUE END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN METRIC_VALUE END) HH
        , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN METRIC_VALUE END) CCAA
        , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN METRIC_VALUE END) CCAATT
    FROM CDSAPPO.DIM_CORP_KPI
    WHERE REGEXP_LIKE(METRIC_CD, 'CS$|CG$') -->> 2025 KPIs
    AND EXISTS (
        SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
        FROM (
            SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
        ) TMP
        WHERE TMP_CD = AREA_CD )
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY PRODUCT, METRIC_CD, METRIC_NAME, TM_KEY_DAY
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')

    # Get : Summary DataFrame
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> Daily DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

Parameter input...

   -> v_start_date: 20250101

TDMDBPR : Connected

   -> Execute query... 2025-03-31, 10:25:18

   -> Daily DataFrame : 6031 rows, 12 columns

TDMDBPR : Disconnected

In [16]:
''' METRIC by Day '''

v_tm_key_day = 20250101
print(f'\nParameter input...\n')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

src_sale_day_df = chk_src_df.copy()
src_sale_day_df = src_sale_day_df.loc[src_sale_day_df['TM_KEY_DAY']>=v_tm_key_day]
src_sale_day_df = src_sale_day_df.fillna(0).sort_values(by=['METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = src_sale_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    src_sale_day_df[col] = src_sale_day_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\nCreate : src_sale_day_df...')
print(f'\n   -> DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')
# print(f'\n{src_sale_day_df.to_string(max_cols=12)}')

Parameter input...

   -> v_tm_key_day: 20250101

Create : src_sale_day_df...

   -> DataFrame : 6031 rows, 12 columns

In [17]:
''' xB1S000101CS : Prepaid Gross Adds : xxx '''

v_tm_key_day = 20250301
v_metric_cd = ['DB1S000101CS', 'TB1S000101CS']
print(f'\nDB1S000101CS : Prepaid Gross Adds : DTAC\nTB1S000101CS : Prepaid Gross Adds : TMH\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

xB1S000101CS_day_df = chk_src_df.copy()
xB1S000101CS_day_df = xB1S000101CS_day_df.loc[xB1S000101CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
xB1S000101CS_day_df = xB1S000101CS_day_df.loc[xB1S000101CS_day_df['METRIC_CD'].isin(v_metric_cd)]
xB1S000101CS_day_df = xB1S000101CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = xB1S000101CS_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    xB1S000101CS_day_df[col] = xB1S000101CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
xB1S000101CS_day_df

DB1S000101CS : Prepaid Gross Adds : DTAC
TB1S000101CS : Prepaid Gross Adds : TMH

   -> v_metric_cd: ['DB1S000101CS', 'TB1S000101CS']
   -> v_tm_key_day: 20250301

,PRODUCT,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250301,2025-03-31 08:04:32,0,"39,049","33,586","33,586","36,734","37,288","37,073"
1,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250302,2025-03-31 08:04:32,0,"41,058","33,973","33,973","37,310","37,911","37,496"
2,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250303,2025-03-31 08:04:32,0,"35,155","30,339","30,339","33,574","34,442","34,283"
3,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250304,2025-03-31 08:04:32,0,"33,235","28,890","28,890","32,039","32,829","32,692"
4,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250305,2025-03-31 08:04:32,0,"34,208","29,931","29,931","33,070","33,765","33,632"
5,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250306,2025-03-31 08:04:32,0,"36,486","32,198","32,198","35,114","36,019","35,856"
6,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250307,2025-03-31 08:04:32,0,"38,198","32,973","32,973","35,636","36,527","36,388"
7,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250308,2025-03-31 08:04:32,0,"33,204","29,014","29,014","31,950","32,551","32,396"
8,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250309,2025-03-31 08:04:32,0,"33,337","29,012","29,012","32,019","32,537","32,180"
9,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250310,2025-03-31 08:04:32,0,"32,484","28,389","28,389","31,176","31,792","31,654"
10,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250311,2025-03-31 08:04:32,0,"33,138","29,030","29,030","31,483","32,131","31,982"
11,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250312,2025-03-31 08:04:32,0,"33,216","29,504","29,504","31,945","32,490","32,368"
12,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250313,2025-03-31 08:04:32,0,"33,156","29,444","29,444","31,572","32,258","32,158"
13,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250314,2025-03-31 08:04:32,0,"32,528","28,798","28,798","31,003","31,621","31,516"
14,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250315,2025-03-31 08:04:32,0,"31,445","28,012","28,012","30,400","30,891","30,732"
15,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250316,2025-03-31 08:04:32,0,"31,298","27,485","27,485","30,131","30,685","30,359"
16,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250317,2025-03-31 08:04:32,0,"29,808","25,859","25,859","28,615","29,070","28,922"
17,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250318,2025-03-31 08:04:32,0,"28,539","24,615","24,615","27,228","27,665","27,546"
18,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250319,2025-03-31 08:04:32,0,"28,446","24,741","24,741","27,298","27,837","27,714"
19,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250320,2025-03-31 08:04:32,0,"33,338","29,500","29,500","32,070","32,518","32,378"
20,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250321,2025-03-31 08:04:32,0,"32,140","28,591","28,591","30,941","31,473","31,324"
21,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250322,2025-03-31 08:04:32,0,"30,730","26,298","26,298","28,745","29,092","28,949"
22,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250323,2025-03-31 08:04:32,0,"31,247","26,337","26,337","28,888","29,299","28,969"
23,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250324,2025-03-31 08:04:32,0,"28,954","24,510","24,510","27,252","27,643","27,509"
24,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250325,2025-03-31 08:04:32,0,"28,170","24,321","24,321","26,954","27,420","27,330"
25,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250326,2025-03-31 08:04:32,0,"29,991","25,746","25,746","28,565","28,955","28,843"
26,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250327,2025-03-31 08:04:32,0,"33,415","29,426","29,426","32,014","32,426","32,302"
27,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250328,2025-03-31 08:04:32,0,"36,406","32,140","32,140","34,770","35,110","35,011"
28,PREPAID,DB1S000101CS,Prepaid Gross Adds : DTAC,20250329,2025-03-31 08:04:32,0,"34,360","29,435","29,435","32,116","32,454","32,287"
29,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250301,2025-03-31 08:04:32,0,"32,433","24,362","24,362","23,554","24,362","24,360"
30,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250302,2025-03-31 08:04:32,0,"33,097","26,044","26,044","25,130","26,044","26,041"
31,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250303,2025-03-31 08:04:32,0,"35,241","28,193","28,193","27,330","28,193","28,192"
32,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250304,2025-03-31 08:04:32,0,"30,941","24,453","24,453","23,574","24,453","24,452"
33,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250305,2025-03-31 08:04:32,0,"32,733","24,931","24,931","24,131","24,931","24,930"
34,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250306,2025-03-31 08:04:32,0,"31,896","23,612","23,612","22,850","23,612","23,610"
35,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250307,2025-03-31 08:04:32,0,"33,174","23,940","23,940","23,186","23,940","23,936"
36,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250308,2025-03-31 08:04:32,0,"32,841","23,665","23,665","22,949","23,665","23,665"
37,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250309,2025-03-31 08:04:32,0,"31,241","23,118","23,118","22,396","23,118","23,117"
38,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250310,2025-03-31 08:04:32,0,"37,032","29,194","29,194","28,458","29,194","29,193"
39,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250311,2025-03-31 08:04:32,0,"32,622","25,228","25,228","24,635","25,228","25,225"
40,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250312,2025-03-31 08:04:32,0,"30,337","23,224","23,224","22,599","23,224","23,224"
41,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250313,2025-03-31 08:04:32,0,"29,647","22,035","22,035","21,275","22,035","22,035"
42,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250314,2025-03-31 08:04:32,0,"31,895","23,229","23,229","22,339","23,229","23,229"
43,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250315,2025-03-31 08:04:32,0,"31,638","23,044","23,044","22,308","23,044","23,044"
44,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250316,2025-03-31 08:04:32,0,"28,930","21,865","21,865","21,076","21,865","21,863"
45,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250317,2025-03-31 08:04:32,0,"30,696","23,980","23,980","23,199","23,980","23,980"
46,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250318,2025-03-31 08:04:32,0,"28,827","22,573","22,573","21,627","22,573","22,569"
47,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250319,2025-03-31 08:04:32,0,"29,049","22,083","22,083","21,094","22,083","22,082"
48,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250320,2025-03-31 08:04:32,0,"30,033","22,205","22,205","21,445","22,205","22,204"
49,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250321,2025-03-31 08:04:32,0,"32,492","24,750","24,750","23,733","24,750","24,748"
50,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250322,2025-03-31 08:04:32,0,"30,068","22,609","22,609","21,734","22,609","22,609"
51,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250323,2025-03-31 08:04:32,0,"27,133","20,897","20,897","20,068","20,897","20,896"
52,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250324,2025-03-31 08:04:32,0,"36,541","29,749","29,749","28,791","29,749","29,748"
53,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250325,2025-03-31 08:04:32,0,"29,865","23,730","23,730","22,817","23,730","23,729"
54,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250326,2025-03-31 08:04:32,0,"30,765","24,259","24,259","23,351","24,259","24,257"
55,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250327,2025-03-31 08:04:32,0,"31,786","23,506","23,506","22,662","23,506","23,503"
56,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250328,2025-03-31 08:04:32,0,"31,270","23,877","23,877","23,138","23,877","23,876"
57,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250329,2025-03-31 08:04:32,0,"30,074","22,583","22,583","21,960","22,583","22,583"
58,PREPAID,TB1S000101CS,Prepaid Gross Adds : TMH,20250330,2025-03-31 08:04:32,0,782,186,186,184,186,186

In [18]:
''' xB2S010100CS : Postpaid Gross Adds B2C : xxx '''

v_tm_key_day = 20250301
v_metric_cd = ['DB2S010100CS', 'TB2S010100CS']
print(f'\nDB2S010100CS : Postpaid Gross Adds : DTAC\nTB2S010100CS : Postpaid Gross Adds : TMH\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

xB2S010100CS_day_df = chk_src_df.copy()
xB2S010100CS_day_df = xB2S010100CS_day_df.loc[xB2S010100CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
xB2S010100CS_day_df = xB2S010100CS_day_df.loc[xB2S010100CS_day_df['METRIC_CD'].isin(v_metric_cd)]
xB2S010100CS_day_df = xB2S010100CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = xB2S010100CS_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    xB2S010100CS_day_df[col] = xB2S010100CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
xB2S010100CS_day_df

DB2S010100CS : Postpaid Gross Adds : DTAC
TB2S010100CS : Postpaid Gross Adds : TMH

   -> v_metric_cd: ['DB2S010100CS', 'TB2S010100CS']
   -> v_tm_key_day: 20250301

,PRODUCT,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250301,2025-03-31 08:38:11,0,"1,143","1,138","1,138","1,138","1,138","1,138"
1,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250302,2025-03-31 08:38:11,0,888,887,887,887,887,887
2,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250303,2025-03-31 08:38:11,0,"1,362","1,354","1,354","1,354","1,354","1,354"
3,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250304,2025-03-31 08:38:11,0,"1,696","1,684","1,684","1,684","1,684","1,684"
4,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250305,2025-03-31 08:38:11,0,"1,383","1,373","1,373","1,373","1,373","1,373"
5,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250306,2025-03-31 08:38:11,0,"1,707","1,688","1,688","1,688","1,688","1,688"
6,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250307,2025-03-31 08:38:11,0,"1,366","1,359","1,359","1,359","1,359","1,359"
7,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250308,2025-03-31 08:38:11,0,"1,164","1,156","1,156","1,156","1,156","1,156"
8,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250309,2025-03-31 08:38:11,0,834,832,832,832,832,832
9,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250310,2025-03-31 08:38:11,0,"1,525","1,514","1,514","1,514","1,514","1,514"
10,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250311,2025-03-31 08:38:11,0,"1,425","1,416","1,416","1,416","1,416","1,416"
11,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250312,2025-03-31 08:38:11,0,"1,201","1,196","1,196","1,196","1,196","1,196"
12,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250313,2025-03-31 08:38:11,0,"1,328","1,312","1,312","1,312","1,312","1,312"
13,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250314,2025-03-31 08:38:11,0,"1,133","1,119","1,119","1,119","1,119","1,119"
14,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250315,2025-03-31 08:38:11,0,"1,050","1,037","1,037","1,037","1,037","1,037"
15,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250316,2025-03-31 08:38:11,0,795,794,794,794,794,794
16,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250317,2025-03-31 08:38:11,0,"1,616","1,602","1,602","1,602","1,602","1,602"
17,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250318,2025-03-31 08:38:11,0,"1,786","1,778","1,778","1,778","1,778","1,778"
18,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250319,2025-03-31 08:38:11,0,"1,769","1,756","1,756","1,756","1,756","1,756"
19,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250320,2025-03-31 08:38:11,0,"1,768","1,749","1,749","1,749","1,749","1,749"
20,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250321,2025-03-31 08:38:11,0,"1,711","1,696","1,696","1,696","1,696","1,696"
21,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250322,2025-03-31 08:38:11,0,"1,474","1,461","1,461","1,461","1,461","1,461"
22,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250323,2025-03-31 08:38:11,0,896,891,891,891,891,891
23,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250324,2025-03-31 08:38:11,0,"1,415","1,406","1,406","1,406","1,406","1,406"
24,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250325,2025-03-31 08:38:11,0,"1,639","1,631","1,631","1,631","1,631","1,631"
25,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250326,2025-03-31 08:38:11,0,"1,491","1,477","1,477","1,477","1,477","1,477"
26,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250327,2025-03-31 08:38:11,0,"1,287","1,273","1,273","1,273","1,273","1,273"
27,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250328,2025-03-31 08:38:11,0,"1,350","1,342","1,342","1,342","1,342","1,342"
28,POSTPAID,DB2S010100CS,Postpaid Gross Adds B2C : DTAC,20250329,2025-03-31 08:38:11,0,"1,276","1,263","1,263","1,263","1,263","1,263"
29,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250301,2025-03-31 08:38:11,0,"4,968","3,885","3,885","3,885","3,885","3,885"
30,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250302,2025-03-31 08:38:11,0,"5,873","4,762","4,762","4,762","4,762","4,762"
31,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250303,2025-03-31 08:38:11,0,"5,308","3,772","3,772","3,772","3,772","3,772"
32,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250304,2025-03-31 08:38:11,0,"5,975","4,182","4,182","4,182","4,182","4,182"
33,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250305,2025-03-31 08:38:11,0,"5,185","3,590","3,590","3,590","3,590","3,590"
34,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250306,2025-03-31 08:38:11,0,"5,031","3,502","3,502","3,502","3,502","3,502"
35,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250307,2025-03-31 08:38:11,0,"4,840","3,309","3,309","3,309","3,309","3,309"
36,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250308,2025-03-31 08:38:11,0,"5,290","3,857","3,857","3,857","3,857","3,857"
37,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250309,2025-03-31 08:38:11,0,"5,625","4,361","4,361","4,361","4,361","4,361"
38,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250310,2025-03-31 08:38:11,0,"4,926","3,445","3,445","3,445","3,445","3,445"
39,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250311,2025-03-31 08:38:11,0,"6,084","4,275","4,275","4,275","4,275","4,275"
40,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250312,2025-03-31 08:38:11,0,"4,874","3,160","3,160","3,160","3,160","3,160"
41,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250313,2025-03-31 08:38:11,0,"4,738","3,024","3,024","3,024","3,024","3,024"
42,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250314,2025-03-31 08:38:11,0,"4,924","3,309","3,309","3,309","3,309","3,309"
43,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250315,2025-03-31 08:38:11,0,"5,036","3,753","3,753","3,753","3,753","3,753"
44,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250316,2025-03-31 08:38:11,0,"5,112","4,048","4,048","4,048","4,048","4,048"
45,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250317,2025-03-31 08:38:11,0,"4,667","3,248","3,248","3,248","3,248","3,248"
46,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250318,2025-03-31 08:38:11,0,"5,464","3,952","3,952","3,952","3,952","3,952"
47,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250319,2025-03-31 08:38:11,0,"4,533","3,118","3,118","3,118","3,118","3,118"
48,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250320,2025-03-31 08:38:11,0,"4,594","3,163","3,163","3,163","3,163","3,163"
49,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250321,2025-03-31 08:38:11,0,"4,689","3,176","3,176","3,176","3,176","3,176"
50,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250322,2025-03-31 08:38:11,0,"4,914","3,547","3,547","3,547","3,547","3,547"
51,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250323,2025-03-31 08:38:11,0,"5,397","3,950","3,950","3,950","3,950","3,950"
52,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250324,2025-03-31 08:38:11,0,"4,650","3,223","3,223","3,223","3,223","3,223"
53,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250325,2025-03-31 08:38:11,0,"5,420","4,101","4,101","4,101","4,101","4,101"
54,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250326,2025-03-31 08:38:11,0,"4,803","3,063","3,063","3,063","3,063","3,063"
55,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250327,2025-03-31 08:38:11,0,"4,691","3,074","3,074","3,074","3,074","3,074"
56,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250328,2025-03-31 08:38:11,0,"3,251","2,474","2,474","2,474","2,474","2,474"
57,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250329,2025-03-31 08:38:11,0,"4,749","3,503","3,503","3,503","3,503","3,503"
58,POSTPAID,TB2S010100CS,Postpaid Gross Adds B2C : TMH,20250330,2025-03-31 08:38:11,0,"7,839","6,534","6,534","6,534","6,534","6,534"

In [19]:
''' TB3S000102CS : TOL Gross Adds Connected : Consumer '''

v_tm_key_day = 20250301
v_metric_cd = 'TB3S000102CS'
print(f'\nTB3S000102CS : TOL Gross Adds Connected : Consumer\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB3S000102CS_day_df = chk_src_df.copy()
TB3S000102CS_day_df = TB3S000102CS_day_df.loc[TB3S000102CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB3S000102CS_day_df = TB3S000102CS_day_df.loc[TB3S000102CS_day_df['METRIC_CD']==v_metric_cd]
TB3S000102CS_day_df = TB3S000102CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB3S000102CS_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB3S000102CS_day_df[col] = TB3S000102CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB3S000102CS_day_df

TB3S000102CS : TOL Gross Adds Connected : Consumer

   -> v_metric_cd: TB3S000102CS
   -> v_tm_key_day: 20250301

,PRODUCT,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250301,2025-03-31 08:00:18,0,"1,759","1,376","1,376","1,365","1,376","1,376"
1,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250302,2025-03-31 08:00:18,0,"1,603","1,211","1,211","1,193","1,211","1,211"
2,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250303,2025-03-31 08:00:18,0,"1,737","1,392","1,392","1,373","1,392","1,392"
3,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250304,2025-03-31 08:00:18,0,"1,789","1,449","1,449","1,441","1,449","1,449"
4,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250305,2025-03-31 08:00:18,0,"1,733","1,417","1,417","1,402","1,417","1,417"
5,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250306,2025-03-31 08:00:18,0,"1,726","1,408","1,408","1,400","1,408","1,408"
6,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250307,2025-03-31 08:00:18,0,"1,657","1,348","1,348","1,338","1,348","1,348"
7,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250308,2025-03-31 08:00:18,0,"1,806","1,334","1,334","1,323","1,334","1,334"
8,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250309,2025-03-31 08:00:18,0,"1,711","1,265","1,265","1,259","1,265","1,265"
9,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250310,2025-03-31 08:00:18,0,"1,826","1,418","1,418","1,410","1,418","1,418"
10,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250311,2025-03-31 08:00:18,0,"1,721","1,408","1,408","1,402","1,408","1,408"
11,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250312,2025-03-31 08:00:18,0,"1,709","1,372","1,372","1,362","1,372","1,372"
12,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250313,2025-03-31 08:00:18,0,"1,625","1,329","1,329","1,320","1,329","1,329"
13,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250314,2025-03-31 08:00:18,0,"1,714","1,391","1,391","1,375","1,391","1,391"
14,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250315,2025-03-31 08:00:18,0,"1,850","1,323","1,323","1,311","1,323","1,323"
15,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250316,2025-03-31 08:00:18,0,"1,693","1,257","1,257","1,249","1,257","1,257"
16,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250317,2025-03-31 08:00:18,0,"1,772","1,399","1,399","1,388","1,399","1,399"
17,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250318,2025-03-31 08:00:18,0,"1,718","1,390","1,390","1,376","1,390","1,390"
18,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250319,2025-03-31 08:00:18,0,"1,609","1,302","1,302","1,289","1,302","1,302"
19,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250320,2025-03-31 08:00:18,0,"1,631","1,311","1,311","1,300","1,311","1,311"
20,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250321,2025-03-31 08:00:18,0,"1,693","1,371","1,371","1,359","1,371","1,371"
21,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250322,2025-03-31 08:00:18,0,"1,786","1,320","1,320","1,303","1,320","1,320"
22,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250323,2025-03-31 08:00:18,0,"1,727","1,262","1,262","1,246","1,262","1,262"
23,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250324,2025-03-31 08:00:18,0,"1,750","1,408","1,408","1,385","1,408","1,408"
24,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250325,2025-03-31 08:00:18,0,"1,719","1,392","1,392","1,366","1,392","1,392"
25,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250326,2025-03-31 08:00:18,0,"1,655","1,351","1,351","1,335","1,351","1,351"
26,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250327,2025-03-31 08:00:18,0,"1,654","1,319","1,319","1,298","1,319","1,319"
27,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250328,2025-03-31 08:00:18,0,"1,570","1,240","1,240","1,232","1,240","1,240"
28,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250329,2025-03-31 08:00:18,0,"1,783","1,269","1,269","1,255","1,269","1,269"
29,TOL,TB3S000102CS,TOL Gross Adds Connected : Consumer,20250330,2025-03-31 08:00:18,0,"1,557","1,129","1,129","1,123","1,129","1,129"

In [20]:
''' TB4S001400CS : TVS Now Gross Adds '''

v_tm_key_day = 20250301
v_metric_cd = 'TB4S001400CS'
print(f'\nTB4S001400CS : TVS Now Gross Adds\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB4S001400CS_day_df = chk_src_df.copy()
TB4S001400CS_day_df = TB4S001400CS_day_df.loc[TB4S001400CS_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB4S001400CS_day_df = TB4S001400CS_day_df.loc[TB4S001400CS_day_df['METRIC_CD']==v_metric_cd]
TB4S001400CS_day_df = TB4S001400CS_day_df.fillna(0).sort_values(by=['PRODUCT', 'METRIC_CD', 'TM_KEY_DAY']).reset_index(drop=True)

mod_col_list = TB4S001400CS_day_df.iloc[:, 5:12].columns.tolist()
for col in mod_col_list:
    TB4S001400CS_day_df[col] = TB4S001400CS_day_df[col].apply(lambda x: format(x, ',.0f'))
    
TB4S001400CS_day_df

TB4S001400CS : TVS Now Gross Adds

   -> v_metric_cd: TB4S001400CS
   -> v_tm_key_day: 20250301

,PRODUCT,METRIC_CD,METRIC_NAME,TM_KEY_DAY,LOAD_DATE,C,P,G,H,HH,CCAA,CCAATT
0,TVS,TB4S001400CS,TVS Now Gross Adds,20250301,2025-03-31 08:49:13,0,24,24,24,24,24,24
1,TVS,TB4S001400CS,TVS Now Gross Adds,20250302,2025-03-31 08:49:13,0,44,44,44,44,44,44
2,TVS,TB4S001400CS,TVS Now Gross Adds,20250303,2025-03-31 08:49:13,0,21,21,21,21,21,21
3,TVS,TB4S001400CS,TVS Now Gross Adds,20250304,2025-03-31 08:49:13,0,22,22,22,22,22,22
4,TVS,TB4S001400CS,TVS Now Gross Adds,20250305,2025-03-31 08:49:13,0,78,78,78,78,78,78
5,TVS,TB4S001400CS,TVS Now Gross Adds,20250306,2025-03-31 08:49:13,0,214,214,214,214,214,214
6,TVS,TB4S001400CS,TVS Now Gross Adds,20250307,2025-03-31 08:49:13,0,160,160,160,160,160,160
7,TVS,TB4S001400CS,TVS Now Gross Adds,20250308,2025-03-31 08:49:13,0,141,141,141,141,141,141
8,TVS,TB4S001400CS,TVS Now Gross Adds,20250309,2025-03-31 08:49:13,0,144,144,144,144,144,144
9,TVS,TB4S001400CS,TVS Now Gross Adds,20250310,2025-03-31 08:49:13,0,87,87,87,87,87,87
10,TVS,TB4S001400CS,TVS Now Gross Adds,20250311,2025-03-31 08:49:13,0,83,83,83,83,83,83
11,TVS,TB4S001400CS,TVS Now Gross Adds,20250312,2025-03-31 08:49:13,0,78,78,78,78,78,78
12,TVS,TB4S001400CS,TVS Now Gross Adds,20250313,2025-03-31 08:49:13,0,66,66,66,66,66,66
13,TVS,TB4S001400CS,TVS Now Gross Adds,20250314,2025-03-31 08:49:13,0,98,97,97,97,97,97
14,TVS,TB4S001400CS,TVS Now Gross Adds,20250315,2025-03-31 08:49:13,0,92,92,92,92,92,92
15,TVS,TB4S001400CS,TVS Now Gross Adds,20250316,2025-03-31 08:49:13,0,62,62,62,62,62,62
16,TVS,TB4S001400CS,TVS Now Gross Adds,20250317,2025-03-31 08:49:13,0,56,56,56,56,56,56
17,TVS,TB4S001400CS,TVS Now Gross Adds,20250318,2025-03-31 08:49:13,0,43,43,43,43,43,43
18,TVS,TB4S001400CS,TVS Now Gross Adds,20250319,2025-03-31 08:49:13,0,36,36,36,36,36,36
19,TVS,TB4S001400CS,TVS Now Gross Adds,20250320,2025-03-31 08:49:13,0,41,41,41,41,41,41
20,TVS,TB4S001400CS,TVS Now Gross Adds,20250321,2025-03-31 08:49:13,0,48,48,48,48,48,48
21,TVS,TB4S001400CS,TVS Now Gross Adds,20250322,2025-03-31 08:49:13,0,36,36,36,36,36,36
22,TVS,TB4S001400CS,TVS Now Gross Adds,20250323,2025-03-31 08:49:13,0,39,39,39,39,39,39
23,TVS,TB4S001400CS,TVS Now Gross Adds,20250324,2025-03-31 08:49:13,0,36,36,36,36,36,36
24,TVS,TB4S001400CS,TVS Now Gross Adds,20250325,2025-03-31 08:49:13,0,50,50,50,50,50,50
25,TVS,TB4S001400CS,TVS Now Gross Adds,20250326,2025-03-31 08:49:13,0,49,49,49,49,49,49
26,TVS,TB4S001400CS,TVS Now Gross Adds,20250327,2025-03-31 08:49:13,0,52,52,52,52,52,52
27,TVS,TB4S001400CS,TVS Now Gross Adds,20250328,2025-03-31 08:49:13,0,36,36,36,36,36,36
28,TVS,TB4S001400CS,TVS Now Gross Adds,20250329,2025-03-31 08:49:13,0,79,78,78,78,78,78

## Actual : Issue
->  DIM_CORP_KPI

In [21]:
# ''' Execute Issue by case '''


# # Input parameter
# curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
# # v_start_date = 20250101
# print(f'\nParameter input...\n')
# # print(f'   -> v_start_date: {v_start_date}')


# # Connect : TDMDBPR
# src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
# src_conn = oracledb.connect(src_dsn)
# print(f'\n{TDMDBPR_db} : Connected')
# src_cur = src_conn.cursor()
# query = (f"""
#     SELECT /*+PARALLEL(8)*/ T.TM_KEY_DAY AS TM_KEY_MTH
#         , T.METRIC_CD, T.METRIC_NAME, T.AREA_TYPE, T.AREA_CD, T.AREA_DESC
#         , T.METRIC_VALUE AS TARGET
#         , A.ACTUAL
#         , O.ORGID_P, O.ZONE_TYPE, O.ORGID_G, O.TDS_SGMD, O.ORGID_H, O.HOP_HINT, O.ORGID_HH, O.D_CLUSTER
        
#     FROM CDSAPPO.DIM_CORP_TARGET T

#     LEFT JOIN (
#         SELECT SUBSTR(TM_KEY_DAY,1,6) AS TM_KEY_MTH
#             , PRODUCT, METRIC_CD, METRIC_NAME, AREA_TYPE, AREA_CD, AREA_DESC
#             , SUM(METRIC_VALUE) AS ACTUAL, MAX(LOAD_DATE) LOAD_DATE
#         FROM CDSAPPO.DIM_CORP_KPI
#         WHERE METRIC_CD = 'TB3S000102CS' --TOL Gross Adds Connected : Consumer
#         AND AREA_TYPE = 'CCAA'
#         AND TM_KEY_DAY >= 20250101
#         GROUP BY SUBSTR(TM_KEY_DAY,1,6), PRODUCT, METRIC_CD, METRIC_NAME, AREA_TYPE, AREA_CD, AREA_DESC
#     ) A
#         ON A.METRIC_CD = T.METRIC_CD
#         AND A.AREA_CD = T.AREA_CD
#         AND A.TM_KEY_MTH = T.TM_KEY_DAY
        
#     LEFT JOIN (
#         SELECT DISTINCT ORGID_P, ZONE_TYPE, ORGID_G, TDS_SGMD, ORGID_H, HOP_HINT, ORGID_HH, D_CLUSTER
#             , SUBSTR(CCAATT,1,2) AS PROVINCE_CD, PROVINCE_ENG 
#             , SUBSTR(CCAATT,1,4) AS CCAA, DISTRICT_EN
#         FROM CDSAPPO.DIM_MOOC_AREA NOLOCK
#         WHERE TEAM_CODE <> 'ไม่ระบุ' AND REMARK <> 'Dummy'
#     ) O
#         ON O.CCAA = T.AREA_CD

#     WHERE T.METRIC_CD = 'TB3S000102CS'
#     AND T.AREA_TYPE = 'CCAA'
#     AND T.TM_KEY_DAY >= 202501

#     --ORDER BY T.TM_KEY_DAY, T.METRIC_CD, T.AREA_TYPE, O.ZONE_TYPE, O.ORGID_G, O.ORGID_H, O.ORGID_HH
# """)


# try:
#     execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
#     print(f'\n   -> Execute query... {execute_datetime}')

#     # Get : Summary DataFrame
#     src_cur.execute(query)
#     rows = src_cur.fetchall()
#     chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
#     print(f'\n   -> Issue DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

#     src_cur.close()


# except oracledb.DatabaseError as e:
#     print(f'\nError with Oracle : {e}')


# finally:
#     src_conn.close()
#     print(f'\n{TDMDBPR_db} : Disconnected')

In [22]:
# ''' TB3S000102CS : TOL Gross Adds Connected : Consumer '''

# v_tm_key_mth = 202501
# # v_metric_cd = 'TB3S000102CS'
# print(f'\nTB3S000102CS : TOL Gross Adds Connected : Consumer\n')
# # print(f'   -> v_metric_cd: {v_metric_cd}')
# print(f'   -> v_tm_key_mth: {v_tm_key_mth}')

# TB3S000102CS_issue_df = chk_src_df.copy()
# TB3S000102CS_issue_df = TB3S000102CS_issue_df.loc[TB3S000102CS_issue_df['TM_KEY_MTH']==v_tm_key_mth]
# TB3S000102CS_issue_df = TB3S000102CS_issue_df.loc[TB3S000102CS_issue_df['ACTUAL'] > 0]
# # TB3S000102CS_issue_df = TB3S000102CS_issue_df.loc[TB3S000102CS_issue_df['ACTUAL'].isna()]
# # TB3S000102CS_issue_df = TB3S000102CS_issue_df.loc[TB3S000102CS_issue_df['METRIC_CD']==v_metric_cd]
# TB3S000102CS_issue_df = TB3S000102CS_issue_df.fillna(0).sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)

# mod_col_list = TB3S000102CS_issue_df.iloc[:, 6:8].columns.tolist()
# for col in mod_col_list:
#     TB3S000102CS_issue_df[col] = TB3S000102CS_issue_df[col].apply(lambda x: format(x, ',.0f'))
    
# # TB3S000102CS_issue_df
# print(f'\n{TB3S000102CS_issue_df.to_string(max_cols=100)}')

## Output File
->  DIM_CORP_KPI

In [23]:
# ''' Execute Sales Monthly '''


# # Input parameter
# curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
# v_start_date = 20240101
# print(f'\nParameter input...\n')
# print(f'   -> v_start_date: {v_start_date}')


# # Connect : TDMDBPR
# src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
# src_conn = oracledb.connect(src_dsn)
# print(f'\n{TDMDBPR_db} : Connected')
# src_cur = src_conn.cursor()
# query = (f"""
#     SELECT /*+PARALLEL(8)*/ 
#         SUBSTR(TM_KEY_DAY,1,4) AS TM_KEY_YR, SUBSTR(TM_KEY_DAY,1,6) AS TM_KEY_MTH
#         , CASE WHEN REGEXP_LIKE(METRIC_CD, 'CS$|CG$') THEN 'Y2025' ELSE 'Y2024' END VER_FLAG
#         , PRODUCT, COMP_CD, METRIC_CD, METRIC_NAME, REMARK, UPD_TM, PPN_TM
#         , SUM(CASE WHEN AREA_TYPE = 'P' THEN METRIC_VALUE END) P_ACTUAL
#         , SUM(CASE WHEN AREA_TYPE = 'G' THEN METRIC_VALUE END) G
#         , SUM(CASE WHEN AREA_TYPE = 'H' THEN METRIC_VALUE END) H
#         , SUM(CASE WHEN AREA_TYPE = 'HH' THEN METRIC_VALUE END) HH
#         , SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN METRIC_VALUE END) CCAA
#         , SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN METRIC_VALUE END) CCAATT
#         , SUM(CASE WHEN AREA_CD = '016' THEN METRIC_VALUE END) "016"
#         , SUM(CASE WHEN AREA_CD = '040' THEN METRIC_VALUE END) "040"
#         , SUM(CASE WHEN AREA_CD = '080' THEN METRIC_VALUE END) "080"
#         , MIN(TM_KEY_DAY) AS START_DAY, MAX(TM_KEY_DAY) AS END_DAY, MAX(LOAD_DATE) LOAD_DATE
#     FROM CDSAPPO.DIM_CORP_KPI
#     WHERE METRIC_CD NOT LIKE 'Error%'
#     AND EXISTS (
#         SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
#         FROM (
#             SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#             UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
#         ) TMP
#         WHERE TMP_CD = AREA_CD )
#     AND TM_KEY_DAY >= {v_start_date}
#     GROUP BY SUBSTR(TM_KEY_DAY,1,4), SUBSTR(TM_KEY_DAY,1,6), PRODUCT, COMP_CD, METRIC_CD, METRIC_NAME, REMARK, UPD_TM, PPN_TM
#     --ORDER BY 2, 3, PRODUCT, COMP_CD, METRIC_CD 
# """)


# try:
#     execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
#     print(f'\n   -> Execute query... {execute_datetime}')

#     # Get : Sales Monthly DataFrame
#     src_cur.execute(query)
#     rows = src_cur.fetchall()
#     monthly_sales_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
#     print(f'\n   -> Sales Monthly DataFrame : {monthly_sales_df.shape[0]} rows, {monthly_sales_df.shape[1]} columns')

#     src_cur.close()


# except oracledb.DatabaseError as e:
#     print(f'\nError with Oracle : {e}')


# finally:
#     src_conn.close()
#     print(f'\n{TDMDBPR_db} : Disconnected')

In [24]:
# ''' Generate CSV file '''

# op_dir = 'data'
# op_monthly_file = f'sales_monthly_{str_curr_dt}'

# monthly_sales_df.to_csv(f'{op_dir}/tmp_{op_monthly_file}.csv', index=False, encoding='utf-8')
# print(f'\n   -> Generate "tmp_{op_monthly_file}.csv" successfully')

# monthly_sales_df.tail(3)