# * VINSIGHT : Data Issue

## Parameter

In [1]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

## Any Issue Transaction

### Prepaid Active Caller : TMH

In [3]:
# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20250401
print(f'\nParameter input...\n')
print(f'   -> Data as of {curr_datetime}')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        TM_KEY_MTH, TM_KEY_DAY --, CENTER, PRODUCT_GRP, METRIC_GRP
        , METRIC_CD, METRIC_NAME --, AREA_TYPE, AREA_CD
        , AREA_NAME, ACTUAL_AS_OF, ACTUAL_SNAP, ACTUAL_AGG_MTH --, TARGET_SNAP
        , PPN_TM
    FROM GEOSPCAPPO.AGG_PERF_NEWCO
    WHERE METRIC_CD = 'TB1S000600' --Prepaid Active Caller : TMH
    AND AREA_CD = 'P'
    AND TM_KEY_DAY >= {v_start_date} 
    ORDER BY TM_KEY_DAY, CENTER, PRODUCT_GRP, METRIC_GRP, METRIC_CD, AREA_TYPE, AREA_CD
""")


try:
    # Get : Timestamp
    src_cur.execute(query)
    rows = src_cur.fetchall()
    # print(f'\nCurrent Timestamp...')
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])

    # Display
    txn_df = chk_src_df.copy()
    mod_col_list = txn_df.iloc[:, 6:8].columns.tolist()
    for col in mod_col_list:
        txn_df[col] = txn_df[col].apply(lambda x: format(x, ',.0f'))
    print(f'\n{txn_df.to_string(max_cols=10)}') #max_rows=1000
    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()

Parameter input...

   -> Data as of 2025-04-23, 11:10:50
   -> v_start_date: 20250401

    TM_KEY_MTH  TM_KEY_DAY   METRIC_CD                              METRIC_NAME   AREA_NAME  ACTUAL_AS_OF ACTUAL_SNAP ACTUAL_AGG_MTH              PPN_TM
0       202504    20250401  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250401  17,205,721     17,205,721 2025-04-23 00:34:11
1       202504    20250402  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250402  17,200,601     17,200,601 2025-04-23 00:34:11
2       202504    20250403  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250403  17,198,038     17,198,038 2025-04-23 00:34:11
3       202504    20250404  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250404  17,166,314     17,166,314 2025-04-23 00:34:11
4       202504    20250405  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250405  17,132,397     17,132,397 2025-04-23 00:34:11
5       202504    20250406  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250406  17,111,155     17,111,155 2025-04-23 00:34:11
6       202504    20250407  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250407  17,092,540     17,092,540 2025-04-23 00:34:11
7       202504    20250408  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250408  17,074,378     17,074,378 2025-04-23 00:34:11
8       202504    20250409  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250409  17,051,132     17,051,132 2025-04-23 00:34:11
9       202504    20250410  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250410  17,047,182     17,047,182 2025-04-23 00:34:11
10      202504    20250411  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250411  17,048,021     17,048,021 2025-04-23 00:34:11
11      202504    20250412  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250412  17,045,744     17,045,744 2025-04-23 00:34:11
12      202504    20250413  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250413  17,038,998     17,038,998 2025-04-23 00:34:11
13      202504    20250414  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250414  17,021,545     17,021,545 2025-04-23 00:34:11
14      202504    20250415  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250415  16,998,571     16,998,571 2025-04-23 00:34:11
15      202504    20250416  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250416  16,983,290     16,983,290 2025-04-23 00:34:11
16      202504    20250417  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250417  16,959,289     16,959,289 2025-04-23 00:34:11
17      202504    20250418  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250418  16,938,391     16,938,391 2025-04-23 00:34:11
18      202504    20250419  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250419  16,916,540     16,916,540 2025-04-23 00:34:11
19      202504    20250420  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250420  16,900,886     16,900,886 2025-04-23 00:34:11
20      202504    20250421  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250420         nan     16,900,886 2025-04-23 00:34:11
21      202504    20250422  TB1S000600  Prepaid Active Caller 30D Rolling : TMH  Nationwide      20250420         nan     16,900,886 2025-04-23 00:34:11

### Area 080 : DTAC

In [4]:
# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20250101
print(f'\nParameter input...\n')
print(f'   -> Data as of {curr_datetime}')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        TM_KEY_MTH, TM_KEY_DAY, METRIC_CD, METRIC_NAME
        , SUM(CASE WHEN AREA_CD = '080' THEN ACTUAL_SNAP END) ACTUAL_080
        , SUM(CASE WHEN AREA_CD = '080' THEN TARGET_SNAP END) TARGET_080
        , SUM(CASE WHEN AREA_CD = '016' THEN ACTUAL_SNAP END) ACTUAL_016
        , SUM(CASE WHEN AREA_CD = '016' THEN TARGET_SNAP END) TARGET_016
        , SUM(CASE WHEN AREA_CD = '040' THEN ACTUAL_SNAP END) ACTUAL_040
        , SUM(CASE WHEN AREA_CD = '040' THEN TARGET_SNAP END) TARGET_040
        , MAX(ACTUAL_AS_OF) ACTUAL_AS_OF, MAX(PPN_TM) PPN_TM
    FROM GEOSPCAPPO.AGG_PERF_NEWCO
    WHERE METRIC_CD = 'DB1R000100' --Prepaid Revenue : DTAC
    --WHERE METRIC_CD = 'DB2R000100' --Postpaid Revenue : DTAC
    --WHERE METRIC_CD = 'DB2R010100' --Postpaid Revenue B2C : DTAC
    --WHERE METRIC_CD = 'DB2R020100' --Postpaid Revenue B2B : DTAC
    AND AREA_CD IN ('016', '040', '080')
    AND TM_KEY_DAY >= {v_start_date} 
    GROUP BY TM_KEY_MTH, TM_KEY_DAY, METRIC_CD, METRIC_NAME
    ORDER BY TM_KEY_DAY, METRIC_CD
""")


try:
    # Get : Timestamp
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])

    # Display
    txn_df = chk_src_df.copy()
    mod_col_list = txn_df.iloc[:, 4:10].columns.tolist()
    for col in mod_col_list:
        txn_df[col] = txn_df[col].apply(lambda x: format(x, ',.0f'))
    print(f'\n{txn_df.to_string(max_cols=100)}')
    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()

Parameter input...

   -> Data as of 2025-04-23, 11:11:05
   -> v_start_date: 20250101

     TM_KEY_MTH  TM_KEY_DAY   METRIC_CD             METRIC_NAME ACTUAL_080 TARGET_080 ACTUAL_016 TARGET_016 ACTUAL_040 TARGET_040  ACTUAL_AS_OF              PPN_TM
0        202501    20250101  DB1R000100  Prepaid Revenue : DTAC  1,458,637        nan    362,185    365,268  1,096,452  1,060,020      20250101 2025-04-23 02:12:31
1        202501    20250102  DB1R000100  Prepaid Revenue : DTAC  1,378,370        nan    365,318    373,482  1,013,052  1,083,855      20250102 2025-04-23 02:12:31
2        202501    20250103  DB1R000100  Prepaid Revenue : DTAC  1,330,136        nan    356,411    362,361    973,725  1,051,581      20250103 2025-04-23 02:12:31
3        202501    20250104  DB1R000100  Prepaid Revenue : DTAC  1,229,670        nan    312,077    348,242    917,593  1,010,608      20250104 2025-04-23 02:12:31
4        202501    20250105  DB1R000100  Prepaid Revenue : DTAC  1,312,542        nan    326,625    349,188    985,917  1,013,355      20250105 2025-04-23 02:12:31
5        202501    20250106  DB1R000100  Prepaid Revenue : DTAC  1,257,104        nan    337,028    330,694    920,075    959,685      20250106 2025-04-23 02:12:31
6        202501    20250107  DB1R000100  Prepaid Revenue : DTAC  1,264,117        nan    326,652    319,906    937,465    928,378      20250107 2025-04-23 02:12:31
7        202501    20250108  DB1R000100  Prepaid Revenue : DTAC  1,205,018        nan    325,766    324,194    879,252    940,822      20250108 2025-04-23 02:12:31
8        202501    20250109  DB1R000100  Prepaid Revenue : DTAC  1,075,793        nan    279,042    312,527    796,751    906,964      20250109 2025-04-23 02:12:31
9        202501    20250110  DB1R000100  Prepaid Revenue : DTAC  1,146,732        nan    325,431    319,366    821,301    926,811      20250110 2025-04-23 02:12:31
10       202501    20250111  DB1R000100  Prepaid Revenue : DTAC  1,086,348        nan    269,159    303,261    817,189    880,074      20250111 2025-04-23 02:12:31
11       202501    20250112  DB1R000100  Prepaid Revenue : DTAC  1,085,009        nan    276,294    302,593    808,714    878,135      20250112 2025-04-23 02:12:31
12       202501    20250113  DB1R000100  Prepaid Revenue : DTAC  1,087,912        nan    280,760    293,114    807,152    850,625      20250113 2025-04-23 02:12:31
13       202501    20250114  DB1R000100  Prepaid Revenue : DTAC  1,091,961        nan    291,136    295,604    800,825    857,851      20250114 2025-04-23 02:12:31
14       202501    20250115  DB1R000100  Prepaid Revenue : DTAC  1,140,600        nan    291,531    317,526    849,069    921,470      20250115 2025-04-23 02:12:31
15       202501    20250116  DB1R000100  Prepaid Revenue : DTAC  1,113,210        nan    293,892    310,425    819,318    900,864      20250116 2025-04-23 02:12:31
16       202501    20250117  DB1R000100  Prepaid Revenue : DTAC  1,140,992        nan    285,438    308,025    855,554    893,897      20250117 2025-04-23 02:12:31
17       202501    20250118  DB1R000100  Prepaid Revenue : DTAC  1,112,450        nan    282,399    306,252    830,052    888,753      20250118 2025-04-23 02:12:31
18       202501    20250119  DB1R000100  Prepaid Revenue : DTAC  1,154,681        nan    271,284    310,203    883,398    900,220      20250119 2025-04-23 02:12:31
19       202501    20250120  DB1R000100  Prepaid Revenue : DTAC  1,194,386        nan    292,178    317,258    902,208    920,691      20250120 2025-04-23 02:12:31
20       202501    20250121  DB1R000100  Prepaid Revenue : DTAC  1,263,934        nan    303,038    308,089    960,896    894,085      20250121 2025-04-23 02:12:31
21       202501    20250122  DB1R000100  Prepaid Revenue : DTAC  1,229,116        nan    299,918    304,881    929,198    884,775      20250122 2025-04-23 02:12:31
22       202501    20250123  DB1R000100  Prepaid Revenue : DTAC  1,200,166        nan    309,310    299,327    890,856    868,656      20250123 2025-04-23 02:12:31
23       202501    20250124  DB1R000100  Prepaid Revenue : DTAC  1,157,119        nan    315,174    298,427    841,945    866,044      20250124 2025-04-23 02:12:31
24       202501    20250125  DB1R000100  Prepaid Revenue : DTAC  1,152,650        nan    294,829    309,033    857,821    896,822      20250125 2025-04-23 02:12:31
25       202501    20250126  DB1R000100  Prepaid Revenue : DTAC  1,188,113        nan    311,564    316,809    876,549    919,391      20250126 2025-04-23 02:12:31
26       202501    20250127  DB1R000100  Prepaid Revenue : DTAC  1,205,557        nan    309,771    314,739    895,787    913,381      20250127 2025-04-23 02:12:31
27       202501    20250128  DB1R000100  Prepaid Revenue : DTAC  1,253,215        nan    329,123    320,425    924,092    929,884      20250128 2025-04-23 02:12:31
28       202501    20250129  DB1R000100  Prepaid Revenue : DTAC  1,342,147        nan    364,380    335,690    977,767    974,183      20250129 2025-04-23 02:12:31
29       202501    20250130  DB1R000100  Prepaid Revenue : DTAC  1,353,781        nan    354,664    338,473    999,117    982,258      20250130 2025-04-23 02:12:31
30       202501    20250131  DB1R000100  Prepaid Revenue : DTAC  1,522,790        nan    409,062    389,485  1,113,727  1,130,297      20250131 2025-04-23 02:12:31
31       202502    20250201  DB1R000100  Prepaid Revenue : DTAC  1,537,712  1,457,974    404,653    371,485  1,133,060  1,078,060      20250201 2025-04-23 02:12:31
32       202502    20250202  DB1R000100  Prepaid Revenue : DTAC  1,472,950  1,395,283    366,806    355,511  1,106,144  1,031,704      20250202 2025-04-23 02:12:31
33       202502    20250203  DB1R000100  Prepaid Revenue : DTAC  1,361,083  1,376,123    382,858    350,629    978,225  1,017,537      20250203 2025-04-23 02:12:31
34       202502    20250204  DB1R000100  Prepaid Revenue : DTAC  1,271,479  1,314,550    335,590    334,941    935,889    972,008      20250204 2025-04-23 02:12:31
35       202502    20250205  DB1R000100  Prepaid Revenue : DTAC  1,291,841  1,309,221    340,869    333,583    950,973    968,068      20250205 2025-04-23 02:12:31
36       202502    20250206  DB1R000100  Prepaid Revenue : DTAC  1,338,937  1,304,648    373,467    332,418    965,469    964,687      20250206 2025-04-23 02:12:31
37       202502    20250207  DB1R000100  Prepaid Revenue : DTAC  1,230,067  1,273,728    327,691    324,540    902,376    941,824      20250207 2025-04-23 02:12:31
38       202502    20250208  DB1R000100  Prepaid Revenue : DTAC  1,200,707  1,278,664    312,581    325,797    888,126    945,474      20250208 2025-04-23 02:12:31
39       202502    20250209  DB1R000100  Prepaid Revenue : DTAC  1,169,782  1,214,903    301,741    309,551    868,041    898,327      20250209 2025-04-23 02:12:31
40       202502    20250210  DB1R000100  Prepaid Revenue : DTAC  1,130,583  1,267,316    299,061    322,906    831,521    937,083      20250210 2025-04-23 02:12:31
41       202502    20250211  DB1R000100  Prepaid Revenue : DTAC  1,145,319  1,183,475    297,455    301,544    847,864    875,089      20250211 2025-04-23 02:12:31
42       202502    20250212  DB1R000100  Prepaid Revenue : DTAC  1,116,766  1,174,458    285,248    299,246    831,518    868,421      20250212 2025-04-23 02:12:31
43       202502    20250213  DB1R000100  Prepaid Revenue : DTAC  1,196,749  1,195,717    300,151    304,663    896,598    884,141      20250213 2025-04-23 02:12:31
44       202502    20250214  DB1R000100  Prepaid Revenue : DTAC  1,102,864  1,183,414    296,468    301,528    806,397    875,043      20250214 2025-04-23 02:12:31
45       202502    20250215  DB1R000100  Prepaid Revenue : DTAC  1,263,645  1,201,283    303,943    306,081    959,702    888,256      20250215 2025-04-23 02:12:31
46       202502    20250216  DB1R000100  Prepaid Revenue : DTAC  1,188,935  1,202,852    294,089    306,481    894,846    889,417      20250216 2025-04-23 02:12:31
47       202502    20250217  DB1R000100  Prepaid Revenue : DTAC  1,157,220  1,188,855    300,295    302,915    856,926    879,067      20250217 2025-04-23 02:12:31
48       202502    20250218  DB1R000100  Prepaid Revenue : DTAC  1,116,767  1,151,109    275,127    293,297    841,640    851,157      20250218 2025-04-23 02:12:31
49       202502    20250219  DB1R000100  Prepaid Revenue : DTAC  1,103,522  1,136,922    278,481    289,682    825,042    840,666      20250219 2025-04-23 02:12:31
50       202502    20250220  DB1R000100  Prepaid Revenue : DTAC  1,173,171  1,202,027    293,449    306,271    879,722    888,807      20250220 2025-04-23 02:12:31
51       202502    20250221  DB1R000100  Prepaid Revenue : DTAC  1,134,625  1,176,423    306,189    299,747    828,436    869,874      20250221 2025-04-23 02:12:31
52       202502    20250222  DB1R000100  Prepaid Revenue : DTAC  1,154,861  1,149,689    286,913    292,935    867,948    850,106      20250222 2025-04-23 02:12:31
53       202502    20250223  DB1R000100  Prepaid Revenue : DTAC  1,160,291  1,153,915    293,040    294,012    867,251    853,231      20250223 2025-04-23 02:12:31
54       202502    20250224  DB1R000100  Prepaid Revenue : DTAC  1,115,837  1,236,316    284,671    315,007    831,166    914,161      20250224 2025-04-23 02:12:31
55       202502    20250225  DB1R000100  Prepaid Revenue : DTAC  1,184,842  1,227,236    323,750    312,694    861,092    907,447      20250225 2025-04-23 02:12:31
56       202502    20250226  DB1R000100  Prepaid Revenue : DTAC  1,186,655  1,181,105    325,408    300,940    861,247    873,336      20250226 2025-04-23 02:12:31
57       202502    20250227  DB1R000100  Prepaid Revenue : DTAC  1,174,641  1,256,206    316,365    320,075    858,277    928,868      20250227 2025-04-23 02:12:31
58       202502    20250228  DB1R000100  Prepaid Revenue : DTAC  1,432,613  1,527,196    384,949    389,122  1,047,665  1,129,244      20250228 2025-04-23 02:12:31
59       202503    20250301  DB1R000100  Prepaid Revenue : DTAC  1,506,675  1,567,283    397,113        nan  1,109,562        nan      20250301 2025-04-23 02:12:31
60       202503    20250302  DB1R000100  Prepaid Revenue : DTAC  1,546,780  1,476,098    392,369        nan  1,154,411        nan      20250302 2025-04-23 02:12:31
61       202503    20250303  DB1R000100  Prepaid Revenue : DTAC  1,449,951  1,384,844    375,070        nan  1,074,881        nan      20250303 2025-04-23 02:12:31
62       202503    20250304  DB1R000100  Prepaid Revenue : DTAC  1,348,670  1,327,416    342,756        nan  1,005,914        nan      20250304 2025-04-23 02:12:31
63       202503    20250305  DB1R000100  Prepaid Revenue : DTAC  1,342,948  1,359,366        nan        nan        nan        nan      20250305 2025-04-23 02:12:31
64       202503    20250306  DB1R000100  Prepaid Revenue : DTAC  1,279,234  1,349,882        nan        nan        nan        nan      20250306 2025-04-23 02:12:31
65       202503    20250307  DB1R000100  Prepaid Revenue : DTAC  1,247,824  1,283,626        nan        nan        nan        nan      20250307 2025-04-23 02:12:31
66       202503    20250308  DB1R000100  Prepaid Revenue : DTAC  1,248,182  1,238,708        nan        nan        nan        nan      20250308 2025-04-23 02:12:31
67       202503    20250309  DB1R000100  Prepaid Revenue : DTAC  1,225,405  1,167,094        nan        nan        nan        nan      20250309 2025-04-23 02:12:31
68       202503    20250310  DB1R000100  Prepaid Revenue : DTAC  1,149,640  1,152,327        nan        nan        nan        nan      20250310 2025-04-23 02:12:31
69       202503    20250311  DB1R000100  Prepaid Revenue : DTAC  1,087,688  1,132,860        nan        nan        nan        nan      20250311 2025-04-23 02:12:31
70       202503    20250312  DB1R000100  Prepaid Revenue : DTAC  1,091,635  1,096,066        nan        nan        nan        nan      20250312 2025-04-23 02:12:31
71       202503    20250313  DB1R000100  Prepaid Revenue : DTAC  1,049,698  1,081,272        nan        nan        nan        nan      20250313 2025-04-23 02:12:31
72       202503    20250314  DB1R000100  Prepaid Revenue : DTAC  1,058,544  1,066,241        nan        nan        nan        nan      20250314 2025-04-23 02:12:31
73       202503    20250315  DB1R000100  Prepaid Revenue : DTAC  1,145,118  1,150,583        nan        nan        nan        nan      20250315 2025-04-23 02:12:31
74       202503    20250316  DB1R000100  Prepaid Revenue : DTAC  1,202,608  1,178,532        nan        nan        nan        nan      20250316 2025-04-23 02:12:31
75       202503    20250317  DB1R000100  Prepaid Revenue : DTAC  1,144,034  1,173,808        nan        nan        nan        nan      20250317 2025-04-23 02:12:31
76       202503    20250318  DB1R000100  Prepaid Revenue : DTAC  1,161,342  1,156,840        nan        nan        nan        nan      20250318 2025-04-23 02:12:31
77       202503    20250319  DB1R000100  Prepaid Revenue : DTAC  1,145,778  1,118,601        nan        nan        nan        nan      20250319 2025-04-23 02:12:31
78       202503    20250320  DB1R000100  Prepaid Revenue : DTAC  1,191,057  1,168,955        nan        nan        nan        nan      20250320 2025-04-23 02:12:31
79       202503    20250321  DB1R000100  Prepaid Revenue : DTAC  1,121,155  1,164,765        nan        nan        nan        nan      20250321 2025-04-23 02:12:31
80       202503    20250322  DB1R000100  Prepaid Revenue : DTAC  1,102,018  1,150,319        nan        nan        nan        nan      20250322 2025-04-23 02:12:31
81       202503    20250323  DB1R000100  Prepaid Revenue : DTAC  1,139,620  1,146,932        nan        nan        nan        nan      20250323 2025-04-23 02:12:31
82       202503    20250324  DB1R000100  Prepaid Revenue : DTAC  1,179,486  1,152,794        nan        nan        nan        nan      20250324 2025-04-23 02:12:31
83       202503    20250325  DB1R000100  Prepaid Revenue : DTAC  1,212,229  1,194,006        nan        nan        nan        nan      20250325 2025-04-23 02:12:31
84       202503    20250326  DB1R000100  Prepaid Revenue : DTAC  1,131,287  1,175,861        nan        nan        nan        nan      20250326 2025-04-23 02:12:31
85       202503    20250327  DB1R000100  Prepaid Revenue : DTAC  1,143,416  1,169,909        nan        nan        nan        nan      20250327 2025-04-23 02:12:31
86       202503    20250328  DB1R000100  Prepaid Revenue : DTAC  1,350,879  1,192,004        nan        nan        nan        nan      20250328 2025-04-23 02:12:31
87       202503    20250329  DB1R000100  Prepaid Revenue : DTAC  1,204,600  1,260,648        nan        nan        nan        nan      20250329 2025-04-23 02:12:31
88       202503    20250330  DB1R000100  Prepaid Revenue : DTAC  1,272,527  1,308,938        nan        nan        nan        nan      20250330 2025-04-23 02:12:31
89       202503    20250331  DB1R000100  Prepaid Revenue : DTAC  1,532,341  1,449,483        nan        nan        nan        nan      20250331 2025-04-23 02:12:31
90       202504    20250401  DB1R000100  Prepaid Revenue : DTAC  1,575,177  1,381,978        nan        nan        nan        nan      20250401 2025-04-23 02:12:31
91       202504    20250402  DB1R000100  Prepaid Revenue : DTAC  1,427,780  1,480,270        nan        nan        nan        nan      20250402 2025-04-23 02:12:31
92       202504    20250403  DB1R000100  Prepaid Revenue : DTAC  1,463,032  1,339,253        nan        nan        nan        nan      20250403 2025-04-23 02:12:31
93       202504    20250404  DB1R000100  Prepaid Revenue : DTAC  1,330,197  1,287,573        nan        nan        nan        nan      20250404 2025-04-23 02:12:31
94       202504    20250405  DB1R000100  Prepaid Revenue : DTAC  1,326,432  1,374,796        nan        nan        nan        nan      20250405 2025-04-23 02:12:31
95       202504    20250406  DB1R000100  Prepaid Revenue : DTAC  1,295,827  1,302,472        nan        nan        nan        nan      20250406 2025-04-23 02:12:31
96       202504    20250407  DB1R000100  Prepaid Revenue : DTAC  1,197,326  1,256,178        nan        nan        nan        nan      20250407 2025-04-23 02:12:31
97       202504    20250408  DB1R000100  Prepaid Revenue : DTAC  1,190,268  1,213,730        nan        nan        nan        nan      20250408 2025-04-23 02:12:31
98       202504    20250409  DB1R000100  Prepaid Revenue : DTAC  1,138,984  1,195,950        nan        nan        nan        nan      20250409 2025-04-23 02:12:31
99       202504    20250410  DB1R000100  Prepaid Revenue : DTAC  1,157,204  1,263,033        nan        nan        nan        nan      20250410 2025-04-23 02:12:31
100      202504    20250411  DB1R000100  Prepaid Revenue : DTAC  1,205,197  1,261,959        nan        nan        nan        nan      20250411 2025-04-23 02:12:31
101      202504    20250412  DB1R000100  Prepaid Revenue : DTAC  1,256,805  1,286,518        nan        nan        nan        nan      20250412 2025-04-23 02:12:31
102      202504    20250413  DB1R000100  Prepaid Revenue : DTAC  1,130,314  1,171,126        nan        nan        nan        nan      20250413 2025-04-23 02:12:31
103      202504    20250414  DB1R000100  Prepaid Revenue : DTAC        nan        nan        nan        nan        nan        nan      20250413 2025-04-23 02:12:31
104      202504    20250415  DB1R000100  Prepaid Revenue : DTAC        nan        nan        nan        nan        nan        nan      20250413 2025-04-23 02:12:31
105      202504    20250416  DB1R000100  Prepaid Revenue : DTAC        nan        nan        nan        nan        nan        nan      20250413 2025-04-23 02:12:31
106      202504    20250417  DB1R000100  Prepaid Revenue : DTAC        nan        nan        nan        nan        nan        nan      20250413 2025-04-23 02:12:31
107      202504    20250418  DB1R000100  Prepaid Revenue : DTAC        nan        nan        nan        nan        nan        nan      20250413 2025-04-23 02:12:31
108      202504    20250419  DB1R000100  Prepaid Revenue : DTAC        nan        nan        nan        nan        nan        nan      20250413 2025-04-23 02:12:31
109      202504    20250420  DB1R000100  Prepaid Revenue : DTAC        nan        nan        nan        nan        nan        nan      20250413 2025-04-23 02:12:31
110      202504    20250421  DB1R000100  Prepaid Revenue : DTAC        nan        nan        nan        nan        nan        nan      20250413 2025-04-23 02:12:31
111      202504    20250422  DB1R000100  Prepaid Revenue : DTAC        nan        nan        nan        nan        nan        nan      20250413 2025-04-23 02:12:31

### Prepaid Revenue : TMH

In [2]:
# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20250401
print(f'\nParameter input...\n')
print(f'   -> Data as of {curr_datetime}')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        TM_KEY_MTH, TM_KEY_DAY --, CENTER, PRODUCT_GRP, METRIC_GRP
        , METRIC_CD, METRIC_NAME --, AREA_TYPE, AREA_CD
        , AREA_NAME, ACTUAL_AS_OF, ACTUAL_SNAP, ACTUAL_AGG_MTH --, TARGET_SNAP
        , PPN_TM
    FROM GEOSPCAPPO.AGG_PERF_NEWCO
    WHERE METRIC_CD = 'TB1R000100' --Prepaid Revenue : TMH
    AND AREA_CD = 'P'
    AND TM_KEY_DAY >= {v_start_date} 
    ORDER BY TM_KEY_DAY, CENTER, PRODUCT_GRP, METRIC_GRP, METRIC_CD, AREA_TYPE, AREA_CD
""")


try:
    # Get : Timestamp
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])

    # Display
    txn_df = chk_src_df.copy()
    mod_col_list = txn_df.iloc[:, 6:8].columns.tolist()
    for col in mod_col_list:
        txn_df[col] = txn_df[col].apply(lambda x: format(x, ',.0f'))
    print(f'\n{txn_df.to_string(max_cols=10)}') #max_rows=1000
    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()

Parameter input...

   -> Data as of 2025-04-25, 09:52:37
   -> v_start_date: 20250401

    TM_KEY_MTH  TM_KEY_DAY   METRIC_CD            METRIC_NAME   AREA_NAME  ACTUAL_AS_OF  ACTUAL_SNAP ACTUAL_AGG_MTH              PPN_TM
0       202504    20250401  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250401  101,725,829    101,725,829 2025-04-25 00:47:47
1       202504    20250402  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250402   92,314,263    194,040,092 2025-04-25 00:47:47
2       202504    20250403  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250403   85,596,819    279,636,911 2025-04-25 00:47:47
3       202504    20250404  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250404   85,954,445    365,591,356 2025-04-25 00:47:47
4       202504    20250405  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250405   84,406,717    449,998,074 2025-04-25 00:47:47
5       202504    20250406  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250406   80,946,332    530,944,406 2025-04-25 00:47:47
6       202504    20250407  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250407   78,946,835    609,891,241 2025-04-25 00:47:47
7       202504    20250408  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250408   80,882,930    690,774,172 2025-04-25 00:47:47
8       202504    20250409  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250409   77,547,085    768,321,257 2025-04-25 00:47:47
9       202504    20250410  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250410   82,496,512    850,817,769 2025-04-25 00:47:47
10      202504    20250411  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250411   81,171,151    931,988,920 2025-04-25 00:47:47
11      202504    20250412  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250412   78,910,151  1,010,899,071 2025-04-25 00:47:47
12      202504    20250413  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250413   72,397,506  1,083,296,577 2025-04-25 00:47:47
13      202504    20250414  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250414   68,435,724  1,151,732,301 2025-04-25 00:47:47
14      202504    20250415  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250415   68,248,381  1,219,980,682 2025-04-25 00:47:47
15      202504    20250416  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250416   73,469,786  1,293,450,468 2025-04-25 00:47:47
16      202504    20250417  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250417   75,359,759  1,368,810,227 2025-04-25 00:47:47
17      202504    20250418  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250418   74,132,785  1,442,943,011 2025-04-25 00:47:47
18      202504    20250419  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250419   71,361,051  1,514,304,062 2025-04-25 00:47:47
19      202504    20250420  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250420   68,457,264  1,582,761,326 2025-04-25 00:47:47
20      202504    20250421  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250421   73,846,802  1,656,608,127 2025-04-25 00:47:47
21      202504    20250422  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250422   73,998,817  1,730,606,944 2025-04-25 00:47:47
22      202504    20250423  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250423   69,933,367  1,800,540,310 2025-04-25 00:47:47
23      202504    20250424  TB1R000100  Prepaid Revenue : TMH  Nationwide      20250423          nan  1,800,540,310 2025-04-25 00:47:47

## Monthly Revenue ARPU

In [2]:
''' Execute transaction '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20250101
print(f'\nParameter input...\n')
print(f'   -> Data as of {curr_datetime}')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        TM_KEY_MTH, TM_KEY_DAY --, CENTER, PRODUCT_GRP, METRIC_GRP
        , METRIC_CD, METRIC_NAME --, AREA_TYPE, AREA_CD
        , AREA_NAME, ACTUAL_AS_OF, ACTUAL_SNAP, ACTUAL_AGG_MTH --, TARGET_SNAP
        , PPN_TM
    FROM GEOSPCAPPO.AGG_PERF_NEWCO
    WHERE METRIC_CD IN (
        'B7R000102' --Prepaid ARPU
        , 'DB7R000102' --Prepaid ARPU : DTAC
        , 'TB7R000102' --Prepaid ARPU : TMH
        , 'B7R000101' --Postpaid ARPU
        , 'B7R010101' --Postpaid ARPU B2C
        , 'DB7R000101' --Postpaid ARPU : DTAC
        , 'DB7R010101' --Postpaid ARPU B2C : DTAC
        , 'TB7R000101' --Postpaid ARPU : TMH
        , 'TB7R010101' --Postpaid ARPU B2C : TMH
        , 'TB7R000103' --TOL ARPU
        , 'TB7R000104' --TVS ARPU
        )
    AND AREA_CD = 'P'
    AND TM_KEY_DAY >= {v_start_date} 
    --ORDER BY TM_KEY_DAY, CENTER, PRODUCT_GRP, METRIC_GRP, METRIC_CD, AREA_TYPE, AREA_CD
""")


try:
    # Get : Timestamp
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])

    # # Display
    # txn_df = chk_src_df.copy()
    # mod_col_list = txn_df.iloc[:, 6:8].columns.tolist()
    # for col in mod_col_list:
    #     txn_df[col] = txn_df[col].apply(lambda x: format(x, ',.0f'))
    # print(f'\n{txn_df.to_string(max_cols=10)}') #max_rows=1000

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()

Parameter input...

   -> Data as of 2025-04-28, 10:08:52
   -> v_start_date: 20250101

In [3]:
''' B7R000102 : Prepaid ARPU '''

v_metric_cd = 'B7R000102'
# v_tm_key_day = int(str(curr_mth)+str('01'))
# v_tm_key_day = 20250401
print(f'\nB7R000102 : Prepaid ARPU...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
# print(f'   -> v_tm_key_day: {v_tm_key_day}')

B7R000102_day_df = chk_src_df.copy()
B7R000102_day_df = B7R000102_day_df.loc[B7R000102_day_df['METRIC_CD']==v_metric_cd]
# B7R000102_day_df = B7R000102_day_df.loc[B7R000102_day_df['TM_KEY_DAY']>=v_tm_key_day]
B7R000102_day_df = B7R000102_day_df.fillna(0).sort_values(by=['TM_KEY_DAY', 'METRIC_CD']).reset_index(drop=True)

mod_col_list = B7R000102_day_df.iloc[:, 6:8].columns.tolist()
for col in mod_col_list:
    B7R000102_day_df[col] = B7R000102_day_df[col].apply(lambda x: format(x, ',.1f'))
    
B7R000102_day_df

B7R000102 : Prepaid ARPU...

   -> v_metric_cd: B7R000102

,TM_KEY_MTH,TM_KEY_DAY,METRIC_CD,METRIC_NAME,AREA_NAME,ACTUAL_AS_OF,ACTUAL_SNAP,ACTUAL_AGG_MTH,PPN_TM
0,202501,20250101,B7R000102,Prepaid ARPU,Nationwide,20250101,172.9,172.9,2025-04-27 23:40:52
1,202501,20250102,B7R000102,Prepaid ARPU,Nationwide,20250102,172.8,172.8,2025-04-27 23:40:52
2,202501,20250103,B7R000102,Prepaid ARPU,Nationwide,20250103,173.2,173.2,2025-04-27 23:40:52
3,202501,20250104,B7R000102,Prepaid ARPU,Nationwide,20250104,173.4,173.4,2025-04-27 23:40:52
4,202501,20250105,B7R000102,Prepaid ARPU,Nationwide,20250105,173.5,173.5,2025-04-27 23:40:52
...,...,...,...,...,...,...,...,...,...
111,202504,20250422,B7R000102,Prepaid ARPU,Nationwide,20250422,152.3,152.3,2025-04-27 23:40:52
112,202504,20250423,B7R000102,Prepaid ARPU,Nationwide,20250423,408.9,408.9,2025-04-27 23:40:52
113,202504,20250424,B7R000102,Prepaid ARPU,Nationwide,20250424,152.6,152.6,2025-04-27 23:40:52
114,202504,20250425,B7R000102,Prepaid ARPU,Nationwide,20250425,152.8,152.8,2025-04-27 23:40:52
115,202504,20250426,B7R000102,Prepaid ARPU,Nationwide,20250425,0.0,152.8,2025-04-27 23:40:52

In [4]:
''' B7R010101 : Postpaid ARPU B2C '''

v_metric_cd = 'B7R010101'
# v_tm_key_day = int(str(curr_mth)+str('01'))
# v_tm_key_day = 20250401
print(f'\nB7R010101 : Postpaid ARPU B2C...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
# print(f'   -> v_tm_key_day: {v_tm_key_day}')

B7R010101_day_df = chk_src_df.copy()
B7R010101_day_df = B7R010101_day_df.loc[B7R010101_day_df['METRIC_CD']==v_metric_cd]
# B7R010101_day_df = B7R010101_day_df.loc[B7R010101_day_df['TM_KEY_DAY']>=v_tm_key_day]
B7R010101_day_df = B7R010101_day_df.fillna(0).sort_values(by=['TM_KEY_DAY', 'METRIC_CD']).reset_index(drop=True)

mod_col_list = B7R010101_day_df.iloc[:, 6:8].columns.tolist()
for col in mod_col_list:
    B7R010101_day_df[col] = B7R010101_day_df[col].apply(lambda x: format(x, ',.1f'))
    
B7R010101_day_df

B7R010101 : Postpaid ARPU B2C...

   -> v_metric_cd: B7R010101

,TM_KEY_MTH,TM_KEY_DAY,METRIC_CD,METRIC_NAME,AREA_NAME,ACTUAL_AS_OF,ACTUAL_SNAP,ACTUAL_AGG_MTH,PPN_TM
0,202501,20250101,B7R010101,Postpaid ARPU B2C,Nationwide,20250101,416.8,416.8,2025-04-27 23:40:52
1,202501,20250102,B7R010101,Postpaid ARPU B2C,Nationwide,20250102,417.0,417.0,2025-04-27 23:40:52
2,202501,20250103,B7R010101,Postpaid ARPU B2C,Nationwide,20250103,417.0,417.0,2025-04-27 23:40:52
3,202501,20250104,B7R010101,Postpaid ARPU B2C,Nationwide,20250104,417.0,417.0,2025-04-27 23:40:52
4,202501,20250105,B7R010101,Postpaid ARPU B2C,Nationwide,20250105,416.7,416.7,2025-04-27 23:40:52
...,...,...,...,...,...,...,...,...,...
111,202504,20250422,B7R010101,Postpaid ARPU B2C,Nationwide,20250422,416.5,416.5,2025-04-27 23:40:52
112,202504,20250423,B7R010101,Postpaid ARPU B2C,Nationwide,20250423,416.6,416.6,2025-04-27 23:40:52
113,202504,20250424,B7R010101,Postpaid ARPU B2C,Nationwide,20250424,416.6,416.6,2025-04-27 23:40:52
114,202504,20250425,B7R010101,Postpaid ARPU B2C,Nationwide,20250425,393.7,393.7,2025-04-27 23:40:52
115,202504,20250426,B7R010101,Postpaid ARPU B2C,Nationwide,20250425,0.0,393.7,2025-04-27 23:40:52

In [5]:
''' TB7R010101 : Postpaid ARPU B2C : TMH '''

v_metric_cd = 'TB7R010101'
# v_tm_key_day = int(str(curr_mth)+str('01'))
# v_tm_key_day = 20250401
print(f'\nTB7R010101 : Postpaid ARPU B2C : TMH...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
# print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB7R010101_day_df = chk_src_df.copy()
TB7R010101_day_df = TB7R010101_day_df.loc[TB7R010101_day_df['METRIC_CD']==v_metric_cd]
# TB7R010101_day_df = TB7R010101_day_df.loc[TB7R010101_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB7R010101_day_df = TB7R010101_day_df.fillna(0).sort_values(by=['TM_KEY_DAY', 'METRIC_CD']).reset_index(drop=True)

mod_col_list = TB7R010101_day_df.iloc[:, 6:8].columns.tolist()
for col in mod_col_list:
    TB7R010101_day_df[col] = TB7R010101_day_df[col].apply(lambda x: format(x, ',.1f'))
    
TB7R010101_day_df

TB7R010101 : Postpaid ARPU B2C : TMH...

   -> v_metric_cd: TB7R010101

,TM_KEY_MTH,TM_KEY_DAY,METRIC_CD,METRIC_NAME,AREA_NAME,ACTUAL_AS_OF,ACTUAL_SNAP,ACTUAL_AGG_MTH,PPN_TM
0,202501,20250101,TB7R010101,Postpaid ARPU B2C : TMH,Nationwide,20250101,371.6,371.6,2025-04-27 23:40:52
1,202501,20250102,TB7R010101,Postpaid ARPU B2C : TMH,Nationwide,20250102,372.0,372.0,2025-04-27 23:40:52
2,202501,20250103,TB7R010101,Postpaid ARPU B2C : TMH,Nationwide,20250103,372.0,372.0,2025-04-27 23:40:52
3,202501,20250104,TB7R010101,Postpaid ARPU B2C : TMH,Nationwide,20250104,372.0,372.0,2025-04-27 23:40:52
4,202501,20250105,TB7R010101,Postpaid ARPU B2C : TMH,Nationwide,20250105,371.9,371.9,2025-04-27 23:40:52
...,...,...,...,...,...,...,...,...,...
111,202504,20250422,TB7R010101,Postpaid ARPU B2C : TMH,Nationwide,20250422,371.4,371.4,2025-04-27 23:40:52
112,202504,20250423,TB7R010101,Postpaid ARPU B2C : TMH,Nationwide,20250423,371.4,371.4,2025-04-27 23:40:52
113,202504,20250424,TB7R010101,Postpaid ARPU B2C : TMH,Nationwide,20250424,371.4,371.4,2025-04-27 23:40:52
114,202504,20250425,TB7R010101,Postpaid ARPU B2C : TMH,Nationwide,20250425,335.5,335.5,2025-04-27 23:40:52
115,202504,20250426,TB7R010101,Postpaid ARPU B2C : TMH,Nationwide,20250425,0.0,335.5,2025-04-27 23:40:52

In [6]:
''' DB7R010101 : Postpaid ARPU B2C : DTAC '''

v_metric_cd = 'DB7R010101'
# v_tm_key_day = int(str(curr_mth)+str('01'))
# v_tm_key_day = 20250401
print(f'\nDB7R010101 : Postpaid ARPU B2C : DTAC...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
# print(f'   -> v_tm_key_day: {v_tm_key_day}')

DB7R010101_day_df = chk_src_df.copy()
DB7R010101_day_df = DB7R010101_day_df.loc[DB7R010101_day_df['METRIC_CD']==v_metric_cd]
# DB7R010101_day_df = DB7R010101_day_df.loc[DB7R010101_day_df['TM_KEY_DAY']>=v_tm_key_day]
DB7R010101_day_df = DB7R010101_day_df.fillna(0).sort_values(by=['TM_KEY_DAY', 'METRIC_CD']).reset_index(drop=True)

mod_col_list = DB7R010101_day_df.iloc[:, 6:8].columns.tolist()
for col in mod_col_list:
    DB7R010101_day_df[col] = DB7R010101_day_df[col].apply(lambda x: format(x, ',.1f'))
    
DB7R010101_day_df

DB7R010101 : Postpaid ARPU B2C : DTAC...

   -> v_metric_cd: DB7R010101

,TM_KEY_MTH,TM_KEY_DAY,METRIC_CD,METRIC_NAME,AREA_NAME,ACTUAL_AS_OF,ACTUAL_SNAP,ACTUAL_AGG_MTH,PPN_TM
0,202501,20250101,DB7R010101,Postpaid ARPU B2C : DTAC,Nationwide,20250101,494.7,494.7,2025-04-27 23:40:52
1,202501,20250102,DB7R010101,Postpaid ARPU B2C : DTAC,Nationwide,20250102,494.5,494.5,2025-04-27 23:40:52
2,202501,20250103,DB7R010101,Postpaid ARPU B2C : DTAC,Nationwide,20250103,494.6,494.6,2025-04-27 23:40:52
3,202501,20250104,DB7R010101,Postpaid ARPU B2C : DTAC,Nationwide,20250104,494.4,494.4,2025-04-27 23:40:52
4,202501,20250105,DB7R010101,Postpaid ARPU B2C : DTAC,Nationwide,20250105,494.1,494.1,2025-04-27 23:40:52
...,...,...,...,...,...,...,...,...,...
111,202504,20250422,DB7R010101,Postpaid ARPU B2C : DTAC,Nationwide,20250422,496.5,496.5,2025-04-27 23:40:52
112,202504,20250423,DB7R010101,Postpaid ARPU B2C : DTAC,Nationwide,20250423,496.6,496.6,2025-04-27 23:40:52
113,202504,20250424,DB7R010101,Postpaid ARPU B2C : DTAC,Nationwide,20250424,496.6,496.6,2025-04-27 23:40:52
114,202504,20250425,DB7R010101,Postpaid ARPU B2C : DTAC,Nationwide,20250425,496.6,496.6,2025-04-27 23:40:52
115,202504,20250426,DB7R010101,Postpaid ARPU B2C : DTAC,Nationwide,20250425,0.0,496.6,2025-04-27 23:40:52

In [7]:
''' TB7R000103 : TOL ARPU '''

v_metric_cd = 'TB7R000103'
# v_tm_key_day = int(str(curr_mth)+str('01'))
# v_tm_key_day = 20250401
print(f'\nTB7R000103 : TOL ARPU...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
# print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB7R000103_day_df = chk_src_df.copy()
TB7R000103_day_df = TB7R000103_day_df.loc[TB7R000103_day_df['METRIC_CD']==v_metric_cd]
# TB7R000103_day_df = TB7R000103_day_df.loc[TB7R000103_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB7R000103_day_df = TB7R000103_day_df.fillna(0).sort_values(by=['TM_KEY_DAY', 'METRIC_CD']).reset_index(drop=True)

mod_col_list = TB7R000103_day_df.iloc[:, 6:8].columns.tolist()
for col in mod_col_list:
    TB7R000103_day_df[col] = TB7R000103_day_df[col].apply(lambda x: format(x, ',.1f'))
    
TB7R000103_day_df

TB7R000103 : TOL ARPU...

   -> v_metric_cd: TB7R000103

,TM_KEY_MTH,TM_KEY_DAY,METRIC_CD,METRIC_NAME,AREA_NAME,ACTUAL_AS_OF,ACTUAL_SNAP,ACTUAL_AGG_MTH,PPN_TM
0,202501,20250101,TB7R000103,TOL ARPU,Nationwide,20250101,510.9,510.9,2025-04-27 23:40:52
1,202501,20250102,TB7R000103,TOL ARPU,Nationwide,20250102,510.8,510.8,2025-04-27 23:40:52
2,202501,20250103,TB7R000103,TOL ARPU,Nationwide,20250103,510.9,510.9,2025-04-27 23:40:52
3,202501,20250104,TB7R000103,TOL ARPU,Nationwide,20250104,510.8,510.8,2025-04-27 23:40:52
4,202501,20250105,TB7R000103,TOL ARPU,Nationwide,20250105,510.6,510.6,2025-04-27 23:40:52
...,...,...,...,...,...,...,...,...,...
111,202504,20250422,TB7R000103,TOL ARPU,Nationwide,20250422,514.4,514.4,2025-04-27 23:40:52
112,202504,20250423,TB7R000103,TOL ARPU,Nationwide,20250422,0.0,514.4,2025-04-27 23:40:52
113,202504,20250424,TB7R000103,TOL ARPU,Nationwide,20250422,0.0,514.4,2025-04-27 23:40:52
114,202504,20250425,TB7R000103,TOL ARPU,Nationwide,20250422,0.0,514.4,2025-04-27 23:40:52
115,202504,20250426,TB7R000103,TOL ARPU,Nationwide,20250422,0.0,514.4,2025-04-27 23:40:52

In [8]:
''' TB7R000104 : TVS ARPU '''

v_metric_cd = 'TB7R000104'
# v_tm_key_day = int(str(curr_mth)+str('01'))
# v_tm_key_day = 20250401
print(f'\nTB7R000104 : Postpaid ARPU B2C...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
# print(f'   -> v_tm_key_day: {v_tm_key_day}')

TB7R000104_day_df = chk_src_df.copy()
TB7R000104_day_df = TB7R000104_day_df.loc[TB7R000104_day_df['METRIC_CD']==v_metric_cd]
# TB7R000104_day_df = TB7R000104_day_df.loc[TB7R000104_day_df['TM_KEY_DAY']>=v_tm_key_day]
TB7R000104_day_df = TB7R000104_day_df.fillna(0).sort_values(by=['TM_KEY_DAY', 'METRIC_CD']).reset_index(drop=True)

mod_col_list = TB7R000104_day_df.iloc[:, 6:8].columns.tolist()
for col in mod_col_list:
    TB7R000104_day_df[col] = TB7R000104_day_df[col].apply(lambda x: format(x, ',.1f'))
    
TB7R000104_day_df

TB7R000104 : Postpaid ARPU B2C...

   -> v_metric_cd: TB7R000104

,TM_KEY_MTH,TM_KEY_DAY,METRIC_CD,METRIC_NAME,AREA_NAME,ACTUAL_AS_OF,ACTUAL_SNAP,ACTUAL_AGG_MTH,PPN_TM
0,202501,20250101,TB7R000104,TVS ARPU,Nationwide,20250101,260.4,260.4,2025-04-27 23:40:52
1,202501,20250102,TB7R000104,TVS ARPU,Nationwide,20250102,259.8,259.8,2025-04-27 23:40:52
2,202501,20250103,TB7R000104,TVS ARPU,Nationwide,20250103,259.8,259.8,2025-04-27 23:40:52
3,202501,20250104,TB7R000104,TVS ARPU,Nationwide,20250104,259.9,259.9,2025-04-27 23:40:52
4,202501,20250105,TB7R000104,TVS ARPU,Nationwide,20250105,259.9,259.9,2025-04-27 23:40:52
...,...,...,...,...,...,...,...,...,...
111,202504,20250422,TB7R000104,TVS ARPU,Nationwide,20250422,258.7,258.7,2025-04-27 23:40:52
112,202504,20250423,TB7R000104,TVS ARPU,Nationwide,20250422,0.0,258.7,2025-04-27 23:40:52
113,202504,20250424,TB7R000104,TVS ARPU,Nationwide,20250422,0.0,258.7,2025-04-27 23:40:52
114,202504,20250425,TB7R000104,TVS ARPU,Nationwide,20250422,0.0,258.7,2025-04-27 23:40:52
115,202504,20250426,TB7R000104,TVS ARPU,Nationwide,20250422,0.0,258.7,2025-04-27 23:40:52