# * VINSIGHT : Churn Subs
    Prepaid Churn Subs : TMH ยังใช้ไม่ได้ รอ verify ตัวเลข

In [1]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

## Import Transaction

In [2]:
''' Execute transaction '''


# Input parameter
v_start_date = 20240101
print(f'\nParameter input...')
print(f'   -> v_start_date: {v_start_date}')

curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
print(f'\nData as of {curr_datetime}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        TM_KEY_YR, TM_KEY_QTR, TM_KEY_MTH, TM_KEY_WK, TM_KEY_DAY, PRODUCT_GRP, COMP_CD, METRIC_CD, METRIC_NAME --, AREA_TYPE, AREA_CD, AREA_NAME
        , MAX(ACTUAL_AS_OF) ACTUAL_AS_OF
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN ACTUAL_SNAP END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN ACTUAL_SNAP END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN ACTUAL_SNAP END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN ACTUAL_SNAP END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN ACTUAL_SNAP END) HH
        , MAX(PPN_TM) PPN_TM
    FROM GEOSPCAPPO.AGG_PERF_NEWCO
    WHERE METRIC_CD IN (
        'B1S000200' --Prepaid Churn Subs
        , 'TB1S000200' --Prepaid Churn Subs : TMH
        , 'DB1S000200' --Prepaid Churn Subs : DTAC
        
        , 'B2S010200' --Postpaid Churn Subs B2C
        , 'TB2S010200' --Postpaid Churn Subs B2C : TMH
        , 'DB2S010200' --Postpaid Churn Subs B2C : DTAC
        , 'B2S010201' --Postpaid Churn Subs Voluntary B2C
        , 'TB2S010201' --Postpaid Churn Subs Voluntary B2C : TMH
        , 'DB2S010201' --Postpaid Churn Subs Voluntary B2C : DTAC
        , 'B2S010202' --Postpaid Churn Subs Involuntary B2C
        , 'TB2S010202' --Postpaid Churn Subs Involuntary B2C : TMH
        , 'DB2S010202' --Postpaid Churn Subs Involuntary B2C : DTAC
        , 'TB2S010210' --Postpaid Churn Subs B2C : TMH (Most Used Location)
        , 'TB2S010211' --Postpaid Churn Subs Voluntary B2C : TMH (Most Used Location)
        , 'TB2S010212' --Postpaid Churn Subs Involuntary B2C : TMH (Most Used Location)
        
        , 'B2S020200' --Postpaid Churn Subs B2B
        , 'TB2S020200' --Postpaid Churn Subs B2B : TMH
        , 'DB2S020200' --Postpaid Churn Subs B2B : DTAC
        , 'B2S020201' --Postpaid Churn Subs Voluntary B2B
        , 'TB2S020201' --Postpaid Churn Subs Voluntary B2B : TMH
        , 'DB2S020201' --Postpaid Churn Subs Voluntary B2B : DTAC
        , 'B2S020202' --Postpaid Churn Subs Involuntary B2B
        , 'TB2S020202' --Postpaid Churn Subs Involuntary B2B : TMH
        , 'DB2S020202' --Postpaid Churn Subs Involuntary B2B : DTAC
        , 'TB2S020210' --Postpaid Churn Subs B2B : TMH (Most Used Location)
        , 'TB2S020211' --Postpaid Churn Subs Voluntary B2B : TMH (Most Used Location)
        , 'TB2S020212' --Postpaid Churn Subs Involuntary B2B : TMH (Most Used Location)
        
        , 'TSER13100' --FTTx Churn Subs
        , 'TSER13102' --FTTx Churn Subs Voluntary
        , 'TSER13103' --FTTx Churn Subs Involuntary
        , 'TSER13104' --FTTx Churn Subs Involuntary (Collection Forecast)
        , 'TSER14100' --TVS Churn Subs
        , 'TSER14102' --TVS Churn Subs Voluntary
        , 'TSER14103' --TVS Churn Subs Involuntary
        )
    AND AREA_TYPE IN ('C','P','G','H','HH')
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY TM_KEY_YR, TM_KEY_QTR, TM_KEY_MTH, TM_KEY_WK, TM_KEY_DAY, PRODUCT_GRP, COMP_CD, METRIC_CD, METRIC_NAME
""")


try:
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])

    print(f'\nDataFrame: {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()

Parameter input...
   -> v_start_date: 20240101

Data as of 2025-07-02, 11:34:56

DataFrame: 16979 rows, 16 columns

In [3]:
''' Automate Currently Period '''

curr_yr = chk_src_df['TM_KEY_YR'].max()
prev_yr = chk_src_df['TM_KEY_YR'].drop_duplicates().sort_values().shift().max().astype(int)

curr_qtr = chk_src_df['TM_KEY_QTR'].max()
prev_qtr = chk_src_df['TM_KEY_QTR'].drop_duplicates().sort_values().shift().max().astype(int)

curr_mth = chk_src_df['TM_KEY_MTH'].max()
prev_mth = chk_src_df['TM_KEY_MTH'].drop_duplicates().sort_values().shift().max().astype(int)

curr_wk = chk_src_df['TM_KEY_WK'].max()
prev_wk = chk_src_df['TM_KEY_WK'].drop_duplicates().sort_values().shift().max().astype(int)
last_3_wk = chk_src_df['TM_KEY_WK'].drop_duplicates().sort_values().shift(3).max().astype(int)

# curr_day = chk_src_df.loc[chk_src_df['ACTUAL_SNAP'] > 0]['ACTUAL_AS_OF'].max().astype(int)
# prev_day = chk_src_df.loc[chk_src_df['ACTUAL_SNAP'] > 0]['ACTUAL_AS_OF'].drop_duplicates().shift().max().astype(int)

## Overview by Period

In [4]:
''' Churn Subs Yearly '''

v_metric_list = [
    'B1S000200' #Prepaid Churn Subs
    , 'TB1S000200' #Prepaid Churn Subs : TMH
    , 'DB1S000200' #Prepaid Churn Subs : DTAC
    , 'B2S010200' #Postpaid Churn Subs B2C
    , 'TB2S010200' #Postpaid Churn Subs B2C : TMH
    , 'DB2S010200' #Postpaid Churn Subs B2C : DTAC
    , 'B2S010201' #Postpaid Churn Subs Voluntary B2C
    , 'TB2S010201' #Postpaid Churn Subs Voluntary B2C : TMH
    , 'DB2S010201' #Postpaid Churn Subs Voluntary B2C : DTAC
    , 'B2S010202' #Postpaid Churn Subs Involuntary B2C
    , 'TB2S010202' #Postpaid Churn Subs Involuntary B2C : TMH
    , 'DB2S010202' #Postpaid Churn Subs Involuntary B2C : DTAC
    # , 'TB2S010210' #Postpaid Churn Subs B2C : TMH (Most Used Location)
    # , 'TB2S010211' #Postpaid Churn Subs Voluntary B2C : TMH (Most Used Location)
    # , 'TB2S010212' #Postpaid Churn Subs Involuntary B2C : TMH (Most Used Location)
    , 'TSER13100' #FTTx Churn Subs
    , 'TSER13102' #FTTx Churn Subs Voluntary
    , 'TSER13103' #FTTx Churn Subs Involuntary
    , 'TSER13104' #FTTx Churn Subs Involuntary (Collection Forecast)
    , 'TSER14100' #TVS Churn Subs
    , 'TSER14102' #TVS Churn Subs Voluntary
    , 'TSER14103' #TVS Churn Subs Involuntary
    ]

churn_sub_yearly_df = chk_src_df[['TM_KEY_YR', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']].copy()
churn_sub_yearly_df = churn_sub_yearly_df.loc[churn_sub_yearly_df['METRIC_CD'].isin(v_metric_list)]

churn_sub_yearly_df['PRE'] = np.where(churn_sub_yearly_df['METRIC_CD']=='B1S000200', churn_sub_yearly_df['P'], 0)
churn_sub_yearly_df['PRE_T'] = np.where(churn_sub_yearly_df['METRIC_CD']=='TB1S000200', churn_sub_yearly_df['P'], 0)
churn_sub_yearly_df['PRE_D'] = np.where(churn_sub_yearly_df['METRIC_CD']=='DB1S000200', churn_sub_yearly_df['P'], 0)

churn_sub_yearly_df['POST_B2C'] = np.where(churn_sub_yearly_df['METRIC_CD']=='B2S010200', churn_sub_yearly_df['P'], 0)
churn_sub_yearly_df['POST_B2C_VL'] = np.where(churn_sub_yearly_df['METRIC_CD']=='B2S010201', churn_sub_yearly_df['P'], 0)
churn_sub_yearly_df['POST_B2C_IVL'] = np.where(churn_sub_yearly_df['METRIC_CD']=='B2S010202', churn_sub_yearly_df['P'], 0)

churn_sub_yearly_df['POST_B2C_T'] = np.where(churn_sub_yearly_df['METRIC_CD']=='TB2S010200', churn_sub_yearly_df['P'], 0)
churn_sub_yearly_df['POST_B2C_VL_T'] = np.where(churn_sub_yearly_df['METRIC_CD']=='TB2S010201', churn_sub_yearly_df['P'], 0)
churn_sub_yearly_df['POST_B2C_IVL_T'] = np.where(churn_sub_yearly_df['METRIC_CD']=='TB2S010202', churn_sub_yearly_df['P'], 0)

churn_sub_yearly_df['POST_B2C_D'] = np.where(churn_sub_yearly_df['METRIC_CD']=='DB2S010200', churn_sub_yearly_df['P'], 0)
churn_sub_yearly_df['POST_B2C_VL_D'] = np.where(churn_sub_yearly_df['METRIC_CD']=='DB2S010201', churn_sub_yearly_df['P'], 0)
churn_sub_yearly_df['POST_B2C_IVL_D'] = np.where(churn_sub_yearly_df['METRIC_CD']=='DB2S010202', churn_sub_yearly_df['P'], 0)

churn_sub_yearly_df['FTTX'] = np.where(churn_sub_yearly_df['METRIC_CD']=='TSER13100', churn_sub_yearly_df['P'], 0)
churn_sub_yearly_df['FTTX_VL'] = np.where(churn_sub_yearly_df['METRIC_CD']=='TSER13102', churn_sub_yearly_df['P'], 0)
churn_sub_yearly_df['FTTX_IVL'] = np.where(churn_sub_yearly_df['METRIC_CD']=='TSER13103', churn_sub_yearly_df['P'], 0)
churn_sub_yearly_df['FTTX_IVL(CF)'] = np.where(churn_sub_yearly_df['METRIC_CD']=='TSER13104', churn_sub_yearly_df['P'], 0)

churn_sub_yearly_df['TVS'] = np.where(churn_sub_yearly_df['METRIC_CD']=='TSER14100', churn_sub_yearly_df['P'], 0)
churn_sub_yearly_df['TVS_VL'] = np.where(churn_sub_yearly_df['METRIC_CD']=='TSER14102', churn_sub_yearly_df['P'], 0)
churn_sub_yearly_df['TVS_IVL'] = np.where(churn_sub_yearly_df['METRIC_CD']=='TSER14103', churn_sub_yearly_df['P'], 0)


# ''' Full '''
# churn_sub_yearly_df = churn_sub_yearly_df.groupby('TM_KEY_YR')\
#     .agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'PRE':'sum', 'PRE_T':'sum', 'PRE_D':'sum'
#           , 'POST_B2C':'sum', 'POST_B2C_VL':'sum', 'POST_B2C_IVL':'sum'
#           , 'POST_B2C_T':'sum', 'POST_B2C_VL_T':'sum', 'POST_B2C_IVL_T':'sum'
#           , 'POST_B2C_D':'sum', 'POST_B2C_VL_D':'sum', 'POST_B2C_IVL_D':'sum'
#           , 'FTTX':'sum', 'FTTX_VL':'sum', 'FTTX_IVL':'sum'
#           , 'TVS':'sum', 'TVS_VL':'sum', 'TVS_IVL':'sum'})
# churn_sub_yearly_df = churn_sub_yearly_df.fillna(0).sort_values(by=['TM_KEY_YR']).reset_index()
# churn_sub_yearly_df = churn_sub_yearly_df[['TM_KEY_YR', 'PPN_TM', 'ACTUAL_AS_OF'
#                                          , 'PRE', 'PRE_T', 'PRE_D'
#                                          , 'POST_B2C', 'POST_B2C_VL', 'POST_B2C_IVL'
#                                          , 'POST_B2C_T', 'POST_B2C_VL_T', 'POST_B2C_IVL_T'
#                                          , 'POST_B2C_D', 'POST_B2C_VL_D', 'POST_B2C_IVL_D'
#                                          , 'FTTX', 'FTTX_VL', 'FTTX_IVL'
#                                          , 'TVS', 'TVS_VL', 'TVS_IVL']]
# churn_sub_yearly_df_display = churn_sub_yearly_df.copy()
# churn_sub_yearly_df_display['ACTUAL_AS_OF'] = churn_sub_yearly_df_display['ACTUAL_AS_OF'].astype(int)
# mod_col_list = churn_sub_yearly_df_display.iloc[:, 3:].columns.tolist()
# for col in mod_col_list:
#     churn_sub_yearly_df_display[col] = churn_sub_yearly_df_display[col].apply(lambda x: format(x, ',.0f'))
# print(f'\n{churn_sub_yearly_df_display.to_string(max_cols=100)}') #max_rows=1000


''' Overview '''
churn_sub_yearly_df = churn_sub_yearly_df.groupby('TM_KEY_YR').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'PRE':'sum', 'POST_B2C':'sum', 'POST_B2C_VL':'sum', 'POST_B2C_IVL':'sum', 'FTTX':'sum', 'FTTX_VL':'sum', 'FTTX_IVL':'sum', 'TVS':'sum', 'TVS_VL':'sum', 'TVS_IVL':'sum'})
churn_sub_yearly_df = churn_sub_yearly_df.fillna(0).sort_values(by=['TM_KEY_YR']).reset_index()
churn_sub_yearly_df = churn_sub_yearly_df[['TM_KEY_YR', 'PPN_TM', 'ACTUAL_AS_OF', 'PRE', 'POST_B2C', 'POST_B2C_VL', 'POST_B2C_IVL', 'FTTX', 'FTTX_VL', 'FTTX_IVL', 'TVS', 'TVS_VL', 'TVS_IVL']]
churn_sub_yearly_df_display = churn_sub_yearly_df.copy()
churn_sub_yearly_df_display['ACTUAL_AS_OF'] = churn_sub_yearly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = churn_sub_yearly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    churn_sub_yearly_df_display[col] = churn_sub_yearly_df_display[col].apply(lambda x: format(x, ',.0f'))
churn_sub_yearly_df_display

,TM_KEY_YR,PPN_TM,ACTUAL_AS_OF,PRE,POST_B2C,POST_B2C_VL,POST_B2C_IVL,FTTX,FTTX_VL,FTTX_IVL,TVS,TVS_VL,TVS_IVL
0,2024,2025-07-02 01:23:34,20241231,0,"2,857,216","1,066,524","1,862,336","456,668","170,154","281,222","194,250","84,176","18,800"
1,2025,2025-07-02 01:23:34,20250630,0,"1,135,477","466,077","677,421","213,493","80,311","136,028","113,314","11,605",79

In [5]:
''' Churn Subs Quarterly '''

v_metric_list = [
    'B1S000200' #Prepaid Churn Subs
    , 'TB1S000200' #Prepaid Churn Subs : TMH
    , 'DB1S000200' #Prepaid Churn Subs : DTAC
    , 'B2S010200' #Postpaid Churn Subs B2C
    , 'TB2S010200' #Postpaid Churn Subs B2C : TMH
    , 'DB2S010200' #Postpaid Churn Subs B2C : DTAC
    , 'B2S010201' #Postpaid Churn Subs Voluntary B2C
    , 'TB2S010201' #Postpaid Churn Subs Voluntary B2C : TMH
    , 'DB2S010201' #Postpaid Churn Subs Voluntary B2C : DTAC
    , 'B2S010202' #Postpaid Churn Subs Involuntary B2C
    , 'TB2S010202' #Postpaid Churn Subs Involuntary B2C : TMH
    , 'DB2S010202' #Postpaid Churn Subs Involuntary B2C : DTAC
    # , 'TB2S010210' #Postpaid Churn Subs B2C : TMH (Most Used Location)
    # , 'TB2S010211' #Postpaid Churn Subs Voluntary B2C : TMH (Most Used Location)
    # , 'TB2S010212' #Postpaid Churn Subs Involuntary B2C : TMH (Most Used Location)
    , 'TSER13100' #FTTx Churn Subs
    , 'TSER13102' #FTTx Churn Subs Voluntary
    , 'TSER13103' #FTTx Churn Subs Involuntary
    , 'TSER13104' #FTTx Churn Subs Involuntary (Collection Forecast)
    , 'TSER14100' #TVS Churn Subs
    , 'TSER14102' #TVS Churn Subs Voluntary
    , 'TSER14103' #TVS Churn Subs Involuntary
    ]

churn_sub_quarterly_df = chk_src_df[['TM_KEY_QTR', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']].copy()
churn_sub_quarterly_df = churn_sub_quarterly_df.loc[churn_sub_quarterly_df['METRIC_CD'].isin(v_metric_list)]

churn_sub_quarterly_df['PRE'] = np.where(churn_sub_quarterly_df['METRIC_CD']=='B1S000200', churn_sub_quarterly_df['P'], 0)
churn_sub_quarterly_df['PRE_T'] = np.where(churn_sub_quarterly_df['METRIC_CD']=='TB1S000200', churn_sub_quarterly_df['P'], 0)
churn_sub_quarterly_df['PRE_D'] = np.where(churn_sub_quarterly_df['METRIC_CD']=='DB1S000200', churn_sub_quarterly_df['P'], 0)

churn_sub_quarterly_df['POST_B2C'] = np.where(churn_sub_quarterly_df['METRIC_CD']=='B2S010200', churn_sub_quarterly_df['P'], 0)
churn_sub_quarterly_df['POST_B2C_VL'] = np.where(churn_sub_quarterly_df['METRIC_CD']=='B2S010201', churn_sub_quarterly_df['P'], 0)
churn_sub_quarterly_df['POST_B2C_IVL'] = np.where(churn_sub_quarterly_df['METRIC_CD']=='B2S010202', churn_sub_quarterly_df['P'], 0)

churn_sub_quarterly_df['POST_B2C_T'] = np.where(churn_sub_quarterly_df['METRIC_CD']=='TB2S010200', churn_sub_quarterly_df['P'], 0)
churn_sub_quarterly_df['POST_B2C_VL_T'] = np.where(churn_sub_quarterly_df['METRIC_CD']=='TB2S010201', churn_sub_quarterly_df['P'], 0)
churn_sub_quarterly_df['POST_B2C_IVL_T'] = np.where(churn_sub_quarterly_df['METRIC_CD']=='TB2S010202', churn_sub_quarterly_df['P'], 0)

churn_sub_quarterly_df['POST_B2C_D'] = np.where(churn_sub_quarterly_df['METRIC_CD']=='DB2S010200', churn_sub_quarterly_df['P'], 0)
churn_sub_quarterly_df['POST_B2C_VL_D'] = np.where(churn_sub_quarterly_df['METRIC_CD']=='DB2S010201', churn_sub_quarterly_df['P'], 0)
churn_sub_quarterly_df['POST_B2C_IVL_D'] = np.where(churn_sub_quarterly_df['METRIC_CD']=='DB2S010202', churn_sub_quarterly_df['P'], 0)

churn_sub_quarterly_df['FTTX'] = np.where(churn_sub_quarterly_df['METRIC_CD']=='TSER13100', churn_sub_quarterly_df['P'], 0)
churn_sub_quarterly_df['FTTX_VL'] = np.where(churn_sub_quarterly_df['METRIC_CD']=='TSER13102', churn_sub_quarterly_df['P'], 0)
churn_sub_quarterly_df['FTTX_IVL'] = np.where(churn_sub_quarterly_df['METRIC_CD']=='TSER13103', churn_sub_quarterly_df['P'], 0)
churn_sub_quarterly_df['FTTX_IVL(CF)'] = np.where(churn_sub_quarterly_df['METRIC_CD']=='TSER13104', churn_sub_quarterly_df['P'], 0)

churn_sub_quarterly_df['TVS'] = np.where(churn_sub_quarterly_df['METRIC_CD']=='TSER14100', churn_sub_quarterly_df['P'], 0)
churn_sub_quarterly_df['TVS_VL'] = np.where(churn_sub_quarterly_df['METRIC_CD']=='TSER14102', churn_sub_quarterly_df['P'], 0)
churn_sub_quarterly_df['TVS_IVL'] = np.where(churn_sub_quarterly_df['METRIC_CD']=='TSER14103', churn_sub_quarterly_df['P'], 0)


# ''' Full '''
# churn_sub_quarterly_df = churn_sub_quarterly_df.groupby('TM_KEY_QTR')\
#     .agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'PRE':'sum', 'PRE_T':'sum', 'PRE_D':'sum'
#           , 'POST_B2C':'sum', 'POST_B2C_VL':'sum', 'POST_B2C_IVL':'sum'
#           , 'POST_B2C_T':'sum', 'POST_B2C_VL_T':'sum', 'POST_B2C_IVL_T':'sum'
#           , 'POST_B2C_D':'sum', 'POST_B2C_VL_D':'sum', 'POST_B2C_IVL_D':'sum'
#           , 'FTTX':'sum', 'FTTX_VL':'sum', 'FTTX_IVL':'sum'
#           , 'TVS':'sum', 'TVS_VL':'sum', 'TVS_IVL':'sum'})
# churn_sub_quarterly_df = churn_sub_quarterly_df.fillna(0).sort_values(by=['TM_KEY_QTR']).reset_index()
# churn_sub_quarterly_df = churn_sub_quarterly_df[['TM_KEY_QTR', 'PPN_TM', 'ACTUAL_AS_OF'
#                                          , 'PRE', 'PRE_T', 'PRE_D'
#                                          , 'POST_B2C', 'POST_B2C_VL', 'POST_B2C_IVL'
#                                          , 'POST_B2C_T', 'POST_B2C_VL_T', 'POST_B2C_IVL_T'
#                                          , 'POST_B2C_D', 'POST_B2C_VL_D', 'POST_B2C_IVL_D'
#                                          , 'FTTX', 'FTTX_VL', 'FTTX_IVL'
#                                          , 'TVS', 'TVS_VL', 'TVS_IVL']]
# churn_sub_quarterly_df_display = churn_sub_quarterly_df.copy()
# churn_sub_quarterly_df_display['ACTUAL_AS_OF'] = churn_sub_quarterly_df_display['ACTUAL_AS_OF'].astype(int)
# mod_col_list = churn_sub_quarterly_df_display.iloc[:, 3:].columns.tolist()
# for col in mod_col_list:
#     churn_sub_quarterly_df_display[col] = churn_sub_quarterly_df_display[col].apply(lambda x: format(x, ',.0f'))
# print(f'\n{churn_sub_quarterly_df_display.to_string(max_cols=100)}') #max_rows=1000


''' Overview '''
churn_sub_quarterly_df = churn_sub_quarterly_df.groupby('TM_KEY_QTR').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'PRE':'sum', 'POST_B2C':'sum', 'POST_B2C_VL':'sum', 'POST_B2C_IVL':'sum', 'FTTX':'sum', 'FTTX_VL':'sum', 'FTTX_IVL':'sum', 'TVS':'sum', 'TVS_VL':'sum', 'TVS_IVL':'sum'})
churn_sub_quarterly_df = churn_sub_quarterly_df.fillna(0).sort_values(by=['TM_KEY_QTR']).reset_index()
churn_sub_quarterly_df = churn_sub_quarterly_df[['TM_KEY_QTR', 'PPN_TM', 'ACTUAL_AS_OF', 'PRE', 'POST_B2C', 'POST_B2C_VL', 'POST_B2C_IVL', 'FTTX', 'FTTX_VL', 'FTTX_IVL', 'TVS', 'TVS_VL', 'TVS_IVL']]
churn_sub_quarterly_df_display = churn_sub_quarterly_df.copy()
churn_sub_quarterly_df_display['ACTUAL_AS_OF'] = churn_sub_quarterly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = churn_sub_quarterly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    churn_sub_quarterly_df_display[col] = churn_sub_quarterly_df_display[col].apply(lambda x: format(x, ',.0f'))
churn_sub_quarterly_df_display

,TM_KEY_QTR,PPN_TM,ACTUAL_AS_OF,PRE,POST_B2C,POST_B2C_VL,POST_B2C_IVL,FTTX,FTTX_VL,FTTX_IVL,TVS,TVS_VL,TVS_IVL
0,20241,2025-07-02 01:23:34,20240331,0,"871,395","318,353","576,878","118,742","43,223","72,945","48,913","37,318","13,347"
1,20242,2025-07-02 01:23:34,20240630,0,"718,051","262,796","454,251","114,261","43,677","70,807","40,970","35,580","5,046"
2,20243,2025-07-02 01:23:34,20240930,0,"664,232","248,339","433,905","118,872","44,269","67,909","48,795","5,040",355
3,20244,2025-07-02 01:23:34,20241231,0,"603,538","237,036","397,302","104,793","38,985","69,561","55,572","6,238",52
4,20251,2025-07-02 01:23:34,20250331,0,"553,494","225,501","341,127","104,815","38,083","68,600","47,799","5,854",35
5,20252,2025-07-02 01:23:34,20250630,0,"581,983","240,576","336,294","108,678","42,228","67,428","65,515","5,751",44
6,20253,2025-07-02 01:23:34,20250630,0,0,0,0,0,0,0,0,0,0

In [6]:
''' Churn Subs Monthly '''

# v_tm_key_yr = curr_yr
v_tm_key_yr = prev_yr

v_metric_list = [
    'B1S000200' #Prepaid Churn Subs
    , 'TB1S000200' #Prepaid Churn Subs : TMH
    , 'DB1S000200' #Prepaid Churn Subs : DTAC
    , 'B2S010200' #Postpaid Churn Subs B2C
    , 'TB2S010200' #Postpaid Churn Subs B2C : TMH
    , 'DB2S010200' #Postpaid Churn Subs B2C : DTAC
    , 'B2S010201' #Postpaid Churn Subs Voluntary B2C
    , 'TB2S010201' #Postpaid Churn Subs Voluntary B2C : TMH
    , 'DB2S010201' #Postpaid Churn Subs Voluntary B2C : DTAC
    , 'B2S010202' #Postpaid Churn Subs Involuntary B2C
    , 'TB2S010202' #Postpaid Churn Subs Involuntary B2C : TMH
    , 'DB2S010202' #Postpaid Churn Subs Involuntary B2C : DTAC
    # , 'TB2S010210' #Postpaid Churn Subs B2C : TMH (Most Used Location)
    # , 'TB2S010211' #Postpaid Churn Subs Voluntary B2C : TMH (Most Used Location)
    # , 'TB2S010212' #Postpaid Churn Subs Involuntary B2C : TMH (Most Used Location)
    , 'TSER13100' #FTTx Churn Subs
    , 'TSER13102' #FTTx Churn Subs Voluntary
    , 'TSER13103' #FTTx Churn Subs Involuntary
    , 'TSER13104' #FTTx Churn Subs Involuntary (Collection Forecast)
    , 'TSER14100' #TVS Churn Subs
    , 'TSER14102' #TVS Churn Subs Voluntary
    , 'TSER14103' #TVS Churn Subs Involuntary
    ]

churn_sub_monthly_df = chk_src_df[['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']].loc[chk_src_df['TM_KEY_YR']>=v_tm_key_yr].copy()
churn_sub_monthly_df = churn_sub_monthly_df.loc[churn_sub_monthly_df['METRIC_CD'].isin(v_metric_list)]

churn_sub_monthly_df['PRE'] = np.where(churn_sub_monthly_df['METRIC_CD']=='B1S000200', churn_sub_monthly_df['P'], 0)
churn_sub_monthly_df['PRE_T'] = np.where(churn_sub_monthly_df['METRIC_CD']=='TB1S000200', churn_sub_monthly_df['P'], 0)
churn_sub_monthly_df['PRE_D'] = np.where(churn_sub_monthly_df['METRIC_CD']=='DB1S000200', churn_sub_monthly_df['P'], 0)

churn_sub_monthly_df['POST_B2C'] = np.where(churn_sub_monthly_df['METRIC_CD']=='B2S010200', churn_sub_monthly_df['P'], 0)
churn_sub_monthly_df['POST_B2C_VL'] = np.where(churn_sub_monthly_df['METRIC_CD']=='B2S010201', churn_sub_monthly_df['P'], 0)
churn_sub_monthly_df['POST_B2C_IVL'] = np.where(churn_sub_monthly_df['METRIC_CD']=='B2S010202', churn_sub_monthly_df['P'], 0)

churn_sub_monthly_df['POST_B2C_T'] = np.where(churn_sub_monthly_df['METRIC_CD']=='TB2S010200', churn_sub_monthly_df['P'], 0)
churn_sub_monthly_df['POST_B2C_VL_T'] = np.where(churn_sub_monthly_df['METRIC_CD']=='TB2S010201', churn_sub_monthly_df['P'], 0)
churn_sub_monthly_df['POST_B2C_IVL_T'] = np.where(churn_sub_monthly_df['METRIC_CD']=='TB2S010202', churn_sub_monthly_df['P'], 0)

churn_sub_monthly_df['POST_B2C_D'] = np.where(churn_sub_monthly_df['METRIC_CD']=='DB2S010200', churn_sub_monthly_df['P'], 0)
churn_sub_monthly_df['POST_B2C_VL_D'] = np.where(churn_sub_monthly_df['METRIC_CD']=='DB2S010201', churn_sub_monthly_df['P'], 0)
churn_sub_monthly_df['POST_B2C_IVL_D'] = np.where(churn_sub_monthly_df['METRIC_CD']=='DB2S010202', churn_sub_monthly_df['P'], 0)

churn_sub_monthly_df['FTTX'] = np.where(churn_sub_monthly_df['METRIC_CD']=='TSER13100', churn_sub_monthly_df['P'], 0)
churn_sub_monthly_df['FTTX_VL'] = np.where(churn_sub_monthly_df['METRIC_CD']=='TSER13102', churn_sub_monthly_df['P'], 0)
churn_sub_monthly_df['FTTX_IVL'] = np.where(churn_sub_monthly_df['METRIC_CD']=='TSER13103', churn_sub_monthly_df['P'], 0)
churn_sub_monthly_df['FTTX_IVL(CF)'] = np.where(churn_sub_monthly_df['METRIC_CD']=='TSER13104', churn_sub_monthly_df['P'], 0)

churn_sub_monthly_df['TVS'] = np.where(churn_sub_monthly_df['METRIC_CD']=='TSER14100', churn_sub_monthly_df['P'], 0)
churn_sub_monthly_df['TVS_VL'] = np.where(churn_sub_monthly_df['METRIC_CD']=='TSER14102', churn_sub_monthly_df['P'], 0)
churn_sub_monthly_df['TVS_IVL'] = np.where(churn_sub_monthly_df['METRIC_CD']=='TSER14103', churn_sub_monthly_df['P'], 0)


# ''' Full '''
# churn_sub_monthly_df = churn_sub_monthly_df.groupby('TM_KEY_MTH')\
#     .agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'PRE':'sum', 'PRE_T':'sum', 'PRE_D':'sum'
#           , 'POST_B2C':'sum', 'POST_B2C_VL':'sum', 'POST_B2C_IVL':'sum'
#           , 'POST_B2C_T':'sum', 'POST_B2C_VL_T':'sum', 'POST_B2C_IVL_T':'sum'
#           , 'POST_B2C_D':'sum', 'POST_B2C_VL_D':'sum', 'POST_B2C_IVL_D':'sum'
#           , 'FTTX':'sum', 'FTTX_VL':'sum', 'FTTX_IVL':'sum'
#           , 'TVS':'sum', 'TVS_VL':'sum', 'TVS_IVL':'sum'})
# churn_sub_monthly_df = churn_sub_monthly_df.fillna(0).sort_values(by=['TM_KEY_MTH']).reset_index()
# churn_sub_monthly_df = churn_sub_monthly_df[['TM_KEY_MTH', 'PPN_TM', 'ACTUAL_AS_OF'
#                                          , 'PRE', 'PRE_T', 'PRE_D'
#                                          , 'POST_B2C', 'POST_B2C_VL', 'POST_B2C_IVL'
#                                          , 'POST_B2C_T', 'POST_B2C_VL_T', 'POST_B2C_IVL_T'
#                                          , 'POST_B2C_D', 'POST_B2C_VL_D', 'POST_B2C_IVL_D'
#                                          , 'FTTX', 'FTTX_VL', 'FTTX_IVL'
#                                          , 'TVS', 'TVS_VL', 'TVS_IVL']]
# churn_sub_monthly_df_display = churn_sub_monthly_df.copy()
# churn_sub_monthly_df_display['ACTUAL_AS_OF'] = churn_sub_monthly_df_display['ACTUAL_AS_OF'].astype(int)
# mod_col_list = churn_sub_monthly_df_display.iloc[:, 3:].columns.tolist()
# for col in mod_col_list:
#     churn_sub_monthly_df_display[col] = churn_sub_monthly_df_display[col].apply(lambda x: format(x, ',.0f'))
# print(f'\n{churn_sub_monthly_df_display.to_string(max_cols=100)}') #max_rows=1000


''' Overview '''
churn_sub_monthly_df = churn_sub_monthly_df.groupby('TM_KEY_MTH').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'PRE':'sum', 'POST_B2C':'sum', 'POST_B2C_VL':'sum', 'POST_B2C_IVL':'sum', 'FTTX':'sum', 'FTTX_VL':'sum', 'FTTX_IVL':'sum', 'TVS':'sum', 'TVS_VL':'sum', 'TVS_IVL':'sum'})
churn_sub_monthly_df = churn_sub_monthly_df.fillna(0).sort_values(by=['TM_KEY_MTH']).reset_index()
churn_sub_monthly_df = churn_sub_monthly_df[['TM_KEY_MTH', 'PPN_TM', 'ACTUAL_AS_OF', 'PRE', 'POST_B2C', 'POST_B2C_VL', 'POST_B2C_IVL', 'FTTX', 'FTTX_VL', 'FTTX_IVL', 'TVS', 'TVS_VL', 'TVS_IVL']]
churn_sub_monthly_df_display = churn_sub_monthly_df.copy()
churn_sub_monthly_df_display['ACTUAL_AS_OF'] = churn_sub_monthly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = churn_sub_monthly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    churn_sub_monthly_df_display[col] = churn_sub_monthly_df_display[col].apply(lambda x: format(x, ',.0f'))
churn_sub_monthly_df_display

,TM_KEY_MTH,PPN_TM,ACTUAL_AS_OF,PRE,POST_B2C,POST_B2C_VL,POST_B2C_IVL,FTTX,FTTX_VL,FTTX_IVL,TVS,TVS_VL,TVS_IVL
0,202401,2025-07-02 01:23:34,20240131,0,"335,195","118,348","231,754","40,468","16,454","24,014","14,004","10,196","3,820"
1,202402,2025-07-02 01:23:34,20240229,0,"281,024","102,361","180,543","38,531","14,057","24,474","12,774","7,689","6,795"
2,202403,2025-07-02 01:23:34,20240331,0,"255,176","97,644","164,581","39,743","12,712","24,457","22,135","19,433","2,732"
3,202404,2025-07-02 01:23:34,20240430,0,"247,654","90,553","155,090","38,455","13,522","24,520","20,819","18,602","2,217"
4,202405,2025-07-02 01:23:34,20240531,0,"250,447","92,059","151,641","38,397","14,955","23,442","16,541","14,731","1,810"
5,202406,2025-07-02 01:23:34,20240630,0,"219,950","80,184","147,520","37,409","15,200","22,845","3,610","2,247","1,019"
6,202407,2025-07-02 01:23:34,20240731,0,"232,711","91,260","145,540","40,306","15,934","22,944","9,003","1,136",22
7,202408,2025-07-02 01:23:34,20240831,0,"224,948","81,816","143,964","40,742","14,958","22,914","21,101","2,225",313
8,202409,2025-07-02 01:23:34,20240930,0,"206,573","75,263","144,401","37,824","13,377","22,051","18,691","1,679",20
9,202410,2025-07-02 01:23:34,20241031,0,"207,481","83,683","135,820","38,097","13,580","23,214","19,574","2,181",30
10,202411,2025-07-02 01:23:34,20241130,0,"202,112","80,290","131,609","39,154","12,515","23,411","18,425","2,152",15
11,202412,2025-07-02 01:23:34,20241231,0,"193,945","73,063","129,873","27,542","12,890","22,936","17,573","1,905",7
12,202501,2025-07-02 01:23:34,20250131,0,"199,209","77,781","124,548","33,673","12,697","22,786","13,735","1,929",7
13,202502,2025-07-02 01:23:34,20250228,0,"188,355","75,742","110,637","34,800","11,807","22,901","15,602","1,646",10
14,202503,2025-07-02 01:23:34,20250331,0,"165,930","71,978","105,942","36,342","13,579","22,913","18,462","2,279",18
15,202504,2025-07-02 01:23:34,20250430,0,"174,079","73,586","109,859","24,290","13,125","23,085","17,331","1,504",26
16,202505,2025-07-02 01:23:34,20250531,0,"211,802","84,153","115,298","38,488","14,562","23,598","22,325","2,123",14
17,202506,2025-07-02 01:23:34,20250630,0,"196,102","82,837","111,137","45,900","14,541","20,745","25,859","2,124",4
18,202507,2025-07-02 01:23:34,20250630,0,0,0,0,0,0,0,0,0,0

In [7]:
''' Churn Subs Weekly '''

# v_tm_key_mth = curr_mth
v_tm_key_mth = prev_mth

v_metric_list = [
    'B1S000200' #Prepaid Churn Subs
    , 'TB1S000200' #Prepaid Churn Subs : TMH
    , 'DB1S000200' #Prepaid Churn Subs : DTAC
    , 'B2S010200' #Postpaid Churn Subs B2C
    , 'TB2S010200' #Postpaid Churn Subs B2C : TMH
    , 'DB2S010200' #Postpaid Churn Subs B2C : DTAC
    , 'B2S010201' #Postpaid Churn Subs Voluntary B2C
    , 'TB2S010201' #Postpaid Churn Subs Voluntary B2C : TMH
    , 'DB2S010201' #Postpaid Churn Subs Voluntary B2C : DTAC
    , 'B2S010202' #Postpaid Churn Subs Involuntary B2C
    , 'TB2S010202' #Postpaid Churn Subs Involuntary B2C : TMH
    , 'DB2S010202' #Postpaid Churn Subs Involuntary B2C : DTAC
    # , 'TB2S010210' #Postpaid Churn Subs B2C : TMH (Most Used Location)
    # , 'TB2S010211' #Postpaid Churn Subs Voluntary B2C : TMH (Most Used Location)
    # , 'TB2S010212' #Postpaid Churn Subs Involuntary B2C : TMH (Most Used Location)
    , 'TSER13100' #FTTx Churn Subs
    , 'TSER13102' #FTTx Churn Subs Voluntary
    , 'TSER13103' #FTTx Churn Subs Involuntary
    , 'TSER13104' #FTTx Churn Subs Involuntary (Collection Forecast)
    , 'TSER14100' #TVS Churn Subs
    , 'TSER14102' #TVS Churn Subs Voluntary
    , 'TSER14103' #TVS Churn Subs Involuntary
    ]

churn_sub_weekly_df = chk_src_df[['TM_KEY_WK', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']].loc[chk_src_df['TM_KEY_MTH']>=v_tm_key_mth].copy()
churn_sub_weekly_df = churn_sub_weekly_df.loc[churn_sub_weekly_df['METRIC_CD'].isin(v_metric_list)]

churn_sub_weekly_df['PRE'] = np.where(churn_sub_weekly_df['METRIC_CD']=='B1S000200', churn_sub_weekly_df['P'], 0)
churn_sub_weekly_df['PRE_T'] = np.where(churn_sub_weekly_df['METRIC_CD']=='TB1S000200', churn_sub_weekly_df['P'], 0)
churn_sub_weekly_df['PRE_D'] = np.where(churn_sub_weekly_df['METRIC_CD']=='DB1S000200', churn_sub_weekly_df['P'], 0)

churn_sub_weekly_df['POST_B2C'] = np.where(churn_sub_weekly_df['METRIC_CD']=='B2S010200', churn_sub_weekly_df['P'], 0)
churn_sub_weekly_df['POST_B2C_VL'] = np.where(churn_sub_weekly_df['METRIC_CD']=='B2S010201', churn_sub_weekly_df['P'], 0)
churn_sub_weekly_df['POST_B2C_IVL'] = np.where(churn_sub_weekly_df['METRIC_CD']=='B2S010202', churn_sub_weekly_df['P'], 0)

churn_sub_weekly_df['POST_B2C_T'] = np.where(churn_sub_weekly_df['METRIC_CD']=='TB2S010200', churn_sub_weekly_df['P'], 0)
churn_sub_weekly_df['POST_B2C_VL_T'] = np.where(churn_sub_weekly_df['METRIC_CD']=='TB2S010201', churn_sub_weekly_df['P'], 0)
churn_sub_weekly_df['POST_B2C_IVL_T'] = np.where(churn_sub_weekly_df['METRIC_CD']=='TB2S010202', churn_sub_weekly_df['P'], 0)

churn_sub_weekly_df['POST_B2C_D'] = np.where(churn_sub_weekly_df['METRIC_CD']=='DB2S010200', churn_sub_weekly_df['P'], 0)
churn_sub_weekly_df['POST_B2C_VL_D'] = np.where(churn_sub_weekly_df['METRIC_CD']=='DB2S010201', churn_sub_weekly_df['P'], 0)
churn_sub_weekly_df['POST_B2C_IVL_D'] = np.where(churn_sub_weekly_df['METRIC_CD']=='DB2S010202', churn_sub_weekly_df['P'], 0)

churn_sub_weekly_df['FTTX'] = np.where(churn_sub_weekly_df['METRIC_CD']=='TSER13100', churn_sub_weekly_df['P'], 0)
churn_sub_weekly_df['FTTX_VL'] = np.where(churn_sub_weekly_df['METRIC_CD']=='TSER13102', churn_sub_weekly_df['P'], 0)
churn_sub_weekly_df['FTTX_IVL'] = np.where(churn_sub_weekly_df['METRIC_CD']=='TSER13103', churn_sub_weekly_df['P'], 0)
churn_sub_weekly_df['FTTX_IVL(CF)'] = np.where(churn_sub_weekly_df['METRIC_CD']=='TSER13104', churn_sub_weekly_df['P'], 0)

churn_sub_weekly_df['TVS'] = np.where(churn_sub_weekly_df['METRIC_CD']=='TSER14100', churn_sub_weekly_df['P'], 0)
churn_sub_weekly_df['TVS_VL'] = np.where(churn_sub_weekly_df['METRIC_CD']=='TSER14102', churn_sub_weekly_df['P'], 0)
churn_sub_weekly_df['TVS_IVL'] = np.where(churn_sub_weekly_df['METRIC_CD']=='TSER14103', churn_sub_weekly_df['P'], 0)


# ''' Full '''
# churn_sub_weekly_df = churn_sub_weekly_df.groupby('TM_KEY_WK')\
#     .agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'PRE':'sum', 'PRE_T':'sum', 'PRE_D':'sum'
#           , 'POST_B2C':'sum', 'POST_B2C_VL':'sum', 'POST_B2C_IVL':'sum'
#           , 'POST_B2C_T':'sum', 'POST_B2C_VL_T':'sum', 'POST_B2C_IVL_T':'sum'
#           , 'POST_B2C_D':'sum', 'POST_B2C_VL_D':'sum', 'POST_B2C_IVL_D':'sum'
#           , 'FTTX':'sum', 'FTTX_VL':'sum', 'FTTX_IVL':'sum'
#           , 'TVS':'sum', 'TVS_VL':'sum', 'TVS_IVL':'sum'})
# churn_sub_weekly_df = churn_sub_weekly_df.fillna(0).sort_values(by=['TM_KEY_WK']).reset_index()
# churn_sub_weekly_df = churn_sub_weekly_df[['TM_KEY_WK', 'PPN_TM', 'ACTUAL_AS_OF'
#                                          , 'PRE', 'PRE_T', 'PRE_D'
#                                          , 'POST_B2C', 'POST_B2C_VL', 'POST_B2C_IVL'
#                                          , 'POST_B2C_T', 'POST_B2C_VL_T', 'POST_B2C_IVL_T'
#                                          , 'POST_B2C_D', 'POST_B2C_VL_D', 'POST_B2C_IVL_D'
#                                          , 'FTTX', 'FTTX_VL', 'FTTX_IVL'
#                                          , 'TVS', 'TVS_VL', 'TVS_IVL']]
# churn_sub_weekly_df_display = churn_sub_weekly_df.copy()
# churn_sub_weekly_df_display['ACTUAL_AS_OF'] = churn_sub_weekly_df_display['ACTUAL_AS_OF'].astype(int)
# mod_col_list = churn_sub_weekly_df_display.iloc[:, 3:].columns.tolist()
# for col in mod_col_list:
#     churn_sub_weekly_df_display[col] = churn_sub_weekly_df_display[col].apply(lambda x: format(x, ',.0f'))
# print(f'\n{churn_sub_weekly_df_display.to_string(max_cols=100)}') #max_rows=1000


''' Overview '''
churn_sub_weekly_df = churn_sub_weekly_df.groupby('TM_KEY_WK').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'PRE':'sum', 'POST_B2C':'sum', 'POST_B2C_VL':'sum', 'POST_B2C_IVL':'sum', 'FTTX':'sum', 'FTTX_VL':'sum', 'FTTX_IVL':'sum', 'TVS':'sum', 'TVS_VL':'sum', 'TVS_IVL':'sum'})
churn_sub_weekly_df = churn_sub_weekly_df.fillna(0).sort_values(by=['TM_KEY_WK']).reset_index()
churn_sub_weekly_df = churn_sub_weekly_df[['TM_KEY_WK', 'PPN_TM', 'ACTUAL_AS_OF', 'PRE', 'POST_B2C', 'POST_B2C_VL', 'POST_B2C_IVL', 'FTTX', 'FTTX_VL', 'FTTX_IVL', 'TVS', 'TVS_VL', 'TVS_IVL']]
churn_sub_weekly_df_display = churn_sub_weekly_df.copy()
churn_sub_weekly_df_display['ACTUAL_AS_OF'] = churn_sub_weekly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = churn_sub_weekly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    churn_sub_weekly_df_display[col] = churn_sub_weekly_df_display[col].apply(lambda x: format(x, ',.0f'))
churn_sub_weekly_df_display

,TM_KEY_WK,PPN_TM,ACTUAL_AS_OF,PRE,POST_B2C,POST_B2C_VL,POST_B2C_IVL,FTTX,FTTX_VL,FTTX_IVL,TVS,TVS_VL,TVS_IVL
0,2025022,2025-07-02 01:23:34,20250601,0,"4,299","2,960","2,275",-814,641,0,"1,142",146,0
1,2025023,2025-07-02 01:23:34,20250608,0,"49,654","23,579","27,180","14,695","3,956","1,905","6,653",630,1
2,2025024,2025-07-02 01:23:34,20250615,0,"48,846","19,958","24,527","12,507","3,525","8,490","5,858",402,0
3,2025025,2025-07-02 01:23:34,20250622,0,"41,706","17,886","25,819","8,670","3,444","4,097","5,560",372,1
4,2025026,2025-07-02 01:23:34,20250629,0,"51,597","18,454","31,336","10,842","2,975","6,253","6,646",574,2
5,2025027,2025-07-02 01:23:34,20250630,0,0,0,0,0,0,0,0,0,0

In [8]:
''' Churn Subs Daily '''

# v_tm_key_mth = curr_mth
v_tm_key_mth = prev_mth

v_metric_list = [
    'B1S000200' #Prepaid Churn Subs
    , 'TB1S000200' #Prepaid Churn Subs : TMH
    , 'DB1S000200' #Prepaid Churn Subs : DTAC
    , 'B2S010200' #Postpaid Churn Subs B2C
    , 'TB2S010200' #Postpaid Churn Subs B2C : TMH
    , 'DB2S010200' #Postpaid Churn Subs B2C : DTAC
    , 'B2S010201' #Postpaid Churn Subs Voluntary B2C
    , 'TB2S010201' #Postpaid Churn Subs Voluntary B2C : TMH
    , 'DB2S010201' #Postpaid Churn Subs Voluntary B2C : DTAC
    , 'B2S010202' #Postpaid Churn Subs Involuntary B2C
    , 'TB2S010202' #Postpaid Churn Subs Involuntary B2C : TMH
    , 'DB2S010202' #Postpaid Churn Subs Involuntary B2C : DTAC
    # , 'TB2S010210' #Postpaid Churn Subs B2C : TMH (Most Used Location)
    # , 'TB2S010211' #Postpaid Churn Subs Voluntary B2C : TMH (Most Used Location)
    # , 'TB2S010212' #Postpaid Churn Subs Involuntary B2C : TMH (Most Used Location)
    , 'TSER13100' #FTTx Churn Subs
    , 'TSER13102' #FTTx Churn Subs Voluntary
    , 'TSER13103' #FTTx Churn Subs Involuntary
    , 'TSER13104' #FTTx Churn Subs Involuntary (Collection Forecast)
    , 'TSER14100' #TVS Churn Subs
    , 'TSER14102' #TVS Churn Subs Voluntary
    , 'TSER14103' #TVS Churn Subs Involuntary
    ]

churn_sub_daily_df = chk_src_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P']].loc[chk_src_df['TM_KEY_MTH']>=v_tm_key_mth].copy()
churn_sub_daily_df = churn_sub_daily_df.loc[churn_sub_daily_df['METRIC_CD'].isin(v_metric_list)]

churn_sub_daily_df['PRE'] = np.where(churn_sub_daily_df['METRIC_CD']=='B1S000200', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['PRE_T'] = np.where(churn_sub_daily_df['METRIC_CD']=='TB1S000200', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['PRE_D'] = np.where(churn_sub_daily_df['METRIC_CD']=='DB1S000200', churn_sub_daily_df['P'], 0)

churn_sub_daily_df['POST_B2C'] = np.where(churn_sub_daily_df['METRIC_CD']=='B2S010200', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['POST_B2C_VL'] = np.where(churn_sub_daily_df['METRIC_CD']=='B2S010201', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['POST_B2C_IVL'] = np.where(churn_sub_daily_df['METRIC_CD']=='B2S010202', churn_sub_daily_df['P'], 0)

churn_sub_daily_df['POST_B2C_T'] = np.where(churn_sub_daily_df['METRIC_CD']=='TB2S010200', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['POST_B2C_VL_T'] = np.where(churn_sub_daily_df['METRIC_CD']=='TB2S010201', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['POST_B2C_IVL_T'] = np.where(churn_sub_daily_df['METRIC_CD']=='TB2S010202', churn_sub_daily_df['P'], 0)

churn_sub_daily_df['POST_B2C_D'] = np.where(churn_sub_daily_df['METRIC_CD']=='DB2S010200', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['POST_B2C_VL_D'] = np.where(churn_sub_daily_df['METRIC_CD']=='DB2S010201', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['POST_B2C_IVL_D'] = np.where(churn_sub_daily_df['METRIC_CD']=='DB2S010202', churn_sub_daily_df['P'], 0)

churn_sub_daily_df['FTTX'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER13100', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['FTTX_VL'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER13102', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['FTTX_IVL'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER13103', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['FTTX_IVL(CF)'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER13104', churn_sub_daily_df['P'], 0)

churn_sub_daily_df['TVS'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER14100', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['TVS_VL'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER14102', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['TVS_IVL'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER14103', churn_sub_daily_df['P'], 0)


# ''' Full '''
# churn_sub_daily_df = churn_sub_daily_df.groupby(['TM_KEY_MTH', 'TM_KEY_DAY'])\
#     .agg({'PPN_TM':'max', 'PRE':'sum', 'PRE_T':'sum', 'PRE_D':'sum'
#           , 'POST_B2C':'sum', 'POST_B2C_VL':'sum', 'POST_B2C_IVL':'sum'
#           , 'POST_B2C_T':'sum', 'POST_B2C_VL_T':'sum', 'POST_B2C_IVL_T':'sum'
#           , 'POST_B2C_D':'sum', 'POST_B2C_VL_D':'sum', 'POST_B2C_IVL_D':'sum'
#           , 'FTTX':'sum', 'FTTX_VL':'sum', 'FTTX_IVL':'sum'
#           , 'TVS':'sum', 'TVS_VL':'sum', 'TVS_IVL':'sum'})
# churn_sub_daily_df = churn_sub_daily_df.fillna(0).sort_values(by=['TM_KEY_DAY'], ascending=False).reset_index()
# churn_sub_daily_df = churn_sub_daily_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PPN_TM'
#                                          , 'PRE', 'PRE_T', 'PRE_D'
#                                          , 'POST_B2C', 'POST_B2C_VL', 'POST_B2C_IVL'
#                                          , 'POST_B2C_T', 'POST_B2C_VL_T', 'POST_B2C_IVL_T'
#                                          , 'POST_B2C_D', 'POST_B2C_VL_D', 'POST_B2C_IVL_D'
#                                          , 'FTTX', 'FTTX_VL', 'FTTX_IVL'
#                                          , 'TVS', 'TVS_VL', 'TVS_IVL']]
# churn_sub_daily_df_display = churn_sub_daily_df.copy()
# mod_col_list = churn_sub_daily_df_display.iloc[:, 3:].columns.tolist()
# for col in mod_col_list:
#     churn_sub_daily_df_display[col] = churn_sub_daily_df_display[col].apply(lambda x: format(x, ',.0f'))
# print(f'\n{churn_sub_daily_df_display.to_string(max_cols=100)}') #max_rows=1000


''' Overview '''
churn_sub_daily_df = churn_sub_daily_df.groupby(['TM_KEY_MTH', 'TM_KEY_DAY']).agg({'PPN_TM':'max', 'PRE':'sum', 'POST_B2C':'sum', 'POST_B2C_VL':'sum', 'POST_B2C_IVL':'sum', 'FTTX':'sum', 'FTTX_VL':'sum', 'FTTX_IVL':'sum', 'TVS':'sum', 'TVS_VL':'sum', 'TVS_IVL':'sum'})
churn_sub_daily_df = churn_sub_daily_df.fillna(0).sort_values(by=['TM_KEY_DAY'], ascending=False).reset_index()
churn_sub_daily_df = churn_sub_daily_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PPN_TM', 'PRE', 'POST_B2C', 'POST_B2C_VL', 'POST_B2C_IVL', 'FTTX', 'FTTX_VL', 'FTTX_IVL', 'TVS', 'TVS_VL', 'TVS_IVL']]
churn_sub_daily_df_display = churn_sub_daily_df.copy()
mod_col_list = churn_sub_daily_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    churn_sub_daily_df_display[col] = churn_sub_daily_df_display[col].apply(lambda x: format(x, ',.0f'))
churn_sub_daily_df_display

,TM_KEY_MTH,TM_KEY_DAY,PPN_TM,PRE,POST_B2C,POST_B2C_VL,POST_B2C_IVL,FTTX,FTTX_VL,FTTX_IVL,TVS,TVS_VL,TVS_IVL
0,202507,20250701,2025-07-02 01:23:34,0,0,0,0,0,0,0,0,0,0
1,202506,20250630,2025-07-02 01:23:34,0,0,0,0,0,0,0,0,0,0
2,202506,20250629,2025-07-02 01:23:34,0,"13,386","2,064","4,329",0,0,0,"1,262",191,0
3,202506,20250628,2025-07-02 01:23:34,0,566,"2,111","2,409","5,857",581,0,961,52,0
4,202506,20250627,2025-07-02 01:23:34,0,"7,770","2,372","6,206",61,536,"3,186","1,070",59,0
5,202506,20250626,2025-07-02 01:23:34,0,"3,735","2,414","3,397","-2,058",538,0,"1,003",153,0
6,202506,20250625,2025-07-02 01:23:34,0,"12,037","1,935","3,522","7,067",306,1,516,24,0
7,202506,20250624,2025-07-02 01:23:34,0,"3,966","5,215","2,955",283,566,0,939,45,1
8,202506,20250623,2025-07-02 01:23:34,0,"10,137","2,343","8,518",-368,448,"3,066",895,50,1
9,202506,20250622,2025-07-02 01:23:34,0,"5,452","1,950","4,992",-285,501,1,"1,105",45,0
10,202506,20250621,2025-07-02 01:23:34,0,"3,011","1,773","1,959","5,506",540,0,762,63,0
11,202506,20250620,2025-07-02 01:23:34,0,"1,334","2,268","2,744",-426,457,"3,005",717,32,1
12,202506,20250619,2025-07-02 01:23:34,0,"8,017","2,258","6,489",-501,412,0,682,61,0
13,202506,20250618,2025-07-02 01:23:34,0,"12,321","2,369","2,145","5,002",509,6,757,35,0
14,202506,20250617,2025-07-02 01:23:34,0,"7,804","4,877","3,755",-389,465,0,728,27,0
15,202506,20250616,2025-07-02 01:23:34,0,"3,767","2,391","3,735",-237,560,"1,085",809,109,0
16,202506,20250615,2025-07-02 01:23:34,0,"7,935","2,113","6,491","4,887",425,0,967,43,0
17,202506,20250614,2025-07-02 01:23:34,0,"7,048","1,830","1,986",-513,515,0,751,32,0
18,202506,20250613,2025-07-02 01:23:34,0,"4,491","2,421","2,680",-807,467,"4,210",806,63,0
19,202506,20250612,2025-07-02 01:23:34,0,"3,050","2,595","1,536","4,661",503,0,808,38,0
20,202506,20250611,2025-07-02 01:23:34,0,"4,385","2,590","2,828",-575,544,0,814,52,0
21,202506,20250610,2025-07-02 01:23:34,0,"16,100","5,567","4,850",-468,485,0,816,105,0
22,202506,20250609,2025-07-02 01:23:34,0,"5,837","2,842","4,156","5,322",586,"4,280",896,69,0
23,202506,20250608,2025-07-02 01:23:34,0,"3,130","2,273","3,961",-350,624,0,"1,168",181,0
24,202506,20250607,2025-07-02 01:23:34,0,"3,190","1,957","2,675",-514,532,0,792,112,0
25,202506,20250606,2025-07-02 01:23:34,0,"14,314","2,928","5,967","5,893",514,"1,903",766,61,1
26,202506,20250605,2025-07-02 01:23:34,0,"11,518","8,673","3,870",-542,570,0,905,76,0
27,202506,20250604,2025-07-02 01:23:34,0,906,"2,953","3,102",-469,547,1,885,76,0
28,202506,20250603,2025-07-02 01:23:34,0,"1,928","2,431",811,"10,115",607,1,"1,113",68,0
29,202506,20250602,2025-07-02 01:23:34,0,"14,668","2,364","6,794",562,562,0,"1,024",56,0
30,202506,20250601,2025-07-02 01:23:34,0,"4,299","2,960","2,275",-814,641,0,"1,142",146,0

## Products Summary

### Prep Monthly Data

In [9]:
''' Monthly Summary '''

monthly_df = chk_src_df.copy()
monthly_df = monthly_df.groupby(['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME']).agg({'PPN_TM':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum'})
monthly_df = monthly_df.fillna(0).sort_values(by=['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()
monthly_df['DIFF (C-P)'] = monthly_df['C'] - monthly_df['P']

monthly_df_display = monthly_df.copy()
mod_col_list = monthly_df_display.iloc[:, 5:].columns.tolist()
for col in mod_col_list:
    monthly_df_display[col] = monthly_df_display[col].apply(lambda x: format(x, ',.0f'))

# monthly_df_display
# monthly_df_display.loc[monthly_df_display['TM_KEY_MTH']==202501]

In [10]:
''' Parameter '''

# v_tm_key_mth = curr_mth
v_tm_key_mth = prev_mth
# v_tm_key_mth = 202505

print(f'v_tm_key_mth: {v_tm_key_mth}')

v_tm_key_mth: 202506

### Prepaid

In [11]:
''' Prepaid '''

v_product_grp = 'Prepaid'

prepaid_df = monthly_df_display.loc[monthly_df_display['PRODUCT_GRP']==v_product_grp]
prepaid_df = prepaid_df.loc[prepaid_df['TM_KEY_MTH']==v_tm_key_mth]
prepaid_df = prepaid_df.reset_index(drop=True)
prepaid_df

Empty DataFrame
Columns: [TM_KEY_MTH, PRODUCT_GRP, METRIC_CD, METRIC_NAME, PPN_TM, C, P, G, H, HH, DIFF (C-P)]
Index: []

### Postpaid

In [12]:
''' Postpaid '''

v_product_grp = 'Postpaid'

postpaid_df = monthly_df_display.loc[monthly_df_display['PRODUCT_GRP']==v_product_grp]
postpaid_df = postpaid_df.loc[~postpaid_df['METRIC_NAME'].str.contains('B2C|B2B')]
postpaid_df = postpaid_df.loc[postpaid_df['TM_KEY_MTH']==v_tm_key_mth]
postpaid_df = postpaid_df.reset_index(drop=True)
postpaid_df

Empty DataFrame
Columns: [TM_KEY_MTH, PRODUCT_GRP, METRIC_CD, METRIC_NAME, PPN_TM, C, P, G, H, HH, DIFF (C-P)]
Index: []

In [13]:
''' Postpaid B2C '''

v_product_grp = 'Postpaid'

postpaid_b2c_df = monthly_df_display.loc[monthly_df_display['PRODUCT_GRP']==v_product_grp]
postpaid_b2c_df = postpaid_b2c_df.loc[postpaid_b2c_df['METRIC_NAME'].str.contains('B2C')]
postpaid_b2c_df = postpaid_b2c_df.loc[postpaid_b2c_df['TM_KEY_MTH']==v_tm_key_mth]
postpaid_b2c_df = postpaid_b2c_df.reset_index(drop=True)
postpaid_b2c_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,C,P,G,H,HH,DIFF (C-P)
0,202506,Postpaid,B2S010200,Postpaid Churn Subs B2C,2025-07-02 01:23:34,"196,102","196,102","196,039","196,039","196,041",0
1,202506,Postpaid,B2S010201,Postpaid Churn Subs Voluntary B2C,2025-07-02 01:23:34,"82,837","82,837","82,779","82,779","82,780",0
2,202506,Postpaid,B2S010202,Postpaid Churn Subs Involuntary B2C,2025-07-02 01:23:34,"111,137","111,137","111,134","111,134","111,134",0
3,202506,Postpaid,DB2S010200,Postpaid Churn Subs B2C : DTAC,2025-07-02 01:23:34,"60,084","60,084","60,024","60,024","60,024",0
4,202506,Postpaid,DB2S010201,Postpaid Churn Subs Voluntary B2C : DTAC,2025-07-02 01:23:34,"21,929","21,929","21,872","21,872","21,872",0
5,202506,Postpaid,DB2S010202,Postpaid Churn Subs Involuntary B2C : DTAC,2025-07-02 01:23:34,"36,027","36,027","36,026","36,026","36,026",0
6,202506,Postpaid,TB2S010200,Postpaid Churn Subs B2C : TMH,2025-07-02 01:23:34,"140,847","140,847","140,636","140,636","140,638",0
7,202506,Postpaid,TB2S010201,Postpaid Churn Subs Voluntary B2C : TMH,2025-07-02 01:23:34,"63,012","63,012","62,803","62,803","62,807",0
8,202506,Postpaid,TB2S010202,Postpaid Churn Subs Involuntary B2C : TMH,2025-07-02 01:23:34,"77,835","77,835","77,833","77,833","77,833",0
9,202506,Postpaid,TB2S010210,Postpaid Churn Subs B2C : TMH (Most Used Locat...,2025-07-02 01:23:34,0,0,0,0,0,0
10,202506,Postpaid,TB2S010211,Postpaid Churn Subs Voluntary B2C : TMH (Most ...,2025-07-02 01:23:34,0,"60,905","58,619","58,556","58,556","-60,905"
11,202506,Postpaid,TB2S010212,Postpaid Churn Subs Involuntary B2C : TMH (Mos...,2025-07-02 01:23:34,0,"75,110","74,829","74,790","74,790","-75,110"

In [14]:
''' Postpaid B2B '''

v_product_grp = 'Postpaid'

postpaid_b2b_df = monthly_df_display.loc[monthly_df_display['PRODUCT_GRP']==v_product_grp]
postpaid_b2b_df = postpaid_b2b_df.loc[postpaid_b2b_df['METRIC_NAME'].str.contains('B2B')]
postpaid_b2b_df = postpaid_b2b_df.loc[postpaid_b2b_df['TM_KEY_MTH']==v_tm_key_mth]
postpaid_b2b_df = postpaid_b2b_df.reset_index(drop=True)
postpaid_b2b_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,C,P,G,H,HH,DIFF (C-P)
0,202506,Postpaid,B2S020200,Postpaid Churn Subs B2B,2025-07-02 00:00:19,0,"46,974","46,973","46,970",0,"-46,974"
1,202506,Postpaid,B2S020201,Postpaid Churn Subs Voluntary B2B,2025-07-02 00:00:19,0,"45,986","45,985","45,982",0,"-45,986"
2,202506,Postpaid,B2S020202,Postpaid Churn Subs Involuntary B2B,2025-07-02 00:00:19,0,988,988,988,0,-988
3,202506,Postpaid,DB2S020200,Postpaid Churn Subs B2B : DTAC,2025-07-02 00:00:19,0,"10,104","10,104","10,101",0,"-10,104"
4,202506,Postpaid,DB2S020201,Postpaid Churn Subs Voluntary B2B : DTAC,2025-07-02 00:00:19,0,"9,631","9,631","9,628",0,"-9,631"
5,202506,Postpaid,DB2S020202,Postpaid Churn Subs Involuntary B2B : DTAC,2025-07-02 00:00:19,0,473,473,473,0,-473
6,202506,Postpaid,TB2S020200,Postpaid Churn Subs B2B : TMH,2025-07-02 01:23:34,0,"36,870","36,869","36,869","36,869","-36,870"
7,202506,Postpaid,TB2S020201,Postpaid Churn Subs Voluntary B2B : TMH,2025-07-02 01:23:34,0,"36,355","36,354","36,354","36,354","-36,355"
8,202506,Postpaid,TB2S020202,Postpaid Churn Subs Involuntary B2B : TMH,2025-07-02 01:23:34,0,515,515,515,515,-515
9,202506,Postpaid,TB2S020210,Postpaid Churn Subs B2B : TMH (Most Used Locat...,2025-07-02 01:23:34,0,"36,870","36,869","36,869","36,869","-36,870"
10,202506,Postpaid,TB2S020211,Postpaid Churn Subs Voluntary B2B : TMH (Most ...,2025-07-02 01:23:34,0,"36,355","36,354","36,354","36,354","-36,355"
11,202506,Postpaid,TB2S020212,Postpaid Churn Subs Involuntary B2B : TMH (Mos...,2025-07-02 01:23:34,0,515,515,515,515,-515

### TOL

In [15]:
''' TOL '''

v_product_grp = 'TOL'

tol_df = monthly_df_display.loc[monthly_df_display['PRODUCT_GRP']==v_product_grp]
tol_df = tol_df.loc[tol_df['TM_KEY_MTH']==v_tm_key_mth]
tol_df = tol_df.reset_index(drop=True)
tol_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,C,P,G,H,HH,DIFF (C-P)
0,202506,TOL,TSER13100,FTTx Churn Subs,2025-07-02 01:23:34,0,"45,900","45,900","45,900","45,900","-45,900"
1,202506,TOL,TSER13102,FTTx Churn Subs Voluntary,2025-07-02 01:23:34,0,"14,541","14,541","14,541","14,541","-14,541"
2,202506,TOL,TSER13103,FTTx Churn Subs Involuntary,2025-07-02 01:23:34,0,"20,745","20,745","20,745","20,745","-20,745"
3,202506,TOL,TSER13104,FTTx Churn Subs Involuntary (Collection Forecast),2025-07-02 01:23:34,0,"24,435","24,435","24,435","24,435","-24,435"

### TVS

In [16]:
''' TVS '''

v_product_grp = 'TVS'

tvs_df = monthly_df_display.loc[monthly_df_display['PRODUCT_GRP']==v_product_grp]
tvs_df = tvs_df.loc[tvs_df['TM_KEY_MTH']==v_tm_key_mth]
tvs_df = tvs_df.reset_index(drop=True)
tvs_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,C,P,G,H,HH,DIFF (C-P)
0,202506,TVS,TSER14100,TVS Churn Subs,2025-07-02 00:00:19,0,"25,859","25,859","24,921",0,"-25,859"
1,202506,TVS,TSER14102,TVS Churn Subs Voluntary,2025-07-02 00:00:19,0,"2,124","25,855","24,921",0,"-2,124"
2,202506,TVS,TSER14103,TVS Churn Subs Involuntary,2025-07-02 00:00:19,0,4,4,1,0,-4

## ** Current Issue

In [17]:
''' Monthly : Prepaid Churn Subs : TMH (Align with BU) '''

v_metric_cd = 'TB1S000200'

issue_prepaid_tmh_df = monthly_df_display.loc[monthly_df_display['METRIC_CD']==v_metric_cd]
issue_prepaid_tmh_df = issue_prepaid_tmh_df.loc[issue_prepaid_tmh_df['TM_KEY_MTH']>=202401]
issue_prepaid_tmh_df = issue_prepaid_tmh_df.sort_values(by=['TM_KEY_MTH', 'METRIC_NAME']).reset_index(drop=True)

issue_prepaid_tmh_df

Empty DataFrame
Columns: [TM_KEY_MTH, PRODUCT_GRP, METRIC_CD, METRIC_NAME, PPN_TM, C, P, G, H, HH, DIFF (C-P)]
Index: []