# * VINSIGHT : Churn Subs

In [1]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

## Import Transaction

In [2]:
''' Execute transaction '''


# Input parameter
v_start_date = 20240101
print(f'\nParameter input...')
print(f'   -> v_start_date: {v_start_date}')

curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
print(f'\nData as of {curr_datetime}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        TM_KEY_YR, TM_KEY_QTR, TM_KEY_MTH, TM_KEY_WK, TM_KEY_DAY, PRODUCT_GRP, COMP_CD, METRIC_CD, METRIC_NAME --, AREA_TYPE, AREA_CD, AREA_NAME
        , MAX(ACTUAL_AS_OF) ACTUAL_AS_OF
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN ACTUAL_SNAP END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN ACTUAL_SNAP END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN ACTUAL_SNAP END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN ACTUAL_SNAP END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN ACTUAL_SNAP END) HH
        , MAX(PPN_TM) PPN_TM
    FROM GEOSPCAPPO.AGG_PERF_NEWCO
    WHERE METRIC_CD IN (
        'B1S000200' --Prepaid Churn Subs
        , 'TB1S000200' --Prepaid Churn Subs : TMH
        , 'DB1S000200' --Prepaid Churn Subs : DTAC
        
        , 'B2S010200' --Postpaid Churn Subs B2C
        , 'TB2S010200' --Postpaid Churn Subs B2C : TMH
        , 'DB2S010200' --Postpaid Churn Subs B2C : DTAC
        , 'B2S010201' --Postpaid Churn Subs Voluntary B2C
        , 'TB2S010201' --Postpaid Churn Subs Voluntary B2C : TMH
        , 'DB2S010201' --Postpaid Churn Subs Voluntary B2C : DTAC
        , 'B2S010202' --Postpaid Churn Subs Involuntary B2C
        , 'TB2S010202' --Postpaid Churn Subs Involuntary B2C : TMH
        , 'DB2S010202' --Postpaid Churn Subs Involuntary B2C : DTAC
        , 'TB2S010210' --Postpaid Churn Subs B2C : TMH (Most Used Location)
        , 'TB2S010211' --Postpaid Churn Subs Voluntary B2C : TMH (Most Used Location)
        , 'TB2S010212' --Postpaid Churn Subs Involuntary B2C : TMH (Most Used Location)
        
        , 'B2S020200' --Postpaid Churn Subs B2B
        , 'TB2S020200' --Postpaid Churn Subs B2B : TMH
        , 'DB2S020200' --Postpaid Churn Subs B2B : DTAC
        , 'B2S020201' --Postpaid Churn Subs Voluntary B2B
        , 'TB2S020201' --Postpaid Churn Subs Voluntary B2B : TMH
        , 'DB2S020201' --Postpaid Churn Subs Voluntary B2B : DTAC
        , 'B2S020202' --Postpaid Churn Subs Involuntary B2B
        , 'TB2S020202' --Postpaid Churn Subs Involuntary B2B : TMH
        , 'DB2S020202' --Postpaid Churn Subs Involuntary B2B : DTAC
        , 'TB2S020210' --Postpaid Churn Subs B2B : TMH (Most Used Location)
        , 'TB2S020211' --Postpaid Churn Subs Voluntary B2B : TMH (Most Used Location)
        , 'TB2S020212' --Postpaid Churn Subs Involuntary B2B : TMH (Most Used Location)
        
        , 'TSER13100' --FTTx Churn Subs
        , 'TSER13102' --FTTx Churn Subs Voluntary
        , 'TSER13103' --FTTx Churn Subs Involuntary
        , 'TSER13104' --FTTx Churn Subs Involuntary (Collection Forecast)
        , 'TSER14100' --TVS Churn Subs
        , 'TSER14102' --TVS Churn Subs Voluntary
        , 'TSER14103' --TVS Churn Subs Involuntary
        )
    AND AREA_TYPE IN ('C','P','G','H','HH')
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY TM_KEY_YR, TM_KEY_QTR, TM_KEY_MTH, TM_KEY_WK, TM_KEY_DAY, PRODUCT_GRP, COMP_CD, METRIC_CD, METRIC_NAME
""")


try:
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])

    print(f'\nDataFrame: {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()

Parameter input...
   -> v_start_date: 20240101

Data as of 2025-06-09, 12:18:18

DataFrame: 17816 rows, 16 columns

In [3]:
''' Automate Currently Period '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
prev_mth = str(chk_src_df['TM_KEY_MTH'].drop_duplicates().astype(int).shift().max())

## Daily

In [4]:
''' Parameter '''

# v_tm_key_mth = curr_mth
v_tm_key_mth = 202505

print(f'v_tm_key_mth: {v_tm_key_mth}')

v_tm_key_mth: 202505

In [5]:
''' Churn Subs Daily '''

v_metric_list = [
    'B1S000200' #Prepaid Churn Subs
    # , 'TB1S000200' #Prepaid Churn Subs : TMH
    # , 'DB1S000200' #Prepaid Churn Subs : DTAC
    , 'B2S010200' #Postpaid Churn Subs B2C
    # , 'TB2S010200' #Postpaid Churn Subs B2C : TMH
    # , 'DB2S010200' #Postpaid Churn Subs B2C : DTAC
    , 'B2S010201' #Postpaid Churn Subs Voluntary B2C
    # , 'TB2S010201' #Postpaid Churn Subs Voluntary B2C : TMH
    # , 'DB2S010201' #Postpaid Churn Subs Voluntary B2C : DTAC
    , 'B2S010202' #Postpaid Churn Subs Involuntary B2C
    # , 'TB2S010202' #Postpaid Churn Subs Involuntary B2C : TMH
    # , 'DB2S010202' #Postpaid Churn Subs Involuntary B2C : DTAC
    , 'TSER13100' #FTTx Churn Subs
    , 'TSER13102' #FTTx Churn Subs Voluntary
    , 'TSER13103' #FTTx Churn Subs Involuntary
    # , 'TSER13104' #FTTx Churn Subs Involuntary (Collection Forecast)
    , 'TSER14100' #TVS Churn Subs
    , 'TSER14102' #TVS Churn Subs Voluntary
    , 'TSER14103' #TVS Churn Subs Involuntary
    ]

churn_sub_daily_df = chk_src_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P']].copy()
churn_sub_daily_df = churn_sub_daily_df.loc[churn_sub_daily_df['METRIC_CD'].isin(v_metric_list)]
churn_sub_daily_df = churn_sub_daily_df.loc[churn_sub_daily_df['TM_KEY_MTH']>=v_tm_key_mth]

churn_sub_daily_df['PRE'] = np.where(churn_sub_daily_df['METRIC_CD']=='B1S000200', churn_sub_daily_df['P'], 0)

churn_sub_daily_df['POST_B2C'] = np.where(churn_sub_daily_df['METRIC_CD']=='B2S010200', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['POST_B2C_VL'] = np.where(churn_sub_daily_df['METRIC_CD']=='B2S010201', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['POST_B2C_IVL'] = np.where(churn_sub_daily_df['METRIC_CD']=='B2S010202', churn_sub_daily_df['P'], 0)

churn_sub_daily_df['FTTX'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER13100', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['FTTX_VL'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER13102', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['FTTX_IVL'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER13103', churn_sub_daily_df['P'], 0)

churn_sub_daily_df['TVS'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER14100', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['TVS_VL'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER14102', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['TVS_IVL'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER14103', churn_sub_daily_df['P'], 0)

churn_sub_daily_df = churn_sub_daily_df.groupby(['TM_KEY_MTH', 'TM_KEY_DAY']).agg({'PPN_TM':'max', 'PRE':'sum', 'POST_B2C':'sum', 'POST_B2C_VL':'sum', 'POST_B2C_IVL':'sum', 'FTTX':'sum', 'FTTX_VL':'sum', 'FTTX_IVL':'sum', 'TVS':'sum', 'TVS_VL':'sum', 'TVS_IVL':'sum'})
churn_sub_daily_df = churn_sub_daily_df.fillna(0).sort_values(by=['TM_KEY_DAY'], ascending=False).reset_index()
churn_sub_daily_df = churn_sub_daily_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PPN_TM', 'PRE', 'POST_B2C', 'POST_B2C_VL', 'POST_B2C_IVL', 'FTTX', 'FTTX_VL', 'FTTX_IVL', 'TVS', 'TVS_VL', 'TVS_IVL']]

mod_col_list = churn_sub_daily_df.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    churn_sub_daily_df[col] = churn_sub_daily_df[col].apply(lambda x: format(x, ',.0f'))
churn_sub_daily_df

,TM_KEY_MTH,TM_KEY_DAY,PPN_TM,PRE,POST_B2C,POST_B2C_VL,POST_B2C_IVL,FTTX,FTTX_VL,FTTX_IVL,TVS,TVS_VL,TVS_IVL
0,202506,20250607,2025-06-08 14:08:34,0,0,0,0,0,0,0,0,0,0
1,202506,20250606,2025-06-08 14:08:34,"94,011",0,0,0,0,0,0,0,0,0
2,202506,20250605,2025-06-08 14:08:34,"108,556","11,518","8,673","3,870",0,0,0,905,76,0
3,202506,20250604,2025-06-08 14:08:34,"123,185",906,"2,953","3,102",0,0,0,885,76,0
4,202506,20250603,2025-06-08 14:08:34,"78,444","1,928","2,431",811,"10,115",607,1,"1,113",68,0
5,202506,20250602,2025-06-08 14:08:34,"76,806","14,668","2,364","6,794",562,562,0,"1,024",56,0
6,202506,20250601,2025-06-08 14:08:34,"67,669","4,299","2,960","2,275",-814,641,0,"1,142",146,0
7,202505,20250531,2025-06-08 14:08:34,"64,187","2,599","2,093","4,350",-355,600,31,"1,102",53,0
8,202505,20250530,2025-06-08 14:08:34,"20,154,633","4,794","2,593","3,667",-805,490,1,852,29,3
9,202505,20250529,2025-06-08 14:08:34,"73,586","15,380","2,527","7,363","-2,084",428,"3,077",83,5,0
10,202505,20250528,2025-06-08 14:08:34,"61,945","3,790","2,955","1,749","5,363",415,0,567,31,0
11,202505,20250527,2025-06-08 14:08:34,"60,307","4,721","6,575","2,102","-1,936",457,"2,878",783,103,0
12,202505,20250526,2025-06-08 14:08:34,"59,828","4,504","3,176","2,473",-416,464,0,825,41,0
13,202505,20250525,2025-06-08 14:08:34,"67,306","12,785","2,257","4,638","6,708",482,0,941,88,1
14,202505,20250524,2025-06-08 14:08:34,"65,419","3,280","1,957","2,246",22,505,"5,368",863,47,0
15,202505,20250523,2025-06-08 14:08:34,"77,400","3,116","1,900","3,955","-1,006",294,"7,949",528,35,0
16,202505,20250522,2025-06-08 14:08:34,"69,737","4,035","1,853","3,410",-479,290,0,486,29,0
17,202505,20250521,2025-06-08 14:08:34,"80,725","17,353","2,330","5,083","5,903",171,0,461,133,0
18,202505,20250520,2025-06-08 14:08:34,"94,232","4,473","3,738","1,924","-1,090",430,"7,970",654,269,0
19,202505,20250519,2025-06-08 14:08:34,"86,987","4,447","2,168","3,516",-333,423,"6,695",678,62,0
20,202505,20250518,2025-06-08 14:08:34,"98,560","3,198","2,018","2,255","5,564",526,0,912,115,0
21,202505,20250517,2025-06-08 14:08:34,"68,978","10,216","1,823","4,831","-7,547",453,0,773,99,0
22,202505,20250516,2025-06-08 14:08:34,"64,365","5,414","2,660","3,768","6,597",419,"6,906",646,23,0
23,202505,20250515,2025-06-08 14:08:34,"60,522","6,731","2,155","5,141","2,052",428,"7,739",644,43,0
24,202505,20250514,2025-06-08 14:08:34,"73,472","6,937","5,208","2,258",463,462,1,523,89,1
25,202505,20250513,2025-06-08 14:08:34,"73,008","13,105","2,226","3,340",480,477,3,721,43,0
26,202505,20250512,2025-06-08 14:08:34,"80,385","4,494","1,880","3,836",467,467,0,867,48,0
27,202505,20250511,2025-06-08 14:08:34,"70,904","5,292","2,139","4,237",513,513,0,914,74,0
28,202505,20250510,2025-06-08 14:08:34,"69,221","1,132","1,835","2,625",471,471,0,779,107,1
29,202505,20250509,2025-06-08 14:08:34,"65,778","12,504","1,781","4,240","8,240",559,"7,681",799,51,4
30,202505,20250508,2025-06-08 14:08:34,"77,684","5,041","2,504","3,335",-397,513,0,87,7,0
31,202505,20250507,2025-06-08 14:08:34,"77,442","6,892","5,076","3,222",-783,516,0,556,31,1
32,202505,20250506,2025-06-08 14:08:34,"75,313","4,334","3,959","3,308","5,202",458,2,737,111,2
33,202505,20250505,2025-06-08 14:08:34,"74,356","14,065","2,124","6,248",-53,562,0,874,79,0
34,202505,20250504,2025-06-08 14:08:34,"71,001","4,668","2,385","2,990",-118,575,1,980,87,1
35,202505,20250503,2025-06-08 14:08:34,"73,205","2,006","2,237","3,460","8,568",544,0,894,65,0
36,202505,20250502,2025-06-08 14:08:34,"76,257","5,219","2,978","3,183",-262,543,1,793,45,0
37,202505,20250501,2025-06-08 14:08:34,"81,995","15,277","3,043","6,545",-461,627,0,"1,003",81,0

In [6]:
''' Churn Subs(ALL, TRUE, DTAC) Daily '''

v_metric_list = [
    'B1S000200' #Prepaid Churn Subs
    , 'TB1S000200' #Prepaid Churn Subs : TMH
    , 'DB1S000200' #Prepaid Churn Subs : DTAC
    , 'B2S010200' #Postpaid Churn Subs B2C
    , 'TB2S010200' #Postpaid Churn Subs B2C : TMH
    , 'DB2S010200' #Postpaid Churn Subs B2C : DTAC
    , 'B2S010201' #Postpaid Churn Subs Voluntary B2C
    , 'TB2S010201' #Postpaid Churn Subs Voluntary B2C : TMH
    , 'DB2S010201' #Postpaid Churn Subs Voluntary B2C : DTAC
    , 'B2S010202' #Postpaid Churn Subs Involuntary B2C
    , 'TB2S010202' #Postpaid Churn Subs Involuntary B2C : TMH
    , 'DB2S010202' #Postpaid Churn Subs Involuntary B2C : DTAC
    # , 'TB2S010210' #Postpaid Churn Subs B2C : TMH (Most Used Location)
    # , 'TB2S010211' #Postpaid Churn Subs Voluntary B2C : TMH (Most Used Location)
    # , 'TB2S010212' #Postpaid Churn Subs Involuntary B2C : TMH (Most Used Location)
    , 'TSER13100' #FTTx Churn Subs
    , 'TSER13102' #FTTx Churn Subs Voluntary
    , 'TSER13103' #FTTx Churn Subs Involuntary
    , 'TSER13104' #FTTx Churn Subs Involuntary (Collection Forecast)
    , 'TSER14100' #TVS Churn Subs
    , 'TSER14102' #TVS Churn Subs Voluntary
    , 'TSER14103' #TVS Churn Subs Involuntary
    ]

churn_sub_daily_df = chk_src_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P']].copy()
churn_sub_daily_df = churn_sub_daily_df.loc[churn_sub_daily_df['METRIC_CD'].isin(v_metric_list)]
churn_sub_daily_df = churn_sub_daily_df.loc[churn_sub_daily_df['TM_KEY_MTH']>=v_tm_key_mth]

churn_sub_daily_df['PRE'] = np.where(churn_sub_daily_df['METRIC_CD']=='B1S000200', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['PRE_T'] = np.where(churn_sub_daily_df['METRIC_CD']=='TB1S000200', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['PRE_D'] = np.where(churn_sub_daily_df['METRIC_CD']=='DB1S000200', churn_sub_daily_df['P'], 0)

churn_sub_daily_df['POST_B2C'] = np.where(churn_sub_daily_df['METRIC_CD']=='B2S010200', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['POST_B2C_VL'] = np.where(churn_sub_daily_df['METRIC_CD']=='B2S010201', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['POST_B2C_IVL'] = np.where(churn_sub_daily_df['METRIC_CD']=='B2S010202', churn_sub_daily_df['P'], 0)

churn_sub_daily_df['POST_B2C_T'] = np.where(churn_sub_daily_df['METRIC_CD']=='TB2S010200', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['POST_B2C_VL_T'] = np.where(churn_sub_daily_df['METRIC_CD']=='TB2S010201', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['POST_B2C_IVL_T'] = np.where(churn_sub_daily_df['METRIC_CD']=='TB2S010202', churn_sub_daily_df['P'], 0)

churn_sub_daily_df['POST_B2C_D'] = np.where(churn_sub_daily_df['METRIC_CD']=='DB2S010200', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['POST_B2C_VL_D'] = np.where(churn_sub_daily_df['METRIC_CD']=='DB2S010201', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['POST_B2C_IVL_D'] = np.where(churn_sub_daily_df['METRIC_CD']=='DB2S010202', churn_sub_daily_df['P'], 0)

churn_sub_daily_df['FTTX'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER13100', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['FTTX_VL'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER13102', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['FTTX_IVL'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER13103', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['FTTX_IVL(CF)'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER13104', churn_sub_daily_df['P'], 0)

churn_sub_daily_df['TVS'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER14100', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['TVS_VL'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER14102', churn_sub_daily_df['P'], 0)
churn_sub_daily_df['TVS_IVL'] = np.where(churn_sub_daily_df['METRIC_CD']=='TSER14103', churn_sub_daily_df['P'], 0)

churn_sub_daily_df = churn_sub_daily_df.groupby(['TM_KEY_MTH', 'TM_KEY_DAY'])\
    .agg({'PPN_TM':'max', 'PRE':'sum', 'PRE_T':'sum', 'PRE_D':'sum'
          , 'POST_B2C':'sum', 'POST_B2C_VL':'sum', 'POST_B2C_IVL':'sum'
          , 'POST_B2C_T':'sum', 'POST_B2C_VL_T':'sum', 'POST_B2C_IVL_T':'sum'
          , 'POST_B2C_D':'sum', 'POST_B2C_VL_D':'sum', 'POST_B2C_IVL_D':'sum'
          , 'FTTX':'sum', 'FTTX_VL':'sum', 'FTTX_IVL':'sum'
          , 'TVS':'sum', 'TVS_VL':'sum', 'TVS_IVL':'sum'})
churn_sub_daily_df = churn_sub_daily_df.fillna(0).sort_values(by=['TM_KEY_DAY'], ascending=False).reset_index()
churn_sub_daily_df = churn_sub_daily_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PPN_TM'
                                         , 'PRE', 'PRE_T', 'PRE_D'
                                         , 'POST_B2C', 'POST_B2C_VL', 'POST_B2C_IVL'
                                         , 'POST_B2C_T', 'POST_B2C_VL_T', 'POST_B2C_IVL_T'
                                         , 'POST_B2C_D', 'POST_B2C_VL_D', 'POST_B2C_IVL_D'
                                         , 'FTTX', 'FTTX_VL', 'FTTX_IVL'
                                         , 'TVS', 'TVS_VL', 'TVS_IVL']]

mod_col_list = churn_sub_daily_df.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    churn_sub_daily_df[col] = churn_sub_daily_df[col].apply(lambda x: format(x, ',.0f'))

print(f'\n{churn_sub_daily_df.to_string(max_cols=100)}') #max_rows=1000

    TM_KEY_MTH  TM_KEY_DAY              PPN_TM         PRE       PRE_T   PRE_D POST_B2C POST_B2C_VL POST_B2C_IVL POST_B2C_T POST_B2C_VL_T POST_B2C_IVL_T POST_B2C_D POST_B2C_VL_D POST_B2C_IVL_D    FTTX FTTX_VL FTTX_IVL    TVS TVS_VL TVS_IVL
0       202506    20250607 2025-06-08 14:08:34           0           0       0        0           0            0          0             0              0          0             0              0       0       0        0      0      0       0
1       202506    20250606 2025-06-08 14:08:34      94,011      66,338  27,673        0           0            0      5,163         2,186          2,977          0             0              0       0       0        0      0      0       0
2       202506    20250605 2025-06-08 14:08:34     108,556      76,714  31,842   11,518       8,673        3,870      9,142         5,608          3,534      2,376         3,065            336       0       0        0    905     76       0
3       202506    20250604 2025-06-08 14:08:34     123,185      91,881  31,304      906       2,953        3,102      4,654         2,234          2,420     -3,748           719            682       0       0        0    885     76       0
4       202506    20250603 2025-06-08 14:08:34      78,444      78,444       0    1,928       2,431          811      2,669         2,021            648       -741           410            163  10,115     607        1  1,113     68       0
5       202506    20250602 2025-06-08 14:08:34      76,806      45,294  31,512   14,668       2,364        6,794      4,510         1,974          2,536     10,158           390          4,258     562     562        0  1,024     56       0
6       202506    20250601 2025-06-08 14:08:34      67,669      38,989  28,680    4,299       2,960        2,275      4,413         2,483          1,930       -114           477            345    -814     641        0  1,142    146       0
7       202505    20250531 2025-06-08 14:08:34      64,187      35,419  28,768    2,599       2,093        4,350      5,341         1,678          3,663     -2,742           415            687    -355     600       31  1,102     53       0
8       202505    20250530 2025-06-08 14:08:34  20,154,633  20,124,859  29,774    4,794       2,593        3,667      5,574         2,007          3,567       -780           586            100    -805     490        1    852     29       3
9       202505    20250529 2025-06-08 14:08:34      73,586      40,054  33,532   15,380       2,527        7,363      5,799         1,932          3,867      9,581           595          3,496  -2,084     428    3,077     83      5       0
10      202505    20250528 2025-06-08 14:08:34      61,945      30,961  30,984    3,790       2,955        1,749      3,574         2,087          1,487        216           868            262   5,363     415        0    567     31       0
11      202505    20250527 2025-06-08 14:08:34      60,307      30,648  29,659    4,721       6,575        2,102      6,324         4,766          1,558     -1,603         1,809            544  -1,936     457    2,878    783    103       0
12      202505    20250526 2025-06-08 14:08:34      59,828      30,347  29,481    4,504       3,176        2,473      4,687         2,462          2,225       -183           714            248    -416     464        0    825     41       0
13      202505    20250525 2025-06-08 14:08:34      67,306      36,539  30,767   12,785       2,257        4,638      2,672         1,832            840     10,113           425          3,798   6,708     482        0    941     88       1
14      202505    20250524 2025-06-08 14:08:34      65,419      37,549  27,870    3,280       1,957        2,246      3,599         1,632          1,967       -319           325            279      22     505    5,368    863     47       0
15      202505    20250523 2025-06-08 14:08:34      77,400      39,223  38,177    3,116       1,900        3,955      4,329         1,477          2,852     -1,213           423          1,103  -1,006     294    7,949    528     35       0
16      202505    20250522 2025-06-08 14:08:34      69,737      34,321  35,416    4,035       1,853        3,410      4,336         1,233          3,103       -301           620            307    -479     290        0    486     29       0
17      202505    20250521 2025-06-08 14:08:34      80,725      41,406  39,319   17,353       2,330        5,083      3,562         1,667          1,895     13,791           663          3,188   5,903     171        0    461    133       0
18      202505    20250520 2025-06-08 14:08:34      94,232      45,150  49,082    4,473       3,738        1,924      3,731         1,990          1,741        742         1,748            183  -1,090     430    7,970    654    269       0
19      202505    20250519 2025-06-08 14:08:34      86,987      35,592  51,395    4,447       2,168        3,516      2,918         1,540          1,378      1,529           628          2,138    -333     423    6,695    678     62       0
20      202505    20250518 2025-06-08 14:08:34      98,560      31,439  67,121    3,198       2,018        2,255      3,573         1,632          1,941       -375           386            314   5,564     526        0    912    115       0
21      202505    20250517 2025-06-08 14:08:34      68,978      32,481  36,497   10,216       1,823        4,831      4,474         1,504          2,970      5,742           319          1,861  -7,547     453        0    773     99       0
22      202505    20250516 2025-06-08 14:08:34      64,365      31,881  32,484    5,414       2,660        3,768      5,607         2,067          3,540       -193           593            228   6,597     419    6,906    646     23       0
23      202505    20250515 2025-06-08 14:08:34      60,522      23,946  36,576    6,731       2,155        5,141      3,533         1,494          2,039      3,198           661          3,102   2,052     428    7,739    644     43       0
24      202505    20250514 2025-06-08 14:08:34      73,472      41,616  31,856    6,937       5,208        2,258      4,644         2,546          2,098      2,293         2,662            160     463     462        1    523     89       1
25      202505    20250513 2025-06-08 14:08:34      73,008      39,799  33,209   13,105       2,226        3,340      4,239         1,539          2,700      8,866           687            640     480     477        3    721     43       0
26      202505    20250512 2025-06-08 14:08:34      80,385      46,331  34,054    4,494       1,880        3,836      4,905         1,558          3,347       -411           322            489     467     467        0    867     48       0
27      202505    20250511 2025-06-08 14:08:34      70,904      37,219  33,685    5,292       2,139        4,237      3,977         1,709          2,268      1,315           430          1,969     513     513        0    914     74       0
28      202505    20250510 2025-06-08 14:08:34      69,221      31,987  37,234    1,132       1,835        2,625      3,448         1,472          1,976     -2,316           363            649     471     471        0    779    107       1
29      202505    20250509 2025-06-08 14:08:34      65,778      33,179  32,599   12,504       1,781        4,240      2,969         1,452          1,517      9,535           329          2,723   8,240     559    7,681    799     51       4
30      202505    20250508 2025-06-08 14:08:34      77,684      39,957  37,727    5,041       2,504        3,335      4,149         1,720          2,429        892           784            906    -397     513        0     87      7       0
31      202505    20250507 2025-06-08 14:08:34      77,442      39,131  38,311    6,892       5,076        3,222      5,126         2,618          2,508      1,766         2,458            714    -783     516        0    556     31       1
32      202505    20250506 2025-06-08 14:08:34      75,313      38,637  36,676    4,334       3,959        3,308      5,299         2,393          2,906       -965         1,566            402   5,202     458        2    737    111       2
33      202505    20250505 2025-06-08 14:08:34      74,356      39,891  34,465   14,065       2,124        6,248      3,441         1,726          1,715     10,624           398          4,533     -53     562        0    874     79       0
34      202505    20250504 2025-06-08 14:08:34      71,001      35,117  35,884    4,668       2,385        2,990      4,191         1,927          2,264        477           458            726    -118     575        1    980     87       1
35      202505    20250503 2025-06-08 14:08:34      73,205      33,790  39,415    2,006       2,237        3,460      4,733         1,857          2,876     -2,727           380            584   8,568     544        0    894     65       0
36      202505    20250502 2025-06-08 14:08:34      76,257      38,250  38,007    5,219       2,978        3,183      4,992         2,143          2,849        227           835            334    -262     543        1    793     45       0
37      202505    20250501 2025-06-08 14:08:34      81,995      39,340  42,655   15,277       3,043        6,545      5,965         2,422          3,543      9,312           621          3,002    -461     627        0  1,003     81       0

## Products Summary

### Prep Monthly Data

In [7]:
''' Monthly Summary '''

monthly_df = chk_src_df.copy()
monthly_df = monthly_df.groupby(['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME']).agg({'PPN_TM':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum'})
monthly_df = monthly_df.fillna(0).sort_values(by=['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()
monthly_df['DIFF (C-P)'] = monthly_df['C'] - monthly_df['P']

monthly_df_display = monthly_df.copy()
mod_col_list = monthly_df_display.iloc[:, 5:].columns.tolist()
for col in mod_col_list:
    monthly_df_display[col] = monthly_df_display[col].apply(lambda x: format(x, ',.0f'))

# monthly_df_display
# monthly_df_display.loc[monthly_df_display['TM_KEY_MTH']==202501]

In [8]:
''' Parameter '''

# v_tm_key_mth = curr_mth
v_tm_key_mth = prev_mth
# v_tm_key_mth = 202505

print(f'v_tm_key_mth: {v_tm_key_mth}')

v_tm_key_mth: 202506.0

### Prepaid

In [9]:
''' Prepaid '''

v_product_grp = 'Prepaid'

prepaid_df = monthly_df_display.loc[monthly_df_display['PRODUCT_GRP']==v_product_grp]
prepaid_df = prepaid_df.loc[prepaid_df['TM_KEY_MTH']==v_tm_key_mth]
prepaid_df = prepaid_df.reset_index(drop=True)
prepaid_df

Empty DataFrame
Columns: [TM_KEY_MTH, PRODUCT_GRP, METRIC_CD, METRIC_NAME, PPN_TM, C, P, G, H, HH, DIFF (C-P)]
Index: []

### Postpaid

In [10]:
''' Postpaid '''

v_product_grp = 'Postpaid'

postpaid_df = monthly_df_display.loc[monthly_df_display['PRODUCT_GRP']==v_product_grp]
postpaid_df = postpaid_df.loc[~postpaid_df['METRIC_NAME'].str.contains('B2C|B2B')]
postpaid_df = postpaid_df.loc[postpaid_df['TM_KEY_MTH']==v_tm_key_mth]
postpaid_df = postpaid_df.reset_index(drop=True)
postpaid_df

Empty DataFrame
Columns: [TM_KEY_MTH, PRODUCT_GRP, METRIC_CD, METRIC_NAME, PPN_TM, C, P, G, H, HH, DIFF (C-P)]
Index: []

In [11]:
''' Postpaid B2C '''

v_product_grp = 'Postpaid'

postpaid_b2c_df = monthly_df_display.loc[monthly_df_display['PRODUCT_GRP']==v_product_grp]
postpaid_b2c_df = postpaid_b2c_df.loc[postpaid_b2c_df['METRIC_NAME'].str.contains('B2C')]
postpaid_b2c_df = postpaid_b2c_df.loc[postpaid_b2c_df['TM_KEY_MTH']==v_tm_key_mth]
postpaid_b2c_df = postpaid_b2c_df.reset_index(drop=True)
postpaid_b2c_df

Empty DataFrame
Columns: [TM_KEY_MTH, PRODUCT_GRP, METRIC_CD, METRIC_NAME, PPN_TM, C, P, G, H, HH, DIFF (C-P)]
Index: []

In [12]:
''' Postpaid B2B '''

v_product_grp = 'Postpaid'

postpaid_b2b_df = monthly_df_display.loc[monthly_df_display['PRODUCT_GRP']==v_product_grp]
postpaid_b2b_df = postpaid_b2b_df.loc[postpaid_b2b_df['METRIC_NAME'].str.contains('B2B')]
postpaid_b2b_df = postpaid_b2b_df.loc[postpaid_b2b_df['TM_KEY_MTH']==v_tm_key_mth]
postpaid_b2b_df = postpaid_b2b_df.reset_index(drop=True)
postpaid_b2b_df

Empty DataFrame
Columns: [TM_KEY_MTH, PRODUCT_GRP, METRIC_CD, METRIC_NAME, PPN_TM, C, P, G, H, HH, DIFF (C-P)]
Index: []

### TOL

In [13]:
''' TOL '''

v_product_grp = 'TOL'

tol_df = monthly_df_display.loc[monthly_df_display['PRODUCT_GRP']==v_product_grp]
tol_df = tol_df.loc[tol_df['TM_KEY_MTH']==v_tm_key_mth]
tol_df = tol_df.reset_index(drop=True)
tol_df

Empty DataFrame
Columns: [TM_KEY_MTH, PRODUCT_GRP, METRIC_CD, METRIC_NAME, PPN_TM, C, P, G, H, HH, DIFF (C-P)]
Index: []

### TVS

In [14]:
''' TVS '''

v_product_grp = 'TVS'

tvs_df = monthly_df_display.loc[monthly_df_display['PRODUCT_GRP']==v_product_grp]
tvs_df = tvs_df.loc[tvs_df['TM_KEY_MTH']==v_tm_key_mth]
tvs_df = tvs_df.reset_index(drop=True)
tvs_df

Empty DataFrame
Columns: [TM_KEY_MTH, PRODUCT_GRP, METRIC_CD, METRIC_NAME, PPN_TM, C, P, G, H, HH, DIFF (C-P)]
Index: []

## ** Current Issue

In [15]:
''' Issue : Prepaid Churn Subs : TMH (Align with BU) '''

v_metric_cd = 'TB1S000200'

issue_prepaid_tmh_df = monthly_df_display.loc[monthly_df_display['METRIC_CD']==v_metric_cd]
issue_prepaid_tmh_df = issue_prepaid_tmh_df.loc[issue_prepaid_tmh_df['TM_KEY_MTH']>=202401]
issue_prepaid_tmh_df = issue_prepaid_tmh_df.sort_values(by=['TM_KEY_MTH', 'METRIC_NAME']).reset_index(drop=True)

issue_prepaid_tmh_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,C,P,G,H,HH,DIFF (C-P)
0,202401,Prepaid,TB1S000200,Prepaid Churn Subs : TMH,2025-06-08 12:02:51,0,"1,411,781","1,217,672","1,201,070",0,"-1,411,781"
1,202402,Prepaid,TB1S000200,Prepaid Churn Subs : TMH,2025-06-08 12:02:51,0,"1,481,911","1,276,487","1,260,774",0,"-1,481,911"
2,202403,Prepaid,TB1S000200,Prepaid Churn Subs : TMH,2025-06-08 12:02:51,0,"1,445,434","1,292,312","1,276,558",0,"-1,445,434"
3,202404,Prepaid,TB1S000200,Prepaid Churn Subs : TMH,2025-06-08 12:02:51,0,"1,556,142","1,402,113","1,384,897",0,"-1,556,142"
4,202405,Prepaid,TB1S000200,Prepaid Churn Subs : TMH,2025-06-08 12:02:51,0,"1,420,875","-19,659,016","-19,674,697",0,"-1,420,875"
5,202406,Prepaid,TB1S000200,Prepaid Churn Subs : TMH,2025-06-08 12:02:51,0,"1,119,897","-20,783,458","-20,783,458",0,"-1,119,897"
6,202407,Prepaid,TB1S000200,Prepaid Churn Subs : TMH,2025-06-08 12:02:51,0,"1,606,946","-20,760,123","-20,760,123",0,"-1,606,946"
7,202408,Prepaid,TB1S000200,Prepaid Churn Subs : TMH,2025-06-08 12:02:51,0,"1,142,088","-20,671,886","-20,671,886",0,"-1,142,088"
8,202409,Prepaid,TB1S000200,Prepaid Churn Subs : TMH,2025-06-08 12:02:51,0,"1,376,492","-20,562,743","-20,562,743",0,"-1,376,492"
9,202410,Prepaid,TB1S000200,Prepaid Churn Subs : TMH,2025-06-08 12:02:51,0,"1,315,792","-20,429,168","-20,429,168",0,"-1,315,792"
10,202411,Prepaid,TB1S000200,Prepaid Churn Subs : TMH,2025-06-08 12:02:51,0,"1,411,035","-20,513,375","-20,513,375",0,"-1,411,035"
11,202412,Prepaid,TB1S000200,Prepaid Churn Subs : TMH,2025-06-08 12:02:51,0,"964,555","904,743","904,740",0,"-964,555"
12,202501,Prepaid,TB1S000200,Prepaid Churn Subs : TMH,2025-06-08 12:02:51,0,"1,004,368","637,257","637,257",0,"-1,004,368"
13,202502,Prepaid,TB1S000200,Prepaid Churn Subs : TMH,2025-06-08 12:02:51,0,"1,221,001","939,373","939,373",0,"-1,221,001"
14,202503,Prepaid,TB1S000200,Prepaid Churn Subs : TMH,2025-06-08 12:02:51,0,"1,511,810","1,277,467","1,277,467",0,"-1,511,810"
15,202504,Prepaid,TB1S000200,Prepaid Churn Subs : TMH,2025-06-08 12:02:51,0,"1,287,781","1,066,130","1,066,130",0,"-1,287,781"
16,202505,Prepaid,TB1S000200,Prepaid Churn Subs : TMH,2025-06-08 12:02:51,0,"21,216,059","21,206,086","21,206,086",0,"-21,216,059"
17,202506,Prepaid,TB1S000200,Prepaid Churn Subs : TMH,2025-06-08 12:02:51,0,"397,660","524,226","524,226",0,"-397,660"