# * VINSIGHT : Data Monitoring

## Parameter

In [1]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

## Aggregate : Timestamp
->  AGG_PERF_NEWCO

In [7]:
''' Execute query '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20250201
print(f'\nParameter input...\n')
print(f'   -> Data as of {curr_datetime}')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/ PPN_TM, AREA_TYPE
        , COUNT(DISTINCT METRIC_CD) CNT_METRIC, COUNT(1) ROW_CNT
        , MIN(TM_KEY_DAY) MIN_DT, MAX(TM_KEY_DAY) MAX_DT, MAX(ACTUAL_AS_OF) LAST_ACTUAL
    FROM GEOSPCAPPO.AGG_PERF_NEWCO
    WHERE CENTER IN ('Revenue', 'Sales', 'Profitability')
    AND TM_KEY_DAY >= {v_start_date} 
    GROUP BY PPN_TM, AREA_TYPE
    ORDER BY PPN_TM, AREA_TYPE
""")


try:
    # Get : Timestamp
    src_cur.execute(query)
    rows = src_cur.fetchall()
    print(f'\nCurrent Timestamp...')
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])

    # Display
    vis_timestamp_df = chk_src_df.copy()
    print(f'\n{vis_timestamp_df.to_string(max_cols=7)}') #max_rows=1000
    
    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()

Parameter input...

   -> Data as of 2025-03-31, 14:09:07
   -> v_start_date: 20250201

Current Timestamp...

                PPN_TM AREA_TYPE  CNT_METRIC   ROW_CNT    MIN_DT    MAX_DT  LAST_ACTUAL
0  2025-03-29 13:53:14      CCAA         216  11225088  20250201  20250328     20250327
1  2025-03-31 00:54:52         C         500     29000  20250201  20250330     20250329
2  2025-03-31 00:54:52         G         369    171216  20250201  20250330     20250329
3  2025-03-31 00:54:52         P         395     22910  20250201  20250330     20250329
4  2025-03-31 00:54:52         Z          29     11774  20250201  20250330     20250329
5  2025-03-31 00:55:33         C           4       232  20250201  20250330     20250330
6  2025-03-31 00:55:33         G           4      1856  20250201  20250330     20250330
7  2025-03-31 00:55:33         P           4       232  20250201  20250330     20250330
8  2025-03-31 03:03:09         H         368   1408704  20250201  20250330     20250329
9  2025-03-31 03:07:26         H           4     15312  20250201  20250330     20250330
10 2025-03-31 05:39:31        HH         319   1776192  20250201  20250330     20250329
11 2025-03-31 05:44:38        HH           4     22272  20250201  20250330     20250330

## Import : Monthly Snap Data
    DB -> Output file (monthly_snap_YYYYMMDD.csv)

    Source : GEOSPCAPPO.AGG_PERF_NEWCO

In [3]:
''' Input parameter '''

op_dir = 'data'
op_monthly_file = f'vis_monthly_{str_curr_dt}'
op_daily_file = f'vis_daily_{str_curr_dt}'

v_year = 0
v_month_start = 0
v_month_end = 0
v_date = 20240101

# print(f"\nParameter input...\n\n   -> op_dir: {op_dir}\n   -> op_monthly_file: {op_monthly_file}\n   -> op_daily_file: {op_daily_file}")
print(f'\nParameter input...\n')
print(f'   -> op_dir: {op_dir}')
print(f'   -> op_monthly_file: {op_monthly_file}')
print(f'   -> op_daily_file: {op_daily_file}')
print(f'\n   -> v_year: {v_year}')
print(f'   -> v_month_start: {v_month_start}')
print(f'   -> v_month_end: {v_month_end}')
print(f'   -> v_date: {v_date}')

Parameter input...

   -> op_dir: data
   -> op_monthly_file: vis_monthly_20250331
   -> op_daily_file: vis_daily_20250331

   -> v_year: 0
   -> v_month_start: 0
   -> v_month_end: 0
   -> v_date: 20240101

In [4]:
''' Execute query '''


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
print(f'\n{TDMDBPR_db} : Connected')
src_cur = src_conn.cursor()


query = (f"""
    /*** Import data from "AGG_PERF_NEWCO" ***/
    -----------------------------------------------------------------------------------------------------------------------

    WITH W_PARAM AS 
    (
        SELECT {v_year} AS V_YR
            , {v_month_start} AS V_MTH_START
            , {v_month_end}V_MTH_END
            , {v_date} AS V_DT_START 
        FROM DUAL
    )
    -----------------------------------------------------------------------------------------------------------------------

    , W_VINSIGHT_SNAP AS 
    (
        SELECT TM_KEY_YR, TM_KEY_MTH, TM_KEY_DAY
            , CENTER, PRODUCT_GRP, COMP_CD, METRIC_GRP, METRIC_CD, METRIC_NAME
            , ACTUAL_AS_OF, AGG_TYPE--, RR_IND, GRY_IND, UOM
            , AREA_TYPE, AREA_CD, AREA_NAME
            , ACTUAL_SNAP, TARGET_SNAP, ACTUAL_AGG_MTH, TARGET_AGG_MTH
            , PPN_TM
        
        FROM GEOSPCAPPO.AGG_PERF_NEWCO 
        
        WHERE CENTER IN ('Revenue', 'Sales', 'Profitability')
        AND NOT REGEXP_LIKE(METRIC_CD, '[0-9]C$|[0-9]H$|[0-9]MCOM$') --|[0-9]CORP$|[0-9]GEO$|[0-9]A[A-K]$
        AND AREA_TYPE IN ('C', 'P', 'G', 'H', 'HH')
        --AND AREA_TYPE IN ('C', 'P', 'G', 'H', 'HH', 'CCAA')
        AND TM_KEY_DAY >= (SELECT V_DT_START FROM W_PARAM)
    )
    -----------------------------------------------------------------------------------------------------------------------

    /*** Monthly Snap ***/

    SELECT /*+ PARALLEL(8) */ 
        TM_KEY_MTH, CENTER, METRIC_GRP, PRODUCT_GRP, COMP_CD, METRIC_CD, METRIC_NAME, CHANNEL_CD, AGG_TYPE--, UOM
        , CAST(SUM(CASE WHEN AREA_TYPE = 'C' THEN ACTUAL_TMP END) AS DECIMAL(18,2)) AS C_ACTUAL
        , CAST(SUM(CASE WHEN AREA_TYPE = 'P' THEN ACTUAL_TMP END) AS DECIMAL(18,2)) AS P_ACTUAL
        , CAST(SUM(CASE WHEN AREA_TYPE = 'G' THEN ACTUAL_TMP END) AS DECIMAL(18,2)) AS G_ACTUAL
        , CAST(SUM(CASE WHEN AREA_TYPE = 'H' THEN ACTUAL_TMP END) AS DECIMAL(18,2)) AS H_ACTUAL
        , CAST(SUM(CASE WHEN AREA_TYPE = 'HH' THEN ACTUAL_TMP END) AS DECIMAL(18,2)) AS HH_ACTUAL
        , CAST(SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN ACTUAL_TMP END) AS DECIMAL(18,2)) AS CCAA_ACTUAL
        , CAST(SUM(CASE WHEN AREA_TYPE = 'C' THEN TARGET_TMP END) AS DECIMAL(18,2)) AS C_TARGET
        , CAST(SUM(CASE WHEN AREA_TYPE = 'P' THEN TARGET_TMP END) AS DECIMAL(18,2)) AS P_TARGET
        , CAST(SUM(CASE WHEN AREA_TYPE = 'G' THEN TARGET_TMP END) AS DECIMAL(18,2)) AS G_TARGET
        , CAST(SUM(CASE WHEN AREA_TYPE = 'H' THEN TARGET_TMP END) AS DECIMAL(18,2)) AS H_TARGET
        , CAST(SUM(CASE WHEN AREA_TYPE = 'HH' THEN TARGET_TMP END) AS DECIMAL(18,2)) AS HH_TARGET
        , MAX(ACTUAL_AS_OF) ACTUAL_AS_OF, MIN(TM_KEY_DAY) MIN_DAY, MAX(TM_KEY_DAY) MAX_DAY, MAX(PPN_TM) PPN_TM
        
    FROM (
        SELECT TM_KEY_YR, TM_KEY_MTH, TM_KEY_DAY
            , CENTER, PRODUCT_GRP, COMP_CD, METRIC_GRP, METRIC_CD, METRIC_NAME, ACTUAL_AS_OF, AGG_TYPE, AREA_TYPE, AREA_CD, AREA_NAME
            , CASE 	WHEN AGG_TYPE = 'S' THEN ACTUAL_SNAP 
                    ELSE (CASE WHEN TM_KEY_DAY = MAX(TM_KEY_DAY) OVER(PARTITION BY METRIC_CD, TM_KEY_MTH) THEN ACTUAL_AGG_MTH END)
                    END ACTUAL_TMP
            , CASE 	WHEN AGG_TYPE = 'S' THEN TARGET_SNAP 
                    ELSE (CASE WHEN TM_KEY_DAY = MAX(TM_KEY_DAY) OVER(PARTITION BY METRIC_CD, TM_KEY_MTH) THEN TARGET_AGG_MTH END)
                    END TARGET_TMP
            , ACTUAL_SNAP, TARGET_SNAP, ACTUAL_AGG_MTH, TARGET_AGG_MTH, PPN_TM
            , CASE WHEN REGEXP_LIKE(METRIC_CD, '[0-9]A[A-K]$') THEN SUBSTR(METRIC_CD,-2) ELSE 'ALL' END CHANNEL_CD
        FROM W_VINSIGHT_SNAP
    ) MTH_SNAP

    GROUP BY TM_KEY_MTH, CENTER, METRIC_GRP, PRODUCT_GRP, COMP_CD, METRIC_CD, METRIC_NAME, CHANNEL_CD, AGG_TYPE
    --ORDER BY TM_KEY_MTH, CENTER, METRIC_GRP, PRODUCT_GRP, COMP_CD, METRIC_CD
""")


try:
    execute_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
    print(f'\n   -> Execute query... {execute_datetime}')
    
    # Create Dataframe
    src_cur.execute(query)
    rows = src_cur.fetchall()
    src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])
    print(f'\n   -> DataFrame : {src_df.shape[0]} rows, {src_df.shape[1]} columns')

    # Generate CSV file
    src_df.to_csv(f'{op_dir}/{op_monthly_file}.csv', index=False, encoding='utf-8')
    print(f'\n   -> Generate "{op_monthly_file}.csv" successfully')

    # # Generate Excel file
    # src_df.to_excel(f'{op_dir}/{op_monthly_file}.xlsx', sheet_name='Data', index=False)
    # print(f'\n   -> Generate "{op_monthly_file}.xlsx" successfully')


except oracledb.DatabaseError as e:
    print(f'Error with Oracle : {e}')


finally:
    src_cur.close()
    src_conn.close()
    print(f'\n{TDMDBPR_db} : Disconnected')

TDMDBPR : Connected

   -> Execute query... 2025-03-31, 09:51:53

   -> DataFrame : 6045 rows, 24 columns

   -> Generate "vis_monthly_20250331.csv" successfully

TDMDBPR : Disconnected

## Reconcile

### Import Rawdata

In [5]:
''' Import Rawdata '''

data_src = f'{op_dir}/{op_monthly_file}.csv'
raw_df = pd.read_csv(data_src, low_memory=False)
print(f'\nraw_df : {raw_df.shape[0]} rows, {raw_df.shape[1]} columns')
# raw_df.tail(3)

raw_df : 6045 rows, 24 columns

In [6]:
''' Add columns '''

tmp_df = raw_df
tmp_df['TMP_CD'] = tmp_df['METRIC_CD'].replace(r'AA$|AB$|AC$|AD$|AE$|AF$|AG$|AH$|AI$|AJ$|AK$', '', regex=True)
tmp_df['TMP_NAME'] = tmp_df['METRIC_NAME'].replace(r' : Account Executive| : B2B| : Branded Retail| : Contact Center| : Direct Sales| : Key Account| : Modern Trade| : Others| : Own Digital| : Retail Sales| : Wholesales', '', regex=True)
tmp_df['MY_GROUP'] = tmp_df.apply(lambda x: fn.my_metric_group(str(x['METRIC_GRP']), str(x['METRIC_CD']), str(x['METRIC_NAME'])), axis=1)
tmp_df['MAIN_FLAG'] = np.where((tmp_df['METRIC_CD'].str.contains('[0-9]C$|[0-9]H$|[0-9]MCOM$|[0-9]CUS$')) | (tmp_df['METRIC_NAME'].str.contains('New Revenue|Existing Revenue')), 'N', 'Y')
tmp_df['GEO_FLAG'] = np.where((tmp_df['METRIC_CD'].str.contains('GEO$')) | (tmp_df['METRIC_NAME'].str.contains('\(Geo\)$')), 'Y', 'N')
tmp_df['CDS_FLAG'] = np.where((tmp_df['METRIC_CD'].str.contains('^TB1R000109|^TB1S000109|^TB1R000106|^TB1S000106|^TB1S000102|^TB1S000103|^TB1S000104|^TB0R00010002|^TB2S000100|^TB1S000101|^TB3S000100|^TB3S000101|^TB3S000102|^TB3S000103|^TB3S000900|^TB3S000901|^TB3S000902|^TB4S000100|^TB4S000104|^TB4S001300|^TB0R00010001|^TB2R000500|^TB1R000900|^TB3R000600|^TB3R000601|^TB3R000602|^TB4R001000|^TB1R001000|^TB4S001400|^TB4R001700|^TB2S010100|^TB2S020100')) & (tmp_df['METRIC_CD'].str.contains('[0-9]$|[0-9]A[A-K]$')), 'Y', 'N')
# tmp_df['CDS_FLAG'] = np.where(tmp_df['METRIC_CD'].isin(['TB1R000109', 'TB1S000109', 'TB1R000106', 'TB1S000106', 'TB1S000102', 'TB1S000103', 'TB1S000104', 'TB0R00010002', 'TB2S000100', 'TB1S000101', 'TB3S000100', 'TB3S000101', 'TB3S000102', 'TB3S000103', 'TB3S000900', 'TB3S000901', 'TB3S000902', 'TB4S000100', 'TB4S000104', 'TB4S001300', 'TB0R00010001', 'TB2R000500', 'TB1R000900', 'TB3R000600', 'TB3R000601', 'TB3R000602', 'TB4R001000', 'TB1R001000', 'TB4S001400', 'TB4R001700']), 'Y', 'N')

''' Generate CSV file '''
tmp_df.to_csv(f'{op_dir}/tmp_{op_monthly_file}.csv', index=False, encoding='utf-8')
print(f'\n   -> Generate "tmp_{op_monthly_file}.csv" successfully')

tmp_df.tail(3)

   -> Generate "tmp_vis_monthly_20250331.csv" successfully

,TM_KEY_MTH,CENTER,METRIC_GRP,PRODUCT_GRP,COMP_CD,METRIC_CD,METRIC_NAME,CHANNEL_CD,AGG_TYPE,C_ACTUAL,...,ACTUAL_AS_OF,MIN_DAY,MAX_DAY,PPN_TM,TMP_CD,TMP_NAME,MY_GROUP,MAIN_FLAG,GEO_FLAG,CDS_FLAG
6042,202408,Sales,Sales,Postpaid,DTAC,DB2S010100CG,Postpaid Gross Adds B2C : DTAC - GEO Channel,ALL,S,NaN,...,20240831.0,20240801,20240831,2025-03-31 05:39:31,DB2S010100CG,Postpaid Gross Adds B2C : DTAC - GEO Channel,Gross Adds,Y,N,N
6043,202503,Revenue,Retention & Churn,Postpaid,DTAC,DB2S010301,Postpaid Churn Rate Voluntary B2C : DTAC,ALL,N,NaN,...,20250328.0,20250301,20250330,2025-03-31 05:39:31,DB2S010301,Postpaid Churn Rate Voluntary B2C : DTAC,%Churn Rate,Y,N,N
6044,202502,Revenue,Subs,TOL,TRUE,TB3S000402,FTTx Net Contribution,ALL,S,NaN,...,20250228.0,20250201,20250228,2025-03-31 05:39:31,TB3S000402,FTTx Net Contribution,Unknown,Y,N,N

## Generate Output file

In [45]:
# # to Excel file

# op_dir = 'temp'
# op_file = 'VINSIGHT Data Monitoring.xlsx'

# df.to_excel(f'{op_dir}/{op_file}', sheet_name='Data', index=False)
# print(f'\n  -> Generate "{op_file}" successfully')

 -> Generate "Metric_List.xlsx" successfully

In [44]:
# # to CSV file

# op_dir = 'temp'
# op_file = 'VINSIGHT Data Monitoring.csv'

# df.to_csv(f'{op_dir}/{op_file}', index=False, encoding='utf-8')
# print(f'\n  -> Generate "{op_file}" successfully')

 -> Generate "Metric_List.csv" successfully