# * VINSIGHT : SubBase, 60DPD, Reported SubBase
    Reported SubBase Pre & Post(ไม่รวม FTTx) มาจากพี่เอ้รัน Script พี่หนุ่ย นอกนั้นมาจากพี่เอก เช่น SubBase, 60DPD, Gain/Loss 60DPD

In [1]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

## Import Transaction

In [2]:
''' Execute transaction '''


# Input parameter
v_start_date = 20240101
print(f'\nParameter input...')
print(f'   -> v_start_date: {v_start_date}')

curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
print(f'\nData as of {curr_datetime}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        TM_KEY_YR, TM_KEY_QTR, TM_KEY_MTH, TM_KEY_WK, TM_KEY_DAY, PRODUCT_GRP, COMP_CD, METRIC_CD, METRIC_NAME --, AREA_TYPE, AREA_CD, AREA_NAME
        , MAX(ACTUAL_AS_OF) ACTUAL_AS_OF
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN ACTUAL_SNAP END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN ACTUAL_SNAP END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN ACTUAL_SNAP END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN ACTUAL_SNAP END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN ACTUAL_SNAP END) HH
        , MAX(PPN_TM) PPN_TM
    FROM GEOSPCAPPO.AGG_PERF_NEWCO
    WHERE METRIC_CD IN (
        'B1S000702' --Prepaid SubBase
        , 'TB1S000702' --Prepaid SubBase : TMH
        , 'DB1S000702' --Prepaid SubBase : DTAC
        , 'B1S000700' --Prepaid Reported SubBase
        , 'TB1S000700' --Prepaid Reported SubBase : TMH
        , 'DB1S000700' --Prepaid Reported SubBase : DTAC
        
        , 'B2S010602' --Postpaid SubBase B2C
        , 'DB2S010602' --Postpaid SubBase B2C : DTAC
        , 'TB2S010602' --Postpaid SubBase B2C : TMH
        , 'B2S010601' --Postpaid 60DPD B2C
        , 'TB2S010601' --Postpaid 60DPD B2C : TMH
        , 'DB2S010601' --Postpaid 60DPD B2C : DTAC
        , 'B2S010603' --Postpaid Gain/Loss 60DPD B2C
        , 'TB2S010603' --Postpaid Gain/Loss 60DPD B2C : TMH
        , 'DB2S010603' --Postpaid Gain/Loss 60DPD B2C : DTAC
        , 'B2S010600' --Postpaid Reported SubBase B2C
        , 'DB2S010600' --Postpaid Reported SubBase B2C : DTAC
        , 'TB2S010600' --Postpaid Reported SubBase B2C : TMH
        
        , 'TB3S020603' --FTTx 60DPD
        , 'TB3S020606' --FTTx Gain/Loss 60DPD
        , 'TB3S000600' --FTTx Reported SubBase
        , 'TB3S020604' --FTTx SubBase
        )
    AND AREA_TYPE IN ('C','P','G','H','HH')
    --AND TM_KEY_DAY IN (20240131, 20240229, 20240331, 20240430, 20240531, 20240630, 20240731, 20240831, 20240930, 20241031, 20241130, 20241231, 20250131, 20250228, 20250331) -->> Year 2024
    --AND TM_KEY_DAY IN (20250131, 20250228, 20250331, 20250430, 20250531) -->> Year 2025
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY TM_KEY_YR, TM_KEY_QTR, TM_KEY_MTH, TM_KEY_WK, TM_KEY_DAY, PRODUCT_GRP, COMP_CD, METRIC_CD, METRIC_NAME
    --ORDER BY TM_KEY_MTH, TM_KEY_DAY, PRODUCT_GRP, COMP_CD, METRIC_CD
""")


try:
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])

    print(f'\nDataFrame: {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')
    
    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()

Parameter input...
   -> v_start_date: 20240101

Data as of 2025-06-17, 10:45:24

DataFrame: 9061 rows, 16 columns

In [3]:
''' Automate Currently Period '''

curr_yr = chk_src_df['TM_KEY_YR'].max()
prev_yr = chk_src_df['TM_KEY_YR'].drop_duplicates().sort_values().shift().max().astype(int)

curr_qtr = chk_src_df['TM_KEY_QTR'].max()
prev_qtr = chk_src_df['TM_KEY_QTR'].drop_duplicates().sort_values().shift().max().astype(int)

curr_mth = chk_src_df['TM_KEY_MTH'].max()
prev_mth = chk_src_df['TM_KEY_MTH'].drop_duplicates().sort_values().shift().max().astype(int)

curr_wk = chk_src_df['TM_KEY_WK'].max()
prev_wk = chk_src_df['TM_KEY_WK'].drop_duplicates().sort_values().shift().max().astype(int)
last_3_wk = chk_src_df['TM_KEY_WK'].drop_duplicates().sort_values().shift(3).max().astype(int)

# curr_day = chk_src_df.loc[chk_src_df['ACTUAL_SNAP'] > 0]['ACTUAL_AS_OF'].max().astype(int)
# prev_day = chk_src_df.loc[chk_src_df['ACTUAL_SNAP'] > 0]['ACTUAL_AS_OF'].drop_duplicates().shift().max().astype(int)

In [4]:
# v_metric_list = [
#     'B1S000702' #Prepaid SubBase
#     , 'TB1S000702' #Prepaid SubBase : TMH
#     , 'DB1S000702' #Prepaid SubBase : DTAC
# 	, 'B1S000700' #Prepaid Reported SubBase
# 	, 'TB1S000700' #Prepaid Reported SubBase : TMH
# 	, 'DB1S000700' #Prepaid Reported SubBase : DTAC

# 	, 'B2S010602' #Postpaid SubBase B2C
#     , 'TB2S010602' #Postpaid SubBase B2C : TMH
# 	, 'DB2S010602' #Postpaid SubBase B2C : DTAC
# 	, 'B2S010601' #Postpaid 60DPD B2C
#     , 'TB2S010601' #Postpaid 60DPD B2C : TMH
# 	, 'DB2S010601' #Postpaid 60DPD B2C : DTAC
# 	, 'B2S010603' #Postpaid Gain/Loss 60DPD B2C
#     , 'TB2S010603' #Postpaid Gain/Loss 60DPD B2C : TMH
# 	, 'DB2S010603' #Postpaid Gain/Loss 60DPD B2C : DTAC
# 	, 'B2S010600' #Postpaid Reported SubBase B2C
#     , 'TB2S010600' #Postpaid Reported SubBase B2C : TMH
# 	, 'DB2S010600' #Postpaid Reported SubBase B2C : DTAC
	
#     , 'TB3S020604' #FTTx SubBase
# 	, 'TB3S020603' #FTTx 60DPD
# 	, 'TB3S020606' #FTTx Gain/Loss 60DPD
# 	, 'TB3S000600' #FTTx Reported SubBase
#     ]

## Prepaid by Period

In [5]:
''' Prepaid : SubBase Yearly '''

v_metric_list = [
    'B1S000702' #Prepaid SubBase
    , 'TB1S000702' #Prepaid SubBase : TMH
    , 'DB1S000702' #Prepaid SubBase : DTAC
	, 'B1S000700' #Prepaid Reported SubBase
	, 'TB1S000700' #Prepaid Reported SubBase : TMH
	, 'DB1S000700' #Prepaid Reported SubBase : DTAC
    ]

pre_sub_yearly_df = chk_src_df.loc[chk_src_df['TM_KEY_DAY']==chk_src_df.groupby(['TM_KEY_YR', 'METRIC_CD'])['ACTUAL_AS_OF'].transform('max')].copy() # ACTUAL_AGG_YR
pre_sub_yearly_df = pre_sub_yearly_df[['TM_KEY_YR', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']]
pre_sub_yearly_df = pre_sub_yearly_df.loc[pre_sub_yearly_df['METRIC_CD'].isin(v_metric_list)]

pre_sub_yearly_df['PRE_SB'] = np.where(pre_sub_yearly_df['METRIC_CD']=='B1S000702', pre_sub_yearly_df['P'], 0)
pre_sub_yearly_df['PRE_SB_T'] = np.where(pre_sub_yearly_df['METRIC_CD']=='TB1S000702', pre_sub_yearly_df['P'], 0)
pre_sub_yearly_df['PRE_SB_D'] = np.where(pre_sub_yearly_df['METRIC_CD']=='DB1S000702', pre_sub_yearly_df['P'], 0)

pre_sub_yearly_df['PRE_RPT_SB'] = np.where(pre_sub_yearly_df['METRIC_CD']=='B1S000700', pre_sub_yearly_df['P'], 0)
pre_sub_yearly_df['PRE_RPT_SB_T'] = np.where(pre_sub_yearly_df['METRIC_CD']=='TB1S000700', pre_sub_yearly_df['P'], 0)
pre_sub_yearly_df['PRE_RPT_SB_D'] = np.where(pre_sub_yearly_df['METRIC_CD']=='DB1S000700', pre_sub_yearly_df['P'], 0)

pre_sub_yearly_df = pre_sub_yearly_df.groupby('TM_KEY_YR').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max'
                                                        , 'PRE_SB':'sum', 'PRE_SB_T':'sum', 'PRE_SB_D':'sum'
                                                        , 'PRE_RPT_SB':'sum', 'PRE_RPT_SB_T':'sum', 'PRE_RPT_SB_D':'sum'})
pre_sub_yearly_df = pre_sub_yearly_df.fillna(0).sort_values(by=['TM_KEY_YR']).reset_index()
pre_sub_yearly_df = pre_sub_yearly_df[['TM_KEY_YR', 'PPN_TM', 'ACTUAL_AS_OF'
                               , 'PRE_SB', 'PRE_SB_T', 'PRE_SB_D'
                               , 'PRE_RPT_SB', 'PRE_RPT_SB_T', 'PRE_RPT_SB_D']]

pre_sub_yearly_df_display = pre_sub_yearly_df.copy()
pre_sub_yearly_df_display['ACTUAL_AS_OF'] = pre_sub_yearly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = pre_sub_yearly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    pre_sub_yearly_df_display[col] = pre_sub_yearly_df_display[col].apply(lambda x: format(x, ',.0f'))
pre_sub_yearly_df_display

,TM_KEY_YR,PPN_TM,ACTUAL_AS_OF,PRE_SB,PRE_SB_T,PRE_SB_D,PRE_RPT_SB,PRE_RPT_SB_T,PRE_RPT_SB_D
0,2024,2025-06-17 00:53:59,20241231,0,"24,782,672",0,0,"21,220,694",0
1,2025,2025-06-17 00:53:59,20250615,0,"22,998,539",0,0,"19,744,984",0

In [6]:
''' Prepaid : SubBase Quarterly '''

v_metric_list = [
    'B1S000702' #Prepaid SubBase
    , 'TB1S000702' #Prepaid SubBase : TMH
    , 'DB1S000702' #Prepaid SubBase : DTAC
	, 'B1S000700' #Prepaid Reported SubBase
	, 'TB1S000700' #Prepaid Reported SubBase : TMH
	, 'DB1S000700' #Prepaid Reported SubBase : DTAC
    ]

pre_sub_quarterly_df = chk_src_df.loc[chk_src_df['TM_KEY_DAY']==chk_src_df.groupby(['TM_KEY_QTR', 'METRIC_CD'])['ACTUAL_AS_OF'].transform('max')].copy() # ACTUAL_AGG_QTR
pre_sub_quarterly_df = pre_sub_quarterly_df[['TM_KEY_QTR', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']]
pre_sub_quarterly_df = pre_sub_quarterly_df.loc[pre_sub_quarterly_df['METRIC_CD'].isin(v_metric_list)]

pre_sub_quarterly_df['PRE_SB'] = np.where(pre_sub_quarterly_df['METRIC_CD']=='B1S000702', pre_sub_quarterly_df['P'], 0)
pre_sub_quarterly_df['PRE_SB_T'] = np.where(pre_sub_quarterly_df['METRIC_CD']=='TB1S000702', pre_sub_quarterly_df['P'], 0)
pre_sub_quarterly_df['PRE_SB_D'] = np.where(pre_sub_quarterly_df['METRIC_CD']=='DB1S000702', pre_sub_quarterly_df['P'], 0)

pre_sub_quarterly_df['PRE_RPT_SB'] = np.where(pre_sub_quarterly_df['METRIC_CD']=='B1S000700', pre_sub_quarterly_df['P'], 0)
pre_sub_quarterly_df['PRE_RPT_SB_T'] = np.where(pre_sub_quarterly_df['METRIC_CD']=='TB1S000700', pre_sub_quarterly_df['P'], 0)
pre_sub_quarterly_df['PRE_RPT_SB_D'] = np.where(pre_sub_quarterly_df['METRIC_CD']=='DB1S000700', pre_sub_quarterly_df['P'], 0)

pre_sub_quarterly_df = pre_sub_quarterly_df.groupby('TM_KEY_QTR').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max'
                                                        , 'PRE_SB':'sum', 'PRE_SB_T':'sum', 'PRE_SB_D':'sum'
                                                        , 'PRE_RPT_SB':'sum', 'PRE_RPT_SB_T':'sum', 'PRE_RPT_SB_D':'sum'})
pre_sub_quarterly_df = pre_sub_quarterly_df.fillna(0).sort_values(by=['TM_KEY_QTR']).reset_index()
pre_sub_quarterly_df = pre_sub_quarterly_df[['TM_KEY_QTR', 'PPN_TM', 'ACTUAL_AS_OF'
                               , 'PRE_SB', 'PRE_SB_T', 'PRE_SB_D'
                               , 'PRE_RPT_SB', 'PRE_RPT_SB_T', 'PRE_RPT_SB_D']]

pre_sub_quarterly_df_display = pre_sub_quarterly_df.copy()
pre_sub_quarterly_df_display['ACTUAL_AS_OF'] = pre_sub_quarterly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = pre_sub_quarterly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    pre_sub_quarterly_df_display[col] = pre_sub_quarterly_df_display[col].apply(lambda x: format(x, ',.0f'))
pre_sub_quarterly_df_display

,TM_KEY_QTR,PPN_TM,ACTUAL_AS_OF,PRE_SB,PRE_SB_T,PRE_SB_D,PRE_RPT_SB,PRE_RPT_SB_T,PRE_RPT_SB_D
0,20241,2025-06-17 00:53:59,20240331,0,"25,748,719",0,0,"21,409,544",0
1,20242,2025-06-17 00:53:59,20240630,0,"25,384,868",0,0,"20,914,621",0
2,20243,2025-06-17 00:53:59,20240930,0,"24,977,745",0,0,"20,682,878",0
3,20244,2025-06-17 00:53:59,20241231,0,"24,782,672",0,0,"21,220,694",0
4,20251,2025-06-17 00:53:59,20250331,0,"24,578,672",0,0,"20,647,169",0
5,20252,2025-06-17 00:53:59,20250615,0,"22,998,539",0,0,"19,744,984",0

In [7]:
''' Prepaid : SubBase Monthly '''

# v_tm_key_yr = curr_yr
v_tm_key_yr = prev_yr

v_metric_list = [
    'B1S000702' #Prepaid SubBase
    , 'TB1S000702' #Prepaid SubBase : TMH
    , 'DB1S000702' #Prepaid SubBase : DTAC
	, 'B1S000700' #Prepaid Reported SubBase
	, 'TB1S000700' #Prepaid Reported SubBase : TMH
	, 'DB1S000700' #Prepaid Reported SubBase : DTAC
    ]

pre_sub_monthly_df = chk_src_df.loc[chk_src_df['TM_KEY_DAY']==chk_src_df.groupby(['TM_KEY_MTH', 'METRIC_CD'])['ACTUAL_AS_OF'].transform('max')].copy() # ACTUAL_AGG_MTH
pre_sub_monthly_df = pre_sub_monthly_df[['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']].loc[chk_src_df['TM_KEY_YR']>=v_tm_key_yr]
pre_sub_monthly_df = pre_sub_monthly_df.loc[pre_sub_monthly_df['METRIC_CD'].isin(v_metric_list)]

pre_sub_monthly_df['PRE_SB'] = np.where(pre_sub_monthly_df['METRIC_CD']=='B1S000702', pre_sub_monthly_df['P'], 0)
pre_sub_monthly_df['PRE_SB_T'] = np.where(pre_sub_monthly_df['METRIC_CD']=='TB1S000702', pre_sub_monthly_df['P'], 0)
pre_sub_monthly_df['PRE_SB_D'] = np.where(pre_sub_monthly_df['METRIC_CD']=='DB1S000702', pre_sub_monthly_df['P'], 0)

pre_sub_monthly_df['PRE_RPT_SB'] = np.where(pre_sub_monthly_df['METRIC_CD']=='B1S000700', pre_sub_monthly_df['P'], 0)
pre_sub_monthly_df['PRE_RPT_SB_T'] = np.where(pre_sub_monthly_df['METRIC_CD']=='TB1S000700', pre_sub_monthly_df['P'], 0)
pre_sub_monthly_df['PRE_RPT_SB_D'] = np.where(pre_sub_monthly_df['METRIC_CD']=='DB1S000700', pre_sub_monthly_df['P'], 0)

pre_sub_monthly_df = pre_sub_monthly_df.groupby('TM_KEY_MTH').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max'
                                                        , 'PRE_SB':'sum', 'PRE_SB_T':'sum', 'PRE_SB_D':'sum'
                                                        , 'PRE_RPT_SB':'sum', 'PRE_RPT_SB_T':'sum', 'PRE_RPT_SB_D':'sum'})
pre_sub_monthly_df = pre_sub_monthly_df.fillna(0).sort_values(by=['TM_KEY_MTH']).reset_index()
pre_sub_monthly_df = pre_sub_monthly_df[['TM_KEY_MTH', 'PPN_TM', 'ACTUAL_AS_OF'
                               , 'PRE_SB', 'PRE_SB_T', 'PRE_SB_D'
                               , 'PRE_RPT_SB', 'PRE_RPT_SB_T', 'PRE_RPT_SB_D']]

pre_sub_monthly_df_display = pre_sub_monthly_df.copy()
pre_sub_monthly_df_display['ACTUAL_AS_OF'] = pre_sub_monthly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = pre_sub_monthly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    pre_sub_monthly_df_display[col] = pre_sub_monthly_df_display[col].apply(lambda x: format(x, ',.0f'))
pre_sub_monthly_df_display

,TM_KEY_MTH,PPN_TM,ACTUAL_AS_OF,PRE_SB,PRE_SB_T,PRE_SB_D,PRE_RPT_SB,PRE_RPT_SB_T,PRE_RPT_SB_D
0,202402,2025-06-17 00:53:59,20240229,0,"25,840,436",0,0,"21,794,228",0
1,202403,2025-06-17 00:53:59,20240331,0,"25,748,719",0,0,"21,409,544",0
2,202404,2025-06-17 00:53:59,20240430,0,"25,446,381",0,0,"21,026,743",0
3,202405,2025-06-17 00:53:59,20240531,0,"25,329,884",0,0,"20,992,491",0
4,202406,2025-06-17 00:53:59,20240630,0,"25,384,868",0,0,"20,914,621",0
5,202407,2025-06-17 00:53:59,20240731,0,"25,008,838",0,0,"20,935,553",0
6,202408,2025-06-17 00:53:59,20240831,0,"25,090,909",0,0,"20,868,927",0
7,202409,2025-06-17 00:53:59,20240930,0,"24,977,745",0,0,"20,682,878",0
8,202410,2025-06-17 00:53:59,20241031,0,"24,836,634",0,0,"20,579,008",0
9,202411,2025-06-17 00:53:59,20241130,0,"24,637,406",0,0,"20,653,861",0
10,202412,2025-06-17 00:53:59,20241231,0,"24,782,672",0,0,"21,220,694",0
11,202501,2025-06-17 00:53:59,20250131,0,"24,942,269",0,0,"21,379,455",0
12,202502,2025-06-17 00:53:59,20250228,0,"24,921,942",0,0,"21,170,310",0
13,202503,2025-06-17 00:53:59,20250331,0,"24,578,672",0,0,"20,647,169",0
14,202504,2025-06-17 00:53:59,20250430,0,"23,721,266",0,0,"20,304,003",0
15,202505,2025-06-17 00:53:59,20250531,0,"23,721,160",0,0,"20,108,592",0
16,202506,2025-06-17 00:53:59,20250615,0,"22,998,539",0,0,"19,744,984",0

In [8]:
''' Prepaid : SubBase Weekly '''

# v_tm_key_mth = curr_mth
v_tm_key_mth = prev_mth

v_metric_list = [
    'B1S000702' #Prepaid SubBase
    , 'TB1S000702' #Prepaid SubBase : TMH
    , 'DB1S000702' #Prepaid SubBase : DTAC
	, 'B1S000700' #Prepaid Reported SubBase
	, 'TB1S000700' #Prepaid Reported SubBase : TMH
	, 'DB1S000700' #Prepaid Reported SubBase : DTAC
    ]

pre_sub_weekly_df = chk_src_df.loc[chk_src_df['TM_KEY_DAY']==chk_src_df.groupby(['TM_KEY_WK', 'METRIC_CD'])['ACTUAL_AS_OF'].transform('max')].copy() # ACTUAL_AGG_WK
pre_sub_weekly_df = pre_sub_weekly_df[['TM_KEY_WK', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']].loc[chk_src_df['TM_KEY_MTH']>=v_tm_key_mth]
pre_sub_weekly_df = pre_sub_weekly_df.loc[pre_sub_weekly_df['METRIC_CD'].isin(v_metric_list)]

pre_sub_weekly_df['PRE_SB'] = np.where(pre_sub_weekly_df['METRIC_CD']=='B1S000702', pre_sub_weekly_df['P'], 0)
pre_sub_weekly_df['PRE_SB_T'] = np.where(pre_sub_weekly_df['METRIC_CD']=='TB1S000702', pre_sub_weekly_df['P'], 0)
pre_sub_weekly_df['PRE_SB_D'] = np.where(pre_sub_weekly_df['METRIC_CD']=='DB1S000702', pre_sub_weekly_df['P'], 0)

pre_sub_weekly_df['PRE_RPT_SB'] = np.where(pre_sub_weekly_df['METRIC_CD']=='B1S000700', pre_sub_weekly_df['P'], 0)
pre_sub_weekly_df['PRE_RPT_SB_T'] = np.where(pre_sub_weekly_df['METRIC_CD']=='TB1S000700', pre_sub_weekly_df['P'], 0)
pre_sub_weekly_df['PRE_RPT_SB_D'] = np.where(pre_sub_weekly_df['METRIC_CD']=='DB1S000700', pre_sub_weekly_df['P'], 0)

pre_sub_weekly_df = pre_sub_weekly_df.groupby('TM_KEY_WK').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max'
                                                        , 'PRE_SB':'sum', 'PRE_SB_T':'sum', 'PRE_SB_D':'sum'
                                                        , 'PRE_RPT_SB':'sum', 'PRE_RPT_SB_T':'sum', 'PRE_RPT_SB_D':'sum'})
pre_sub_weekly_df = pre_sub_weekly_df.fillna(0).sort_values(by=['TM_KEY_WK']).reset_index()
pre_sub_weekly_df = pre_sub_weekly_df[['TM_KEY_WK', 'PPN_TM', 'ACTUAL_AS_OF'
                               , 'PRE_SB', 'PRE_SB_T', 'PRE_SB_D'
                               , 'PRE_RPT_SB', 'PRE_RPT_SB_T', 'PRE_RPT_SB_D']]

pre_sub_weekly_df_display = pre_sub_weekly_df.copy()
pre_sub_weekly_df_display['ACTUAL_AS_OF'] = pre_sub_weekly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = pre_sub_weekly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    pre_sub_weekly_df_display[col] = pre_sub_weekly_df_display[col].apply(lambda x: format(x, ',.0f'))
pre_sub_weekly_df_display

,TM_KEY_WK,PPN_TM,ACTUAL_AS_OF,PRE_SB,PRE_SB_T,PRE_SB_D,PRE_RPT_SB,PRE_RPT_SB_T,PRE_RPT_SB_D
0,2025018,2025-06-17 00:53:59,20250504,0,"23,741,610",0,0,"20,292,540",0
1,2025019,2025-06-17 00:53:59,20250511,0,"23,755,801",0,0,"20,255,191",0
2,2025020,2025-06-17 00:53:59,20250518,0,"23,835,575",0,0,"20,228,203",0
3,2025021,2025-06-17 00:53:59,20250525,0,"23,749,838",0,0,"20,149,647",0
4,2025022,2025-06-17 00:53:59,20250601,0,"23,717,576",0,0,"20,099,208",0
5,2025023,2025-06-17 00:53:59,20250608,0,"27,711,932",0,0,"19,830,123",0
6,2025024,2025-06-17 00:53:59,20250615,0,"22,998,539",0,0,"19,744,984",0

In [9]:
''' Prepaid : SubBase Daily '''

# v_tm_key_mth = curr_mth
v_tm_key_mth = prev_mth

v_metric_list = [
    'B1S000702' #Prepaid SubBase
    , 'TB1S000702' #Prepaid SubBase : TMH
    , 'DB1S000702' #Prepaid SubBase : DTAC
	, 'B1S000700' #Prepaid Reported SubBase
	, 'TB1S000700' #Prepaid Reported SubBase : TMH
	, 'DB1S000700' #Prepaid Reported SubBase : DTAC
    ]

pre_sub_daily_df = chk_src_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P']].loc[chk_src_df['TM_KEY_MTH']>=v_tm_key_mth]
pre_sub_daily_df = pre_sub_daily_df.loc[pre_sub_daily_df['METRIC_CD'].isin(v_metric_list)]

pre_sub_daily_df['PRE_SB'] = np.where(pre_sub_daily_df['METRIC_CD']=='B1S000702', pre_sub_daily_df['P'], 0)
pre_sub_daily_df['PRE_SB_T'] = np.where(pre_sub_daily_df['METRIC_CD']=='TB1S000702', pre_sub_daily_df['P'], 0)
pre_sub_daily_df['PRE_SB_D'] = np.where(pre_sub_daily_df['METRIC_CD']=='DB1S000702', pre_sub_daily_df['P'], 0)

pre_sub_daily_df['PRE_RPT_SB'] = np.where(pre_sub_daily_df['METRIC_CD']=='B1S000700', pre_sub_daily_df['P'], 0)
pre_sub_daily_df['PRE_RPT_SB_T'] = np.where(pre_sub_daily_df['METRIC_CD']=='TB1S000700', pre_sub_daily_df['P'], 0)
pre_sub_daily_df['PRE_RPT_SB_D'] = np.where(pre_sub_daily_df['METRIC_CD']=='DB1S000700', pre_sub_daily_df['P'], 0)

pre_sub_daily_df = pre_sub_daily_df.groupby(['TM_KEY_MTH', 'TM_KEY_DAY']).agg({'PPN_TM':'max'
                                                        , 'PRE_SB':'sum', 'PRE_SB_T':'sum', 'PRE_SB_D':'sum'
                                                        , 'PRE_RPT_SB':'sum', 'PRE_RPT_SB_T':'sum', 'PRE_RPT_SB_D':'sum'})
pre_sub_daily_df = pre_sub_daily_df.fillna(0).sort_values(by=['TM_KEY_DAY'], ascending=False).reset_index()
pre_sub_daily_df = pre_sub_daily_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PPN_TM'
                               , 'PRE_SB', 'PRE_SB_T', 'PRE_SB_D'
                               , 'PRE_RPT_SB', 'PRE_RPT_SB_T', 'PRE_RPT_SB_D']]

pre_sub_daily_df_display = pre_sub_daily_df.copy()
mod_col_list = pre_sub_daily_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    pre_sub_daily_df_display[col] = pre_sub_daily_df_display[col].apply(lambda x: format(x, ',.0f'))
pre_sub_daily_df_display

,TM_KEY_MTH,TM_KEY_DAY,PPN_TM,PRE_SB,PRE_SB_T,PRE_SB_D,PRE_RPT_SB,PRE_RPT_SB_T,PRE_RPT_SB_D
0,202506,20250616,2025-06-17 00:53:59,0,0,0,0,0,0
1,202506,20250615,2025-06-17 00:53:59,0,0,0,0,"19,744,984",0
2,202506,20250614,2025-06-17 00:53:59,0,"22,998,539",0,0,"19,764,900",0
3,202506,20250613,2025-06-17 00:53:59,0,"23,002,911",0,0,"19,777,547",0
4,202506,20250612,2025-06-17 00:53:59,0,"23,005,268",0,0,"19,787,487",0
5,202506,20250611,2025-06-17 00:53:59,0,"23,019,726",0,0,"23,765,094",0
6,202506,20250610,2025-06-17 00:53:59,0,"27,664,380",0,0,"23,789,845",0
7,202506,20250609,2025-06-17 00:53:59,0,"27,680,207",0,0,"23,803,763",0
8,202506,20250608,2025-06-17 00:53:59,0,"27,711,932",0,0,"19,830,123",0
9,202506,20250607,2025-06-17 00:53:59,0,"23,106,288",0,0,"19,860,221",0
10,202506,20250606,2025-06-17 00:53:59,0,"23,199,043",0,0,"19,888,701",0
11,202506,20250605,2025-06-17 00:53:59,0,"23,297,304",0,0,"19,924,299",0
12,202506,20250604,2025-06-17 00:53:59,0,"23,400,385",0,0,"19,969,790",0
13,202506,20250603,2025-06-17 00:53:59,0,"23,557,014",0,0,"20,032,338",0
14,202506,20250602,2025-06-17 00:53:59,0,"23,711,428",0,0,"20,082,815",0
15,202506,20250601,2025-06-17 00:53:59,0,"23,717,576",0,0,"20,099,208",0
16,202505,20250531,2025-06-17 00:53:59,0,"23,721,160",0,0,"20,108,592",0
17,202505,20250530,2025-06-17 00:53:59,0,"23,716,489",0,0,"20,112,981",0
18,202505,20250529,2025-06-17 00:53:59,0,"23,712,148",0,0,"20,124,859",0
19,202505,20250528,2025-06-17 00:53:59,0,"23,718,226",0,0,"20,135,704",0
20,202505,20250527,2025-06-17 00:53:59,0,"23,723,196",0,0,"20,140,523",0
21,202505,20250526,2025-06-17 00:53:59,0,"23,729,741",0,0,"20,145,886",0
22,202505,20250525,2025-06-17 00:53:59,0,"23,749,838",0,0,"20,149,647",0
23,202505,20250524,2025-06-17 00:53:59,0,"23,762,082",0,0,"20,161,381",0
24,202505,20250523,2025-06-17 00:53:59,0,"23,770,778",0,0,"20,172,771",0
25,202505,20250522,2025-06-17 00:53:59,0,"23,778,133",0,0,"20,185,175",0
26,202505,20250521,2025-06-17 00:53:59,0,"23,797,317",0,0,"20,195,830",0
27,202505,20250520,2025-06-17 00:53:59,0,"23,842,260",0,0,"20,208,025",0
28,202505,20250519,2025-06-17 00:53:59,0,"23,842,260",0,0,"20,222,856",0
29,202505,20250518,2025-06-17 00:53:59,0,"23,835,575",0,0,"20,228,203",0
30,202505,20250517,2025-06-17 00:53:59,0,"23,828,945",0,0,"20,229,360",0
31,202505,20250516,2025-06-17 00:53:59,0,"23,822,360",0,0,"20,229,338",0
32,202505,20250515,2025-06-17 00:53:59,0,"23,811,874",0,0,"20,229,018",0
33,202505,20250514,2025-06-17 00:53:59,0,"23,755,801",0,0,"20,220,905",0
34,202505,20250513,2025-06-17 00:53:59,0,"23,755,801",0,0,"20,232,317",0
35,202505,20250512,2025-06-17 00:53:59,0,"23,755,801",0,0,"20,240,338",0
36,202505,20250511,2025-06-17 00:53:59,0,"23,755,801",0,0,"20,255,191",0
37,202505,20250510,2025-06-17 00:53:59,0,"23,755,801",0,0,"20,260,930",0
38,202505,20250509,2025-06-17 00:53:59,0,"23,755,801",0,0,"20,262,293",0
39,202505,20250508,2025-06-17 00:53:59,0,"23,755,801",0,0,"20,262,930",0
40,202505,20250507,2025-06-17 00:53:59,0,"23,750,648",0,0,"20,270,763",0
41,202505,20250506,2025-06-17 00:53:59,0,"23,744,060",0,0,"20,274,466",0
42,202505,20250505,2025-06-17 00:53:59,0,"23,741,794",0,0,"20,282,549",0
43,202505,20250504,2025-06-17 00:53:59,0,"23,741,610",0,0,"20,292,540",0
44,202505,20250503,2025-06-17 00:53:59,0,"23,742,228",0,0,"20,299,127",0
45,202505,20250502,2025-06-17 00:53:59,0,"23,737,683",0,0,"20,301,485",0
46,202505,20250501,2025-06-17 00:53:59,0,"23,726,948",0,0,"20,304,359",0

## Postpaid B2C by Period

In [10]:
''' Postpaid B2C : SubBase Yearly '''

v_metric_list = [
	'B2S010602' #Postpaid SubBase B2C
    , 'TB2S010602' #Postpaid SubBase B2C : TMH
	, 'DB2S010602' #Postpaid SubBase B2C : DTAC

	, 'B2S010601' #Postpaid 60DPD B2C
    , 'TB2S010601' #Postpaid 60DPD B2C : TMH
	, 'DB2S010601' #Postpaid 60DPD B2C : DTAC

	, 'B2S010603' #Postpaid Gain/Loss 60DPD B2C
    , 'TB2S010603' #Postpaid Gain/Loss 60DPD B2C : TMH
	, 'DB2S010603' #Postpaid Gain/Loss 60DPD B2C : DTAC

	, 'B2S010600' #Postpaid Reported SubBase B2C
    , 'TB2S010600' #Postpaid Reported SubBase B2C : TMH
	, 'DB2S010600' #Postpaid Reported SubBase B2C : DTAC
    ]

post_b2c_sub_yearly_df = chk_src_df.loc[chk_src_df['TM_KEY_DAY']==chk_src_df.groupby(['TM_KEY_YR', 'METRIC_CD'])['ACTUAL_AS_OF'].transform('max')].copy() # ACTUAL_AGG_YR
post_b2c_sub_yearly_df = post_b2c_sub_yearly_df[['TM_KEY_YR', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']]
post_b2c_sub_yearly_df = post_b2c_sub_yearly_df.loc[post_b2c_sub_yearly_df['METRIC_CD'].isin(v_metric_list)]

post_b2c_sub_yearly_df['POST_SB_B2C'] = np.where(post_b2c_sub_yearly_df['METRIC_CD']=='B2S010602', post_b2c_sub_yearly_df['P'], 0)
post_b2c_sub_yearly_df['POST_SB_B2C_T'] = np.where(post_b2c_sub_yearly_df['METRIC_CD']=='TB2S010602', post_b2c_sub_yearly_df['P'], 0)
post_b2c_sub_yearly_df['POST_SB_B2C_D'] = np.where(post_b2c_sub_yearly_df['METRIC_CD']=='DB2S010602', post_b2c_sub_yearly_df['P'], 0)

post_b2c_sub_yearly_df['POST_60DPD_B2C'] = np.where(post_b2c_sub_yearly_df['METRIC_CD']=='B2S010601', post_b2c_sub_yearly_df['P'], 0)
post_b2c_sub_yearly_df['POST_60DPD_B2C_T'] = np.where(post_b2c_sub_yearly_df['METRIC_CD']=='TB2S010601', post_b2c_sub_yearly_df['P'], 0)
post_b2c_sub_yearly_df['POST_60DPD_B2C_D'] = np.where(post_b2c_sub_yearly_df['METRIC_CD']=='DB2S010601', post_b2c_sub_yearly_df['P'], 0)

# post_b2c_sub_yearly_df['POST_GL_60DPD_B2C'] = np.where(post_b2c_sub_yearly_df['METRIC_CD']=='B2S010603', post_b2c_sub_yearly_df['P'], 0)
# post_b2c_sub_yearly_df['POST_GL_60DPD_B2C_T'] = np.where(post_b2c_sub_yearly_df['METRIC_CD']=='TB2S010603', post_b2c_sub_yearly_df['P'], 0)
# post_b2c_sub_yearly_df['POST_GL_60DPD_B2C_D'] = np.where(post_b2c_sub_yearly_df['METRIC_CD']=='DB2S010603', post_b2c_sub_yearly_df['P'], 0)

post_b2c_sub_yearly_df['POST_RPT_SB_B2C'] = np.where(post_b2c_sub_yearly_df['METRIC_CD']=='B2S010600', post_b2c_sub_yearly_df['P'], 0)
post_b2c_sub_yearly_df['POST_RPT_SB_B2C_T'] = np.where(post_b2c_sub_yearly_df['METRIC_CD']=='TB2S010600', post_b2c_sub_yearly_df['P'], 0)
post_b2c_sub_yearly_df['POST_RPT_SB_B2C_D'] = np.where(post_b2c_sub_yearly_df['METRIC_CD']=='DB2S010600', post_b2c_sub_yearly_df['P'], 0)

post_b2c_sub_yearly_df = post_b2c_sub_yearly_df.groupby('TM_KEY_YR').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max'
                                                        , 'POST_SB_B2C':'sum', 'POST_SB_B2C_T':'sum', 'POST_SB_B2C_D':'sum'
                                                        , 'POST_60DPD_B2C':'sum', 'POST_60DPD_B2C_T':'sum', 'POST_60DPD_B2C_D':'sum'
                                                        # , 'POST_GL_60DPD_B2C':'sum', 'POST_GL_60DPD_B2C_T':'sum', 'POST_GL_60DPD_B2C_D':'sum'
                                                        , 'POST_RPT_SB_B2C':'sum', 'POST_RPT_SB_B2C_T':'sum', 'POST_RPT_SB_B2C_D':'sum'})
post_b2c_sub_yearly_df = post_b2c_sub_yearly_df.fillna(0).sort_values(by=['TM_KEY_YR']).reset_index()
post_b2c_sub_yearly_df = post_b2c_sub_yearly_df[['TM_KEY_YR', 'PPN_TM', 'ACTUAL_AS_OF'
                               , 'POST_SB_B2C', 'POST_SB_B2C_T', 'POST_SB_B2C_D'
                               , 'POST_60DPD_B2C', 'POST_60DPD_B2C_T', 'POST_60DPD_B2C_D'
                            #    , 'POST_GL_60DPD_B2C', 'POST_GL_60DPD_B2C_T', 'POST_GL_60DPD_B2C_D'
                               , 'POST_RPT_SB_B2C', 'POST_RPT_SB_B2C_T', 'POST_RPT_SB_B2C_D']]

post_b2c_sub_yearly_df_display = post_b2c_sub_yearly_df.copy()
post_b2c_sub_yearly_df_display['ACTUAL_AS_OF'] = post_b2c_sub_yearly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = post_b2c_sub_yearly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    post_b2c_sub_yearly_df_display[col] = post_b2c_sub_yearly_df_display[col].apply(lambda x: format(x, ',.0f'))
post_b2c_sub_yearly_df_display

,TM_KEY_YR,PPN_TM,ACTUAL_AS_OF,POST_SB_B2C,POST_SB_B2C_T,POST_SB_B2C_D,POST_60DPD_B2C,POST_60DPD_B2C_T,POST_60DPD_B2C_D,POST_RPT_SB_B2C,POST_RPT_SB_B2C_T,POST_RPT_SB_B2C_D
0,2024,2025-06-17 00:53:59,20241231,"14,287,442","9,102,725","5,184,717","208,886","80,142","128,744","14,158,698","9,102,725","5,055,973"
1,2025,2025-06-17 00:53:59,20250615,"14,275,062","9,192,892","5,082,170","229,399","102,463","126,936","14,052,198","9,090,429","4,954,373"

In [11]:
''' Postpaid B2C : SubBase Quarterly '''

v_metric_list = [
	'B2S010602' #Postpaid SubBase B2C
    , 'TB2S010602' #Postpaid SubBase B2C : TMH
	, 'DB2S010602' #Postpaid SubBase B2C : DTAC

	, 'B2S010601' #Postpaid 60DPD B2C
    , 'TB2S010601' #Postpaid 60DPD B2C : TMH
	, 'DB2S010601' #Postpaid 60DPD B2C : DTAC

	, 'B2S010603' #Postpaid Gain/Loss 60DPD B2C
    , 'TB2S010603' #Postpaid Gain/Loss 60DPD B2C : TMH
	, 'DB2S010603' #Postpaid Gain/Loss 60DPD B2C : DTAC

	, 'B2S010600' #Postpaid Reported SubBase B2C
    , 'TB2S010600' #Postpaid Reported SubBase B2C : TMH
	, 'DB2S010600' #Postpaid Reported SubBase B2C : DTAC
    ]

post_b2c_sub_quarterly_df = chk_src_df.loc[chk_src_df['TM_KEY_DAY']==chk_src_df.groupby(['TM_KEY_QTR', 'METRIC_CD'])['ACTUAL_AS_OF'].transform('max')].copy() # ACTUAL_AGG_QTR
post_b2c_sub_quarterly_df = post_b2c_sub_quarterly_df[['TM_KEY_QTR', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']]
post_b2c_sub_quarterly_df = post_b2c_sub_quarterly_df.loc[post_b2c_sub_quarterly_df['METRIC_CD'].isin(v_metric_list)]

post_b2c_sub_quarterly_df['POST_SB_B2C'] = np.where(post_b2c_sub_quarterly_df['METRIC_CD']=='B2S010602', post_b2c_sub_quarterly_df['P'], 0)
post_b2c_sub_quarterly_df['POST_SB_B2C_T'] = np.where(post_b2c_sub_quarterly_df['METRIC_CD']=='TB2S010602', post_b2c_sub_quarterly_df['P'], 0)
post_b2c_sub_quarterly_df['POST_SB_B2C_D'] = np.where(post_b2c_sub_quarterly_df['METRIC_CD']=='DB2S010602', post_b2c_sub_quarterly_df['P'], 0)

post_b2c_sub_quarterly_df['POST_60DPD_B2C'] = np.where(post_b2c_sub_quarterly_df['METRIC_CD']=='B2S010601', post_b2c_sub_quarterly_df['P'], 0)
post_b2c_sub_quarterly_df['POST_60DPD_B2C_T'] = np.where(post_b2c_sub_quarterly_df['METRIC_CD']=='TB2S010601', post_b2c_sub_quarterly_df['P'], 0)
post_b2c_sub_quarterly_df['POST_60DPD_B2C_D'] = np.where(post_b2c_sub_quarterly_df['METRIC_CD']=='DB2S010601', post_b2c_sub_quarterly_df['P'], 0)

# post_b2c_sub_quarterly_df['POST_GL_60DPD_B2C'] = np.where(post_b2c_sub_quarterly_df['METRIC_CD']=='B2S010603', post_b2c_sub_quarterly_df['P'], 0)
# post_b2c_sub_quarterly_df['POST_GL_60DPD_B2C_T'] = np.where(post_b2c_sub_quarterly_df['METRIC_CD']=='TB2S010603', post_b2c_sub_quarterly_df['P'], 0)
# post_b2c_sub_quarterly_df['POST_GL_60DPD_B2C_D'] = np.where(post_b2c_sub_quarterly_df['METRIC_CD']=='DB2S010603', post_b2c_sub_quarterly_df['P'], 0)

post_b2c_sub_quarterly_df['POST_RPT_SB_B2C'] = np.where(post_b2c_sub_quarterly_df['METRIC_CD']=='B2S010600', post_b2c_sub_quarterly_df['P'], 0)
post_b2c_sub_quarterly_df['POST_RPT_SB_B2C_T'] = np.where(post_b2c_sub_quarterly_df['METRIC_CD']=='TB2S010600', post_b2c_sub_quarterly_df['P'], 0)
post_b2c_sub_quarterly_df['POST_RPT_SB_B2C_D'] = np.where(post_b2c_sub_quarterly_df['METRIC_CD']=='DB2S010600', post_b2c_sub_quarterly_df['P'], 0)

post_b2c_sub_quarterly_df = post_b2c_sub_quarterly_df.groupby('TM_KEY_QTR').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max'
                                                        , 'POST_SB_B2C':'sum', 'POST_SB_B2C_T':'sum', 'POST_SB_B2C_D':'sum'
                                                        , 'POST_60DPD_B2C':'sum', 'POST_60DPD_B2C_T':'sum', 'POST_60DPD_B2C_D':'sum'
                                                        # , 'POST_GL_60DPD_B2C':'sum', 'POST_GL_60DPD_B2C_T':'sum', 'POST_GL_60DPD_B2C_D':'sum'
                                                        , 'POST_RPT_SB_B2C':'sum', 'POST_RPT_SB_B2C_T':'sum', 'POST_RPT_SB_B2C_D':'sum'})
post_b2c_sub_quarterly_df = post_b2c_sub_quarterly_df.fillna(0).sort_values(by=['TM_KEY_QTR']).reset_index()
post_b2c_sub_quarterly_df = post_b2c_sub_quarterly_df[['TM_KEY_QTR', 'PPN_TM', 'ACTUAL_AS_OF'
                               , 'POST_SB_B2C', 'POST_SB_B2C_T', 'POST_SB_B2C_D'
                               , 'POST_60DPD_B2C', 'POST_60DPD_B2C_T', 'POST_60DPD_B2C_D'
                            #    , 'POST_GL_60DPD_B2C', 'POST_GL_60DPD_B2C_T', 'POST_GL_60DPD_B2C_D'
                               , 'POST_RPT_SB_B2C', 'POST_RPT_SB_B2C_T', 'POST_RPT_SB_B2C_D']]

post_b2c_sub_quarterly_df_display = post_b2c_sub_quarterly_df.copy()
post_b2c_sub_quarterly_df_display['ACTUAL_AS_OF'] = post_b2c_sub_quarterly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = post_b2c_sub_quarterly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    post_b2c_sub_quarterly_df_display[col] = post_b2c_sub_quarterly_df_display[col].apply(lambda x: format(x, ',.0f'))
post_b2c_sub_quarterly_df_display

,TM_KEY_QTR,PPN_TM,ACTUAL_AS_OF,POST_SB_B2C,POST_SB_B2C_T,POST_SB_B2C_D,POST_60DPD_B2C,POST_60DPD_B2C_T,POST_60DPD_B2C_D,POST_RPT_SB_B2C,POST_RPT_SB_B2C_T,POST_RPT_SB_B2C_D
0,20241,2025-06-17 00:53:59,20240331,0,"8,994,853",0,0,"79,598",0,0,"8,994,853",0
1,20242,2025-06-17 00:53:59,20240630,"14,391,657","9,042,184","5,349,473","247,217","81,727","165,490","14,226,167","9,042,184","5,183,983"
2,20243,2025-06-17 00:53:59,20240930,"14,338,027","9,068,470","5,269,557","237,190","85,778","151,412","14,186,615","9,068,470","5,118,145"
3,20244,2025-06-17 00:53:59,20241231,"14,287,442","9,102,725","5,184,717","208,886","80,142","128,744","14,158,698","9,102,725","5,055,973"
4,20251,2025-06-17 00:53:59,20250331,"14,288,650","9,170,605","5,118,045","203,838","83,785","120,053","14,084,812","9,086,820","4,997,992"
5,20252,2025-06-17 00:53:59,20250615,"14,275,062","9,192,892","5,082,170","229,399","102,463","126,936","14,052,198","9,090,429","4,954,373"

In [12]:
''' Postpaid B2C : SubBase Monthly '''

# v_tm_key_yr = curr_yr
v_tm_key_yr = prev_yr

v_metric_list = [
	'B2S010602' #Postpaid SubBase B2C
    , 'TB2S010602' #Postpaid SubBase B2C : TMH
	, 'DB2S010602' #Postpaid SubBase B2C : DTAC

	, 'B2S010601' #Postpaid 60DPD B2C
    , 'TB2S010601' #Postpaid 60DPD B2C : TMH
	, 'DB2S010601' #Postpaid 60DPD B2C : DTAC

	, 'B2S010603' #Postpaid Gain/Loss 60DPD B2C
    , 'TB2S010603' #Postpaid Gain/Loss 60DPD B2C : TMH
	, 'DB2S010603' #Postpaid Gain/Loss 60DPD B2C : DTAC

	, 'B2S010600' #Postpaid Reported SubBase B2C
    , 'TB2S010600' #Postpaid Reported SubBase B2C : TMH
	, 'DB2S010600' #Postpaid Reported SubBase B2C : DTAC
    ]

post_b2c_sub_monthly_df = chk_src_df.loc[chk_src_df['TM_KEY_DAY']==chk_src_df.groupby(['TM_KEY_MTH', 'METRIC_CD'])['ACTUAL_AS_OF'].transform('max')].copy() # ACTUAL_AGG_MTH
post_b2c_sub_monthly_df = post_b2c_sub_monthly_df[['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']].loc[chk_src_df['TM_KEY_YR']>=v_tm_key_yr]
post_b2c_sub_monthly_df = post_b2c_sub_monthly_df.loc[post_b2c_sub_monthly_df['METRIC_CD'].isin(v_metric_list)]

post_b2c_sub_monthly_df['POST_SB_B2C'] = np.where(post_b2c_sub_monthly_df['METRIC_CD']=='B2S010602', post_b2c_sub_monthly_df['P'], 0)
post_b2c_sub_monthly_df['POST_SB_B2C_T'] = np.where(post_b2c_sub_monthly_df['METRIC_CD']=='TB2S010602', post_b2c_sub_monthly_df['P'], 0)
post_b2c_sub_monthly_df['POST_SB_B2C_D'] = np.where(post_b2c_sub_monthly_df['METRIC_CD']=='DB2S010602', post_b2c_sub_monthly_df['P'], 0)

post_b2c_sub_monthly_df['POST_60DPD_B2C'] = np.where(post_b2c_sub_monthly_df['METRIC_CD']=='B2S010601', post_b2c_sub_monthly_df['P'], 0)
post_b2c_sub_monthly_df['POST_60DPD_B2C_T'] = np.where(post_b2c_sub_monthly_df['METRIC_CD']=='TB2S010601', post_b2c_sub_monthly_df['P'], 0)
post_b2c_sub_monthly_df['POST_60DPD_B2C_D'] = np.where(post_b2c_sub_monthly_df['METRIC_CD']=='DB2S010601', post_b2c_sub_monthly_df['P'], 0)

# post_b2c_sub_monthly_df['POST_GL_60DPD_B2C'] = np.where(post_b2c_sub_monthly_df['METRIC_CD']=='B2S010603', post_b2c_sub_monthly_df['P'], 0)
# post_b2c_sub_monthly_df['POST_GL_60DPD_B2C_T'] = np.where(post_b2c_sub_monthly_df['METRIC_CD']=='TB2S010603', post_b2c_sub_monthly_df['P'], 0)
# post_b2c_sub_monthly_df['POST_GL_60DPD_B2C_D'] = np.where(post_b2c_sub_monthly_df['METRIC_CD']=='DB2S010603', post_b2c_sub_monthly_df['P'], 0)

post_b2c_sub_monthly_df['POST_RPT_SB_B2C'] = np.where(post_b2c_sub_monthly_df['METRIC_CD']=='B2S010600', post_b2c_sub_monthly_df['P'], 0)
post_b2c_sub_monthly_df['POST_RPT_SB_B2C_T'] = np.where(post_b2c_sub_monthly_df['METRIC_CD']=='TB2S010600', post_b2c_sub_monthly_df['P'], 0)
post_b2c_sub_monthly_df['POST_RPT_SB_B2C_D'] = np.where(post_b2c_sub_monthly_df['METRIC_CD']=='DB2S010600', post_b2c_sub_monthly_df['P'], 0)

post_b2c_sub_monthly_df = post_b2c_sub_monthly_df.groupby('TM_KEY_MTH').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max'
                                                        , 'POST_SB_B2C':'sum', 'POST_SB_B2C_T':'sum', 'POST_SB_B2C_D':'sum'
                                                        , 'POST_60DPD_B2C':'sum', 'POST_60DPD_B2C_T':'sum', 'POST_60DPD_B2C_D':'sum'
                                                        # , 'POST_GL_60DPD_B2C':'sum', 'POST_GL_60DPD_B2C_T':'sum', 'POST_GL_60DPD_B2C_D':'sum'
                                                        , 'POST_RPT_SB_B2C':'sum', 'POST_RPT_SB_B2C_T':'sum', 'POST_RPT_SB_B2C_D':'sum'})
post_b2c_sub_monthly_df = post_b2c_sub_monthly_df.fillna(0).sort_values(by=['TM_KEY_MTH']).reset_index()
post_b2c_sub_monthly_df = post_b2c_sub_monthly_df[['TM_KEY_MTH', 'PPN_TM', 'ACTUAL_AS_OF'
                               , 'POST_SB_B2C', 'POST_SB_B2C_T', 'POST_SB_B2C_D'
                               , 'POST_60DPD_B2C', 'POST_60DPD_B2C_T', 'POST_60DPD_B2C_D'
                            #    , 'POST_GL_60DPD_B2C', 'POST_GL_60DPD_B2C_T', 'POST_GL_60DPD_B2C_D'
                               , 'POST_RPT_SB_B2C', 'POST_RPT_SB_B2C_T', 'POST_RPT_SB_B2C_D']]

post_b2c_sub_monthly_df_display = post_b2c_sub_monthly_df.copy()
post_b2c_sub_monthly_df_display['ACTUAL_AS_OF'] = post_b2c_sub_monthly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = post_b2c_sub_monthly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    post_b2c_sub_monthly_df_display[col] = post_b2c_sub_monthly_df_display[col].apply(lambda x: format(x, ',.0f'))
post_b2c_sub_monthly_df_display

,TM_KEY_MTH,PPN_TM,ACTUAL_AS_OF,POST_SB_B2C,POST_SB_B2C_T,POST_SB_B2C_D,POST_60DPD_B2C,POST_60DPD_B2C_T,POST_60DPD_B2C_D,POST_RPT_SB_B2C,POST_RPT_SB_B2C_T,POST_RPT_SB_B2C_D
0,202401,2025-06-17 00:53:59,20240131,0,0,0,0,0,0,0,0,0
1,202402,2025-06-17 00:53:59,20240229,0,"8,998,482",0,0,"98,379",0,0,"8,998,482",0
2,202403,2025-06-17 00:53:59,20240331,0,"8,994,853",0,0,"79,598",0,0,"8,994,853",0
3,202404,2025-06-17 00:53:59,20240430,0,"8,996,646",0,0,"74,373",0,0,"8,996,646",0
4,202405,2025-06-17 00:53:59,20240531,"14,395,841","9,023,324","5,372,517","248,015","76,251","171,764",0,"9,023,324",0
5,202406,2025-06-17 00:53:59,20240630,"14,391,657","9,042,184","5,349,473","247,217","81,727","165,490","14,226,167","9,042,184","5,183,983"
6,202407,2025-06-17 00:53:59,20240731,"14,372,506","9,052,569","5,319,937","247,415","83,942","163,473","14,209,033","9,052,569","5,156,464"
7,202408,2025-06-17 00:53:59,20240831,"14,353,346","9,061,002","5,292,344","248,968","86,053","162,915","14,190,431","9,061,002","5,129,429"
8,202409,2025-06-17 00:53:59,20240930,"14,338,027","9,068,470","5,269,557","237,190","85,778","151,412","14,186,615","9,068,470","5,118,145"
9,202410,2025-06-17 00:53:59,20241031,"14,321,392","9,080,143","5,241,249","227,616","85,630","141,986","14,179,406","9,080,143","5,099,263"
10,202411,2025-06-17 00:53:59,20241130,"14,293,575","9,088,656","5,204,919","219,822","86,769","133,053","14,160,522","9,088,656","5,071,866"
11,202412,2025-06-17 00:53:59,20241231,"14,287,442","9,102,725","5,184,717","208,886","80,142","128,744","14,158,698","9,102,725","5,055,973"
12,202501,2025-06-17 00:53:59,20250131,"14,274,718","9,113,093","5,161,625","205,498","77,812","127,686","14,069,220","9,035,281","5,033,939"
13,202502,2025-06-17 00:53:59,20250228,"14,273,218","9,134,551","5,138,667","204,263","79,516","124,747","14,068,955","9,055,035","5,013,920"
14,202503,2025-06-17 00:53:59,20250331,"14,288,650","9,170,605","5,118,045","203,838","83,785","120,053","14,084,812","9,086,820","4,997,992"
15,202504,2025-06-17 00:53:59,20250430,"14,301,830","9,194,502","5,107,328","200,984","82,035","118,949","14,100,846","9,112,467","4,988,379"
16,202505,2025-06-17 00:53:59,20250531,"14,286,490","9,194,703","5,091,787","216,786","91,079","125,707","14,069,704","9,103,624","4,966,080"
17,202506,2025-06-17 00:53:59,20250615,"14,275,062","9,192,892","5,082,170","229,399","102,463","126,936","14,052,198","9,090,429","4,954,373"

In [13]:
''' Postpaid B2C : SubBase Weekly '''

# v_tm_key_mth = curr_mth
v_tm_key_mth = prev_mth

v_metric_list = [
	'B2S010602' #Postpaid SubBase B2C
    , 'TB2S010602' #Postpaid SubBase B2C : TMH
	, 'DB2S010602' #Postpaid SubBase B2C : DTAC

	, 'B2S010601' #Postpaid 60DPD B2C
    , 'TB2S010601' #Postpaid 60DPD B2C : TMH
	, 'DB2S010601' #Postpaid 60DPD B2C : DTAC

	, 'B2S010603' #Postpaid Gain/Loss 60DPD B2C
    , 'TB2S010603' #Postpaid Gain/Loss 60DPD B2C : TMH
	, 'DB2S010603' #Postpaid Gain/Loss 60DPD B2C : DTAC

	, 'B2S010600' #Postpaid Reported SubBase B2C
    , 'TB2S010600' #Postpaid Reported SubBase B2C : TMH
	, 'DB2S010600' #Postpaid Reported SubBase B2C : DTAC
    ]

post_b2c_sub_weekly_df = chk_src_df.loc[chk_src_df['TM_KEY_DAY']==chk_src_df.groupby(['TM_KEY_WK', 'METRIC_CD'])['ACTUAL_AS_OF'].transform('max')].copy() # ACTUAL_AGG_WK
post_b2c_sub_weekly_df = post_b2c_sub_weekly_df[['TM_KEY_WK', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']].loc[chk_src_df['TM_KEY_MTH']>=v_tm_key_mth]
post_b2c_sub_weekly_df = post_b2c_sub_weekly_df.loc[post_b2c_sub_weekly_df['METRIC_CD'].isin(v_metric_list)]

post_b2c_sub_weekly_df['POST_SB_B2C'] = np.where(post_b2c_sub_weekly_df['METRIC_CD']=='B2S010602', post_b2c_sub_weekly_df['P'], 0)
post_b2c_sub_weekly_df['POST_SB_B2C_T'] = np.where(post_b2c_sub_weekly_df['METRIC_CD']=='TB2S010602', post_b2c_sub_weekly_df['P'], 0)
post_b2c_sub_weekly_df['POST_SB_B2C_D'] = np.where(post_b2c_sub_weekly_df['METRIC_CD']=='DB2S010602', post_b2c_sub_weekly_df['P'], 0)

post_b2c_sub_weekly_df['POST_60DPD_B2C'] = np.where(post_b2c_sub_weekly_df['METRIC_CD']=='B2S010601', post_b2c_sub_weekly_df['P'], 0)
post_b2c_sub_weekly_df['POST_60DPD_B2C_T'] = np.where(post_b2c_sub_weekly_df['METRIC_CD']=='TB2S010601', post_b2c_sub_weekly_df['P'], 0)
post_b2c_sub_weekly_df['POST_60DPD_B2C_D'] = np.where(post_b2c_sub_weekly_df['METRIC_CD']=='DB2S010601', post_b2c_sub_weekly_df['P'], 0)

# post_b2c_sub_weekly_df['POST_GL_60DPD_B2C'] = np.where(post_b2c_sub_weekly_df['METRIC_CD']=='B2S010603', post_b2c_sub_weekly_df['P'], 0)
# post_b2c_sub_weekly_df['POST_GL_60DPD_B2C_T'] = np.where(post_b2c_sub_weekly_df['METRIC_CD']=='TB2S010603', post_b2c_sub_weekly_df['P'], 0)
# post_b2c_sub_weekly_df['POST_GL_60DPD_B2C_D'] = np.where(post_b2c_sub_weekly_df['METRIC_CD']=='DB2S010603', post_b2c_sub_weekly_df['P'], 0)

post_b2c_sub_weekly_df['POST_RPT_SB_B2C'] = np.where(post_b2c_sub_weekly_df['METRIC_CD']=='B2S010600', post_b2c_sub_weekly_df['P'], 0)
post_b2c_sub_weekly_df['POST_RPT_SB_B2C_T'] = np.where(post_b2c_sub_weekly_df['METRIC_CD']=='TB2S010600', post_b2c_sub_weekly_df['P'], 0)
post_b2c_sub_weekly_df['POST_RPT_SB_B2C_D'] = np.where(post_b2c_sub_weekly_df['METRIC_CD']=='DB2S010600', post_b2c_sub_weekly_df['P'], 0)

post_b2c_sub_weekly_df = post_b2c_sub_weekly_df.groupby('TM_KEY_WK').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max'
                                                        , 'POST_SB_B2C':'sum', 'POST_SB_B2C_T':'sum', 'POST_SB_B2C_D':'sum'
                                                        , 'POST_60DPD_B2C':'sum', 'POST_60DPD_B2C_T':'sum', 'POST_60DPD_B2C_D':'sum'
                                                        # , 'POST_GL_60DPD_B2C':'sum', 'POST_GL_60DPD_B2C_T':'sum', 'POST_GL_60DPD_B2C_D':'sum'
                                                        , 'POST_RPT_SB_B2C':'sum', 'POST_RPT_SB_B2C_T':'sum', 'POST_RPT_SB_B2C_D':'sum'})
post_b2c_sub_weekly_df = post_b2c_sub_weekly_df.fillna(0).sort_values(by=['TM_KEY_WK']).reset_index()
post_b2c_sub_weekly_df = post_b2c_sub_weekly_df[['TM_KEY_WK', 'PPN_TM', 'ACTUAL_AS_OF'
                               , 'POST_SB_B2C', 'POST_SB_B2C_T', 'POST_SB_B2C_D'
                               , 'POST_60DPD_B2C', 'POST_60DPD_B2C_T', 'POST_60DPD_B2C_D'
                            #    , 'POST_GL_60DPD_B2C', 'POST_GL_60DPD_B2C_T', 'POST_GL_60DPD_B2C_D'
                               , 'POST_RPT_SB_B2C', 'POST_RPT_SB_B2C_T', 'POST_RPT_SB_B2C_D']]

post_b2c_sub_weekly_df_display = post_b2c_sub_weekly_df.copy()
post_b2c_sub_weekly_df_display['ACTUAL_AS_OF'] = post_b2c_sub_weekly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = post_b2c_sub_weekly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    post_b2c_sub_weekly_df_display[col] = post_b2c_sub_weekly_df_display[col].apply(lambda x: format(x, ',.0f'))
post_b2c_sub_weekly_df_display

,TM_KEY_WK,PPN_TM,ACTUAL_AS_OF,POST_SB_B2C,POST_SB_B2C_T,POST_SB_B2C_D,POST_60DPD_B2C,POST_60DPD_B2C_T,POST_60DPD_B2C_D,POST_RPT_SB_B2C,POST_RPT_SB_B2C_T,POST_RPT_SB_B2C_D
0,2025018,2025-06-17 00:53:59,20250504,"14,301,571","9,194,975","5,106,596","204,179","84,668","119,511","14,097,392","9,110,307","4,987,085"
1,2025019,2025-06-17 00:53:59,20250511,"14,300,907","9,200,984","5,099,923","203,701","85,091","118,610","14,097,206","9,115,893","4,981,313"
2,2025020,2025-06-17 00:53:59,20250518,"14,300,979","9,202,580","5,098,399","220,602","96,885","123,717","14,080,377","9,105,695","4,974,682"
3,2025021,2025-06-17 00:53:59,20250525,"14,296,786","9,203,124","5,093,662","228,696","100,664","128,032","14,068,090","9,102,460","4,965,630"
4,2025022,2025-06-17 00:53:59,20250601,"14,286,856","9,194,914","5,091,942","213,137","88,412","124,725","14,073,719","9,106,502","4,967,217"
5,2025023,2025-06-17 00:53:59,20250608,"14,278,770","9,192,130","5,086,640","214,013","89,461","124,552","14,064,757","9,102,669","4,962,088"
6,2025024,2025-06-17 00:53:59,20250615,"14,275,062","9,192,892","5,082,170","229,399","102,463","126,936","14,052,198","9,090,429","4,954,373"

In [14]:
''' Postpaid B2C : SubBase Daily '''

# v_tm_key_mth = curr_mth
v_tm_key_mth = prev_mth

v_metric_list = [
	'B2S010602' #Postpaid SubBase B2C
    , 'TB2S010602' #Postpaid SubBase B2C : TMH
	, 'DB2S010602' #Postpaid SubBase B2C : DTAC

	, 'B2S010601' #Postpaid 60DPD B2C
    , 'TB2S010601' #Postpaid 60DPD B2C : TMH
	, 'DB2S010601' #Postpaid 60DPD B2C : DTAC

	, 'B2S010603' #Postpaid Gain/Loss 60DPD B2C
    , 'TB2S010603' #Postpaid Gain/Loss 60DPD B2C : TMH
	, 'DB2S010603' #Postpaid Gain/Loss 60DPD B2C : DTAC

	, 'B2S010600' #Postpaid Reported SubBase B2C
    , 'TB2S010600' #Postpaid Reported SubBase B2C : TMH
	, 'DB2S010600' #Postpaid Reported SubBase B2C : DTAC
    ]

post_b2c_sub_daily_df = chk_src_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P']].loc[chk_src_df['TM_KEY_MTH']>=v_tm_key_mth]
post_b2c_sub_daily_df = post_b2c_sub_daily_df.loc[post_b2c_sub_daily_df['METRIC_CD'].isin(v_metric_list)]

post_b2c_sub_daily_df['POST_SB_B2C'] = np.where(post_b2c_sub_daily_df['METRIC_CD']=='B2S010602', post_b2c_sub_daily_df['P'], 0)
post_b2c_sub_daily_df['POST_SB_B2C_T'] = np.where(post_b2c_sub_daily_df['METRIC_CD']=='TB2S010602', post_b2c_sub_daily_df['P'], 0)
post_b2c_sub_daily_df['POST_SB_B2C_D'] = np.where(post_b2c_sub_daily_df['METRIC_CD']=='DB2S010602', post_b2c_sub_daily_df['P'], 0)

post_b2c_sub_daily_df['POST_60DPD_B2C'] = np.where(post_b2c_sub_daily_df['METRIC_CD']=='B2S010601', post_b2c_sub_daily_df['P'], 0)
post_b2c_sub_daily_df['POST_60DPD_B2C_T'] = np.where(post_b2c_sub_daily_df['METRIC_CD']=='TB2S010601', post_b2c_sub_daily_df['P'], 0)
post_b2c_sub_daily_df['POST_60DPD_B2C_D'] = np.where(post_b2c_sub_daily_df['METRIC_CD']=='DB2S010601', post_b2c_sub_daily_df['P'], 0)

# post_b2c_sub_daily_df['POST_GL_60DPD_B2C'] = np.where(post_b2c_sub_daily_df['METRIC_CD']=='B2S010603', post_b2c_sub_daily_df['P'], 0)
# post_b2c_sub_daily_df['POST_GL_60DPD_B2C_T'] = np.where(post_b2c_sub_daily_df['METRIC_CD']=='TB2S010603', post_b2c_sub_daily_df['P'], 0)
# post_b2c_sub_daily_df['POST_GL_60DPD_B2C_D'] = np.where(post_b2c_sub_daily_df['METRIC_CD']=='DB2S010603', post_b2c_sub_daily_df['P'], 0)

post_b2c_sub_daily_df['POST_RPT_SB_B2C'] = np.where(post_b2c_sub_daily_df['METRIC_CD']=='B2S010600', post_b2c_sub_daily_df['P'], 0)
post_b2c_sub_daily_df['POST_RPT_SB_B2C_T'] = np.where(post_b2c_sub_daily_df['METRIC_CD']=='TB2S010600', post_b2c_sub_daily_df['P'], 0)
post_b2c_sub_daily_df['POST_RPT_SB_B2C_D'] = np.where(post_b2c_sub_daily_df['METRIC_CD']=='DB2S010600', post_b2c_sub_daily_df['P'], 0)

post_b2c_sub_daily_df = post_b2c_sub_daily_df.groupby(['TM_KEY_MTH', 'TM_KEY_DAY']).agg({'PPN_TM':'max'
                                                        , 'POST_SB_B2C':'sum', 'POST_SB_B2C_T':'sum', 'POST_SB_B2C_D':'sum'
                                                        , 'POST_60DPD_B2C':'sum', 'POST_60DPD_B2C_T':'sum', 'POST_60DPD_B2C_D':'sum'
                                                        # , 'POST_GL_60DPD_B2C':'sum', 'POST_GL_60DPD_B2C_T':'sum', 'POST_GL_60DPD_B2C_D':'sum'
                                                        , 'POST_RPT_SB_B2C':'sum', 'POST_RPT_SB_B2C_T':'sum', 'POST_RPT_SB_B2C_D':'sum'})
post_b2c_sub_daily_df = post_b2c_sub_daily_df.fillna(0).sort_values(by=['TM_KEY_DAY'], ascending=False).reset_index()
post_b2c_sub_daily_df = post_b2c_sub_daily_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PPN_TM'
                               , 'POST_SB_B2C', 'POST_SB_B2C_T', 'POST_SB_B2C_D'
                               , 'POST_60DPD_B2C', 'POST_60DPD_B2C_T', 'POST_60DPD_B2C_D'
                            #    , 'POST_GL_60DPD_B2C', 'POST_GL_60DPD_B2C_T', 'POST_GL_60DPD_B2C_D'
                               , 'POST_RPT_SB_B2C', 'POST_RPT_SB_B2C_T', 'POST_RPT_SB_B2C_D']]

post_b2c_sub_daily_df_display = post_b2c_sub_daily_df.copy()
mod_col_list = post_b2c_sub_daily_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    post_b2c_sub_daily_df_display[col] = post_b2c_sub_daily_df_display[col].apply(lambda x: format(x, ',.0f'))
post_b2c_sub_daily_df_display

,TM_KEY_MTH,TM_KEY_DAY,PPN_TM,POST_SB_B2C,POST_SB_B2C_T,POST_SB_B2C_D,POST_60DPD_B2C,POST_60DPD_B2C_T,POST_60DPD_B2C_D,POST_RPT_SB_B2C,POST_RPT_SB_B2C_T,POST_RPT_SB_B2C_D
0,202506,20250616,2025-06-17 00:53:59,0,0,0,0,0,0,0,0,0
1,202506,20250615,2025-06-17 00:53:59,"14,275,062","9,192,892","5,082,170","229,399","102,463","126,936",0,"9,090,429",0
2,202506,20250614,2025-06-17 00:53:59,"14,278,628","9,193,831","5,084,797","226,430","96,006","130,424","14,052,198","9,097,825","4,954,373"
3,202506,20250613,2025-06-17 00:53:59,"14,276,729","9,192,614","5,084,115","221,738","97,390","124,348","14,054,991","9,095,224","4,959,767"
4,202506,20250612,2025-06-17 00:53:59,"14,276,232","9,191,463","5,084,769","225,001","98,626","126,375","14,149,857","9,191,463","4,958,394"
5,202506,20250611,2025-06-17 00:53:59,"14,274,717","9,190,383","5,084,334","217,923","90,637","127,286","9,190,383","9,190,383",0
6,202506,20250610,2025-06-17 00:53:59,"14,274,212","9,189,289","5,084,923","221,258","91,883","129,375","14,052,954","9,097,406","4,955,548"
7,202506,20250609,2025-06-17 00:53:59,"14,277,732","9,191,612","5,086,120","218,388","95,707","122,681","14,059,344","9,095,905","4,963,439"
8,202506,20250608,2025-06-17 00:53:59,"14,278,770","9,192,130","5,086,640","214,013","89,461","124,552","14,064,757","9,102,669","4,962,088"
9,202506,20250607,2025-06-17 00:53:59,"14,279,395","9,192,281","5,087,114","218,350","92,446","125,904","14,061,045","9,099,835","4,961,210"
10,202506,20250606,2025-06-17 00:53:59,"14,278,463","9,192,157","5,086,306","221,374","94,787","126,587","14,057,089","9,097,370","4,959,719"
11,202506,20250605,2025-06-17 00:53:59,"14,281,294","9,193,029","5,088,265","211,952","88,485","123,467","14,069,342","9,104,544","4,964,798"
12,202506,20250604,2025-06-17 00:53:59,"14,286,832","9,196,579","5,090,253","216,374","91,944","124,430","14,070,458","9,104,635","4,965,823"
13,202506,20250603,2025-06-17 00:53:59,"14,286,859","9,196,790","5,090,069","220,487","94,736","125,751","14,066,372","9,102,054","4,964,318"
14,202506,20250602,2025-06-17 00:53:59,"14,283,569","9,194,668","5,088,901","212,455","85,937","126,518","14,071,114","9,108,731","4,962,383"
15,202506,20250601,2025-06-17 00:53:59,"14,286,856","9,194,914","5,091,942","213,137","88,412","124,725","14,073,719","9,106,502","4,967,217"
16,202505,20250531,2025-06-17 00:53:59,"14,286,490","9,194,703","5,091,787","216,786","91,079","125,707","14,069,704","9,103,624","4,966,080"
17,202505,20250530,2025-06-17 00:53:59,"14,287,180","9,196,048","5,091,132","222,091","94,830","127,261","14,065,089","9,101,218","4,963,871"
18,202505,20250529,2025-06-17 00:53:59,"14,288,174","9,197,701","5,090,473","227,003","98,788","128,215","14,061,171","9,098,913","4,962,258"
19,202505,20250528,2025-06-17 00:53:59,"14,293,175","9,199,904","5,093,271","228,339","103,154","125,185","14,064,836","9,096,750","4,968,086"
20,202505,20250527,2025-06-17 00:53:59,"14,292,891","9,199,895","5,092,996","221,800","95,783","126,017","14,071,091","9,104,112","4,966,979"
21,202505,20250526,2025-06-17 00:53:59,"14,295,974","9,201,984","5,093,990","225,251","98,031","127,220","14,070,723","9,103,953","4,966,770"
22,202505,20250525,2025-06-17 00:53:59,"14,296,786","9,203,124","5,093,662","228,696","100,664","128,032","14,068,090","9,102,460","4,965,630"
23,202505,20250524,2025-06-17 00:53:59,"14,298,604","9,201,605","5,096,999","216,467","91,075","125,392","14,082,137","9,110,530","4,971,607"
24,202505,20250523,2025-06-17 00:53:59,"14,296,900","9,201,728","5,095,172","219,080","92,967","126,113","14,077,820","9,108,761","4,969,059"
25,202505,20250522,2025-06-17 00:53:59,"14,298,004","9,203,211","5,094,793","223,984","96,166","127,818","14,074,020","9,107,045","4,966,975"
26,202505,20250521,2025-06-17 00:53:59,"14,299,454","9,205,213","5,094,241","228,371","99,629","128,742","14,071,083","9,105,584","4,965,499"
27,202505,20250520,2025-06-17 00:53:59,"14,301,414","9,204,878","5,096,536","212,826","92,478","120,348","14,088,588","9,112,400","4,976,188"
28,202505,20250519,2025-06-17 00:53:59,"14,300,860","9,203,826","5,097,034","216,128","95,054","121,074","14,084,732","9,108,772","4,975,960"
29,202505,20250518,2025-06-17 00:53:59,"14,300,979","9,202,580","5,098,399","220,602","96,885","123,717","14,080,377","9,105,695","4,974,682"
30,202505,20250517,2025-06-17 00:53:59,"14,299,423","9,201,319","5,098,104","214,680","90,196","124,484","14,084,743","9,111,123","4,973,620"
31,202505,20250516,2025-06-17 00:53:59,"14,299,525","9,201,012","5,098,513","212,698","93,211","119,487","14,086,827","9,107,801","4,979,026"
32,202505,20250515,2025-06-17 00:53:59,"14,300,760","9,203,027","5,097,733","216,724","96,487","120,237","14,084,036","9,106,540","4,977,496"
33,202505,20250514,2025-06-17 00:53:59,"14,302,087","9,201,971","5,100,116","211,734","87,823","123,911","14,090,353","9,114,148","4,976,205"
34,202505,20250513,2025-06-17 00:53:59,"14,302,269","9,200,869","5,101,400","213,962","89,360","124,602","14,088,307","9,111,509","4,976,798"
35,202505,20250512,2025-06-17 00:53:59,"14,301,311","9,200,558","5,100,753","209,399","91,697","117,702","14,091,912","9,108,861","4,983,051"
36,202505,20250511,2025-06-17 00:53:59,"14,300,907","9,200,984","5,099,923","203,701","85,091","118,610","14,097,206","9,115,893","4,981,313"
37,202505,20250510,2025-06-17 00:53:59,"14,301,529","9,200,074","5,101,455","208,059","87,034","121,025","14,093,470","9,113,040","4,980,430"
38,202505,20250509,2025-06-17 00:53:59,"14,300,044","9,199,288","5,100,756","210,976","88,847","122,129","14,089,068","9,110,441","4,978,627"
39,202505,20250508,2025-06-17 00:53:59,"14,299,714","9,197,790","5,101,924","202,658","84,707","117,951","14,097,056","9,113,083","4,983,973"
40,202505,20250507,2025-06-17 00:53:59,"14,299,194","9,197,271","5,101,923","206,706","87,294","119,412","14,092,488","9,109,977","4,982,511"
41,202505,20250506,2025-06-17 00:53:59,"14,299,702","9,196,451","5,103,251","210,261","89,608","120,653","14,089,441","9,106,843","4,982,598"
42,202505,20250505,2025-06-17 00:53:59,"14,299,677","9,196,396","5,103,281","204,719","83,074","121,645","14,094,958","9,113,322","4,981,636"
43,202505,20250504,2025-06-17 00:53:59,"14,301,571","9,194,975","5,106,596","204,179","84,668","119,511","14,097,392","9,110,307","4,987,085"
44,202505,20250503,2025-06-17 00:53:59,"14,300,325","9,193,535","5,106,790","206,949","86,266","120,683","14,093,376","9,107,269","4,986,107"
45,202505,20250502,2025-06-17 00:53:59,"14,299,338","9,192,969","5,106,369","201,381","79,554","121,827","14,097,957","9,113,415","4,984,542"
46,202505,20250501,2025-06-17 00:53:59,"14,298,994","9,192,981","5,106,013","201,787","78,999","122,788","14,097,207","9,113,982","4,983,225"

## FTTx by Period

In [15]:
''' FTTx : SubBase Yearly '''

v_metric_list = [
    'TB3S020604' #FTTx SubBase
	, 'TB3S020603' #FTTx 60DPD
	, 'TB3S020606' #FTTx Gain/Loss 60DPD
	, 'TB3S000600' #FTTx Reported SubBase
    ]

fttx_sub_yearly_df = chk_src_df.loc[chk_src_df['TM_KEY_DAY']==chk_src_df.groupby(['TM_KEY_YR', 'METRIC_CD'])['ACTUAL_AS_OF'].transform('max')].copy() # ACTUAL_AGG_YR
fttx_sub_yearly_df = fttx_sub_yearly_df[['TM_KEY_YR', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']]
fttx_sub_yearly_df = fttx_sub_yearly_df.loc[fttx_sub_yearly_df['METRIC_CD'].isin(v_metric_list)]

fttx_sub_yearly_df['FTTX_SB'] = np.where(fttx_sub_yearly_df['METRIC_CD']=='TB3S020604', fttx_sub_yearly_df['P'], 0)
fttx_sub_yearly_df['FTTX_60DPD'] = np.where(fttx_sub_yearly_df['METRIC_CD']=='TB3S020603', fttx_sub_yearly_df['P'], 0)
fttx_sub_yearly_df['FTTX_GL_60DPD'] = np.where(fttx_sub_yearly_df['METRIC_CD']=='TB3S020606', fttx_sub_yearly_df['P'], 0)
fttx_sub_yearly_df['FTTX_RPT_SB'] = np.where(fttx_sub_yearly_df['METRIC_CD']=='TB3S000600', fttx_sub_yearly_df['P'], 0)

fttx_sub_yearly_df = fttx_sub_yearly_df.groupby('TM_KEY_YR').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max'
                                                        , 'FTTX_SB':'sum', 'FTTX_60DPD':'sum', 'FTTX_GL_60DPD':'sum', 'FTTX_RPT_SB':'sum'})
fttx_sub_yearly_df = fttx_sub_yearly_df.fillna(0).sort_values(by=['TM_KEY_YR']).reset_index()
fttx_sub_yearly_df = fttx_sub_yearly_df[['TM_KEY_YR', 'PPN_TM', 'ACTUAL_AS_OF'
                               , 'FTTX_SB', 'FTTX_60DPD', 'FTTX_GL_60DPD', 'FTTX_RPT_SB']]

fttx_sub_yearly_df_display = fttx_sub_yearly_df.copy()
fttx_sub_yearly_df_display['ACTUAL_AS_OF'] = fttx_sub_yearly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = fttx_sub_yearly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    fttx_sub_yearly_df_display[col] = fttx_sub_yearly_df_display[col].apply(lambda x: format(x, ',.0f'))
fttx_sub_yearly_df_display

,TM_KEY_YR,PPN_TM,ACTUAL_AS_OF,FTTX_SB,FTTX_60DPD,FTTX_GL_60DPD,FTTX_RPT_SB
0,2024,2025-06-17 00:53:59,20241231,"3,270,700","115,811","6,834","3,154,889"
1,2025,2025-06-17 00:53:59,20250614,"3,300,035","95,102","-1,028","3,204,933"

In [16]:
''' FTTx : SubBase Quarterly '''

v_metric_list = [
    'TB3S020604' #FTTx SubBase
	, 'TB3S020603' #FTTx 60DPD
	, 'TB3S020606' #FTTx Gain/Loss 60DPD
	, 'TB3S000600' #FTTx Reported SubBase
    ]

fttx_sub_quarterly_df = chk_src_df.loc[chk_src_df['TM_KEY_DAY']==chk_src_df.groupby(['TM_KEY_QTR', 'METRIC_CD'])['ACTUAL_AS_OF'].transform('max')].copy() # ACTUAL_AGG_QTR
fttx_sub_quarterly_df = fttx_sub_quarterly_df[['TM_KEY_QTR', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']]
fttx_sub_quarterly_df = fttx_sub_quarterly_df.loc[fttx_sub_quarterly_df['METRIC_CD'].isin(v_metric_list)]

fttx_sub_quarterly_df['FTTX_SB'] = np.where(fttx_sub_quarterly_df['METRIC_CD']=='TB3S020604', fttx_sub_quarterly_df['P'], 0)
fttx_sub_quarterly_df['FTTX_60DPD'] = np.where(fttx_sub_quarterly_df['METRIC_CD']=='TB3S020603', fttx_sub_quarterly_df['P'], 0)
fttx_sub_quarterly_df['FTTX_GL_60DPD'] = np.where(fttx_sub_quarterly_df['METRIC_CD']=='TB3S020606', fttx_sub_quarterly_df['P'], 0)
fttx_sub_quarterly_df['FTTX_RPT_SB'] = np.where(fttx_sub_quarterly_df['METRIC_CD']=='TB3S000600', fttx_sub_quarterly_df['P'], 0)

fttx_sub_quarterly_df = fttx_sub_quarterly_df.groupby('TM_KEY_QTR').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max'
                                                        , 'FTTX_SB':'sum', 'FTTX_60DPD':'sum', 'FTTX_GL_60DPD':'sum', 'FTTX_RPT_SB':'sum'})
fttx_sub_quarterly_df = fttx_sub_quarterly_df.fillna(0).sort_values(by=['TM_KEY_QTR']).reset_index()
fttx_sub_quarterly_df = fttx_sub_quarterly_df[['TM_KEY_QTR', 'PPN_TM', 'ACTUAL_AS_OF'
                               , 'FTTX_SB', 'FTTX_60DPD', 'FTTX_GL_60DPD', 'FTTX_RPT_SB']]

fttx_sub_quarterly_df_display = fttx_sub_quarterly_df.copy()
fttx_sub_quarterly_df_display['ACTUAL_AS_OF'] = fttx_sub_quarterly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = fttx_sub_quarterly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    fttx_sub_quarterly_df_display[col] = fttx_sub_quarterly_df_display[col].apply(lambda x: format(x, ',.0f'))
fttx_sub_quarterly_df_display

,TM_KEY_QTR,PPN_TM,ACTUAL_AS_OF,FTTX_SB,FTTX_60DPD,FTTX_GL_60DPD,FTTX_RPT_SB
0,20241,2025-06-17 00:53:59,20240331,"3,200,919","110,632",649,"3,090,287"
1,20242,2025-06-17 00:53:59,20240630,"3,219,954","112,870",636,"3,107,084"
2,20243,2025-06-17 00:53:59,20240930,"3,246,868","119,564","2,863","3,127,304"
3,20244,2025-06-17 00:53:59,20241231,"3,270,700","115,811","6,834","3,154,889"
4,20251,2025-06-17 00:53:59,20250331,"3,305,177","117,460","2,510","3,187,717"
5,20252,2025-06-17 00:53:59,20250614,"3,300,035","95,102","-1,028","3,204,933"

In [17]:
''' FTTx : SubBase Monthly '''

# v_tm_key_yr = curr_yr
v_tm_key_yr = prev_yr

v_metric_list = [
    'TB3S020604' #FTTx SubBase
	, 'TB3S020603' #FTTx 60DPD
	, 'TB3S020606' #FTTx Gain/Loss 60DPD
	, 'TB3S000600' #FTTx Reported SubBase
    ]

fttx_sub_monthly_df = chk_src_df.loc[chk_src_df['TM_KEY_DAY']==chk_src_df.groupby(['TM_KEY_MTH', 'METRIC_CD'])['ACTUAL_AS_OF'].transform('max')].copy() # ACTUAL_AGG_MTH
fttx_sub_monthly_df = fttx_sub_monthly_df[['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']].loc[chk_src_df['TM_KEY_YR']>=v_tm_key_yr]
fttx_sub_monthly_df = fttx_sub_monthly_df.loc[fttx_sub_monthly_df['METRIC_CD'].isin(v_metric_list)]

fttx_sub_monthly_df['FTTX_SB'] = np.where(fttx_sub_monthly_df['METRIC_CD']=='TB3S020604', fttx_sub_monthly_df['P'], 0)
fttx_sub_monthly_df['FTTX_60DPD'] = np.where(fttx_sub_monthly_df['METRIC_CD']=='TB3S020603', fttx_sub_monthly_df['P'], 0)
fttx_sub_monthly_df['FTTX_GL_60DPD'] = np.where(fttx_sub_monthly_df['METRIC_CD']=='TB3S020606', fttx_sub_monthly_df['P'], 0)
fttx_sub_monthly_df['FTTX_RPT_SB'] = np.where(fttx_sub_monthly_df['METRIC_CD']=='TB3S000600', fttx_sub_monthly_df['P'], 0)

fttx_sub_monthly_df = fttx_sub_monthly_df.groupby('TM_KEY_MTH').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max'
                                                        , 'FTTX_SB':'sum', 'FTTX_60DPD':'sum', 'FTTX_GL_60DPD':'sum', 'FTTX_RPT_SB':'sum'})
fttx_sub_monthly_df = fttx_sub_monthly_df.fillna(0).sort_values(by=['TM_KEY_MTH']).reset_index()
fttx_sub_monthly_df = fttx_sub_monthly_df[['TM_KEY_MTH', 'PPN_TM', 'ACTUAL_AS_OF'
                               , 'FTTX_SB', 'FTTX_60DPD', 'FTTX_GL_60DPD', 'FTTX_RPT_SB']]

fttx_sub_monthly_df_display = fttx_sub_monthly_df.copy()
fttx_sub_monthly_df_display['ACTUAL_AS_OF'] = fttx_sub_monthly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = fttx_sub_monthly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    fttx_sub_monthly_df_display[col] = fttx_sub_monthly_df_display[col].apply(lambda x: format(x, ',.0f'))
fttx_sub_monthly_df_display

,TM_KEY_MTH,PPN_TM,ACTUAL_AS_OF,FTTX_SB,FTTX_60DPD,FTTX_GL_60DPD,FTTX_RPT_SB
0,202402,2025-06-17 00:53:59,20240229,"3,196,974","112,709","1,759","3,084,265"
1,202403,2025-06-17 00:53:59,20240331,"3,200,919","110,632",649,"3,090,287"
2,202404,2025-06-17 00:53:59,20240430,"3,202,928","111,161","-1,855","3,091,767"
3,202405,2025-06-17 00:53:59,20240531,"3,209,626","111,112","2,194","3,098,514"
4,202406,2025-06-17 00:53:59,20240630,"3,219,954","112,870",636,"3,107,084"
5,202407,2025-06-17 00:53:59,20240731,"3,229,133","114,298",959,"3,114,835"
6,202408,2025-06-17 00:53:59,20240831,"3,239,197","117,168",985,"3,122,029"
7,202409,2025-06-17 00:53:59,20240930,"3,246,868","119,564","2,863","3,127,304"
8,202410,2025-06-17 00:53:59,20241031,"3,255,234","120,867","-1,414","3,134,367"
9,202411,2025-06-17 00:53:59,20241130,"3,262,940","124,095","1,240","3,138,845"
10,202412,2025-06-17 00:53:59,20241231,"3,270,700","115,811","6,834","3,154,889"
11,202501,2025-06-17 00:53:59,20250131,"3,280,710","117,518","3,818","3,163,192"
12,202502,2025-06-17 00:53:59,20250228,"3,290,380","117,610","2,754","3,172,770"
13,202503,2025-06-17 00:53:59,20250331,"3,305,177","117,460","2,510","3,187,717"
14,202504,2025-06-17 00:53:59,20250430,"3,315,573","124,070","-2,675","3,191,503"
15,202505,2025-06-17 00:53:59,20250531,"3,294,820","91,693",986,"3,203,127"
16,202506,2025-06-17 00:53:59,20250614,"3,300,035","95,102","-1,028","3,204,933"

In [18]:
''' FTTx : SubBase Weekly '''

# v_tm_key_mth = curr_mth
v_tm_key_mth = prev_mth

v_metric_list = [
    'TB3S020604' #FTTx SubBase
	, 'TB3S020603' #FTTx 60DPD
	, 'TB3S020606' #FTTx Gain/Loss 60DPD
	, 'TB3S000600' #FTTx Reported SubBase
    ]

fttx_sub_weekly_df = chk_src_df.loc[chk_src_df['TM_KEY_DAY']==chk_src_df.groupby(['TM_KEY_WK', 'METRIC_CD'])['ACTUAL_AS_OF'].transform('max')].copy() # ACTUAL_AGG_WK
fttx_sub_weekly_df = fttx_sub_weekly_df[['TM_KEY_WK', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']].loc[chk_src_df['TM_KEY_MTH']>=v_tm_key_mth]
fttx_sub_weekly_df = fttx_sub_weekly_df.loc[fttx_sub_weekly_df['METRIC_CD'].isin(v_metric_list)]

fttx_sub_weekly_df['FTTX_SB'] = np.where(fttx_sub_weekly_df['METRIC_CD']=='TB3S020604', fttx_sub_weekly_df['P'], 0)
fttx_sub_weekly_df['FTTX_60DPD'] = np.where(fttx_sub_weekly_df['METRIC_CD']=='TB3S020603', fttx_sub_weekly_df['P'], 0)
fttx_sub_weekly_df['FTTX_GL_60DPD'] = np.where(fttx_sub_weekly_df['METRIC_CD']=='TB3S020606', fttx_sub_weekly_df['P'], 0)
fttx_sub_weekly_df['FTTX_RPT_SB'] = np.where(fttx_sub_weekly_df['METRIC_CD']=='TB3S000600', fttx_sub_weekly_df['P'], 0)

fttx_sub_weekly_df = fttx_sub_weekly_df.groupby('TM_KEY_WK').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max'
                                                        , 'FTTX_SB':'sum', 'FTTX_60DPD':'sum', 'FTTX_GL_60DPD':'sum', 'FTTX_RPT_SB':'sum'})
fttx_sub_weekly_df = fttx_sub_weekly_df.fillna(0).sort_values(by=['TM_KEY_WK']).reset_index()
fttx_sub_weekly_df = fttx_sub_weekly_df[['TM_KEY_WK', 'PPN_TM', 'ACTUAL_AS_OF'
                               , 'FTTX_SB', 'FTTX_60DPD', 'FTTX_GL_60DPD', 'FTTX_RPT_SB']]

fttx_sub_weekly_df_display = fttx_sub_weekly_df.copy()
fttx_sub_weekly_df_display['ACTUAL_AS_OF'] = fttx_sub_weekly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = fttx_sub_weekly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    fttx_sub_weekly_df_display[col] = fttx_sub_weekly_df_display[col].apply(lambda x: format(x, ',.0f'))
fttx_sub_weekly_df_display

,TM_KEY_WK,PPN_TM,ACTUAL_AS_OF,FTTX_SB,FTTX_60DPD,FTTX_GL_60DPD,FTTX_RPT_SB
0,2025018,2025-06-17 00:53:59,20250504,"3,318,455","129,506",694,"3,188,949"
1,2025019,2025-06-17 00:53:59,20250511,"3,323,804","131,424",0,"3,192,380"
2,2025020,2025-06-17 00:53:59,20250518,"3,313,557","121,619","-5,038","3,191,938"
3,2025021,2025-06-17 00:53:59,20250525,"3,294,137","100,767","-6,226","3,193,370"
4,2025022,2025-06-17 00:53:59,20250601,"3,295,710","90,238","-1,455","3,205,472"
5,2025023,2025-06-17 00:53:59,20250608,"3,301,794","99,072",-974,"3,202,722"
6,2025024,2025-06-17 00:53:59,20250614,"3,300,035","95,102","-1,028","3,204,933"

In [19]:
''' FTTx : SubBase Daily '''

# v_tm_key_mth = curr_mth
v_tm_key_mth = prev_mth

v_metric_list = [
    'TB3S020604' #FTTx SubBase
	, 'TB3S020603' #FTTx 60DPD
	, 'TB3S020606' #FTTx Gain/Loss 60DPD
	, 'TB3S000600' #FTTx Reported SubBase
    ]

fttx_sub_daily_df = chk_src_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P']].loc[chk_src_df['TM_KEY_MTH']>=v_tm_key_mth]
fttx_sub_daily_df = fttx_sub_daily_df.loc[fttx_sub_daily_df['METRIC_CD'].isin(v_metric_list)]

fttx_sub_daily_df['FTTX_SB'] = np.where(fttx_sub_daily_df['METRIC_CD']=='TB3S020604', fttx_sub_daily_df['P'], 0)
fttx_sub_daily_df['FTTX_60DPD'] = np.where(fttx_sub_daily_df['METRIC_CD']=='TB3S020603', fttx_sub_daily_df['P'], 0)
fttx_sub_daily_df['FTTX_GL_60DPD'] = np.where(fttx_sub_daily_df['METRIC_CD']=='TB3S020606', fttx_sub_daily_df['P'], 0)
fttx_sub_daily_df['FTTX_RPT_SB'] = np.where(fttx_sub_daily_df['METRIC_CD']=='TB3S000600', fttx_sub_daily_df['P'], 0)

fttx_sub_daily_df = fttx_sub_daily_df.groupby(['TM_KEY_MTH', 'TM_KEY_DAY']).agg({'PPN_TM':'max'
                                                        , 'FTTX_SB':'sum', 'FTTX_60DPD':'sum', 'FTTX_GL_60DPD':'sum', 'FTTX_RPT_SB':'sum'})
fttx_sub_daily_df = fttx_sub_daily_df.fillna(0).sort_values(by=['TM_KEY_DAY'], ascending=False).reset_index()
fttx_sub_daily_df = fttx_sub_daily_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PPN_TM'
                               , 'FTTX_SB', 'FTTX_60DPD', 'FTTX_GL_60DPD', 'FTTX_RPT_SB']]

fttx_sub_daily_df_display = fttx_sub_daily_df.copy()
mod_col_list = fttx_sub_daily_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    fttx_sub_daily_df_display[col] = fttx_sub_daily_df_display[col].apply(lambda x: format(x, ',.0f'))
fttx_sub_daily_df_display

,TM_KEY_MTH,TM_KEY_DAY,PPN_TM,FTTX_SB,FTTX_60DPD,FTTX_GL_60DPD,FTTX_RPT_SB
0,202506,20250616,2025-06-17 00:53:59,0,0,0,0
1,202506,20250615,2025-06-17 00:53:59,0,0,0,0
2,202506,20250614,2025-06-17 00:53:59,"3,300,035","95,102","-1,028","3,204,933"
3,202506,20250613,2025-06-17 00:53:59,"3,298,761","96,130","-5,484","3,202,631"
4,202506,20250612,2025-06-17 00:53:59,"3,302,032","101,614","4,158","3,200,418"
5,202506,20250611,2025-06-17 00:53:59,"3,300,932","97,456","-1,119","3,203,476"
6,202506,20250610,2025-06-17 00:53:59,"3,299,900","98,575",-953,"3,201,325"
7,202506,20250609,2025-06-17 00:53:59,"3,298,630","99,528",456,"3,199,102"
8,202506,20250608,2025-06-17 00:53:59,"3,301,794","99,072",-974,"3,202,722"
9,202506,20250607,2025-06-17 00:53:59,"3,300,792","100,046","-1,046","3,200,746"
10,202506,20250606,2025-06-17 00:53:59,"3,299,580","101,092","3,476","3,198,488"
11,202506,20250605,2025-06-17 00:53:59,"3,300,191","97,616","-1,112","3,202,575"
12,202506,20250604,2025-06-17 00:53:59,"3,299,041","98,728","-1,017","3,200,313"
13,202506,20250603,2025-06-17 00:53:59,"3,297,765","99,745","9,507","3,198,020"
14,202506,20250602,2025-06-17 00:53:59,"3,296,754","90,238",0,"3,206,516"
15,202506,20250601,2025-06-17 00:53:59,"3,295,710","90,238","-1,455","3,205,472"
16,202505,20250531,2025-06-17 00:53:59,"3,294,820","91,693",986,"3,203,127"
17,202505,20250530,2025-06-17 00:53:59,"3,293,874","92,679","1,296","3,201,195"
18,202505,20250529,2025-06-17 00:53:59,"3,292,827","93,975","5,589","3,198,852"
19,202505,20250528,2025-06-17 00:53:59,"3,294,840","99,564","-4,948","3,195,276"
20,202505,20250527,2025-06-17 00:53:59,"3,293,636","94,616","5,271","3,199,020"
21,202505,20250526,2025-06-17 00:53:59,"3,295,398","99,887",880,"3,195,511"
22,202505,20250525,2025-06-17 00:53:59,"3,294,137","100,767","-6,226","3,193,370"
23,202505,20250524,2025-06-17 00:53:59,"3,293,104","94,541","5,851","3,198,563"
24,202505,20250523,2025-06-17 00:53:59,"3,297,292","100,392","9,249","3,196,900"
25,202505,20250522,2025-06-17 00:53:59,"3,303,923","109,641",769,"3,194,282"
26,202505,20250521,2025-06-17 00:53:59,"3,302,940","110,410","-5,732","3,192,530"
27,202505,20250520,2025-06-17 00:53:59,"3,302,940","104,678","9,490","3,198,262"
28,202505,20250519,2025-06-17 00:53:59,"3,308,179","114,168","7,451","3,194,011"
29,202505,20250518,2025-06-17 00:53:59,"3,313,557","121,619","-5,038","3,191,938"
30,202505,20250517,2025-06-17 00:53:59,"3,312,352","116,581","8,000","3,195,771"
31,202505,20250516,2025-06-17 00:53:59,"3,318,232","124,581",728,"3,193,651"
32,202505,20250515,2025-06-17 00:53:59,"3,316,705","125,309","6,115","3,191,396"
33,202505,20250514,2025-06-17 00:53:59,"3,323,804","131,424",0,"3,192,380"
34,202505,20250513,2025-06-17 00:53:59,"3,323,804","131,424",0,"3,192,380"
35,202505,20250512,2025-06-17 00:53:59,"3,323,804","131,424",0,"3,192,380"
36,202505,20250511,2025-06-17 00:53:59,"3,323,804","131,424",0,"3,192,380"
37,202505,20250510,2025-06-17 00:53:59,"3,323,804","131,424",0,"3,192,380"
38,202505,20250509,2025-06-17 00:53:59,"3,323,804","131,424",0,"3,192,380"
39,202505,20250508,2025-06-17 00:53:59,"3,323,804","131,424",910,"3,192,380"
40,202505,20250507,2025-06-17 00:53:59,"3,322,517","132,334","1,299","3,190,183"
41,202505,20250506,2025-06-17 00:53:59,"3,321,192","133,633","-4,742","3,187,559"
42,202505,20250505,2025-06-17 00:53:59,"3,319,757","128,891",615,"3,190,866"
43,202505,20250504,2025-06-17 00:53:59,"3,318,455","129,506",694,"3,188,949"
44,202505,20250503,2025-06-17 00:53:59,"3,317,360","130,200","-8,024","3,187,160"
45,202505,20250502,2025-06-17 00:53:59,"3,316,025","122,176",806,"3,193,849"
46,202505,20250501,2025-06-17 00:53:59,"3,314,823","122,982","1,088","3,191,841"

## Products Summary

### Prep Monthly Data

In [20]:
''' Monthly Summary '''

monthly_df = chk_src_df.loc[chk_src_df['TM_KEY_DAY']==chk_src_df.groupby(['TM_KEY_MTH', 'METRIC_CD'])['ACTUAL_AS_OF'].transform('max')].copy() # ACTUAL_AGG_MTH
monthly_df = monthly_df.groupby(['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF']).agg({'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum'})
monthly_df = monthly_df.fillna(0).sort_values(by=['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()
monthly_df['DIFF (C-P)'] = monthly_df['C'] - monthly_df['P']

monthly_df_display = monthly_df.copy()
monthly_df_display['ACTUAL_AS_OF'] = monthly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = monthly_df_display.iloc[:, 6:].columns.tolist()
for col in mod_col_list:
    monthly_df_display[col] = monthly_df_display[col].apply(lambda x: format(x, ',.0f'))

# monthly_df_display
# monthly_df_display.loc[monthly_df_display['TM_KEY_MTH']==202501]

In [21]:
''' Parameter '''

v_tm_key_mth = curr_mth
# v_tm_key_mth = prev_mth
# v_tm_key_mth = 202501

print(f'v_tm_key_mth: {v_tm_key_mth}')

v_tm_key_mth: 202506

### Prepaid

In [22]:
''' Prepaid SubBase '''

v_metric_list = [
    'B1S000702' #Prepaid SubBase
    , 'TB1S000702' #Prepaid SubBase : TMH
    , 'DB1S000702' #Prepaid SubBase : DTAC
    ]

prepaid_subbase_df = monthly_df_display.loc[monthly_df_display['METRIC_CD'].isin(v_metric_list)]
prepaid_subbase_df = prepaid_subbase_df.loc[prepaid_subbase_df['TM_KEY_MTH']>=v_tm_key_mth]
prepaid_subbase_df = prepaid_subbase_df.sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)
prepaid_subbase_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202506,Prepaid,TB1S000702,Prepaid SubBase : TMH,2025-06-17 00:53:59,20250614,0,"22,998,539","22,859,465","22,858,828","22,858,828","-22,998,539"

In [23]:
''' Prepaid Reported SubBase '''

v_metric_list = [
    'B1S000700' #Prepaid Reported SubBase
    , 'TB1S000700' #Prepaid Reported SubBase : TMH
    , 'DB1S000700' #Prepaid Reported SubBase : DTAC
    ]

prepaid_reported_subbase_df = monthly_df_display.loc[monthly_df_display['METRIC_CD'].isin(v_metric_list)]
prepaid_reported_subbase_df = prepaid_reported_subbase_df.loc[prepaid_reported_subbase_df['TM_KEY_MTH']>=v_tm_key_mth]
prepaid_reported_subbase_df = prepaid_reported_subbase_df.sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)
prepaid_reported_subbase_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202506,Prepaid,TB1S000700,Prepaid Reported SubBase : TMH,2025-06-17 00:53:59,20250615,0,"19,744,984","19,616,001","19,616,001","19,616,001","-19,744,984"

### Postpaid B2C

In [24]:
''' Postpaid SubBase B2C '''

v_metric_list = [
    'B2S010602' #Postpaid SubBase B2C
    , 'DB2S010602' #Postpaid SubBase B2C : DTAC
    , 'TB2S010602' #Postpaid SubBase B2C : TMH
    ]

postpaid_subbase_b2c_df = monthly_df_display.loc[monthly_df_display['METRIC_CD'].isin(v_metric_list)]
postpaid_subbase_b2c_df = postpaid_subbase_b2c_df.loc[postpaid_subbase_b2c_df['TM_KEY_MTH']>=v_tm_key_mth]
postpaid_subbase_b2c_df = postpaid_subbase_b2c_df.sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)
postpaid_subbase_b2c_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202506,Postpaid,B2S010602,Postpaid SubBase B2C,2025-06-17 00:53:59,20250615,0,"14,275,062","14,269,132","14,263,470","14,263,470","-14,275,062"
1,202506,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20250615,0,"5,082,170","5,082,166","5,076,514","5,076,514","-5,082,170"
2,202506,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20250615,0,"9,192,892","9,186,966","9,186,956","9,186,956","-9,192,892"

In [25]:
''' Postpaid 60DPD B2C '''

v_metric_list = [
    'B2S010601' #Postpaid 60DPD B2C
    , 'TB2S010601' #Postpaid 60DPD B2C : TMH
    , 'DB2S010601' #Postpaid 60DPD B2C : DTAC
    ]

postpaid_60dpd_b2c_df = monthly_df_display.loc[monthly_df_display['METRIC_CD'].isin(v_metric_list)]
postpaid_60dpd_b2c_df = postpaid_60dpd_b2c_df.loc[postpaid_60dpd_b2c_df['TM_KEY_MTH']>=v_tm_key_mth]
postpaid_60dpd_b2c_df = postpaid_60dpd_b2c_df.sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)
postpaid_60dpd_b2c_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202506,Postpaid,B2S010601,Postpaid 60DPD B2C,2025-06-17 00:53:59,20250615,0,"229,399","229,333","229,333","229,333","-229,399"
1,202506,Postpaid,DB2S010601,Postpaid 60DPD B2C : DTAC,2025-06-17 00:53:59,20250615,0,"126,936","126,872","126,872","126,872","-126,936"
2,202506,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,20250615,0,"102,463","102,461","102,461","102,461","-102,463"

In [26]:
''' Postpaid Gain/Loss 60DPD B2C '''

v_metric_list = [
    'B2S010603' #Postpaid Gain/Loss 60DPD B2C
    , 'TB2S010603' #Postpaid Gain/Loss 60DPD B2C : TMH
    , 'DB2S010603' #Postpaid Gain/Loss 60DPD B2C : DTAC
    ]

postpaid_gl_60dpd_b2c_df = monthly_df_display.loc[monthly_df_display['METRIC_CD'].isin(v_metric_list)]
postpaid_gl_60dpd_b2c_df = postpaid_gl_60dpd_b2c_df.loc[postpaid_gl_60dpd_b2c_df['TM_KEY_MTH']>=v_tm_key_mth]
postpaid_gl_60dpd_b2c_df = postpaid_gl_60dpd_b2c_df.sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)
postpaid_gl_60dpd_b2c_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202506,Postpaid,DB2S010603,Postpaid Gain/Loss 60DPD B2C : DTAC,2025-06-17 00:53:59,20250614,"3,232","3,232","3,232","3,232","3,232",0
1,202506,Postpaid,TB2S010603,Postpaid Gain/Loss 60DPD B2C : TMH,2025-06-17 00:53:59,20250614,"-1,384","-1,384","-1,384","-1,384","-1,384",0

In [27]:
''' Postpaid Reported SubBase B2C '''

v_metric_list = [
    'B2S010600' #Postpaid Reported SubBase B2C
    , 'DB2S010600' #Postpaid Reported SubBase B2C : DTAC
    , 'TB2S010600' #Postpaid Reported SubBase B2C : TMH
    ]

postpaid_reported_subbase_b2c_df = monthly_df_display.loc[monthly_df_display['METRIC_CD'].isin(v_metric_list)]
postpaid_reported_subbase_b2c_df = postpaid_reported_subbase_b2c_df.loc[postpaid_reported_subbase_b2c_df['TM_KEY_MTH']>=v_tm_key_mth]
postpaid_reported_subbase_b2c_df = postpaid_reported_subbase_b2c_df.sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)
postpaid_reported_subbase_b2c_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202506,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20250614,0,"14,052,198","14,040,610","14,040,600","14,040,600","-14,052,198"
1,202506,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20250614,0,"4,954,373","4,948,780","4,948,780","4,948,780","-4,954,373"
2,202506,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20250615,0,"9,090,429","9,084,505","9,084,495","9,084,495","-9,090,429"

### FTTx

In [28]:
''' FTTx SubBase '''

v_metric_list = [
    'TB3S020604' #FTTx SubBase
    ]

fttx_subbase_df = monthly_df_display.loc[monthly_df_display['METRIC_CD'].isin(v_metric_list)]
fttx_subbase_df = fttx_subbase_df.loc[fttx_subbase_df['TM_KEY_MTH']>=v_tm_key_mth]
fttx_subbase_df = fttx_subbase_df.sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)
fttx_subbase_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202506,TOL,TB3S020604,FTTx SubBase,2025-06-17 00:53:59,20250614,0,"3,300,035","3,299,954","3,299,954","3,299,954","-3,300,035"

In [29]:
''' FTTx 60DPD '''

v_metric_list = [
    'TB3S020603' #FTTx 60DPD
    ]

fttx_60dpd_df = monthly_df_display.loc[monthly_df_display['METRIC_CD'].isin(v_metric_list)]
fttx_60dpd_df = fttx_60dpd_df.loc[fttx_60dpd_df['TM_KEY_MTH']>=v_tm_key_mth]
fttx_60dpd_df = fttx_60dpd_df.sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)
fttx_60dpd_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202506,TOL,TB3S020603,FTTx 60DPD,2025-06-17 00:53:59,20250614,0,"95,102","95,100","95,100","95,100","-95,102"

In [30]:
''' FTTx Gain/Loss 60DPD '''

v_metric_list = [
    'TB3S020606' #FTTx Gain/Loss 60DPD
    ]

fttx_gl_60dpd_df = monthly_df_display.loc[monthly_df_display['METRIC_CD'].isin(v_metric_list)]
fttx_gl_60dpd_df = fttx_gl_60dpd_df.loc[fttx_gl_60dpd_df['TM_KEY_MTH']>=v_tm_key_mth]
fttx_gl_60dpd_df = fttx_gl_60dpd_df.sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)
fttx_gl_60dpd_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202506,TOL,TB3S020606,FTTx Gain/Loss 60DPD,2025-06-17 00:53:59,20250614,0,"-1,028","-1,028","-1,028","-1,028","1,028"

In [31]:
''' FTTx Reported SubBase '''

v_metric_list = [
    'TB3S000600' #FTTx Reported SubBase
    ]

fttx_reported_subbase_df = monthly_df_display.loc[monthly_df_display['METRIC_CD'].isin(v_metric_list)]
fttx_reported_subbase_df = fttx_reported_subbase_df.loc[fttx_reported_subbase_df['TM_KEY_MTH']>=v_tm_key_mth]
fttx_reported_subbase_df = fttx_reported_subbase_df.sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)
fttx_reported_subbase_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202506,TOL,TB3S000600,FTTx Reported SubBase,2025-06-17 00:53:59,20250614,0,"3,204,933","3,204,854","3,204,854","3,204,854","-3,204,933"

## ** Current Issue

In [32]:
''' Monthly : Prepaid SubBase : DTAC '''

v_metric_cd = 'DB1S000702'

issue_prepaid_subbase_dtac_df = monthly_df_display.loc[monthly_df_display['METRIC_CD']==v_metric_cd]
issue_prepaid_subbase_dtac_df = issue_prepaid_subbase_dtac_df.loc[issue_prepaid_subbase_dtac_df['TM_KEY_MTH']>=202401]
issue_prepaid_subbase_dtac_df = issue_prepaid_subbase_dtac_df.sort_values(by=['TM_KEY_MTH', 'METRIC_NAME']).reset_index(drop=True)
issue_prepaid_subbase_dtac_df

Empty DataFrame
Columns: [TM_KEY_MTH, PRODUCT_GRP, METRIC_CD, METRIC_NAME, PPN_TM, ACTUAL_AS_OF, C, P, G, H, HH, DIFF (C-P)]
Index: []

In [33]:
''' Monthly : Prepaid Reported SubBase : DTAC '''

v_metric_cd = 'DB1S000700'

issue_prepaid_reported_subbase_dtac_df = monthly_df_display.loc[monthly_df_display['METRIC_CD']==v_metric_cd]
issue_prepaid_reported_subbase_dtac_df = issue_prepaid_reported_subbase_dtac_df.loc[issue_prepaid_reported_subbase_dtac_df['TM_KEY_MTH']>=202401]
issue_prepaid_reported_subbase_dtac_df = issue_prepaid_reported_subbase_dtac_df.sort_values(by=['TM_KEY_MTH', 'METRIC_NAME']).reset_index(drop=True)
issue_prepaid_reported_subbase_dtac_df

Empty DataFrame
Columns: [TM_KEY_MTH, PRODUCT_GRP, METRIC_CD, METRIC_NAME, PPN_TM, ACTUAL_AS_OF, C, P, G, H, HH, DIFF (C-P)]
Index: []

In [34]:
''' Monthly : Postpaid SubBase B2C : TMH '''

v_metric_cd = 'TB2S010602'

issue_postpaid_subbase_b2c_true_df = monthly_df_display.loc[monthly_df_display['METRIC_CD']==v_metric_cd]
issue_postpaid_subbase_b2c_true_df = issue_postpaid_subbase_b2c_true_df.loc[issue_postpaid_subbase_b2c_true_df['TM_KEY_MTH']>=202401]
issue_postpaid_subbase_b2c_true_df = issue_postpaid_subbase_b2c_true_df.sort_values(by=['TM_KEY_MTH', 'METRIC_NAME']).reset_index(drop=True)
issue_postpaid_subbase_b2c_true_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202402,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20240229,0,"8,998,482","8,998,152","8,998,139","8,998,139","-8,998,482"
1,202403,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20240331,0,"8,994,853","8,987,179","8,987,169","8,987,169","-8,994,853"
2,202404,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20240430,0,"8,996,646","8,989,810","8,989,800","8,989,800","-8,996,646"
3,202405,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20240531,0,"9,023,324","9,009,568","9,009,558","9,009,558","-9,023,324"
4,202406,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20240630,0,"9,042,184","9,041,896","9,041,886","9,041,886","-9,042,184"
5,202407,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20240731,0,"9,052,569","9,052,314","9,052,304","9,052,304","-9,052,569"
6,202408,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20240831,0,"9,061,002","9,060,761","9,060,751","9,060,751","-9,061,002"
7,202409,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20240930,0,"9,068,470","9,068,233","9,068,223","9,068,223","-9,068,470"
8,202410,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20241031,0,"9,080,143","9,079,912","9,079,902","9,079,902","-9,080,143"
9,202411,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20241130,0,"9,088,656","9,088,441","9,088,431","9,088,431","-9,088,656"
10,202412,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20241231,0,"9,102,725","9,102,514","9,102,504","9,102,504","-9,102,725"
11,202501,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20250131,0,"9,113,093","9,112,857","9,112,830","9,112,830","-9,113,093"
12,202502,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20250228,0,"9,134,551","9,134,299","9,134,283","9,134,283","-9,134,551"
13,202503,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20250331,0,"9,170,605","9,170,353","9,170,341","9,170,341","-9,170,605"
14,202504,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20250430,0,"9,194,502","9,194,222","9,194,211","9,194,211","-9,194,502"
15,202505,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20250531,0,"9,194,703","9,194,450","9,194,440","9,194,440","-9,194,703"
16,202506,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20250615,0,"9,192,892","9,186,966","9,186,956","9,186,956","-9,192,892"

In [35]:
''' Daily : Postpaid SubBase B2C : TMH '''

v_metict_cd = 'TB2S010602'
v_tm_key_mth = curr_mth
# v_tm_key_mth = prev_mth

issue_daily_post_sb_b2c_tmh_df = chk_src_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P', 'G', 'H', 'HH']].loc[chk_src_df['TM_KEY_MTH']>=v_tm_key_mth].copy()
issue_daily_post_sb_b2c_tmh_df = issue_daily_post_sb_b2c_tmh_df.loc[issue_daily_post_sb_b2c_tmh_df['METRIC_CD']==v_metict_cd]
issue_daily_post_sb_b2c_tmh_df = issue_daily_post_sb_b2c_tmh_df.sort_values(by='TM_KEY_DAY', ascending=False).reset_index(drop=True)

issue_daily_post_sb_b2c_tmh_df_display = issue_daily_post_sb_b2c_tmh_df.copy()
mod_col_list = issue_daily_post_sb_b2c_tmh_df_display.iloc[:, 6:].columns.tolist()
for col in mod_col_list:
    issue_daily_post_sb_b2c_tmh_df_display[col] = issue_daily_post_sb_b2c_tmh_df_display[col].apply(lambda x: format(x, ',.0f'))
issue_daily_post_sb_b2c_tmh_df_display

,TM_KEY_MTH,TM_KEY_DAY,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,P,G,H,HH
0,202506,20250616,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,nan,nan,nan,nan
1,202506,20250615,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,"9,192,892","9,186,966","9,186,956","9,186,956"
2,202506,20250614,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,"9,193,831","9,187,834","9,187,824","9,187,824"
3,202506,20250613,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,"9,192,614","9,187,383","9,187,373","9,187,373"
4,202506,20250612,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,"9,191,463","9,191,214","9,191,204","9,191,204"
5,202506,20250611,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,"9,190,383","9,190,135","9,190,125","9,190,125"
6,202506,20250610,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,"9,189,289","9,182,890","9,182,880","9,182,880"
7,202506,20250609,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,"9,191,612","9,191,363","9,191,353","9,191,353"
8,202506,20250608,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,"9,192,130","9,185,778","9,185,768","9,185,768"
9,202506,20250607,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,"9,192,281","9,186,494","9,186,484","9,186,484"
10,202506,20250606,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,"9,192,157","9,186,569","9,186,559","9,186,559"
11,202506,20250605,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,"9,193,029","9,186,261","9,186,251","9,186,251"
12,202506,20250604,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,"9,196,579","9,190,898","9,190,888","9,190,888"
13,202506,20250603,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,"9,196,790","9,190,225","9,190,215","9,190,215"
14,202506,20250602,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,"9,194,668","9,194,418","9,194,408","9,194,408"
15,202506,20250601,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,"9,194,914","9,194,659","9,194,649","9,194,649"

In [36]:
''' Monthly : Postpaid SubBase B2C : DTAC '''

v_metric_cd = 'DB2S010602'

issue_postpaid_subbase_b2c_dtac_df = monthly_df_display.loc[monthly_df_display['METRIC_CD']==v_metric_cd]
issue_postpaid_subbase_b2c_dtac_df = issue_postpaid_subbase_b2c_dtac_df.loc[issue_postpaid_subbase_b2c_dtac_df['TM_KEY_MTH']>=202401]
issue_postpaid_subbase_b2c_dtac_df = issue_postpaid_subbase_b2c_dtac_df.sort_values(by=['TM_KEY_MTH', 'METRIC_NAME']).reset_index(drop=True)
issue_postpaid_subbase_b2c_dtac_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202405,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20240531,0,"5,372,517","5,372,508","5,176,569",0,"-5,372,517"
1,202406,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20240630,0,"5,349,473","5,349,465","5,154,102",0,"-5,349,473"
2,202407,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20240731,0,"5,319,937","5,319,931","5,126,018","5,306,861","-5,319,937"
3,202408,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20240831,0,"5,292,344","5,292,338","5,098,221","5,279,274","-5,292,344"
4,202409,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20240930,0,"5,269,557","5,269,550","5,076,200","5,256,503","-5,269,557"
5,202410,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20241031,0,"5,241,249","5,241,245","5,049,529","5,228,437","-5,241,249"
6,202411,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20241130,0,"5,204,919","5,204,916","5,020,614","5,199,257","-5,204,919"
7,202412,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20241231,0,"5,184,717","5,184,712","5,179,054","5,179,054","-5,184,717"
8,202501,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20250131,0,"5,161,625","5,161,620","5,155,964","5,155,964","-5,161,625"
9,202502,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20250228,0,"5,138,667","5,138,664","5,133,010","5,133,010","-5,138,667"
10,202503,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20250331,0,"5,118,045","5,118,040","5,112,387","5,112,387","-5,118,045"
11,202504,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20250430,0,"5,107,328","5,107,319","5,101,667","5,101,667","-5,107,328"
12,202505,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20250531,0,"5,091,787","5,091,780","5,086,128","5,086,128","-5,091,787"
13,202506,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20250615,0,"5,082,170","5,082,166","5,076,514","5,076,514","-5,082,170"

In [37]:
''' Monthly : Postpaid 60DPD B2C : TMH '''

v_metric_cd = 'TB2S010601'

issue_postpaid_60dpd_b2c_true_df = monthly_df_display.loc[monthly_df_display['METRIC_CD']==v_metric_cd]
issue_postpaid_60dpd_b2c_true_df = issue_postpaid_60dpd_b2c_true_df.loc[issue_postpaid_60dpd_b2c_true_df['TM_KEY_MTH']>=202401]
issue_postpaid_60dpd_b2c_true_df = issue_postpaid_60dpd_b2c_true_df.sort_values(by=['TM_KEY_MTH', 'METRIC_NAME']).reset_index(drop=True)
issue_postpaid_60dpd_b2c_true_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202402,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,20240228,0,"98,379","98,376","98,376","98,376","-98,379"
1,202403,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,20240331,0,"79,598","79,593","79,593","79,593","-79,598"
2,202404,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,20240430,0,"74,373","74,372","74,372","74,372","-74,373"
3,202405,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,20240531,0,"76,251","76,251","76,251","76,251","-76,251"
4,202406,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,20240630,0,"81,727","81,725","81,725","81,725","-81,727"
5,202407,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,20240731,0,"83,942","83,940","83,940","83,940","-83,942"
6,202408,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,20240831,0,"86,053","86,053","86,053","86,053","-86,053"
7,202409,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,20240930,0,"85,778","85,777","85,777","85,777","-85,778"
8,202410,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,20241031,0,"85,630","85,630","85,630","85,630","-85,630"
9,202411,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,20241130,0,"86,769","86,769","86,769","86,769","-86,769"
10,202412,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,20241231,0,"80,142","80,142","80,142","80,142","-80,142"
11,202501,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,20250131,0,"77,812","77,812","77,812","77,812","-77,812"
12,202502,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,20250228,0,"79,516","79,515","79,515","79,515","-79,516"
13,202503,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,20250331,0,"83,785","83,785","83,785","83,785","-83,785"
14,202504,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,20250430,0,"82,035","82,033","82,033","82,033","-82,035"
15,202505,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,20250531,0,"91,079","91,077","91,077","91,077","-91,079"
16,202506,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,20250615,0,"102,463","102,461","102,461","102,461","-102,463"

In [38]:
''' Daily : Postpaid 60DPD B2C : TMH '''

v_metict_cd = 'TB2S010601'
v_tm_key_mth = curr_mth
# v_tm_key_mth = prev_mth

issue_daily_post_60dpd_b2c_tmh_df = chk_src_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P', 'G', 'H', 'HH']].loc[chk_src_df['TM_KEY_MTH']>=v_tm_key_mth].copy()
issue_daily_post_60dpd_b2c_tmh_df = issue_daily_post_60dpd_b2c_tmh_df.loc[issue_daily_post_60dpd_b2c_tmh_df['METRIC_CD']==v_metict_cd]
issue_daily_post_60dpd_b2c_tmh_df = issue_daily_post_60dpd_b2c_tmh_df.sort_values(by='TM_KEY_DAY', ascending=False).reset_index(drop=True)

issue_daily_post_60dpd_b2c_tmh_df_display = issue_daily_post_60dpd_b2c_tmh_df.copy()
mod_col_list = issue_daily_post_60dpd_b2c_tmh_df_display.iloc[:, 6:].columns.tolist()
for col in mod_col_list:
    issue_daily_post_60dpd_b2c_tmh_df_display[col] = issue_daily_post_60dpd_b2c_tmh_df_display[col].apply(lambda x: format(x, ',.0f'))
issue_daily_post_60dpd_b2c_tmh_df_display

,TM_KEY_MTH,TM_KEY_DAY,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,P,G,H,HH
0,202506,20250616,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,nan,nan,nan,nan
1,202506,20250615,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,"102,463","102,461","102,461","102,461"
2,202506,20250614,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,"96,006","96,004","96,004","96,004"
3,202506,20250613,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,"97,390","97,388","97,388","97,388"
4,202506,20250612,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,"98,626","98,624","98,624","98,624"
5,202506,20250611,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,"90,637","90,636","90,636","90,636"
6,202506,20250610,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,"91,883","91,882","91,882","91,882"
7,202506,20250609,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,"95,707","95,705","95,705","95,705"
8,202506,20250608,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,"89,461","89,459","89,459","89,459"
9,202506,20250607,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,"92,446","92,444","92,444","92,444"
10,202506,20250606,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,"94,787","94,785","94,785","94,785"
11,202506,20250605,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,"88,485","88,483","88,483","88,483"
12,202506,20250604,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,"91,944","91,942","91,942","91,942"
13,202506,20250603,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,"94,736","94,734","94,734","94,734"
14,202506,20250602,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,"85,937","85,935","85,935","85,935"
15,202506,20250601,Postpaid,TB2S010601,Postpaid 60DPD B2C : TMH,2025-06-17 00:53:59,"88,412","88,410","88,410","88,410"

In [39]:
''' Monthly : Postpaid 60DPD B2C : DTAC '''

v_metric_cd = 'DB2S010601'

issue_postpaid_60dpd_b2c_dtac_df = monthly_df_display.loc[monthly_df_display['METRIC_CD']==v_metric_cd]
issue_postpaid_60dpd_b2c_dtac_df = issue_postpaid_60dpd_b2c_dtac_df.loc[issue_postpaid_60dpd_b2c_dtac_df['TM_KEY_MTH']>=202401]
issue_postpaid_60dpd_b2c_dtac_df = issue_postpaid_60dpd_b2c_dtac_df.sort_values(by=['TM_KEY_MTH', 'METRIC_NAME']).reset_index(drop=True)
issue_postpaid_60dpd_b2c_dtac_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202405,Postpaid,DB2S010601,Postpaid 60DPD B2C : DTAC,2025-06-17 00:53:59,20240531,0,"171,764","171,687","167,980","171,687","-171,764"
1,202406,Postpaid,DB2S010601,Postpaid 60DPD B2C : DTAC,2025-06-17 00:53:59,20240630,0,"165,490","165,409","161,834","165,409","-165,490"
2,202407,Postpaid,DB2S010601,Postpaid 60DPD B2C : DTAC,2025-06-17 00:53:59,20240731,0,"163,473","163,393","159,897","163,393","-163,473"
3,202408,Postpaid,DB2S010601,Postpaid 60DPD B2C : DTAC,2025-06-17 00:53:59,20240831,0,"162,915","162,834","159,379","162,834","-162,915"
4,202409,Postpaid,DB2S010601,Postpaid 60DPD B2C : DTAC,2025-06-17 00:53:59,20240930,0,"151,412","151,333","148,074","151,333","-151,412"
5,202410,Postpaid,DB2S010601,Postpaid 60DPD B2C : DTAC,2025-06-17 00:53:59,20241031,0,"141,986","141,901","138,754","141,901","-141,986"
6,202411,Postpaid,DB2S010601,Postpaid 60DPD B2C : DTAC,2025-06-17 00:53:59,20241130,0,"133,053","132,985","129,965","132,985","-133,053"
7,202412,Postpaid,DB2S010601,Postpaid 60DPD B2C : DTAC,2025-06-17 00:53:59,20241231,0,"128,744","128,678","125,779","128,678","-128,744"
8,202501,Postpaid,DB2S010601,Postpaid 60DPD B2C : DTAC,2025-06-17 00:53:59,20250131,0,"127,686","127,622","124,809","127,622","-127,686"
9,202502,Postpaid,DB2S010601,Postpaid 60DPD B2C : DTAC,2025-06-17 00:53:59,20250228,0,"124,747","124,684","124,684","124,684","-124,747"
10,202503,Postpaid,DB2S010601,Postpaid 60DPD B2C : DTAC,2025-06-17 00:53:59,20250331,0,"120,053","119,988","119,988","119,988","-120,053"
11,202504,Postpaid,DB2S010601,Postpaid 60DPD B2C : DTAC,2025-06-17 00:53:59,20250430,0,"118,949","118,885","118,885","118,885","-118,949"
12,202505,Postpaid,DB2S010601,Postpaid 60DPD B2C : DTAC,2025-06-17 00:53:59,20250531,0,"125,707","125,643","125,643","125,643","-125,707"
13,202506,Postpaid,DB2S010601,Postpaid 60DPD B2C : DTAC,2025-06-17 00:53:59,20250615,0,"126,936","126,872","126,872","126,872","-126,936"

In [40]:
''' Monthly : Postpaid Reported SubBase B2C : TMH '''

v_metric_cd = 'TB2S010600'

issue_postpaid_reported_subbase_b2c_true_df = monthly_df_display.loc[monthly_df_display['METRIC_CD']==v_metric_cd]
issue_postpaid_reported_subbase_b2c_true_df = issue_postpaid_reported_subbase_b2c_true_df.loc[issue_postpaid_reported_subbase_b2c_true_df['TM_KEY_MTH']>=202401]
issue_postpaid_reported_subbase_b2c_true_df = issue_postpaid_reported_subbase_b2c_true_df.sort_values(by=['TM_KEY_MTH', 'METRIC_NAME']).reset_index(drop=True)
issue_postpaid_reported_subbase_b2c_true_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202402,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20240229,0,"8,998,482","8,998,152","8,998,139","8,998,139","-8,998,482"
1,202403,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20240331,0,"8,994,853","8,987,179","8,987,169","8,987,169","-8,994,853"
2,202404,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20240430,0,"8,996,646","8,989,810","8,989,800","8,989,800","-8,996,646"
3,202405,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20240531,0,"9,023,324","9,009,568","9,009,558","9,009,558","-9,023,324"
4,202406,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20240630,0,"9,042,184","9,041,896","9,041,886","9,041,886","-9,042,184"
5,202407,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20240731,0,"9,052,569","9,052,314","9,052,304","9,052,304","-9,052,569"
6,202408,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20240831,0,"9,061,002","9,060,761","9,060,751","9,060,751","-9,061,002"
7,202409,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20240930,0,"9,068,470","9,068,233","9,068,223","9,068,223","-9,068,470"
8,202410,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20241031,0,"9,080,143","9,079,912","9,079,902","9,079,902","-9,080,143"
9,202411,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20241130,0,"9,088,656","9,088,441","9,088,431","9,088,431","-9,088,656"
10,202412,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20241231,0,"9,102,725","9,102,514","9,102,504","9,102,504","-9,102,725"
11,202501,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20250131,0,"9,035,281","9,035,045","9,035,018","9,035,018","-9,035,281"
12,202502,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20250228,0,"9,055,035","9,054,784","9,054,768","9,054,768","-9,055,035"
13,202503,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20250331,0,"9,086,820","9,086,568","9,086,556","9,086,556","-9,086,820"
14,202504,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20250430,0,"9,112,467","9,112,189","9,112,178","9,112,178","-9,112,467"
15,202505,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20250531,0,"9,103,624","9,103,373","9,103,363","9,103,363","-9,103,624"
16,202506,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20250615,0,"9,090,429","9,084,505","9,084,495","9,084,495","-9,090,429"

In [41]:
''' Monthly : Postpaid Reported SubBase B2C : DTAC '''

v_metric_cd = 'DB2S010600'

issue_postpaid_reported_subbase_b2c_dtac_df = monthly_df_display.loc[monthly_df_display['METRIC_CD']==v_metric_cd]
issue_postpaid_reported_subbase_b2c_dtac_df = issue_postpaid_reported_subbase_b2c_dtac_df.loc[issue_postpaid_reported_subbase_b2c_dtac_df['TM_KEY_MTH']>=202401]
issue_postpaid_reported_subbase_b2c_dtac_df = issue_postpaid_reported_subbase_b2c_dtac_df.sort_values(by=['TM_KEY_MTH', 'METRIC_NAME']).reset_index(drop=True)
issue_postpaid_reported_subbase_b2c_dtac_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202406,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20240630,0,"5,183,983","5,170,964","4,992,268","5,170,964","-5,183,983"
1,202407,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20240731,0,"5,156,464","5,143,468","4,966,121","5,143,468","-5,156,464"
2,202408,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20240831,0,"5,129,429","5,116,440","4,938,842","5,116,440","-5,129,429"
3,202409,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20240930,0,"5,118,145","5,105,170","4,928,126","5,105,170","-5,118,145"
4,202410,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20241031,0,"5,099,263","5,086,536","4,910,775","5,086,536","-5,099,263"
5,202411,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20241130,0,"5,071,866","5,066,272","4,890,649","5,066,272","-5,071,866"
6,202412,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20241231,0,"5,055,973","5,050,376","4,874,826","5,050,376","-5,055,973"
7,202501,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20250131,0,"5,033,939","5,028,342","4,854,928","5,028,342","-5,033,939"
8,202502,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20250228,0,"5,013,920","5,008,326","5,008,326","5,008,326","-5,013,920"
9,202503,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20250331,0,"4,997,992","4,992,399","4,992,399","4,992,399","-4,997,992"
10,202504,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20250430,0,"4,988,379","4,982,782","4,982,782","4,982,782","-4,988,379"
11,202505,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20250531,0,"4,966,080","4,960,485","4,960,485","4,960,485","-4,966,080"
12,202506,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20250614,0,"4,954,373","4,948,780","4,948,780","4,948,780","-4,954,373"