# * VINSIGHT : Subscriber
    Reported SubBase Pre & Post(ไม่รวม FTTx) มาจากพี่เอ้รัน Script พี่หนุ่ย นอกนั้นมาจากพี่เอก เช่น SubBase, 60DPD, Gain/Loss 60DPD
    Prepaid Active Caller : TMH เริ่มตั้งแต่ May2024++

In [1]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

## Import Transaction

In [2]:
''' Execute transaction '''


# Input parameter
v_start_date = 20240101
print(f'\nParameter input...')
print(f'   -> v_start_date: {v_start_date}')

curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
print(f'\nData as of {curr_datetime}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        TM_KEY_YR, TM_KEY_QTR, TM_KEY_MTH, TM_KEY_WK, TM_KEY_DAY, PRODUCT_GRP, COMP_CD, METRIC_CD, METRIC_NAME --, AREA_TYPE, AREA_CD, AREA_NAME
        , MAX(ACTUAL_AS_OF) ACTUAL_AS_OF
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN ACTUAL_SNAP END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN ACTUAL_SNAP END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN ACTUAL_SNAP END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN ACTUAL_SNAP END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN ACTUAL_SNAP END) HH
        , MAX(PPN_TM) PPN_TM
    FROM GEOSPCAPPO.AGG_PERF_NEWCO
    WHERE METRIC_CD IN (
        'B1S000500' --Prepaid Usage Subs
        , 'TB1S000500' --Prepaid Usage Subs : TMH
        , 'DB1S000500' --Prepaid Usage Subs : DTAC
        , 'B1S000600' --Prepaid Active Caller 30D Rolling
        , 'TB1S000600' --Prepaid Active Caller 30D Rolling : TMH
        , 'DB1S000600' --Prepaid Active Caller 30D Rolling : DTAC
        , 'B1S000702' --Prepaid SubBase
        , 'DB1S000702' --Prepaid SubBase : DTAC
        , 'TB1S000702' --Prepaid SubBase : TMH
        , 'B1S000700' --Prepaid Reported SubBase
        , 'DB1S000700' --Prepaid Reported SubBase : DTAC
        , 'TB1S000700' --Prepaid Reported SubBase : TMH
        
        , 'B2S010602' --Postpaid SubBase B2C
        , 'DB2S010602' --Postpaid SubBase B2C : DTAC
        , 'TB2S010602' --Postpaid SubBase B2C : TMH
        , 'B2S010600' --Postpaid Reported SubBase B2C
        , 'DB2S010600' --Postpaid Reported SubBase B2C : DTAC
        , 'TB2S010600' --Postpaid Reported SubBase B2C : TMH
        
        , 'TB3S020604' --FTTx SubBase
        , 'TB3S000600' --FTTx Reported SubBase

        , 'TB4S000500' --TVS Active Subs
        )
    AND AREA_TYPE IN ('C','P','G','H','HH')
    --AND TM_KEY_DAY IN (20240131, 20240229, 20240331, 20240430, 20240531, 20240630, 20240731, 20240831, 20240930, 20241031, 20241130, 20241231, 20250131, 20250228, 20250331) -->> Year 2024
    --AND TM_KEY_DAY IN (20250131, 20250228, 20250331, 20250430, 20250531) -->> Year 2025
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY TM_KEY_YR, TM_KEY_QTR, TM_KEY_MTH, TM_KEY_WK, TM_KEY_DAY, PRODUCT_GRP, COMP_CD, METRIC_CD, METRIC_NAME
    --ORDER BY TM_KEY_MTH, TM_KEY_DAY, PRODUCT_GRP, COMP_CD, METRIC_CD
""")


try:
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])

    print(f'\nDataFrame: {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')
    
    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()

Parameter input...
   -> v_start_date: 20240101

Data as of 2025-06-17, 10:37:08

DataFrame: 9061 rows, 16 columns

In [3]:
''' Automate Currently Period '''

curr_yr = chk_src_df['TM_KEY_YR'].max()
prev_yr = chk_src_df['TM_KEY_YR'].drop_duplicates().sort_values().shift().max().astype(int)

curr_qtr = chk_src_df['TM_KEY_QTR'].max()
prev_qtr = chk_src_df['TM_KEY_QTR'].drop_duplicates().sort_values().shift().max().astype(int)

curr_mth = chk_src_df['TM_KEY_MTH'].max()
prev_mth = chk_src_df['TM_KEY_MTH'].drop_duplicates().sort_values().shift().max().astype(int)

curr_wk = chk_src_df['TM_KEY_WK'].max()
prev_wk = chk_src_df['TM_KEY_WK'].drop_duplicates().sort_values().shift().max().astype(int)
last_3_wk = chk_src_df['TM_KEY_WK'].drop_duplicates().sort_values().shift(3).max().astype(int)

# curr_day = chk_src_df.loc[chk_src_df['ACTUAL_SNAP'] > 0]['ACTUAL_AS_OF'].max().astype(int)
# prev_day = chk_src_df.loc[chk_src_df['ACTUAL_SNAP'] > 0]['ACTUAL_AS_OF'].drop_duplicates().shift().max().astype(int)

## Overview by Period

In [4]:
''' Subscriber Yearly '''

v_metric_list = [
    'B1S000600' #Prepaid Active Caller 30D Rolling
    , 'TB1S000600' #Prepaid Active Caller 30D Rolling : TMH
    , 'DB1S000600' #Prepaid Active Caller 30D Rolling : DTAC
    , 'B2S010600' #Postpaid Reported SubBase B2C
    , 'TB2S010600' #Postpaid Reported SubBase B2C : TMH
    , 'DB2S010600' #Postpaid Reported SubBase B2C : DTAC
    , 'TB3S000600' #FTTx Reported SubBase
	, 'TB4S000500' #TVS Active Subs
    ]

sub_yearly_df = chk_src_df.loc[chk_src_df['TM_KEY_DAY']==chk_src_df.groupby(['TM_KEY_YR', 'METRIC_CD'])['ACTUAL_AS_OF'].transform('max')].copy() # ACTUAL_AGG_YR
sub_yearly_df = sub_yearly_df[['TM_KEY_YR', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']]
sub_yearly_df = sub_yearly_df.loc[sub_yearly_df['METRIC_CD'].isin(v_metric_list)]

sub_yearly_df['PRE_CALL_30D'] = np.where(sub_yearly_df['METRIC_CD']=='B1S000600', sub_yearly_df['P'], 0)
sub_yearly_df['PRE_CALL_30D_T'] = np.where(sub_yearly_df['METRIC_CD']=='TB1S000600', sub_yearly_df['P'], 0)
sub_yearly_df['PRE_CALL_30D_D'] = np.where(sub_yearly_df['METRIC_CD']=='DB1S000600', sub_yearly_df['P'], 0)
sub_yearly_df['POST_RPT_SUB_B2C'] = np.where(sub_yearly_df['METRIC_CD']=='B2S010600', sub_yearly_df['P'], 0)
sub_yearly_df['POST_RPT_SUB_B2C_T'] = np.where(sub_yearly_df['METRIC_CD']=='TB2S010600', sub_yearly_df['P'], 0)
sub_yearly_df['POST_RPT_SUB_B2C_D'] = np.where(sub_yearly_df['METRIC_CD']=='DB2S010600', sub_yearly_df['P'], 0)
sub_yearly_df['TOL_RPT_SUB'] = np.where(sub_yearly_df['METRIC_CD']=='TB3S000600', sub_yearly_df['P'], 0)
sub_yearly_df['TVS_ACTV_SUB'] = np.where(sub_yearly_df['METRIC_CD']=='TB4S000500', sub_yearly_df['P'], 0)

sub_yearly_df = sub_yearly_df.groupby('TM_KEY_YR').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'PRE_CALL_30D':'sum', 'PRE_CALL_30D_T':'sum', 'PRE_CALL_30D_D':'sum', 'POST_RPT_SUB_B2C':'sum', 'POST_RPT_SUB_B2C_T':'sum', 'POST_RPT_SUB_B2C_D':'sum', 'TOL_RPT_SUB':'sum', 'TVS_ACTV_SUB':'sum'})
sub_yearly_df = sub_yearly_df.fillna(0).sort_values(by=['TM_KEY_YR']).reset_index()
sub_yearly_df = sub_yearly_df[['TM_KEY_YR', 'PPN_TM', 'ACTUAL_AS_OF', 'PRE_CALL_30D', 'PRE_CALL_30D_T', 'PRE_CALL_30D_D', 'POST_RPT_SUB_B2C', 'POST_RPT_SUB_B2C_T', 'POST_RPT_SUB_B2C_D', 'TOL_RPT_SUB', 'TVS_ACTV_SUB']]

sub_yearly_df_display = sub_yearly_df.copy()
sub_yearly_df_display['ACTUAL_AS_OF'] = sub_yearly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = sub_yearly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    sub_yearly_df_display[col] = sub_yearly_df_display[col].apply(lambda x: format(x, ',.0f'))
sub_yearly_df_display

,TM_KEY_YR,PPN_TM,ACTUAL_AS_OF,PRE_CALL_30D,PRE_CALL_30D_T,PRE_CALL_30D_D,POST_RPT_SUB_B2C,POST_RPT_SUB_B2C_T,POST_RPT_SUB_B2C_D,TOL_RPT_SUB,TVS_ACTV_SUB
0,2024,2025-06-17 00:53:59,20241231,"28,100,141","17,769,553","10,330,588","14,158,698","9,102,725","5,055,973","3,154,889","1,180,410"
1,2025,2025-06-17 00:53:59,20250615,"26,334,422","16,465,551","9,854,965","14,052,198","9,090,429","4,954,373","3,204,933","1,119,850"

In [5]:
''' Subscriber Quarterly '''

v_metric_list = [
    'B1S000600' #Prepaid Active Caller 30D Rolling
    , 'TB1S000600' #Prepaid Active Caller 30D Rolling : TMH
    , 'DB1S000600' #Prepaid Active Caller 30D Rolling : DTAC
    , 'B2S010600' #Postpaid Reported SubBase B2C
    , 'TB2S010600' #Postpaid Reported SubBase B2C : TMH
    , 'DB2S010600' #Postpaid Reported SubBase B2C : DTAC
    , 'TB3S000600' #FTTx Reported SubBase
	, 'TB4S000500' #TVS Active Subs
    ]

sub_quarterly_df = chk_src_df.loc[chk_src_df['TM_KEY_DAY']==chk_src_df.groupby(['TM_KEY_QTR', 'METRIC_CD'])['ACTUAL_AS_OF'].transform('max')].copy() # ACTUAL_AGG_QTR
sub_quarterly_df = sub_quarterly_df[['TM_KEY_QTR', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']]
sub_quarterly_df = sub_quarterly_df.loc[sub_quarterly_df['METRIC_CD'].isin(v_metric_list)]

sub_quarterly_df['PRE_CALL_30D'] = np.where(sub_quarterly_df['METRIC_CD']=='B1S000600', sub_quarterly_df['P'], 0)
sub_quarterly_df['PRE_CALL_30D_T'] = np.where(sub_quarterly_df['METRIC_CD']=='TB1S000600', sub_quarterly_df['P'], 0)
sub_quarterly_df['PRE_CALL_30D_D'] = np.where(sub_quarterly_df['METRIC_CD']=='DB1S000600', sub_quarterly_df['P'], 0)
sub_quarterly_df['POST_RPT_SUB_B2C'] = np.where(sub_quarterly_df['METRIC_CD']=='B2S010600', sub_quarterly_df['P'], 0)
sub_quarterly_df['POST_RPT_SUB_B2C_T'] = np.where(sub_quarterly_df['METRIC_CD']=='TB2S010600', sub_quarterly_df['P'], 0)
sub_quarterly_df['POST_RPT_SUB_B2C_D'] = np.where(sub_quarterly_df['METRIC_CD']=='DB2S010600', sub_quarterly_df['P'], 0)
sub_quarterly_df['TOL_RPT_SUB'] = np.where(sub_quarterly_df['METRIC_CD']=='TB3S000600', sub_quarterly_df['P'], 0)
sub_quarterly_df['TVS_ACTV_SUB'] = np.where(sub_quarterly_df['METRIC_CD']=='TB4S000500', sub_quarterly_df['P'], 0)

sub_quarterly_df = sub_quarterly_df.groupby('TM_KEY_QTR').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'PRE_CALL_30D':'sum', 'PRE_CALL_30D_T':'sum', 'PRE_CALL_30D_D':'sum', 'POST_RPT_SUB_B2C':'sum', 'POST_RPT_SUB_B2C_T':'sum', 'POST_RPT_SUB_B2C_D':'sum', 'TOL_RPT_SUB':'sum', 'TVS_ACTV_SUB':'sum'})
sub_quarterly_df = sub_quarterly_df.fillna(0).sort_values(by=['TM_KEY_QTR']).reset_index()
sub_quarterly_df = sub_quarterly_df[['TM_KEY_QTR', 'PPN_TM', 'ACTUAL_AS_OF', 'PRE_CALL_30D', 'PRE_CALL_30D_T', 'PRE_CALL_30D_D', 'POST_RPT_SUB_B2C', 'POST_RPT_SUB_B2C_T', 'POST_RPT_SUB_B2C_D', 'TOL_RPT_SUB', 'TVS_ACTV_SUB']]

sub_quarterly_df_display = sub_quarterly_df.copy()
sub_quarterly_df_display['ACTUAL_AS_OF'] = sub_quarterly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = sub_quarterly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    sub_quarterly_df_display[col] = sub_quarterly_df_display[col].apply(lambda x: format(x, ',.0f'))
sub_quarterly_df_display

,TM_KEY_QTR,PPN_TM,ACTUAL_AS_OF,PRE_CALL_30D,PRE_CALL_30D_T,PRE_CALL_30D_D,POST_RPT_SUB_B2C,POST_RPT_SUB_B2C_T,POST_RPT_SUB_B2C_D,TOL_RPT_SUB,TVS_ACTV_SUB
0,20241,2025-06-17 00:53:59,20240331,0,0,"10,558,566",0,"8,994,853",0,"3,090,287","1,258,065"
1,20242,2025-06-17 00:53:59,20240630,"27,800,517","17,313,488","10,487,029","14,226,167","9,042,184","5,183,983","3,107,084","1,236,606"
2,20243,2025-06-17 00:53:59,20240930,"27,505,003","17,190,424","10,314,579","14,186,615","9,068,470","5,118,145","3,127,304","1,205,116"
3,20244,2025-06-17 00:53:59,20241231,"28,100,141","17,769,553","10,330,588","14,158,698","9,102,725","5,055,973","3,154,889","1,180,410"
4,20251,2025-06-17 00:53:59,20250331,"27,140,083","17,215,465","9,924,618","14,084,812","9,086,820","4,997,992","3,187,717","1,153,137"
5,20252,2025-06-17 00:53:59,20250615,"26,334,422","16,465,551","9,854,965","14,052,198","9,090,429","4,954,373","3,204,933","1,119,850"

In [6]:
''' Subscriber Monthly '''

# v_tm_key_yr = curr_yr
v_tm_key_yr = prev_yr

v_metric_list = [
    'B1S000600' #Prepaid Active Caller 30D Rolling
    , 'TB1S000600' #Prepaid Active Caller 30D Rolling : TMH
    , 'DB1S000600' #Prepaid Active Caller 30D Rolling : DTAC
    , 'B2S010600' #Postpaid Reported SubBase B2C
    , 'TB2S010600' #Postpaid Reported SubBase B2C : TMH
    , 'DB2S010600' #Postpaid Reported SubBase B2C : DTAC
    , 'TB3S000600' #FTTx Reported SubBase
	, 'TB4S000500' #TVS Active Subs
    ]

sub_monthly_df = chk_src_df.loc[chk_src_df['TM_KEY_DAY']==chk_src_df.groupby(['TM_KEY_MTH', 'METRIC_CD'])['ACTUAL_AS_OF'].transform('max')].copy() # ACTUAL_AGG_MTH
sub_monthly_df = sub_monthly_df[['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']].loc[chk_src_df['TM_KEY_YR']>=v_tm_key_yr]
sub_monthly_df = sub_monthly_df.loc[sub_monthly_df['METRIC_CD'].isin(v_metric_list)]

sub_monthly_df['PRE_CALL_30D'] = np.where(sub_monthly_df['METRIC_CD']=='B1S000600', sub_monthly_df['P'], 0)
sub_monthly_df['PRE_CALL_30D_T'] = np.where(sub_monthly_df['METRIC_CD']=='TB1S000600', sub_monthly_df['P'], 0)
sub_monthly_df['PRE_CALL_30D_D'] = np.where(sub_monthly_df['METRIC_CD']=='DB1S000600', sub_monthly_df['P'], 0)
sub_monthly_df['POST_RPT_SUB_B2C'] = np.where(sub_monthly_df['METRIC_CD']=='B2S010600', sub_monthly_df['P'], 0)
sub_monthly_df['POST_RPT_SUB_B2C_T'] = np.where(sub_monthly_df['METRIC_CD']=='TB2S010600', sub_monthly_df['P'], 0)
sub_monthly_df['POST_RPT_SUB_B2C_D'] = np.where(sub_monthly_df['METRIC_CD']=='DB2S010600', sub_monthly_df['P'], 0)
sub_monthly_df['TOL_RPT_SUB'] = np.where(sub_monthly_df['METRIC_CD']=='TB3S000600', sub_monthly_df['P'], 0)
sub_monthly_df['TVS_ACTV_SUB'] = np.where(sub_monthly_df['METRIC_CD']=='TB4S000500', sub_monthly_df['P'], 0)

sub_monthly_df = sub_monthly_df.groupby('TM_KEY_MTH').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'PRE_CALL_30D':'sum', 'PRE_CALL_30D_T':'sum', 'PRE_CALL_30D_D':'sum', 'POST_RPT_SUB_B2C':'sum', 'POST_RPT_SUB_B2C_T':'sum', 'POST_RPT_SUB_B2C_D':'sum', 'TOL_RPT_SUB':'sum', 'TVS_ACTV_SUB':'sum'})
sub_monthly_df = sub_monthly_df.fillna(0).sort_values(by=['TM_KEY_MTH']).reset_index()
sub_monthly_df = sub_monthly_df[['TM_KEY_MTH', 'PPN_TM', 'ACTUAL_AS_OF', 'PRE_CALL_30D', 'PRE_CALL_30D_T', 'PRE_CALL_30D_D', 'POST_RPT_SUB_B2C', 'POST_RPT_SUB_B2C_T', 'POST_RPT_SUB_B2C_D', 'TOL_RPT_SUB', 'TVS_ACTV_SUB']]

sub_monthly_df_display = sub_monthly_df.copy()
sub_monthly_df_display['ACTUAL_AS_OF'] = sub_monthly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = sub_monthly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    sub_monthly_df_display[col] = sub_monthly_df_display[col].apply(lambda x: format(x, ',.0f'))
sub_monthly_df_display

,TM_KEY_MTH,PPN_TM,ACTUAL_AS_OF,PRE_CALL_30D,PRE_CALL_30D_T,PRE_CALL_30D_D,POST_RPT_SUB_B2C,POST_RPT_SUB_B2C_T,POST_RPT_SUB_B2C_D,TOL_RPT_SUB,TVS_ACTV_SUB
0,202401,2025-06-17 00:53:59,20240131,0,0,"10,612,127",0,0,0,0,"1,280,972"
1,202402,2025-06-17 00:53:59,20240229,0,0,"10,729,197",0,"8,998,482",0,"3,084,265","1,269,692"
2,202403,2025-06-17 00:53:59,20240331,0,0,"10,558,566",0,"8,994,853",0,"3,090,287","1,258,065"
3,202404,2025-06-17 00:53:59,20240430,0,0,"10,637,624",0,"8,996,646",0,"3,091,767","1,249,008"
4,202405,2025-06-17 00:53:59,20240531,"28,022,052","17,391,242","10,630,810",0,"9,023,324",0,"3,098,514","1,245,639"
5,202406,2025-06-17 00:53:59,20240630,"27,800,517","17,313,488","10,487,029","14,226,167","9,042,184","5,183,983","3,107,084","1,236,606"
6,202407,2025-06-17 00:53:59,20240731,"27,805,282","17,342,927","10,462,355","14,209,033","9,052,569","5,156,464","3,114,835","1,226,581"
7,202408,2025-06-17 00:53:59,20240831,"27,664,960","17,247,805","10,417,155","14,190,431","9,061,002","5,129,429","3,122,029","1,214,582"
8,202409,2025-06-17 00:53:59,20240930,"27,505,003","17,190,424","10,314,579","14,186,615","9,068,470","5,118,145","3,127,304","1,205,116"
9,202410,2025-06-17 00:53:59,20241031,"27,425,422","17,195,820","10,229,602","14,179,406","9,080,143","5,099,263","3,134,367","1,195,552"
10,202411,2025-06-17 00:53:59,20241130,"27,495,778","17,253,443","10,242,335","14,160,522","9,088,656","5,071,866","3,138,845","1,186,077"
11,202412,2025-06-17 00:53:59,20241231,"28,100,141","17,769,553","10,330,588","14,158,698","9,102,725","5,055,973","3,154,889","1,180,410"
12,202501,2025-06-17 00:53:59,20250131,"27,745,939","17,344,294","10,401,645","14,069,220","9,035,281","5,033,939","3,163,192","1,170,444"
13,202502,2025-06-17 00:53:59,20250228,"27,605,672","17,424,676","10,180,996","14,068,955","9,055,035","5,013,920","3,172,770","1,163,299"
14,202503,2025-06-17 00:53:59,20250331,"27,140,083","17,215,465","9,924,618","14,084,812","9,086,820","4,997,992","3,187,717","1,153,137"
15,202504,2025-06-17 00:53:59,20250430,"26,599,795","16,756,309","9,843,486","14,100,846","9,112,467","4,988,379","3,191,503","1,141,576"
16,202505,2025-06-17 00:53:59,20250531,"26,495,600","16,588,955","9,906,645","14,069,704","9,103,624","4,966,080","3,203,127","1,129,379"
17,202506,2025-06-17 00:53:59,20250615,"26,334,422","16,465,551","9,854,965","14,052,198","9,090,429","4,954,373","3,204,933","1,119,850"

In [7]:
''' Subscriber Weekly '''

# v_tm_key_mth = curr_mth
v_tm_key_mth = prev_mth

v_metric_list = [
    'B1S000600' #Prepaid Active Caller 30D Rolling
    , 'TB1S000600' #Prepaid Active Caller 30D Rolling : TMH
    , 'DB1S000600' #Prepaid Active Caller 30D Rolling : DTAC
    , 'B2S010600' #Postpaid Reported SubBase B2C
    , 'TB2S010600' #Postpaid Reported SubBase B2C : TMH
    , 'DB2S010600' #Postpaid Reported SubBase B2C : DTAC
    , 'TB3S000600' #FTTx Reported SubBase
	, 'TB4S000500' #TVS Active Subs
    ]

sub_weekly_df = chk_src_df.loc[chk_src_df['TM_KEY_DAY']==chk_src_df.groupby(['TM_KEY_WK', 'METRIC_CD'])['ACTUAL_AS_OF'].transform('max')].copy() # ACTUAL_AGG_WK
sub_weekly_df = sub_weekly_df[['TM_KEY_WK', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'P']].loc[chk_src_df['TM_KEY_MTH']>=prev_mth]
sub_weekly_df = sub_weekly_df.loc[sub_weekly_df['METRIC_CD'].isin(v_metric_list)]

sub_weekly_df['PRE_CALL_30D'] = np.where(sub_weekly_df['METRIC_CD']=='B1S000600', sub_weekly_df['P'], 0)
sub_weekly_df['PRE_CALL_30D_T'] = np.where(sub_weekly_df['METRIC_CD']=='TB1S000600', sub_weekly_df['P'], 0)
sub_weekly_df['PRE_CALL_30D_D'] = np.where(sub_weekly_df['METRIC_CD']=='DB1S000600', sub_weekly_df['P'], 0)
sub_weekly_df['POST_RPT_SUB_B2C'] = np.where(sub_weekly_df['METRIC_CD']=='B2S010600', sub_weekly_df['P'], 0)
sub_weekly_df['POST_RPT_SUB_B2C_T'] = np.where(sub_weekly_df['METRIC_CD']=='TB2S010600', sub_weekly_df['P'], 0)
sub_weekly_df['POST_RPT_SUB_B2C_D'] = np.where(sub_weekly_df['METRIC_CD']=='DB2S010600', sub_weekly_df['P'], 0)
sub_weekly_df['TOL_RPT_SUB'] = np.where(sub_weekly_df['METRIC_CD']=='TB3S000600', sub_weekly_df['P'], 0)
sub_weekly_df['TVS_ACTV_SUB'] = np.where(sub_weekly_df['METRIC_CD']=='TB4S000500', sub_weekly_df['P'], 0)

sub_weekly_df = sub_weekly_df.groupby('TM_KEY_WK').agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'PRE_CALL_30D':'sum', 'PRE_CALL_30D_T':'sum', 'PRE_CALL_30D_D':'sum', 'POST_RPT_SUB_B2C':'sum', 'POST_RPT_SUB_B2C_T':'sum', 'POST_RPT_SUB_B2C_D':'sum', 'TOL_RPT_SUB':'sum', 'TVS_ACTV_SUB':'sum'})
sub_weekly_df = sub_weekly_df.fillna(0).sort_values(by=['TM_KEY_WK']).reset_index()
sub_weekly_df = sub_weekly_df[['TM_KEY_WK', 'PPN_TM', 'ACTUAL_AS_OF', 'PRE_CALL_30D', 'PRE_CALL_30D_T', 'PRE_CALL_30D_D', 'POST_RPT_SUB_B2C', 'POST_RPT_SUB_B2C_T', 'POST_RPT_SUB_B2C_D', 'TOL_RPT_SUB', 'TVS_ACTV_SUB']]

sub_weekly_df_display = sub_weekly_df.copy()
sub_weekly_df_display['ACTUAL_AS_OF'] = sub_weekly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = sub_weekly_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    sub_weekly_df_display[col] = sub_weekly_df_display[col].apply(lambda x: format(x, ',.0f'))
sub_weekly_df_display

,TM_KEY_WK,PPN_TM,ACTUAL_AS_OF,PRE_CALL_30D,PRE_CALL_30D_T,PRE_CALL_30D_D,POST_RPT_SUB_B2C,POST_RPT_SUB_B2C_T,POST_RPT_SUB_B2C_D,TOL_RPT_SUB,TVS_ACTV_SUB
0,2025018,2025-06-17 00:53:59,20250504,"26,620,185","16,787,035","9,833,150","14,097,392","9,110,307","4,987,085","3,188,949","1,140,439"
1,2025019,2025-06-17 00:53:59,20250511,"26,563,921","16,739,366","9,824,555","14,097,206","9,115,893","4,981,313","3,192,380","1,136,865"
2,2025020,2025-06-17 00:53:59,20250518,"26,630,346","16,788,017","9,842,329","14,080,377","9,105,695","4,974,682","3,191,938","1,134,057"
3,2025021,2025-06-17 00:53:59,20250525,"26,626,276","16,738,708","9,887,568","14,068,090","9,102,460","4,965,630","3,193,370","1,131,955"
4,2025022,2025-06-17 00:53:59,20250601,"26,438,734","16,530,315","9,908,419","14,073,719","9,106,502","4,967,217","3,205,472","1,128,753"
5,2025023,2025-06-17 00:53:59,20250608,"26,362,107","16,469,398","9,892,709","14,064,757","9,102,669","4,962,088","3,202,722","1,126,877"
6,2025024,2025-06-17 00:53:59,20250615,"26,334,422","16,465,551","9,854,965","14,052,198","9,090,429","4,954,373","3,204,933","1,119,850"

In [8]:
''' Subscriber Daily '''

# v_tm_key_mth = curr_mth
v_tm_key_mth = prev_mth

v_metric_list = [
    'B1S000600' #Prepaid Active Caller 30D Rolling
    , 'TB1S000600' #Prepaid Active Caller 30D Rolling : TMH
    , 'DB1S000600' #Prepaid Active Caller 30D Rolling : DTAC
    , 'B2S010600' #Postpaid Reported SubBase B2C
    , 'TB2S010600' #Postpaid Reported SubBase B2C : TMH
    , 'DB2S010600' #Postpaid Reported SubBase B2C : DTAC
    , 'TB3S000600' #FTTx Reported SubBase
	, 'TB4S000500' #TVS Active Subs
    ]

sub_daily_df = chk_src_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P']].loc[chk_src_df['TM_KEY_MTH']>=prev_mth].copy()
sub_daily_df = sub_daily_df.loc[sub_daily_df['METRIC_CD'].isin(v_metric_list)]

sub_daily_df['PRE_CALL_30D'] = np.where(sub_daily_df['METRIC_CD']=='B1S000600', sub_daily_df['P'], 0)
sub_daily_df['PRE_CALL_30D_T'] = np.where(sub_daily_df['METRIC_CD']=='TB1S000600', sub_daily_df['P'], 0)
sub_daily_df['PRE_CALL_30D_D'] = np.where(sub_daily_df['METRIC_CD']=='DB1S000600', sub_daily_df['P'], 0)
sub_daily_df['POST_RPT_SUB_B2C'] = np.where(sub_daily_df['METRIC_CD']=='B2S010600', sub_daily_df['P'], 0)
sub_daily_df['POST_RPT_SUB_B2C_T'] = np.where(sub_daily_df['METRIC_CD']=='TB2S010600', sub_daily_df['P'], 0)
sub_daily_df['POST_RPT_SUB_B2C_D'] = np.where(sub_daily_df['METRIC_CD']=='DB2S010600', sub_daily_df['P'], 0)
sub_daily_df['TOL_RPT_SUB'] = np.where(sub_daily_df['METRIC_CD']=='TB3S000600', sub_daily_df['P'], 0)
sub_daily_df['TVS_ACTV_SUB'] = np.where(sub_daily_df['METRIC_CD']=='TB4S000500', sub_daily_df['P'], 0)

sub_daily_df = sub_daily_df.groupby(['TM_KEY_MTH', 'TM_KEY_DAY']).agg({'PPN_TM':'max', 'PRE_CALL_30D':'sum', 'PRE_CALL_30D_T':'sum', 'PRE_CALL_30D_D':'sum', 'POST_RPT_SUB_B2C':'sum', 'POST_RPT_SUB_B2C_T':'sum', 'POST_RPT_SUB_B2C_D':'sum', 'TOL_RPT_SUB':'sum', 'TVS_ACTV_SUB':'sum'})
sub_daily_df = sub_daily_df.fillna(0).sort_values(by=['TM_KEY_DAY'], ascending=False).reset_index()
sub_daily_df = sub_daily_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PPN_TM', 'PRE_CALL_30D', 'PRE_CALL_30D_T', 'PRE_CALL_30D_D', 'POST_RPT_SUB_B2C', 'POST_RPT_SUB_B2C_T', 'POST_RPT_SUB_B2C_D', 'TOL_RPT_SUB', 'TVS_ACTV_SUB']]

sub_daily_df_display = sub_daily_df.copy()
mod_col_list = sub_daily_df_display.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    sub_daily_df_display[col] = sub_daily_df_display[col].apply(lambda x: format(x, ',.0f'))
sub_daily_df_display

,TM_KEY_MTH,TM_KEY_DAY,PPN_TM,PRE_CALL_30D,PRE_CALL_30D_T,PRE_CALL_30D_D,POST_RPT_SUB_B2C,POST_RPT_SUB_B2C_T,POST_RPT_SUB_B2C_D,TOL_RPT_SUB,TVS_ACTV_SUB
0,202506,20250616,2025-06-17 00:53:59,0,0,0,0,0,0,0,0
1,202506,20250615,2025-06-17 00:53:59,0,0,"9,854,965",0,"9,090,429",0,0,"1,119,850"
2,202506,20250614,2025-06-17 00:53:59,"26,334,422","16,465,551","9,868,871","14,052,198","9,097,825","4,954,373","3,204,933","1,119,850"
3,202506,20250613,2025-06-17 00:53:59,"26,350,345","16,471,597","9,878,748","14,054,991","9,095,224","4,959,767","3,202,631","1,119,850"
4,202506,20250612,2025-06-17 00:53:59,"26,328,436","16,459,153","9,869,283","14,149,857","9,191,463","4,958,394","3,200,418","1,119,850"
5,202506,20250611,2025-06-17 00:53:59,"26,342,832","16,461,305","9,881,527","9,190,383","9,190,383",0,"3,203,476","1,126,877"
6,202506,20250610,2025-06-17 00:53:59,"26,377,226","16,485,633","9,891,593","14,052,954","9,097,406","4,955,548","3,201,325","1,126,877"
7,202506,20250609,2025-06-17 00:53:59,"26,354,794","16,476,767","9,878,027","14,059,344","9,095,905","4,963,439","3,199,102","1,126,877"
8,202506,20250608,2025-06-17 00:53:59,"26,362,107","16,469,398","9,892,709","14,064,757","9,102,669","4,962,088","3,202,722","1,126,877"
9,202506,20250607,2025-06-17 00:53:59,"26,369,189","16,469,681","9,899,508","14,061,045","9,099,835","4,961,210","3,200,746","1,126,877"
10,202506,20250606,2025-06-17 00:53:59,"26,439,193","16,535,281","9,903,912","14,057,089","9,097,370","4,959,719","3,198,488","1,126,877"
11,202506,20250605,2025-06-17 00:53:59,"26,452,877","16,563,666","9,889,211","14,069,342","9,104,544","4,964,798","3,202,575","1,126,877"
12,202506,20250604,2025-06-17 00:53:59,"26,472,926","16,571,394","9,901,532","14,070,458","9,104,635","4,965,823","3,200,313","1,127,338"
13,202506,20250603,2025-06-17 00:53:59,"26,546,528","16,637,054","9,909,474","14,066,372","9,102,054","4,964,318","3,198,020","1,127,815"
14,202506,20250602,2025-06-17 00:53:59,"26,544,593","16,643,160","9,901,433","14,071,114","9,108,731","4,962,383","3,206,516","1,128,315"
15,202506,20250601,2025-06-17 00:53:59,"26,438,734","16,530,315","9,908,419","14,073,719","9,106,502","4,967,217","3,205,472","1,128,753"
16,202505,20250531,2025-06-17 00:53:59,"26,495,600","16,588,955","9,906,645","14,069,704","9,103,624","4,966,080","3,203,127","1,129,379"
17,202505,20250530,2025-06-17 00:53:59,"26,544,208","16,644,660","9,899,548","14,065,089","9,101,218","4,963,871","3,201,195","1,129,710"
18,202505,20250529,2025-06-17 00:53:59,"26,556,632","16,674,373","9,882,259","14,061,171","9,098,913","4,962,258","3,198,852","1,130,328"
19,202505,20250528,2025-06-17 00:53:59,"26,589,558","16,700,170","9,889,388","14,064,836","9,096,750","4,968,086","3,195,276","1,130,797"
20,202505,20250527,2025-06-17 00:53:59,"26,609,593","16,712,701","9,896,892","14,071,091","9,104,112","4,966,979","3,199,020","1,130,797"
21,202505,20250526,2025-06-17 00:53:59,"26,614,432","16,728,301","9,886,131","14,070,723","9,103,953","4,966,770","3,195,511","1,131,311"
22,202505,20250525,2025-06-17 00:53:59,"26,626,276","16,738,708","9,887,568","14,068,090","9,102,460","4,965,630","3,193,370","1,131,955"
23,202505,20250524,2025-06-17 00:53:59,"26,637,326","16,747,264","9,890,062","14,082,137","9,110,530","4,971,607","3,198,563","1,132,232"
24,202505,20250523,2025-06-17 00:53:59,"26,652,451","16,759,274","9,893,177","14,077,820","9,108,761","4,969,059","3,196,900","1,132,655"
25,202505,20250522,2025-06-17 00:53:59,"26,646,843","16,766,480","9,880,363","14,074,020","9,107,045","4,966,975","3,194,282","1,133,186"
26,202505,20250521,2025-06-17 00:53:59,"26,618,903","16,765,757","9,853,146","14,071,083","9,105,584","4,965,499","3,192,530","1,133,189"
27,202505,20250520,2025-06-17 00:53:59,"26,629,698","16,775,577","9,854,121","14,088,588","9,112,400","4,976,188","3,198,262","1,133,189"
28,202505,20250519,2025-06-17 00:53:59,"26,626,494","16,785,063","9,841,431","14,084,732","9,108,772","4,975,960","3,194,011","1,133,813"
29,202505,20250518,2025-06-17 00:53:59,"26,630,346","16,788,017","9,842,329","14,080,377","9,105,695","4,974,682","3,191,938","1,134,057"
30,202505,20250517,2025-06-17 00:53:59,"26,635,954","16,789,151","9,846,803","14,084,743","9,111,123","4,973,620","3,195,771","1,134,334"
31,202505,20250516,2025-06-17 00:53:59,"26,641,208","16,793,908","9,847,300","14,086,827","9,107,801","4,979,026","3,193,651","1,134,694"
32,202505,20250515,2025-06-17 00:53:59,"26,624,910","16,796,298","9,828,612","14,084,036","9,106,540","4,977,496","3,191,396","1,135,743"
33,202505,20250514,2025-06-17 00:53:59,"26,607,658","16,777,237","9,830,421","14,090,353","9,114,148","4,976,205","3,192,380","1,135,851"
34,202505,20250513,2025-06-17 00:53:59,"26,546,107","16,712,522","9,833,585","14,088,307","9,111,509","4,976,798","3,192,380","1,135,851"
35,202505,20250512,2025-06-17 00:53:59,"26,553,393","16,735,272","9,818,121","14,091,912","9,108,861","4,983,051","3,192,380","1,136,669"
36,202505,20250511,2025-06-17 00:53:59,"26,563,921","16,739,366","9,824,555","14,097,206","9,115,893","4,981,313","3,192,380","1,136,865"
37,202505,20250510,2025-06-17 00:53:59,"26,475,463","16,646,651","9,828,812","14,093,470","9,113,040","4,980,430","3,192,380","1,137,136"
38,202505,20250509,2025-06-17 00:53:59,"26,526,076","16,703,758","9,822,318","14,089,068","9,110,441","4,978,627","3,192,380","1,138,290"
39,202505,20250508,2025-06-17 00:53:59,"26,568,279","16,759,636","9,808,643","14,097,056","9,113,083","4,983,973","3,192,380","1,138,644"
40,202505,20250507,2025-06-17 00:53:59,"26,586,000","16,766,885","9,819,115","14,092,488","9,109,977","4,982,511","3,190,183","1,139,671"
41,202505,20250506,2025-06-17 00:53:59,"26,602,272","16,774,201","9,828,071","14,089,441","9,106,843","4,982,598","3,187,559","1,139,671"
42,202505,20250505,2025-06-17 00:53:59,"26,603,221","16,779,501","9,823,720","14,094,958","9,113,322","4,981,636","3,190,866","1,140,114"
43,202505,20250504,2025-06-17 00:53:59,"26,620,185","16,787,035","9,833,150","14,097,392","9,110,307","4,987,085","3,188,949","1,140,439"
44,202505,20250503,2025-06-17 00:53:59,"26,638,993","16,795,171","9,843,822","14,093,376","9,107,269","4,986,107","3,187,160","1,140,581"
45,202505,20250502,2025-06-17 00:53:59,"26,648,258","16,796,989","9,851,269","14,097,957","9,113,415","4,984,542","3,193,849","1,140,807"
46,202505,20250501,2025-06-17 00:53:59,"26,567,819","16,729,721","9,838,098","14,097,207","9,113,982","4,983,225","3,191,841","1,141,064"

## Products Summary

### Prep Monthly Data

In [9]:
''' Monthly Summary '''

monthly_df = chk_src_df.loc[chk_src_df['TM_KEY_DAY']==chk_src_df.groupby(['TM_KEY_MTH', 'METRIC_CD'])['ACTUAL_AS_OF'].transform('max')].copy() # ACTUAL_AGG_MTH
monthly_df = monthly_df.groupby(['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF']).agg({'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum'})
monthly_df = monthly_df.fillna(0).sort_values(by=['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()
monthly_df['DIFF (C-P)'] = monthly_df['C'] - monthly_df['P']

monthly_df_display = monthly_df.copy()
monthly_df_display['ACTUAL_AS_OF'] = monthly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = monthly_df_display.iloc[:, 6:].columns.tolist()
for col in mod_col_list:
    monthly_df_display[col] = monthly_df_display[col].apply(lambda x: format(x, ',.0f'))

# monthly_df_display
# monthly_df_display.loc[monthly_df_display['TM_KEY_MTH']==202501]

In [10]:
''' Parameter '''

# v_tm_key_mth = curr_mth
# v_tm_key_mth = prev_mth
v_tm_key_mth = 202501

print(f'v_tm_key_mth: {v_tm_key_mth}')

v_tm_key_mth: 202501

### Prepaid

In [11]:
''' Prepaid Usage Subs '''

v_metric_list = [
	'B1S000500' #Prepaid Usage Subs
    , 'TB1S000500' #Prepaid Usage Subs : TMH
    , 'DB1S000500' #Prepaid Usage Subs : DTAC
    ]

prepaid_usage_sub_df = monthly_df_display.loc[monthly_df_display['METRIC_CD'].isin(v_metric_list)]
prepaid_usage_sub_df = prepaid_usage_sub_df.loc[prepaid_usage_sub_df['TM_KEY_MTH']>=v_tm_key_mth]
prepaid_usage_sub_df = prepaid_usage_sub_df.sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)
# prepaid_usage_sub_df = prepaid_usage_sub_df.sort_values(by='METRIC_NAME').reset_index(drop=True)
prepaid_usage_sub_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202501,Prepaid,B1S000500,Prepaid Usage Subs,2025-06-17 00:53:59,20250131,"29,676,000","29,645,236","29,645,236","29,637,524","29,637,524","30,764"
1,202501,Prepaid,DB1S000500,Prepaid Usage Subs : DTAC,2025-06-17 00:53:59,20250131,"12,046,588","12,046,580","12,046,580","12,039,009","12,039,009",8
2,202501,Prepaid,TB1S000500,Prepaid Usage Subs : TMH,2025-06-17 00:53:59,20250131,"17,629,412","17,598,656","17,598,656","17,598,515","17,598,515","30,756"
3,202502,Prepaid,B1S000500,Prepaid Usage Subs,2025-06-17 00:53:59,20250228,"29,413,250","29,375,319","29,375,319","29,364,370","29,364,370","37,931"
4,202502,Prepaid,DB1S000500,Prepaid Usage Subs : DTAC,2025-06-17 00:53:59,20250228,"11,716,408","11,716,401","11,716,401","11,705,601","11,705,601",7
5,202502,Prepaid,TB1S000500,Prepaid Usage Subs : TMH,2025-06-17 00:53:59,20250228,"17,696,842","17,658,918","17,658,918","17,658,769","17,658,769","37,924"
6,202503,Prepaid,B1S000500,Prepaid Usage Subs,2025-06-17 00:53:59,20250331,"28,939,894","28,835,641","28,835,641","28,827,089","28,827,089","104,253"
7,202503,Prepaid,DB1S000500,Prepaid Usage Subs : DTAC,2025-06-17 00:53:59,20250331,"11,452,981","11,452,968","11,452,968","11,444,416","11,444,416",13
8,202503,Prepaid,TB1S000500,Prepaid Usage Subs : TMH,2025-06-17 00:53:59,20250331,"17,486,913","17,382,673","17,382,673","17,382,673","17,382,673","104,240"
9,202504,Prepaid,B1S000500,Prepaid Usage Subs,2025-06-17 00:53:59,20250430,"28,544,264","28,443,911","28,443,911","28,433,474","28,433,474","100,353"
10,202504,Prepaid,DB1S000500,Prepaid Usage Subs : DTAC,2025-06-17 00:53:59,20250430,"11,297,243","11,297,226","11,297,226","11,286,789","11,286,789",17
11,202504,Prepaid,TB1S000500,Prepaid Usage Subs : TMH,2025-06-17 00:53:59,20250430,"17,247,021","17,146,685","17,146,685","17,146,685","17,146,685","100,336"
12,202505,Prepaid,B1S000500,Prepaid Usage Subs,2025-06-17 00:53:59,20250531,"28,256,009","28,157,860","28,157,860","28,146,350","28,146,350","98,149"
13,202505,Prepaid,DB1S000500,Prepaid Usage Subs : DTAC,2025-06-17 00:53:59,20250531,"11,370,395","11,370,381","11,370,381","11,358,871","11,358,871",14
14,202505,Prepaid,TB1S000500,Prepaid Usage Subs : TMH,2025-06-17 00:53:59,20250531,"16,885,614","16,787,479","16,787,479","16,787,479","16,787,479","98,135"
15,202506,Prepaid,B1S000500,Prepaid Usage Subs,2025-06-17 00:53:59,20250614,"28,291,740","28,189,006","28,189,006","28,177,214","28,177,214","102,734"
16,202506,Prepaid,DB1S000500,Prepaid Usage Subs : DTAC,2025-06-17 00:53:59,20250615,"11,385,996","11,385,986","11,385,986","11,374,139","11,374,139",10
17,202506,Prepaid,TB1S000500,Prepaid Usage Subs : TMH,2025-06-17 00:53:59,20250614,"16,904,358","16,801,635","16,801,635","16,801,635","16,801,635","102,723"

In [12]:
''' Prepaid Active Caller 30D Rolling '''

v_metric_list = [
    'B1S000600' #Prepaid Active Caller 30D Rolling
    , 'TB1S000600' #Prepaid Active Caller 30D Rolling : TMH
    , 'DB1S000600' #Prepaid Active Caller 30D Rolling : DTAC
    ]

prepaid_call_30d_df = monthly_df_display.loc[monthly_df_display['METRIC_CD'].isin(v_metric_list)]
prepaid_call_30d_df = prepaid_call_30d_df.loc[prepaid_call_30d_df['TM_KEY_MTH']>=v_tm_key_mth]
prepaid_call_30d_df = prepaid_call_30d_df.sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)
prepaid_call_30d_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202501,Prepaid,B1S000600,Prepaid Active Caller 30D Rolling,2025-06-17 00:53:59,20250131,"27,745,939","27,745,939","27,731,832","27,731,832","27,731,832",0
1,202501,Prepaid,DB1S000600,Prepaid Active Caller 30D Rolling : DTAC,2025-06-17 00:53:59,20250131,"10,401,645","10,401,645","10,400,923","10,400,923","10,400,923",0
2,202501,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20250131,"17,344,294","17,344,294","17,330,909","17,330,909","17,330,909",0
3,202502,Prepaid,B1S000600,Prepaid Active Caller 30D Rolling,2025-06-17 00:53:59,20250228,"27,605,672","27,605,672","27,587,202","27,587,202","27,587,202",0
4,202502,Prepaid,DB1S000600,Prepaid Active Caller 30D Rolling : DTAC,2025-06-17 00:53:59,20250228,"10,180,996","10,180,996","10,179,777","10,179,777","10,179,777",0
5,202502,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20250228,"17,424,676","17,424,676","17,407,425","17,407,425","17,407,425",0
6,202503,Prepaid,B1S000600,Prepaid Active Caller 30D Rolling,2025-06-17 00:53:59,20250331,"27,140,083","27,140,083","27,119,364","27,119,364","27,119,364",0
7,202503,Prepaid,DB1S000600,Prepaid Active Caller 30D Rolling : DTAC,2025-06-17 00:53:59,20250331,"9,924,618","9,924,618","9,923,719","9,923,719","9,923,719",0
8,202503,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20250331,"17,215,465","17,215,465","17,195,645","17,195,645","17,195,645",0
9,202504,Prepaid,B1S000600,Prepaid Active Caller 30D Rolling,2025-06-17 00:53:59,20250430,"26,599,795","26,599,795","26,578,640","26,578,640","26,578,640",0
10,202504,Prepaid,DB1S000600,Prepaid Active Caller 30D Rolling : DTAC,2025-06-17 00:53:59,20250430,"9,843,486","9,843,486","9,841,879","9,841,879","9,841,879",0
11,202504,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20250430,"16,756,309","16,756,309","16,736,761","16,736,761","16,736,761",0
12,202505,Prepaid,B1S000600,Prepaid Active Caller 30D Rolling,2025-06-17 00:53:59,20250531,"26,495,600","26,495,600","26,461,670","26,461,670","26,461,670",0
13,202505,Prepaid,DB1S000600,Prepaid Active Caller 30D Rolling : DTAC,2025-06-17 00:53:59,20250531,"9,906,645","9,906,645","9,905,215","9,905,215","9,905,215",0
14,202505,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20250531,"16,588,955","16,588,955","16,556,455","16,556,455","16,556,455",0
15,202506,Prepaid,B1S000600,Prepaid Active Caller 30D Rolling,2025-06-17 00:53:59,20250614,"26,334,422","26,334,422","26,278,640","26,278,640","26,278,640",0
16,202506,Prepaid,DB1S000600,Prepaid Active Caller 30D Rolling : DTAC,2025-06-17 00:53:59,20250615,"9,854,965","9,854,965","9,854,094","9,854,094","9,854,094",0
17,202506,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20250614,"16,465,551","16,465,551","16,410,729","16,410,729","16,410,729",0

In [13]:
''' Prepaid SubBase '''

v_metric_list = [
    'B1S000702' #Prepaid SubBase
    , 'TB1S000702' #Prepaid SubBase : TMH
    , 'DB1S000702' #Prepaid SubBase : DTAC
    ]

prepaid_subbase_df = monthly_df_display.loc[monthly_df_display['METRIC_CD'].isin(v_metric_list)]
prepaid_subbase_df = prepaid_subbase_df.loc[prepaid_subbase_df['TM_KEY_MTH']>=v_tm_key_mth]
prepaid_subbase_df = prepaid_subbase_df.sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)
prepaid_subbase_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202501,Prepaid,TB1S000702,Prepaid SubBase : TMH,2025-06-17 00:53:59,20250131,0,"24,942,269","24,769,264","24,267,797","24,769,149","-24,942,269"
1,202502,Prepaid,TB1S000702,Prepaid SubBase : TMH,2025-06-17 00:53:59,20250228,0,"24,921,942","24,760,083","24,758,973","24,758,973","-24,921,942"
2,202503,Prepaid,TB1S000702,Prepaid SubBase : TMH,2025-06-17 00:53:59,20250331,0,"24,578,672","24,437,486","24,436,544","24,436,544","-24,578,672"
3,202504,Prepaid,TB1S000702,Prepaid SubBase : TMH,2025-06-17 00:53:59,20250430,0,"23,721,266","23,582,316","23,581,524","23,581,524","-23,721,266"
4,202505,Prepaid,TB1S000702,Prepaid SubBase : TMH,2025-06-17 00:53:59,20250531,0,"23,721,160","23,561,656","23,560,980","23,560,980","-23,721,160"
5,202506,Prepaid,TB1S000702,Prepaid SubBase : TMH,2025-06-17 00:53:59,20250614,0,"22,998,539","22,859,465","22,858,828","22,858,828","-22,998,539"

In [14]:
''' Prepaid Reported SubBase '''

v_metric_list = [
    'B1S000700' #Prepaid Reported SubBase
    , 'DB1S000700' #Prepaid Reported SubBase : DTAC
    , 'TB1S000700' #Prepaid Reported SubBase : TMH
    ]

prepaid_report_sub_df = monthly_df_display.loc[monthly_df_display['METRIC_CD'].isin(v_metric_list)]
prepaid_report_sub_df = prepaid_report_sub_df.loc[prepaid_report_sub_df['TM_KEY_MTH']>=v_tm_key_mth]
prepaid_report_sub_df = prepaid_report_sub_df.sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)
prepaid_report_sub_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202501,Prepaid,TB1S000700,Prepaid Reported SubBase : TMH,2025-06-17 00:53:59,20250131,0,"21,379,455","21,262,196","21,262,196","21,262,196","-21,379,455"
1,202502,Prepaid,TB1S000700,Prepaid Reported SubBase : TMH,2025-06-17 00:53:59,20250228,0,"21,170,310","21,078,525","21,078,525","21,078,525","-21,170,310"
2,202503,Prepaid,TB1S000700,Prepaid Reported SubBase : TMH,2025-06-17 00:53:59,20250331,0,"20,647,169","20,559,792","20,559,792","20,559,792","-20,647,169"
3,202504,Prepaid,TB1S000700,Prepaid Reported SubBase : TMH,2025-06-17 00:53:59,20250430,0,"20,304,003","20,209,194","20,209,194","20,209,194","-20,304,003"
4,202505,Prepaid,TB1S000700,Prepaid Reported SubBase : TMH,2025-06-17 00:53:59,20250531,0,"20,108,592","19,961,598","19,961,598","19,961,598","-20,108,592"
5,202506,Prepaid,TB1S000700,Prepaid Reported SubBase : TMH,2025-06-17 00:53:59,20250615,0,"19,744,984","19,616,001","19,616,001","19,616,001","-19,744,984"

### Postpaid

In [15]:
''' Postpaid SubBase B2C '''

v_metric_list = [
    'B2S010602' #Postpaid SubBase B2C
    , 'DB2S010602' #Postpaid SubBase B2C : DTAC
    , 'TB2S010602' #Postpaid SubBase B2C : TMH
    ]

postpaid_subbase_b2c_df = monthly_df_display.loc[monthly_df_display['METRIC_CD'].isin(v_metric_list)]
postpaid_subbase_b2c_df = postpaid_subbase_b2c_df.loc[postpaid_subbase_b2c_df['TM_KEY_MTH']>=v_tm_key_mth]
postpaid_subbase_b2c_df = postpaid_subbase_b2c_df.sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)
postpaid_subbase_b2c_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202501,Postpaid,B2S010602,Postpaid SubBase B2C,2025-06-17 00:53:59,20250131,0,"14,274,718","14,274,477","14,268,794","14,268,794","-14,274,718"
1,202501,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20250131,0,"5,161,625","5,161,620","5,155,964","5,155,964","-5,161,625"
2,202501,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20250131,0,"9,113,093","9,112,857","9,112,830","9,112,830","-9,113,093"
3,202502,Postpaid,B2S010602,Postpaid SubBase B2C,2025-06-17 00:53:59,20250228,0,"14,273,218","14,272,963","14,267,293","14,267,293","-14,273,218"
4,202502,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20250228,0,"5,138,667","5,138,664","5,133,010","5,133,010","-5,138,667"
5,202502,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20250228,0,"9,134,551","9,134,299","9,134,283","9,134,283","-9,134,551"
6,202503,Postpaid,B2S010602,Postpaid SubBase B2C,2025-06-17 00:53:59,20250331,0,"14,288,650","14,288,393","14,282,728","14,282,728","-14,288,650"
7,202503,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20250331,0,"5,118,045","5,118,040","5,112,387","5,112,387","-5,118,045"
8,202503,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20250331,0,"9,170,605","9,170,353","9,170,341","9,170,341","-9,170,605"
9,202504,Postpaid,B2S010602,Postpaid SubBase B2C,2025-06-17 00:53:59,20250430,0,"14,301,830","14,301,541","14,295,878","14,295,878","-14,301,830"
10,202504,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20250430,0,"5,107,328","5,107,319","5,101,667","5,101,667","-5,107,328"
11,202504,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20250430,0,"9,194,502","9,194,222","9,194,211","9,194,211","-9,194,502"
12,202505,Postpaid,B2S010602,Postpaid SubBase B2C,2025-06-17 00:53:59,20250531,0,"14,286,490","14,286,230","14,280,568","14,280,568","-14,286,490"
13,202505,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20250531,0,"5,091,787","5,091,780","5,086,128","5,086,128","-5,091,787"
14,202505,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20250531,0,"9,194,703","9,194,450","9,194,440","9,194,440","-9,194,703"
15,202506,Postpaid,B2S010602,Postpaid SubBase B2C,2025-06-17 00:53:59,20250615,0,"14,275,062","14,269,132","14,263,470","14,263,470","-14,275,062"
16,202506,Postpaid,DB2S010602,Postpaid SubBase B2C : DTAC,2025-06-17 00:53:59,20250615,0,"5,082,170","5,082,166","5,076,514","5,076,514","-5,082,170"
17,202506,Postpaid,TB2S010602,Postpaid SubBase B2C : TMH,2025-06-17 00:53:59,20250615,0,"9,192,892","9,186,966","9,186,956","9,186,956","-9,192,892"

In [16]:
''' Postpaid Reported SubBase B2C '''

v_metric_list = [
    'B2S010600' #Postpaid Reported SubBase B2C
    , 'DB2S010600' #Postpaid Reported SubBase B2C : DTAC
    , 'TB2S010600' #Postpaid Reported SubBase B2C : TMH
    ]

postpaid_report_sub_b2c_df = monthly_df_display.loc[monthly_df_display['METRIC_CD'].isin(v_metric_list)]
postpaid_report_sub_b2c_df = postpaid_report_sub_b2c_df.loc[postpaid_report_sub_b2c_df['TM_KEY_MTH']>=v_tm_key_mth]
postpaid_report_sub_b2c_df = postpaid_report_sub_b2c_df.sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)
postpaid_report_sub_b2c_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202501,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20250131,0,"14,069,220","14,063,387","13,889,946","14,063,360","-14,069,220"
1,202501,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20250131,0,"5,033,939","5,028,342","4,854,928","5,028,342","-5,033,939"
2,202501,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20250131,0,"9,035,281","9,035,045","9,035,018","9,035,018","-9,035,281"
3,202502,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20250228,0,"14,068,955","14,063,110","14,063,094","14,063,094","-14,068,955"
4,202502,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20250228,0,"5,013,920","5,008,326","5,008,326","5,008,326","-5,013,920"
5,202502,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20250228,0,"9,055,035","9,054,784","9,054,768","9,054,768","-9,055,035"
6,202503,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20250331,0,"14,084,812","14,078,967","14,078,955","14,078,955","-14,084,812"
7,202503,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20250331,0,"4,997,992","4,992,399","4,992,399","4,992,399","-4,997,992"
8,202503,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20250331,0,"9,086,820","9,086,568","9,086,556","9,086,556","-9,086,820"
9,202504,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20250430,0,"14,100,846","14,094,971","14,094,960","14,094,960","-14,100,846"
10,202504,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20250430,0,"4,988,379","4,982,782","4,982,782","4,982,782","-4,988,379"
11,202504,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20250430,0,"9,112,467","9,112,189","9,112,178","9,112,178","-9,112,467"
12,202505,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20250531,0,"14,069,704","14,063,858","14,063,848","14,063,848","-14,069,704"
13,202505,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20250531,0,"4,966,080","4,960,485","4,960,485","4,960,485","-4,966,080"
14,202505,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20250531,0,"9,103,624","9,103,373","9,103,363","9,103,363","-9,103,624"
15,202506,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20250614,0,"14,052,198","14,040,610","14,040,600","14,040,600","-14,052,198"
16,202506,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20250614,0,"4,954,373","4,948,780","4,948,780","4,948,780","-4,954,373"
17,202506,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20250615,0,"9,090,429","9,084,505","9,084,495","9,084,495","-9,090,429"

### TOL

In [17]:
''' FTTx SubBase '''

v_metric_list = ['TB3S020604'] #FTTx SubBase

fttx_subbase_df = monthly_df_display.loc[monthly_df_display['METRIC_CD'].isin(v_metric_list)]
fttx_subbase_df = fttx_subbase_df.loc[fttx_subbase_df['TM_KEY_MTH']>=v_tm_key_mth]
fttx_subbase_df = fttx_subbase_df.sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)
fttx_subbase_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202501,TOL,TB3S020604,FTTx SubBase,2025-06-17 00:53:59,20250131,0,"3,280,710","3,280,625","3,280,625","3,280,625","-3,280,710"
1,202502,TOL,TB3S020604,FTTx SubBase,2025-06-17 00:53:59,20250228,0,"3,290,380","3,290,298","3,290,298","3,290,298","-3,290,380"
2,202503,TOL,TB3S020604,FTTx SubBase,2025-06-17 00:53:59,20250331,0,"3,305,177","3,305,095","3,305,095","3,305,095","-3,305,177"
3,202504,TOL,TB3S020604,FTTx SubBase,2025-06-17 00:53:59,20250430,0,"3,315,573","3,315,491","3,315,491","3,315,491","-3,315,573"
4,202505,TOL,TB3S020604,FTTx SubBase,2025-06-17 00:53:59,20250531,0,"3,294,820","3,294,739","3,294,739","3,294,739","-3,294,820"
5,202506,TOL,TB3S020604,FTTx SubBase,2025-06-17 00:53:59,20250614,0,"3,300,035","3,299,954","3,299,954","3,299,954","-3,300,035"

In [18]:
''' FTTx Reported SubBase '''

v_metric_list = ['TB3S000600'] #FTTx Reported SubBase

fttx_report_sub_df = monthly_df_display.loc[monthly_df_display['METRIC_CD'].isin(v_metric_list)]
fttx_report_sub_df = fttx_report_sub_df.loc[fttx_report_sub_df['TM_KEY_MTH']>=v_tm_key_mth]
fttx_report_sub_df = fttx_report_sub_df.sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)
fttx_report_sub_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202501,TOL,TB3S000600,FTTx Reported SubBase,2025-06-17 00:53:59,20250131,0,"3,163,192","3,163,109","3,163,109","3,163,109","-3,163,192"
1,202502,TOL,TB3S000600,FTTx Reported SubBase,2025-06-17 00:53:59,20250228,0,"3,172,770","3,172,690","3,172,690","3,172,690","-3,172,770"
2,202503,TOL,TB3S000600,FTTx Reported SubBase,2025-06-17 00:53:59,20250331,0,"3,187,717","3,187,637","3,187,637","3,187,637","-3,187,717"
3,202504,TOL,TB3S000600,FTTx Reported SubBase,2025-06-17 00:53:59,20250430,0,"3,191,503","3,191,424","3,191,424","3,191,424","-3,191,503"
4,202505,TOL,TB3S000600,FTTx Reported SubBase,2025-06-17 00:53:59,20250531,0,"3,203,127","3,203,048","3,203,048","3,203,048","-3,203,127"
5,202506,TOL,TB3S000600,FTTx Reported SubBase,2025-06-17 00:53:59,20250614,0,"3,204,933","3,204,854","3,204,854","3,204,854","-3,204,933"

### TVS

In [19]:
''' TVS Active Subs '''

v_metric_list = ['TB4S000500'] #TVS Active Subs

tvs_active_sub_df = monthly_df_display.loc[monthly_df_display['METRIC_CD'].isin(v_metric_list)]
tvs_active_sub_df = tvs_active_sub_df.loc[tvs_active_sub_df['TM_KEY_MTH']>=v_tm_key_mth]
tvs_active_sub_df = tvs_active_sub_df.sort_values(by=['TM_KEY_MTH', 'METRIC_CD']).reset_index(drop=True)
tvs_active_sub_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202501,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,20250131,"1,191,955","1,170,444","1,170,444","1,170,444","1,170,444","21,511"
1,202502,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,20250228,"1,185,388","1,163,299","1,163,299","1,163,299","1,163,299","22,089"
2,202503,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,20250331,"1,175,395","1,153,137","1,153,137","1,153,137","1,153,137","22,258"
3,202504,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,20250430,"1,163,684","1,141,576","1,141,576","1,141,576","1,141,576","22,108"
4,202505,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,20250531,"1,151,558","1,129,379","1,129,379","1,129,379","1,129,379","22,179"
5,202506,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,20250615,"1,141,979","1,119,850","1,119,850","1,119,850","1,119,850","22,129"

## ** Current Issue

In [20]:
''' Monthly : Prepaid Active Caller 30D Rolling : TMH (Jan-Apr 2024) '''

v_metric_cd = 'TB1S000600'

issue_prepaid_call_30d_df = monthly_df_display.loc[monthly_df_display['METRIC_CD']==v_metric_cd]
issue_prepaid_call_30d_df = issue_prepaid_call_30d_df.loc[issue_prepaid_call_30d_df['TM_KEY_MTH']>=202401]
issue_prepaid_call_30d_df = issue_prepaid_call_30d_df.sort_values(by=['TM_KEY_MTH', 'METRIC_NAME']).reset_index(drop=True)
issue_prepaid_call_30d_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202405,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20240531,"17,391,242","17,391,242","17,190,679","17,190,679","17,190,679",0
1,202406,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20240630,"17,313,488","17,313,488","17,219,683","17,219,683","17,219,683",0
2,202407,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20240731,"17,342,927","17,342,927","17,323,115","17,323,115","17,323,115",0
3,202408,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20240831,"17,247,805","17,247,805","17,131,822","17,131,822","17,131,822",0
4,202409,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20240930,"17,190,424","17,190,424","17,178,862","17,178,862","17,178,862",0
5,202410,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20241031,"17,195,820","17,195,820","17,183,235","17,183,235","17,183,235",0
6,202411,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20241130,"17,253,443","17,253,443","17,239,155","17,239,155","17,239,155",0
7,202412,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20241231,"17,769,553","17,769,553","17,753,679","17,753,679","17,753,679",0
8,202501,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20250131,"17,344,294","17,344,294","17,330,909","17,330,909","17,330,909",0
9,202502,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20250228,"17,424,676","17,424,676","17,407,425","17,407,425","17,407,425",0
10,202503,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20250331,"17,215,465","17,215,465","17,195,645","17,195,645","17,195,645",0
11,202504,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20250430,"16,756,309","16,756,309","16,736,761","16,736,761","16,736,761",0
12,202505,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20250531,"16,588,955","16,588,955","16,556,455","16,556,455","16,556,455",0
13,202506,Prepaid,TB1S000600,Prepaid Active Caller 30D Rolling : TMH,2025-06-17 00:53:59,20250614,"16,465,551","16,465,551","16,410,729","16,410,729","16,410,729",0

In [21]:
''' Monthly : Postpaid Reported SubBase B2C (Jan-May 2024) '''

v_metric_cd = 'B2S010600'

issue_postpaid_report_sub_b2c_df = monthly_df_display.loc[monthly_df_display['METRIC_CD']==v_metric_cd]
issue_postpaid_report_sub_b2c_df = issue_postpaid_report_sub_b2c_df.loc[issue_postpaid_report_sub_b2c_df['TM_KEY_MTH']>=202401]
issue_postpaid_report_sub_b2c_df = issue_postpaid_report_sub_b2c_df.sort_values(by=['TM_KEY_MTH', 'METRIC_NAME']).reset_index(drop=True)
issue_postpaid_report_sub_b2c_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202406,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20240630,0,"14,226,167","14,212,860","14,034,154","14,212,850","-14,226,167"
1,202407,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20240731,0,"14,209,033","14,195,782","14,018,425","14,195,772","-14,209,033"
2,202408,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20240831,0,"14,190,431","14,177,201","13,999,593","14,177,191","-14,190,431"
3,202409,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20240930,0,"14,186,615","14,173,403","13,996,349","14,173,393","-14,186,615"
4,202410,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20241031,0,"14,179,406","14,166,448","13,990,677","14,166,438","-14,179,406"
5,202411,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20241130,0,"14,160,522","14,154,713","13,979,080","14,154,703","-14,160,522"
6,202412,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20241231,0,"14,158,698","14,152,890","13,977,330","14,152,880","-14,158,698"
7,202501,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20250131,0,"14,069,220","14,063,387","13,889,946","14,063,360","-14,069,220"
8,202502,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20250228,0,"14,068,955","14,063,110","14,063,094","14,063,094","-14,068,955"
9,202503,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20250331,0,"14,084,812","14,078,967","14,078,955","14,078,955","-14,084,812"
10,202504,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20250430,0,"14,100,846","14,094,971","14,094,960","14,094,960","-14,100,846"
11,202505,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20250531,0,"14,069,704","14,063,858","14,063,848","14,063,848","-14,069,704"
12,202506,Postpaid,B2S010600,Postpaid Reported SubBase B2C,2025-06-17 00:53:59,20250614,0,"14,052,198","14,040,610","14,040,600","14,040,600","-14,052,198"

In [22]:
''' Monthly : Postpaid Reported SubBase B2C : TMH (Jan-May 2024) '''

v_metric_cd = 'TB2S010600'

issue_postpaid_report_sub_b2c_tmh_df = monthly_df_display.loc[monthly_df_display['METRIC_CD']==v_metric_cd]
issue_postpaid_report_sub_b2c_tmh_df = issue_postpaid_report_sub_b2c_tmh_df.loc[issue_postpaid_report_sub_b2c_tmh_df['TM_KEY_MTH']>=202401]
issue_postpaid_report_sub_b2c_tmh_df = issue_postpaid_report_sub_b2c_tmh_df.sort_values(by=['TM_KEY_MTH', 'METRIC_NAME']).reset_index(drop=True)
issue_postpaid_report_sub_b2c_tmh_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202402,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20240229,0,"8,998,482","8,998,152","8,998,139","8,998,139","-8,998,482"
1,202403,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20240331,0,"8,994,853","8,987,179","8,987,169","8,987,169","-8,994,853"
2,202404,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20240430,0,"8,996,646","8,989,810","8,989,800","8,989,800","-8,996,646"
3,202405,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20240531,0,"9,023,324","9,009,568","9,009,558","9,009,558","-9,023,324"
4,202406,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20240630,0,"9,042,184","9,041,896","9,041,886","9,041,886","-9,042,184"
5,202407,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20240731,0,"9,052,569","9,052,314","9,052,304","9,052,304","-9,052,569"
6,202408,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20240831,0,"9,061,002","9,060,761","9,060,751","9,060,751","-9,061,002"
7,202409,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20240930,0,"9,068,470","9,068,233","9,068,223","9,068,223","-9,068,470"
8,202410,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20241031,0,"9,080,143","9,079,912","9,079,902","9,079,902","-9,080,143"
9,202411,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20241130,0,"9,088,656","9,088,441","9,088,431","9,088,431","-9,088,656"
10,202412,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20241231,0,"9,102,725","9,102,514","9,102,504","9,102,504","-9,102,725"
11,202501,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20250131,0,"9,035,281","9,035,045","9,035,018","9,035,018","-9,035,281"
12,202502,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20250228,0,"9,055,035","9,054,784","9,054,768","9,054,768","-9,055,035"
13,202503,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20250331,0,"9,086,820","9,086,568","9,086,556","9,086,556","-9,086,820"
14,202504,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20250430,0,"9,112,467","9,112,189","9,112,178","9,112,178","-9,112,467"
15,202505,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20250531,0,"9,103,624","9,103,373","9,103,363","9,103,363","-9,103,624"
16,202506,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,20250615,0,"9,090,429","9,084,505","9,084,495","9,084,495","-9,090,429"

In [23]:
''' Daily : Postpaid Reported SubBase B2C : TMH '''

v_metict_cd = 'TB2S010600'
v_tm_key_mth = curr_mth
# v_tm_key_mth = prev_mth

issue_daily_post_rpt_sb_b2c_tmh_df = chk_src_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P', 'G', 'H', 'HH']].loc[chk_src_df['TM_KEY_MTH']>=v_tm_key_mth].copy()
issue_daily_post_rpt_sb_b2c_tmh_df = issue_daily_post_rpt_sb_b2c_tmh_df.loc[issue_daily_post_rpt_sb_b2c_tmh_df['METRIC_CD']==v_metict_cd]
issue_daily_post_rpt_sb_b2c_tmh_df = issue_daily_post_rpt_sb_b2c_tmh_df.sort_values(by='TM_KEY_DAY', ascending=False).reset_index(drop=True)

issue_daily_post_rpt_sb_b2c_tmh_df_display = issue_daily_post_rpt_sb_b2c_tmh_df.copy()
mod_col_list = issue_daily_post_rpt_sb_b2c_tmh_df_display.iloc[:, 6:].columns.tolist()
for col in mod_col_list:
    issue_daily_post_rpt_sb_b2c_tmh_df_display[col] = issue_daily_post_rpt_sb_b2c_tmh_df_display[col].apply(lambda x: format(x, ',.0f'))
issue_daily_post_rpt_sb_b2c_tmh_df_display

,TM_KEY_MTH,TM_KEY_DAY,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,P,G,H,HH
0,202506,20250616,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,nan,nan,nan,nan
1,202506,20250615,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,"9,090,429","9,084,505","9,084,495","9,084,495"
2,202506,20250614,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,"9,097,825","9,091,830","9,091,820","9,091,820"
3,202506,20250613,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,"9,095,224","9,089,995","9,089,985","9,089,985"
4,202506,20250612,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,"9,191,463","9,191,214","9,191,204","9,191,204"
5,202506,20250611,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,"9,190,383","9,190,135","9,190,125","9,190,125"
6,202506,20250610,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,"9,097,406","9,091,008","9,090,998","9,090,998"
7,202506,20250609,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,"9,095,905","9,095,658","9,095,648","9,095,648"
8,202506,20250608,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,"9,102,669","9,096,319","9,096,309","9,096,309"
9,202506,20250607,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,"9,099,835","9,094,050","9,094,040","9,094,040"
10,202506,20250606,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,"9,097,370","9,091,784","9,091,774","9,091,774"
11,202506,20250605,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,"9,104,544","9,097,778","9,097,768","9,097,768"
12,202506,20250604,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,"9,104,635","9,098,956","9,098,946","9,098,946"
13,202506,20250603,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,"9,102,054","9,095,491","9,095,481","9,095,481"
14,202506,20250602,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,"9,108,731","9,108,483","9,108,473","9,108,473"
15,202506,20250601,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-17 00:53:59,"9,106,502","9,106,249","9,106,239","9,106,239"

In [24]:
''' Monthly : Postpaid Reported SubBase B2C : DTAC (Jan-May 2024) '''

v_metric_cd = 'DB2S010600'

issue_postpaid_report_sub_b2c_dtac_df = monthly_df_display.loc[monthly_df_display['METRIC_CD']==v_metric_cd]
issue_postpaid_report_sub_b2c_dtac_df = issue_postpaid_report_sub_b2c_dtac_df.loc[issue_postpaid_report_sub_b2c_dtac_df['TM_KEY_MTH']>=202401]
issue_postpaid_report_sub_b2c_dtac_df = issue_postpaid_report_sub_b2c_dtac_df.sort_values(by=['TM_KEY_MTH', 'METRIC_NAME']).reset_index(drop=True)
issue_postpaid_report_sub_b2c_dtac_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,C,P,G,H,HH,DIFF (C-P)
0,202406,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20240630,0,"5,183,983","5,170,964","4,992,268","5,170,964","-5,183,983"
1,202407,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20240731,0,"5,156,464","5,143,468","4,966,121","5,143,468","-5,156,464"
2,202408,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20240831,0,"5,129,429","5,116,440","4,938,842","5,116,440","-5,129,429"
3,202409,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20240930,0,"5,118,145","5,105,170","4,928,126","5,105,170","-5,118,145"
4,202410,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20241031,0,"5,099,263","5,086,536","4,910,775","5,086,536","-5,099,263"
5,202411,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20241130,0,"5,071,866","5,066,272","4,890,649","5,066,272","-5,071,866"
6,202412,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20241231,0,"5,055,973","5,050,376","4,874,826","5,050,376","-5,055,973"
7,202501,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20250131,0,"5,033,939","5,028,342","4,854,928","5,028,342","-5,033,939"
8,202502,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20250228,0,"5,013,920","5,008,326","5,008,326","5,008,326","-5,013,920"
9,202503,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20250331,0,"4,997,992","4,992,399","4,992,399","4,992,399","-4,997,992"
10,202504,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20250430,0,"4,988,379","4,982,782","4,982,782","4,982,782","-4,988,379"
11,202505,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20250531,0,"4,966,080","4,960,485","4,960,485","4,960,485","-4,966,080"
12,202506,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,20250614,0,"4,954,373","4,948,780","4,948,780","4,948,780","-4,954,373"

In [25]:
''' Daily : Postpaid Reported SubBase B2C : DTAC '''

v_metict_cd = 'DB2S010600'
v_tm_key_mth = curr_mth
# v_tm_key_mth = prev_mth

issue_daily_post_rpt_sb_b2c_dtac_df = chk_src_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P', 'G', 'H', 'HH']].loc[chk_src_df['TM_KEY_MTH']>=v_tm_key_mth].copy()
issue_daily_post_rpt_sb_b2c_dtac_df = issue_daily_post_rpt_sb_b2c_dtac_df.loc[issue_daily_post_rpt_sb_b2c_dtac_df['METRIC_CD']==v_metict_cd]
issue_daily_post_rpt_sb_b2c_dtac_df = issue_daily_post_rpt_sb_b2c_dtac_df.sort_values(by='TM_KEY_DAY', ascending=False).reset_index(drop=True)

issue_daily_post_rpt_sb_b2c_dtac_df_display = issue_daily_post_rpt_sb_b2c_dtac_df.copy()
mod_col_list = issue_daily_post_rpt_sb_b2c_dtac_df_display.iloc[:, 6:].columns.tolist()
for col in mod_col_list:
    issue_daily_post_rpt_sb_b2c_dtac_df_display[col] = issue_daily_post_rpt_sb_b2c_dtac_df_display[col].apply(lambda x: format(x, ',.0f'))
issue_daily_post_rpt_sb_b2c_dtac_df_display

,TM_KEY_MTH,TM_KEY_DAY,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,P,G,H,HH
0,202506,20250616,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,nan,nan,nan,nan
1,202506,20250615,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,nan,nan,nan,nan
2,202506,20250614,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,"4,954,373","4,948,780","4,948,780","4,948,780"
3,202506,20250613,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,"4,959,767","4,954,174","4,954,174","4,954,174"
4,202506,20250612,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,"4,958,394","4,952,801","4,952,801","4,952,801"
5,202506,20250611,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,nan,nan,nan,nan
6,202506,20250610,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,"4,955,548","4,949,955","4,949,955","4,949,955"
7,202506,20250609,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,"4,963,439","4,957,846","4,957,846","4,957,846"
8,202506,20250608,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,"4,962,088","4,956,495","4,956,495","4,956,495"
9,202506,20250607,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,"4,961,210","4,955,618","4,955,618","4,955,618"
10,202506,20250606,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,"4,959,719","4,954,127","4,954,127","4,954,127"
11,202506,20250605,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,"4,964,798","4,959,206","4,959,206","4,959,206"
12,202506,20250604,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,"4,965,823","4,960,231","4,960,231","4,960,231"
13,202506,20250603,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,"4,964,318","4,958,726","4,958,726","4,958,726"
14,202506,20250602,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,"4,962,383","4,956,791","4,956,791","4,956,791"
15,202506,20250601,Postpaid,DB2S010600,Postpaid Reported SubBase B2C : DTAC,2025-06-17 00:53:59,"4,967,217","4,961,624","4,961,624","4,961,624"

In [26]:
''' Monthly : TVS Active Subs '''

v_metict_cd = 'TB4S000500'
v_tm_key_mth = curr_mth
# v_tm_key_mth = prev_mth

issue_tvs_active_sub_df = chk_src_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P', 'G', 'H', 'HH']].loc[chk_src_df['TM_KEY_MTH']>=v_tm_key_mth].copy()
issue_tvs_active_sub_df = issue_tvs_active_sub_df.loc[issue_tvs_active_sub_df['METRIC_CD']==v_metict_cd]
issue_tvs_active_sub_df = issue_tvs_active_sub_df.sort_values(by='TM_KEY_DAY', ascending=False).reset_index(drop=True)

issue_tvs_active_sub_df_display = issue_tvs_active_sub_df.copy()
mod_col_list = issue_tvs_active_sub_df_display.iloc[:, 6:].columns.tolist()
for col in mod_col_list:
    issue_tvs_active_sub_df_display[col] = issue_tvs_active_sub_df_display[col].apply(lambda x: format(x, ',.0f'))
issue_tvs_active_sub_df_display

,TM_KEY_MTH,TM_KEY_DAY,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,P,G,H,HH
0,202506,20250616,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,nan,nan,nan,nan
1,202506,20250615,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,"1,119,850","1,119,850","1,119,850","1,119,850"
2,202506,20250614,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,"1,119,850","1,119,850","1,119,850","1,119,850"
3,202506,20250613,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,"1,119,850","1,119,850","1,119,850","1,119,850"
4,202506,20250612,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,"1,119,850","1,119,850","1,119,850","1,119,850"
5,202506,20250611,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,"1,126,877","1,126,877","1,126,877","1,126,877"
6,202506,20250610,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,"1,126,877","1,126,877","1,126,877","1,126,877"
7,202506,20250609,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,"1,126,877","1,126,877","1,126,877","1,126,877"
8,202506,20250608,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,"1,126,877","1,126,877","1,126,877","1,126,877"
9,202506,20250607,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,"1,126,877","1,126,877","1,126,877","1,126,877"
10,202506,20250606,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,"1,126,877","1,126,877","1,126,877","1,126,877"
11,202506,20250605,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,"1,126,877","1,126,877","1,126,877","1,126,877"
12,202506,20250604,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,"1,127,338","1,127,338","1,127,338","1,127,338"
13,202506,20250603,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,"1,127,815","1,127,815","1,127,815","1,127,815"
14,202506,20250602,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,"1,128,315","1,128,315","1,128,315","1,128,315"
15,202506,20250601,TVS,TB4S000500,TVS Active Subs,2025-06-17 00:53:59,"1,128,753","1,128,753","1,128,753","1,128,753"