# * VINSIGHT : Metric Insight

## Parameter

In [1]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

In [2]:
''' Parameter Input '''

# v_metric_cd = 'B0R000100' #Total Revenue
# v_metric_cd = 'DB0R000100' #Total Revenue : DTAC
# v_metric_cd = 'TB0R000100' #Total Revenue : TRUE
# v_metric_cd = 'B0R000100GEO' #Total Revenue (Geo)
# v_metric_cd = 'DB0R000100GEO' #Total Revenue (Geo) : DTAC
# v_metric_cd = 'TB0R000100GEO' #Total Revenue (Geo) : TRUE

# v_metric_cd = 'B0R000101' #Mobile Revenue
# v_metric_cd = 'DB0R000101' #Mobile Revenue : DTAC
# v_metric_cd = 'TB0R000101' #Mobile Revenue : TMH
# v_metric_cd = 'B0R000101GEO' #Mobile Revenue (Geo)
# v_metric_cd = 'DB0R000101GEO' #Mobile Revenue (Geo) : DTAC
# v_metric_cd = 'TB0R000101GEO' #Mobile Revenue (Geo) : TMH

# v_metric_cd = 'B1R000100' #Prepaid Revenue
# v_metric_cd = 'DB1R000100' #Prepaid Revenue : DTAC
# v_metric_cd = 'TB1R000100' #Prepaid Revenue : TMH

# v_metric_cd = 'B2R000100' #Postpaid Revenue
# v_metric_cd = 'B2R010100' #Postpaid Revenue B2C
# v_metric_cd = 'B2R020100' #Postpaid Revenue B2B
# v_metric_cd = 'DB2R000100' #Postpaid Revenue : DTAC
# v_metric_cd = 'DB2R010100' #Postpaid Revenue B2C : DTAC
# v_metric_cd = 'DB2R020100' #Postpaid Revenue B2B : DTAC
# v_metric_cd = 'TB2R000100' #Postpaid Revenue : TMH
# v_metric_cd = 'TB2R010100' #Postpaid Revenue B2C : TMH
# v_metric_cd = 'TB2R020100' #Postpaid Revenue B2B : TMH

# v_metric_cd = 'TB3R000100' #TOL Revenue

# v_metric_cd = 'TB4R000100' #TVS Revenue

v_metric_cd = 'TB2S010600' #Postpaid Reported SubBase B2C : TMH

# v_metric_cd = 'B0R00010001CS' #Total Inflow M1
# v_metric_cd = 'DB0R00010001CS' #Total Inflow M1 : DTAC
# v_metric_cd = 'TB0R00010001CS' #Total Inflow M1 : TRUE

# v_metric_cd = 'B1R000900CS' #Prepaid Inflow M1
# v_metric_cd = 'DB1R000900CS' #Prepaid Inflow M1 : DTAC
# v_metric_cd = 'TB1R000900CS' #Prepaid Inflow M1 : TMH

# v_metric_cd = 'B2R010500CS' #Postpaid Inflow M1 B2C
# v_metric_cd = 'B2R020500CS' #Postpaid Inflow M1 B2B
# v_metric_cd = 'DB2R010500CS' #Postpaid Inflow M1 B2C : DTAC
# v_metric_cd = 'DB2R020500CS' #Postpaid Inflow M1 B2B : DTAC
# v_metric_cd = 'TB2R010500CS' #Postpaid Inflow M1 B2C : TMH
# v_metric_cd = 'TB2R020500CS' #Postpaid Inflow M1 B2B : TMH

# v_metric_cd = 'TB3R000601CS' #TOL Inflow M1 Connected : Consumer
# v_metric_cd = 'TB3R000601D1CS' #TOL Inflow M1 Connected : Consumer (Install Location)
# v_metric_cd = 'TB3R000602CS' #TOL Inflow M1 Connected : DataService
# v_metric_cd = 'TB3R000602D1CS' #TOL Inflow M1 Connected : DataService (Install Location)

# v_metric_cd = 'TB4R001004CS' #TVS CMDU Inflow M1
# v_metric_cd = 'TB4R001700CS' #TVS Now Inflow M1

v_period_grp = 'Monthly' #Yearly, Quarterly, Monthly, Weekly, Daily

v_area_cd = 'GX1'

# v_start_date = 20240101

print(f'\nParameter input...\n')
print(f'   -> v_metric_cd: {v_metric_cd}')
print(f'   -> v_period_grp: {v_period_grp}')
print(f'   -> v_area_cd: {v_area_cd}')

Parameter input...

   -> v_metric_cd: TB2S010600
   -> v_period_grp: Monthly
   -> v_area_cd: GX1

## Import Transaction

In [3]:
''' Execute transaction '''

curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
print(f'\nData as of {curr_datetime}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        TM_KEY_YR, TM_KEY_QTR, TM_KEY_MTH, TM_KEY_WK, TM_KEY_DAY, PRODUCT_GRP, COMP_CD, METRIC_CD, METRIC_NAME, AREA_TYPE, AREA_CD, AREA_NAME
        , ACTUAL_AS_OF, ACTUAL_SNAP, ACTUAL_AGG_WK, ACTUAL_AGG_MTH, ACTUAL_AGG_QTR, ACTUAL_AGG_YR 
        , TARGET_SNAP, TARGET_AGG_WK, TARGET_AGG_MTH, TARGET_AGG_QTR, TARGET_AGG_YR 
        , PPN_TM
    FROM GEOSPCAPPO.AGG_PERF_NEWCO
    WHERE METRIC_CD = '{v_metric_cd}'
    --AND TM_KEY_DAY >= v_start_date
    --ORDER BY TM_KEY_DAY, PRODUCT_GRP, COMP_CD, METRIC_CD, AREA_TYPE, AREA_CD
""")


try:
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])

    print(f'\n   -> DataFrame : {chk_src_df.shape[0]} rows, {chk_src_df.shape[1]} columns')

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()

Data as of 2025-06-02, 15:47:38

   -> DataFrame : 139553 rows, 24 columns

In [4]:
''' Automate Currently Period '''

curr_yr = chk_src_df['TM_KEY_YR'].max()
prev_yr = str(chk_src_df['TM_KEY_YR'].drop_duplicates().shift().max().astype(int))

curr_qtr = chk_src_df['TM_KEY_QTR'].max()
prev_qtr = str(chk_src_df['TM_KEY_QTR'].drop_duplicates().shift().max().astype(int))

curr_mth = chk_src_df['TM_KEY_MTH'].max()
prev_mth = str(chk_src_df['TM_KEY_MTH'].drop_duplicates().shift().max().astype(int))

curr_wk = chk_src_df['TM_KEY_WK'].max()
prev_wk = str(chk_src_df['TM_KEY_WK'].drop_duplicates().shift().max().astype(int))

curr_day = chk_src_df.loc[chk_src_df['ACTUAL_SNAP'] > 0]['ACTUAL_AS_OF'].max().astype(int)
prev_day = str(chk_src_df.loc[chk_src_df['ACTUAL_SNAP'] > 0]['ACTUAL_AS_OF'].drop_duplicates().shift().max().astype(int))

In [5]:
# ''' Sample Data '''

# chk_src_df.tail()

## Overview by Period

In [16]:
''' Yearly Summary '''

yearly_df = chk_src_df.copy()
yearly_df['P_TARGET'] = np.where(yearly_df['AREA_CD']=='P', yearly_df['TARGET_SNAP'], 0)
yearly_df['C'] = np.where(yearly_df['AREA_CD']=='C', yearly_df['ACTUAL_SNAP'], 0)
yearly_df['P'] = np.where(yearly_df['AREA_CD']=='P', yearly_df['ACTUAL_SNAP'], 0)
yearly_df['G'] = np.where(yearly_df['AREA_TYPE']=='G', yearly_df['ACTUAL_SNAP'], 0)
yearly_df['H'] = np.where(yearly_df['AREA_TYPE']=='H', yearly_df['ACTUAL_SNAP'], 0)
yearly_df['HH'] = np.where(yearly_df['AREA_TYPE']=='HH', yearly_df['ACTUAL_SNAP'], 0)

yearly_df = yearly_df.groupby(['TM_KEY_YR', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME']).agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'P_TARGET':'sum', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum'})
yearly_df['P_YoY'] = yearly_df['P'] - yearly_df['P'].shift()
yearly_df = yearly_df.fillna(0).sort_values(by=['TM_KEY_YR', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()

yearly_df_display = yearly_df.copy()
yearly_df_display['ACTUAL_AS_OF'] = yearly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = yearly_df_display.iloc[:, 6:].columns.tolist()
for col in mod_col_list:
    yearly_df_display[col] = yearly_df_display[col].apply(lambda x: format(x, ',.0f'))
yearly_df_display

C:\Users\Narut4\AppData\Local\Temp\ipykernel_23524\1096117350.py:13: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  yearly_df = yearly_df.fillna(0).sort_values(by=['TM_KEY_YR', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()

,TM_KEY_YR,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,P_TARGET,C,P,G,H,HH,P_YoY
0,2023,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2024-04-23 12:22:16,0,0,0,0,0,0,0,0
1,2024,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,20241231,0,0,"339,711,124","321,681,811","321,681,364","321,681,364","339,711,124"
2,2025,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,20250530,0,0,"1,329,317,044","1,328,987,130","1,328,984,854","1,328,984,854","989,605,920"

In [7]:
''' Quarterly Summary '''

quarterly_df = chk_src_df.copy()
quarterly_df['P_TARGET'] = np.where(quarterly_df['AREA_CD']=='P', quarterly_df['TARGET_SNAP'], 0)
quarterly_df['C'] = np.where(quarterly_df['AREA_CD']=='C', quarterly_df['ACTUAL_SNAP'], 0)
quarterly_df['P'] = np.where(quarterly_df['AREA_CD']=='P', quarterly_df['ACTUAL_SNAP'], 0)
quarterly_df['G'] = np.where(quarterly_df['AREA_TYPE']=='G', quarterly_df['ACTUAL_SNAP'], 0)
quarterly_df['H'] = np.where(quarterly_df['AREA_TYPE']=='H', quarterly_df['ACTUAL_SNAP'], 0)
quarterly_df['HH'] = np.where(quarterly_df['AREA_TYPE']=='HH', quarterly_df['ACTUAL_SNAP'], 0)

quarterly_df = quarterly_df.groupby(['TM_KEY_QTR', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME']).agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'P_TARGET':'sum', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum'})
quarterly_df['P_QoQ'] = quarterly_df['P'] - quarterly_df['P'].shift()
quarterly_df = quarterly_df.fillna(0).sort_values(by=['TM_KEY_QTR', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()

quarterly_df_display = quarterly_df.copy()
quarterly_df_display['ACTUAL_AS_OF'] = quarterly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = quarterly_df_display.iloc[:, 6:].columns.tolist()
for col in mod_col_list:
    quarterly_df_display[col] = quarterly_df_display[col].apply(lambda x: format(x, ',.0f'))

quarterly_df_display

C:\Users\Narut4\AppData\Local\Temp\ipykernel_23524\3952608830.py:13: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  quarterly_df = quarterly_df.fillna(0).sort_values(by=['TM_KEY_QTR', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()

,TM_KEY_QTR,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,P_TARGET,C,P,G,H,HH,P_QoQ
0,20231,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2024-04-23 12:22:16,0,0,0,0,0,0,0,0
1,20232,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2024-04-23 12:22:16,0,0,0,0,0,0,0,0
2,20233,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2024-04-23 12:22:16,0,0,0,0,0,0,0,0
3,20234,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2024-04-23 12:22:16,0,0,0,0,0,0,0,0
4,20241,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,20240331,0,0,"267,192,051","258,187,740","258,187,363","258,187,363","267,192,051"
5,20242,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,20240630,0,0,"18,065,508","9,041,896","9,041,886","9,041,886","-249,126,543"
6,20243,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,20240930,0,0,"27,182,041","27,181,308","27,181,278","27,181,278","9,116,533"
7,20244,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,20241231,0,0,"27,271,524","27,270,867","27,270,837","27,270,837","89,483"
8,20251,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,20250331,0,0,"815,425,711","815,298,591","815,296,956","815,296,956","788,154,187"
9,20252,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,20250530,0,0,"513,891,333","513,688,539","513,687,898","513,687,898","-301,534,378"

In [8]:
''' Monthly Summary '''

v_tm_key_yr = curr_yr
# v_tm_key_yr = 2025

monthly_df = chk_src_df.loc[chk_src_df['TM_KEY_YR']==v_tm_key_yr].copy()
monthly_df['P_TARGET'] = np.where(monthly_df['AREA_CD']=='P', monthly_df['TARGET_SNAP'], 0)
monthly_df['C'] = np.where(monthly_df['AREA_CD']=='C', monthly_df['ACTUAL_SNAP'], 0)
monthly_df['P'] = np.where(monthly_df['AREA_CD']=='P', monthly_df['ACTUAL_SNAP'], 0)
monthly_df['G'] = np.where(monthly_df['AREA_TYPE']=='G', monthly_df['ACTUAL_SNAP'], 0)
monthly_df['H'] = np.where(monthly_df['AREA_TYPE']=='H', monthly_df['ACTUAL_SNAP'], 0)
monthly_df['HH'] = np.where(monthly_df['AREA_TYPE']=='HH', monthly_df['ACTUAL_SNAP'], 0)

monthly_df = monthly_df.groupby(['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME']).agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'P_TARGET':'sum', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum'})
monthly_df['P_MoM'] = monthly_df['P'] - monthly_df['P'].shift()
monthly_df = monthly_df.fillna(0).sort_values(by=['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()

monthly_df_display = monthly_df.copy()
monthly_df_display['ACTUAL_AS_OF'] = monthly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = monthly_df_display.iloc[:, 6:].columns.tolist()
for col in mod_col_list:
    monthly_df_display[col] = monthly_df_display[col].apply(lambda x: format(x, ',.0f'))

monthly_df_display

C:\Users\Narut4\AppData\Local\Temp\ipykernel_23524\951216153.py:16: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  monthly_df = monthly_df.fillna(0).sort_values(by=['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,P_TARGET,C,P,G,H,HH,P_MoM
0,202501,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,20250131,0,0,"280,077,979","280,049,206","280,048,364","280,048,364",0
1,202502,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,20250228,0,0,"253,543,949","253,490,281","253,489,875","253,489,875","-26,534,030"
2,202503,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,20250331,0,0,"281,803,783","281,759,104","281,758,717","281,758,717","28,259,834"
3,202504,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,20250430,0,0,"275,074,299","275,027,359","275,027,003","275,027,003","-6,729,484"
4,202505,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,20250530,0,0,"238,817,034","238,661,180","238,660,895","238,660,895","-36,257,265"
5,202506,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,20250530,0,0,0,0,0,0,"-238,817,034"

In [26]:
''' Weekly Summary '''

# v_tm_key_mth = curr_mth
v_tm_key_mth = 202505

weekly_df = chk_src_df.loc[chk_src_df['TM_KEY_MTH']>=v_tm_key_mth].copy()
weekly_df['P_TARGET'] = np.where(weekly_df['AREA_CD']=='P', weekly_df['TARGET_SNAP'], 0)
weekly_df['C'] = np.where(weekly_df['AREA_CD']=='C', weekly_df['ACTUAL_SNAP'], 0)
weekly_df['P'] = np.where(weekly_df['AREA_CD']=='P', weekly_df['ACTUAL_SNAP'], 0)
weekly_df['G'] = np.where(weekly_df['AREA_TYPE']=='G', weekly_df['ACTUAL_SNAP'], 0)
weekly_df['H'] = np.where(weekly_df['AREA_TYPE']=='H', weekly_df['ACTUAL_SNAP'], 0)
weekly_df['HH'] = np.where(weekly_df['AREA_TYPE']=='HH', weekly_df['ACTUAL_SNAP'], 0)

weekly_df = weekly_df.groupby(['TM_KEY_WK', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME']).agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'P_TARGET':'sum', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum'})
weekly_df['P_WoW'] = weekly_df['P'] - weekly_df['P'].shift()
weekly_df = weekly_df.fillna(0).sort_values(by=['TM_KEY_WK', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()

weekly_df_display = weekly_df.copy()
weekly_df_display['ACTUAL_AS_OF'] = weekly_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = weekly_df_display.iloc[:, 6:].columns.tolist()
for col in mod_col_list:
    weekly_df_display[col] = weekly_df_display[col].apply(lambda x: format(x, ',.0f'))

weekly_df_display

C:\Users\Narut4\AppData\Local\Temp\ipykernel_23524\2018241936.py:16: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  weekly_df = weekly_df.fillna(0).sort_values(by=['TM_KEY_WK', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()

,TM_KEY_WK,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,P_TARGET,C,P,G,H,HH,P_WoW
0,2025018,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,20250504,0,0,"36,689,792","36,688,739","36,688,695","36,688,695",0
1,2025019,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,20250511,0,0,"64,388,254","64,351,686","64,351,609","64,351,609","27,698,462"
2,2025020,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,20250518,0,0,"64,314,849","64,225,106","64,225,029","64,225,029","-73,405"
3,2025021,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,20250525,0,0,"64,322,921","64,299,509","64,299,432","64,299,432","8,072"
4,2025022,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,20250530,0,0,"9,101,218","9,096,140","9,096,130","9,096,130","-55,221,703"

In [23]:
''' Daily Summary '''

# v_tm_key_mth = curr_mth
v_tm_key_mth = 202505

daily_df = chk_src_df.loc[chk_src_df['TM_KEY_MTH']>=v_tm_key_mth].copy()
daily_df['P_TARGET'] = np.where(daily_df['AREA_CD']=='P', daily_df['TARGET_SNAP'], 0)
daily_df['C'] = np.where(daily_df['AREA_CD']=='C', daily_df['ACTUAL_SNAP'], 0)
daily_df['P'] = np.where(daily_df['AREA_CD']=='P', daily_df['ACTUAL_SNAP'], 0)
daily_df['G'] = np.where(daily_df['AREA_TYPE']=='G', daily_df['ACTUAL_SNAP'], 0)
daily_df['H'] = np.where(daily_df['AREA_TYPE']=='H', daily_df['ACTUAL_SNAP'], 0)
daily_df['HH'] = np.where(daily_df['AREA_TYPE']=='HH', daily_df['ACTUAL_SNAP'], 0)

daily_df = daily_df.groupby(['TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME']).agg({'PPN_TM':'max', 'P_TARGET':'sum', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum'})
daily_df = daily_df.fillna(0).sort_values(by=['TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()
# daily_df['P_DoD'] = daily_df['P'] - daily_df['P'].shift()

daily_df_display = daily_df.copy()
mod_col_list = daily_df_display.iloc[:, 5:].columns.tolist()
for col in mod_col_list:
    daily_df_display[col] = daily_df_display[col].apply(lambda x: format(x, ',.0f'))

daily_df_display

C:\Users\Narut4\AppData\Local\Temp\ipykernel_23524\2553496444.py:15: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  daily_df = daily_df.fillna(0).sort_values(by=['TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()

,TM_KEY_DAY,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,P_TARGET,C,P,G,H,HH
0,20250501,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,192,981","9,192,702","9,192,691","9,192,691"
1,20250502,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,192,969","9,192,710","9,192,699","9,192,699"
2,20250503,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,193,535","9,193,276","9,193,265","9,193,265"
3,20250504,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,110,307","9,110,051","9,110,040","9,110,040"
4,20250505,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,196,396","9,196,140","9,196,129","9,196,129"
5,20250506,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,196,451","9,196,195","9,196,184","9,196,184"
6,20250507,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,197,271","9,197,016","9,197,005","9,197,005"
7,20250508,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,197,790","9,197,534","9,197,523","9,197,523"
8,20250509,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,199,288","9,193,321","9,193,310","9,193,310"
9,20250510,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,200,074","9,188,555","9,188,544","9,188,544"
10,20250511,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,200,984","9,182,925","9,182,914","9,182,914"
11,20250512,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,200,558","9,176,786","9,176,775","9,176,775"
12,20250513,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,200,869","9,171,609","9,171,598","9,171,598"
13,20250514,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,201,971","9,166,313","9,166,302","9,166,302"
14,20250515,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,106,540","9,106,282","9,106,271","9,106,271"
15,20250516,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,201,012","9,200,751","9,200,740","9,200,740"
16,20250517,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,201,319","9,201,052","9,201,041","9,201,041"
17,20250518,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,202,580","9,202,313","9,202,302","9,202,302"
18,20250519,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,203,826","9,203,563","9,203,552","9,203,552"
19,20250520,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,204,878","9,199,043","9,199,032","9,199,032"
20,20250521,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,205,213","9,194,700","9,194,689","9,194,689"
21,20250522,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,203,211","9,202,949","9,202,938","9,202,938"
22,20250523,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,201,728","9,201,470","9,201,459","9,201,459"
23,20250524,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,201,605","9,201,350","9,201,339","9,201,339"
24,20250525,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,102,460","9,096,434","9,096,423","9,096,423"
25,20250526,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,0,0,0,0
26,20250527,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,0,0,0,0
27,20250528,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,0,0,0,0
28,20250529,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,0,0,0,0
29,20250530,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,"9,101,218","9,096,140","9,096,130","9,096,130"
30,20250531,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,0,0,0,0
31,20250601,Postpaid,TB2S010600,Postpaid Reported SubBase B2C : TMH,2025-06-02 04:05:56,0,0,0,0,0,0

## Area Type Summary

In [27]:
def agg_period(v_period_grp):

    # Get : Parameter
    period_grp = v_period_grp
    result = 0

    if period_grp == 'Yearly': result = curr_yr
    elif period_grp == 'Quarterly': result = curr_qtr
    elif period_grp == 'Monthly': result = curr_mth
    elif period_grp == 'Weekly': result = curr_wk
    else: result = curr_day
 
    return result


# Check Result
print(f'\nagg_period: {agg_period(v_period_grp)}')

agg_period: 202506

In [28]:
''' Auto Prep Aggregate by Period '''

if v_period_grp == 'Yearly':
    raw_period_df = chk_src_df.groupby(['TM_KEY_YR', 'METRIC_CD', 'METRIC_NAME', 'AREA_TYPE', 'AREA_CD', 'AREA_NAME']).agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'ACTUAL_SNAP':'sum', 'ACTUAL_AGG_MTH':'sum', 'ACTUAL_AGG_QTR':'sum', 'ACTUAL_AGG_YR':'sum', 'TARGET_SNAP':'sum', 'TARGET_AGG_MTH':'sum', 'TARGET_AGG_QTR':'sum', 'TARGET_AGG_YR':'sum'}).copy().reset_index()
    raw_period_df = raw_period_df[['TM_KEY_YR', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'AREA_TYPE', 'AREA_CD', 'AREA_NAME', 'ACTUAL_SNAP', 'TARGET_SNAP']]
elif v_period_grp == 'Quarterly':
    raw_period_df = chk_src_df.groupby(['TM_KEY_QTR', 'METRIC_CD', 'METRIC_NAME', 'AREA_TYPE', 'AREA_CD', 'AREA_NAME']).agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'ACTUAL_SNAP':'sum', 'ACTUAL_AGG_MTH':'sum', 'ACTUAL_AGG_QTR':'sum', 'ACTUAL_AGG_YR':'sum', 'TARGET_SNAP':'sum', 'TARGET_AGG_MTH':'sum', 'TARGET_AGG_QTR':'sum', 'TARGET_AGG_YR':'sum'}).copy().reset_index()
    raw_period_df = raw_period_df[['TM_KEY_QTR', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'AREA_TYPE', 'AREA_CD', 'AREA_NAME', 'ACTUAL_SNAP', 'TARGET_SNAP']]
elif v_period_grp == 'Monthly':
    raw_period_df = chk_src_df.groupby(['TM_KEY_MTH', 'METRIC_CD', 'METRIC_NAME', 'AREA_TYPE', 'AREA_CD', 'AREA_NAME']).agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'ACTUAL_SNAP':'sum', 'ACTUAL_AGG_MTH':'sum', 'ACTUAL_AGG_QTR':'sum', 'ACTUAL_AGG_YR':'sum', 'TARGET_SNAP':'sum', 'TARGET_AGG_MTH':'sum', 'TARGET_AGG_QTR':'sum', 'TARGET_AGG_YR':'sum'}).copy().reset_index()
    raw_period_df = raw_period_df[['TM_KEY_MTH', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'AREA_TYPE', 'AREA_CD', 'AREA_NAME', 'ACTUAL_SNAP', 'TARGET_SNAP']]
elif v_period_grp == 'Weekly':
    raw_period_df = chk_src_df.groupby(['TM_KEY_WK', 'METRIC_CD', 'METRIC_NAME', 'AREA_TYPE', 'AREA_CD', 'AREA_NAME']).agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'ACTUAL_SNAP':'sum', 'ACTUAL_AGG_MTH':'sum', 'ACTUAL_AGG_QTR':'sum', 'ACTUAL_AGG_YR':'sum', 'TARGET_SNAP':'sum', 'TARGET_AGG_MTH':'sum', 'TARGET_AGG_QTR':'sum', 'TARGET_AGG_YR':'sum'}).copy().reset_index()
    raw_period_df = raw_period_df[['TM_KEY_WK', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'AREA_TYPE', 'AREA_CD', 'AREA_NAME', 'ACTUAL_SNAP', 'TARGET_SNAP']]
elif v_period_grp == 'Daily':
    raw_period_df = chk_src_df.groupby(['TM_KEY_DAY', 'METRIC_CD', 'METRIC_NAME', 'AREA_TYPE', 'AREA_CD', 'AREA_NAME']).agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'ACTUAL_SNAP':'sum', 'ACTUAL_AGG_MTH':'sum', 'ACTUAL_AGG_QTR':'sum', 'ACTUAL_AGG_YR':'sum', 'TARGET_SNAP':'sum', 'TARGET_AGG_MTH':'sum', 'TARGET_AGG_QTR':'sum', 'TARGET_AGG_YR':'sum'}).copy().reset_index()
    raw_period_df = raw_period_df[['TM_KEY_DAY', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'ACTUAL_AS_OF', 'AREA_TYPE', 'AREA_CD', 'AREA_NAME', 'ACTUAL_SNAP', 'TARGET_SNAP']]
else:
    print(f'\n*** Aggregate Period Input ? ***')


''' Add Columns '''

raw_period_df['GAP'] = raw_period_df['ACTUAL_SNAP'] - raw_period_df['TARGET_SNAP']
raw_period_df['%ACH'] = raw_period_df['ACTUAL_SNAP'] / raw_period_df['TARGET_SNAP'] * 100
# raw_period_df['%PORTION'] = raw_period_df['ACTUAL_SNAP'] / raw_period_df.groupby([raw_period_df.columns[0], 'METRIC_CD', 'AREA_TYPE'])['ACTUAL_SNAP'].transform('sum') * 100
# raw_period_df

raw_period_df_display = raw_period_df.copy()
raw_period_df_display = raw_period_df_display.fillna(0).sort_values(by=[raw_period_df_display.columns[0], 'METRIC_CD', 'AREA_TYPE', 'AREA_CD']).reset_index(drop=True)
raw_period_df_display['ACTUAL_AS_OF'] = raw_period_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = raw_period_df_display.iloc[:, 8:11].columns.tolist()
for col in mod_col_list:
    raw_period_df_display[col] = raw_period_df_display[col].apply(lambda x: format(x, ',.0f'))
raw_period_df_display['%ACH'] = raw_period_df_display['%ACH'].apply(lambda x: format(x, ',.2f'))
# raw_period_df_display['%PORTION'] = raw_period_df_display['%PORTION'].apply(lambda x: format(x, ',.2f'))
# raw_period_df_display

ZeroDivisionError: float division by zero

In [ ]:
''' P : Nationwide Summary '''

p_summary_df = raw_period_df[raw_period_df[raw_period_df.columns[0]]==agg_period(v_period_grp)]
p_summary_df = p_summary_df.loc[p_summary_df['AREA_TYPE']=='P']
p_summary_df = p_summary_df.fillna(0).sort_values(by=[p_summary_df.columns[0], 'METRIC_CD', 'AREA_CD']).reset_index(drop=True)
p_summary_df['%PORTION'] = p_summary_df['ACTUAL_SNAP'] / p_summary_df.groupby([p_summary_df.columns[0], 'METRIC_CD', 'AREA_TYPE'])['ACTUAL_SNAP'].transform('sum') * 100
# p_summary_df = p_summary_df.fillna(0).sort_values(by='%ACH', ascending=False).reset_index(drop=True)

p_summary_df_display = p_summary_df.copy()
p_summary_df_display['ACTUAL_AS_OF'] = p_summary_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = p_summary_df_display.iloc[:, 8:11].columns.tolist()
for col in mod_col_list:
    p_summary_df_display[col] = p_summary_df_display[col].apply(lambda x: format(x, ',.0f'))
p_summary_df_display['%ACH'] = p_summary_df_display['%ACH'].apply(lambda x: format(x, ',.2f'))
p_summary_df_display['%PORTION'] = p_summary_df_display['%PORTION'].apply(lambda x: format(x, ',.2f'))
p_summary_df_display

Empty DataFrame
Columns: [TM_KEY_MTH, METRIC_CD, METRIC_NAME, PPN_TM, ACTUAL_AS_OF, AREA_TYPE, AREA_CD, AREA_NAME, ACTUAL_SNAP, TARGET_SNAP, GAP, %ACH, %PORTION]
Index: []

In [ ]:
''' G : 8 Region Summary '''

g_summary_df = raw_period_df[raw_period_df[raw_period_df.columns[0]]==agg_period(v_period_grp)]
g_summary_df = g_summary_df.loc[g_summary_df['AREA_TYPE']=='G']
g_summary_df['%PORTION'] = g_summary_df['ACTUAL_SNAP'] / g_summary_df.groupby([g_summary_df.columns[0], 'METRIC_CD', 'AREA_TYPE'])['ACTUAL_SNAP'].transform('sum') * 100
# g_summary_df = g_summary_df.fillna(0).sort_values(by=[g_summary_df.columns[0], 'METRIC_CD', 'AREA_CD']).reset_index(drop=True)
g_summary_df = g_summary_df.fillna(0).sort_values(by='%ACH', ascending=False).reset_index(drop=True)

g_summary_df_display = g_summary_df.copy()
g_summary_df_display['ACTUAL_AS_OF'] = g_summary_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = g_summary_df_display.iloc[:, 8:11].columns.tolist()
for col in mod_col_list:
    g_summary_df_display[col] = g_summary_df_display[col].apply(lambda x: format(x, ',.0f'))
g_summary_df_display['%ACH'] = g_summary_df_display['%ACH'].apply(lambda x: format(x, ',.2f'))
g_summary_df_display['%PORTION'] = g_summary_df_display['%PORTION'].apply(lambda x: format(x, ',.2f'))
g_summary_df_display

Empty DataFrame
Columns: [TM_KEY_MTH, METRIC_CD, METRIC_NAME, PPN_TM, ACTUAL_AS_OF, AREA_TYPE, AREA_CD, AREA_NAME, ACTUAL_SNAP, TARGET_SNAP, GAP, %ACH, %PORTION]
Index: []

In [ ]:
''' H : 64 Province Summary '''

h_summary_df = raw_period_df[raw_period_df[raw_period_df.columns[0]]==agg_period(v_period_grp)]
h_summary_df = h_summary_df.loc[h_summary_df['AREA_TYPE']=='H']
h_summary_df['%PORTION'] = h_summary_df['ACTUAL_SNAP'] / h_summary_df.groupby([h_summary_df.columns[0], 'METRIC_CD', 'AREA_TYPE'])['ACTUAL_SNAP'].transform('sum') * 100
# h_summary_df = h_summary_df.fillna(0).sort_values(by=[h_summary_df.columns[0], 'METRIC_CD', 'AREA_CD']).reset_index(drop=True)
h_summary_df = h_summary_df.fillna(0).sort_values(by='%ACH', ascending=False).reset_index(drop=True)

h_summary_df_display = h_summary_df.copy()
h_summary_df_display['ACTUAL_AS_OF'] = h_summary_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = h_summary_df_display.iloc[:, 8:11].columns.tolist()
for col in mod_col_list:
    h_summary_df_display[col] = h_summary_df_display[col].apply(lambda x: format(x, ',.0f'))
h_summary_df_display['%ACH'] = h_summary_df_display['%ACH'].apply(lambda x: format(x, ',.2f'))
h_summary_df_display['%PORTION'] = h_summary_df_display['%PORTION'].apply(lambda x: format(x, ',.2f'))
h_summary_df_display

,TM_KEY_MTH,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,AREA_TYPE,AREA_CD,AREA_NAME,ACTUAL_SNAP,TARGET_SNAP,GAP,%ACH,%PORTION
0,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 02:00:19,20250531,H,003,"SMP : Bang Bo, Bang Sao Thong, Bang Phli",0,0,0,0.00,0.00
1,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 02:00:19,20250531,H,004,"SMP : Mueang Samut Prakan, Phra Pradaeng, Phra...",0,0,0,0.00,0.00
2,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 02:00:19,20250531,H,38X,"Bueng Kan, Nong Khai",0,0,0,0.00,0.00
3,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 02:00:19,20250531,H,39X,"Udon Thani, Nong Bua Lam Phu",0,0,0,0.00,0.00
4,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 02:00:19,20250531,H,40Z,Khon Kaen,0,0,0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 02:00:19,20250531,H,24X,"Chachoengsao, Nakhon Nayok",0,0,0,0.00,0.00
60,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 02:00:19,20250531,H,26X,"Sa Kaeo, Prachin Buri",0,0,0,0.00,0.00
61,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 02:00:19,20250531,H,30X,Nakhon Ratchasima,0,0,0,0.00,0.00
62,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 02:00:19,20250531,H,31Z,Buri Ram,0,0,0,0.00,0.00
63,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 02:00:19,20250531,H,96X,"Pattani, Yala, Narathiwat",0,0,0,0.00,0.00

In [ ]:
''' HH : 96 Cluster Summary '''

hh_summary_df = raw_period_df[raw_period_df[raw_period_df.columns[0]]==agg_period(v_period_grp)]
hh_summary_df = hh_summary_df.loc[hh_summary_df['AREA_TYPE']=='HH']
hh_summary_df['%PORTION'] = hh_summary_df['ACTUAL_SNAP'] / hh_summary_df.groupby([hh_summary_df.columns[0], 'METRIC_CD', 'AREA_TYPE'])['ACTUAL_SNAP'].transform('sum') * 100
# hh_summary_df = hh_summary_df.fillna(0).sort_values(by=[hh_summary_df.columns[0], 'METRIC_CD', 'AREA_CD']).reset_index(drop=True)
hh_summary_df = hh_summary_df.fillna(0).sort_values(by='%ACH', ascending=False).reset_index(drop=True)

hh_summary_df_display = hh_summary_df.copy()
hh_summary_df_display['ACTUAL_AS_OF'] = hh_summary_df_display['ACTUAL_AS_OF'].astype(int)
mod_col_list = hh_summary_df_display.iloc[:, 8:11].columns.tolist()
for col in mod_col_list:
    hh_summary_df_display[col] = hh_summary_df_display[col].apply(lambda x: format(x, ',.0f'))
hh_summary_df_display['%ACH'] = hh_summary_df_display['%ACH'].apply(lambda x: format(x, ',.2f'))
hh_summary_df_display['%PORTION'] = hh_summary_df_display['%PORTION'].apply(lambda x: format(x, ',.2f'))
hh_summary_df_display

,TM_KEY_MTH,METRIC_CD,METRIC_NAME,PPN_TM,ACTUAL_AS_OF,AREA_TYPE,AREA_CD,AREA_NAME,ACTUAL_SNAP,TARGET_SNAP,GAP,%ACH,%PORTION
0,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 04:05:56,20250531,HH,902033,Ang Thong,0,0,0,0.00,0.00
1,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 04:05:56,20250528,HH,902034,Chai Nat,0,0,0,0.00,0.00
2,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 04:05:56,20250531,HH,908005,"BKK : Taling Chan, Phasi Charoen, Thawi Wattha...",0,0,0,0.00,0.00
3,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 04:05:56,20250531,HH,908004,"BKK : Thon Buri, Khlong San, Rat Burana, Thung...",0,0,0,0.00,0.00
4,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 04:05:56,20250531,HH,908003,"BKK : Bangkok Yai, Bangkok Noi, Bang Phlat",0,0,0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 04:05:56,20250531,HH,904064,Chiang Rai,0,0,0,0.00,0.00
92,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 04:05:56,20250531,HH,904063,Chiang Mai 2,0,0,0,0.00,0.00
93,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 04:05:56,20250531,HH,904062,Chiang Mai 1,0,0,0,0.00,0.00
94,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 04:05:56,20250528,HH,903061,Trat,0,0,0,0.00,0.00
95,202506,TB2R010100,Postpaid Revenue B2C : TMH,2025-06-02 04:05:56,20250528,HH,910098,Yasothon,0,0,0,0.00,0.00

## Area Insight

In [ ]:
print(f'\nv_area_cd: {v_area_cd}')

v_area_cd: GX1

In [ ]:
''' Yearly by Area '''

yearly_area_df = chk_src_df.loc[chk_src_df['AREA_CD']==v_area_cd].copy()
# yearly_area_df = yearly_area_df.groupby(['TM_KEY_YR', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME']).agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'ACTUAL_SNAP':'sum', 'ACTUAL_AGG_MTH':'sum', 'ACTUAL_AGG_QTR':'sum', 'ACTUAL_AGG_YR':'sum', 'TARGET_SNAP':'sum', 'TARGET_AGG_MTH':'sum', 'TARGET_AGG_QTR':'sum', 'TARGET_AGG_YR':'sum'})
yearly_area_df = yearly_area_df.groupby(['TM_KEY_YR', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'AREA_CD', 'AREA_NAME']).agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'ACTUAL_SNAP':'sum', 'TARGET_SNAP':'sum'})
yearly_area_df = yearly_area_df.fillna(0).sort_values(by=['TM_KEY_YR', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()
yearly_area_df['GAP'] = yearly_area_df['ACTUAL_SNAP'] - yearly_area_df['TARGET_SNAP']
yearly_area_df['%ACH'] = yearly_area_df['ACTUAL_SNAP'] / yearly_area_df['TARGET_SNAP'] * 100
# yearly_area_df['%PORTION'] = yearly_area_df['ACTUAL_SNAP'] / yearly_area_df.groupby(['TM_KEY_YR', 'METRIC_CD', 'AREA_TYPE'])['ACTUAL_SNAP'].transform('sum') * 100
yearly_area_df['ACTUAL_AS_OF'] = yearly_area_df['ACTUAL_AS_OF'].astype(int)

yearly_area_df_display = yearly_area_df.copy()
mod_col_list = yearly_area_df_display.iloc[:, 8:11].columns.tolist()
for col in mod_col_list:
    yearly_area_df_display[col] = yearly_area_df_display[col].apply(lambda x: format(x, ',.0f'))
yearly_area_df_display['%ACH'] = yearly_area_df_display['%ACH'].apply(lambda x: format(x, ',.2f'))
yearly_area_df_display

,TM_KEY_YR,PRODUCT_GRP,METRIC_CD,METRIC_NAME,AREA_CD,AREA_NAME,PPN_TM,ACTUAL_AS_OF,ACTUAL_SNAP,TARGET_SNAP,GAP,%ACH
0,2023,Postpaid,TB2R010100,Postpaid Revenue B2C : TMH,GX1,Regional Management 1 (BMA : West),2024-04-23 12:22:16,20231231,"4,668,300,702","4,825,895,065","-157,594,364",96.73
1,2024,Postpaid,TB2R010100,Postpaid Revenue B2C : TMH,GX1,BMA : West,2025-06-02 00:11:29,20241231,"2,817,061,267","2,848,581,102","-31,519,835",98.89
2,2025,Postpaid,TB2R010100,Postpaid Revenue B2C : TMH,GX1,BMA : West,2025-06-02 00:11:29,20250531,"2,637,096,572","2,367,379,669","269,716,903",111.39

In [ ]:
''' Quarterly by Area '''

quarterly_area_df = chk_src_df.loc[chk_src_df['AREA_CD']==v_area_cd].copy()
quarterly_area_df = quarterly_area_df.groupby(['TM_KEY_QTR', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'AREA_CD', 'AREA_NAME']).agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'ACTUAL_SNAP':'sum', 'TARGET_SNAP':'sum'})
quarterly_area_df = quarterly_area_df.fillna(0).sort_values(by=['TM_KEY_QTR', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()
quarterly_area_df['GAP'] = quarterly_area_df['ACTUAL_SNAP'] - quarterly_area_df['TARGET_SNAP']
quarterly_area_df['%ACH'] = quarterly_area_df['ACTUAL_SNAP'] / quarterly_area_df['TARGET_SNAP'] * 100
quarterly_area_df['ACTUAL_AS_OF'] = quarterly_area_df['ACTUAL_AS_OF'].astype(int)

quarterly_area_df_display = quarterly_area_df.copy()
mod_col_list = quarterly_area_df_display.iloc[:, 8:11].columns.tolist()
for col in mod_col_list:
    quarterly_area_df_display[col] = quarterly_area_df_display[col].apply(lambda x: format(x, ',.0f'))
quarterly_area_df_display['%ACH'] = quarterly_area_df_display['%ACH'].apply(lambda x: format(x, ',.2f'))
quarterly_area_df_display

,TM_KEY_QTR,PRODUCT_GRP,METRIC_CD,METRIC_NAME,AREA_CD,AREA_NAME,PPN_TM,ACTUAL_AS_OF,ACTUAL_SNAP,TARGET_SNAP,GAP,%ACH
0,20231,Postpaid,TB2R010100,Postpaid Revenue B2C : TMH,GX1,Regional Management 1 (BMA : West),2024-04-23 12:22:16,20230331,"461,762,158","479,764,814","-18,002,656",96.25
1,20232,Postpaid,TB2R010100,Postpaid Revenue B2C : TMH,GX1,Regional Management 1 (BMA : West),2024-04-23 12:22:16,20230630,"1,394,535,550","1,445,174,344","-50,638,794",96.50
2,20233,Postpaid,TB2R010100,Postpaid Revenue B2C : TMH,GX1,Regional Management 1 (BMA : West),2024-04-23 12:22:16,20230930,"1,403,404,628","1,448,321,669","-44,917,042",96.90
3,20234,Postpaid,TB2R010100,Postpaid Revenue B2C : TMH,GX1,Regional Management 1 (BMA : West),2024-04-23 12:22:16,20231231,"1,408,598,366","1,452,634,238","-44,035,872",96.97
4,20241,Postpaid,TB2R010100,Postpaid Revenue B2C : TMH,GX1,BMA : West,2025-06-02 00:11:29,0,0,0,0,nan
5,20242,Postpaid,TB2R010100,Postpaid Revenue B2C : TMH,GX1,BMA : West,2025-06-02 00:11:29,0,0,0,0,nan
6,20243,Postpaid,TB2R010100,Postpaid Revenue B2C : TMH,GX1,BMA : West,2025-06-02 00:11:29,20240930,"1,402,130,332","1,426,062,332","-23,932,000",98.32
7,20244,Postpaid,TB2R010100,Postpaid Revenue B2C : TMH,GX1,BMA : West,2025-06-02 00:11:29,20241231,"1,414,930,935","1,422,518,771","-7,587,835",99.47
8,20251,Postpaid,TB2R010100,Postpaid Revenue B2C : TMH,GX1,BMA : West,2025-06-02 00:11:29,20250331,"1,579,855,710","1,417,539,704","162,316,006",111.45
9,20252,Postpaid,TB2R010100,Postpaid Revenue B2C : TMH,GX1,BMA : West,2025-06-02 00:11:29,20250531,"1,057,240,861","949,839,965","107,400,896",111.31

In [ ]:
''' Monthly by Area '''

monthly_area_df = chk_src_df.loc[chk_src_df['AREA_CD']==v_area_cd].copy()
monthly_area_df = monthly_area_df.loc[monthly_area_df['TM_KEY_YR']==curr_yr]
monthly_area_df = monthly_area_df.groupby(['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'AREA_CD', 'AREA_NAME']).agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'ACTUAL_SNAP':'sum', 'TARGET_SNAP':'sum'})
monthly_area_df = monthly_area_df.fillna(0).sort_values(by=['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()
monthly_area_df['GAP'] = monthly_area_df['ACTUAL_SNAP'] - monthly_area_df['TARGET_SNAP']
monthly_area_df['%ACH'] = monthly_area_df['ACTUAL_SNAP'] / monthly_area_df['TARGET_SNAP'] * 100
monthly_area_df['ACTUAL_AS_OF'] = monthly_area_df['ACTUAL_AS_OF'].astype(int)

monthly_area_df_display = monthly_area_df.copy()
mod_col_list = monthly_area_df_display.iloc[:, 8:11].columns.tolist()
for col in mod_col_list:
    monthly_area_df_display[col] = monthly_area_df_display[col].apply(lambda x: format(x, ',.0f'))
monthly_area_df_display['%ACH'] = monthly_area_df_display['%ACH'].apply(lambda x: format(x, ',.2f'))
monthly_area_df_display

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,AREA_CD,AREA_NAME,PPN_TM,ACTUAL_AS_OF,ACTUAL_SNAP,TARGET_SNAP,GAP,%ACH
0,202501,Postpaid,TB2R010100,Postpaid Revenue B2C : TMH,GX1,BMA : West,2025-06-02 00:11:29,20250131,"526,943,439","470,128,939","56,814,501",112.08
1,202502,Postpaid,TB2R010100,Postpaid Revenue B2C : TMH,GX1,BMA : West,2025-06-02 00:11:29,20250228,"527,305,836","472,283,931","55,021,905",111.65
2,202503,Postpaid,TB2R010100,Postpaid Revenue B2C : TMH,GX1,BMA : West,2025-06-02 00:11:29,20250331,"525,606,435","475,126,834","50,479,601",110.62
3,202504,Postpaid,TB2R010100,Postpaid Revenue B2C : TMH,GX1,BMA : West,2025-06-02 00:11:29,20250430,"530,412,416","473,867,730","56,544,686",111.93
4,202505,Postpaid,TB2R010100,Postpaid Revenue B2C : TMH,GX1,BMA : West,2025-06-02 00:11:29,20250531,"526,828,445","475,972,235","50,856,211",110.68

In [ ]:
''' Weekly by Area '''

weekly_area_df = chk_src_df.loc[chk_src_df['AREA_CD']==v_area_cd].copy()
weekly_area_df = weekly_area_df.loc[weekly_area_df['TM_KEY_MTH']==curr_mth]
weekly_area_df = weekly_area_df.groupby(['TM_KEY_WK', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'AREA_CD', 'AREA_NAME']).agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'ACTUAL_SNAP':'sum', 'TARGET_SNAP':'sum'})
weekly_area_df = weekly_area_df.fillna(0).sort_values(by=['TM_KEY_WK', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()
weekly_area_df['GAP'] = weekly_area_df['ACTUAL_SNAP'] - weekly_area_df['TARGET_SNAP']
weekly_area_df['%ACH'] = weekly_area_df['ACTUAL_SNAP'] / weekly_area_df['TARGET_SNAP'] * 100
weekly_area_df['ACTUAL_AS_OF'] = weekly_area_df['ACTUAL_AS_OF'].astype(int)

weekly_area_df_display = weekly_area_df.copy()
mod_col_list = weekly_area_df_display.iloc[:, 8:11].columns.tolist()
for col in mod_col_list:
    weekly_area_df_display[col] = weekly_area_df_display[col].apply(lambda x: format(x, ',.0f'))
weekly_area_df_display['%ACH'] = weekly_area_df_display['%ACH'].apply(lambda x: format(x, ',.2f'))
weekly_area_df_display

Empty DataFrame
Columns: [TM_KEY_WK, PRODUCT_GRP, METRIC_CD, METRIC_NAME, AREA_CD, AREA_NAME, PPN_TM, ACTUAL_AS_OF, ACTUAL_SNAP, TARGET_SNAP, GAP, %ACH]
Index: []

In [ ]:
''' Daily by Area '''

daily_area_df = chk_src_df.loc[chk_src_df['AREA_CD']==v_area_cd].copy()
daily_area_df = daily_area_df.loc[daily_area_df['TM_KEY_MTH']==curr_mth]
daily_area_df = daily_area_df.groupby(['TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'AREA_CD', 'AREA_NAME']).agg({'PPN_TM':'max', 'ACTUAL_AS_OF':'max', 'ACTUAL_SNAP':'sum', 'TARGET_SNAP':'sum'})
daily_area_df = daily_area_df.fillna(0).sort_values(by=['TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()
daily_area_df['GAP'] = daily_area_df['ACTUAL_SNAP'] - daily_area_df['TARGET_SNAP']
daily_area_df['%ACH'] = daily_area_df['ACTUAL_SNAP'] / daily_area_df['TARGET_SNAP'] * 100
daily_area_df['ACTUAL_AS_OF'] = daily_area_df['ACTUAL_AS_OF'].astype(int)

daily_area_df_display = daily_area_df.copy()
mod_col_list = daily_area_df_display.iloc[:, 8:11].columns.tolist()
for col in mod_col_list:
    daily_area_df_display[col] = daily_area_df_display[col].apply(lambda x: format(x, ',.0f'))
daily_area_df_display['%ACH'] = daily_area_df_display['%ACH'].apply(lambda x: format(x, ',.2f'))
daily_area_df_display

Empty DataFrame
Columns: [TM_KEY_DAY, PRODUCT_GRP, METRIC_CD, METRIC_NAME, AREA_CD, AREA_NAME, PPN_TM, ACTUAL_AS_OF, ACTUAL_SNAP, TARGET_SNAP, GAP, %ACH]
Index: []