# * VINSIGHT : Daily Status

## Parameter

In [1]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

## Aggregate : Timestamp
->  AGG_PERF_NEWCO

In [13]:
# Input parameter
v_start_date = 20250201
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/ PPN_TM, AREA_TYPE
        , COUNT(DISTINCT METRIC_CD) CNT_METRIC, COUNT(1) ROW_CNT
        , MIN(TM_KEY_DAY) MIN_DT, MAX(TM_KEY_DAY) MAX_DT, MAX(ACTUAL_AS_OF) LAST_ACTUAL
    FROM GEOSPCAPPO.AGG_PERF_NEWCO
    WHERE CENTER IN ('Revenue', 'Sales', 'Profitability')
    AND TM_KEY_DAY >= {v_start_date} 
    GROUP BY PPN_TM, AREA_TYPE
    ORDER BY PPN_TM, AREA_TYPE
""")


try:
    # Get : Timestamp
    src_cur.execute(query)
    rows = src_cur.fetchall()
    print(f'\nCurrent Timestamp...')
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])

    # Display
    vis_timestamp_df = chk_src_df.copy()
    print(f'\n{vis_timestamp_df.to_string(max_cols=7)}') #max_rows=1000
    
    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()

Parameter input...

   -> v_start_date: 20250201

Current Timestamp...

                PPN_TM AREA_TYPE  CNT_METRIC  ROW_CNT    MIN_DT    MAX_DT  LAST_ACTUAL
0  2025-03-05 08:39:02         C         530    16960  20250201  20250304     20250303
1  2025-03-05 08:39:02         G         317    81152  20250201  20250304     20250303
2  2025-03-05 08:39:02         P         341    10912  20250201  20250304     20250303
3  2025-03-05 08:39:02         Z          29     6496  20250201  20250304     20250302
4  2025-03-05 08:41:07         C           4      128  20250201  20250304     20250304
5  2025-03-05 08:41:07         G           4     1024  20250201  20250304     20250304
6  2025-03-05 08:41:07         P           4      128  20250201  20250304     20250304
7  2025-03-05 10:46:31         H         316   667392  20250201  20250304     20250303
8  2025-03-05 10:50:15         H           4     8448  20250201  20250304     20250304
9  2025-03-05 12:46:34        HH         258   792576  20250201  20250304     20250303
10 2025-03-05 12:50:50        HH           4    12288  20250201  20250304     20250304
11 2025-03-05 20:25:42      CCAA         166  4929536  20250201  20250304     20250303

## Data Source : Ex-T Revenue
->  FCT_KPI_NEWCO_PERF_ACTUAL

In [27]:
# Input parameter
v_start_date = 20250201
print(f'\nParameter input...\n')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/ REMARK, METRIC_CD, METRIC_NAME
        , MAX(LOAD_DATE) LOAD_DATE, MIN(TM_KEY_DAY) AS START_DAY, MAX(TM_KEY_DAY) AS END_DAY
        , CAST(SUM(CASE WHEN AREA_TYPE = 'C' THEN ACTUAL END) AS DECIMAL(18)) C
        , CAST(SUM(CASE WHEN AREA_TYPE = 'P' THEN ACTUAL END) AS DECIMAL(18)) P
        , CAST(SUM(CASE WHEN AREA_TYPE = 'G' THEN ACTUAL END) AS DECIMAL(18)) G
        , CAST(SUM(CASE WHEN AREA_TYPE = 'H' THEN ACTUAL END) AS DECIMAL(18)) H
        , CAST(SUM(CASE WHEN AREA_TYPE = 'HH' THEN ACTUAL END) AS DECIMAL(18)) HH
        , CAST(SUM(CASE WHEN AREA_TYPE = 'CCAA' THEN ACTUAL END) AS DECIMAL(18)) CCAA
        , CAST(SUM(CASE WHEN AREA_TYPE = 'CCAATT' THEN ACTUAL END) AS DECIMAL(18)) CCAATT
        , COUNT(DISTINCT AREA_TYPE) CNT_AREA_TYPE, COUNT(DISTINCT AREA_CD) CNT_AREA_CD, COUNT(1) ROW_CNT
    FROM GEOSPCAPPO.FCT_KPI_NEWCO_PERF_ACTUAL
    WHERE REMARK IN ('salisa', 'jutar11')
    AND NOT REGEXP_LIKE(METRIC_CD, '^TCAP|CORP$')
    AND EXISTS (
        SELECT 1 -->> AREA_CD IN (P, G, H, R, HH, CCAA, CCAATT)
        FROM (
            SELECT DISTINCT ORGID_P AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_G AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_R AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_H AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT ORGID_HH AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT SUBSTR(CCAATT,1,4) AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
            UNION SELECT DISTINCT CCAATT AS TMP_CD FROM CDSAPPO.DIM_MOOC_AREA NOLOCK WHERE REMARK <> 'Dummy' AND TEAM_CODE <> 'ไม่ระบุ'
        ) TMP
        WHERE TMP_CD = AREA_CD )
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY REMARK, METRIC_CD, METRIC_NAME
    ORDER BY REMARK, METRIC_CD
""")


try:
    # Get : Ex-T Revenue
    src_cur.execute(query)
    rows = src_cur.fetchall()
    print(f'\nCurrent Ex-T Revenue...')
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])

    # Display
    src_t_revenue_df = chk_src_df.copy()
    mod_col_list = src_t_revenue_df.iloc[:, 7:12].columns.tolist()
    for col in mod_col_list:
        src_t_revenue_df[col] = src_t_revenue_df[col].apply(lambda x: format(x, ',.0f'))
    print(f'\n{src_t_revenue_df.to_string(max_cols=16)}')
    
    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()

Parameter input...

   -> v_start_date: 20250201

Current Ex-T Revenue...

     REMARK      METRIC_CD                 METRIC_NAME           LOAD_DATE  START_DAY   END_DAY     C              P              G              H             HH           CCAA CCAATT  CNT_AREA_TYPE  CNT_AREA_CD  ROW_CNT
0   jutar11     TB1R000100              Prepay Revenue 2025-03-05 04:53:19   20250201  20250302  None  2,476,273,934  2,470,321,307  2,470,307,446  2,470,307,446  2,459,929,765   None              6         1105    33150
1   jutar11     TB1R000101          Prepay New Revenue 2025-03-05 04:49:11   20250201  20250302  None    280,382,865    275,418,722    275,418,722    275,418,722            nan   None              5          177     5310
2   jutar11     TB1R000102     Prepay Existing Revenue 2025-03-05 04:51:34   20250201  20250302  None  2,195,891,069  2,194,902,585  2,194,888,724  2,194,888,724            nan   None              5          177     5310
3   jutar11     TB1S000500           Prepay Usage Subs 2025-03-05 04:53:25   20250201  20250303  None    548,134,192    544,993,096    544,993,096    544,993,096    543,079,852   None              6         1105    34255
4   jutar11     TB1S000600   Prepay Active Caller Subs 2025-03-05 04:53:27   20250201  20250303  None    454,251,772    448,158,344    448,158,344    448,158,344    446,600,968   None              6         1105    34255
5   jutar11     TB2R000100            Postpaid Revenue 2025-03-05 04:21:17   20250202  20250302  None  4,324,108,390  4,315,706,099  4,315,703,344  4,315,703,344            nan   None              5          177     1770
6   jutar11     TB2R000101        Postpaid New Revenue 2025-03-05 04:21:24   20250202  20250302  None     87,832,274     87,826,764     87,826,764     87,826,764            nan   None              5          177     1770
7   jutar11     TB2R000102   Postpaid Existing Revenue 2025-03-05 04:21:30   20250202  20250302  None  4,236,276,116  4,227,879,335  4,227,876,580  4,227,876,580            nan   None              5          177     1770
8   jutar11     TB2R010100        Postpaid Revenue B2C 2025-03-05 04:21:55   20250202  20250302  None  3,798,034,147  3,789,896,761  3,789,894,006  3,789,894,006  3,778,023,836   None              6         1105    11050
9   jutar11     TB2R020100        Postpaid Revenue B2B 2025-03-05 04:21:42   20250202  20250302  None    526,074,244    525,809,338    525,809,338    525,809,338            nan   None              5          177     1770
10  jutar11  TB2R020100SMB  Postpaid Revenue SMB : TMH 2025-03-05 04:21:49   20250202  20250302  None    113,033,968    113,033,698    113,033,698    113,033,698            nan   None              5          177     1770
11  jutar11     TB2S000500        Postpaid Active Subs 2025-03-05 05:13:16   20250201  20250304  None    325,674,123    325,502,889    325,569,626    325,570,042    323,249,791   None              6         1105    35360
12  jutar11     TB2S010500    Postpaid Active Subs B2C 2025-03-05 05:13:59   20250201  20250304  None    287,517,076    287,374,151    287,432,565    287,432,960    285,944,116   None              6         1105    35360
13  jutar11     TB2S020400    Postpaid Active Subs B2B 2025-03-05 05:12:15   20250201  20250304  None     38,157,047     38,128,738     38,137,061     38,137,082            nan   None              5          177     5664
14   salisa     TB3R000100           Broadband Revenue 2025-03-05 05:06:39   20250202  20250302  None  1,653,425,863  1,646,354,293  1,646,354,293  1,646,354,253  1,646,354,293   None              6         1103    11021
15   salisa     TB3R000101       Broadband New Revenue 2025-03-05 05:05:30   20250202  20250302  None     60,244,072     60,214,326     60,214,326     60,214,326            nan   None              5          177     1770
16   salisa     TB3R000102  Broadband Exisitng Revenue 2025-03-05 05:05:30   20250202  20250302  None  1,593,181,792  1,586,139,967  1,586,139,967  1,586,139,927            nan   None              5          177     1770
17   salisa     TB3S000500       Broadband Active Subs 2025-03-05 04:55:32   20250201  20250304  None    100,477,962     99,309,894     99,309,894     99,309,894     99,309,894   None              6         1103    35296
18   salisa     TB4R000100                 TVS Revenue 2025-02-24 05:11:52   20250202  20250222  None    171,895,567    162,246,310    162,553,925    162,538,837            nan   None              5          177     1239
19   salisa     TB4R000101             TVS New Revenue 2025-02-24 05:12:05   20250202  20250222  None        483,522        141,659        138,895        138,895            nan   None              5          177     1238
20   salisa     TB4R000102        TVS Exisitng Revenue 2025-02-24 05:12:05   20250202  20250222  None    171,412,070    162,020,270    162,345,439    162,334,275            nan   None              5          177     1239
21   salisa     TB4R000103       TVS Revenue : Premium 2025-02-24 05:17:32   20250202  20250222  None     50,421,669     49,957,645     50,744,206     50,846,343            nan   None              4          169     1159
22   salisa     TB4R000104           TVS Revenue : Mid 2025-02-24 05:36:55   20250202  20250222  None     15,023,275     14,937,078     15,121,536     15,145,641            nan   None              4          169     1182
23   salisa     TB4R000105          TVS Revenue : Mass 2025-02-24 05:30:42   20250202  20250222  None     88,549,721     87,067,491     87,055,118     87,020,126            nan   None              4          169     1183
24   salisa     TB4R000106          TVS Revenue : CMDU 2025-02-24 05:24:00   20250202  20250219  None        808,380        808,380        808,380        808,380            nan   None              4           31       54
25   salisa     TB4S000500             TVS Active Subs 2025-03-05 04:55:43   20250201  20250304  None     38,013,959     37,316,160     37,316,160     37,316,160     37,315,680   None              6         1105    35360