# * VINSIGHT : Inflow

## Parameter

In [2]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

## Import Transaction

In [3]:
''' Execute transaction '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20250101
print(f'\nParameter input...\n')
print(f'   -> Data as of {curr_datetime}')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        TM_KEY_MTH, TM_KEY_DAY, PRODUCT_GRP, COMP_CD, METRIC_CD, METRIC_NAME --, AREA_TYPE, AREA_CD, AREA_NAME
        , MAX(ACTUAL_AS_OF) ACTUAL_AS_OF
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN ACTUAL_SNAP END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN ACTUAL_SNAP END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN ACTUAL_SNAP END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN ACTUAL_SNAP END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN ACTUAL_SNAP END) HH
        , MAX(PPN_TM) PPN_TM
    FROM GEOSPCAPPO.AGG_PERF_NEWCO
    WHERE METRIC_CD IN (
        'B0R00010001CS' --Total Inflow M1
        , 'TB0R00010001CS' --Total Inflow M1 : TRUE
        , 'DB0R00010001CS' --Total Inflow M1 : DTAC
        , 'B0R00010001CG' --Total Inflow M1 - GEO Channel
        , 'TB0R00010001CG' --Total Inflow M1 : TRUE - GEO Channel
        , 'DB0R00010001CG' --Total Inflow M1 : DTAC - GEO Channel
        
        , 'B1R000900CS' --Prepaid Inflow M1
        , 'TB1R000900CS' --Prepaid Inflow M1 : TMH
        , 'DB1R000900CS' --Prepaid Inflow M1 : DTAC
        , 'B1R000900CG' --Prepaid Inflow M1 - GEO Channel
        , 'TB1R000900CG' --Prepaid Inflow M1 : TMH - GEO Channel
        , 'DB1R000900CG' --Prepaid Inflow M1 : DTAC - GEO Channel
        
        , 'B2R010500CS' --Postpaid Inflow M1 B2C
        , 'TB2R010500CS' --Postpaid Inflow M1 B2C : TMH
        , 'DB2R010500CS' --Postpaid Inflow M1 B2C : DTAC
        , 'B2R010500CG' --Postpaid Inflow M1 B2C - GEO Channel
        , 'TB2R010500CG' --Postpaid Inflow M1 B2C : TMH - GEO Channel
        , 'DB2R010500CG' --Postpaid Inflow M1 B2C : DTAC - GEO Channel
        , 'B2R020500CS' --Postpaid Inflow M1 B2B
        , 'TB2R020500CS' --Postpaid Inflow M1 B2B : TMH
        , 'DB2R020500CS' --Postpaid Inflow M1 B2B : DTAC
        , 'B2R020500CG' --Postpaid Inflow M1 B2B - GEO Channel
        , 'DB2R020500CG' --Postpaid Inflow M1 B2B : DTAC - GEO Channel
        , 'TB2R020500CG' --Postpaid Inflow M1 B2B : TMH - GEO Channel
        
        , 'TB3R000601CS' --TOL Inflow M1 Connected : Consumer
        , 'TB3R000601CG' --TOL Inflow M1 Connected : Consumer - GEO Channel
        , 'TB3R000601D1CS' --TOL Inflow M1 Connected : Consumer (Install Location)
        , 'TB3R000601D1CG' --TOL Inflow M1 Connected : Consumer - GEO Channel (Install Location)
        , 'TB3R000602CS' --TOL Inflow M1 Connected : DataService
        , 'TB3R000602CG' --TOL Inflow M1 Connected : DataService - GEO Channel
        , 'TB3R000602D1CS' --TOL Inflow M1 Connected : DataService (Install Location)
        , 'TB3R000602D1CG' --TOL Inflow M1 Connected : DataService - GEO Channel (Install Location)

        , 'TB4R001700CS' --TVS Now Inflow M1
        , 'TB4R001700CG' --TVS Now Inflow M1 - GEO Channel
        , 'TB4R001004CS' --TVS CMDU Inflow M1
        , 'TB4R001004CG' --TVS CMDU Inflow M1 - GEO Channel
        )
    AND AREA_TYPE IN ('C','P','G','H','HH')
    --AND TM_KEY_DAY IN (20240131, 20240229, 20240331, 20240430, 20240531, 20240630, 20240731, 20240831, 20240930, 20241031, 20241130, 20241231, 20250131, 20250228, 20250331) -->> Year 2024
    --AND TM_KEY_DAY IN (20250131, 20250228, 20250331, 20250430, 20250531) -->> Year 2025
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY TM_KEY_MTH, TM_KEY_DAY, PRODUCT_GRP, COMP_CD, METRIC_CD, METRIC_NAME
    --ORDER BY TM_KEY_MTH, TM_KEY_DAY, PRODUCT_GRP, COMP_CD, METRIC_CD
""")


try:
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()

Parameter input...

   -> Data as of 2025-06-02, 17:22:00
   -> v_start_date: 20250101

In [4]:
''' Automate Currently Period '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
prev_mth = str(chk_src_df['TM_KEY_MTH'].drop_duplicates().astype(int).shift().max())

## Daily (All & Geo)

In [12]:
''' Inflow M1(All Channel) Daily '''

v_metric_list = [
    'B0R00010001CS' #Total Inflow M1
    , 'TB0R00010001CS' #Total Inflow M1 : TRUE
    , 'DB0R00010001CS' #Total Inflow M1 : DTAC

    , 'B1R000900CS' #Prepaid Inflow M1
    , 'TB1R000900CS' #Prepaid Inflow M1 : TMH
    , 'DB1R000900CS' #Prepaid Inflow M1 : DTAC

    , 'B2R010500CS' #Postpaid Inflow M1 B2C
    , 'TB2R010500CS' #Postpaid Inflow M1 B2C : TMH
    , 'DB2R010500CS' #Postpaid Inflow M1 B2C : DTAC
    # , 'B2R020500CS' #Postpaid Inflow M1 B2B
    # , 'TB2R020500CS' #Postpaid Inflow M1 B2B : TMH
    # , 'DB2R020500CS' #Postpaid Inflow M1 B2B : DTAC

    , 'TB3R000601CS' #TOL Inflow M1 Connected : Consumer
    , 'TB3R000601D1CS' #TOL Inflow M1 Connected : Consumer (Install Location)
    # , 'TB3R000602CS' #TOL Inflow M1 Connected : DataService
    # , 'TB3R000602D1CS' #TOL Inflow M1 Connected : DataService (Install Location)

    , 'TB4R001700CS' #TVS Now Inflow M1
    # , 'TB4R001004CS' #TVS CMDU Inflow M1
    ]

# v_tm_key_mth = curr_mth
v_tm_key_mth = 202505

m1_daily_df = chk_src_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P']].copy()
m1_daily_df = m1_daily_df.loc[m1_daily_df['METRIC_CD'].isin(v_metric_list)]
m1_daily_df = m1_daily_df.loc[m1_daily_df['TM_KEY_MTH']==v_tm_key_mth]

m1_daily_df['TOTAL'] = np.where(m1_daily_df['METRIC_CD']=='B0R00010001CS', m1_daily_df['P'], 0)
m1_daily_df['TOTAL_T'] = np.where(m1_daily_df['METRIC_CD']=='TB0R00010001CS', m1_daily_df['P'], 0)
m1_daily_df['TOTAL_D'] = np.where(m1_daily_df['METRIC_CD']=='DB0R00010001CS', m1_daily_df['P'], 0)
m1_daily_df['PRE'] = np.where(m1_daily_df['METRIC_CD']=='B1R000900CS', m1_daily_df['P'], 0)
m1_daily_df['PRE_T'] = np.where(m1_daily_df['METRIC_CD']=='TB1R000900CS', m1_daily_df['P'], 0)
m1_daily_df['PRE_D'] = np.where(m1_daily_df['METRIC_CD']=='DB1R000900CS', m1_daily_df['P'], 0)
m1_daily_df['POST'] = np.where(m1_daily_df['METRIC_CD']=='B2R010500CS', m1_daily_df['P'], 0)
m1_daily_df['POST_T'] = np.where(m1_daily_df['METRIC_CD']=='TB2R010500CS', m1_daily_df['P'], 0)
m1_daily_df['POST_D'] = np.where(m1_daily_df['METRIC_CD']=='DB2R010500CS', m1_daily_df['P'], 0)
m1_daily_df['TOL'] = np.where(m1_daily_df['METRIC_CD']=='TB3R000601CS', m1_daily_df['P'], 0)
m1_daily_df['TOL(Install)'] = np.where(m1_daily_df['METRIC_CD']=='TB3R000601D1CS', m1_daily_df['P'], 0)
m1_daily_df['TVS_NOW'] = np.where(m1_daily_df['METRIC_CD']=='TB4R001700CS', m1_daily_df['P'], 0)

m1_daily_df = m1_daily_df.groupby(['TM_KEY_MTH', 'TM_KEY_DAY']).agg({'PPN_TM':'max', 'TOTAL':'sum', 'TOTAL_T':'sum', 'TOTAL_D':'sum', 'PRE':'sum', 'PRE_T':'sum', 'PRE_D':'sum', 'POST':'sum', 'POST_T':'sum', 'POST_D':'sum', 'TOL':'sum', 'TOL(Install)':'sum', 'TVS_NOW':'sum'})
m1_daily_df = m1_daily_df.fillna(0).sort_values(by=['TM_KEY_DAY']).reset_index()
m1_daily_df = m1_daily_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PPN_TM', 'TOTAL', 'TOTAL_T', 'TOTAL_D', 'PRE', 'PRE_T', 'PRE_D', 'POST', 'POST_T', 'POST_D', 'TOL', 'TOL(Install)', 'TVS_NOW']]

mod_col_list = m1_daily_df.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    m1_daily_df[col] = m1_daily_df[col].apply(lambda x: format(x, ',.0f'))
m1_daily_df

,TM_KEY_MTH,TM_KEY_DAY,PPN_TM,TOTAL,TOTAL_T,TOTAL_D,PRE,PRE_T,PRE_D,POST,POST_T,POST_D,TOL,TOL(Install),TVS_NOW
0,202505,20250501,2025-06-02 04:05:56,"19,313,632","9,545,658","9,767,974","15,545,611","6,691,969","8,853,642","3,462,358","2,568,324","894,034","39,405","39,405","45,415"
1,202505,20250502,2025-06-02 04:05:56,"20,482,623","10,040,308","10,442,315","13,455,125","6,455,483","6,999,641","2,783,368","2,202,384","580,984","1,025,713","1,025,713","40,262"
2,202505,20250503,2025-06-02 04:05:56,"16,129,269","9,616,036","6,513,233","11,776,980","5,861,354","5,915,627","3,079,848","2,491,302","588,546","1,084,907","1,084,907","22,483"
3,202505,20250504,2025-06-02 04:05:56,"15,427,128","9,160,486","6,266,642","11,159,782","5,414,987","5,744,795","3,256,681","2,742,718","513,963","962,804","962,804","29,449"
4,202505,20250505,2025-06-02 04:05:56,"15,575,094","9,133,261","6,441,833","11,483,685","5,722,895","5,760,790","2,946,041","2,272,444","673,597","1,050,423","1,050,423","35,699"
5,202505,20250506,2025-06-02 04:05:56,"17,628,809","9,290,442","8,338,367","12,003,919","5,760,340","6,243,578","2,959,418","2,209,869","749,549","1,073,260","1,073,260","25,776"
6,202505,20250507,2025-06-02 04:05:56,"18,000,824","10,017,895","7,982,929","12,424,043","6,336,293","6,087,750","3,078,304","2,353,020","725,284","1,039,126","1,039,126","9,303"
7,202505,20250508,2025-06-02 04:05:56,"16,405,736","9,735,255","6,670,481","12,474,491","6,518,341","5,956,150","2,563,864","1,921,726","642,138","1,010,280","1,010,280","13,494"
8,202505,20250509,2025-06-02 04:05:56,"17,408,585","10,331,790","7,076,795","12,806,570","6,574,438","6,232,133","2,716,967","1,957,048","759,919","1,028,909","1,028,909","26,830"
9,202505,20250510,2025-06-02 04:05:56,"16,544,600","9,301,498","7,243,103","12,933,745","6,415,872","6,517,874","2,605,080","1,904,727","700,353","906,106","906,106","20,424"
10,202505,20250511,2025-06-02 04:05:56,"17,014,343","9,580,901","7,433,442","13,329,996","6,315,069","7,014,926","2,750,792","2,342,865","407,927","899,417","899,417","13,197"
11,202505,20250512,2025-06-02 04:05:56,"15,915,722","9,374,730","6,540,991","12,306,087","6,432,775","5,873,311","2,689,483","2,029,596","659,887","873,453","873,453","10,552"
12,202505,20250513,2025-06-02 04:05:56,"16,482,888","9,756,990","6,725,898","12,363,051","6,502,732","5,860,318","2,704,951","1,908,113","796,838","984,412","984,412","14,250"
13,202505,20250514,2025-06-02 04:05:56,"16,425,752","9,567,842","6,857,910","11,824,498","6,100,519","5,723,979","2,744,495","2,132,677","611,818","850,732","850,732","11,999"
14,202505,20250515,2025-06-02 04:05:56,"16,361,553","9,644,089","6,717,464","12,655,468","6,566,473","6,088,994","2,400,742","1,842,825","557,917","959,401","959,401","11,760"
15,202505,20250516,2025-06-02 04:05:56,"19,358,689","9,824,090","9,534,599","13,555,609","6,874,791","6,680,817","2,154,094","1,579,042","575,052","915,094","915,094","8,559"
16,202505,20250517,2025-06-02 04:05:56,"17,690,292","10,039,723","7,650,569","13,765,888","6,859,163","6,906,726","2,816,028","2,086,205","729,823","1,003,744","1,003,744","11,085"
17,202505,20250518,2025-06-02 04:05:56,"17,033,052","9,832,776","7,200,276","13,353,092","6,619,105","6,733,987","2,682,544","2,230,779","451,765","955,446","955,446","9,592"
18,202505,20250519,2025-06-02 04:05:56,"16,461,634","9,404,908","7,056,726","12,796,397","6,368,710","6,427,686","2,211,853","1,629,648","582,205","999,843","999,843","6,891"
19,202505,20250520,2025-06-02 04:05:56,"16,754,687","9,293,735","7,460,952","12,802,304","6,042,357","6,759,948","2,443,811","1,863,325","580,486","988,253","988,253","28,150"
20,202505,20250521,2025-06-02 04:05:56,"16,163,336","8,653,689","7,509,647","12,336,788","5,816,319","6,520,469","2,250,185","1,641,639","608,546","868,463","868,463","16,912"
21,202505,20250522,2025-06-02 04:05:56,"15,306,697","5,839,142","9,467,555","12,516,948","3,708,414","8,808,534","1,575,757","984,388","591,369","865,517","865,517","19,896"
22,202505,20250523,2025-06-02 04:05:56,"16,575,832","8,822,896","7,752,936","13,140,344","6,197,571","6,942,772","2,025,633","1,314,377","711,256","913,271","913,271","14,276"
23,202505,20250524,2025-06-02 04:05:56,"16,199,206","8,395,318","7,803,888","12,561,381","5,744,940","6,816,441","2,603,650","1,625,542","978,108","892,187","892,187","23,227"
24,202505,20250525,2025-06-02 04:05:56,"15,792,563","8,407,282","7,385,281","12,494,999","5,518,468","6,976,531","2,386,299","1,985,039","401,260","847,105","847,105","33,261"
25,202505,20250526,2025-06-02 04:05:56,"15,480,778","8,563,644","6,917,133","12,206,592","5,882,882","6,323,709","2,071,363","1,552,126","519,237","904,762","904,762","22,865"
26,202505,20250527,2025-06-02 04:05:56,"15,533,995","8,580,069","6,953,926","11,903,858","5,510,167","6,393,691","2,244,263","1,718,598","525,666","868,269","868,269","23,929"
27,202505,20250528,2025-06-02 04:05:56,"15,924,390","8,556,629","7,367,760","12,446,405","5,691,194","6,755,211","2,087,228","1,512,986","574,243","903,062","903,062","29,469"
28,202505,20250529,2025-06-02 04:05:56,"22,208,519","8,757,296","13,451,223","13,298,003","5,971,890","7,326,113","2,038,600","1,542,977","495,623","823,206","823,206",0
29,202505,20250530,2025-06-02 04:05:56,"13,330,745","3,176,804","10,153,941",0,0,"8,360,497","2,259,342","1,705,430","553,912","873,295","873,295",0
30,202505,20250531,2025-06-02 04:05:56,"2,941,152","2,941,152",0,0,0,0,0,"1,883,382",0,"930,084","930,084",0

In [13]:
''' Inflow M1(Geo Channel) Daily '''

v_metric_list = [
    'B0R00010001CG' #Total Inflow M1 - GEO Channel
    , 'TB0R00010001CG' #Total Inflow M1 : TRUE - GEO Channel
    , 'DB0R00010001CG' #Total Inflow M1 : DTAC - GEO Channel

    , 'B1R000900CG' #Prepaid Inflow M1 - GEO Channel
    , 'TB1R000900CG' #Prepaid Inflow M1 : TMH - GEO Channel
    , 'DB1R000900CG' #Prepaid Inflow M1 : DTAC - GEO Channel
    
    , 'B2R010500CG' #Postpaid Inflow M1 B2C - GEO Channel
    , 'TB2R010500CG' #Postpaid Inflow M1 B2C : TMH - GEO Channel
    , 'DB2R010500CG' #Postpaid Inflow M1 B2C : DTAC - GEO Channel
    # , 'B2R020500CG' #Postpaid Inflow M1 B2B - GEO Channel
    # , 'DB2R020500CG' #Postpaid Inflow M1 B2B : DTAC - GEO Channel
    # , 'TB2R020500CG' #Postpaid Inflow M1 B2B : TMH - GEO Channel
    
    , 'TB3R000601CG' #TOL Inflow M1 Connected : Consumer - GEO Channel
    , 'TB3R000601D1CG' #TOL Inflow M1 Connected : Consumer - GEO Channel (Install Location)
    # , 'TB3R000602CG' #TOL Inflow M1 Connected : DataService - GEO Channel
    # , 'TB3R000602D1CG' #TOL Inflow M1 Connected : DataService - GEO Channel (Install Location)

    , 'TB4R001700CG' #TVS Now Inflow M1 - GEO Channel
    # , 'TB4R001004CG' #TVS CMDU Inflow M1 - GEO Channel
    ]

# v_tm_key_mth = curr_mth
v_tm_key_mth = 202505

m1_geo_daily_df = chk_src_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P']].copy()
m1_geo_daily_df = m1_geo_daily_df.loc[m1_geo_daily_df['METRIC_CD'].isin(v_metric_list)]
m1_geo_daily_df = m1_geo_daily_df.loc[m1_geo_daily_df['TM_KEY_MTH']==v_tm_key_mth]

m1_geo_daily_df['TOTAL'] = np.where(m1_geo_daily_df['METRIC_CD']=='B0R00010001CG', m1_geo_daily_df['P'], 0)
m1_geo_daily_df['TOTAL_T'] = np.where(m1_geo_daily_df['METRIC_CD']=='TB0R00010001CG', m1_geo_daily_df['P'], 0)
m1_geo_daily_df['TOTAL_D'] = np.where(m1_geo_daily_df['METRIC_CD']=='DB0R00010001CG', m1_geo_daily_df['P'], 0)
m1_geo_daily_df['PRE'] = np.where(m1_geo_daily_df['METRIC_CD']=='B1R000900CG', m1_geo_daily_df['P'], 0)
m1_geo_daily_df['PRE_T'] = np.where(m1_geo_daily_df['METRIC_CD']=='TB1R000900CG', m1_geo_daily_df['P'], 0)
m1_geo_daily_df['PRE_D'] = np.where(m1_geo_daily_df['METRIC_CD']=='DB1R000900CG', m1_geo_daily_df['P'], 0)
m1_geo_daily_df['POST'] = np.where(m1_geo_daily_df['METRIC_CD']=='B2R010500CG', m1_geo_daily_df['P'], 0)
m1_geo_daily_df['POST_T'] = np.where(m1_geo_daily_df['METRIC_CD']=='TB2R010500CG', m1_geo_daily_df['P'], 0)
m1_geo_daily_df['POST_D'] = np.where(m1_geo_daily_df['METRIC_CD']=='DB2R010500CG', m1_geo_daily_df['P'], 0)
m1_geo_daily_df['TOL'] = np.where(m1_geo_daily_df['METRIC_CD']=='TB3R000601CG', m1_geo_daily_df['P'], 0)
m1_geo_daily_df['TOL(Install)'] = np.where(m1_geo_daily_df['METRIC_CD']=='TB3R000601D1CG', m1_geo_daily_df['P'], 0)
m1_geo_daily_df['TVS_NOW'] = np.where(m1_geo_daily_df['METRIC_CD']=='TB4R001700CG', m1_geo_daily_df['P'], 0)

m1_geo_daily_df = m1_geo_daily_df.groupby(['TM_KEY_MTH', 'TM_KEY_DAY']).agg({'PPN_TM':'max', 'TOTAL':'sum', 'TOTAL_T':'sum', 'TOTAL_D':'sum', 'PRE':'sum', 'PRE_T':'sum', 'PRE_D':'sum', 'POST':'sum', 'POST_T':'sum', 'POST_D':'sum', 'TOL':'sum', 'TOL(Install)':'sum', 'TVS_NOW':'sum'})
m1_geo_daily_df = m1_geo_daily_df.fillna(0).sort_values(by=['TM_KEY_DAY']).reset_index()
m1_geo_daily_df = m1_geo_daily_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PPN_TM', 'TOTAL', 'TOTAL_T', 'TOTAL_D', 'PRE', 'PRE_T', 'PRE_D', 'POST', 'POST_T', 'POST_D', 'TOL', 'TOL(Install)', 'TVS_NOW']]

mod_col_list = m1_geo_daily_df.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    m1_geo_daily_df[col] = m1_geo_daily_df[col].apply(lambda x: format(x, ',.0f'))
m1_geo_daily_df

,TM_KEY_MTH,TM_KEY_DAY,PPN_TM,TOTAL,TOTAL_T,TOTAL_D,PRE,PRE_T,PRE_D,POST,POST_T,POST_D,TOL,TOL(Install),TVS_NOW
0,202505,20250501,2025-06-02 04:05:56,"17,265,066","8,133,806","9,131,261","15,321,796","6,618,108","8,703,688","1,774,294","1,367,019","407,275","34,465","34,465","45,415"
1,202505,20250502,2025-06-02 04:05:56,"15,718,484","8,550,130","7,168,354","13,280,825","6,385,230","6,895,595","1,448,565","1,181,964","266,601","844,641","844,641","40,262"
2,202505,20250503,2025-06-02 04:05:56,"13,969,721","7,904,556","6,065,165","11,595,731","5,781,359","5,814,372","1,459,429","1,217,247","242,182","868,607","868,607","22,483"
3,202505,20250504,2025-06-02 04:05:56,"13,471,881","7,469,807","6,002,074","11,022,487","5,367,988","5,654,498","1,642,591","1,302,899","339,692","759,044","759,044","29,449"
4,202505,20250505,2025-06-02 04:05:56,"13,631,335","7,705,630","5,925,705","11,357,524","5,681,066","5,676,458","1,343,882","1,102,081","241,801","855,506","855,506","35,476"
5,202505,20250506,2025-06-02 04:05:56,"14,460,844","8,013,356","6,447,488","11,890,097","5,704,545","6,185,553","1,508,030","1,257,043","250,987","903,968","903,968","25,776"
6,202505,20250507,2025-06-02 04:05:56,"14,860,187","8,564,030","6,296,157","12,275,011","6,260,553","6,014,457","1,631,298","1,359,178","272,119","858,771","858,771","9,303"
7,202505,20250508,2025-06-02 04:05:56,"14,432,928","8,317,316","6,115,612","12,282,876","6,398,658","5,884,218","1,225,513","1,010,828","214,685","822,598","822,598","13,494"
8,202505,20250509,2025-06-02 04:05:56,"14,895,024","8,485,110","6,409,914","12,649,947","6,488,425","6,161,522","1,168,090","929,677","238,413","835,790","835,790","26,830"
9,202505,20250510,2025-06-02 04:05:56,"14,687,343","7,995,456","6,691,888","12,783,524","6,342,218","6,441,307","1,149,514","919,912","229,602","696,617","696,617","20,424"
10,202505,20250511,2025-06-02 04:05:56,"15,244,367","7,993,844","7,250,523","13,199,055","6,250,098","6,948,956","1,345,796","1,054,818","290,978","668,327","668,327","13,197"
11,202505,20250512,2025-06-02 04:05:56,"14,067,215","8,025,225","6,041,989","12,190,909","6,383,715","5,807,193","1,159,552","929,553","229,999","689,866","689,866","10,552"
12,202505,20250513,2025-06-02 04:05:56,"14,422,019","8,384,574","6,037,444","12,231,493","6,441,043","5,790,450","1,185,605","949,588","236,017","794,758","794,758","14,250"
13,202505,20250514,2025-06-02 04:05:56,"14,006,801","8,088,465","5,918,336","11,700,646","6,039,699","5,660,947","1,417,978","1,173,345","244,633","708,355","708,355","11,999"
14,202505,20250515,2025-06-02 04:05:56,"14,602,231","8,345,177","6,257,054","12,524,098","6,498,573","6,025,525","1,146,386","933,631","212,755","768,964","768,964","11,760"
15,202505,20250516,2025-06-02 04:05:56,"15,408,845","8,591,147","6,817,698","13,405,507","6,805,662","6,599,846","1,030,068","823,906","206,162","739,996","739,996","8,559"
16,202505,20250517,2025-06-02 04:05:56,"15,653,192","8,553,739","7,099,454","13,626,448","6,796,765","6,829,683","1,211,096","954,496","256,600","750,775","750,775","11,085"
17,202505,20250518,2025-06-02 04:05:56,"15,278,765","8,323,995","6,954,770","13,198,984","6,540,984","6,658,000","1,334,513","1,052,267","282,246","705,001","705,001","9,592"
18,202505,20250519,2025-06-02 04:05:56,"14,628,184","8,057,375","6,570,810","12,645,274","6,310,296","6,334,978","1,039,274","814,877","224,397","796,716","796,716","6,891"
19,202505,20250520,2025-06-02 04:05:56,"14,975,956","8,025,747","6,950,209","12,642,419","5,980,123","6,662,297","1,219,924","996,515","223,409","796,415","796,415","27,619"
20,202505,20250521,2025-06-02 04:05:56,"14,021,836","7,398,219","6,623,617","12,207,076","5,768,683","6,438,393","950,945","776,910","174,035","694,544","694,544","16,912"
21,202505,20250522,2025-06-02 04:05:56,"13,958,915","5,003,403","8,955,512","12,392,172","3,680,242","8,711,930","814,387","582,291","232,096","670,217","670,217","19,896"
22,202505,20250523,2025-06-02 04:05:56,"14,901,710","7,824,472","7,077,238","13,009,058","6,156,501","6,852,557","929,266","717,390","211,876","748,479","748,479","14,276"
23,202505,20250524,2025-06-02 04:05:56,"14,206,612","7,252,821","6,953,791","12,426,068","5,701,987","6,724,081","977,903","757,532","220,371","665,357","665,357","23,227"
24,202505,20250525,2025-06-02 04:05:56,"14,116,400","6,952,024","7,164,376","12,361,835","5,470,513","6,891,322","1,095,507","829,943","265,564","607,264","607,264","33,261"
25,202505,20250526,2025-06-02 04:05:56,"13,807,874","7,362,536","6,445,338","12,087,835","5,837,628","6,250,207","890,241","700,627","189,614","721,558","721,558","22,865"
26,202505,20250527,2025-06-02 04:05:56,"13,770,817","7,182,981","6,587,836","11,789,878","5,465,367","6,324,511","1,101,413","852,022","249,391","680,314","680,314","23,929"
27,202505,20250528,2025-06-02 04:05:56,"14,159,740","7,267,483","6,892,257","12,326,437","5,655,115","6,671,322","902,671","688,276","214,395","717,618","717,618","29,469"
28,202505,20250529,2025-06-02 04:05:56,"15,005,678","7,531,781","7,473,898","13,210,763","5,918,907","7,291,856","858,218","684,712","173,506","672,149","672,149",0
29,202505,20250530,2025-06-02 04:05:56,"10,255,764","1,702,840","8,552,924",0,0,"8,313,726","1,022,779","790,412","232,367","681,245","681,245",0
30,202505,20250531,2025-06-02 04:05:56,"1,564,438","1,564,438",0,0,0,0,0,"791,259",0,"661,580","661,580",0

In [ ]:
# WHERE METRIC_CD IN (
#     'B0R00010001CS' --Total Inflow M1
#     , 'TB0R00010001CS' --Total Inflow M1 : TRUE
#     , 'DB0R00010001CS' --Total Inflow M1 : DTAC
#     , 'B0R00010001CG' --Total Inflow M1 - GEO Channel
#     , 'TB0R00010001CG' --Total Inflow M1 : TRUE - GEO Channel
#     , 'DB0R00010001CG' --Total Inflow M1 : DTAC - GEO Channel
    
#     , 'B1R000900CS' --Prepaid Inflow M1
#     , 'TB1R000900CS' --Prepaid Inflow M1 : TMH
#     , 'DB1R000900CS' --Prepaid Inflow M1 : DTAC
#     , 'B1R000900CG' --Prepaid Inflow M1 - GEO Channel
#     , 'TB1R000900CG' --Prepaid Inflow M1 : TMH - GEO Channel
#     , 'DB1R000900CG' --Prepaid Inflow M1 : DTAC - GEO Channel
    
#     , 'B2R010500CS' --Postpaid Inflow M1 B2C
#     , 'TB2R010500CS' --Postpaid Inflow M1 B2C : TMH
#     , 'DB2R010500CS' --Postpaid Inflow M1 B2C : DTAC
#     , 'B2R010500CG' --Postpaid Inflow M1 B2C - GEO Channel
#     , 'TB2R010500CG' --Postpaid Inflow M1 B2C : TMH - GEO Channel
#     , 'DB2R010500CG' --Postpaid Inflow M1 B2C : DTAC - GEO Channel
#     , 'B2R020500CS' --Postpaid Inflow M1 B2B
#     , 'TB2R020500CS' --Postpaid Inflow M1 B2B : TMH
#     , 'DB2R020500CS' --Postpaid Inflow M1 B2B : DTAC
#     , 'B2R020500CG' --Postpaid Inflow M1 B2B - GEO Channel
#     , 'DB2R020500CG' --Postpaid Inflow M1 B2B : DTAC - GEO Channel
#     , 'TB2R020500CG' --Postpaid Inflow M1 B2B : TMH - GEO Channel
    
#     , 'TB3R000601CS' --TOL Inflow M1 Connected : Consumer
#     , 'TB3R000601CG' --TOL Inflow M1 Connected : Consumer - GEO Channel
#     , 'TB3R000601D1CS' --TOL Inflow M1 Connected : Consumer (Install Location)
#     , 'TB3R000601D1CG' --TOL Inflow M1 Connected : Consumer - GEO Channel (Install Location)
#     , 'TB3R000602CS' --TOL Inflow M1 Connected : DataService
#     , 'TB3R000602CG' --TOL Inflow M1 Connected : DataService - GEO Channel
#     , 'TB3R000602D1CS' --TOL Inflow M1 Connected : DataService (Install Location)
#     , 'TB3R000602D1CG' --TOL Inflow M1 Connected : DataService - GEO Channel (Install Location)

#     , 'TB4R001700CS' --TVS Now Inflow M1
#     , 'TB4R001700CG' --TVS Now Inflow M1 - GEO Channel
#     , 'TB4R001004CS' --TVS CMDU Inflow M1
#     , 'TB4R001004CG' --TVS CMDU Inflow M1 - GEO Channel
#     )