# * VINSIGHT : Revenue

## Parameter

In [1]:
import configparser
import datetime as dt
import pandas as pd
import numpy as np
import xlrd
import oracledb
import re
import FN_Monitoring as fn

config = configparser.ConfigParser()
config.read('../../my_config.ini')
config.sections()

TDMDBPR_user = config['TDMDBPR']['username']
TDMDBPR_pwd = config['TDMDBPR']['password']
TDMDBPR_db = config['TDMDBPR']['db']
TDMDBPR_host = config['TDMDBPR']['host']
TDMDBPR_port = config['TDMDBPR']['port']

AKPIPRD_user = config['AKPIPRD']['username']
AKPIPRD_pwd = config['AKPIPRD']['password']
AKPIPRD_db = config['AKPIPRD']['db']
AKPIPRD_host = config['AKPIPRD']['host']
AKPIPRD_port = config['AKPIPRD']['port']

curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')

## Revenue (Baht)

### Import Transaction

In [2]:
''' Execute transaction '''


# Input parameter
curr_datetime = dt.datetime.now().strftime('%Y-%m-%d, %H:%M:%S')
v_start_date = 20250101
print(f'\nParameter input...\n')
print(f'   -> Data as of {curr_datetime}')
print(f'   -> v_start_date: {v_start_date}')


# Connect : TDMDBPR
src_dsn = f'{TDMDBPR_user}/{TDMDBPR_pwd}@{TDMDBPR_host}:{TDMDBPR_port}/{TDMDBPR_db}'
src_conn = oracledb.connect(src_dsn)
src_cur = src_conn.cursor()
query = (f"""
    SELECT /*+PARALLEL(8)*/
        TM_KEY_MTH, TM_KEY_DAY, PRODUCT_GRP, COMP_CD, METRIC_CD, METRIC_NAME --, AREA_TYPE, AREA_CD, AREA_NAME
        , MAX(ACTUAL_AS_OF) ACTUAL_AS_OF
        , SUM(CASE WHEN AREA_TYPE = 'C' THEN ACTUAL_SNAP END) C
        , SUM(CASE WHEN AREA_TYPE = 'P' THEN ACTUAL_SNAP END) P
        , SUM(CASE WHEN AREA_TYPE = 'G' THEN ACTUAL_SNAP END) G
        , SUM(CASE WHEN AREA_TYPE = 'H' THEN ACTUAL_SNAP END) H
        , SUM(CASE WHEN AREA_TYPE = 'HH' THEN ACTUAL_SNAP END) HH
        , MAX(PPN_TM) PPN_TM
    FROM GEOSPCAPPO.AGG_PERF_NEWCO
    WHERE METRIC_CD IN (
        'B0R000100' --Total Revenue
        , 'DB0R000100' --Total Revenue : DTAC
        , 'TB0R000100' --Total Revenue : TRUE
        , 'B0R000100GEO' --Total Revenue (Geo)
        , 'DB0R000100GEO' --Total Revenue (Geo) : DTAC
        , 'TB0R000100GEO' --Total Revenue (Geo) : TRUE

        , 'B0R000101' --Mobile Revenue
        , 'DB0R000101' --Mobile Revenue : DTAC
        , 'TB0R000101' --Mobile Revenue : TMH
        , 'B0R000101GEO' --Mobile Revenue (Geo)
        , 'DB0R000101GEO' --Mobile Revenue (Geo) : DTAC
        , 'TB0R000101GEO' --Mobile Revenue (Geo) : TMH
        
        , 'B1R000100' --Prepaid Revenue
        , 'DB1R000100' --Prepaid Revenue : DTAC
        , 'TB1R000100' --Prepaid Revenue : TMH
         
        , 'B2R000100' --Postpaid Revenue
        , 'B2R010100' --Postpaid Revenue B2C
        , 'B2R020100' --Postpaid Revenue B2B
        , 'DB2R000100' --Postpaid Revenue : DTAC
        , 'DB2R010100' --Postpaid Revenue B2C : DTAC
        , 'DB2R020100' --Postpaid Revenue B2B : DTAC
        , 'TB2R000100' --Postpaid Revenue : TMH
        , 'TB2R010100' --Postpaid Revenue B2C : TMH
        , 'TB2R020100' --Postpaid Revenue B2B : TMH
        
        , 'TB3R000100' --TOL Revenue
        
        , 'TB4R000100' --TVS Revenue
        )
    AND AREA_TYPE IN ('C','P','G','H','HH')
    AND TM_KEY_DAY >= {v_start_date}
    GROUP BY TM_KEY_MTH, TM_KEY_DAY, PRODUCT_GRP, COMP_CD, METRIC_CD, METRIC_NAME
""")


try:
    src_cur.execute(query)
    rows = src_cur.fetchall()
    chk_src_df = pd.DataFrame.from_records(rows, columns=[x[0] for x in src_cur.description])

    src_cur.close()


except oracledb.DatabaseError as e:
    print(f'\nError with Oracle : {e}')


finally:
    src_conn.close()

Parameter input...

   -> Data as of 2025-05-30, 11:50:57
   -> v_start_date: 20250101

In [3]:
''' Automate Currently Period '''

curr_mth = chk_src_df['TM_KEY_MTH'].max()
prev_mth = str(chk_src_df['TM_KEY_MTH'].drop_duplicates().astype(int).shift().max())

### Daily (Corp & Geo)

In [4]:
''' Revenue(Corp) Daily '''

v_metric_list = [
    'B0R000100' #Total Revenue
    , 'B1R000100' #Prepaid Revenue
    # , 'DB1R000100' #Prepaid Revenue : DTAC
    # , 'TB1R000100' #Prepaid Revenue : TMH
    , 'B2R000100' #Postpaid Revenue
    # , 'DB2R000100' #Postpaid Revenue : DTAC
    # , 'TB2R000100' #Postpaid Revenue : TMH
    , 'TB3R000100' #TOL Revenue
    , 'TB4R000100' #TVS Revenue
    ]
v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

rev_corp_daily_df = chk_src_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'C']].copy()
rev_corp_daily_df = rev_corp_daily_df.loc[rev_corp_daily_df['METRIC_CD'].isin(v_metric_list)]
rev_corp_daily_df = rev_corp_daily_df.loc[rev_corp_daily_df['TM_KEY_MTH']==v_tm_key_mth]

rev_corp_daily_df['TOTAL(Corp)'] = np.where(rev_corp_daily_df['METRIC_CD']=='B0R000100', rev_corp_daily_df['C'], 0)
rev_corp_daily_df['PRE'] = np.where(rev_corp_daily_df['METRIC_CD']=='B1R000100', rev_corp_daily_df['C'], 0)
# rev_corp_daily_df['PRE_T'] = np.where(rev_corp_daily_df['METRIC_CD']=='TB1R000100', rev_corp_daily_df['C'], 0)
# rev_corp_daily_df['PRE_D'] = np.where(rev_corp_daily_df['METRIC_CD']=='DB1R000100', rev_corp_daily_df['C'], 0)
rev_corp_daily_df['POST'] = np.where(rev_corp_daily_df['METRIC_CD']=='B2R000100', rev_corp_daily_df['C'], 0)
# rev_corp_daily_df['POST_T'] = np.where(rev_corp_daily_df['METRIC_CD']=='TB2R000100', rev_corp_daily_df['C'], 0)
# rev_corp_daily_df['POST_D'] = np.where(rev_corp_daily_df['METRIC_CD']=='DB2R000100', rev_corp_daily_df['C'], 0)
rev_corp_daily_df['TOL'] = np.where(rev_corp_daily_df['METRIC_CD']=='TB3R000100', rev_corp_daily_df['C'], 0)
rev_corp_daily_df['TVS'] = np.where(rev_corp_daily_df['METRIC_CD']=='TB4R000100', rev_corp_daily_df['C'], 0)

rev_corp_daily_df = rev_corp_daily_df.groupby(['TM_KEY_MTH', 'TM_KEY_DAY']).agg({'PPN_TM':'max', 'TOTAL(Corp)':'sum', 'PRE':'sum', 'POST':'sum', 'TOL':'sum', 'TVS':'sum'})
rev_corp_daily_df = rev_corp_daily_df.fillna(0).sort_values(by=['TM_KEY_DAY']).reset_index()
rev_corp_daily_df = rev_corp_daily_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PPN_TM', 'TOTAL(Corp)', 'PRE', 'POST', 'TOL', 'TVS']]

mod_col_list = rev_corp_daily_df.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    rev_corp_daily_df[col] = rev_corp_daily_df[col].apply(lambda x: format(x, ',.0f'))

rev_corp_daily_df

,TM_KEY_MTH,TM_KEY_DAY,PPN_TM,TOTAL(Corp),PRE,POST,TOL,TVS
0,202505,20250501,2025-05-30 01:36:20,"185,057,378","175,099,813","9,957,565",0,0
1,202505,20250502,2025-05-30 01:36:20,"1,260,296,937","162,930,833","841,275,639","221,377,058","34,713,407"
2,202505,20250503,2025-05-30 01:36:20,"237,078,095","146,752,230","90,325,865",0,0
3,202505,20250504,2025-05-30 01:36:20,"227,724,497","139,324,000","88,400,498",0,0
4,202505,20250505,2025-05-30 01:36:20,"230,532,922","144,754,994","85,777,928",0,0
5,202505,20250506,2025-05-30 01:36:20,"687,381,272","144,489,760","384,000,023","147,501,755","11,389,733"
6,202505,20250507,2025-05-30 01:36:20,"226,743,747","139,925,621","86,818,126",0,0
7,202505,20250508,2025-05-30 01:36:20,"227,799,230","141,534,062","86,265,167",0,0
8,202505,20250509,2025-05-30 01:36:20,"225,769,562","136,863,210","88,906,352",0,0
9,202505,20250510,2025-05-30 01:36:20,"980,468,541","137,704,908","578,302,679","233,894,454","30,566,500"
10,202505,20250511,2025-05-30 01:36:20,"217,620,488","134,230,332","83,390,155",0,0
11,202505,20250512,2025-05-30 01:36:20,"212,028,470","129,484,116","82,544,354",0,0
12,202505,20250513,2025-05-30 01:36:20,"816,154,104","131,169,144","490,920,571","171,595,431","22,468,958"
13,202505,20250514,2025-05-30 01:36:20,"203,940,272","125,269,168","78,671,104",0,0
14,202505,20250515,2025-05-30 01:36:20,"212,439,740","134,847,010","77,592,729",0,0
15,202505,20250516,2025-05-30 01:36:20,"800,929,226","139,967,451","466,218,723","170,890,230","23,852,821"
16,202505,20250517,2025-05-30 01:36:20,"208,411,280","130,616,850","77,794,431",0,0
17,202505,20250518,2025-05-30 01:36:20,"210,433,635","130,064,423","80,369,212",0,0
18,202505,20250519,2025-05-30 01:36:20,"775,337,815","132,307,951","455,146,624","166,326,453","21,556,787"
19,202505,20250520,2025-05-30 01:36:20,"209,865,210","130,776,412","79,088,798",0,0
20,202505,20250521,2025-05-30 01:36:20,"208,578,747","128,019,724","80,559,023",0,0
21,202505,20250522,2025-05-30 01:36:20,"767,107,045","119,215,071","459,932,033","166,542,741","21,417,199"
22,202505,20250523,2025-05-30 01:36:20,"209,649,932","129,947,020","79,702,912",0,0
23,202505,20250524,2025-05-30 01:36:20,"200,039,093","120,119,881","79,919,213",0,0
24,202505,20250525,2025-05-30 01:36:20,"761,964,869","126,171,534","451,549,211","162,730,330","21,513,794"
25,202505,20250526,2025-05-30 01:36:20,"219,579,141","130,302,388","89,276,753",0,0
26,202505,20250527,2025-05-30 01:36:20,"223,694,863","131,178,263","92,516,600",0,0
27,202505,20250528,2025-05-30 01:36:20,"221,842,669","132,285,109","89,557,560",0,0
28,202505,20250529,2025-05-30 01:36:20,0,0,0,0,0

In [5]:
''' Revenue(Geo) Daily '''

v_metric_list = [
    'B0R000100GEO' #Total Revenue (Geo)
    , 'B1R000100' #Prepaid Revenue
    , 'DB1R000100' #Prepaid Revenue : DTAC
    , 'TB1R000100' #Prepaid Revenue : TMH
    , 'B2R010100' #Postpaid Revenue B2C
    , 'DB2R010100' #Postpaid Revenue B2C : DTAC
    , 'TB2R010100' #Postpaid Revenue B2C : TMH
    , 'TB3R000100' #TOL Revenue
    , 'TB4R000100' #TVS Revenue
    ]
v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

rev_geo_daily_df = chk_src_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P']].copy()
rev_geo_daily_df = rev_geo_daily_df.loc[rev_geo_daily_df['METRIC_CD'].isin(v_metric_list)]
rev_geo_daily_df = rev_geo_daily_df.loc[rev_geo_daily_df['TM_KEY_MTH']==v_tm_key_mth]

rev_geo_daily_df['TOTAL(Geo)'] = np.where(rev_geo_daily_df['METRIC_CD']=='B0R000100GEO', rev_geo_daily_df['P'], 0)
rev_geo_daily_df['PRE'] = np.where(rev_geo_daily_df['METRIC_CD']=='B1R000100', rev_geo_daily_df['P'], 0)
rev_geo_daily_df['PRE_T'] = np.where(rev_geo_daily_df['METRIC_CD']=='TB1R000100', rev_geo_daily_df['P'], 0)
rev_geo_daily_df['PRE_D'] = np.where(rev_geo_daily_df['METRIC_CD']=='DB1R000100', rev_geo_daily_df['P'], 0)
rev_geo_daily_df['POST_B2C'] = np.where(rev_geo_daily_df['METRIC_CD']=='B2R010100', rev_geo_daily_df['P'], 0)
rev_geo_daily_df['POST_B2C_T'] = np.where(rev_geo_daily_df['METRIC_CD']=='TB2R010100', rev_geo_daily_df['P'], 0)
rev_geo_daily_df['POST_B2C_D'] = np.where(rev_geo_daily_df['METRIC_CD']=='DB2R010100', rev_geo_daily_df['P'], 0)
rev_geo_daily_df['TOL'] = np.where(rev_geo_daily_df['METRIC_CD']=='TB3R000100', rev_geo_daily_df['P'], 0)
rev_geo_daily_df['TVS'] = np.where(rev_geo_daily_df['METRIC_CD']=='TB4R000100', rev_geo_daily_df['P'], 0)

rev_geo_daily_df = rev_geo_daily_df.groupby(['TM_KEY_MTH', 'TM_KEY_DAY']).agg({'PPN_TM':'max', 'TOTAL(Geo)':'sum', 'PRE':'sum', 'PRE_T':'sum', 'PRE_D':'sum', 'POST_B2C':'sum', 'POST_B2C_T':'sum', 'POST_B2C_D':'sum', 'TOL':'sum', 'TVS':'sum'})
rev_geo_daily_df = rev_geo_daily_df.fillna(0).sort_values(by=['TM_KEY_DAY']).reset_index()
rev_geo_daily_df = rev_geo_daily_df[['TM_KEY_MTH', 'TM_KEY_DAY', 'PPN_TM', 'TOTAL(Geo)', 'PRE', 'PRE_T', 'PRE_D', 'POST_B2C', 'POST_B2C_T', 'POST_B2C_D', 'TOL', 'TVS']]

mod_col_list = rev_geo_daily_df.iloc[:, 3:].columns.tolist()
for col in mod_col_list:
    rev_geo_daily_df[col] = rev_geo_daily_df[col].apply(lambda x: format(x, ',.0f'))

rev_geo_daily_df

,TM_KEY_MTH,TM_KEY_DAY,PPN_TM,TOTAL(Geo),PRE,PRE_T,PRE_D,POST_B2C,POST_B2C_T,POST_B2C_D,TOL,TVS
0,202505,20250501,2025-05-30 01:36:20,"181,113,461","174,932,414","99,880,018","75,052,396","6,181,046",0,"6,181,046",0,0
1,202505,20250502,2025-05-30 01:36:20,"992,981,272","162,783,649","94,043,903","68,739,746","575,568,708","479,993,365","95,575,342","220,549,409","34,079,506"
2,202505,20250503,2025-05-30 01:36:20,"233,704,819","146,582,612","84,480,590","62,102,022","87,122,207",0,"87,122,207",0,0
3,202505,20250504,2025-05-30 01:36:20,"226,737,538","139,197,697","79,916,644","59,281,053","87,539,841",0,"87,539,841",0,0
4,202505,20250505,2025-05-30 01:36:20,"229,099,212","144,651,500","83,827,766","60,823,734","84,447,712",0,"84,447,712",0,0
5,202505,20250506,2025-05-30 01:36:20,"675,628,358","144,364,096","83,847,884","60,516,213","375,079,915","287,826,219","87,253,696","146,715,041","9,469,306"
6,202505,20250507,2025-05-30 01:36:20,"224,161,542","139,653,454","81,677,270","57,976,184","84,508,087",0,"84,508,087",0,0
7,202505,20250508,2025-05-30 01:36:20,"225,753,269","141,525,625","83,755,536","57,770,090","84,227,643",0,"84,227,643",0,0
8,202505,20250509,2025-05-30 01:36:20,"221,456,281","136,844,646","81,516,755","55,327,891","84,611,636",0,"84,611,636",0,0
9,202505,20250510,2025-05-30 01:36:20,"931,298,093","137,684,231","82,117,627","55,566,604","531,228,790","444,332,472","86,896,318","233,394,769","28,990,303"
10,202505,20250511,2025-05-30 01:36:20,"214,760,935","133,192,734","76,456,016","56,736,718","81,568,201",0,"81,568,201",0,0
11,202505,20250512,2025-05-30 01:36:20,"208,743,205","128,194,355","74,780,691","53,413,664","80,548,850",0,"80,548,850",0,0
12,202505,20250513,2025-05-30 01:36:20,"794,194,339","129,768,055","76,737,561","53,030,494","471,958,707","390,381,712","81,576,994","171,309,966","21,157,612"
13,202505,20250514,2025-05-30 01:36:20,"198,743,088","123,550,913","72,716,995","50,833,919","75,192,175",0,"75,192,175",0,0
14,202505,20250515,2025-05-30 01:36:20,"209,600,054","133,195,189","78,873,045","54,322,144","76,404,864",0,"76,404,864",0,0
15,202505,20250516,2025-05-30 01:36:20,"765,754,967","138,208,874","79,571,752","58,637,122","434,324,802","356,650,496","77,674,305","170,555,291","22,666,000"
16,202505,20250517,2025-05-30 01:36:20,"205,858,818","128,953,227","73,130,983","55,822,244","76,905,591",0,"76,905,591",0,0
17,202505,20250518,2025-05-30 01:36:20,"207,504,877","130,041,916","73,680,118","56,361,798","77,462,961",0,"77,462,961",0,0
18,202505,20250519,2025-05-30 01:36:20,"754,021,636","132,182,791","76,218,070","55,964,721","435,143,450","355,868,589","79,274,861","166,017,775","20,677,621"
19,202505,20250520,2025-05-30 01:36:20,"208,548,935","130,577,796","74,425,410","56,152,386","77,971,139",0,"77,971,139",0,0
20,202505,20250521,2025-05-30 01:36:20,"207,211,808","127,845,397","71,790,186","56,055,211","79,366,411",0,"79,366,411",0,0
21,202505,20250522,2025-05-30 01:36:20,"745,105,477","119,071,649","60,156,702","58,914,946","439,524,777","360,432,057","79,092,720","166,212,309","20,296,742"
22,202505,20250523,2025-05-30 01:36:20,"208,314,995","129,787,221","75,088,246","54,698,975","78,527,774",0,"78,527,774",0,0
23,202505,20250524,2025-05-30 01:36:20,"198,967,936","119,970,501","66,775,646","53,194,855","78,997,435",0,"78,997,435",0,0
24,202505,20250525,2025-05-30 01:36:20,"714,755,912","126,051,983","71,273,441","54,778,542","405,819,742","327,254,914","78,564,828","162,423,311","20,460,877"
25,202505,20250526,2025-05-30 01:36:20,"217,554,033","130,147,963","75,555,316","54,592,647","87,406,070",0,"87,406,070",0,0
26,202505,20250527,2025-05-30 01:36:20,"218,681,786","130,993,913","76,595,469","54,398,444","87,687,873",0,"87,687,873",0,0
27,202505,20250528,2025-05-30 01:36:20,"219,478,432","132,229,330","76,038,092","56,191,238","87,249,101",0,"87,249,101",0,0
28,202505,20250529,2025-05-30 01:36:20,0,0,0,0,0,0,0,0,0

### Prep Monthly Data

In [6]:
''' Monthly Summary '''

monthly_df = chk_src_df.copy()
monthly_df = monthly_df.groupby(['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME']).agg({'PPN_TM':'max', 'C':'sum', 'P':'sum', 'G':'sum', 'H':'sum', 'HH':'sum'})
monthly_df = monthly_df.fillna(0).sort_values(by=['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD']).reset_index()
monthly_df['DIFF (C-P)'] = monthly_df['C'] - monthly_df['P']

monthly_df_display = monthly_df.copy()
mod_col_list = monthly_df_display.iloc[:, 5:].columns.tolist()
for col in mod_col_list:
    monthly_df_display[col] = monthly_df_display[col].apply(lambda x: format(x, ',.0f'))

# monthly_df_display

In [7]:
# ''' Sample Data '''

# # sample_mth_df = monthly_df_display.loc[monthly_df_display['TM_KEY_MTH']==202501]
# # sample_mth_df

# sample_day_df = chk_src_df.loc[chk_src_df['TM_KEY_MTH']==202501].copy()
# sample_day_df.tail(3)

### Special Metric (Corp & Geo)

#### Revenue Corporate (C)
    B0R000100	Total Revenue
    DB0R000100	Total Revenue : DTAC
    TB0R000100	Total Revenue : TRUE
    
    B0R000101	Mobile Revenue
    DB0R000101	Mobile Revenue : DTAC
    TB0R000101	Mobile Revenue : TMH

In [8]:
''' B0R000100 : Total Revenue '''

# Create KPI(All area both actual & target) by sum METRIC_CD :
# ('DB1R000100', 'TB1R000100', 'DB2R000100', 'TB2R000100', 'TB3R000100', 'TB4R000100', 'TNSC00147')

v_metric_list = [
    'B0R000100' #Total Revenue
    , 'DB1R000100' #Prepaid Revenue : DTAC
    , 'TB1R000100' #Prepaid Revenue : TMH
    , 'DB2R000100' #Postpaid Revenue : DTAC
    , 'TB2R000100' #Postpaid Revenue : TMH
    , 'TB3R000100' #TOL Revenue
    , 'TB4R000100' #TVS Revenue
    ]
# v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

total_rev_corp_df = monthly_df[['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'C']].copy()
total_rev_corp_df = total_rev_corp_df.loc[total_rev_corp_df['METRIC_CD'].isin(v_metric_list)]
# total_rev_corp_df = total_rev_corp_df.loc[total_rev_corp_df['TM_KEY_MTH']==v_tm_key_mth]

total_rev_corp_df['TOTAL'] = np.where(total_rev_corp_df['METRIC_CD']=='B0R000100', total_rev_corp_df['C'], 0)
total_rev_corp_df['PRE_T'] = np.where(total_rev_corp_df['METRIC_CD']=='TB1R000100', total_rev_corp_df['C'], 0)
total_rev_corp_df['PRE_D'] = np.where(total_rev_corp_df['METRIC_CD']=='DB1R000100', total_rev_corp_df['C'], 0)
total_rev_corp_df['POST_T'] = np.where(total_rev_corp_df['METRIC_CD']=='TB2R000100', total_rev_corp_df['C'], 0)
total_rev_corp_df['POST_D'] = np.where(total_rev_corp_df['METRIC_CD']=='DB2R000100', total_rev_corp_df['C'], 0)
total_rev_corp_df['TOL'] = np.where(total_rev_corp_df['METRIC_CD']=='TB3R000100', total_rev_corp_df['C'], 0)
total_rev_corp_df['TVS'] = np.where(total_rev_corp_df['METRIC_CD']=='TB4R000100', total_rev_corp_df['C'], 0)
total_rev_corp_df['CHK_SUM'] = np.where(total_rev_corp_df['METRIC_CD'].isin(['TB1R000100','DB1R000100','TB2R000100','DB2R000100','TB3R000100','TB4R000100']), total_rev_corp_df['C'], 0)

total_rev_corp_df = total_rev_corp_df.groupby(['TM_KEY_MTH']).agg({'PPN_TM':'max', 'TOTAL':'sum', 'PRE_T':'sum', 'PRE_D':'sum', 'POST_T':'sum', 'POST_D':'sum', 'TOL':'sum', 'TVS':'sum', 'CHK_SUM':'sum'})
total_rev_corp_df['CHK_DIFF'] = total_rev_corp_df['TOTAL'] - total_rev_corp_df['CHK_SUM']
total_rev_corp_df = total_rev_corp_df.fillna(0).sort_values(by=['TM_KEY_MTH']).reset_index()
total_rev_corp_df = total_rev_corp_df[['TM_KEY_MTH', 'PPN_TM', 'CHK_DIFF', 'CHK_SUM', 'TOTAL', 'PRE_T', 'PRE_D', 'POST_T', 'POST_D', 'TOL', 'TVS']]

mod_col_list = total_rev_corp_df.iloc[:, 2:].columns.tolist()
for col in mod_col_list:
    total_rev_corp_df[col] = total_rev_corp_df[col].apply(lambda x: format(x, ',.0f'))
total_rev_corp_df

,TM_KEY_MTH,PPN_TM,CHK_DIFF,CHK_SUM,TOTAL,PRE_T,PRE_D,POST_T,POST_D,TOL,TVS
0,202501,2025-05-30 01:36:20,"2,759,902,588","12,770,106,773","15,530,009,361","2,444,926,240","1,839,813,343","3,731,079,534","2,739,914,585","1,597,056,733","417,316,338"
1,202502,2025-05-30 01:36:20,"2,400,717,361","12,236,601,216","14,637,318,577","2,217,259,007","1,648,646,062","3,726,430,939","2,727,363,466","1,609,673,918","307,227,824"
2,202503,2025-05-30 01:36:20,"2,734,805,804","12,516,306,281","15,251,112,086","2,466,370,982","1,775,352,571","3,708,553,920","2,734,968,120","1,616,442,724","214,617,965"
3,202504,2025-05-30 01:36:20,0,"12,526,105,797","12,526,105,797","2,366,358,116","1,713,487,323","3,767,633,755","2,744,630,192","1,616,821,911","317,174,500"
4,202505,2025-05-30 01:36:20,0,"11,168,468,778","11,168,468,778","2,198,101,115","1,607,250,163","3,313,513,518","2,421,266,330","1,440,858,452","187,479,200"

In [9]:
''' TB0R000100 : Total Revenue : TRUE '''

# Create KPI(All area both actual & target) by sum METRIC_CD :
# ('TB1R000100', 'TB2R000100', 'TB3R000100', 'TB4R000100')

v_metric_list = [
    'TB0R000100' #Total Revenue : TRUE
    , 'TB1R000100' #Prepaid Revenue : TMH
    , 'TB2R000100' #Postpaid Revenue : TMH
    , 'TB3R000100' #TOL Revenue
    , 'TB4R000100' #TVS Revenue
    ]
# v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

total_rev_corp_true_df = monthly_df[['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'C']].copy()
total_rev_corp_true_df = total_rev_corp_true_df.loc[total_rev_corp_true_df['METRIC_CD'].isin(v_metric_list)]
# total_rev_corp_true_df = total_rev_corp_true_df.loc[total_rev_corp_true_df['TM_KEY_MTH']==v_tm_key_mth]

total_rev_corp_true_df['TOTAL_T'] = np.where(total_rev_corp_true_df['METRIC_CD']=='TB0R000100', total_rev_corp_true_df['C'], 0)
total_rev_corp_true_df['PRE_T'] = np.where(total_rev_corp_true_df['METRIC_CD']=='TB1R000100', total_rev_corp_true_df['C'], 0)
total_rev_corp_true_df['POST_T'] = np.where(total_rev_corp_true_df['METRIC_CD']=='TB2R000100', total_rev_corp_true_df['C'], 0)
total_rev_corp_true_df['TOL'] = np.where(total_rev_corp_true_df['METRIC_CD']=='TB3R000100', total_rev_corp_true_df['C'], 0)
total_rev_corp_true_df['TVS'] = np.where(total_rev_corp_true_df['METRIC_CD']=='TB4R000100', total_rev_corp_true_df['C'], 0)
total_rev_corp_true_df['CHK_SUM'] = np.where(total_rev_corp_true_df['METRIC_CD'].isin(['TB1R000100','TB2R000100','TB3R000100','TB4R000100']), total_rev_corp_true_df['C'], 0)

total_rev_corp_true_df = total_rev_corp_true_df.groupby(['TM_KEY_MTH']).agg({'PPN_TM':'max', 'TOTAL_T':'sum', 'PRE_T':'sum', 'POST_T':'sum', 'TOL':'sum', 'TVS':'sum', 'CHK_SUM':'sum'})
total_rev_corp_true_df['CHK_DIFF'] = total_rev_corp_true_df['TOTAL_T'] - total_rev_corp_true_df['CHK_SUM']
total_rev_corp_true_df = total_rev_corp_true_df.fillna(0).sort_values(by=['TM_KEY_MTH']).reset_index()
total_rev_corp_true_df = total_rev_corp_true_df[['TM_KEY_MTH', 'PPN_TM', 'CHK_DIFF', 'CHK_SUM', 'TOTAL_T', 'PRE_T', 'POST_T', 'TOL', 'TVS']]

mod_col_list = total_rev_corp_true_df.iloc[:, 2:].columns.tolist()
for col in mod_col_list:
    total_rev_corp_true_df[col] = total_rev_corp_true_df[col].apply(lambda x: format(x, ',.0f'))
total_rev_corp_true_df

,TM_KEY_MTH,PPN_TM,CHK_DIFF,CHK_SUM,TOTAL_T,PRE_T,POST_T,TOL,TVS
0,202501,2025-05-30 01:36:20,-0,"8,190,378,845","8,190,378,845","2,444,926,240","3,731,079,534","1,597,056,733","417,316,338"
1,202502,2025-05-30 01:36:20,0,"7,860,591,688","7,860,591,688","2,217,259,007","3,726,430,939","1,609,673,918","307,227,824"
2,202503,2025-05-30 01:36:20,0,"8,005,985,591","8,005,985,591","2,466,370,982","3,708,553,920","1,616,442,724","214,617,965"
3,202504,2025-05-30 01:36:20,0,"8,067,988,282","8,067,988,282","2,366,358,116","3,767,633,755","1,616,821,911","317,174,500"
4,202505,2025-05-30 01:36:20,0,"7,139,952,285","7,139,952,285","2,198,101,115","3,313,513,518","1,440,858,452","187,479,200"

In [10]:
''' DB0R000100 : Total Revenue : DTAC '''

# Create KPI(All area both actual & target) by sum METRIC_CD :
# ('DB1R000100', 'DB2R000100')

v_metric_list = [
    'DB0R000100' #Total Revenue : DTAC
    , 'DB1R000100' #Prepaid Revenue : DTAC
    , 'DB2R000100' #Postpaid Revenue : DTAC
    ]
# v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

total_rev_corp_dtac_df = monthly_df[['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'C']].copy()
total_rev_corp_dtac_df = total_rev_corp_dtac_df.loc[total_rev_corp_dtac_df['METRIC_CD'].isin(v_metric_list)]
# total_rev_corp_dtac_df = total_rev_corp_dtac_df.loc[total_rev_corp_dtac_df['TM_KEY_MTH']==v_tm_key_mth]

total_rev_corp_dtac_df['TOTAL_D'] = np.where(total_rev_corp_dtac_df['METRIC_CD']=='DB0R000100', total_rev_corp_dtac_df['C'], 0)
total_rev_corp_dtac_df['PRE_D'] = np.where(total_rev_corp_dtac_df['METRIC_CD']=='DB1R000100', total_rev_corp_dtac_df['C'], 0)
total_rev_corp_dtac_df['POST_D'] = np.where(total_rev_corp_dtac_df['METRIC_CD']=='DB2R000100', total_rev_corp_dtac_df['C'], 0)
total_rev_corp_dtac_df['CHK_SUM'] = np.where(total_rev_corp_dtac_df['METRIC_CD'].isin(['DB1R000100','DB2R000100']), total_rev_corp_dtac_df['C'], 0)

total_rev_corp_dtac_df = total_rev_corp_dtac_df.groupby(['TM_KEY_MTH']).agg({'PPN_TM':'max', 'TOTAL_D':'sum', 'PRE_D':'sum', 'POST_D':'sum', 'CHK_SUM':'sum'})
total_rev_corp_dtac_df['CHK_DIFF'] = total_rev_corp_dtac_df['TOTAL_D'] - total_rev_corp_dtac_df['CHK_SUM']
total_rev_corp_dtac_df = total_rev_corp_dtac_df.fillna(0).sort_values(by=['TM_KEY_MTH']).reset_index()
total_rev_corp_dtac_df = total_rev_corp_dtac_df[['TM_KEY_MTH', 'PPN_TM', 'CHK_DIFF', 'CHK_SUM', 'TOTAL_D', 'PRE_D', 'POST_D']]

mod_col_list = total_rev_corp_dtac_df.iloc[:, 2:].columns.tolist()
for col in mod_col_list:
    total_rev_corp_dtac_df[col] = total_rev_corp_dtac_df[col].apply(lambda x: format(x, ',.0f'))
total_rev_corp_dtac_df

,TM_KEY_MTH,PPN_TM,CHK_DIFF,CHK_SUM,TOTAL_D,PRE_D,POST_D
0,202501,2025-05-30 01:36:20,"2,759,902,588","4,579,727,928","7,339,630,516","1,839,813,343","2,739,914,585"
1,202502,2025-05-30 01:36:20,"2,400,717,361","4,376,009,529","6,776,726,890","1,648,646,062","2,727,363,466"
2,202503,2025-05-30 01:36:20,"2,734,805,804","4,510,320,691","7,245,126,495","1,775,352,571","2,734,968,120"
3,202504,2025-05-30 01:36:20,-0,"4,458,117,515","4,458,117,515","1,713,487,323","2,744,630,192"
4,202505,2025-05-30 01:36:20,0,"4,028,516,493","4,028,516,493","1,607,250,163","2,421,266,330"

In [11]:
''' B0R000101 : Mobile Revenue '''

# Create KPI(All area both actual & target) by sum METRIC_CD :
# ('DB2R000100', 'TB2R000100', 'DB1R000100', 'TB1R000100')

v_metric_list = [
    'B0R000101' #Mobile Revenue
    , 'DB1R000100' #Prepaid Revenue : DTAC
    , 'TB1R000100' #Prepaid Revenue : TMH
    , 'DB2R000100' #Postpaid Revenue : DTAC
    , 'TB2R000100' #Postpaid Revenue : TMH
    ]
# v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

mobile_rev_corp_df = monthly_df[['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'C']].copy()
mobile_rev_corp_df = mobile_rev_corp_df.loc[mobile_rev_corp_df['METRIC_CD'].isin(v_metric_list)]
# mobile_rev_corp_df = mobile_rev_corp_df.loc[mobile_rev_corp_df['TM_KEY_MTH']==v_tm_key_mth]

mobile_rev_corp_df['MOBILE'] = np.where(mobile_rev_corp_df['METRIC_CD']=='B0R000101', mobile_rev_corp_df['C'], 0)
mobile_rev_corp_df['PRE_T'] = np.where(mobile_rev_corp_df['METRIC_CD']=='TB1R000100', mobile_rev_corp_df['C'], 0)
mobile_rev_corp_df['PRE_D'] = np.where(mobile_rev_corp_df['METRIC_CD']=='DB1R000100', mobile_rev_corp_df['C'], 0)
mobile_rev_corp_df['POST_T'] = np.where(mobile_rev_corp_df['METRIC_CD']=='TB2R000100', mobile_rev_corp_df['C'], 0)
mobile_rev_corp_df['POST_D'] = np.where(mobile_rev_corp_df['METRIC_CD']=='DB2R000100', mobile_rev_corp_df['C'], 0)
mobile_rev_corp_df['CHK_SUM'] = np.where(mobile_rev_corp_df['METRIC_CD'].isin(['TB1R000100','DB1R000100','TB2R000100','DB2R000100']), mobile_rev_corp_df['C'], 0)

mobile_rev_corp_df = mobile_rev_corp_df.groupby(['TM_KEY_MTH']).agg({'PPN_TM':'max', 'MOBILE':'sum', 'PRE_T':'sum', 'PRE_D':'sum', 'POST_T':'sum', 'POST_D':'sum', 'CHK_SUM':'sum'})
mobile_rev_corp_df['CHK_DIFF'] = mobile_rev_corp_df['MOBILE'] - mobile_rev_corp_df['CHK_SUM']
mobile_rev_corp_df = mobile_rev_corp_df.fillna(0).sort_values(by=['TM_KEY_MTH']).reset_index()
mobile_rev_corp_df = mobile_rev_corp_df[['TM_KEY_MTH', 'PPN_TM', 'CHK_DIFF', 'CHK_SUM', 'MOBILE', 'PRE_T', 'PRE_D', 'POST_T', 'POST_D']]

mod_col_list = mobile_rev_corp_df.iloc[:, 2:].columns.tolist()
for col in mod_col_list:
    mobile_rev_corp_df[col] = mobile_rev_corp_df[col].apply(lambda x: format(x, ',.0f'))
mobile_rev_corp_df

,TM_KEY_MTH,PPN_TM,CHK_DIFF,CHK_SUM,MOBILE,PRE_T,PRE_D,POST_T,POST_D
0,202501,2025-05-30 01:36:20,"2,759,902,588","10,755,733,702","13,515,636,290","2,444,926,240","1,839,813,343","3,731,079,534","2,739,914,585"
1,202502,2025-05-30 01:36:20,"2,400,717,361","10,319,699,474","12,720,416,836","2,217,259,007","1,648,646,062","3,726,430,939","2,727,363,466"
2,202503,2025-05-30 01:36:20,"2,734,805,804","10,685,245,593","13,420,051,397","2,466,370,982","1,775,352,571","3,708,553,920","2,734,968,120"
3,202504,2025-05-30 01:36:20,0,"10,592,109,386","10,592,109,386","2,366,358,116","1,713,487,323","3,767,633,755","2,744,630,192"
4,202505,2025-05-30 01:36:20,0,"9,540,131,126","9,540,131,126","2,198,101,115","1,607,250,163","3,313,513,518","2,421,266,330"

In [12]:
''' TB0R000101 : Mobile Revenue : TMH '''

# Create KPI(All area both actual & target) by sum METRIC_CD :
# ('TB2R000100', 'TB1R000100')

v_metric_list = [
    'TB0R000101' #Mobile Revenue : TMH
    , 'TB1R000100' #Prepaid Revenue : TMH
    , 'TB2R000100' #Postpaid Revenue : TMH
    ]
# v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

mobile_rev_corp_tmh_df = monthly_df[['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'C']].copy()
mobile_rev_corp_tmh_df = mobile_rev_corp_tmh_df.loc[mobile_rev_corp_tmh_df['METRIC_CD'].isin(v_metric_list)]
# mobile_rev_corp_tmh_df = mobile_rev_corp_tmh_df.loc[mobile_rev_corp_tmh_df['TM_KEY_MTH']==v_tm_key_mth]

mobile_rev_corp_tmh_df['MOBILE_T'] = np.where(mobile_rev_corp_tmh_df['METRIC_CD']=='TB0R000101', mobile_rev_corp_tmh_df['C'], 0)
mobile_rev_corp_tmh_df['PRE_T'] = np.where(mobile_rev_corp_tmh_df['METRIC_CD']=='TB1R000100', mobile_rev_corp_tmh_df['C'], 0)
mobile_rev_corp_tmh_df['POST_T'] = np.where(mobile_rev_corp_tmh_df['METRIC_CD']=='TB2R000100', mobile_rev_corp_tmh_df['C'], 0)
mobile_rev_corp_tmh_df['CHK_SUM'] = np.where(mobile_rev_corp_tmh_df['METRIC_CD'].isin(['TB1R000100','TB2R000100']), mobile_rev_corp_tmh_df['C'], 0)

mobile_rev_corp_tmh_df = mobile_rev_corp_tmh_df.groupby(['TM_KEY_MTH']).agg({'PPN_TM':'max', 'MOBILE_T':'sum', 'PRE_T':'sum', 'POST_T':'sum', 'CHK_SUM':'sum'})
mobile_rev_corp_tmh_df['CHK_DIFF'] = mobile_rev_corp_tmh_df['MOBILE_T'] - mobile_rev_corp_tmh_df['CHK_SUM']
mobile_rev_corp_tmh_df = mobile_rev_corp_tmh_df.fillna(0).sort_values(by=['TM_KEY_MTH']).reset_index()
mobile_rev_corp_tmh_df = mobile_rev_corp_tmh_df[['TM_KEY_MTH', 'PPN_TM', 'CHK_DIFF', 'CHK_SUM', 'MOBILE_T', 'PRE_T', 'POST_T']]

mod_col_list = mobile_rev_corp_tmh_df.iloc[:, 2:].columns.tolist()
for col in mod_col_list:
    mobile_rev_corp_tmh_df[col] = mobile_rev_corp_tmh_df[col].apply(lambda x: format(x, ',.0f'))
mobile_rev_corp_tmh_df

,TM_KEY_MTH,PPN_TM,CHK_DIFF,CHK_SUM,MOBILE_T,PRE_T,POST_T
0,202501,2025-05-30 01:36:20,0,"6,176,005,774","6,176,005,774","2,444,926,240","3,731,079,534"
1,202502,2025-05-30 01:36:20,0,"5,943,689,946","5,943,689,946","2,217,259,007","3,726,430,939"
2,202503,2025-05-30 01:36:20,0,"6,174,924,902","6,174,924,902","2,466,370,982","3,708,553,920"
3,202504,2025-05-30 01:36:20,0,"6,133,991,871","6,133,991,871","2,366,358,116","3,767,633,755"
4,202505,2025-05-30 01:36:20,0,"5,511,614,633","5,511,614,633","2,198,101,115","3,313,513,518"

In [13]:
''' DB0R000101 : Mobile Revenue : DTAC '''

# Create KPI(All area both actual & target) by sum METRIC_CD :
# ('DB2R000100', 'DB1R000100')

v_metric_list = [
    'DB0R000101' #Mobile Revenue : DTAC
    , 'DB1R000100' #Prepaid Revenue : DTAC
    , 'DB2R000100' #Postpaid Revenue : DTAC
    ]
# v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

mobile_rev_corp_dtac_df = monthly_df[['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'C']].copy()
mobile_rev_corp_dtac_df = mobile_rev_corp_dtac_df.loc[mobile_rev_corp_dtac_df['METRIC_CD'].isin(v_metric_list)]
# mobile_rev_corp_dtac_df = mobile_rev_corp_dtac_df.loc[mobile_rev_corp_dtac_df['TM_KEY_MTH']==v_tm_key_mth]

mobile_rev_corp_dtac_df['MOBILE_D'] = np.where(mobile_rev_corp_dtac_df['METRIC_CD']=='DB0R000101', mobile_rev_corp_dtac_df['C'], 0)
mobile_rev_corp_dtac_df['PRE_D'] = np.where(mobile_rev_corp_dtac_df['METRIC_CD']=='DB1R000100', mobile_rev_corp_dtac_df['C'], 0)
mobile_rev_corp_dtac_df['POST_D'] = np.where(mobile_rev_corp_dtac_df['METRIC_CD']=='DB2R000100', mobile_rev_corp_dtac_df['C'], 0)
mobile_rev_corp_dtac_df['CHK_SUM'] = np.where(mobile_rev_corp_dtac_df['METRIC_CD'].isin(['DB1R000100','DB2R000100']), mobile_rev_corp_dtac_df['C'], 0)

mobile_rev_corp_dtac_df = mobile_rev_corp_dtac_df.groupby(['TM_KEY_MTH']).agg({'PPN_TM':'max', 'MOBILE_D':'sum', 'PRE_D':'sum', 'POST_D':'sum', 'CHK_SUM':'sum'})
mobile_rev_corp_dtac_df['CHK_DIFF'] = mobile_rev_corp_dtac_df['MOBILE_D'] - mobile_rev_corp_dtac_df['CHK_SUM']
mobile_rev_corp_dtac_df = mobile_rev_corp_dtac_df.fillna(0).sort_values(by=['TM_KEY_MTH']).reset_index()
mobile_rev_corp_dtac_df = mobile_rev_corp_dtac_df[['TM_KEY_MTH', 'PPN_TM', 'CHK_DIFF', 'CHK_SUM', 'MOBILE_D', 'PRE_D', 'POST_D']]

mod_col_list = mobile_rev_corp_dtac_df.iloc[:, 2:].columns.tolist()
for col in mod_col_list:
    mobile_rev_corp_dtac_df[col] = mobile_rev_corp_dtac_df[col].apply(lambda x: format(x, ',.0f'))
mobile_rev_corp_dtac_df

,TM_KEY_MTH,PPN_TM,CHK_DIFF,CHK_SUM,MOBILE_D,PRE_D,POST_D
0,202501,2025-05-30 01:36:20,"2,759,902,588","4,579,727,928","7,339,630,516","1,839,813,343","2,739,914,585"
1,202502,2025-05-30 01:36:20,"2,400,717,361","4,376,009,529","6,776,726,890","1,648,646,062","2,727,363,466"
2,202503,2025-05-30 01:36:20,"2,734,805,804","4,510,320,691","7,245,126,495","1,775,352,571","2,734,968,120"
3,202504,2025-05-30 01:36:20,-0,"4,458,117,515","4,458,117,515","1,713,487,323","2,744,630,192"
4,202505,2025-05-30 01:36:20,0,"4,028,516,493","4,028,516,493","1,607,250,163","2,421,266,330"

#### Revenue Geo (P)
    B0R000100GEO	Total Revenue (Geo)
    DB0R000100GEO	Total Revenue (Geo) : DTAC
    TB0R000100GEO	Total Revenue (Geo) : TRUE
    
    B0R000101GEO	Mobile Revenue (Geo)
    DB0R000101GEO	Mobile Revenue (Geo) : DTAC
    TB0R000101GEO	Mobile Revenue (Geo) : TMH

In [14]:
''' B0R000100GEO : Total Revenue (Geo) '''

v_metric_list = [
    'B0R000100GEO' #Total Revenue (Geo)
    , 'DB1R000100' #Prepaid Revenue : DTAC
    , 'TB1R000100' #Prepaid Revenue : TMH
    , 'DB2R010100' #Postpaid Revenue B2C : DTAC
    , 'TB2R010100' #Postpaid Revenue B2C : TMH
    , 'TB3R000100' #TOL Revenue
    , 'TB4R000100' #TVS Revenue
    ]
# v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

total_rev_geo_df = monthly_df[['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P']].copy()
total_rev_geo_df = total_rev_geo_df.loc[total_rev_geo_df['METRIC_CD'].isin(v_metric_list)]
# total_rev_geo_df = total_rev_geo_df.loc[total_rev_geo_df['TM_KEY_MTH']==v_tm_key_mth]

total_rev_geo_df['TOTAL'] = np.where(total_rev_geo_df['METRIC_CD']=='B0R000100GEO', total_rev_geo_df['P'], 0)
total_rev_geo_df['PRE_T'] = np.where(total_rev_geo_df['METRIC_CD']=='TB1R000100', total_rev_geo_df['P'], 0)
total_rev_geo_df['PRE_D'] = np.where(total_rev_geo_df['METRIC_CD']=='DB1R000100', total_rev_geo_df['P'], 0)
total_rev_geo_df['POST_B2C_T'] = np.where(total_rev_geo_df['METRIC_CD']=='TB2R010100', total_rev_geo_df['P'], 0)
total_rev_geo_df['POST_B2C_D'] = np.where(total_rev_geo_df['METRIC_CD']=='DB2R010100', total_rev_geo_df['P'], 0)
total_rev_geo_df['TOL'] = np.where(total_rev_geo_df['METRIC_CD']=='TB3R000100', total_rev_geo_df['P'], 0)
total_rev_geo_df['TVS'] = np.where(total_rev_geo_df['METRIC_CD']=='TB4R000100', total_rev_geo_df['P'], 0)
total_rev_geo_df['CHK_SUM'] = np.where(total_rev_geo_df['METRIC_CD'].isin(['TB1R000100','DB1R000100','TB2R010100','DB2R010100','TB3R000100','TB4R000100']), total_rev_geo_df['P'], 0)

total_rev_geo_df = total_rev_geo_df.groupby(['TM_KEY_MTH']).agg({'PPN_TM':'max', 'TOTAL':'sum', 'PRE_T':'sum', 'PRE_D':'sum', 'POST_B2C_T':'sum', 'POST_B2C_D':'sum', 'TOL':'sum', 'TVS':'sum', 'CHK_SUM':'sum'})
total_rev_geo_df['CHK_DIFF'] = total_rev_geo_df['TOTAL'] - total_rev_geo_df['CHK_SUM']
total_rev_geo_df = total_rev_geo_df.fillna(0).sort_values(by=['TM_KEY_MTH']).reset_index()
total_rev_geo_df = total_rev_geo_df[['TM_KEY_MTH', 'PPN_TM', 'CHK_DIFF', 'CHK_SUM', 'TOTAL', 'PRE_T', 'PRE_D', 'POST_B2C_T', 'POST_B2C_D', 'TOL', 'TVS']]

mod_col_list = total_rev_geo_df.iloc[:, 2:].columns.tolist()
for col in mod_col_list:
    total_rev_geo_df[col] = total_rev_geo_df[col].apply(lambda x: format(x, ',.0f'))
total_rev_geo_df

,TM_KEY_MTH,PPN_TM,CHK_DIFF,CHK_SUM,TOTAL,PRE_T,PRE_D,POST_B2C_T,POST_B2C_D,TOL,TVS
0,202501,2025-05-30 01:36:20,0,"12,034,347,430","12,034,347,430","2,440,530,082","1,840,026,982","3,336,770,490","2,531,625,556","1,592,511,720","292,882,600"
1,202502,2025-05-30 01:36:20,0,"11,619,121,062","11,619,121,062","2,211,389,140","1,648,818,151","3,333,288,223","2,527,190,353","1,605,419,142","293,016,052"
2,202503,2025-05-30 01:36:20,0,"11,995,980,677","11,995,980,677","2,459,164,272","1,775,434,050","3,319,489,222","2,532,397,179","1,612,256,745","297,239,208"
3,202504,2025-05-30 01:36:20,0,"11,891,585,207","11,891,585,207","2,359,595,474","1,713,499,280","3,371,023,854","2,530,919,910","1,612,742,089","303,804,601"
4,202505,2025-05-30 01:36:20,0,"10,639,735,074","10,639,735,074","2,184,927,734","1,607,255,999","3,002,739,824","2,229,835,682","1,437,177,870","177,797,966"

In [15]:
''' TB0R000100GEO : Total Revenue (Geo) : TRUE '''

v_metric_list = [
    'TB0R000100GEO' #Total Revenue (Geo) : TRUE
    , 'TB1R000100' #Prepaid Revenue : TMH
    , 'TB2R010100' #Postpaid Revenue B2C : TMH
    , 'TB3R000100' #TOL Revenue
    , 'TB4R000100' #TVS Revenue
    ]
# v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

total_rev_geo_true_df = monthly_df[['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P']].copy()
total_rev_geo_true_df = total_rev_geo_true_df.loc[total_rev_geo_true_df['METRIC_CD'].isin(v_metric_list)]
# total_rev_geo_true_df = total_rev_geo_true_df.loc[total_rev_geo_true_df['TM_KEY_MTH']==v_tm_key_mth]

total_rev_geo_true_df['TOTAL_T'] = np.where(total_rev_geo_true_df['METRIC_CD']=='TB0R000100GEO', total_rev_geo_true_df['P'], 0)
total_rev_geo_true_df['PRE_T'] = np.where(total_rev_geo_true_df['METRIC_CD']=='TB1R000100', total_rev_geo_true_df['P'], 0)
total_rev_geo_true_df['POST_B2C_T'] = np.where(total_rev_geo_true_df['METRIC_CD']=='TB2R010100', total_rev_geo_true_df['P'], 0)
total_rev_geo_true_df['TOL'] = np.where(total_rev_geo_true_df['METRIC_CD']=='TB3R000100', total_rev_geo_true_df['P'], 0)
total_rev_geo_true_df['TVS'] = np.where(total_rev_geo_true_df['METRIC_CD']=='TB4R000100', total_rev_geo_true_df['P'], 0)
total_rev_geo_true_df['CHK_SUM'] = np.where(total_rev_geo_true_df['METRIC_CD'].isin(['TB1R000100','TB2R010100','TB3R000100','TB4R000100']), total_rev_geo_true_df['P'], 0)

total_rev_geo_true_df = total_rev_geo_true_df.groupby(['TM_KEY_MTH']).agg({'PPN_TM':'max', 'TOTAL_T':'sum', 'PRE_T':'sum', 'POST_B2C_T':'sum', 'TOL':'sum', 'TVS':'sum', 'CHK_SUM':'sum'})
total_rev_geo_true_df['CHK_DIFF'] = total_rev_geo_true_df['TOTAL_T'] - total_rev_geo_true_df['CHK_SUM']
total_rev_geo_true_df = total_rev_geo_true_df.fillna(0).sort_values(by=['TM_KEY_MTH']).reset_index()
total_rev_geo_true_df = total_rev_geo_true_df[['TM_KEY_MTH', 'PPN_TM', 'CHK_DIFF', 'CHK_SUM', 'TOTAL_T', 'PRE_T', 'POST_B2C_T', 'TOL', 'TVS']]

mod_col_list = total_rev_geo_true_df.iloc[:, 2:].columns.tolist()
for col in mod_col_list:
    total_rev_geo_true_df[col] = total_rev_geo_true_df[col].apply(lambda x: format(x, ',.0f'))
total_rev_geo_true_df

,TM_KEY_MTH,PPN_TM,CHK_DIFF,CHK_SUM,TOTAL_T,PRE_T,POST_B2C_T,TOL,TVS
0,202501,2025-05-30 01:36:20,0,"7,662,694,892","7,662,694,892","2,440,530,082","3,336,770,490","1,592,511,720","292,882,600"
1,202502,2025-05-30 01:36:20,0,"7,443,112,557","7,443,112,557","2,211,389,140","3,333,288,223","1,605,419,142","293,016,052"
2,202503,2025-05-30 01:36:20,0,"7,688,149,447","7,688,149,447","2,459,164,272","3,319,489,222","1,612,256,745","297,239,208"
3,202504,2025-05-30 01:36:20,0,"7,647,166,017","7,647,166,017","2,359,595,474","3,371,023,854","1,612,742,089","303,804,601"
4,202505,2025-05-30 01:36:20,0,"6,802,643,393","6,802,643,393","2,184,927,734","3,002,739,824","1,437,177,870","177,797,966"

In [16]:
''' DB0R000100GEO : Total Revenue (Geo) : DTAC '''

v_metric_list = [
    'DB0R000100GEO' #Total Revenue (Geo) : DTAC
    , 'DB1R000100' #Prepaid Revenue : DTAC
    , 'DB2R010100' #Postpaid Revenue B2C : DTAC
    ]
# v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

total_rev_geo_dtac_df = monthly_df[['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P']].copy()
total_rev_geo_dtac_df = total_rev_geo_dtac_df.loc[total_rev_geo_dtac_df['METRIC_CD'].isin(v_metric_list)]
# total_rev_geo_dtac_df = total_rev_geo_dtac_df.loc[total_rev_geo_dtac_df['TM_KEY_MTH']==v_tm_key_mth]

total_rev_geo_dtac_df['TOTAL_D'] = np.where(total_rev_geo_dtac_df['METRIC_CD']=='DB0R000100GEO', total_rev_geo_dtac_df['P'], 0)
total_rev_geo_dtac_df['PRE_D'] = np.where(total_rev_geo_dtac_df['METRIC_CD']=='DB1R000100', total_rev_geo_dtac_df['P'], 0)
total_rev_geo_dtac_df['POST_B2C_D'] = np.where(total_rev_geo_dtac_df['METRIC_CD']=='DB2R010100', total_rev_geo_dtac_df['P'], 0)
total_rev_geo_dtac_df['CHK_SUM'] = np.where(total_rev_geo_dtac_df['METRIC_CD'].isin(['DB1R000100','DB2R010100']), total_rev_geo_dtac_df['P'], 0)

total_rev_geo_dtac_df = total_rev_geo_dtac_df.groupby(['TM_KEY_MTH']).agg({'PPN_TM':'max', 'TOTAL_D':'sum', 'PRE_D':'sum', 'POST_B2C_D':'sum', 'CHK_SUM':'sum'})
total_rev_geo_dtac_df['CHK_DIFF'] = total_rev_geo_dtac_df['TOTAL_D'] - total_rev_geo_dtac_df['CHK_SUM']
total_rev_geo_dtac_df = total_rev_geo_dtac_df.fillna(0).sort_values(by=['TM_KEY_MTH']).reset_index()
total_rev_geo_dtac_df = total_rev_geo_dtac_df[['TM_KEY_MTH', 'PPN_TM', 'CHK_DIFF', 'CHK_SUM', 'TOTAL_D', 'PRE_D', 'POST_B2C_D']]

mod_col_list = total_rev_geo_dtac_df.iloc[:, 2:].columns.tolist()
for col in mod_col_list:
    total_rev_geo_dtac_df[col] = total_rev_geo_dtac_df[col].apply(lambda x: format(x, ',.0f'))
total_rev_geo_dtac_df

,TM_KEY_MTH,PPN_TM,CHK_DIFF,CHK_SUM,TOTAL_D,PRE_D,POST_B2C_D
0,202501,2025-05-30 01:36:20,0,"4,371,652,537","4,371,652,537","1,840,026,982","2,531,625,556"
1,202502,2025-05-30 01:36:20,0,"4,176,008,505","4,176,008,505","1,648,818,151","2,527,190,353"
2,202503,2025-05-30 01:36:20,0,"4,307,831,229","4,307,831,229","1,775,434,050","2,532,397,179"
3,202504,2025-05-30 01:36:20,0,"4,244,419,190","4,244,419,190","1,713,499,280","2,530,919,910"
4,202505,2025-05-30 01:36:20,0,"3,837,091,681","3,837,091,681","1,607,255,999","2,229,835,682"

In [17]:
''' B0R000101GEO : Mobile Revenue (Geo) '''

v_metric_list = [
    'B0R000101GEO' #Mobile Revenue (Geo)
    , 'DB1R000100' #Prepaid Revenue : DTAC
    , 'TB1R000100' #Prepaid Revenue : TMH
    , 'DB2R010100' #Postpaid Revenue B2C : DTAC
    , 'TB2R010100' #Postpaid Revenue B2C : TMH
    ]
# v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

mobile_rev_geo_df = monthly_df[['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P']].copy()
mobile_rev_geo_df = mobile_rev_geo_df.loc[mobile_rev_geo_df['METRIC_CD'].isin(v_metric_list)]
# mobile_rev_geo_df = mobile_rev_geo_df.loc[mobile_rev_geo_df['TM_KEY_MTH']==v_tm_key_mth]

mobile_rev_geo_df['MOBILE'] = np.where(mobile_rev_geo_df['METRIC_CD']=='B0R000101GEO', mobile_rev_geo_df['P'], 0)
mobile_rev_geo_df['PRE_T'] = np.where(mobile_rev_geo_df['METRIC_CD']=='TB1R000100', mobile_rev_geo_df['P'], 0)
mobile_rev_geo_df['PRE_D'] = np.where(mobile_rev_geo_df['METRIC_CD']=='DB1R000100', mobile_rev_geo_df['P'], 0)
mobile_rev_geo_df['POST_B2C_T'] = np.where(mobile_rev_geo_df['METRIC_CD']=='TB2R010100', mobile_rev_geo_df['P'], 0)
mobile_rev_geo_df['POST_B2C_D'] = np.where(mobile_rev_geo_df['METRIC_CD']=='DB2R010100', mobile_rev_geo_df['P'], 0)
mobile_rev_geo_df['CHK_SUM'] = np.where(mobile_rev_geo_df['METRIC_CD'].isin(['TB1R000100','DB1R000100','TB2R010100','DB2R010100']), mobile_rev_geo_df['P'], 0)

mobile_rev_geo_df = mobile_rev_geo_df.groupby(['TM_KEY_MTH']).agg({'PPN_TM':'max', 'MOBILE':'sum', 'PRE_T':'sum', 'PRE_D':'sum', 'POST_B2C_T':'sum', 'POST_B2C_D':'sum', 'CHK_SUM':'sum'})
mobile_rev_geo_df['CHK_DIFF'] = mobile_rev_geo_df['MOBILE'] - mobile_rev_geo_df['CHK_SUM']
mobile_rev_geo_df = mobile_rev_geo_df.fillna(0).sort_values(by=['TM_KEY_MTH']).reset_index()
mobile_rev_geo_df = mobile_rev_geo_df[['TM_KEY_MTH', 'PPN_TM', 'CHK_DIFF', 'CHK_SUM', 'MOBILE', 'PRE_T', 'PRE_D', 'POST_B2C_T', 'POST_B2C_D']]

mod_col_list = mobile_rev_geo_df.iloc[:, 2:].columns.tolist()
for col in mod_col_list:
    mobile_rev_geo_df[col] = mobile_rev_geo_df[col].apply(lambda x: format(x, ',.0f'))
mobile_rev_geo_df

,TM_KEY_MTH,PPN_TM,CHK_DIFF,CHK_SUM,MOBILE,PRE_T,PRE_D,POST_B2C_T,POST_B2C_D
0,202501,2025-05-30 01:36:20,0,"10,148,953,110","10,148,953,110","2,440,530,082","1,840,026,982","3,336,770,490","2,531,625,556"
1,202502,2025-05-30 01:36:20,0,"9,720,685,868","9,720,685,868","2,211,389,140","1,648,818,151","3,333,288,223","2,527,190,353"
2,202503,2025-05-30 01:36:20,0,"10,086,484,724","10,086,484,724","2,459,164,272","1,775,434,050","3,319,489,222","2,532,397,179"
3,202504,2025-05-30 01:36:20,0,"9,975,038,517","9,975,038,517","2,359,595,474","1,713,499,280","3,371,023,854","2,530,919,910"
4,202505,2025-05-30 01:36:20,0,"9,024,759,239","9,024,759,239","2,184,927,734","1,607,255,999","3,002,739,824","2,229,835,682"

In [18]:
''' TB0R000101GEO : Mobile Revenue (Geo) : TMH '''

v_metric_list = [
    'TB0R000101GEO' #Mobile Revenue (Geo) : TMH
    , 'TB1R000100' #Prepaid Revenue : TMH
    , 'TB2R010100' #Postpaid Revenue B2C : TMH
    ]
# v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

mobile_rev_geo_tmh_df = monthly_df[['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P']].copy()
mobile_rev_geo_tmh_df = mobile_rev_geo_tmh_df.loc[mobile_rev_geo_tmh_df['METRIC_CD'].isin(v_metric_list)]
# mobile_rev_geo_tmh_df = mobile_rev_geo_tmh_df.loc[mobile_rev_geo_tmh_df['TM_KEY_MTH']==v_tm_key_mth]

mobile_rev_geo_tmh_df['MOBILE_T'] = np.where(mobile_rev_geo_tmh_df['METRIC_CD']=='TB0R000101GEO', mobile_rev_geo_tmh_df['P'], 0)
mobile_rev_geo_tmh_df['PRE_T'] = np.where(mobile_rev_geo_tmh_df['METRIC_CD']=='TB1R000100', mobile_rev_geo_tmh_df['P'], 0)
mobile_rev_geo_tmh_df['POST_B2C_T'] = np.where(mobile_rev_geo_tmh_df['METRIC_CD']=='TB2R010100', mobile_rev_geo_tmh_df['P'], 0)
mobile_rev_geo_tmh_df['CHK_SUM'] = np.where(mobile_rev_geo_tmh_df['METRIC_CD'].isin(['TB1R000100','TB2R010100']), mobile_rev_geo_tmh_df['P'], 0)

mobile_rev_geo_tmh_df = mobile_rev_geo_tmh_df.groupby(['TM_KEY_MTH']).agg({'PPN_TM':'max', 'MOBILE_T':'sum', 'PRE_T':'sum', 'POST_B2C_T':'sum', 'CHK_SUM':'sum'})
mobile_rev_geo_tmh_df['CHK_DIFF'] = mobile_rev_geo_tmh_df['MOBILE_T'] - mobile_rev_geo_tmh_df['CHK_SUM']
mobile_rev_geo_tmh_df = mobile_rev_geo_tmh_df.fillna(0).sort_values(by=['TM_KEY_MTH']).reset_index()
mobile_rev_geo_tmh_df = mobile_rev_geo_tmh_df[['TM_KEY_MTH', 'PPN_TM', 'CHK_DIFF', 'CHK_SUM', 'MOBILE_T', 'PRE_T', 'POST_B2C_T']]

mod_col_list = mobile_rev_geo_tmh_df.iloc[:, 2:].columns.tolist()
for col in mod_col_list:
    mobile_rev_geo_tmh_df[col] = mobile_rev_geo_tmh_df[col].apply(lambda x: format(x, ',.0f'))
mobile_rev_geo_tmh_df

,TM_KEY_MTH,PPN_TM,CHK_DIFF,CHK_SUM,MOBILE_T,PRE_T,POST_B2C_T
0,202501,2025-05-30 01:36:20,0,"5,777,300,573","5,777,300,573","2,440,530,082","3,336,770,490"
1,202502,2025-05-30 01:36:20,0,"5,544,677,363","5,544,677,363","2,211,389,140","3,333,288,223"
2,202503,2025-05-30 01:36:20,0,"5,778,653,494","5,778,653,494","2,459,164,272","3,319,489,222"
3,202504,2025-05-30 01:36:20,0,"5,730,619,327","5,730,619,327","2,359,595,474","3,371,023,854"
4,202505,2025-05-30 01:36:20,0,"5,187,667,558","5,187,667,558","2,184,927,734","3,002,739,824"

In [19]:
''' DB0R000101GEO : Mobile Revenue (Geo) : DTAC '''

v_metric_list = [
    'DB0R000101GEO' #Mobile Revenue (Geo) : DTAC
    , 'DB1R000100' #Prepaid Revenue : DTAC
    , 'DB2R010100' #Postpaid Revenue B2C : DTAC
    ]
# v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

mobile_rev_geo_dtac_df = monthly_df[['TM_KEY_MTH', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 'PPN_TM', 'P']].copy()
mobile_rev_geo_dtac_df = mobile_rev_geo_dtac_df.loc[mobile_rev_geo_dtac_df['METRIC_CD'].isin(v_metric_list)]
# mobile_rev_geo_dtac_df = mobile_rev_geo_dtac_df.loc[mobile_rev_geo_dtac_df['TM_KEY_MTH']==v_tm_key_mth]

mobile_rev_geo_dtac_df['MOBILE_D'] = np.where(mobile_rev_geo_dtac_df['METRIC_CD']=='DB0R000101GEO', mobile_rev_geo_dtac_df['P'], 0)
mobile_rev_geo_dtac_df['PRE_D'] = np.where(mobile_rev_geo_dtac_df['METRIC_CD']=='DB1R000100', mobile_rev_geo_dtac_df['P'], 0)
mobile_rev_geo_dtac_df['POST_B2C_D'] = np.where(mobile_rev_geo_dtac_df['METRIC_CD']=='DB2R010100', mobile_rev_geo_dtac_df['P'], 0)
mobile_rev_geo_dtac_df['CHK_SUM'] = np.where(mobile_rev_geo_dtac_df['METRIC_CD'].isin(['DB1R000100','DB2R010100']), mobile_rev_geo_dtac_df['P'], 0)

mobile_rev_geo_dtac_df = mobile_rev_geo_dtac_df.groupby(['TM_KEY_MTH']).agg({'PPN_TM':'max', 'MOBILE_D':'sum', 'PRE_D':'sum', 'POST_B2C_D':'sum', 'CHK_SUM':'sum'})
mobile_rev_geo_dtac_df['CHK_DIFF'] = mobile_rev_geo_dtac_df['MOBILE_D'] - mobile_rev_geo_dtac_df['CHK_SUM']
mobile_rev_geo_dtac_df = mobile_rev_geo_dtac_df.fillna(0).sort_values(by=['TM_KEY_MTH']).reset_index()
mobile_rev_geo_dtac_df = mobile_rev_geo_dtac_df[['TM_KEY_MTH', 'PPN_TM', 'CHK_DIFF', 'CHK_SUM', 'MOBILE_D', 'PRE_D', 'POST_B2C_D']]

mod_col_list = mobile_rev_geo_dtac_df.iloc[:, 2:].columns.tolist()
for col in mod_col_list:
    mobile_rev_geo_dtac_df[col] = mobile_rev_geo_dtac_df[col].apply(lambda x: format(x, ',.0f'))
mobile_rev_geo_dtac_df

,TM_KEY_MTH,PPN_TM,CHK_DIFF,CHK_SUM,MOBILE_D,PRE_D,POST_B2C_D
0,202501,2025-05-30 01:36:20,0,"4,371,652,537","4,371,652,537","1,840,026,982","2,531,625,556"
1,202502,2025-05-30 01:36:20,0,"4,176,008,505","4,176,008,505","1,648,818,151","2,527,190,353"
2,202503,2025-05-30 01:36:20,0,"4,307,831,229","4,307,831,229","1,775,434,050","2,532,397,179"
3,202504,2025-05-30 01:36:20,0,"4,244,419,190","4,244,419,190","1,713,499,280","2,530,919,910"
4,202505,2025-05-30 01:36:20,0,"3,837,091,681","3,837,091,681","1,607,255,999","2,229,835,682"

### Revenue by Products

#### All Service

In [20]:
''' All Service '''

v_product_grp = 'All Services'
v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

all_service_df = monthly_df_display.copy()
all_service_df = all_service_df.loc[all_service_df['PRODUCT_GRP']==v_product_grp]
all_service_df = all_service_df.loc[all_service_df['TM_KEY_MTH']==v_tm_key_mth]
all_service_df = all_service_df.reset_index(drop=True)
all_service_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,C,P,G,H,HH,DIFF (C-P)
0,202505,All Services,B0R000100,Total Revenue,2025-05-29 23:54:18,"11,168,468,778","11,141,939,416",0,0,0,"26,529,362"
1,202505,All Services,B0R000100GEO,Total Revenue (Geo),2025-05-30 01:36:20,0,"10,639,735,074","10,458,213,742","10,457,984,341","10,216,538,082","-10,639,735,074"
2,202505,All Services,DB0R000100,Total Revenue : DTAC,2025-05-29 23:54:18,"4,028,516,493","4,028,522,329",0,0,0,"-5,836"
3,202505,All Services,DB0R000100GEO,Total Revenue (Geo) : DTAC,2025-05-30 01:36:20,0,"3,837,091,681","3,837,090,130","3,837,004,558","3,693,565,442","-3,837,091,681"
4,202505,All Services,TB0R000100,Total Revenue : TRUE,2025-05-29 23:54:18,"7,139,952,285","7,113,417,087",0,0,0,"26,535,198"
5,202505,All Services,TB0R000100GEO,Total Revenue (Geo) : TRUE,2025-05-30 01:36:20,0,"6,802,643,393","6,621,123,612","6,620,979,783","6,522,972,641","-6,802,643,393"

#### Mobile

In [21]:
''' Mobile '''

v_product_grp = 'Mobile'
v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

mobile_df = monthly_df_display.copy()
mobile_df = mobile_df.loc[mobile_df['PRODUCT_GRP']==v_product_grp]
mobile_df = mobile_df.loc[mobile_df['TM_KEY_MTH']==v_tm_key_mth]
mobile_df = mobile_df.reset_index(drop=True)
mobile_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,C,P,G,H,HH,DIFF (C-P)
0,202505,Mobile,B0R000101,Mobile Revenue,2025-05-29 23:54:18,"9,540,131,126","9,526,963,581",0,0,0,"13,167,546"
1,202505,Mobile,B0R000101GEO,Mobile Revenue (Geo),2025-05-30 01:36:20,0,"9,024,759,239","8,843,237,907","8,842,625,445","8,603,958,270","-9,024,759,239"
2,202505,Mobile,DB0R000101,Mobile Revenue : DTAC,2025-05-29 23:54:18,"4,028,516,493","4,028,522,329",0,0,0,"-5,836"
3,202505,Mobile,DB0R000101GEO,Mobile Revenue (Geo) : DTAC,2025-05-30 01:36:20,0,"3,837,091,681","3,837,090,130","3,837,004,558","3,693,565,442","-3,837,091,681"
4,202505,Mobile,TB0R000101,Mobile Revenue : TMH,2025-05-29 23:54:18,"5,511,614,633","5,498,441,251",0,0,0,"13,173,382"
5,202505,Mobile,TB0R000101GEO,Mobile Revenue (Geo) : TMH,2025-05-30 01:36:20,0,"5,187,667,558","5,006,147,776","5,005,620,887","4,910,392,829","-5,187,667,558"

#### Prepaid

In [22]:
''' Prepaid '''

v_product_grp = 'Prepaid'
v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

prepaid_df = monthly_df_display.copy()
prepaid_df = prepaid_df.loc[prepaid_df['PRODUCT_GRP']==v_product_grp]
prepaid_df = prepaid_df.loc[prepaid_df['TM_KEY_MTH']==v_tm_key_mth]
prepaid_df = prepaid_df.reset_index(drop=True)
prepaid_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,C,P,G,H,HH,DIFF (C-P)
0,202505,Prepaid,B1R000100,Prepaid Revenue,2025-05-30 01:36:20,"3,805,351,278","3,792,183,733","3,610,672,828","3,610,071,360","3,473,679,418","13,167,546"
1,202505,Prepaid,DB1R000100,Prepaid Revenue : DTAC,2025-05-30 01:36:20,"1,607,250,163","1,607,255,999","1,607,255,999","1,607,178,948","1,550,988,015","-5,836"
2,202505,Prepaid,TB1R000100,Prepaid Revenue : TMH,2025-05-30 01:36:20,"2,198,101,115","2,184,927,734","2,003,416,829","2,002,892,413","1,922,691,403","13,173,382"

#### Postpaid

In [23]:
''' Postpaid '''

v_product_grp = 'Postpaid'
v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

postpaid_df = monthly_df_display.copy()
postpaid_df = postpaid_df.loc[postpaid_df['PRODUCT_GRP']==v_product_grp]
postpaid_df = postpaid_df.loc[postpaid_df['TM_KEY_MTH']==v_tm_key_mth]
postpaid_df = postpaid_df.reset_index(drop=True)
postpaid_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,C,P,G,H,HH,DIFF (C-P)
0,202505,Postpaid,B2R000100,Postpaid Revenue,2025-05-29 23:54:18,"5,734,779,848","5,734,779,848",0,0,0,0
1,202505,Postpaid,B2R010100,Postpaid Revenue B2C,2025-05-30 01:36:20,"5,232,575,506","5,232,575,506","5,232,565,079","5,232,554,085","4,955,185,469",0
2,202505,Postpaid,B2R020100,Postpaid Revenue B2B,2025-05-29 23:54:18,"502,203,996","502,203,996",0,0,0,0
3,202505,Postpaid,DB2R000100,Postpaid Revenue : DTAC,2025-05-30 01:36:20,"2,421,266,330","2,421,266,330","2,421,264,780","2,420,201,787","2,330,661,634",0
4,202505,Postpaid,DB2R010100,Postpaid Revenue B2C : DTAC,2025-05-30 01:36:20,"2,229,835,682","2,229,835,682","2,229,834,131","2,229,825,610","2,142,577,427",0
5,202505,Postpaid,DB2R020100,Postpaid Revenue B2B : DTAC,2025-05-30 01:36:20,"191,430,648","191,430,648","191,430,648","190,376,177","188,084,207",0
6,202505,Postpaid,TB2R000100,Postpaid Revenue : TMH,2025-05-29 23:54:18,"3,313,513,518","3,313,513,518",0,0,0,0
7,202505,Postpaid,TB2R010100,Postpaid Revenue B2C : TMH,2025-05-30 01:36:20,"3,002,739,824","3,002,739,824","3,002,730,947","3,002,728,475","2,987,701,426",0
8,202505,Postpaid,TB2R020100,Postpaid Revenue B2B : TMH,2025-05-29 23:54:18,"310,773,347","310,773,347",0,0,0,0

#### TOL

In [24]:
''' TOL '''

v_product_grp = 'TOL'
v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

tol_df = monthly_df_display.copy()
tol_df = tol_df.loc[tol_df['PRODUCT_GRP']==v_product_grp]
tol_df = tol_df.loc[tol_df['TM_KEY_MTH']==v_tm_key_mth]
tol_df = tol_df.reset_index(drop=True)
tol_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,C,P,G,H,HH,DIFF (C-P)
0,202505,TOL,TB3R000100,TOL Revenue,2025-05-30 01:36:20,"1,440,858,452","1,437,177,870","1,437,177,870","1,437,177,870","1,435,175,670","3,680,583"

#### TVS

In [25]:
''' TVS '''

v_product_grp = 'TVS'
v_tm_key_mth = curr_mth
# v_tm_key_mth = 202501

tvs_df = monthly_df_display.copy()
tvs_df = tvs_df.loc[tvs_df['PRODUCT_GRP']==v_product_grp]
tvs_df = tvs_df.loc[tvs_df['TM_KEY_MTH']==v_tm_key_mth]
tvs_df = tvs_df.reset_index(drop=True)
tvs_df

,TM_KEY_MTH,PRODUCT_GRP,METRIC_CD,METRIC_NAME,PPN_TM,C,P,G,H,HH,DIFF (C-P)
0,202505,TVS,TB4R000100,TVS Revenue,2025-05-30 01:36:20,"187,479,200","177,797,966","177,797,966","178,181,026","177,404,142","9,681,234"

## Revenue (Subs)