## Reconcile

In [7]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import configparser
from matplotlib import pyplot as plt
from matplotlib.gridspec import GridSpec
from functools import reduce
import datetime as dt

mpl.rcParams['axes.spines.top'] = False
mpl.rcParams['axes.spines.right'] = False

In [5]:
''' Config '''

config = configparser.ConfigParser()
config.read('../my_config.ini')
config.sections()

['TDMDBPR', 'AKPIPRD', 'TDADEVBAE', 'PARAM']

In [8]:
curr_dt = dt.datetime.now().date()
str_curr_dt = curr_dt.strftime('%Y%m%d')
op_file_name = f'Agg_Perf_Nationwide-{str_curr_dt}'

op_file_name

'Agg_Perf_Nationwide-20240605'

In [9]:
data_src = f"../data/raw/{op_file_name}.csv"

data_src

'../data/raw/Agg_Perf_Nationwide-20240605.csv'

In [11]:
data_src = f"../data/raw/{op_file_name}.csv"
df = pd.read_csv(data_src, low_memory=False)

cols = ['TM_KEY_DAY', 'TM_KEY_WK', 'TM_KEY_MTH', 'TM_KEY_QTR', 'TM_KEY_YR', 'CENTER', 'METRIC_GRP', 'COMP_CD', 'PRODUCT_GRP', 'METRIC_CD', 'METRIC_NAME', 
        'ACTUAL_AS_OF', 'AGG_TYPE', 'RR_IND', 'GRY_IND', 'UOM', 'PERIOD', 'ACTUAL_SNAP', 'ACTUAL_AGG', 'TARGET_SNAP', 'TARGET_AGG', 'BASELINE_SNAP', 'BASELINE_AGG', 'PPN_TM']

df = df[cols]

df

# ''' Fix Metric CD list '''
# prepaid_rev_cd_list = ['B1R000100CORP', 'DB1R000100', 'TB1R000100CORP'] # Prepaid Revenue, Prepaid Revenue : DTAC, Prepaid Revenue : TMH
# postpaid_rev_cd_list = ['B2R000100', 'DB2R000100', 'TB2R000100'] # Postpaid Revenue, Postpaid Revenue : DTAC, Postpaid Revenue : TMH
# tol_tvs_tdg_rev_cd_list = ['TB3R000100CORP', 'TB4R000100CORP'] # TOL Revenue, TVS Revenue

# bg_rev_all_cd_list = prepaid_rev_cd_list + postpaid_rev_cd_list + tol_tvs_tdg_rev_cd_list

# ''' Fix Agg Column Name(Total Revenue) '''
# bg_col_list = ['POST_DTAC', 'POST_TMH', 'PRE_DTAC', 'PRE_TMH', 'TOL', 'TVS']

,TM_KEY_DAY,TM_KEY_WK,TM_KEY_MTH,TM_KEY_QTR,TM_KEY_YR,CENTER,METRIC_GRP,COMP_CD,PRODUCT_GRP,METRIC_CD,...,GRY_IND,UOM,PERIOD,ACTUAL_SNAP,ACTUAL_AGG,TARGET_SNAP,TARGET_AGG,BASELINE_SNAP,BASELINE_AGG,PPN_TM
0,20230301,2023009,202303,20231,2023,Revenue,Revenue,DTAC,Postpaid,DB2R000100,...,GYR,baht,M,1.376380e+07,1.376380e+07,6.416632e+06,6.416632e+06,0.0,0.0,2024-04-23 12:22:16
1,20230301,2023009,202303,20231,2023,Revenue,Sales,TRUE,Prepaid,TB1S000109AC,...,GYR,subs,M,2.579000e+03,2.579000e+03,NaN,NaN,NaN,NaN,2024-04-23 12:22:16
2,20230301,2023009,202303,20231,2023,Revenue,Sales,TRUE,Prepaid,TB2R000600AI,...,GYR,baht,M,NaN,NaN,NaN,NaN,NaN,NaN,2024-04-23 12:22:16
3,20230301,2023009,202303,20231,2023,Revenue,Sales,TRUE,Postpaid,TB2S000100AI,...,GYR,subs,M,NaN,NaN,NaN,NaN,NaN,NaN,2024-04-23 12:22:16
4,20230301,2023009,202303,20231,2023,Revenue,Sales,ALL,Postpaid,B2S010102,...,GYR,subs,M,2.286000e+03,2.286000e+03,NaN,NaN,NaN,NaN,2024-04-23 12:22:16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554120,20240604,2024023,202406,20242,2024,Revenue,Sales,TRUE,TOL,TB3R000601AE,...,GYR,baht,M,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-05 10:18:16
554121,20240604,2024023,202406,20242,2024,Revenue,Sales,ALL,Prepaid,B1R000900AF,...,GYR,baht,M,NaN,3.425359e+04,NaN,NaN,NaN,NaN,2024-06-05 10:18:16
554122,20240604,2024023,202406,20242,2024,Revenue,Sales,TRUE,TOL,TB3R000601AF,...,GYR,baht,M,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-05 10:18:16
554123,20240604,2024023,202406,20242,2024,Revenue,Sales,TRUE,TOL,TB3R000601AG,...,GYR,baht,M,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-05 10:18:16
554124,20240604,2024023,202406,20242,2024,Revenue,Sales,TRUE,TOL,TB3R000601AH,...,GYR,baht,M,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-05 10:18:16